<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div class="">
  <div class="">
    <div class="rowClr-1">
      <div class="row ">
        <div class="col-sm-12">
          <div class="sub-title-container">
            <span class="sub-title-text">Assigned Subscription</span>
          </div>
        </div>
      </div>
      <div class="new-assigned-container">
        <div class="new-sub-container">
          <div class="row">
            <div class="col-sm-12 TxHd-12">
              <span class="header-text-1">User Information</span>
            </div>
          </div>
          <div class="user-data-container">
            <div class="row">
              <div class="col-sm-4">
                <mat-label> Name </mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="Name" [formControl]="userName" class="input-field" />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label> Mobile Number </mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="Mobile Number" [formControl]="mobileNumber"
                    class="input-field" readonly />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label> Email ID </mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="email id" [formControl]="emailAddress" class="input-field"
                    readonly />
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <mat-label> GSTN No </mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="GSTN No" [formControl]="gstNo" class="input-field"
                    (blur)="updateIgstFlag()" />
                </mat-form-field>
              </div>
              <div class="col-sm-4" *ngIf="false">
                <mat-label> Secondary Mobile Number </mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="Secondary Mobile Number" [formControl]="reminderMobileNumber"
                    class="input-field" readonly />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label> Secondary Email </mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="Secondary Email Address" [formControl]="reminderEmail"
                    class="input-field" />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label> Zip Code </mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="Zip Code" [formControl]="zipcode" class="input-field" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <mat-label> PIN No </mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" trim matInput placeholder="Pin Code" class="input-field" [formControl]="pin"
                    (blur)="updateDataByPincode()" style="line-height: 21px" />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label> State </mat-label>
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Select state" [formControl]="state" style="line-height: 21px">
                    <mat-option *ngFor="let state of stateDropdown" [value]="state.stateCode">
                      {{ state.stateName | titlecase }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label> City </mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="City" [formControl]="city" class="input-field" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3">

              <div class="col-sm-4">
                <mat-label> Leader Name </mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="Leader Name" [formControl]="leaderName" class="input-field"
                    readonly />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label> Filer Name </mat-label>
                <mat-form-field appearance="outline" *ngIf="!isOtherServiceType">
                  <input type="text" matInput placeholder="Filer Name" [formControl]="filerName" class="input-field"
                    readonly />
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="isOtherServiceType" >
                  <input type="text" matInput [formControl]="filerName" [matAutocomplete]="auto1"/>
                  <mat-autocomplete  #auto1="matAutocomplete">
                    <mat-option *ngFor="let option1 of filteredFiler | async" [value]="option1.name"
                      (click)="getFilerNameId(option1);">
                      {{ option1.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-icon class="search-icon" matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3" style="float: right;">
              <div style="text-align: center ;">
                <app-custom-button class="save-user-info" [disabled]="loading" [actions]="[updateUserDetails]">
                  Save Information
                </app-custom-button>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-12">
              <div class="TxHd-12">
                <span class="header-text-1">Selected Plan</span>
              </div>
            </div>
          </div>
          <div class="user-data-container">
            <div class="row">
              <div class="col-sm-6">
                <div class="plan-container">
                  <div class="plan-header">User Selected Plan</div>
                  <div class="row">
                    <div class="final-values-container">
                      <div class="col-sm-6">
                        <span class="plan-header">Plan Name:</span>
                      </div>
                      <div class="col-sm-6 plan-values-container">
                        <span class="plan-value ">{{userSubscription?.userSelectedPlan?.name}}</span>
                      </div>
                    </div>
                    <div class="final-values-container mt-1">
                      <div class="col-sm-6">
                        <span class="plan-header">Validation For Days:</span>
                      </div>
                      <div class="col-sm-6 plan-values-container">
                        <span class="plan-value ">{{userSubscription?.userSelectedPlan?.validForDays}}</span>
                      </div>
                    </div>
                    <div class="final-values-container mt-1">
                      <div class="col-sm-6">
                        <span class="plan-header">Base Price:</span>
                      </div>
                      <div class="col-sm-6 plan-values-container">
                        <span class="plan-value">{{userSubscription?.userSelectedPlan?.basePrice | currency :
                          "INR"}}</span>
                      </div>
                    </div>
                    <div class="final-values-container mt-1" *ngIf="!showIgst">
                      <div class="col-sm-6">
                        <span class="plan-header">CGST:</span>
                      </div>
                      <div class="col-sm-6 plan-values-container">
                        <span class="plan-value">{{userSubscription?.userSelectedPlan?.cgst | currency : "INR"}}</span>
                      </div>
                    </div>
                    <div class="final-values-container mt-1" *ngIf="!showIgst">
                      <div class="col-sm-6">
                        <span class="plan-header">SGST:</span>
                      </div>
                      <div class="col-sm-6 plan-values-container">
                        <span class="plan-value">{{userSubscription?.userSelectedPlan?.sgst | currency : "INR"}}</span>
                      </div>
                    </div>
                    <div class="final-values-container mt-1" *ngIf="showIgst">
                      <div class="col-sm-6">
                        <span class="plan-header">IGST:</span>
                      </div>
                      <div class="col-sm-6 plan-values-container">
                        <span class="plan-value">{{userSubscription?.userSelectedPlan?.igst | currency : "INR"}}</span>
                      </div>
                    </div>
                    <hr class="hr-line" />
                    <div class="final-values-container mt-1">
                      <div class="col-sm-6">
                        <span class="plan-header">Total Tax:</span>
                      </div>
                      <div class="col-sm-6 plan-values-container">
                        <span class="plan-value">{{userSubscription?.userSelectedPlan?.totalTax | currency :
                          "INR"}}</span>
                      </div>
                    </div>
                    <div class="final-values-container mt-1">
                      <div class="col-sm-6">
                        <span class="plan-header">Total Amount:</span>
                      </div>
                      <div class="col-sm-6 plan-values-container">
                        <span class="plan-value">{{userSubscription?.userSelectedPlan?.totalAmount | currency :
                          "INR"}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="plan-container">
                  <div class="plan-header">SME Selected Plan</div>
                  <div class="row">
                    <div class="row">
                      <div class="col-sm-8">
                        <span style="font-weight: bold; font-size: small; margin-bottom: 10px;"
                          *ngIf="showMessage">Note:
                          {{showMessage}}</span>
                        <mat-label class="plan-header">Select Plan</mat-label>
                        <mat-form-field appearance="outline" class="select-bg-color">
                          <mat-select matInput placeholder="Select Plan" [(ngModel)]="smeSelectedPlanId"
                            (ngModelChange)="onNgModelChange()" autocomplete="off">
                            <mat-option *ngFor="let plan of allPlans" [value]="plan?.planId" [disabled]="plan.disable">
                              {{ plan.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4" *ngIf="smeSelectedPlanId">
                        <!-- <button class="save-user-info" [disabled]="loading" style="margin-top: 25px;"
                          (click)="applySmeSelectedPlan(smeSelectedPlanId)">
                          Apply
                        </button> -->
                        <app-custom-button *ngIf="smeSelectedPlanId" style="margin-top: 25px;" class="save-user-info" [disabled]="loading"
                          [actions]="[applySmeSelectedPlan]" [actionParams]="[[smeSelectedPlanId]]">
                          Apply
                        </app-custom-button>
                        &nbsp;
                      </div>
                    </div>

                    <div class="final-values-container mt-1">
                      <div class="col-sm-6">
                        <span class="plan-header">Plan Name:</span>
                      </div>
                      <div class="col-sm-6 sme-value">
                        <span class="sme-plan-value">{{ userSubscription?.smeSelectedPlan?.name }}</span>
                      </div>
                    </div>
                    <div class="final-values-container mt-1">
                      <div class="col-sm-6">
                        <span class="plan-header">Validity:</span>
                      </div>
                      <div class="col-sm-6 sme-value">
                        <span class="sme-plan-value">{{userSubscription?.smeSelectedPlan?.validForDays}}</span>
                      </div>
                    </div>
                    <div class="final-values-container mt-1">
                      <div class="col-sm-6">
                        <span class="plan-header">Plan Amount:</span>
                      </div>
                      <div class="col-sm-6 sme-value">
                        <span class="sme-plan-value">{{userSubscription?.smeSelectedPlan?.totalAmount | currency :
                          "INR"}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row  mt-3">
            <div class="col-sm-12 TxHd-12">
              <span class="header-text-1">Price Plan Breakup</span>
            </div>
          </div>
          <div class="user-data-container">
            <div class="row">
              <div class="col-sm-12">
                <div class="breakup-container-2">
                  <table aria-label="Price Plan Breakup">
                    <thead>
                      <tr>
                        <th class="bdrBtm1">Particulars</th>
                        <th class="bdrBtm1">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="spcTd"> {{
                          userSubscription?.smeSelectedPlan === null ||
                          userSubscription?.userSelectedPlan?.planId ===
                          userSubscription?.smeSelectedPlan?.planId
                          ? "Actual Plan Amount"
                          : "Change in Plan"
                          }}</td>
                        <td class="spcTd">{{
                          (userSubscription?.smeSelectedPlan !== null
                          ? userSubscription?.smeSelectedPlan?.totalAmount
                          : userSubscription?.userSelectedPlan?.totalAmount
                          ) | currency : "INR"
                          }}</td>
                      </tr>
                      <tr *ngFor="let item of concessionsApplied">
                        <td class="spcTd">Less: {{ item.title }}</td>
                        <td class="spcTd"><span class="head">{{ item.amount | currency : "INR" }}</span></td>
                      </tr>
                      <tr>
                        <td class="spcTd">Total</td>
                        <td class="spcTd">{{ totalCon | currency : "INR" }}</td>
                      </tr>
                      <tr>
                        <td class="spcTd">Promo Code:</td>
                        <td class="spcTd"><span class="head" *ngIf="
                          this?.userSubscription && this?.userSubscription?.promoCode">
                            <b> {{ getExactPromoDiscount() | currency : "INR" }} </b>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="bdrBtm2">Coupon Code:</td>
                        <td class="bdrBtm2">
                          <span class="head" *ngIf="couponCodeAmount > 0">
                            <b> {{ couponCodeAmount | currency : "INR" }} </b>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-sm-12">
                    <div style="font-weight: bold; font-size: small; margin-bottom: 10px;">
                      <span>Note:
                        &bull; Apply the SME selected plan then only Promo code apply/remove will be enabled</span>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="promoCodeInput">Search & Select Promo Code</label>
                      </div>
                      <div class="col-sm-5">
                        <mat-form-field appearance="outline" class="class1 small-inp no-height">
                          <input id="promoCodeInput" type="text" placeholder="Start typing..." matInput
                            [disabled]="!smeSelectedPlanId" [formControl]="searchedPromoCode" [matAutocomplete]="auto"
                            (blur)="getCodeFromLabelOnBlur()" required />
                          <mat-error *ngIf="searchedPromoCode.invalid">
                            Please select value from dropdown only.
                          </mat-error>
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.title">
                              {{ option.title }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-3">
                        <button class="save-all" [disabled]="searchedPromoCode.invalid" (click)="applyPromo(smeSelectedPlanId); onNgModelChange()">
                          Apply Code
                        </button>
                        <!-- <app-custom-button class="save-all" [disabled]="!smeSelectedPlanId"
                          [actions]="[applyPromo,onNgModelChange]" [actionParams]="[[smeSelectedPlanId]]">
                          Apply Code
                        </app-custom-button> -->
                      </div>
                      <div class="col-sm-1">
                        <button [disabled]="!selectedPromoCode" class="delete-icon-btn"
                          (click)="removePromoCode(smeSelectedPlanId); onNgModelChange()" type="reset">
                          <i class="fa fa-trash fa-xs" aria-hidden="true" data-action-type="remove"></i>
                        </button>
                        <!-- <app-custom-button type="reset" class="delete-icon-btn" [disabled]="!selectedPromoCode"
                          [actions]="[removePromoCode,onNgModelChange]" [actionParams]="[[smeSelectedPlanId]]">
                          <i class="fa fa-trash fa-xs" aria-hidden="true" data-action-type="remove"></i>
                        </app-custom-button> -->
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12"
                    *ngIf="this.roles.includes('ROLE_ADMIN') || this.roles.includes('ROLE_LEADER')">
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="promoCodeInput">Select Coupon Code</label>
                      </div>
                      <div class="col-sm-5">
                        <mat-form-field appearance="outline" class="select-bg-color">
                          <mat-select multiple (selectionChange)="printValue()" matInput
                            placeholder="Select Coupon Code" [(ngModel)]="selectedCouponCodeSubscriptionIds"
                            (ngModelChange)="onNgModelChange()">
                            <mat-option *ngFor="let couponCode of availableCouponCodes"
                              [value]="couponCode.couponCodeSubscriptionId" [disabled]="!availableCouponCodes">
                              {{ couponCode?.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-3">
                        <button class="save-user-info" [disabled]="selectedCouponCodeSubscriptionIds.length === 0" (click)="applyCouponCode(smeSelectedPlanId)">
                          Apply Coupon Code
                        </button>
                        <!-- <app-custom-button class="save-user-info" [actions]="[applyCouponCode]"
                          [actionParams]="[[smeSelectedPlanId]]">
                          Apply Coupon Code
                        </app-custom-button> -->
                      </div>
                      <div class="col-sm-1">
                        <button class="delete-icon-btn"  (click)="removeCouponCode(smeSelectedPlanId)" type="reset">
                          <i class="fa fa-trash fa-xs" aria-hidden="true"></i>
                        </button>
                        <!-- <app-custom-button type="reset" class="delete-icon-btn" [actions]="[removeCouponCode]"
                          [actionParams]="[[smeSelectedPlanId]]">
                          <i class="fa fa-trash fa-xs" aria-hidden="true"></i>
                        </app-custom-button> -->
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="user-data-container">
            <div class="row">
              <div class="col-sm-12">
                <div class="breakup-container-2">

                  <table aria-label="price Details">
                    <thead>
                      <tr>
                        <th class="bdrBtm1">Final Amount To Pay</th>
                        <th class="bdrBtm1"> {{
                          this?.userSubscription?.payableSubscriptionAmount
                          | currency : "INR"
                          }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="spcTd">Base Price</td>
                        <td class="spcTd">{{ this?.userSubscription?.basePrice | currency : "INR" }}</td>
                      </tr>
                      <tr>
                        <td class="spcTd">CGST</td>
                        <td class="spcTd">{{ this?.userSubscription?.cgst | currency : "INR" }}</td>
                      </tr>
                      <tr>
                        <td class="spcTd">SGST</td>
                        <td class="spcTd">{{ this?.userSubscription?.sgst | currency : "INR" }}</td>
                      </tr>
                      <tr>
                        <td class="spcTd">IGST</td>
                        <td class="spcTd">{{ this?.userSubscription?.igst | currency : "INR" }}</td>
                      </tr>
                      <tr>
                        <td class="bdrBtm2">Total Tax</td>
                        <td class="bdrBtm2">{{ this?.userSubscription?.totalTax | currency : "INR" }}</td>
                      </tr>
                      <tr>
                        <td class="spcTd">Total Amount</td>
                        <td class="spcTd"><b>{{
                            this?.userSubscription?.payableSubscriptionAmount
                            | currency : "INR"
                            }}</b></td>
                      </tr>

                    </tbody>
                  </table>
                  <div *ngIf="this.roles.includes('ROLE_ADMIN') || this.roles.includes('ROLE_LEADER')">
                    <div class="mt-1" *ngIf="this?.availableCouponCodes">
                      <div style="font-weight: bold; font-size: small; margin-bottom: 10px;">
                        <span>Note: &bull; Available Coupons :-</span>
                        <ul style="display: inline; padding-left: 10px; margin: 0;">
                          <li *ngFor="let coupon of this?.availableCouponCodes" style="display: inline;">
                            {{ coupon.name }} - {{ coupon.amount | currency : "INR" }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <!-- start refund details -->
                  <table aria-label="Refund Details" class="table pb-table" *ngIf="refundInvoiceDetails && refundInvoiceDetails?.length">
                    <tbody>
                      <tr>
                        <th id="refundDetails">Refund Details</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>Invoice No</td>
                        <td><span class="head"><b>{{ userSubscription?.invoiceDetail[0].invoiceNo }}</b></span></td>
                      </tr>
                      <tr *ngFor="let invoiceDetail of refundInvoiceDetails">
                        <td></td>
                        <td></td>
                        <td>Refund Paid Amount</td>
                        <td><span class="head"><b>{{
                              invoiceDetail.refundPaidAmount | currency : "INR" }}</b></span></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- end refund details -->
                </div>
              </div>
            </div>
          </div>
          <div class="row  mt-3">
            <div class="col-sm-12 TxHd-12">
              <span class="header-text-1">Other Details</span>
            </div>
          </div>
          <div class="user-data-container">
            <div class="row">
              <div class="col-sm-4">
                <mat-label>Select Service</mat-label>
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="service" (ngModelChange)="onNgModelChange()"
                    [ngModelOptions]="{ standalone: true }" matInput placeholder="Select Service" autocomplete="off"
                    (selectionChange)="changeService()" [disabled]="isButtonDisable">
                    <mat-option value="ITR"> ITR Filing </mat-option>
                    <mat-option value="ITRU"> ITR U </mat-option>
                    <mat-option value="GST"> GST
                    </mat-option>
                    <mat-option value="NOTICE"> Notice
                      response </mat-option>
                    <mat-option value="TPA"> TPA
                    </mat-option>
                    <mat-option value="ACADEMY"> Academy
                    </mat-option>
                    <mat-option value="OTHER">
                      Other Services
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label>Service Detail</mat-label>
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="serviceDetail" (ngModelChange)="onNgModelChange()"
                    [ngModelOptions]="{ standalone: true }" (selectionChange)="onUpdateGstNoValidation()"
                    placeholder="Select Service Detail" autocomplete="off" required>
                    <mat-option *ngFor="let details of serviceDetails" [value]="details.details">
                      {{ details.details }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label> Description</mat-label>
                <mat-form-field appearance="outline">
                  <input [formControl]="description" matInput placeholder="Description" autocomplete="off" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <mat-label> SAC Number</mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="SAC Number" [formControl]="sacNumber" class="input-field" />
                </mat-form-field>
              </div>
              <div class="col-sm-6" *ngIf="service !== 'TPA'">
                <mat-label> Financial Year</mat-label>
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="defaultFinancialYear" matInput placeholder="Financial Year"
                    [formControl]="assessmentYear" autocomplete="off">
                    <mat-option *ngFor="let year of filteredFinancialYears" [value]="year.financialYear"
                      [disabled]="isYearDisabled(year.financialYear)">
                      {{ year.financialYear }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4 mt-3" *ngIf="showScheduledFields">
                <mat-label>Select Service Type For Scheduled Call </mat-label>
                <mat-form-field appearance="outline">
                  <mat-select [formControl]="scheduleCallService">
                    <mat-option *ngFor="let service of scheduledCallServiceTypes" [value]="service.value">
                      {{service.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4 mt-3" *ngIf="showScheduledFields && scheduleCallService.value === 'ITR' ">
                <mat-label>Select Particular Schedule Call Type</mat-label>
                <mat-form-field appearance="outline">
                  <mat-select [formControl]="scheduleCallType ">
                    <mat-option *ngFor="let service of scheduleCallTypes" [value]="service.value">
                      {{service.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div style="flex: 1 0 0; text-align: left;">
              <button class="new-cancel-button-1" [disabled]="loading" (click)="cancel()">
                Cancel
              </button>
            </div>
            <div style=" flex: 1 0 0; text-align: right;">
              <app-custom-button *ngIf="userSubscription?.payableSubscriptionAmount >= 0" class="save-all"
                [disabled]="loading" [actions]="[updateSubscription]">
                <i class="fas fa-wallet"></i> {{userSubscription?.payableSubscriptionAmount > 0 ? 'Save & Generate
                Invoice' : 'Save'}}
              </app-custom-button>

              <app-custom-button *ngIf="userSubscription?.payableSubscriptionAmount < 0" class="save-all"
                [disabled]="loading" [actions]="[updateSubscription]">
                <i class="fas fa-wallet"></i> Save & Issue Refund Request
              </app-custom-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
