<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div>
  <div class="align-items-center row">
    <div class="col-sm-10">
      <b style="font-size: 20px">Assigned Subscription </b>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="margin-top: 10px;">
          <div class="card" style="margin-top: 10px;">
            <div class="txHd alTxH">Select at least 1 sources of income:</div>
            <div class="flex items-center justify-between align-center p-[25px] mt-[25px]">
              <div class="sources-back">
                <!-- sources-of-income options  -->
                <mat-chip-list class="sources-chip" multiple (change)="sourcesUpdated($event)">
                  <mat-chip disableRipple *ngFor="let source of sourcesList" (click)="sourcesUpdated(source)"
                    [selected]="source.selected">
                    {{ source.name }}
                    <i class="fa fa-user-circle-o" aria-hidden="true" data-action-type="updateStatus"></i>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" data-action-type="updateStatus"></i>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container" >
      <div class="col-sm-10" style="margin-top: 10px;">
        <b style="font-size: 20px">User Information </b>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-4">
          <mat-label> Name </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Name" [formControl]="userName" class="input-field" />
            <!-- <mat-error
                  *ngIf="name?.hasError('required') ">
                  This field is required</mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Mobile Number </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Mobile Number" [formControl]="mobileNumber" class="input-field" readonly />
            <!-- <mat-error
                  *ngIf="name?.hasError('required') ">
                  This field is required</mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Email ID </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="email id" [formControl]="emailAddress" class="input-field" readonly />
            <!-- <mat-error
                    *ngIf="email?.hasError('required') ">
                    This field is required</mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-label> GSTN No </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="GSTN No" [formControl]="gstNo" class="input-field" />
            <!-- <mat-error
                    *ngIf="email?.hasError('required') ">
                    This field is required</mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Reminder Mobile Number </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Reminder Mobile Number" [formControl]="reminderMobileNumber" class="input-field" />
            <!-- <mat-error
                  *ngIf="name?.hasError('required') ">
                  This field is required</mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Reminder Email </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Reminder Mobile Number" [formControl]="reminderEmail" class="input-field" />
            <!-- <mat-error
                  *ngIf="name?.hasError('required') ">
                  This field is required</mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-label> PIN No </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" trim matInput placeholder="Pin Code" class="input-field" [formControl]="pin"
              (blur)="updateDataByPincode()" style="line-height: 21px" />
            <!-- <input type="text" matInput placeholder="PIN No." [formControl]="pin" class="input-field" /> -->
            <!-- <mat-error
                  *ngIf="name?.hasError('required') ">
                  This field is required</mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> state </mat-label>
          <mat-form-field appearance="outline">
          <mat-select placeholder="Select state"  [formControl]="state" style="line-height: 21px">
            <mat-option *ngFor="let state of stateDropdown" [value]="state.stateCode">
              {{ state.stateName | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="state" [formControl]="state" class="input-field" />
            <mat-error
                  *ngIf="state?.hasError('required') ">
                  This field is required</mat-error>
          </mat-form-field> -->
        </div>
        <div class="col-sm-4">
          <mat-label> city </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="city" [formControl]="city" class="input-field" />
            <!-- <mat-error
                  *ngIf="name?.hasError('required') ">
                  This field is required</mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-label> Zip Code </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Zip Code" [formControl]="zipcode" class="input-field" />
            <!-- <mat-error
                  *ngIf="name?.hasError('required') ">
                  This field is required</mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Owner Name </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Owner Name" [formControl]="ownerName" class="input-field" />
            <!-- <mat-error
                  *ngIf="name?.hasError('required') ">
                  This field is required</mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Filer Name </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Filer Name" [formControl]="filerName" class="input-field" />
            <!-- <mat-error
                  *ngIf="name?.hasError('required') ">
                  This field is required</mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div style="text-align: center;">
          <button class="tbd-btn"  (click)=" updateUserDetails()">Save </button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-5" style="margin-top: 10px;">
        <b style="font-size: 18px">User Selected Plan: </b>
        <div class="card" style="margin-top: 10px;">
          <div class="row" style="margin-top: 10px;">

            <div class="col-sm-6">
              <span class="head">Plan Name:</span><br>
              <!-- <span class="head">Description:</span><br> -->
              <span class="head">Validation For Days:</span><br>
              <span class="head">Base Price:</span><br>
              <span class="head">CGST:</span><br>
              <span class="head">SGST:</span><br>
              <span class="head">IGST:</span><br>
              <span class="head">Total Tax:</span><br>
              <span class="head">Total Amount:</span>
            </div>
            <div class="col-sm-6"
              *ngIf="this.utilsService.isNonEmpty(userSubscription) && this.utilsService.isNonEmpty(userSubscription.userSelectedPlan)">
              <span class="head">{{userSubscription.userSelectedPlan.name}}</span><br>
              <span class="head">{{userSubscription.userSelectedPlan.validForDays}}</span><br>
              <span class="head">{{userSubscription.userSelectedPlan.basePrice | currency:'INR'}}</span><br>
              <span class="head">{{userSubscription.userSelectedPlan.cgst | currency:'INR'}}</span><br>
              <span class="head">{{userSubscription.userSelectedPlan.sgst | currency:'INR'}}</span><br>
              <span class="head">{{userSubscription.userSelectedPlan.igst | currency:'INR'}}</span><br>
              <span class="head">{{userSubscription.userSelectedPlan.totalTax | currency:'INR'}}</span><br>
              <span class="head">{{userSubscription.userSelectedPlan.totalAmount | currency:'INR'}}</span>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-7" style="margin-top: 10px;">
        <b style="font-size: 18px">Sme Selected Plan: </b>
        <div class="card" style="margin-top: 10px;">
          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-8">
              <mat-label>Select Plan</mat-label>
              <mat-form-field appearance="outline">
                <mat-select matInput placeholder="Select Plan" [(ngModel)]="smeSelectedPlanId" autocomplete="off">
                  <mat-option *ngFor="let plan of allPlans" [value]="plan?.planId">
                    {{ plan.name }}
                  </mat-option>
                </mat-select>
                <!-- <mat-error>Select Plan</mat-error> -->
              </mat-form-field>
            </div>
            <div class="col-sm-4" *ngIf="smeSelectedPlanId">
              <button class="btn" style=" background: #00AECA;
              border-radius: 5px;" (click)="applySmeSelectedPlan(smeSelectedPlanId)">Apply</button> &nbsp;
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <span class="head">Plan Name:</span><br>
              <span class="head">Validity:</span><br>
              <span class="head">Plan Amount:</span><br>
            </div>
            <div class="col-sm-6">
              <span class="head"> {{userSubscription?.smeSelectedPlan?.name}}</span><br>
              <span class="head">{{userSubscription?.smeSelectedPlan?.validForDays}}</span><br>
              <span class="head">{{userSubscription?.smeSelectedPlan?.totalAmount | currency:'INR'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-5" style="margin-top: 10px;">
        <b style="font-size: 18px">Plan Price Breakup: </b>
      </div>
    </div>
    <div class="row">
      <table class="table pb-table" >
        <!-- <thead>
          <tr>
            <th>Particulars</th>
            <th></th>
            <th>Amount</th>
          </tr>
        </thead> -->
        <tbody>
          <tr class="first-head">
            <th>Particulars</th>
            <th></th>
            <th>Amount</th>
          </tr>
          <tr>
            <td>change in plan/Actual plan amount</td>
            <td></td>
            <td>{{userSubscription?.smeSelectedPlan?.totalAmount | currency:'INR'}}</td>
          </tr>
          <tr>
            <td>Less Paid for schedule call</td>
            <td></td>
            <td><span *ngIf="this?.userSubscription && this?.userSubscription?.concessionsApplied"  class="head">{{userSubscription?.concessionsApplied[0]?.amount | currency:'INR'}}</span></td>
          </tr>
          <tr>
            <td>Less Paid for TPA</td>
            <td></td>
            <td><span *ngIf="this?.userSubscription && this?.userSubscription?.concessionsApplied" class="head">{{userSubscription?.concessionsApplied[1]?.amount | currency:'INR'}} </span></td>
          </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td>{{totalCon | currency:'INR'}}</td>
          </tr>
          <tr>
            <td>Promo Code :
              <div class="row">
                <div class="col-sm-5">
                  <mat-label>Search & Select Promo Code</mat-label>
                  <mat-form-field  appearance="outline">
                    <input type="text" placeholder="Start typing..." matInput
                      [formControl]="searchedPromoCode" [matAutocomplete]="auto" (blur)="getCodeFromLabelOnBlur()" required>
                    <mat-error *ngIf="searchedPromoCode.invalid">
                      Please select value from dropdown only.
                    </mat-error>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.title">
                        {{option.title}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-sm-5">
                  <button class="btn " style=" background: #00AECA;
                  border-radius: 2px;" (click)="applyPromo(smeSelectedPlanId)">Apply</button> &nbsp;
                  <button class="btn " style=" background: #00AECA;
                  border-radius: 2px;" (click)="removePromoCode()" type="reset">Remove</button>
                </div>
              </div>

            </td>
            <td>

            </td>
            <td><span class="head" *ngIf="this?.userSubscription && this?.userSubscription?.promoCode"><b>
              {{getExactPromoDiscount() |
              currency:'INR'}}
            </b><br></span><br></td>
          </tr>
          <tr>
            <th>Final Amount To Pay  </th>
            <td></td>
            <th>{{this?.userSubscription?.payableSubscriptionAmount |
              currency:'INR'}}</th>
          </tr>
          <tr>
            <td></td>
            <td>base Price</td>
            <td>{{this?.userSubscription?.basePrice| currency:'INR'}}</td>
          </tr>
          <tr>
            <td></td>
            <td>CGST</td>
            <td>{{this?.userSubscription?.cgst | currency:'INR'}}</td>
          </tr>
          <tr>
            <td></td>
            <td>SGST</td>
            <td>{{this?.userSubscription?.sgst | currency:'INR'}}</td>
          </tr>
          <tr>
            <td></td>
            <td>IGST</td>
            <td>{{this?.userSubscription?.igst | currency:'INR'}}</td>
          </tr>
          <tr>
            <td></td>
            <td>Total Tax</td>
            <td>{{this?.userSubscription?.totalTax | currency:'INR'}}</td>
          </tr>
          <tr>
            <td></td>
            <td>Total Amount</td>
            <td><span class="head"><b>{{this?.userSubscription?.payableSubscriptionAmount |
              currency:'INR'}}</b></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-5" style="margin-top: 10px;">
        <b style="font-size: 18px">Other Details: </b>
      </div>
    </div>
    <div class="container" style="margin-top: 10px;">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6">
              <mat-label>Select Service</mat-label>
              <mat-form-field appearance="outline">

                <mat-select [(ngModel)]="service" [ngModelOptions]="{standalone: true}" matInput
                    placeholder="Select Service" autocomplete="off" (selectionChange)="changeService()">
                    <mat-option value="ITR Filing"> ITR Filing </mat-option>
                    <mat-option value="GST Filing"> GST </mat-option>
                    <mat-option value="Notice response"> Notice response </mat-option>
                    <mat-option value="TDS filing"> TDS filing </mat-option>
                    <mat-option value="TPA"> TPA </mat-option>
                    <mat-option value="Other Services"> Other Services </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-label>Service Detail</mat-label>
              <mat-form-field appearance="outline">

                <mat-select [(ngModel)]="serviceDetail" [ngModelOptions]="{standalone: true}"
                    (selectionChange)="onUpdateGstNoValidation()" placeholder="Select Service Detail"
                    autocomplete="off" required>
                    <mat-option *ngFor="let details of serviceDetails" [value]="details.details">
                        {{details.details}} </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-label> SAC Number</mat-label>
              <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="SAC Number" [formControl]="sacNumber" class="input-field" />

              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-label> Financial Year</mat-label>
              <mat-form-field appearance="outline">
                <mat-select matInput placeholder="Financial Year" [formControl]="assessmentYear" autocomplete="off" >
                  <mat-option *ngFor="let year of financialYear" [value]="year.financialYear">
                    {{year.financialYear}}
                  </mat-option>
                </mat-select>

              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <mat-label> Description</mat-label>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input [formControl]="description"  matInput
                placeholder="Description" autocomplete="off">
        </mat-form-field>
        </div>
      </div>
      <hr>
      <div  style="float: right;">
        <button  class="btn " style=" background: #4F9A20;
        border-radius: 5px;" (click)="updateSubscription()"><i class="fas fa-wallet"></i> Auto Generate Invoice </button>
      </div>
      <div  style="float: right;">
        <button  class="btn " style=" background: #4F9A20;
        border-radius: 5px;" *ngIf="this?.userSubscription?.payableSubscriptionAmount < 0 "><i class="fas fa-wallet"></i> Refund Request </button>
      </div>

    </div>
  </div>
</div>
<div style="margin-top: 50px;" class="d-none">
  <div class="col-sm-10">
    <b style="font-size: 20px">In case Of GST </b>
  </div>
  <div class="content-wrapper">
    <div class="container" style="margin-top: 10px;">
      <div class="col-sm-10">
        <b style="font-size: 20px">GST Details: </b>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4">
          <mat-label> Start Date </mat-label>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker1" placeholder="Start Date" [formControl]="startDate"
              autocomplete="off">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> End Date </mat-label>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker2" placeholder="Start Date" [formControl]="endDate"
              autocomplete="off">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
          <b style="font-size: 20px">Filing Calender Details: </b>
          <p>Note: In case of composite dealer we are only supporting quarterly filing as return type CMP08, In case of regular dealer we are only asking GSTR1 filing frequency as we asumed there will be GST3B</p>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4">
          <mat-label> Select Gst Type </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="gst type" [formControl]="gstType" class="input-field" />

          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Filing Frequency </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="filing Frequency"  class="input-field" />

          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Start Year </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="start year"  class="input-field" />

          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-label> Start Month </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="start year"  class="input-field" />

          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Approximate Months</mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="months"  class="input-field" />

          </mat-form-field>
        </div>
        <div  class="col-sm-4">
          <button  class="btn " style=" background: #4F9A20;
          border-radius: 5px;"><i class="fas fa-wallet"></i> Generate  </button>
        </div>
      </div>
    </div>
  </div>

</div>


