<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div class="main clearfix" style="padding-top: 0px;">
    <div class="card">
      <div class="card__row" >
        <!-- <div class="card__col-xs-12 card__col-sm-12"> -->
            <div class="filter__col card__col-sm-4 card__col-xs-10">
              <div class="input">
                <label class="input__label" for="attr">Enter Invoice Number</label>
                <div class="input__select">
                  <input maxlength="100" class="select__box ogp_select" style="background-image:none" [(ngModel)]="invoiceNo"
                  type="text" pattern="^SSBA\/2021|2022\/([1-9]?[0-9]*)"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  onkeypress=" event.charCode >= 48 && event.charCode <= 57" />
                </div>
              </div>
            </div>
            <div class="filter__col card__col-sm-2 card__col-xs-10">
              <a class="btn btn_stroke filter__add-link" (click)="invoiceSearch(invoiceNo)"><i
                  class="fa fa-search" aria-hidden="true" style="color: #2ed13b;"></i>&nbsp;Search</a>
            </div>

            <div class="filter__col card__col-sm-4 card__col-xs-12">
            </div>
          <!-- </div> -->
        </div>

        <div class="card__row" style="margin-top: 0px;">
            <br><br>
            <!-- <div class="card__row">
                <table>
                    <tr *ngFor="let item of userList | paginate:config"></tr>
                </table>
                    <ag-grid-angular class="ag-theme-balham" [gridOptions]="newUsersGridOptions"
                    (rowClicked)="onNewUserRowClicked($event)">   
                    </ag-grid-angular>
                <p style="text-align: center; font-size: 15px; margin-top: 20px" *ngIf="userList.length === 0"><b>No data available.</b></p>
            </div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>     -->

            <div class="card__row" style="margin-top: 0px;">
              <div class="card__row">
                <ag-grid-angular class="ag-theme-balham" [gridOptions]="invoiceGridOptions"
                    (rowClicked)="onInvoiceRowClicked($event)" paginationPageSize=15 pagination=true>
                </ag-grid-angular>
            </div>

            <br>
            <!-- <div *ngIf="utilService.isNonEmpty(selectedAgent)">
              <button class="btn btn_stroke" *ngIf="pageCount !== 0" (click)="previousab()">Previous</button>&nbsp;&nbsp;
              <button class="btn btn_stroke" (click)="nextTab()">Next</button>
            </div> -->
        </div>
     </div>
  </div>