@import './../../../../../assets/styles/mixins'

.hideSideMenu
  visibility: hidden


.left-sidebar
  width: 160px
  float: left
  min-height: 100vh
  background-color: $color-1

.left-sidebar.fixed
  overflow: auto
  position: fixed
  padding-top: 100px
  top: 0
  bottom: 0
  z-index: 40
  &::-webkit-scrollbar
    background-color: transparent
    border-radius: 3px
    width: 6px
    height: 6px
  &::-webkit-scrollbar-thumb 
    background-color: #c9c9c9
    border-radius: 4px

.left-sidebar + .left-sidebar 
  display: none

.left-sidebar.fixed + .left-sidebar 
  display: block
  position: relative
  z-index: 1

.sidebar__item:visited,
.sidebar__item 
  display: block
  padding: 17px 0 12px
  height: 84px
  width: 100%
  text-align: center
  text-decoration: none
  cursor: pointer
  transition-property: color, background-color
  transition-duration: .25s

.sidebar__ico
  display: block
  text-align: center
  font-size: 34px

.sidebar__name 
  display: block
  margin-top: 10px

.sidebar__ico-img
  width: 32px
  height: 32px
  transition: fill .25s

.sidebar__ico-img#ico-stock
  width: 34px

  
.sidebar__ico-img#membership
  width: 34px

.sidebar__ico-img#recipe
  width: 34px  

// Colors
.sidebar__item.sidebar__item_active:visited,
.sidebar__item.sidebar__item_active,
.sidebar__item:visited:hover,
.sidebar__item:hover
  color: $color-4

.sidebar__item_active .sidebar__ico-img,
.sidebar__item_active:visited .sidebar__ico-img,
.sidebar__item:hover .sidebar__ico-img
  fill: $color-4

.sidebar__item:visited,
.sidebar__item
  color: #fff

.sidebar__ico-img
  fill: #fff

.sidebar__item_active,
.sidebar__item:hover
  background-color: $color-5

/* MEDIA */
+max-responsive($semi-medium)
  .left-sidebar 
    height: auto
    min-height: auto
    left: -160px
    transition: left .3s ease-in-out
  
  .left-sidebar_open.left-sidebar 
    left: 0px

+max-responsive(635px)
  .left-sidebar.fixed
    height: auto
    padding-top: 109px




