<head>
    <link rel="stylesheet" href="chat-ui.component.scss">
</head>

<div class="blank-screen" *ngIf="isBlankScreenVisible">
    <div class="floating-widget" *ngIf="showWidget">
    
    
        <div class="header">
            <!-- <span class="icon menu-icon">&#9776;</span> -->
            <button (click)="goBack()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
            <span class="widget-title">Chat</span>
            <!-- <button (click)="closeWidget()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button> -->
        </div>
    
        <div class="options">
            <div class="option-box" *ngFor="let deptName of departmentNames"
                [ngClass]="{'font-size-class': true,'selected-dept': selectedDepartmentId === deptName.id}"
                (click)="fetchList(deptName.id)">{{
                deptName.name }}</div>
        </div>
    
        <!-- <div class="search-bar">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" placeholder="Search messages or users">
      </div> -->
    
        <div class="user-list">
            <div class="user-box">
                <div *ngFor="let conversation of conversationList" (click)="openUserChat(conversation)">
                    <img [src]="conversation.image" alt="User Icon">
                    <div class="user-info">
                        <div class="card_row row col-lg-12">
                            <span class="col-lg-8 user-name">{{ conversation.userFullName }}</span>
                            <span class="col-lg-4 user-time">{{ getCurrentTime(conversation.timestamp) }}</span>
                        </div>
                        <span *ngIf="conversation.type === 'html'"><em>rich message text</em></span>
                        <span *ngIf="conversation.type !== 'html'" class="conversation-text">{{ conversation.text }}</span>    
                        <!-- <div class="notification-badge" *ngIf="user.notificationCount > 0">{{ user.notificationCount }}</div> -->
    
                    </div>
                </div>
    
            </div>
    
        </div>
    
    
    
    </div>
    <app-user-chat *ngIf="isUserChatVisible" (back)="closeUserChat()" [image]="selectedUser.image"
        [username]="selectedUser.userFullName" [requestId]="selectedUser.request_id" class="floating expanded"></app-user-chat>
    
 </div>
    