.flex-45 {
    flex-basis: 45% !important;
}

.flex-10 {
    flex-basis: 10% !important;
}

.flex-5 {
    flex-basis: 5% !important;
}

.flex-15 {
    flex-basis: 15% !important;
}

.start-btn {
    display: inline-block;
    min-width: 90px;
    padding: 7px 7px;
    text-align: center;
    font-size: 1.166666667em;
    line-height: 1em;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 0.25s;
    background-color: #63b12d;
    color: #fff;
    cursor: pointer;
}

.start-btn:hover {
    background-color: #307E00;
}