.main-1{
  background: #FBFBFB;
}

.rowClr-1{
  background: #FFF !important;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #c8c8c8;
}

.filter-box{
  width: 100%;
  height: auto;
  display: inline-flex;
  padding: 20px;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  border-radius: 4px;
  border: 2px solid #8CBDF2;
  margin-top: -20px;
}
.button-container {
  margin-top: 20px;
  display: inline-flex;
  justify-content: right;
  gap:10px;
}

.dwldBtn-1{
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 9px;
  border-radius: 4px;
  border: 1px solid #2D8EF9;
  color: #2D8EF9;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px
}
.clrLnk-1{
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 9px;
  border-radius: 4px;
  border: 1px solid #2D8EF9;
  color: #2D8EF9;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}
.srch-btn-1{
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 9px;
  border-radius: 4px;
  background: #2D8EF9;
  color: #FFF;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}

.new-table-container{
  background: #FBFBFB;
  margin-right: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.table-info-text{
color: #303030;
font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 225% */
}
.mvright{
  float: right;
}
.search-icon {
  width: 24px;
  height: 24px;
  color: #298FFF;
  font-size: 20px;
}

.mat-mdc-form-field {
    background: #DDEDFF !important;
    background-color: #DDEDFF !important;
}


.checkbox-right {
  float: right;
  margin-bottom: 8px;
}

.checkbox-group.checkbox-right {
  text-align: right;
}

.ft-18 {
  font-size: 17px !important;
}

.bckClr{
  margin-top:-45px;
}
.remove-margin {
  margin-top: 0 !important;
}
