<i class="fa fa-check-circle clrIcoM"></i>
<p class="succTx">Congratulations! Your IT return has been e-filled successfully.</p>
<hr>
<p class="pTxSu1"><strong>Please check your email</strong> &nbsp;<a
    [href]="emailString"><strong>{{ITR_JSON.email}}</strong></a> You will have received the
  following:
<ul class="pTxSu1">
  <li>A confirmation email of your ITR filing.</li>
  <li>The Income Tax Return - Verification (ITR-V) acknowledgement file as an attachment.</li>
</ul>
<hr>
<!-- <p class="pTxSu1">The ITR-V file is a password protected file. Your password to open the file is a <span class="rdClr">combination of you PAN letters (in lower case) followed by Date of Birth in DDMMYYYY.</span> </p>
              <p class="pTxSu1">For example, if your PAN is ‘ANDPL6959K’, and your registered date of birth is ‘25th February, 1997’, then your password will be <span class="rdClr"><strong>andpl6959k25021997.</strong></span></p><hr> -->
<p class="pTxSu1"><strong>Please verify your ITR-V to complete your e-filing process.</strong> You
  can verify in two ways:
</p>
<ul class="pTxSu1">
  <li>By using Electronic Verification Code (EVC) process. (click here <a
      href="https://blog.taxbuddy.com/?page_id=3269&preview=true "
      target="_blank">https://blog.taxbuddy.com/?page_id=3269&preview=true </a> for details)</li>
  <li>By sending physical ITR-V copy. </li>
</ul>
<hr>
<p class="pTxSu1">For any other queries related to your e-filing, write to us at <a
    href="mailto:itrhelp@taxbuddy.com">itrhelp@taxbuddy.com</a></p>

<p class="pTxSu1">Thank you for choosing us!</p>
<p class="pTxSu1">Team Taxbuddy</p>

<div class="pull-right">
  <button class="btn long-btn" style="border: none;" (click)="previousRoute()">Back To User List
  </button>
</div>