<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div class="row">
  <h1 mat-dialog-title>Call Re-Assignment
    <button style="float: right" mat-raised-button mat-dialog-close tabindex="-1"><i class="fa fa-close"></i></button>
  </h1>
</div>


<mat-dialog-content>
  <form [formGroup]="callReassignForm">
    <div class="card__col-xs-4 card__col-sm-12" style="padding-bottom: 10px;">
      <mat-slide-toggle [checked]="agentsCall" (change)="setValue( $event )" [(ngModel)]="agentsCall"
        [ngModelOptions]="{standalone: true}">Assign Agents Call</mat-slide-toggle>
      <br>
      <mat-hint>Note: {{agentsCall ? agentMessage: callerMessage}}
      </mat-hint>
    </div>
    <div class="card__col-xs-4 card__col-sm-12" *ngIf="agentsCall">
      <mat-form-field appearance="outline">
        <mat-label>Select Agent</mat-label>
        <mat-select placeholder="Select Agent Id" formControlName="agentId" [required]="agentsCall">
          <mat-option *ngFor="let agent of agentList" [value]="agent.agentId">
            {{agent.name}} <span style="font-weight: bold;">{{agent.serviceType}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="card__col-xs-4 card__col-sm-12">
      <mat-form-field appearance="outline">
        <mat-label>Select Status</mat-label>
        <mat-select placeholder="Select Status" formControlName="statusId" required>
          <mat-option *ngFor="let status of this.data.itrStatus" [value]="status.statusId">
            {{ status.statusName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="card__col-xs-4 card__col-sm-12">
      <mat-form-field appearance="fill">
        <mat-label>Caller Agents</mat-label>
        <mat-select formControlName="callerAgentUserIds" multiple required>
          <mat-select-trigger>
            {{callReassignForm.controls['callerAgentUserIds'].value ?
            callReassignForm.controls['callerAgentUserIds'].value[0] : ''}}
            <span *ngIf="callReassignForm.controls['callerAgentUserIds'].value?.length > 1"
              class="example-additional-selection">
              (+{{callReassignForm.controls['callerAgentUserIds'].value.length - 1}}
              {{callReassignForm.controls['callerAgentUserIds'].value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let sme of smeList" [value]="sme.callerAgentUserId">{{sme.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="card__col-xs-4 card__col-sm-12">
      <button mat-raised-button color="primary" (click)="callReassign()" >Re-Assign</button>
    </div>
  </form>

</mat-dialog-content>
