<div class="main clearfix" style="min-height: 0vh; padding-top: 0px;">
    <div class="tab">
        <div class="card">
            <div class="card__row">
                <div class="card__title">TPA Interested Clients</div>
                <span style="float: right;">
                    <!--Completed: <b>{{getCount(true)}}</b>&nbsp;&nbsp;&nbsp;
                        Pending: <b>{{getCount(false)}}</b>&nbsp;&nbsp;&nbsp; -->
                    <b>Total: {{count}}</b>
                </span>
            </div>
            <div class="card__row">
                <app-tpa-client-list listFor="INTERESTED" (sendValue)="getDetails($event)"></app-tpa-client-list>
            </div>
        </div>
    </div>
</div>