<div class="main clearfix" style="min-height: 0vh; padding-top: 0px;">
    <div class="tab">
        <ul class="tab__container clearfix">
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/service-board/doc-uploaded">Doc Uploaded</a>
            </li>
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/service-board/preparing-itr">Preparing ITR</a>
            </li>
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/service-board/awating-confirmation">Awating Confirmation</a>
            </li>
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/service-board/invoice-to-be-generate">Invoice Not Generated</a>
            </li>
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/service-board/unpaid-invoices">Unpaid</a>
            </li>
            <!--  <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/engagement">Engagement</a>
            </li>
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/calling">Calling Board</a>
            </li>
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/interested-clients">Interested Clients</a>
            </li> -->
        </ul>
    </div>
</div>

<router-outlet></router-outlet>