<div class="tax-details">
  <div style="display: flex; justify-content: center">
    <div
      style="
        width: 70%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div style="width: 50%; display: flex">
        <div style="text-align: center">
          <button (click)="goBack()" class="button-class">Go Back</button>
        </div>
      </div>
      <div style="width: 50%">
        <div class="btn-div">
          <div style="text-align: center">
            <button (click)="downloadPDF()" class="button-class">
              Download PDF
            </button>
          </div>
          <div style="text-align: center">
            <button class="button-class">Send PDF</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <h2>Tax Calculation Details</h2> -->
  <div style="display: flex; justify-content: center">
    <div class="year">
      <h3 style="margin: 0; font-size: 24px; font-weight: 600">
        Name of Assessee:
        <span style="font-size: 24px; font-weight: 500">
          {{ assesseeName }}</span
        >
      </h3>
      <h4 style="margin: 0; font-size: 24px; font-weight: 600">
        PAN:
        <span style="font-size: 24px; font-weight: 500">{{ panNumber }}</span>
      </h4>
    </div>
  </div>
  <div style="display: flex; justify-content: center">
    <div class="year">
      <h4 style="margin: 0; font-size: 24px; font-weight: 600">
        Assessment Year:
        <span style="font-size: 24px; font-weight: 500">{{
          assessmentYear
        }}</span>
      </h4>
      <h4 style="margin: 0; font-size: 24px; font-weight: 600">
        DOB:
        <span style="font-size: 24px; font-weight: 500">{{
          dateOfBirth | date : "dd-MM-yyyy"
        }}</span>
      </h4>
    </div>
  </div>

  <h3 style="text-align: center; padding: 20px; font-weight: 600">
    Old Vs New Comparison
  </h3>

  <div style="display: flex; justify-content: center">
    <table class="table">
      <thead style="background-color: #ddebff">
        <tr>
          <th class="table-main-row">Sr No.</th>
          <th class="table-main-row">Income</th>
          <th class="table-main-row">Old Regime</th>
          <th class="table-main-row">New Regime</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-data">1</td>
          <td class="table-data">Income From Salary</td>
          <td class="table-data">
            {{ oldRegime.salaryIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.salaryIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">2</td>
          <td class="table-data">Income From House Property</td>
          <td class="table-data">
            {{ oldRegime.housePropertyIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.housePropertyIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">3</td>
          <td class="table-data">Income From Capital Gain</td>
          <td class="table-data">
            {{ oldRegime.capitalGain || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.capitalGain || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">4</td>
          <td class="table-data">Income From Business</td>
          <td class="table-data">
            {{ oldRegime.businessIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.businessIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">5</td>
          <td class="table-data">Income From Other Sources</td>
          <td class="table-data">
            {{ oldRegime.otherSourceIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.otherSourceIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">6</td>
          <td class="table-data">Gross Total Income</td>
          <td class="table-data">
            {{ totalIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.totalIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">7</td>
          <td class="table-data">CYLA</td>
          <td class="table-data">
            {{ oldRegime.cyla || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.cyla || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">8</td>
          <td class="table-data">BFLA</td>
          <td class="table-data">
            {{ oldRegime.bfla || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.bfla || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">9</td>
          <td class="table-data">Deduction under VI-A</td>
          <td class="table-data">
            {{ oldRegime.deductionUnderVIA || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.deductionUnderVIA || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">10</td>
          <td class="table-data">Total Income </td>
          <td class="table-data">
            {{ oldRegime.taxableIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.taxableIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">11</td>
          <td class="table-data">Tax on Total Income</td>
          <td class="table-data">
            {{ oldRegime.tax || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.tax || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">12</td>
          <td class="table-data">Rebate u/s 87A</td>
          <td class="table-data">
            {{ oldRegime.rebateUs87A || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.rebateUs87A || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">13</td>
          <td class="table-data">Tax After Rebate</td>
          <td class="table-data">
            {{ oldRegime.taxAfterRebate || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.taxAfterRebate || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">14</td>
          <td class="table-data">Surcharge</td>
          <td class="table-data">
            {{ oldRegime.surcharge || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.surcharge || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">15</td>
          <td class="table-data">HEC</td>
          <td class="table-data">
            {{ oldRegime.hec || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.hec || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">16</td>
          <td class="table-data">Total Tax</td>
          <td class="table-data">
            {{ oldRegime.totalTax || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.totalTax || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">17</td>
          <td class="table-data">Taxes Paid</td>
          <td class="table-data">
            {{ oldRegime.taxesPaid || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.taxesPaid || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">18</td>
          <td class="table-data">Tax Liability</td>
          <td class="table-data">
            {{ oldRegime.taxLiability || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.taxLiability || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">19</td>
          <td class="table-data">Beneficial Regime</td>
          <td class="table-data" colspan="2">
            {{ beneficialRegime }}
            <!-- Regime Name (Old or New whichever is lower will be beneficial) -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <h3
    style="
      margin-top: 20px;
      text-align: center;
      margin-bottom: 30px;
      font-weight: 600;
    "
  >
    Total Tax Liability : {{ totalTaxLiabilty }}
  </h3> -->

  
<div class="row-div">
  <p class="table-para">Tax Schedule</p>
</div>
<div style="display: flex; justify-content: center">
  <table class="table">
    <thead>
      <tr>
        <th class="table-data">Sr. No.</th>
        <th class="table-data">Description</th>
        <th class="table-data">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-data">1</td>
        <td class="table-data">Total Tax Liability</td>
        <td class="table-data">{{ totalTaxLiabilty}}</td>
      </tr>
      <tr>
        <td class="table-data">2</td>
        <td class="table-data">TDS/TCS</td>
        <td class="table-data">{{oldRegime.taxesPaid}}</td>
      </tr>
      <tr>
        <td class="table-data">3</td>
        <td class="table-data">Advance Tax Paid</td>
        <td class="table-data"></td> <!-- Empty cell for main row -->
      </tr>
      <!-- Nested rows for the quarters without Sr. No. -->
      <tr>
        <td class="table-data"></td> <!-- Empty Sr. No. -->
        <td class="table-data">Quarter 1 (Upto 15th June)</td>
        <td class="table-data">{{ advanceTaxPaidQ1 }}</td>
      </tr>
      <tr>
        <td class="table-data"></td> <!-- Empty Sr. No. -->
        <td class="table-data">Quarter 2 (Upto 15th Sep) </td>
        <td class="table-data">{{ advanceTaxPaidQ2 }}</td>
      </tr>
      <tr>
        <td class="table-data"></td> <!-- Empty Sr. No. -->
        <td class="table-data">Quarter 3 (Upto 15Th Dec)</td>
        <td class="table-data">{{ advanceTaxPaidQ3 }}</td>
      </tr>
      <tr>
        <td class="table-data"></td> <!-- Empty Sr. No. -->
        <td class="table-data">Quarter 4 (Upto 15th March)</td>
        <td class="table-data">{{ advanceTaxPaidQ4}}</td>
      </tr>
      <tr>
        <td class="table-data"></td> <!-- Empty Sr. No. -->
        <td class="table-data">Quarter 5 (16th March to 31March)</td>
        <td class="table-data">{{ advanceTaxPaidQ5 }}</td>
      </tr>
      <tr>
        <td class="table-data">4</td>
        <td class="table-data">Interest u/s 234C</td>
        <td class="table-data">{{ advanceTaxQuarter1.cumulativeTaxLiability }}</td>
      </tr>
      <tr>
        <td class="table-data">5</td>
        <td class="table-data"><strong>Tax Payable/ (Refundable)</strong></td>
        <td class="table-data">{{ advanceTaxQuarter1.cumulativeTaxLiability }}</td>
      </tr>
    </tbody>
  </table>
</div>
  
  
  
  
  
  <!-- Quater 1 -->
  <div class="row-div">
    <p class="table-para">Period 01/04 to 15/06 </p>
  </div>
  <div style="display: flex; justify-content: center">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Period</th> -->
          <th class="table-center">Rate 
            <br/> (1)</th>
          <th class="table-center">Tax Liability Cumulative
          <br/> (A)</th>
          <th class="table-center">Installment Amount
            <br/>(B) =(A)</th>
          <th class="table-center">Advance Tax Paid 
            <br/>(C)</th>
          <th class="table-center">Interest u/s 234 C <br/> (D)</th>
          <th class="table-center">Advance tax Payable/(excess paid) 
            <br/>            (E) = (B)-(C)+(D)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-center">{{ advanceTaxQuarter1.rate }}%</td>
          <td class="table-center">
            {{ advanceTaxQuarter1.cumulativeTaxLiability}}
          </td>
          <td class="table-center">
            {{ advanceTaxQuarter1.installmentAmount}}
          </td>
          <td class="table-center">{{ advanceTaxQuarter1.advanceTaxPaid }}</td>
          <td class="table-center">{{ advanceTaxQuarter1.interestUs234C }}</td>
          <td class="table-center">{{ advanceTaxQuarter1.advanceTaxPayable}}</td>
          
          <!-- <td>{{ data.installmentAmount }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Quater 2 -->
  <div class="row-div">
    <p class="table-para">Period 16/06 to 15/09 </p>
  </div>
  <div style="display: flex; justify-content: center">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Period</th> -->
          <th class="table-center">Rate 
            <br/> (2)</th>
          <th class="table-center">Tax Liability Cumulative
            <br/> (A)</th>
            <th class="table-center">Installment Amount
              <br/>(B) = A - 1(A)</th>
          <th class="table-center">Advance Tax Paid 
            <br/>(C)</th>
          <th class="table-center">Interest u/s 234 C <br/> (D)</th>
          <th class="table-center">Advance tax Payable/(excess paid) 
            <br/>  (E) = (B)-(C)+(D)+1(E)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-center">{{ advanceTaxQuarter2.rate }}%</td>
          <td class="table-center">
            {{ advanceTaxQuarter2.cumulativeTaxLiability }}
          </td>
          <td class="table-center">
            {{ advanceTaxQuarter2.installmentAmount}}
          </td>
          <td class="table-center">{{ advanceTaxQuarter2.advanceTaxPaid }}</td>
          <td class="table-center">{{ advanceTaxQuarter2.interestUs234C }}</td>
          <td class="table-center">{{ advanceTaxQuarter2.advanceTaxPayable }}</td>

        </tr>
      </tbody>
    </table>
  </div>
  <!-- Quater 3 -->
  <div class="row-div">
    <p class="table-para">Period 16/09 to 15/12 </p>
  </div>
  <div style="display: flex; justify-content: center">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Period</th> -->
          <th class="table-center">Rate 
            <br/> (3)</th>
          <th class="table-center">Tax Liability Cumulative
            <br/> (A)</th> 
            <th class="table-center">Installment Amount
              <br/>(B) = A - 2(A)</th>
          <th class="table-center">Advance Tax Paid 
            <br/>(C)</th>
          <th class="table-center">Interest u/s 234 C <br/> (D)</th>
          <th class="table-center">Advance tax Payable/(excess paid) 
            <br/> (E) = (B)-(C)+(D)+2(E)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-center">{{ advanceTaxQuarter3.rate }}%</td>
          <td class="table-center">
            {{ advanceTaxQuarter3.cumulativeTaxLiability }}
          </td><td class="table-center">
            {{ advanceTaxQuarter3.installmentAmount}}
          </td>
          <td class="table-center">{{ advanceTaxQuarter3.advanceTaxPaid}}</td>
          <td class="table-center">{{ advanceTaxQuarter3.interestUs234C }}</td>
          <td class="table-center">{{ advanceTaxQuarter3.advanceTaxPayable}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Quater 4 -->
  <div class="row-div">
    <p class="table-para">Period 16/12 to 15/03  </p>
  </div>
  <div style="display: flex; justify-content: center">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Period</th> -->
          <th class="table-center">Rate 
            <br/> (4)</th>
          <th class="table-center">Tax Liability Cumulative
            <br/> (A)</th>
            <th class="table-center">Installment Amount
              <br/>(B) = A - 3(A)</th>
          <th class="table-center">Advance Tax Paid 
            <br/>(C)</th>
          <th class="table-center">Interest u/s 234 C <br/> (D)</th>
          <th class="table-center">Advance tax Payable/(excess paid)
            <br/>    (E) = (B)-(C)+(D)+3(E)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-center">{{ advanceTaxQuarter4.rate }}%</td>
          <td class="table-center">
            {{ advanceTaxQuarter4.cumulativeTaxLiability }}
          </td>
          <td class="table-center">
            {{ advanceTaxQuarter4.installmentAmount}}
          </td>
          <td class="table-center">{{ advanceTaxQuarter4.advanceTaxPaid }}</td>
          <td class="table-center">{{ advanceTaxQuarter4.interestUs234C }}</td>
          <td class="table-center">{{ advanceTaxQuarter4.advanceTaxPayable }}</td>
          <!-- <td>{{ data.installmentAmount }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
