<div class="tax-details">
  <div style="display: flex; justify-content: center">
    <div
      style="
        width: 70%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div style="width: 50%; display: flex">
        <div style="text-align: center">
          <button (click)="goBack()" class="button-class">Go Back</button>
        </div>
      </div>
      <div style="width: 50%">
        <div class="btn-div">
          <div style="text-align: center">
            <button (click)="downloadPDF()" class="button-class">
              Download PDF
            </button>
          </div>
          <div style="text-align: center">
            <button class="button-class">Send PDF</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <h2>Tax Calculation Details</h2> -->
  <div style="display: flex; justify-content: center">
    <div class="year">
      <h3 style="margin: 0; font-size: 24px; font-weight: 600">
        Name of Assessee:
        <span style="font-size: 24px; font-weight: 500">
          {{ assesseeName }}</span
        >
      </h3>
      <h4 style="margin: 0; font-size: 24px; font-weight: 600">
        PAN:
        <span style="font-size: 24px; font-weight: 500">{{ panNumber }}</span>
      </h4>
    </div>
  </div>
  <div style="display: flex; justify-content: center">
    <div class="year">
      <h4 style="margin: 0; font-size: 24px; font-weight: 600">
        Assessment Year:
        <span style="font-size: 24px; font-weight: 500">{{
          assessmentYear
        }}</span>
      </h4>
      <h4 style="margin: 0; font-size: 24px; font-weight: 600">
        DOB:
        <span style="font-size: 24px; font-weight: 500">{{
          dateOfBirth | date : "dd-MM-yyyy"
        }}</span>
      </h4>
    </div>
  </div>

  <h3 style="text-align: center; padding: 20px; font-weight: 600">
    Old Vs New Comparison
  </h3>

  <div style="display: flex; justify-content: center">
    <table class="table">
      <thead style="background-color: #ddebff">
        <tr>
          <th class="table-main-row">Sr No.</th>
          <th class="table-main-row">Income</th>
          <th class="table-main-row">Old Regime</th>
          <th class="table-main-row">New Regime</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-data">1</td>
          <td class="table-data">Income From Salary</td>
          <td class="table-data">
            {{ oldRegime.salaryIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.salaryIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">2</td>
          <td class="table-data">Income From House Property</td>
          <td class="table-data">
            {{ oldRegime.housePropertyIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.housePropertyIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">3</td>
          <td class="table-data">Income From Capital Gain</td>
          <td class="table-data">
            {{ oldRegime.capitalGain || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.capitalGain || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">4</td>
          <td class="table-data">Income From Business</td>
          <td class="table-data">
            {{ oldRegime.businessIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.businessIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">5</td>
          <td class="table-data">Income From Other Sources</td>
          <td class="table-data">
            {{ oldRegime.otherSourceIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.otherSourceIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">6</td>
          <td class="table-data">Total Income from All Sources</td>
          <td class="table-data">
            {{ totalIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.totalIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">7</td>
          <td class="table-data">Deduction under VI-A</td>
          <td class="table-data">
            {{ oldRegime.deductionUnderVIA || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.deductionUnderVIA || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">8</td>
          <td class="table-data">Taxable Income</td>
          <td class="table-data">
            {{ oldRegime.taxableIncome || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.taxableIncome || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">9</td>
          <td class="table-data">Tax on (Taxable Income)</td>
          <td class="table-data">
            {{ oldRegime.tax || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.tax || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">10</td>
          <td class="table-data">Rebate u/s 87A</td>
          <td class="table-data">
            {{ oldRegime.rebateUs87A || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.rebateUs87A || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">11</td>
          <td class="table-data">Tax After Rebate</td>
          <td class="table-data">
            {{ oldRegime.taxAfterRebate || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.taxAfterRebate || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">12</td>
          <td class="table-data">Surcharge</td>
          <td class="table-data">
            {{ oldRegime.surcharge || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.surcharge || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">13</td>
          <td class="table-data">HEC</td>
          <td class="table-data">
            {{ oldRegime.hec || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.hec || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">14</td>
          <td class="table-data">Total Tax</td>
          <td class="table-data">
            {{ oldRegime.totalTax || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.totalTax || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">15</td>
          <td class="table-data">Taxes Paid</td>
          <td class="table-data">
            {{ oldRegime.taxesPaid || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.taxesPaid || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">16</td>
          <td class="table-data">Tax Liability</td>
          <td class="table-data">
            {{ oldRegime.taxLiability || 0 }}
          </td>
          <td class="table-data">
            {{ newRegime.taxLiability || 0 }}
          </td>
        </tr>
        <tr>
          <td class="table-data">17</td>
          <td class="table-data">Beneficial Regime</td>
          <td class="table-data" colspan="2">
            {{ beneficialRegime }}
            <!-- Regime Name (Old or New whichever is lower will be beneficial) -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3
    style="
      margin-top: 20px;
      text-align: center;
      margin-bottom: 30px;
      font-weight: 600;
    "
  >
    Total Tax Liability : {{ totalTaxLiabilty }}
  </h3>
  <!-- Quater 1 -->
  <div class="row-div">
    <p class="table-para">Period 01/04 to 15/06 of selected financial year</p>
  </div>
  <div style="display: flex; justify-content: center">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Period</th> -->
          <th class="table-data">Normal (A)</th>
          <th class="table-data">Tax Liability Cumulative (B)</th>
          <th class="table-data">Installment (C)</th>
          <th class="table-data">Installment Amount (D) = (B)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-data">{{ advanceTaxQuarter1.rate }}%</td>
          <td class="table-data">
            {{ advanceTaxQuarter1.cumulativeTaxLiability }}
          </td>
          <td class="table-data">{{ advanceTaxQuarter1.installment }}</td>
          <td class="table-data">{{ advanceTaxQuarter1.installmentAmount }}</td>
          <!-- <td>{{ data.installmentAmount }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Quater 2 -->
  <div class="row-div">
    <p class="table-para">Period 16/06 to 15/09 of selected financial year</p>
  </div>
  <div style="display: flex; justify-content: center">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Period</th> -->
          <th class="table-data">Normal (A)</th>
          <th class="table-data">Tax Liability Cumulative (B)</th>
          <th class="table-data">Installment (C)</th>
          <th class="table-data">Installment amount (D) = 2(B) - 1(B)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-data">{{ advanceTaxQuarter2.rate }}%</td>
          <td class="table-data">
            {{ advanceTaxQuarter2.cumulativeTaxLiability }}
          </td>
          <td class="table-data">{{ advanceTaxQuarter2.installment }}</td>
          <td class="table-data">{{ advanceTaxQuarter2.installmentAmount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Quater 3 -->
  <div class="row-div">
    <p class="table-para">Period 16/09 to 15/12 of selected financial year</p>
  </div>
  <div style="display: flex; justify-content: center">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Period</th> -->
          <th class="table-data">Normal (A)</th>
          <th class="table-data">Tax Liability Cumulative (B)</th>
          <th class="table-data">Installment (C)</th>
          <th class="table-data">Installment amount (D) = 3(B) - 2(B)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-data">{{ advanceTaxQuarter4.rate }}%</td>
          <td class="table-data">
            {{ advanceTaxQuarter4.cumulativeTaxLiability }}
          </td>
          <td class="table-data">{{ advanceTaxQuarter4.installment }}</td>
          <td class="table-data">{{ advanceTaxQuarter4.installmentAmount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Quater 4 -->
  <div class="row-div">
    <p class="table-para">Period 16/12 to 31/03 of selected financial year</p>
  </div>
  <div style="display: flex; justify-content: center">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Period</th> -->
          <th class="table-data">Normal (A)</th>
          <th class="table-data">Tax Liability Cumulative (B)</th>
          <th class="table-data">Installment (C)</th>
          <th class="table-data">Installment amount (D) = 4(B) - 3(B)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-data">{{ advanceTaxQuarter4.rate }}%</td>
          <td class="table-data">
            {{ advanceTaxQuarter4.cumulativeTaxLiability }}
          </td>
          <td class="table-data">{{ advanceTaxQuarter4.installment }}</td>
          <td class="table-data">{{ advanceTaxQuarter4.installmentAmount }}</td>
          <!-- <td>{{ data.installmentAmount }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
