<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<header class="header clearfix fixed">

    <!-- <mat-slide-toggle >Slide me!</mat-slide-toggle>&nbsp; -->
 
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <a class="header__logo" (click)="sideBar(); navigateToHome();">
                <span class="header__logo-img1"></span>
                <span class="header__logo-button" [class.header__logo-button-open]="sidebar_open"
                    [class.header__logo-button-rotate]="menu_btn_rotate">
                    <span></span>
                    <span [class.header__logo-button-hide]="menu_hide_component"></span>
                    <span></span>
                </span>
            </a>
            <div class="titl-tx">Back Office</div>
            <!-- <button class="back" (click)="this.location.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
               Back
            </button> -->
            <button class="btn-call" (click)="openCallDialog()">
                <i class="fa-regular fa-phone-arrow-right"></i>&nbsp;&nbsp;Dial Any Number
            </button>               
         </div>   
         
         <div class="col-lg-4 col-md-2 col-sm-2">
         <div class="note1">*<b>Please note:</b> Access and activities monitored for customer confidentiality.
         </div> 
        </div> 

         <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="header__buttons logout-btn-wrapper" style="float:right">
                <!-- <button class="btn-help" (click)="openDialog()">Need Help <i class="fa fa-question-circle"
                        aria-hidden="true"></i></button> -->
                <button class="btn-logout" (click)="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
            </div>
            <div class="header__breadcrumbs" style="float:right">
                <div class="breadcrumbs user">
                    <a lass="breadcrumbs-link"><i class='far fa-user-circle'></i> {{getLoggedInUserName()}}</a>
                </div>
            </div>
         </div>
   

        </div>
   
    <!-- <div class="header__container">
        <div class="header__buttons" *ngIf="showBtns === 'business-profile'">
            <a class="btn" (click)="saveBusinessProfile()">Save Profile</a>
        </div>
    </div> -->
</header>
