.btn-logout {
  display: inline-block;
  margin: 8px -20px 8px 5px;
  text-align: center;
  border-radius: 5px;
  transition-property: color, background-color;
  transition-duration: 0.25s;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  background-color: #000000;
  font-size: 13px;
}

.btn-logout:hover {
  background-color: #7e7e7e;
}

.header__breadcrumbs {
  float: left;
  padding-left: 5px !important;
}

.user {
  color: #424242;
  font-weight: normal;
  margin-top: 20px;
  font-size: 14px !important;
}

.chat {
    color: #424242;
    font-weight: 900;
    margin-top: 20px;
    font-size: 18px !important;
}

.titl-tx {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
  float: left;
  margin-top: 15px;
}

.back {
  color: #2199e8;
}

.back:hover {
  color: #0d65a0;
}

.btn-help {
  display: inline-block;
  margin: 8px;
  text-align: center;
  font-weight: 600;
  line-height: 1em;
  border-radius: 5px;
  cursor: pointer;
  color: #63b12d;
  padding: 10px 15px;
}

.btn-help:hover {
  color: #41751b;
}

.btn-call {
  display: block;
  margin: 8px;
  text-align: center;
  font-weight: 600;
  line-height: 1em;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  background-color: white;
  color: #63b12d;
  border: solid 2px #63b12d;
  margin-top: 10px;
  width: 190px;
}

.btn-call:hover {
  color: #ffffff;
  border: solid 2px #63b12d;
  background-color: #63b12d;
}

.btn-add-affiliate {
  font-size: 14px;
  color: #ff0000;
  margin-top: 20px;
  margin-right: 10px;
  font-weight: 600;
}

.btn-copyLink {
  font-size: 14px;
  color: blue;
  margin-top: 5px;
  margin-right: -22px;
  font-weight: 600;
}

.btn-copyLink-1 {
  font-size: 14px;
  color: blue;
  margin-top: 5px;
  font-weight: 600;
  margin-left: 15px;
}

.hamburger {
  color: #1b67ba;
  font-size: 28px;
  text-align: center;
  justify-content: flex-end;
  display: flex;
  margin-left: 11px;
  margin-top: 10px;
}

.note1 {
  background-color: #fafafa;
  padding: 5px 0px 5px 10px;
  width: 290px;
  border-radius: 8px;
  font-size: 12px;
  font-style: italic;
  border: 1px solid #efefef;
  color: #b60000;
  min-width: 180px;
  margin-top: 5px;
  margin-left: 0px !important;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.affId {
  color: black;
  display: block;
  text-decoration: none;
  margin-left: -156px;
  margin-top: 5px;
  font-size: 14px;
}

.notification-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.notification-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  left: 75px;
  color: black;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  border: 6px;
  border-color: red;
}


.notification-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 10px;
}

.notification-header {
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: red;
}

.notification-header h3 {
  margin: 0;
}

.notification-list {
  max-height: 300px;
  overflow-y: auto;
  color: #000000;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item h4 {
  margin: 0 0 5px;
}

.notification-item p {
  margin: 0 0 5px;
}

.notification-date {
  font-size: 12px;
  color: #777;
}

.no-notifications {
  padding: 10px;
  text-align: center;
  color: #777;
}

.notification-icon {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-left: auto;

}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.push-notification-dialog {
  max-width: 400px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



