.btn-logout {
    display: inline-block;
    margin: 8px;
    padding: 12px 15px;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    border-radius: 5px;
    transition-property: color, background-color;
    transition-duration: 0.25s;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border: solid 2px;
    background-color: red;
}

.btn-logout:hover {
    background-color: white;
    color: red;
    border: solid 2px red;
}

.btn-help {
    display: inline-block;
    margin: 8px;
    padding: 12px 15px;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    border-radius: 5px;
    cursor: pointer;
    color:#63b12d;
    padding: 10px 15px;
    // border: solid 2px;
    // background-color: #63b12d;
}

.btn-help:hover {
    color:#41751b;
}

.btn-call {
    display: inline-block;
    margin: 8px;
    padding: 12px 15px;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    border-radius: 5px;
    cursor: pointer;
    color:#63b12d;
    padding: 10px 15px;
    background-color: white;
    color: #63b12d;
    border: solid 2px #63b12d;
    // border: solid 2px;
    // background-color: #63b12d;
}

.btn-call:hover {
    color: #ffffff;
    border: solid 2px #63b12d;
    background-color: #63b12d;
}