.btn-logout {
    display: inline-block;
    margin: 8px -20px 8px 5px;
    padding: 12px 15px;
    text-align: center;
    border-radius: 5px;
    transition-property: color, background-color;
    transition-duration: 0.25s;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    background-color: #000000;
    font-size: 13px;
}

.btn-logout:hover {
    background-color:#7e7e7e;
}

.header__breadcrumbs {
    float: left;
    padding-left:5px!important;
}

.user{
    color: #424242;
    font-weight:normal;
    margin-top: -4px;
    font-size:14px!important;
}

.titl-tx {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    float: left;
    margin-top: 15px;
}

.back{
    color: #2199e8;
}
.back:hover {
    color: #0d65a0;
}

.btn-help {
    display: inline-block;
    margin: 8px;
    padding: 12px 15px;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    border-radius: 5px;
    cursor: pointer;
    color:#63b12d;
    padding: 10px 15px;
    // border: solid 2px;
    // background-color: #63b12d;
}

.btn-help:hover {
    color:#41751b;
}

.btn-call {
    display:block;
    margin: 8px;
    padding: 12px 15px;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    border-radius: 5px;
    cursor: pointer;
    color:#63b12d;
    padding: 10px 15px;
    background-color: white;
    color: #63b12d;
    border: solid 2px #63b12d;
    // border: solid 2px;
    // background-color: #63b12d;
    margin-top: 10px;
    width:190px;   
}

.btn-call:hover {
    color: #ffffff;
    border: solid 2px #63b12d;
    background-color: #63b12d;
}

.btn-add-affiliate {
    font-size: 14px;
    color: #ff0000;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: 600;
}
