<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<header class="header clearfix fixed">

    <!-- <mat-slide-toggle >Slide me!</mat-slide-toggle>&nbsp; -->

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <!-- <a class="header__logo" (click)="sideBar()"> -->
            <!-- <span class="header__logo-button" [class.header__logo-button-open]="sidebar_open"
                    [class.header__logo-button-rotate]="menu_btn_rotate">
                    <span></span>
                    <span [class.header__logo-button-hide]="menu_hide_component"></span>
                    <span></span>
                </span> -->
            <mat-icon class="cursor-pointer hamburger" *ngIf="nav" (click)="open()">
                menu
            </mat-icon>
            <mat-icon class="cursor-pointer hamburger" *ngIf="!nav" (click)="close()">
                menu_close
            </mat-icon>
            <!-- </a> -->
        </div>
        <div class="col-lg-5 col-md-5 col-sm-6">
            <a class="header__logo" (click)="navigateToHome()">
                <span class="header__logo-img1"></span>
            </a>
            <button class="btn-call ml-3" (click)="openCallDialog()">
                <i class="fa-regular fa-phone-arrow-right"></i>&nbsp;&nbsp;Dial Any Number
            </button>
        </div>
        <!-- <div class="col-lg-2 col-md-2 col-sm-6">


        </div> -->

        <div class="col-lg-2 col-md-2 col-sm-1">
            <div class="note1">*<b>Please note:</b> Access and activities monitored for customer confidentiality.
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-5">
            <div class="header__buttons logout-btn-wrapper" style="float:right">
                <button class="btn-logout" (click)="logout()">Logout <i class="fa fa-sign-out"
                        aria-hidden="true"></i></button>
            </div>
            <div class="header__breadcrumbs" style="float:right">
                <div class="user">
                    <i class='far fa-user-circle'></i> {{getLoggedInUserName()}} &nbsp;
                </div>
            </div>
            <div *ngIf="showAffiliateBtn" class="header__breadcrumbs" style="float:right">
                <button *ngIf="showAffiliateBtn" class="btn-add-affiliate" (click)="addAffiliateId()">&nbsp;
                    <i class="fa-light fa-people-group"></i> Affiliate ID Linking</button>|
            </div>
        </div>


    </div>

    <!-- <div class="header__container">
        <div class="header__buttons" *ngIf="showBtns === 'business-profile'">
            <a class="btn" (click)="saveBusinessProfile()">Save Profile</a>
        </div>
    </div> -->
</header>
