@import "../../../../../ux/scss/style.scss";
@import "../../../../../ux/scss/layout.scss";

.details-div {
  background-color: white;
  padding: 20px;
  border: 1px solid #d3d3d3;
}
.add-btn {
  // border: 1px solid #3f81cd !important;
  border-radius: 5px;
  color: #3f81cd;
  width: 10% !important;
  padding: 10px 0px;
  background-color: white !important;
}

.btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.table-main-row {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: #ddebff;
}

.table-data {
  padding: 5px;
  border: 1px solid black;
  text-align: left;
}
