<form [formGroup]="scheduleFa">
  <div class="mrgArdSpcBlw" style="margin-bottom: 10px">
    <div class="flex justify-between align-items-center">
      <div>
        <div class="txtTitle" style="margin-bottom: 0px">
          <strong> Schedule FA </strong>
        </div>
        <div>
          Details of foreign assets and income from any source outside India -
          Applicable to Resident Assessee only
        </div>
      </div>
    </div>
  </div>

  <div>
    <mat-accordion class="headers-align mrgArd">
      <mat-expansion-panel
        *ngFor="let topic of topicList"
        (expandedChange)="onExpandedChange($event)"
        hideToggle
      >
        <mat-expansion-panel-header
          class="flex align-items-center"
          (click)="gotoSection(topic.code)"
        >
          <div class="flex justify-between align-items-center">
            <mat-panel-title style="padding: 20px">
              {{ topic.label }}
            </mat-panel-title>
            <mat-icon> arrow_forward_ios </mat-icon>
          </div>
        </mat-expansion-panel-header>
        <div *ngIf="topic.code === 'A1'">
          <form formArrayName="frgnDpstryAcct" style="padding: 20px">
            <div
              *ngFor="
                let frgnDpstryAcct of getfrgnDpstryAcct.controls;
                let i = index
              "
              [formGroupName]="i"
            ></div>
            <!-- Country Name Input -->
            <div class="flex gap-[25px]" style="margin-bottom: 10px">
              <mat-form-field appearance="outline">
                <mat-label>Country Name</mat-label>
                <input
                  matInput
                  name="countryName[i]"
                  formControlName="countryName"
                />
              </mat-form-field>

              <!-- Country Code Input -->
              <mat-form-field appearance="outline">
                <mat-label>Country Code</mat-label>
                <input
                  matInput
                  name="countryCode[i]"
                  formControlName="countryCode"
                />
              </mat-form-field>
            </div>

            <div class="flex gap-[25px]" style="margin-bottom: 15px">
              <!-- Name of Institution Input -->
              <mat-form-field appearance="outline">
                <mat-label>Name of Institution</mat-label>
                <input
                  matInput
                  name="nameOfInstitution[i]"
                  formControlName="nameOfInstitution"
                />
              </mat-form-field>

              <!-- Address of Institution Input -->
              <mat-form-field appearance="outline">
                <mat-label>Address of Institution</mat-label>
                <input
                  matInput
                  name="addressOfInstitution[i]"
                  formControlName="addressOfInstitution"
                />
              </mat-form-field>

              <!-- Zip Code Input -->
              <mat-form-field appearance="outline">
                <mat-label>Zip Code</mat-label>
                <input matInput name="zipCode[i]" formControlName="zipCode" />
              </mat-form-field>
            </div>

            <div class="flex justify-content-end align-items-center">
              <button
                class="flex lgtBtn justify-content-end align-items-center"
                style="height: 100%"
                (click)="add()"
              >
                + Add
              </button>
            </div>

            <!-- Account Array Input -->
            <div
              formArrayName="account"
              class="surround"
              style="margin-top: 0px"
            >
              <div
                *ngFor="
                  let accountCtrl of getAccountControls.controls;
                  let i = index
                "
                [formGroupName]="i"
              >
                <div
                  class="flex gap-[25px] align-items-center"
                  style="margin-bottom: 10px"
                >
                  <!-- has edit checkbox  -->
                  <mat-checkbox
                    color="primary"
                    name="hasEdit[i]"
                    formControlName="hasEdit"
                    class=""
                  >
                  </mat-checkbox>
                  <!-- Account Number Input -->
                  <mat-form-field appearance="outline">
                    <mat-label>Account Number</mat-label>
                    <input
                      matInput
                      name="accountNumber[i]"
                      formControlName="accountNumber"
                    />
                  </mat-form-field>

                  <!-- Status Input -->
                  <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <input matInput name="status[i]" formControlName="status" />
                  </mat-form-field>

                  <!-- Account Opening Date Input -->
                  <mat-form-field appearance="outline">
                    <mat-label>Account Opening Date</mat-label>
                    <input
                      matInput
                      name="accountOpeningDate[i]"
                      formControlName="accountOpeningDate"
                    />
                  </mat-form-field>
                </div>

                <div class="flex gap-[25px]">
                  <!-- Peak Balance Input -->
                  <mat-form-field appearance="outline">
                    <mat-label>Peak Balance</mat-label>
                    <input
                      matInput
                      name="peakBalance[i]"
                      formControlName="peakBalance"
                    />
                  </mat-form-field>

                  <!-- Closing Balance Input -->
                  <mat-form-field appearance="outline">
                    <mat-label>Closing Balance</mat-label>
                    <input
                      matInput
                      name="closingBalance[i]"
                      formControlName="closingBalance"
                    />
                  </mat-form-field>

                  <!-- Gross Interest Paid Input -->
                  <mat-form-field appearance="outline">
                    <mat-label>Gross Interest Paid</mat-label>
                    <input
                      matInput
                      name="grossInterestPaid[i]"
                      formControlName="grossInterestPaid"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="flex justify-between p-[30px] back-foot">
    <button class="lgtBtn" (click)="goBack()">
      <mat-icon class="icoAdj">keyboard_backspace</mat-icon>
      <span class="font-semibold">&nbsp;Back to More Info List</span>
    </button>

    <button class="saveBtnIn" (click)="saveAll()">
      <span class="font-semibold">Save All</span>
    </button>
  </div>
</form>
