<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div>
  <!-- [class.mySubscription]="this.from === 'mySubscription' ? true : false" -->
  <table>
    <tr *ngFor="let item of userInfo | paginate:config"></tr>
  </table>
  <ag-grid-angular class="ag-theme-balham" [gridOptions]="subscriptionListGridOptions"
    (rowClicked)="onSubscriptionRowClicked($event)">
  </ag-grid-angular>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>