<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<!-- New Open Close Filter Starts -->
<div class="mrgArdTog">
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]=true>
      <mat-expansion-panel-header>
        <mat-panel-title>
        <mat-icon> arrow_forward_ios </mat-icon>
         Filter - Promo Codes:
        </mat-panel-title>
        <div class="col-sm-3">
          <button class="new-add mvRth1 new-add-tp-spc" (click)="$event.stopPropagation(); addPromoCode('Add Promo-Code','Add', '')"><i aria-hidden="true" class="fa fa-plus"></i> Add Promo-Code </button>
        </div>
      </mat-expansion-panel-header>
      <div class="rowClr">
        <div class="surround">         
          <div class="row">
            <div class="col-sm-4">
              <mat-label> Enter Promo-Code </mat-label>
              <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Enter Promo-Code" [formControl]="searchValue" class="input-field" name="promoCode" />
                <mat-error *ngIf="searchValue?.hasError('required') ">
                  This field is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <button class="srch-btn srchSpcTp" (click)="searchPromoCode()">
                <i class="fa fa-search" aria-hidden="true"></i> Search
              </button>
          
              <button class="srchSpcTp clrLnk mvRthB" [disabled]="loading" (click)="this.resetFilters()">
                Clear
              </button>
            </div>
      
          </div>
</div>
</div>
     
    </mat-expansion-panel>
   </mat-accordion>
</div>
<!-- New Open Close Filter Ends -->
<div class="main clearfix"> 

<!-- Table Below -->

<div class="tableSpc">
  <div class="row">
    <div class="col-sm-8">
      <div class="txTit">
        Promo Code Details:
      </div>
    </div>
  <div class="col-sm-4">
  <div class="count1"> Total Count: <span class="txClr1">{{totalCount}}</span></div>
  </div>
  </div>
          <table>
            <tr *ngFor="let item of PromoCodeInfo | paginate : config"></tr>
          </table>

   <ag-grid-angular class="ag-theme-balham topSps" [gridOptions]="promoCodeGridOptions" (rowClicked)="onPromoCodeRowClicked($event)">
  </ag-grid-angular>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>

</div>
