<form [formGroup]="natureOfBusinessForm">
    <mat-card>
        <p class="subLabel">Presumptive Business Income U/S 44AD</p>
        <div class="card__row">
            <div class="card__col-lg-6">
                <mat-form-field appearance="outline">
                    <mat-label>Nature of business</mat-label> <!-- type="text"-->
                    <input type="text" placeholder="Nature of business" aria-label="Assignee" matInput
                        formControlName="natureOfBusiness44AD" [matAutocomplete]="auto1" (blur)="getCodeFromLabelOnBlur()">
                    <!-- <i class="material-icons align-arrow-right">arrow_drop_down</i>-->
                    <mat-error *ngIf="natureOfBusinessForm['controls'].natureOfBusiness44AD.invalid">
                        Please select value from dropdown only.
                    </mat-error>
                    <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">    <!-- (optionSelected)="getCodeFromLabelOnBlur()"-->
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.label">
                            {{option.label}}-{{option.code}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="card__col-lg-4">
                <mat-form-field appearance="outline">
                    <mat-label>Trade Name</mat-label>
                    <input matInput placeholder="Trade Name" formControlName="tradeName44AD" (blur)="getCodeFromLabelOnBlur()" maxlength="75" autocomplete="off">
                    <!-- <mat-error *ngIf="natureOfBusinessForm['controls'].tradeName44AD.hasError('pattern')">
                        Name should contain character only
                    </mat-error> -->
                </mat-form-field>
            </div>
        </div><br>

        <table>
            <tr>
                <th><b>Particulars</b></th>
                <th><b>Gross Receipts</b></th>
                <th><b>Presumptive Income</b></th>
            </tr>
            <tr>
                <td><b>Gross Receipts-</b> Recived in Bank</td>
                <td><input type="number"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="8"
                        formControlName="recieptRecievedInBank"
                        (blur)="calBankPresumptiveIncome(natureOfBusinessForm.controls['recieptRecievedInBank'].value)"></td> <!-- oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57"-->
                       
                <td></td>
            </tr>
            <tr>
                <td>Presumptive Income at 6%</td>
                <td></td>
                <td>
                    <input type="number" formControlName="presumptiveIncomeRecieveBank" (blur)="calculateTotalAmnt()" maxlength="8">

                    <div style="color: red;"  *ngIf="natureOfBusinessForm.controls['presumptiveIncomeRecieveBank'].hasError('min')">
                        Minimum value must be {{natureOfBusinessForm.controls['minimumPresumptiveIncomeRecivedInBank'].value}}
                    </div>
                    <div style="color: red;"  *ngIf="natureOfBusinessForm.controls['presumptiveIncomeRecieveBank'].hasError('max')">
                        Amount can not exceed receipt.
                    </div>
                </td>  <!--presumptiveIncomeRecievedCash-->
            </tr>
            <tr>
                <td><b>Gross Receipts-</b> Recived in Cash</td>
                <td><input
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="8"
                        formControlName="recievedinCash"
                        (blur)="calCashPresumptiveIncome(natureOfBusinessForm.controls['recievedinCash'].value)">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Presumptive Income at 8%</td>
                <td></td>
                <td>
                    <input type="number" formControlName="presumptiveIncomeRecievedCash" (blur)="calculateTotalAmnt()" maxlength="8">

                    <div style="color: red;"  *ngIf="natureOfBusinessForm.controls['presumptiveIncomeRecievedCash'].hasError('min')">
                        Minimum value must be {{natureOfBusinessForm.controls['minimumPresumptiveIncomeCashInBank'].value}}
                    </div>
                    <div style="color: red;"  *ngIf="natureOfBusinessForm.controls['presumptiveIncomeRecievedCash'].hasError('max')">
                        Amount can not exceed receipt.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td><input type="number" disabled formControlName="received44ADtaotal" maxlength="8"></td>
                <td><input type="number" disabled formControlName="presumptive44ADtotal" maxlength="8"></td>
            </tr>
        </table>

    </mat-card><br>

    <mat-card>
        <p class="subLabel">Presumptive Business Income U/S 44ADA</p>
        <div class="card__row">
            <div class="card__col-lg-6">
                <mat-form-field appearance="outline">
                    <mat-label>Nature of business</mat-label> <!-- type="text"-->
                    <input placeholder="Nature of business" aria-label="Assignee" matInput
                        formControlName="natureOfBusiness44ADA" [matAutocomplete]="auto2" (blur)="getCodeFromLabelOnBlur44ADA()">
                    <!-- <i class="material-icons align-arrow-right">arrow_drop_down</i>-->
                    <mat-error *ngIf="natureOfBusinessForm['controls'].natureOfBusiness44ADA.invalid">
                        Please select value from dropdown only.
                    </mat-error>
                    <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">   <!--(optionSelected)="getCodeFromLabelOnBlur()"-->
                        <mat-option *ngFor="let option of filteredOptions44ADA | async" [value]="option.label">
                            {{option.label}}-{{option.code}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="card__col-lg-4">
                <mat-form-field appearance="outline">
                    <mat-label>Trade Name</mat-label>
                    <input matInput placeholder="Trade Name" disabled formControlName="tradeName44ADA" (blur)="getCodeFromLabelOnBlur44ADA()" maxlength="75" autocomplete="off">
                    <!-- <mat-error *ngIf="natureOfBusinessForm['controls'].tradeName44ADA.hasError('pattern')">
                        Name should contain character only
                    </mat-error> -->
                </mat-form-field>
            </div>
        </div><br>

        <table>
            <tr>
                <th><b>Particulars</b></th>
                <th><b>Gross Receipts</b></th>
                <th><b>Presumptive Income</b></th>
            </tr>
            <tr>
                <td><b>Gross Receipts</b></td>
                <td>  <input
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="8"
                    formControlName="grossReciept"
                    (blur)="calprofessionPresumptiveIncome(natureOfBusinessForm.controls['grossReciept'].value)"></td>
                <td></td>
            </tr>
            <tr>
                <td>Presumptive Income at 50%</td>
                <td></td>
                <td>
                    <input type="number" formControlName="presumptiveIncome" maxlength="8">
                    <div style="color: red;"  *ngIf="natureOfBusinessForm.controls['presumptiveIncome'].hasError('min')">
                        Minimum value must be {{natureOfBusinessForm.controls['minimumPresumptiveIncome'].value}}
                    </div>
                    <div style="color: red;"  *ngIf="natureOfBusinessForm.controls['presumptiveIncome'].hasError('max')">
                        Amount can not exceed receipt.
                    </div>
                </td>
            </tr>
        </table>

    </mat-card><br>
    
    <mat-card>
        <p class="subLabel">Financial Information as on 31/03/2020</p><br>
        <!-- <span style="font-size: 15px;"><b>Liabilities:</b></span>
        <div class="card__row">
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Pertner's/Member's capital or Own capital</mat-label>
                    <input matInput placeholder="Pertner's/Member's capital or Own capital" formControlName="membersOwnCapital"
                       maxlength="8" autocomplete="off"
                        type="number" (blur)="calTotalLiabilities()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Secured loan</mat-label>
                    <input matInput placeholder="Secured loan" formControlName="securedLoans"
                       maxlength="8" autocomplete="off"
                        type="number" (blur)="calTotalLiabilities()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Unsecured loan</mat-label>
                    <input matInput placeholder="Unsecured loan" formControlName="unSecuredLoans"
                       maxlength="8" autocomplete="off"
                        type="number" (blur)="calTotalLiabilities()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Advances</mat-label>
                    <input matInput placeholder="Advances" formControlName="advances"
                       maxlength="8" autocomplete="off"
                        type="number" (blur)="calTotalLiabilities()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Sundry creditors</mat-label>
                    <input matInput placeholder="Sundry creditors" formControlName="sundryCreditorsAmount"
                       maxlength="8" autocomplete="off"
                        type="number" required (blur)="calTotalLiabilities()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Other liabilities</mat-label>
                    <input matInput placeholder="Other liabilities" formControlName="otherLiabilities"
                       maxlength="8" autocomplete="off"
                        type="number" (blur)="calTotalLiabilities()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>

            <div class="card__col-lg-3" style="float: right;">
                <mat-form-field appearance="outline">
                    <mat-label>Total liabilities</mat-label>
                    <input matInput placeholder="Total liabilities" readonly formControlName="totalCapitalLiabilities" autocomplete="off">
                </mat-form-field>
            </div>
        </div><br>

        <span style="font-size: 15px;"><b>Assets:</b></span>
        <div class="card__row">
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Fixed assets</mat-label>
                    <input matInput placeholder="Fixed assets" formControlName="fixedAssets"
                       maxlength="8" autocomplete="off"
                        type="number" (blur)="calTotalAssets()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Inventories</mat-label>
                    <input matInput placeholder="Inventories" formControlName="inventories"
                       maxlength="8" autocomplete="off"
                        type="number" required (blur)="calTotalAssets()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Sundry debtors</mat-label>
                    <input matInput placeholder="Sundry debtors" formControlName="sundryDebtorsAmount"
                       maxlength="8" autocomplete="off"
                        type="number" required (blur)="calTotalAssets()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Balance with Bank</mat-label>
                    <input matInput placeholder="Balance with Bank" formControlName="balanceWithBank"
                       maxlength="8" autocomplete="off"
                        type="number" (blur)="calTotalAssets()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Cash in hand</mat-label>
                    <input matInput placeholder="Cash in hand" formControlName="cashInHand"
                       maxlength="8" autocomplete="off"
                        type="number" required (blur)="calTotalAssets()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Loans and advance</mat-label>
                    <input matInput placeholder="Loans and advance" formControlName="loanAndAdvances"
                       maxlength="8" autocomplete="off"
                        type="number" (blur)="calTotalAssets()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Other assets</mat-label>
                    <input matInput placeholder="Other assets" formControlName="otherAssets"
                       maxlength="8" autocomplete="off"
                        type="number" (blur)="calTotalAssets()"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </mat-form-field>
            </div>
            <div class="card__col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Total Assets</mat-label>
                    <input matInput placeholder="Total Assets" readonly formControlName="totalAssets" autocomplete="off">
                </mat-form-field>
            </div>
            
        </div><br><br> -->

     
        <div class="card__row">
            <div class="card__col-lg-6">
                <span style="font-size: 15px;"><b>Liabilities:</b></span><br>

                <table>
                    <tr>
                        <th><b>S No.</b></th>
                        <th><b>Particulars</b></th>
                        <th><b>Amount</b></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Partner's/Members own capitals</td>
                        <td>
                             <input  placeholder="Pertner's/Member's capital or Own capital" formControlName="membersOwnCapital"
                               maxlength="8" autocomplete="off"
                                type="number" (blur)="calTotalLiabilities()"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Secured Loans  </td>
                        <td>
                            <input placeholder="Secured loan" formControlName="securedLoans"
                             maxlength="8" autocomplete="off"
                             type="number" (blur)="calTotalLiabilities()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Unsecured Loans</td>
                        <td>
                            <input placeholder="Unsecured loan" formControlName="unSecuredLoans"
                             maxlength="8" autocomplete="off"
                             type="number" (blur)="calTotalLiabilities()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Advances</td>
                        <td>
                            <input placeholder="Advances" formControlName="advances"
                             maxlength="8" autocomplete="off"
                             type="number" (blur)="calTotalLiabilities()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Sundry creditors</td>
                        <td>
                            <input  placeholder="Sundry creditors" formControlName="sundryCreditorsAmount"
                             maxlength="8" autocomplete="off"
                             type="number" required (blur)="calTotalLiabilities()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Other Liabilities</td>
                        <td>
                            <input placeholder="Other liabilities" formControlName="otherLiabilities"
                             maxlength="8" autocomplete="off"
                             type="number" (blur)="calTotalLiabilities()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total Liabilities</b></td>
                        <td>
                            <input placeholder="Total liabilities" readonly formControlName="totalCapitalLiabilities" autocomplete="off">
                        </td>
                    </tr>
                </table>
            </div>

            <div class="card__col-lg-6">
                <span style="font-size: 15px;"><b>Assets:</b></span><br>
                <table>
                    <tr>
                        <th><b>S No.</b></th>
                        <th><b>Particulars</b></th>
                        <th><b>Amount</b></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fixed Assets</td>
                        <td>
                            <input placeholder="Fixed assets" formControlName="fixedAssets"
                             maxlength="8" autocomplete="off"
                             type="number" (blur)="calTotalAssets()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Inventories</td>
                        <td>
                            <input placeholder="Inventories" formControlName="inventories"
                             maxlength="8" autocomplete="off"
                             type="number" required (blur)="calTotalAssets()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sundry debtors</td>
                        <td>
                            <input placeholder="Sundry debtors" formControlName="sundryDebtorsAmount"
                             maxlength="8" autocomplete="off"
                             type="number" required (blur)="calTotalAssets()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Balance with Bank</td>
                        <td>
                            <input placeholder="Balance with Bank" formControlName="balanceWithBank"
                             maxlength="8" autocomplete="off"
                             type="number" (blur)="calTotalAssets()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Cash in Hand</td>
                        <td>
                            <input placeholder="Cash in hand" formControlName="cashInHand"
                             maxlength="8" autocomplete="off"
                             type="number" required (blur)="calTotalAssets()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Loans and Advance</td>
                        <td>
                            <input placeholder="Loans and advance" formControlName="loanAndAdvances"
                             maxlength="8" autocomplete="off"
                             type="number" (blur)="calTotalAssets()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Other assets</td>
                        <td>
                            <input placeholder="Other assets" formControlName="otherAssets"
                             maxlength="8" autocomplete="off"
                             type="number" (blur)="calTotalAssets()"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total Assets</b></td>
                        <td>
                            <input placeholder="Total Assets" readonly formControlName="totalAssets" autocomplete="off">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-card><br><br>
</form>