<div class="page-wrapper">
    <!-- left side bar start -->
    <aside class="aside-left">
        <div class="frameL">
            <div class="contents">
                <div class="field-text">Leader Dashboard</div>
            </div>
            <div class="div">
                <div class="text-wrapper">My Tasks</div>
                <img class="mingcute-down-fill" src="assets/img/new/up.png" />
            </div>
            <div class="div-2">
                <div class="field-text-wrapper">
                    <div class="field-text">My Users</div>
                </div>
                <div class="field-text-wrapper">
                    <div class="field-text-2">Scheduled Calls</div>
                </div>
                <div class="div-wrapper">
                    <div class="text-wrapper">ITRs</div>
                </div>
                <div class="field-text-wrapper">
                    <div class="field-text">Create User</div>
                </div>
                <div class="field-text-wrapper">
                    <div class="field-text">Potential Users</div>
                </div>
            </div>
            <div class="contents">
                <div class="field-text">SME Management</div>
            </div>
            <div class="contents">
                <div class="field-text">Subscription</div>
            </div>
            <div class="contents">
                <div class="field-text">Invoice</div>
            </div>
            <div class="contents">
                <div class="field-text">Payouts</div>
            </div>
            <div class="contents">
                <div class="field-text">Bulk Status Update</div>
            </div>
            <div class="contents">
                <div class="field-text">All Users</div>
            </div>
            <div class="contents">
                <div class="field-text">Review</div>
            </div>
            <div class="contents">
                <div class="field-text">BO-Partners</div>
            </div>
            <div class="contents">
                <div class="field-text">Promo Codes</div>
            </div>
            <div class="contents">
                <div class="field-text">Academic Courses</div>
            </div>
        </div>
    </aside>
    <!-- left side bar ends -->

   
        <!-- main area -->
        <main>
          <!-- breadcrumb area -->
          <div class="rectangleB">
            <div class="frameB">
                <div class="large-title">Prefill Data</div>
                <div class="text-wrapper">&gt;</div>
                <div class="large-title">Sources of Income</div>
                <div class="text-wrapper">&gt;</div>
                <div class="large-title">Business of Proffesional Income</div>
            </div>
            </div>
    <!-- breadcrumb area ends -->

            <div class="frameC">
                <h1 class="heading__title">Speculative/Non Speculative income</h1>
                <div class="space">
                    <div class="wrapper">
                        <div class="div-4">
                            <div class="frame-wrapper-2A">
                              <div class="accordion" id="myAccordion"> 

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading1">
                                      <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse1">Nature of Business</button>
                    
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                                        <div class="accordion__item-body">
                                            <div class="row">
                                                <div class="col-9">
                                                    <div class="gray_box">
                                                        <div class="div-6 ">
                                                            <div class="form-field">
                                                                <div><span class="normal_text">Nature of Business </span> <span
                                                                        class="text-wrapper-2">*</span></div>
                                                                <div class="form-control-wrapper select_arrow">
                                                                    <select class="form-control inpplac "
                                                                        id="exampleFormControlSelect1">
                                                                        <option>Select</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-field">
                                                                <div><span class="normal_text">Trade Name </span> <span
                                                                        class="text-wrapper-2">*</span></div>
                                                                <input type="text" class="form-control inpplac"
                                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                    placeholder="">
                                                            </div>
                                                            <div class="form-field">
                                                                <div><span class="normal_text">Business Description </span> <span
                                                                        class="text-wrapper-2">*</span></div>
                                                                <input type="text" class="form-control inpplac"
                                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                    placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-3 mt-20">
                                                    <div class="ml-20">
                                                        <i class="fa fa-trash-o delbt mr-20"></i>
                                                        <button class="btn btn__add btn__default"> Add Another</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>

                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading2">
                                      <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse2">Direct Upload From Statement</button>
                    
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                                        <div class="accordion__item-body">
                                            <div class="surround_text">
                                                <div class="row mb-20">
                                                    <div class="col-5 align_self">
                                                        <p class="normal_text">Upload Capital Gain/F&O Statement</p>
                                                    </div>
                                                    <div class="col-7">
                                                        <button class="btn btn__primary"><i
                                                                class="fa-solid fa-arrow-up-from-bracket"></i> Manual
                                                            Upload</button>
                                                        <button class="btn btn__primary"><i class="fa-regular fa-cloud"></i> Upload
                                                            From Cloud</button>
                                                    </div>
                                                </div>
            
                                                <div class="row">
                                                    <div class="col-7 align_self">
                                                        <p class="normal_text">Use Taxbuddy Template</p>
                                                    </div>
                                                    <div class="col-5">
                                                        <button class="btn btn__primary"><i class="fa fa-download"
                                                                aria-hidden="true"></i> Download Taxbuddy Template</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>

                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading3">
                                      <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse3">Non Speculative Income</button>
                    
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                                        <div class="accordion__item-body">
                                            <h2 class="inner_accordion-title">
                                                Trading Account
                                            </h2>
                                            <div class="gray_container">
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Turnover</span> <span
                                                                class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                                                    </div>
                                                </div>
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Closing stocks finished goods</span> <span
                                                                class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                                                    </div>
                                                </div>
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Total Credits to trading account</span> <span
                                                                class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac disable"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                </div>
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Opening stock of finished goods</span> <span
                                                                class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                                                    </div>
                                                </div>
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Purcahses</span> <span
                                                                class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                                                    </div>
                                                </div>
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Trading expense</span> <span
                                                                class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac " id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                                                    </div>
                                                </div>
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Gross profit from trading account</span>
                                                            <span class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac disable"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                </div>
                                            </div>
            
                                            <h2 class="inner_accordion-title">
                                                Profit & Loss Account
                                            </h2>
                                            <div class="gray_container">
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Other Income</span> <span
                                                                class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                                                    </div>
                                                </div>
                                                <div class="row gray_box">
                                                    <div class="col-8">
                                                        <div class="div-6 ">
                                                            <div class="form-field">
                                                                <div><span class="normal_text">Income Type</span><span
                                                                        class="text-wrapper-2">*</span></div>
                                                                <div class="form-control-wrapper select_arrow">
                                                                    <select class="form-control inpplac "
                                                                        id="exampleFormControlSelect1">
                                                                        <option>Select</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-field">
                                                                <div><span class="normal_text">Amount </span><span
                                                                        class="text-wrapper-2">*</span></div>
                                                                <input type="text" class="form-control inpplac"
                                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                    placeholder="₹ Enter Amount">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 align_self mt-20">
                                                        <div class="ml-20">
                                                            <i class="fa fa-trash-o delbt mr-20"></i>
                                                            <button class="btn btn__add btn__default">Add Another</button>
                                                        </div>
                                                    </div>
                                                </div>
            
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Other expenses</span><span
                                                                class="text-wrapper-2">*</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                                                    </div>
                                                </div>
                                                <div class="row gray_box">
                                                    <div class="col-8">
                                                        <div class="div-6 ">
                                                            <div class="form-field">
                                                                <div><span class="normal_text">Expense Type </span><span
                                                                        class="text-wrapper-2">*</span></div>
                                                                <div class="form-control-wrapper select_arrow">
                                                                    <select class="form-control inpplac "
                                                                        id="exampleFormControlSelect1">
                                                                        <option>Select</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-field">
                                                                <div><span class="normal_text">Amount</span><span
                                                                        class="text-wrapper-2">*</span></div>
                                                                <input type="text" class="form-control inpplac"
                                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                    placeholder="₹ Enter Amount">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 align_self mt-20">
                                                        <div class="ml-20">
                                                            <i class="fa fa-trash-o delbt mr-20"></i>
                                                            <button class="btn btn__add btn__default">Add Another</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Net Profit</span> <span
                                                                class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac disable"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>

                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading4">
                                      <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse4">Speculative Income</button>
                    
                                    </h2>
                                    <div id="collapse4" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                                        <div class="accordion__item-body">
                                            <div class="gray_container">
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Turnover from Speculative activity</span>
                                                            <span class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                                                    </div>
                                                </div>
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Gross Profit</span> <span
                                                                class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                                                    </div>
                                                </div>
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">Expenditure</span> <span
                                                                class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                                                    </div>
                                                </div>
                                                <div class="div-6 mb-20">
                                                    <div class="form-field">
                                                        <div><span class="normal_text">net Income from Speculative activity</span>
                                                            <span class="text-wrapper-2">*</span> </div>
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="text" class="form-control inpplac disable"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>

                        </div>
                        </div>
                        </div>
                        

                        <div class="out-box">
                            <div class="box-left">
                                <button class="btn btn__white">Back</button>
                            </div>
                            <div class="box-right">
                                <button class="btn btn__primary">Save & View Summary</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
  

    <!-- right side summary -->
    <aside class="aside-right">
        <button class="side_btn btn__summary" onclick="openForm()">Show Summary</button>
        <div class="form-popup" id="myForm">
            <div class="frameS">
                <div class="contents-wrapper">
                    <h2 class="sidebar_item-title" onclick="closeForm()">Summary</h2>
                </div>
                <div class="space">
                    <div class="divider_border">
                        <div class="div mb-20">
                            <div class="field-wrapper ">
                                <div class="field-2">
                                    <div class="field-label-2 hedTx">Particulars</div>
                                    <div class="field-label-3 hedTx">All Employers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div divider_border">
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">17 (1)</div>
                                <div class="field-label-3">₹ 40,00,000</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">17 (2)</div>
                                <div class="field-label-3">₹0</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">17 (3)</div>
                                <div class="field-label-3">₹0</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">Gross Salary</div>
                                <div class="field-label-3">₹0</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">Exemptions u/s 10</div>
                                <div class="field-label-3">₹0</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">Net Salary</div>
                                <div class="field-label-3">₹ 50,000</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">Deduction u/s 16</div>
                                <div class="field-label-3">₹ 50,000</div>
                            </div>
                        </div>
                    </div>
                    <!-- <img class="img" src="img/line-2.svg" /> -->
                    <div class="field-wrapper">
                        <div class="field-2">
                            <div class="field-label-2 hedTx">Taxable Salary</div>
                            <div class="field-label-3 hedTx">₹ 39,50,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- right side summary ends-->
</div>
<!-- main area ends -->