<h1 mat-dialog-title> Investment details for "{{this.data.assetClassName}}"</h1>

<mat-dialog-content>
  <form [formGroup]="investmentForm">
    <div class="card__row">
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <mat-select placeholder="Investment Under Section" name="underSection" formControlName="underSection"
            (selectionChange)="changeInvestmentSection('HTML')">
            <mat-option value="54" *ngIf="data.gainType === 'LONG'"> 54 </mat-option>
            <mat-option value="54B"> 54B </mat-option>
            <mat-option value="54EC" *ngIf="data.gainType === 'LONG'"> 54EC </mat-option>
            <mat-option value="54F" *ngIf="data.gainType === 'LONG'"> 54F </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="card__row" *ngIf="investmentForm.controls['underSection'].valid">
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field>
          <input matInput readonly formControlName="purchaseDate" readonly name="purchaseDate"
            [matDatepicker]="purchaseDate" placeholder="Date of Purchase">
          <mat-datepicker-toggle matSuffix [for]="purchaseDate"></mat-datepicker-toggle>
          <mat-datepicker #purchaseDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput currencyMask type="number" formControlName="costOfNewAssets" placeholder="Cost of New Asset"
            name="costOfNewAssets" class="input-field" maxlength="14" (blur)="blurCostOfNewAssets()"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="investmentForm.controls['costOfNewAssets'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6"
        *ngIf="investmentForm.controls['underSection'].value !== '54EC' && investmentForm.controls['underSection'].value !== '54EE'">
        <mat-form-field class="input-field-width">
          <input matInput currencyMask type="number" formControlName="investmentInCGAccount"
            placeholder="Amount Deposited in CGAS" name="investmentInCGAccount" class="input-field" maxlength="14"
            (blur)="blurCGASAccount()"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="investmentForm.controls['investmentInCGAccount'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput currencyMask type="number" formControlName="totalDeductionClaimed"
            placeholder="Deduction Claimed" name="totalDeductionClaimed" class="input-field" maxlength="14"
            [disabled]="true"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="investmentForm.controls['totalDeductionClaimed'].hasError('pattern')">Enter
            valid amount.</mat-error>
          <mat-error *ngIf="investmentForm.controls['totalDeductionClaimed'].hasError('max')">Maximum value should
            be {{maxForDeduction}}.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row dialog-button" *ngIf="investmentForm.controls['underSection'].valid">
      <div class="sub_btn top-space">
        <button type="submit" class="tbd-btn" (click)="saveInvestments()">
          Save</button>
        <button class="tbd-btn-secondary" (click)="cancelInvestments()" mat-dialog-close>Cancel</button>
      </div>
    </div>
  </form>
</mat-dialog-content>