<div class="main clearfix">
    <!--  <div class="align-items-center row">-->
    <!--    <div class="col-sm-10">-->
    <!--      <b style="font-size: 20px">Exceptions</b>-->
    <!--    </div>-->
    <!--  </div>-->
    <div class="tab">
        <ul class="tab__container clearfix">
            <li class="tab__item active" routerLinkActive="tab__item_active">
                <a class="tab__link" (click)="view='attendance'">Attendance Report</a>
            </li>
            <li class="tab__item active" routerLinkActive="tab__item_active">
                <a class="tab__link" (click)="view='leader'">Leader Dashboard</a>
            </li>
            <li class="tab__item active" routerLinkActive="tab__item_active">
                <a class="tab__link" (click)="view='team'">Team Report</a>
            </li>
        </ul>
    </div>
    <div *ngIf="view === 'leader'">
        <app-sub-leader-dashboard></app-sub-leader-dashboard>
    </div>
    <div *ngIf="view === 'attendance'">
        <app-leader-attendance-dashboard></app-leader-attendance-dashboard>
    </div>

    <div *ngIf="view === 'team'">
        <app-team-report-dashboard></app-team-report-dashboard>
    </div>

</div>