.subTitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: -0.022em;

  color: #1E1E1E;
}

.inputLabel {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14.4296px;
  line-height: 14px;
  margin-bottom: 10px;
  /* identical to box height, or 100% */

  letter-spacing: -0.009em;

  /* Neutral/Neutral 1100 [day] */

  color: #07070C;
}
