<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"
></ngx-loading>
<mat-accordion class="headers-align mrgArd">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon> arrow_forward_ios </mat-icon>
        Other incomes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="card">
      <form [formGroup]="otherIncomeFormGroup">
        <div class="col-sm-12">
          <div>
            <table class="table table-bordered" style="width: 100%">
              <thead style="background: #eaeaea">
                <tr class="table-head">
                  <th class="text-center">Salary Type</th>
                  <th class="text-center">Gross Amount</th>
                </tr>
              </thead>
              <tbody formArrayName="otherIncomes">
                <tr
                  *ngFor="let income of getIncomeArray.controls; let i = index"
                  [formGroupName]="i"
                >
                  <td>
                    {{ income.value.label }}
                  </td>

                  <td>
                    <mat-form-field
                      class="input-field-width"
                      style="width: 90% !important"
                    >
                      <input
                        type="text"
                        trim
                        matInput
                        placeholder=""
                        name="incomeValue[i]"
                        formControlName="incomeValue"
                        type="number"
                        class="input-field"
                        maxlength="125"
                      />
                    </mat-form-field>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <hr />
          <div style="padding-top: 20px" formGroupName="dividendIncomes">
            <div class="row">
              <div class="col-sm-6">
                <div class="subTitle">
                  Quartely Break-up of Dividend Income:
                </div>
              </div>
              <div class="col-sm-6">
                <div class="count1">
                  Total Count: <span class="txClr1">{{ getTotal() }}</span>
                </div>
              </div>
            </div>

            <div class="row spsTp bdrTp">
              <div class="col-sm-4">
                <mat-label class="inputLabel">Upto 15 June 2022</mat-label>
                <mat-form-field appearance="outline">
                  <input
                    digitsOnly
                    trim
                    matInput
                    placeholder="Upto 15 June 2022"
                    name="quarter1"
                    formControlName="quarter1"
                    class="input-field"
                    maxlength="50"
                    digitsOnly
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label class="inputLabel"
                  >16 June 2022 - 15 Sep 2022</mat-label
                >
                <mat-form-field appearance="outline">
                  <input
                    digitsOnly
                    trim
                    matInput
                    placeholder="16 June 2022 - 15 Sep 2022"
                    name="quarter2"
                    formControlName="quarter2"
                    class="input-field"
                    maxlength="50"
                    digitsOnly
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-label class="inputLabel"
                  >16 Sep 2022 - 15 Dec 2022</mat-label
                >
                <mat-form-field appearance="outline">
                  <input
                    digitsOnly
                    trim
                    matInput
                    placeholder="16 Sep 2022 - 15 Dec 2022"
                    name="quarter3"
                    formControlName="quarter3"
                    class="input-field"
                    maxlength="50"
                    digitsOnly
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-4 spsTp">
                <mat-label class="inputLabel"
                  >16 Dec 2022 - 15 March 2023</mat-label
                >
                <mat-form-field appearance="outline">
                  <input
                    digitsOnly
                    trim
                    matInput
                    placeholder="16 Dec 2022 - 15 March 2023"
                    name="quarter4"
                    formControlName="quarter4"
                    class="input-field"
                    maxlength="50"
                    digitsOnly
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-4 spsTp">
                <mat-label class="inputLabel"
                  >16 March 2023 - 31 March 2023</mat-label
                >
                <mat-form-field appearance="outline">
                  <input
                    digitsOnly
                    trim
                    matInput
                    placeholder="16 March 2023 - 31 March 2023"
                    name="quarter5"
                    formControlName="quarter5"
                    class="input-field"
                    maxlength="50"
                    digitsOnly
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <hr />

          <div class="subTitle">
            Family Pension:
            <!-- <span style="float: right;">Total:{{getTotalExemptIncome()}}</span> -->
          </div>
          <div class="row">
            <div class="col-sm-4 spsTp">
              <mat-label class="inputLabel">Family pension</mat-label>
              <mat-form-field appearance="outline">
                <input
                  digitsOnly
                  trim
                  matInput
                  placeholder="Family pension"
                  name="quarter1"
                  formControlName="familyPension"
                  class="input-field"
                  maxlength="50"
                  digitsOnly
                  (blur)="calFamPension()"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4 spsTp">
              <mat-label class="inputLabel"
                >(-) Deduction u/s 57(iia)</mat-label
              >
              <mat-form-field appearance="outline">
                <input
                  digitsOnly
                  trim
                  matInput
                  name="quarter2"
                  class="input-field"
                  formControlName="famPenDeduction"
                  digitsOnly
                  [disabled]="true"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4 spsTp">
              <mat-label class="inputLabel">Total Family Pension</mat-label>
              <mat-form-field appearance="outline">
                <input
                  digitsOnly
                  trim
                  matInput
                  name="quarter3"
                  class="input-field"
                  formControlName="totalFamPenDeduction"
                  digitsOnly
                  [disabled]="true"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon> arrow_forward_ios </mat-icon>
        Exempted Incomes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="card__col-xs-12 card__col-sm-12">
      <div class="sectionTitle" style="padding: 10px; font-size: 20px">
        <div class="count1">
          Total Count: <span class="txClr1">{{ getTotalExemptIncome() }}</span>
        </div>
      </div>
      <form [formGroup]="exemptIncomeFormGroup">
        <div>
          <table class="table table-bordered">
            <thead style="background: #eaeaea">
              <tr class="table-head">
                <th class="text-center">Sr. No</th>
                <th class="text-center">Allowance Type</th>
                <th class="text-center">Exempt Amount</th>
              </tr>
            </thead>
            <tbody formArrayName="exemptIncomes">
              <tr
                *ngFor="
                  let income of getExemptIncomeArray.controls;
                  let i = index
                "
                [formGroupName]="i"
              >
                <td>{{ i + 1 }}</td>
                <td class="label-td note">
                  {{ income.value.label }}

                  <!-- Additional fields for AGRI -->
                  <div
                    [formGroup]="agriIncFormGroup"
                    *ngIf="income.value.incomeType === 'AGRI' && false"
                    class="surround"
                  >
                    <div class="note" style="margin-left: 25px">
                      Agriculture Details
                    </div>
                    <div>
                      <!-- grossAgriculturalReceipts -->
                      <div class="flex justify-between align-items-center">
                        <mat-label style="margin-left: 25px"
                          >Gross Agricultural Receipts</mat-label
                        >
                        <div class="col-sm-2" style="margin-right: 75px">
                          <mat-form-field appearance="outline">
                            <input
                              type="number"
                              trim
                              matInput
                              placeholder=""
                              name="grossAgriculturalReceipts[i]"
                              formControlName="grossAgriculturalReceipts"
                              maxlength="125"
                              (change)="setNetAgriIncome(i)"
                            />
                          </mat-form-field>
                        </div>
                      </div>

                      <!-- expenditureIncurredOnAgriculture -->
                      <div class="flex justify-between align-items-center">
                        <mat-label style="margin-left: 25px"
                          >Expenditure incurred on agriculture</mat-label
                        >
                        <div class="col-sm-2" style="margin-right: 75px">
                          <mat-form-field appearance="outline">
                            <input
                              type="number"
                              trim
                              matInput
                              placeholder=""
                              name="expenditureIncurredOnAgriculture[i]"
                              formControlName="expenditureIncurredOnAgriculture"
                              class="input-field"
                              maxlength="125"
                              (change)="setNetAgriIncome(i)"
                            />
                          </mat-form-field>
                        </div>
                      </div>

                      <!-- unabsorbedAgriculturalLoss -->
                      <div class="flex justify-between align-items-center">
                        <mat-label style="margin-left: 25px"
                          >Unabsorbed agricultural loss of the previous eight
                          assessment years</mat-label
                        >
                        <div class="col-sm-2" style="margin-right: 75px">
                          <mat-form-field appearance="outline">
                            <input
                              type="number"
                              trim
                              matInput
                              placeholder=""
                              name="unabsorbedAgriculturalLoss[i]"
                              formControlName="unabsorbedAgriculturalLoss"
                              class="input-field"
                              maxlength="125"
                              (change)="setNetAgriIncome(i)"
                            />
                          </mat-form-field>
                        </div>
                      </div>

                      <!-- agriIncomePortionRule7 -->
                      <div class="flex justify-between align-items-center">
                        <mat-label style="margin-left: 25px"
                          >The agricultural income portion relating to rules 7,
                          7A, 7B(1), 7B(1A) & 8</mat-label
                        >
                        <div class="col-sm-2" style="margin-right: 75px">
                          <mat-form-field appearance="outline">
                            <input
                              type="number"
                              trim
                              matInput
                              placeholder=""
                              name="agriIncomePortionRule7[i]"
                              formControlName="agriIncomePortionRule7"
                              class="input-field"
                              maxlength="125"
                              (change)="setNetAgriIncome(i)"
                              readonly
                            />
                          </mat-form-field>
                        </div>
                      </div>

                      <!-- netAgriculturalIncome -->
                      <div class="flex justify-between align-items-center">
                        <mat-label style="margin-left: 25px"
                          >Net Agricultural income</mat-label
                        >
                        <div class="col-sm-2" style="margin-right: 75px">
                          <mat-form-field appearance="outline">
                            <input
                              type="number"
                              trim
                              matInput
                              placeholder=""
                              name="netAgriculturalIncome[i]"
                              formControlName="netAgriculturalIncome"
                              class="input-field"
                              maxlength="125"
                              readonly
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <!-- agriculture income details -->
                    <div
                      class="surround"
                      *ngIf="
                        income.value.incomeType === 'AGRI' &&
                        income.value.incomeValue > 500000
                      "
                      formArrayName="agriInc"
                    >
                      <div
                        class="flex align-items-center justify-between"
                        style="margin: 0px 25px 25px 25px"
                      >
                        <div class="note">Agriculture Income Details</div>
                        <button (click)="addAgriLandDtls()">+Add More</button>
                      </div>
                      <div
                        *ngFor="
                          let agriIncArray of getAgriIncomeArray.controls;
                          let j = index
                        "
                        [formGroupName]="j"
                      >
                        <div style="margin: 0px 25px 25px 25px">
                          <!-- checkbox -->
                          <div class="flex justify-between align-items-center">
                            <div class="custom-control custom-checkbox">
                              <input
                                class="checkbox checkbox-secondary rounded border-2 w-[18px] h-[18px] mb-[-6px]"
                                type="checkbox"
                                (click)="$event.stopPropagation()"
                                [checked]="selectedIndexes.includes(j)"
                                (click)="toggleSelectedIndex(j)"
                              />
                            </div>

                            <!-- name of district -->
                            <div class="col-sm-5">
                              <mat-label style="margin-bottom: 16px"
                                >Name Of District</mat-label
                              >
                              <mat-form-field appearance="outline">
                                <input
                                  trim
                                  matInput
                                  placeholder="Name of District"
                                  name="nameOfDistrict[j]"
                                  formControlName="nameOfDistrict"
                                  class="input-field"
                                />
                              </mat-form-field>
                            </div>

                            <!-- landInAcre -->
                            <div class="col-sm-3">
                              <mat-label
                                >Measurement of agricultural land* (In acres)
                              </mat-label>
                              <mat-form-field appearance="outline">
                                <input
                                  trim
                                  matInput
                                  placeholder="land In Acre"
                                  name="landInAcre[j]"
                                  formControlName="landInAcre"
                                  class="input-field"
                                />
                              </mat-form-field>
                            </div>

                            <!-- pincode -->
                            <div class="col-sm-3">
                              <mat-label style="margin-bottom: 16px"
                                >Pincode</mat-label
                              >
                              <mat-form-field appearance="outline">
                                <input
                                  trim
                                  matInput
                                  placeholder="Pincode"
                                  name="pinCode[j]"
                                  formControlName="pinCode"
                                  class="input-field"
                                />
                              </mat-form-field>
                            </div>
                          </div>
                          <br />

                          <!-- owner -->
                          <div class="flex justify-between align-items-center">
                            <mat-label
                              >Whether the agricultural land is owned or held on
                              lease*</mat-label
                            >
                            <mat-radio-group
                              name="owner[j]"
                              formControlName="owner"
                              placeholder="owner"
                              required
                            >
                              <mat-radio-button
                                [value]="'O'"
                                style="margin-left: 0px; margin-right: 2px"
                                labelPosition="before"
                              >
                                Owner
                              </mat-radio-button>
                              <mat-radio-button
                                [value]="'H'"
                                labelPosition="before"
                              >
                                Held on lease
                              </mat-radio-button>
                            </mat-radio-group>
                          </div>
                          <br />

                          <!-- typeOfLand -->
                          <div class="flex justify-between align-items-center">
                            <mat-label
                              >Whether the agricultural land is irrigated or
                              rain-fed?
                            </mat-label>
                            <mat-radio-group
                              name="typeOfLand[j]"
                              formControlName="typeOfLand"
                              placeholder="Type Of Land"
                            >
                              <mat-radio-button
                                [value]="'IRG'"
                                style="margin-left: 0px; margin-right: 2px"
                                labelPosition="before"
                              >
                                Irrigated
                              </mat-radio-button>
                              <mat-radio-button
                                [value]="'RF'"
                                labelPosition="before"
                              >
                                Rain-fed
                              </mat-radio-button>
                            </mat-radio-group>
                          </div>
                        </div>
                      </div>
                      <div (click)="delete()">
                        <button>Delete</button>
                      </div>
                    </div>
                  </div>
                </td>

                <td>
                  <!--                      [readonly]="income.value.incomeType === 'AGRI'"-->
                  <mat-form-field appearance="outline">
                    <input
                      type="number"
                      trim
                      matInput
                      placeholder=""
                      name="incomeValue[i]"
                      formControlName="incomeValue"
                      class="input-field"
                      maxlength="125"
                    />
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="note">
          Note: 1. Sec 10(26) - Deduction is available only for certain category
          of assesses of NE Region and Ladakh
          <br />
          Note: 2. Sec 10(26AAA) - Deduction is available only for certain
          Sikkimese assessees
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="flex justify-between p-[30px] back-foot">
  <button class="lgtBtn">
    <mat-icon class="icoAdj">keyboard_backspace</mat-icon>
    <span class="font-semibold" (click)="goBack()"
      >&nbsp;Back to Source Page</span
    >
  </button>

  <button class="saveBtnIn" (click)="saveAll()">
    <span class="font-semibold">Save All</span>
  </button>
</div>
<div class="card__row"></div>
