<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div class="page-wrapper">
  <main>
    <div class="frameC">
      <div class="div">
        <div class="text-wrapper">Other Source of Income</div>
        <div class="mingcute-down-fill"></div>
      </div>
      <div class="space">
        <div class="div-2">

          <div class="frame-wrapper-2A">
            <form [formGroup]="otherIncomeFormGroup">
              <div class="accordion" id="myAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapse1">Interest Income
                      <input type="number" class="form-control inpClr2" disabled value="{{getTotalOtherIncome()}}">
                    </button>

                  </h2>
                  <div id="collapse1" class="accordion-collapse collapse show">
                    <div class="accordion__item-body" formArrayName="otherIncomes" style="padding: 0 24px;">
                      <div class="div-6" *ngFor="let income of getIncomeArray.controls; let i = index"
                        [formGroupName]="i">
                        <div class="form-field">
                          <div><span class="span">{{ income.value.label }} </span></div>
                        </div>
                        <div class="form-field">
                          <mat-form-field appearance="outline">
                            <input type="number" digitsOnly trim matInput placeholder="" name="incomeValue[i]"
                              formControlName="incomeValue" type="number" maxlength="125"
                              (blur)="validateIncomeValueOnBlur()" />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="accordion__item-body" style="padding: 0 24px;">
                      <div class="div-6">
                        <div class="form-field">
                          <div><span class="span mr-5">Interest accrued on contributions to a provident fund</span>
                            <button type="submit" (click)="clearProvidentFund()" class="delbt">
                              <i class="fa fa-broom-wide" aria-hidden="true"></i> Clear
                            </button>
                          </div>
                          <mat-form-field appearance="outline" class="class1">
                            <mat-select formControlName="providentFundLabel">
                              <mat-option *ngFor="let fund of providentFundArray" [value]="fund.incomeType">
                                <span> {{fund.label}}</span>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-field mt-4">
                          <mat-form-field appearance="outline">
                            <input type="text" digitsOnly trim matInput placeholder=""
                              formControlName="providentFundValue" type="number" maxlength="125" />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne">Dividend Income
                      <input type="number" disabled class="form-control inpClr2" [value]="getTotal()"
                        id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="₹0">
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse hide">
                    <div class="accordion__item-body" formGroupName="dividendIncomes">
                      <div class="div-6">
                        <div class="form-field">
                          <div><span class="span">Upto 15th June </span></div>
                          <mat-form-field appearance="outline">
                            <input digitsOnly trim matInput name="quarter1" formControlName="quarter1" maxlength="50"
                              digitsOnly />
                          </mat-form-field>
                        </div>
                        <div class="form-field">
                          <div><span class="span">16th June- 15th Sep</span></div>
                          <mat-form-field appearance="outline">
                            <input digitsOnly trim matInput name="quarter2" formControlName="quarter2" maxlength="50"
                              digitsOnly />
                          </mat-form-field>
                        </div>
                        <div class="form-field">
                          <div><span class="span">16th Sep- 15th Dec </span></div>
                          <mat-form-field appearance="outline">
                            <input digitsOnly trim matInput name="quarter3" formControlName="quarter3" maxlength="50"
                              digitsOnly />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="div-6">
                        <div class="form-field">
                          <div> <span class="span">16th Dec- 15th Mar</span></div>
                          <mat-form-field appearance="outline">
                            <input digitsOnly trim matInput name="quarter4" formControlName="quarter4" maxlength="50"
                              digitsOnly />
                          </mat-form-field>
                        </div>
                        <div class="form-field">
                          <div><span class="span">16th Mar- 31st Mar</span></div>
                          <mat-form-field appearance="outline">
                            <input digitsOnly trim matInput name="quarter5" formControlName="quarter5" maxlength="50"
                              digitsOnly />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="div-6">
                        <div class="form-field">
                          <div><span class="span">Deduction u/s 57(i)</span></div>
                        </div>
                        <div class="form-field">
                          <mat-form-field appearance="outline">
                            <input digitsOnly trim matInput name="deductionUs57One" formControlName="deductionUs57One" maxlength="50" digitsOnly />
                          </mat-form-field>
                          <div *ngIf="otherIncomeFormGroup.get('dividendIncomes')?.errors?.['deductionExceedsLimit']">
                            <span class="error-text" style="color: red;">
                              Deduction cannot exceed 20% of the total Dividend Income.
                            </span>
                          </div>
                        </div>
                        <div class="form-field"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo">Income from Gift
                      <input type="number" class="form-control inpClr2" disabled value="{{getTotalGiftIncome()}}">
                    </button>
                    <div class="note2">Note for Gift- Gift received from Relative will be excluded from the total as
                      it's not part
                      of taxable income.</div>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse hide">
                    <div class="accordion__item-body">
                      <table aria-label="gift" class="table table-bordered" style="width: 100%">
                        <thead style="background: #eaeaea">
                          <tr class="table-head">
                            <th></th>
                            <th class="text-center">Whether GIft is received from Relative</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody formGroupName="giftTax">
                          <tr>
                            <td>
                              Money received without consideration
                            </td>
                            <td class="text-center">
                              <mat-checkbox formControlName="aggregateValueWithoutConsiderationNotTaxable">
                              </mat-checkbox>
                            </td>
                            <td>
                              <mat-form-field class="input-field-width" style="width: 90% !important">
                                <input type="text" digitsOnly trim matInput placeholder=""
                                  formControlName="aggregateValueWithoutConsideration" type="number" class="input-field"
                                  maxlength="125" />
                              </mat-form-field>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Immovable property received without consideration
                            </td>
                            <td class="text-center">
                              <mat-checkbox formControlName="immovablePropertyWithoutConsiderationNotTaxable">
                              </mat-checkbox>
                            </td>
                            <td>
                              <mat-form-field class="input-field-width" style="width: 90% !important">
                                <input type="text" digitsOnly trim matInput placeholder=""
                                  formControlName="immovablePropertyWithoutConsideration" type="number"
                                  class="input-field" maxlength="125" />
                              </mat-form-field>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Immovable property received for inadequate consideration
                            </td>
                            <td class="text-center">
                              <mat-checkbox formControlName="immovablePropertyInadequateConsiderationNotTaxable">
                              </mat-checkbox>
                            </td>
                            <td>
                              <mat-form-field class="input-field-width" style="width: 90% !important">
                                <input type="text" digitsOnly trim matInput placeholder=""
                                  formControlName="immovablePropertyInadequateConsideration" type="number"
                                  class="input-field" maxlength="125" />
                              </mat-form-field>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Any Other property received without consideration
                            </td>
                            <td class="text-center">
                              <mat-checkbox formControlName="anyOtherPropertyWithoutConsiderationNotTaxable">
                              </mat-checkbox>
                            </td>
                            <td>
                              <mat-form-field class="input-field-width" style="width: 90% !important">
                                <input type="text" digitsOnly trim matInput placeholder=""
                                  formControlName="anyOtherPropertyWithoutConsideration" type="number"
                                  class="input-field" maxlength="125" />
                              </mat-form-field>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Any Other property received for inadequate consideration
                            </td>
                            <td class="text-center">
                              <mat-checkbox formControlName="anyOtherPropertyInadequateConsiderationNotTaxable">
                              </mat-checkbox>
                            </td>
                            <td>
                              <mat-form-field class="input-field-width" style="width: 90% !important">
                                <input type="text" digitsOnly trim matInput placeholder=""
                                  formControlName="anyOtherPropertyInadequateConsideration" type="number"
                                  class="input-field" maxlength="125" />
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading4">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapse4">Winning from lotteries, crossword puzzles etc. chargeable u/s 115BB
                      <input type="number" class="form-control inpClr2" disabled value="{{winningsUS115BBTotal}}">
                    </button>
                  </h2>
                  <div id="collapse4" class="accordion-collapse collapse hide">
                    <div class="accordion__item-body" formGroupName="winningsUS115BB">
                      <div class="container px-4">
                        <div class="row">
                          <div class="col p-2">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">Upto 15th June
                                </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" digitsOnly matInput name="quarter1" formControlName="quarter1"
                                  maxlength="125" (mousedown)="onClickRemoveZero('quarter1')"
                                  (blur)="onBlurAddZero('quarter1')" />
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="col p-2">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">16th June- 15th Sep
                                </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" digitsOnly matInput name="quarter2[i]" formControlName="quarter2"
                                  maxlength="125" (mousedown)="onClickRemoveZero('quarter2')"
                                  (blur)="onBlurAddZero('quarter2')" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col p-2">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">
                                  16th Sep- 15th Dec
                                </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" digitsOnly matInput name="quarter3[i]" formControlName="quarter3"
                                  maxlength="125" (mousedown)="onClickRemoveZero('quarter3')"
                                  (blur)="onBlurAddZero('quarter3')" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col p-2">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">16th Dec- 15th Mar
                                </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" digitsOnly matInput name="quarter4[i]" formControlName="quarter4"
                                  maxlength="125" (mousedown)="onClickRemoveZero('quarter4')"
                                  (blur)="onBlurAddZero('quarter4')" />
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="col p-2">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">16th Mar- 31st Mar
                                </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" digitsOnly matInput name="quarter5[i]" formControlName="quarter5"
                                  maxlength="125" (mousedown)="onClickRemoveZero('quarter5')"
                                  (blur)="onBlurAddZero('quarter5')" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 115BBJ -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading5">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapse5">Winnings from Online Games chargeable u/s 115BBJ
                      <input type="number" class="form-control inpClr2" disabled value="{{winningsUS115BBJTotal}}">
                    </button>
                  </h2>
                  <div id="collapse5" class="accordion-collapse collapse hide">
                    <div class="accordion__item-body" formGroupName="winningsUS115BBJ">
                      <div class="container px-4">
                        <div class="row">
                          <div class="col p-2">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">Upto 15th June
                                </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" digitsOnly matInput name="quarter1" formControlName="quarter1"
                                  maxlength="125" (mousedown)="onClick115BBJRemoveZero('quarter1')"
                                  (blur)="onBlur115BBJAddZero('quarter1')" />
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="col p-2">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">16th June- 15th Sep
                                </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" digitsOnly matInput name="quarter2[i]" formControlName="quarter2"
                                  maxlength="125" (mousedown)="onClick115BBJRemoveZero('quarter2')"
                                  (blur)="onBlur115BBJAddZero('quarter2')" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col p-2">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">
                                  16th Sep- 15th Dec
                                </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" digitsOnly matInput name="quarter3[i]" formControlName="quarter3"
                                  maxlength="125" (mousedown)="onClick115BBJRemoveZero('quarter3')"
                                  (blur)="onBlur115BBJAddZero('quarter3')" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col p-2">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">16th Dec- 15th Mar
                                </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" digitsOnly matInput name="quarter4[i]" formControlName="quarter4"
                                  maxlength="125" (mousedown)="onClick115BBJRemoveZero('quarter4')"
                                  (blur)="onBlur115BBJAddZero('quarter4')" />
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="col p-2">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">16th Mar- 31st Mar
                                </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" digitsOnly matInput name="quarter5[i]" formControlName="quarter5"
                                  maxlength="125" (mousedown)="onClick115BBJRemoveZero('quarter5')"
                                  (blur)="onBlur115BBJAddZero('quarter5')" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end 115BBJ -->
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button type="button" class="accordion-button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree">Any Other Income
                    <input type="number" class="form-control inpClr2" disabled value="{{getTotalAnyOtherIncome()}}">
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse show">
                  <div class="accordion__item-body">
                    <div class="" formArrayName="anyOtherIncomes">
                      <div *ngFor="let income of getAnyIncomeArray.controls; let i = index" [formGroupName]="i">
                        <div class="div-6">
                          <div class="form-field">
                            <div><span class="span" *ngIf="income.value.incomeType!='ANY_OTHER'">{{ income.value.label
                                }} </span>
                              <span class="span" style="font-weight: 700;"
                                *ngIf="income.value.incomeType==='ANY_OTHER'">{{ income.value.label }} </span>
                            </div>
                          </div>
                          <div class="form-field" *ngIf="income.value.incomeType!='ANY_OTHER'">
                            <mat-form-field appearance="outline">
                              <input type="text" digitsOnly trim matInput placeholder="" name="incomeValue[i]"
                                formControlName="incomeValue" type="number" maxlength="125" />
                            </mat-form-field>
                          </div>

                        </div>
                        <div class="div-6" *ngIf="income.value.incomeType ==='ANY_OTHER'">
                          <!-- <div class="form-field"></div> -->
                          <div class="form-field">
                            <div class="span">Description</div>
                            <mat-form-field appearance="outline">
                              <input type="text" trim matInput placeholder="Other" name="incomeDesc[i]"
                                formControlName="incomeDesc" type="text" maxlength="125" />
                            </mat-form-field>
                          </div>

                          <div class="form-field mt-4">
                            <mat-form-field appearance="outline">
                              <input type="text" digitsOnly trim matInput placeholder="" name="incomeValue[i]"
                                formControlName="incomeValue" type="number" maxlength="125" />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="txHdg">Family Pension</div>
                    <div class="div-6 gray_box">
                      <div class="form-field">
                        <div><span class="span">Family Pension amount </span></div>

                        <div class="form-field">
                          <mat-form-field appearance="outline" class="small-inp no-height">
                            <input digitsOnly matInput placeholder="Family pension" name="quarter1"
                              formControlName="familyPension" maxlength="50" (blur)="calFamPension()" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="form-field">
                        <div><span class="span">Deduction u/s 57(2)a </span></div>
                        <div class="form-field">
                          <mat-form-field appearance="outline" class="small-inp no-height">
                            <input digitsOnly matInput name="quarter2" formControlName="famPenDeduction" readonly />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="form-field">
                        <div><span class="span">Net family pension</span></div>
                        <div class="form-field">
                          <mat-form-field appearance="outline" class="small-inp no-height">
                            <input digitsOnly matInput name="quarter3" formControlName="totalFamPenDeduction"
                              readonly />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div class="out-box">
              <div class="box-left">
                <div class="btn btn__white" (click)="goBack()">Back</div>
              </div>
              <div class="box-right">
                <div class="btn btn__primary" (click)="saveAll()">Save & View Summary</div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </main>
  <!-- right side summary -->
  <app-side-summary-panel type="otherIncome"></app-side-summary-panel>
  <app-previous-summary-panel type="otherIncome" *ngIf="PREV_ITR_JSON"></app-previous-summary-panel>
  <!-- right side summary ends-->
</div>
