<div class="page-wrapper">
    <!-- left side bar start -->
    <aside class="aside-left">
        <div class="frameL">
            <div class="contents">
                <div class="field-text">Leader Dashboard</div>
            </div>
            <div class="div">
                <div class="text-wrapper">My Tasks</div>
                <img class="mingcute-down-fill" src="assets/img/new/up.png" />
            </div>
            <div class="div-2">
                <div class="field-text-wrapper">
                    <div class="field-text">My Users</div>
                </div>
                <div class="field-text-wrapper">
                    <div class="field-text-2">Scheduled Calls</div>
                </div>
                <div class="div-wrapper">
                    <div class="text-wrapper">ITRs</div>
                </div>
                <div class="field-text-wrapper">
                    <div class="field-text">Create User</div>
                </div>
                <div class="field-text-wrapper">
                    <div class="field-text">Potential Users</div>
                </div>
            </div>
            <div class="contents">
                <div class="field-text">SME Management</div>
            </div>
            <div class="contents">
                <div class="field-text">Subscription</div>
            </div>
            <div class="contents">
                <div class="field-text">Invoice</div>
            </div>
            <div class="contents">
                <div class="field-text">Payouts</div>
            </div>
            <div class="contents">
                <div class="field-text">Bulk Status Update</div>
            </div>
            <div class="contents">
                <div class="field-text">All Users</div>
            </div>
            <div class="contents">
                <div class="field-text">Review</div>
            </div>
            <div class="contents">
                <div class="field-text">BO-Partners</div>
            </div>
            <div class="contents">
                <div class="field-text">Promo Codes</div>
            </div>
            <div class="contents">
                <div class="field-text">Academic Courses</div>
            </div>
        </div>
    </aside>
    <!-- left side bar ends -->
    <div class="main-content">
        <!-- breadcrumb area -->
        <div class="breadcrumb">
            <div class="breadcrumb-item">Prefill Data</div>
            <div class="breadcrumb-item">Sources of Income</div>
            <div class="breadcrumb-item">Foreign Income/NRI</div>
        </div>
        <!-- breadcrumb area ends -->
        <!-- main area -->
        <main>
            <div class="frameC">
                <h1 class="heading__title">Schedule TR</h1>
                <div class="space">
                    <span class="normal_text">Summary of tax relief claimed for taxes paid outside India (Only for
                        residents)</span>
                    <div class="wrapper">
                        <div class="accordion-item">
                            <h2 class="accordion__item-title space__between">
                                Schedule TR
                            </h2>
                            <div class="accordion__item-body">
                                <div class="row border">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="divider_border">
                                                <tr>
                                                    <th class="text-left mr-20">SR NO.</th>
                                                    <th class="text-left mr-20 min-width">DETAILS OF TAX RELIEF CLAIMED
                                                    </th>
                                                    <th colspan="3" class="flex text-left mr-20 "> </th>
                                                </tr>
                                            </thead>
                                            <thead class="divider_border">
                                                <tr>
                                                    <th class="text-left mr-20">1</th>
                                                    <th class="text-left mr-20 min-width">COUNTRY CODE</th>
                                                    <th class="text-left mr-20 min-width">TAX IDENTIFICATION NUMBER</th>
                                                    <th class="text-left mr-20 min-width">TOTAL TAXES PAID OUTSIDE INDIA
                                                    </th>
                                                    <th class="text-left mr-20 min-width">TOTAL TAX RELIEF AVAILABLE
                                                    </th>
                                                    <th class="text-left mr-20 min-width">SECTION</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        <div class="form-control-wrapper select_arrow">
                                                            <select class="form-control inpplac "
                                                                id="exampleFormControlSelect1">
                                                                <option>Select</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control inpplac mb-20"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                                            placeholder="Tax Identification Number">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control inpplac mb-20"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                                            placeholder="Total taxex paid outside India">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control inpplac mb-20"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                                            placeholder="Total taxed relief available">
                                                    </td>
                                                    <td>
                                                        <div class="form-control-wrapper select_arrow">
                                                            <select class="form-control inpplac "
                                                                id="exampleFormControlSelect1">
                                                                <option>Section</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> </td>
                                                    <td>
                                                        <span class="normal_text">Total</span>
                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        0
                                                    </td>
                                                    <td>
                                                        0
                                                    </td>
                                                    <td>

                                                    </td>
                                                </tr>
                                                <tr class=" divider_border">
                                                    <td>2</td>
                                                    <td colspan="4">
                                                        <span class="normal_text"> Total tax relief available in respect
                                                            of
                                                            country where DTAA is applicable (section 90/90A)</span>
                                                    </td>
                                                    <td>

                                                    </td>
                                                </tr>
                                                <tr class=" divider_border">
                                                    <td>3</td>
                                                    <td colspan="4">
                                                        <span class="normal_text"> Whether any tax paid outside India,
                                                            on
                                                            which tax relief was allowed in India, has been
                                                            refunded/credited
                                                            by the foreign tax authority during the year?</span>
                                                    </td>
                                                    <td>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td colspan="4">
                                                        <span class="normal_text"> Total tax relief available in respect
                                                            of
                                                            country where DTAA is applicable (section 90/90A)</span>
                                                    </td>
                                                    <td>
                                                        <div class="radio_group">
                                                            <input type="radio" class="radio_input" value="Yes">Yes
                                                            <input type="radio" class="radio_input" value="No">No
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="out-box">
                            <div class="box-left">
                                <button class="btn btn__white">Back</button>
                            </div>
                            <div class="box-right">
                                <button class="btn btn__primary">Save & View Summary</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- right side summary -->
    <aside class="aside-right">
        <button class="side_btn btn__summary" onclick="openForm()">Show Summary</button>
        <div class="form-popup" id="myForm">
            <div class="frameS">
                <div class="contents-wrapper">
                    <h2 class="sidebar_item-title" onclick="closeForm()">Summary</h2>
                </div>
                <div class="space">
                    <div class="divider_border">
                        <div class="div mb-20">
                            <div class="field-wrapper ">
                                <div class="field-2">
                                    <div class="field-label-2 hedTx">Particulars</div>
                                    <div class="field-label-3 hedTx">All Employers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div divider_border">
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">17 (1)</div>
                                <div class="field-label-3">₹ 40,00,000</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">17 (2)</div>
                                <div class="field-label-3">₹0</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">17 (3)</div>
                                <div class="field-label-3">₹0</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">Gross Salary</div>
                                <div class="field-label-3">₹0</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">Exemptions u/s 10</div>
                                <div class="field-label-3">₹0</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">Net Salary</div>
                                <div class="field-label-3">₹ 50,000</div>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <div class="field-2">
                                <div class="field-label-2">Deduction u/s 16</div>
                                <div class="field-label-3">₹ 50,000</div>
                            </div>
                        </div>
                    </div>
                    <!-- <img class="img" src="img/line-2.svg" /> -->
                    <div class="field-wrapper">
                        <div class="field-2">
                            <div class="field-label-2 hedTx">Taxable Salary</div>
                            <div class="field-label-3 hedTx">₹ 39,50,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- right side summary ends-->
</div>
<!-- main area ends -->