.table {
    width: 100%;

    
}
.table-wrapper {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 10px;
    position: relative;
    overflow: auto;
    margin-bottom: 25px;
}