<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
  <div class="card">
    <div class="card__row">
      <div class="filter__col card__col-sm-3 card__col-xs-12">
        <mat-form-field appearance="outline" style="margin-top: 10px;">
          <mat-label>Select Agent</mat-label>
          <mat-select placeholder="Select Agent Id" [(ngModel)]="searchParam.agentId"
            (selectionChange)="searchByQueryParams('AGENT_ID')">
            <mat-option> Clear Selection</mat-option>
            <mat-option *ngFor="let agent of agentList" [value]="agent.agentId">
              {{agent.name}} <span style="font-weight: bold;">{{agent.serviceType}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filter__col card__col-sm-3 card__col-xs-12">
        <mat-form-field appearance="outline" style="margin-top: 10px;">
          <mat-label>Select Priority</mat-label>
          <mat-select placeholder="Select Agent Id" [(ngModel)]="searchParam.priority"
            (selectionChange)="searchByQueryParams('PRIORITY')">
            <mat-option> Clear Selection</mat-option>
            <mat-option value=1> Priority 1 </mat-option>
            <mat-option value=2> Priority 2 </mat-option>
            <mat-option value=3> Priority 3 </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filter__col card__col-sm-3 card__col-xs-12">
        <mat-form-field appearance="outline" style="margin-top: 10px;">
          <mat-label>Select Status</mat-label>
          <mat-select placeholder="Select Agent Id" [(ngModel)]="searchParam.statusId"
            (selectionChange)="searchByQueryParams('STATUS')">
            <mat-option> Clear Selection</mat-option>
            <mat-option *ngFor="let status of masterStatusList" [value]="status.statusId">
              {{status.statusName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filter__col card__col-sm-3 card__col-xs-12">
        <mat-form-field appearance="outline" style="margin-top: 10px;">
          <mat-label>Chat Y/N</mat-label>
          <mat-select placeholder="Select Agent Id" [(ngModel)]="searchParam.isChat"
            (selectionChange)="searchByQueryParams('CHAT')">
            <mat-option> Clear Selection</mat-option>
            <mat-option value=true> Yes </mat-option>
            <mat-option value=false> No </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filter__col card__col-sm-3 card__col-xs-12">
        <mat-form-field appearance="outline" style="margin-top: 10px;">
          <mat-label>Select Service</mat-label>
          <mat-select placeholder="Select Agent Id" [(ngModel)]="searchParam.serviceType"
            (selectionChange)="searchByQueryParams('SERVICE')" [disabled]="isServiceDisabled">
            <mat-option *ngFor="let service of serviceTypeList" [value]="service">
              {{service}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filter__col card__col-sm-3 card__col-xs-12">
        <mat-form-field appearance="outline" style="margin-top: 10px;">
          <mat-label>Mobile Number: </mat-label>
          <input matInput placeholder="Enter Mobile Number" [(ngModel)]="searchParam.customerNumber" maxlength="35"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10">
        </mat-form-field>
      </div>

      <div class="filter__col card__col-sm-2 card__col-xs-12">
        <a class="btn btn_stroke filter__add-link" (click)="serchByMobNo()"><i class="fa fa-search" aria-hidden="true"
            style="color: #2ed13b;"></i>&nbsp;Search</a>
      </div>


      <!--  <div class="filter__col card__col-sm-2 card__col-xs-12">
                <button class="btn" (click)="showCallersAll()">Show All</button>
            </div> -->
    </div><br>
    <!-- Total Count: <b>{{config.totalItems}}</b> -->
    <br>
    <br>

    <div class="card__row" style="margin-top: 0px;">
      <!-- <table>
          <tr *ngFor="let item of callDetetialInfo | paginate:config"></tr>
        </table> -->

      <ag-grid-angular class="ag-theme-balham" [gridOptions]="callingGridOptions"
        (rowClicked)="onTodaysCallsClicked($event)">
      </ag-grid-angular>

      <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->


      <!-- <p style="text-align: center; font-size: 15px; margin-top: 20px" *ngIf="callLogs.length === 0"><b>No data available.</b></p> -->

    </div>
  </div>
</div>