<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
    <div class="card">
        <div class="card__row" *ngIf="agentList.length>0">
            <div class="filter__col card__col-sm-4 card__col-xs-12">
                <app-sme-list-drop-down (sendSme)="fromSme($event)"></app-sme-list-drop-down>
            </div>
        </div>
        <p style="float: right;"> Total Count: <b>{{scheduleCallsData.length}}</b></p>
        <br>
        <div class="card__row">
          <table>
            <tr *ngFor="let item of scheduleCallsData | paginate : config"></tr>
          </table>
            <ag-grid-angular class="ag-theme-balham" [gridOptions]="scheduleCallGridOptions"
                (rowClicked)="onScheduledCallClicked($event)">
            </ag-grid-angular>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            <!--  <div class="col-md-12">
                <button class="btn" style="border: none;" *ngIf="pageCount !== 0" (click)="previous()">Previous</button>
                <button class="btn" style="border: none; cursor: pointer;" (click)="next()">Next</button>
            </div> -->
        </div>
    </div>
</div>
