<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div class="clearfix">
  <div class="main-1">
    <div class="row rowClr-1">
      <div class="col-sm-12">
        <mat-accordion class="headers-align">
          <mat-expansion-panel [expanded]="!dataOnLoad">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon> arrow_forward_ios </mat-icon>
                Filter - Scheduled Calls:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-sm-12">
                <div class="filter-box">
                  <div class="row">
                    <div class="col-sm-12">
                      <section class="example-section checkbox-right">
                        <div class="checkbox-group ">
                          <mat-checkbox class="ft-18 mb-4" [formControl]="subPaidScheduleCallList"
                            (change)="onCheckBoxChange()">Paid but didn't Scheduled Date and Time</mat-checkbox>
                        </div>
                      </section>
                    </div>
                    <div class="col-sm-12 bckClr">
                      <div class="col-sm-6 bckClr spcLft" *ngIf="roles.includes('ROLE_ADMIN')">
                        <app-leader-list-dropdown #leaderDropDown (sendLeader)="fromSme($event)"
                          [showOwnerList]="true"></app-leader-list-dropdown>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-3 mt-3">
                          <mat-label>Select Status</mat-label>
                          <mat-form-field appearance="outline" class="custom-bg-new small-inp no-height">
                            <mat-select placeholder="Select Status" [(ngModel)]="searchParam.statusId">
                              <mat-option *ngFor="let status of statusList" [value]="status.statusId">
                                {{ status.statusName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col-sm-9 ">
                          <app-generic-user-filter [searchParameter]="searchMenus" [clearUserFilter]="clearUserFilter"
                            (onChange)="searchByObject($event)"></app-generic-user-filter>
                        </div>
                      </div>
                    </div>

                    <!-- Table Sorting Inside -->
                    <div class="row">
                      <div class="col-sm-6 spcTp">
                        <app-generic-sorting [sortingParameter]="sortMenus" [clearSortFilter]="clearUserFilter"
                          (onChange)="sortByObject($event)"></app-generic-sorting>
                      </div>
                      <div class="col-sm-6" *ngIf="false">
                        <div class="col-sm-6 spsTp">
                          <mat-form-field appearance="outline" class="custom-bg-new">
                            <mat-label>From Date</mat-label>
                            <input matInput [formControl]="startDate" [matDatepicker]="picker1" [min]="minStartDate"
                              [max]="maxStartDate" autocomplete="off" (dateChange)="setToDateValidation()" />
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="startDate.hasError('required')">Select From date</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-sm-6 spsTp">
                          <mat-form-field appearance="outline" class="custom-bg-new">
                            <mat-label>To Date</mat-label>
                            <input matInput [formControl]="endDate" [matDatepicker]="picker2" [min]="minEndDate"
                              [max]="maxEndDate" autocomplete="off" />
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="endDate.hasError('required')">Select To date</mat-error>
                            <mat-error *ngIf="endDate.hasError('min')">To date always greater than from date</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!-- Table Sorting Inside Filter ends -->
                    <div class="button-container">
                      <app-custom-button class="srch-btn-1" [actions]="[search]">
                        <i class="fa fa-search" aria-hidden="true"></i> Search
                      </app-custom-button>
                      <button class="clrLnk-1" (click)="this.resetFilters()">
                        Clear form
                      </button>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 mt-3 ">
                        <span class="new-note1 note">
                          Note : Please select required filters above and click on search to get information
                        </span>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="tableSpc mt-3">

      <div>
        <div class="row">
          <div class="col-sm-9 row">
            <div class="table-info-text col-sm-4">
              Schedule Call Details:
            </div>
          </div>
          <div class="col-sm-3">
            <div class="count1"> Total Count: <span class="txClr1">{{config.totalItems}}</span></div>
          </div>
        </div>
        <div *ngFor="let item of scheduleCallsData | paginate:config"> </div>

        <ag-grid-angular class="ag-theme-balham topSps" [gridOptions]="scheduleCallGridOptions"
          (rowClicked)="onScheduledCallClicked($event)">

        </ag-grid-angular>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<app-user-chat *ngIf="chatBuddyDetails" [username]="chatBuddyDetails.userFullName" [requestId]="chatBuddyDetails.request_id" [serviceType]="chatBuddyDetails.departmentName"
  [image]="chatBuddyDetails.image" [showCloseIcon]="true"  (closeChatClicked)="closeChat()" [isAssignedToBotVisible]="true"></app-user-chat>