<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix">
  <div class="align-items-center row">
    <div class="col-sm-6">
      <b style="font-size: 20px">Scheduled Calls</b>
    </div>
       
        <div class="col-sm-2" *ngIf="roles?.includes('ROLE_OWNER')">
          <p>
            <mat-slide-toggle [formControl]="coOwnerToggle" (change)="getToggleValue()"> Co-Owner </mat-slide-toggle>
          </p>
        </div>
      </div>
      <div class="rowClr">
        <div class="surround">
       <div class="row">
        <div class="col-sm-10" *ngIf="!coOwnerCheck">    
            <app-sme-list-drop-down #smeDropDown (sendOwner)="fromSme($event, true)" (sendFiler)="fromSme($event, false)"></app-sme-list-drop-down>
        </div>
        <div class="col-sm-0"  *ngIf="coOwnerCheck">
           <app-co-owner-list-drop-down #coOwnerDropDown (sendCoOwner)="fromSme1($event, true)" (sendCoFiler)="fromSme1($event, false)"></app-co-owner-list-drop-down>
        </div>
        <div class="col-sm-2 spsTp">
            <mat-form-field appearance="outline">
              <mat-label>Select Status</mat-label>
              <mat-select
                placeholder="Select Status"
                [(ngModel)]="searchParam.statusId"
                (selectionChange)="this.search('status')"
              >
                <mat-option
                  *ngFor="let status of statuslist"
                  [value]="status.statusId"
                >
                  {{ status.statusName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 spsTp">
            <mat-form-field appearance="outline">
              <mat-label>Mobile Number: </mat-label>
              <input
                matInput
                type="text"
                placeholder="Enter Mobile Number"
                [(ngModel)]="searchParam.mobileNumber"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeypress=" event.charCode >= 48 && event.charCode <= 57"
                maxlength="10"
                digitsOnly
              />
            </mat-form-field>
          </div>
          <div class="col-sm-4 spsTp">
            <mat-form-field appearance="outline">
              <mat-label>Email Address: </mat-label>
              <input
                matInput
                placeholder="Enter Email Address"
                [(ngModel)]="searchParam.email"
                maxlength="50"
              />
            </mat-form-field>
          </div>
          <div class="col-sm-2 spsTp">
            <button class="srch-btn" (click)="this.search('mobile','isAgent')">
              <i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search
            </button>
          </div>
          <div class="col-sm-2 spsTp">
            <!-- <a class="btn btn_stroke filter__add-link" (click)="this.search('mobile')"><i class="fa fa-search"
                aria-hidden="true" style="color: #2ed13b;"></i>&nbsp;Search</a> -->
            <button class="clrLnk" (click)="this.resetFilters()">
              <!--              <div class="fa-layers fa-1x fa-fw">-->
              <!--                <span class="fas fa-filter" data-fa-mask="fas fa-filter" ></span>-->
              <!--                <span class="fas fa-slash" data-fa-transform="left-0.5"></span>-->
              <!--              </div>-->
              Clear form
            </button>
          </div>
        </div>
      </div>
    </div>

<!-- Below Table -->

<div class="tableSpc">
  <div class="row">
  <div class="col-sm-8">
    <div class="txTit">
      Schedule Call Details:
    </div>
  </div>
  <div class="col-sm-4">
  <div class="count"> Total Count: <b>{{config.totalItems}}</b></div> 
  </div>
  </div>
          <table>
            <tr *ngFor="let item of scheduleCallsData | paginate : config"></tr>
          </table>
            <ag-grid-angular class="ag-theme-balham topSps" [gridOptions]="scheduleCallGridOptions"
                (rowClicked)="onScheduledCallClicked($event)">
            </ag-grid-angular>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            <!--  <div class="col-md-12">
                <button class="btn" style="border: none;" *ngIf="pageCount !== 0" (click)="previous()">Previous</button>
                <button class="btn" style="border: none; cursor: pointer;" (click)="next()">Next</button>
            </div> -->
</div>
    
  

