<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div class="row">
  <h1 mat-dialog-title>
    {{ data.mode }}
    <span *ngIf="data.mode === 'Update Status'">For <span style="color: rgb(106, 123, 237);">{{ this.data.partnerName
        }}</span></span>

    <span *ngIf="data.mode === 'Update Information'">For <span style="color: rgb(106, 123, 237);">{{ this.data.partnerName
        }}</span></span>

    <button style="float: right" mat-raised-button mat-dialog-close tabindex="-1">
      <i class="fa fa-close"></i>
    </button>
  </h1>
</div>
<mat-dialog-content *ngIf="data.mode === 'Update Status'">
  <form>
    <div class="card__col-xs-4 card__col-sm-14">
      <mat-form-field appearance="outline">
        <mat-label>Select Status </mat-label>
        <mat-select placeholder="Select Status" [(ngModel)]="selectedStatus" [ngModelOptions]="{ standalone: true }">
          <mat-option *ngFor="let status of boStatus" [disabled]="data.currentStatus === status.value"
            [value]="status.value">
            {{ status.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="card__col-xs-4 card__col-sm-14">
      <button mat-raised-button color="primary" [disabled]="loading" (click)="addStatus()">
        Update
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.mode === 'Update Information'">
  <form [formGroup]="myForm">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <mat-label> Mobile No </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Mobile No" formControlName="mobileNo" class="input-field"
               readonly />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-label> Name </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Name" formControlName="name" class="input-field" readonly />
          </mat-form-field>
        </div>
      </div>
      <div class="row" style="margin-top: 12px;">
        <div class="col-sm-6">
          <mat-label> Contact Id </mat-label>
          <mat-form-field appearance="outline" class="class1">
            <input type="text" matInput placeholder="Contact Id" formControlName="contactId" maxlength="17" class="input-field" />
            <mat-error *ngIf="myForm.controls['contactId'].hasError('minlength')">
              Contact Id must be at least 17 characters long.
            </mat-error>
            <mat-error *ngIf="myForm.controls['contactId'].hasError('maxlength')">
              Contact Id must be at most 17 characters long.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-label> Fund Id </mat-label>
          <mat-form-field appearance="outline" class="class1">
            <input type="text" matInput placeholder="Fund Id" formControlName="fundId" maxlength="17" class="input-field" />
            <mat-error *ngIf="myForm.controls['fundId'].hasError('minlength')">
              Fund Id must be at least 17 characters long.
            </mat-error>
            <mat-error *ngIf="myForm.controls['fundId'].hasError('maxlength')">
              Fund Id must be at most 17 characters long.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <div style="text-align: center;  margin-top: 10px;">
    <button class="tbd-btn" [disabled]="!myForm.controls['contactId'].valid || !myForm.controls['fundId'].valid" (click)="updateDetails()">Save </button>
  </div>
</mat-dialog-content>
