<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div class="main-1">
  <div class="row rowClr-1">
    <div class="col-sm-12">
      <mat-accordion class="headers-align">
        <mat-expansion-panel [expanded]="!dataOnLoad">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon> arrow_forward_ios </mat-icon>
              Filter - Cancel Subscription:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-sm-12">
              <div class="filter-box">
                <div class="row">
                  <div class="col-sm-12 bckClr">
                    <app-sme-list-drop-down #smeDropDown (sendLeader)="fromSme($event, true)"
                      (sendPrincipleIndividual)="fromSme($event,false, true)"
                      (sendFiler)="fromSme($event, false)"></app-sme-list-drop-down>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4">
                        <app-service-drop-down #serviceDropDown ngDefaultControl (sendService)="fromServiceType($event)"
                          [(ngModel)]="searchParam.serviceType" [fromInvoices]="true"></app-service-drop-down>
                      </div>
                      <div class="col-8">
                        <app-generic-user-filter [searchParameter]="searchMenus" [clearUserFilter]="clearUserFilter"
                          (onChange)="searchByObject($event)"></app-generic-user-filter>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-6 spcTp">
                      <app-generic-sorting [sortingParameter]="sortMenus" [clearSortFilter]="clearUserFilter"
                        (onChange)="sortByObject($event)"></app-generic-sorting>
                    </div>
                  </div>
                  <div class="button-container">
                    <app-custom-button class="srch-btn-1" [actions]="[getCancelSubscriptionList]">
                      <i class="fa fa-search" aria-hidden="true"></i> Search
                    </app-custom-button>
                    <button class="clrLnk-1" (click)="this.resetFilters()">
                      Clear form
                    </button>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-12">
                      <span class="new-note1 note">
                        Note : Please select required filters above and click on search to get information
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="tableSpc mt-3">
    <div class="row" *ngIf="false">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-5">
            <app-generic-sorting [sortingParameter]="sortMenus" (onChange)="sortByObject($event)"></app-generic-sorting>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-9 row">
          <div class="table-info-text col-sm-4">
            Cancel Subscription Details:
          </div>
        </div>
      </div>

      <div *ngFor="let item of userInfo | paginate:config"></div>

      <ag-grid-angular class="ag-theme-balham topSps" [gridOptions]="subscriptionListGridOptions"
        (rowClicked)="onSubscriptionRowClicked($event)">

      </ag-grid-angular>

      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>

</div>

<app-user-chat *ngIf="chatBuddyDetails" [username]="chatBuddyDetails.userFullName"
  [requestId]="chatBuddyDetails.request_id" [serviceType]="chatBuddyDetails.departmentName"
  [image]="chatBuddyDetails.image" [showCloseIcon]="true" (closeChatClicked)="closeChat()" [isAssignedToBotVisible]="true"></app-user-chat>