<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<h1 mat-dialog-title> Details For :{{data.assetType}}</h1>

<mat-dialog-content>
  <form [formGroup]="assetDetailsForm">
    <div class="card__row">
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput type="number" formControlName="sellOrBuyQuantity" placeholder="Sell/Buy Quantity"
            name="sellOrBuyQuantity" class="input-field" maxlength="14"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="assetDetailsForm.controls['sellOrBuyQuantity'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field>
          <input matInput formControlName="sellDate" name="sellDate" [matDatepicker]="sellDate" placeholder="Sale Date"
            (blur)="calculateGainType()" (dateChange)="calculateGainType()">
          <mat-datepicker-toggle matSuffix [for]="sellDate"></mat-datepicker-toggle>
          <mat-datepicker #sellDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput type="number" formControlName="sellValuePerUnit" placeholder="Sell Price"
            name="sellValuePerUnit" class="input-field" maxlength="14"
            (blur)="assetDetailsForm.controls['sellValue'].setValue(assetDetailsForm.controls['sellValuePerUnit'].value * assetDetailsForm.controls['sellOrBuyQuantity'].value)"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="assetDetailsForm.controls['sellValuePerUnit'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput type="number" formControlName="sellValue" placeholder="Sell Value" name="sellValue"
            class="input-field" maxlength="14" (blur)="calculateGainType()"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="assetDetailsForm.controls['sellValue'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field>
          <input matInput formControlName="purchaseDate" name="purchaseDate" [matDatepicker]="purchaseDate"
            placeholder="Buy Date" (blur)="calculateGainType()" (dateChange)="calculateGainType()">
          <mat-datepicker-toggle matSuffix [for]="purchaseDate"></mat-datepicker-toggle>
          <mat-datepicker #purchaseDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput type="number" formControlName="purchaseValuePerUnit" placeholder="Buy Price"
            name="purchaseValuePerUnit" class="input-field" maxlength="14"
            (blur)="assetDetailsForm.controls['purchaseCost'].setValue(assetDetailsForm.controls['purchaseValuePerUnit'].value * assetDetailsForm.controls['sellOrBuyQuantity'].value)"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="assetDetailsForm.controls['purchaseValuePerUnit'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput type="number" formControlName="purchaseCost" placeholder="Buy Value" name="purchaseCost"
            class="input-field" maxlength="14"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="assetDetailsForm.controls['purchaseCost'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput type="number" formControlName="sellExpense" placeholder="Expenses" name="sellExpense"
            class="input-field" maxlength="14"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="assetDetailsForm.controls['sellExpense'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6" *ngIf="this.data.assetType === 'EQUITY_SHARES_UNLISTED'">
        <mat-form-field class="input-field-width">
          <input matInput type="number" formControlName="indexCostOfAcquisition"
            placeholder="Cost of Acquisition with indexation" name="indexCostOfAcquisition" class="input-field"
            maxlength="14"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="assetDetailsForm.controls['indexCostOfAcquisition'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <!-- ------------------ -->
      <ng-container
        *ngIf="buyDateBefore31stJan && this.data.assetType === 'EQUITY_SHARES_LISTED'">
        <div class="card__col-xs-12 card__col-sm-6">
          <mat-form-field class="input-field-width">
            <input matInput formControlName="isinCode" placeholder="ISIN Code" name="isinCode" class="input-field"
            (blur)="calculateFMV()">
          </mat-form-field>
        </div>
        <div class="card__col-xs-12 card__col-sm-6">
          <mat-form-field class="input-field-width">
            <input matInput formControlName="nameOfTheUnits" placeholder="Name of the shares/Unit" name="nameOfTheUnits"
              class="input-field">
          </mat-form-field>
        </div>
        <div class="card__col-xs-12 card__col-sm-6">
          <mat-form-field class="input-field-width">
            <input matInput formControlName="fmvAsOn31Jan2018" placeholder="FMV as on 31st Jan 2018"
              name="fmvAsOn31Jan2018" class="input-field">
          </mat-form-field>
        </div>
      </ng-container>
    </div>
    <div class="row dialog-button">
      <div class="sub_btn top-space">
        <button type="submit" class="tbd-btn" (click)="saveDetails()">Save</button>
        <button class="tbd-btn-secondary" (click)="cancelInvestments()" mat-dialog-close>Cancel</button>
      </div>
    </div>
  </form>
</mat-dialog-content>