a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  color: blue;
  text-decoration: underline;
}

.lgtBtn {
  padding: 0px 35px !important;
}

.updateManually {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
