<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div>
    <app-update-status [userId]="ITR_JSON.userId"></app-update-status>
    <hr>
    <mat-accordion>
        <mat-expansion-panel class="color-panel accordion-border" [expanded]="true">
            <mat-expansion-panel-header>
                <div class="card__title" style="font-size: 20px;">TDS on salary</div>
            </mat-expansion-panel-header>
            <div class="card__row" style="padding: 0px 20px;">
                <div class="card__col-xs-12 card__col-sm-8">This is TDS on salary deducted by your employer. Enter the
                    amount from form 16 or
                    26AS</div>
                <div class="pull-right">
                    <button type="button" class="tbd-btn-small" (click)="onAddRow('ADD')">Add <i
                            class="fa fa-plus"></i></button>
                </div>
            </div>

            <div style="height: 100%; padding-top: 5px;padding-bottom: 15px; box-sizing: border-box;">
                <ag-grid-angular class="ag-theme-balham" [gridOptions]="onSalaryGridOptions"
                    (rowClicked)="onSalaryRowClicked($event)">
                </ag-grid-angular>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="color-panel accordion-border" [expanded]="false">
            <mat-expansion-panel-header>
                <div class="card__title" style="font-size: 20px;">TDS other than salary</div>
            </mat-expansion-panel-header>
            <div class="card__row" style="padding: 0px 20px;">
                <div class="card__col-xs-12 card__col-sm-8">This is TDS on incomes other than salary. Enter the amount
                    from form 16A or 26AS</div>
                <div class="pull-right">
                    <button type="button" class="tbd-btn-small" (click)="addTdsOtherThanSalary16A('ADD')">Add <i
                            class="fa fa-plus"></i></button>
                </div>
            </div>
            <div style="height: 100%; padding-top: 5px;padding-bottom: 15px; box-sizing: border-box;">
                <ag-grid-angular class="ag-theme-balham" [gridOptions]="tdsOtherThanSalary16AGridOptions"
                    (rowClicked)="tdsOtherThanSalary16ARowClicked($event)">
                </ag-grid-angular>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="color-panel accordion-border" [expanded]="false">
            <mat-expansion-panel-header>
                <div class="card__title" style="font-size: 20px;">TDS other than salary PAN based deductions (26QB, 26QC, 26QD)</div>
            </mat-expansion-panel-header>
            <div class="card__row" style="padding: 0px 20px;">
                <div class="card__col-xs-12 card__col-sm-8">This is TDS on incomes other than salary. Enter the amount
                    from form 16A or 26AS</div>
                <div class="pull-right">
                    <button type="button" class="tbd-btn-small" (click)="addTdsOtherThanSalary26QB('ADD')">Add <i
                            class="fa fa-plus"></i></button>
                </div>
            </div>
            <div style="height: 100%; padding-top: 5px;padding-bottom: 15px; box-sizing: border-box;">
                <ag-grid-angular class="ag-theme-balham" [gridOptions]="tdsOtherThanSalary26QBGridOptions"
                    (rowClicked)="tdsOtherThanSalary26QBRowClicked($event)">
                </ag-grid-angular>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="color-panel accordion-border" [expanded]="false">
            <mat-expansion-panel-header>
                <div class="card__title" style="font-size: 20px;">TCS</div>
            </mat-expansion-panel-header>
            <div class="card__row" style="padding: 0px 20px;">
                <div class="card__col-xs-12 card__col-sm-8">In case of some incomes the payer of income collects TCS
                    from you. Enter the amount
                    from form 16A or 26AS</div>
                <div class="pull-right">
                    <button type="button" class="tbd-btn-small" (click)="addTcs('ADD')">Add <i
                            class="fa fa-plus"></i></button>
                </div>
            </div>
            <div style="height: 100%; padding-top: 5px;padding-bottom: 15px; box-sizing: border-box;">
                <ag-grid-angular class="ag-theme-balham" [gridOptions]="tcsGridOptions"
                    (rowClicked)="tcsRowClicked($event)">
                </ag-grid-angular>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel class="color-panel accordion-border" [expanded]="false">
            <mat-expansion-panel-header>
                <div class="card__title" style="font-size: 20px;">Advance and self assessment tax</div>
            </mat-expansion-panel-header>
            <div class="card__row" style="padding: 0px 20px;">
                <div class="card__col-xs-12 card__col-sm-8">Please enter the amount of advance tax or self assessment
                    tax paid</div>
                <div class="pull-right">
                    <button type="button" class="tbd-btn-small" (click)="addOtherThanTdsTcs('ADD')">Add
                        <i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div style="height: 100%; padding-top: 5px;padding-bottom: 15px; box-sizing: border-box;">
                <ag-grid-angular class="ag-theme-balham" [gridOptions]="otherThanTdsTcsGridOptions"
                    (rowClicked)="otherThanTdsTcsRowClicked($event)">
                </ag-grid-angular>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="pull-right">
        <button class="tbd-btn" (click)="saveAndContinue()">Save And Continue
        </button>
    </div>
</div>