<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix">
  <div class="content content_full">
    <div class="content__container">
      <div class="card">
        <div class="card__row">
          <div class="card__col-xs-12 card__col-sm-12" style="margin-top: 10px;">
            <div class="card__col-lg-3 userList">
              <mat-form-field appearance="outline" >
                <input matInput [formControl]="searchNumber" placeholder="Search User" required
                  (keyup)="searchMyNumber()" autocomplete="off">
              </mat-form-field>
              <br>
              <ul *ngFor="let user of filteredArray">
                <li [class.newUserMsg]="user.isRead === false" style="padding: 10px;" (click)="geUserChatDetail(user, 'not-continues')">
                  <span *ngIf="user.isRead === false" >*</span>
                  <a style=" display: contents; font-size: 13px;" href="javascript:void(0)">{{user.name}}</a><br>
                  <span style="font-size: 11px; padding-left: 30px;">{{user.whatsAppNumber}}</span>
                </li>
              </ul> 
            </div>
            <div class="card__col-md-9">
              <mat-accordion *ngIf="this.selectedUser">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <b> {{selectedUser.name}}</b>
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Type your name and age
                      </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <div class="card__row">
                    <div class="card__col-lg-2">
                      <label><b>User Id: </b></label>
                      {{selectedUser.userId}}
                    </div>
                    <div class="card__col-lg-3">
                      <label><b>User Name: </b></label>
                      {{selectedUser.name}}
                    </div>
                    <div class="card__col-lg-4">
                      <label><b>Phone Number: </b></label>
                      {{selectedUser.whatsAppNumber}}
                    </div>
                    <div class="card__col-lg-3">
                      <label><b>Services Availed: </b></label>
                      {{serviceAvailedInfo}}
                    </div>
                  </div>
                  <div class="card__row">
                    <div class="card__col-lg-3">
                      <label><b>Consent Status: </b></label>
                      {{selectedUser.isUserOpted ? 'Opt-in' : 'Opt-out'}}
                    </div>
                    <div class="card__col-lg-3">
                      <label><b>Ticket Owner: </b></label>
                      {{smeInfo.USER_MOBILE !== "0014082016"? smeInfo.USER_F_NAME : 'NA'}}
                    </div>
                    <div class="card__col-lg-3">
                      <label><b>Chat Window Timer: </b></label>
                      Not applicable
                    </div>
                    <div class="card__col-lg-3">
                      <label><b>Conversation Status: </b></label>
                      Not applicable
                    </div>
                  </div>

                </mat-expansion-panel>

              </mat-accordion><br>

              <div class="chat-box" *ngIf="this.selectedUser">
                <div class="chat-header">
                  Chat Corner:
                </div>

                <div class="card_body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                  <div class="card__row" *ngFor="let data of userchatData">
                    <div class="card__col-lg-12 card__col-md-12 card__col-sm-12 card__col-xs-12" >

                      <span class="self" *ngIf="!data.isReceived && !data.mediaId">
                        <b style="float: right;">{{smeInfo.USER_F_NAME}}</b><br>
                        {{ data.textMessage ? (data.textMessage) : (data.templateContent?data.templateContent: '')}}<br>  <!--(data.mediaId? this.showLink(data.mediaId):'')-->
                        <b style="float: right; padding-top:5px; font-size: 11px;"
                          *ngIf="!data.isReceived"> {{data.dateLong | date:'medium':'+0530'}} </b>
                      </span>

                      <span class="self" *ngIf="!data.isReceived && data.mediaId && data.mimeType.includes('image')">
                        <b style="float: right;">{{smeInfo.USER_F_NAME}}</b><br><img (click)="downloadDoc(data.mediaId)"
                          alt="Not Show"
                          src="{{environmentPath}}/user/download-media-file?mediaId={{data.mediaId}}"><br>
                        <b style="float: right; padding-top:5px; font-size: 11px;"
                          *ngIf="!data.isReceived && data.mediaId && data.mimeType.includes('image')">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="self" *ngIf="!data.isReceived && data.mediaId && data.mimeType.includes('pdf')"
                        (click)="downloadDoc(data.mediaId)">
                        <b style="float: right;">{{smeInfo.USER_F_NAME}}</b><br>
                        <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"> </i><br>
                        <b style="padding-top: 5px;">{{data.fileName}}</b><br>
                        <b style="float: right; padding-top:5px; font-size: 11px;"
                          *ngIf="!data.isReceived && data.mediaId && data.mimeType.includes('pdf')">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="sender" *ngIf="!data.isReceived && data.mediaId && (!data.mimeType.includes('pdf') && !data.mimeType.includes('image'))"
                      (click)="downloadDoc(data.mediaId)">
                      <b style="float: left;">{{selectedUser.name}}</b><br>
                        Click here to download file<br>
                      <b style="padding-top: 5px;">{{data.fileName}}</b><br>
                      <b style="float: left; padding-top:5px; font-size: 11px;"
                        *ngIf="!data.isReceived && data.mediaId && (!data.mimeType.includes('pdf') && !data.mimeType.includes('image'))">{{data.dateLong | date:'medium':'+0530'}}</b>
                    </span>

                    </div>
                    <div class="card__col-lg-12 card__col-md-12 card__col-sm-12 card__col-xs-12">
                      <span class="sender" *ngIf="data.isReceived && !data.mediaId">
                        <b style="float: left;">{{selectedUser.name}}</b><br>
                        {{data.textMessage ? (data.textMessage) : (data.templateContent?data.templateContent:(data.mediaId? this.showLink(data.mediaId):''))}}<br>
                        <b style="float: left; padding-top:5px; font-size: 11px;"
                          *ngIf="data.isReceived && !data.mediaId"> {{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="sender" *ngIf="data.isReceived && data.mediaId && data.mimeType.includes('image')">
                        <b style="float: left;">{{selectedUser.name}}</b><br>
                        <img (click)="downloadDoc(data.mediaId)"
                          alt="Not Show"
                          src="{{environmentPath}}/user/download-media-file?mediaId={{data.mediaId}}"><br>
                        <b style="float: left; padding-top:5px; font-size: 11px;"
                          *ngIf="data.isReceived && data.mediaId && data.mimeType.includes('image')">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="sender" *ngIf="data.isReceived && data.mediaId && data.mimeType.includes('pdf')"
                        (click)="downloadDoc(data.mediaId)">
                        <b style="float: left;">{{selectedUser.name}}</b><br>
                        <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"> </i><br>
                        <b style="padding-top: 5px;">{{data.fileName}}</b><br>
                        <b style="float: left; padding-top:5px; font-size: 11px;"
                          *ngIf="data.isReceived && data.mediaId && data.mimeType.includes('pdf')">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="sender" *ngIf="data.isReceived && data.mediaId && (!data.mimeType.includes('pdf') && !data.mimeType.includes('image'))"
                      (click)="downloadDoc(data.mediaId)">
                      <b style="float: left;">{{selectedUser.name}}</b><br>
                        Click here to download file<br>
                      <b style="padding-top: 5px;">{{data.fileName}}</b><br>
                      <b style="float: left; padding-top:5px; font-size: 11px;"
                        *ngIf="data.isReceived && data.mediaId && (!data.mimeType.includes('pdf') && !data.mimeType.includes('image'))">{{data.dateLong | date:'medium':'+0530'}}</b>
                    </span>
                    </div>

                  </div>
                </div>


                <div class="chat-footer msger-inputarea">
                  <!-- <form (ngSubmit)="sentMsg(f)" #f="ngForm" class="msger-inputarea"> -->
                  <form [formGroup]="whatsAppForm">
                    <div class="card__col-lg-3 card__col-sm-4">
                      <mat-form-field appearance="outline">
                        <mat-label>Select Template</mat-label>
                        <mat-select placeholder="Select Template" formControlName="selectTemplate" #selectTemp
                          [disabled]="(this.whatsAppForm.controls['sentMessage'].value && !this.whatsAppForm.controls['selectTemplate'].value) ? true: false"
                          (selectionChange)="showTemplateMsg($event)">
                          <mat-option *ngFor="let temp of templateInfo" [value]="temp.templateName">
                            {{temp.templateName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- <div class="card__col-lg-7 card__col-sm-4"
                      *ngIf="!this.whatsAppForm.controls['selectTemplate'].value">
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="sentMessage" name="sentMsg"
                          placeholder="Enter your message...">
                      </mat-form-field>
                    </div> -->

                    <div class="card__col-lg-7 card__col-sm-4">  <!--*ngIf="this.whatsAppForm.controls['selectTemplate'].value"-->
                      <mat-form-field appearance="outline">
                        <textarea matInput formControlName="sentMessage" cdkTextareaAutosize cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="9" name="sentMsg" placeholder="Enter your message..."></textarea>
                        <mat-error *ngIf="this.whatsAppForm.controls['sentMessage'].hasError('fillmandate')">
                          Please fill all attributes values.
                        </mat-error>
                      </mat-form-field>
                    </div>

                   
                    <div class="card__col-lg-2 card__col-sm-4">
                      <button class="sendBtn" (click)="sendMsg()">Send</button>
                    </div><br>

                    <div class="card__col-lg-3 card__col-sm-4">
                      <input type="file" hidden id="input-file-id" #file
                        (change)="uploadMideaFile($event.target.files)" accept=".pdf, .jpg, .jpeg, .png">
                      <button class="sendBtn" (click)="upload()"
                        [disabled]="((this.whatsAppForm.controls['sentMessage'].value || this.whatsAppForm.controls['selectTemplate'].value) ? true : false) ">
                        <!-- <i class="fa fa-cloud-upload" style="font-size: 15px;"></i> -->
                        Upload Media File
                      </button>
                    </div>

                    <div class="card__col-lg-9 card__col-sm-8" *ngIf="whatsAppForm.controls['mediaFile'].value">
                      <label>{{whatsAppForm.controls['mediaFile'].value.name}}</label>&nbsp;&nbsp;
                      <button class="closeBtn" (click)="clearFile()">Close</button>
                    </div>

                    <button *ngIf="this.selectedUser" mat-raised-button color="primary" (click)="geUserChatDetail(selectedUser, 'not-continues')"
                    class="refreshBtn" style="float: right;">Refresh</button>
                  </form>
                  <!-- </div> -->
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>