<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix">
  <div class="content content_full">
    <div class="content__container">
      <div class="card">

        <div class="card__row">
          <div class="card__col-xs-3 card__col-sm-3">
            <mat-form-field appearance="outline">
              <input matInput [formControl]="searchNumber" maxlength="10" placeholder="Search By Mobile number"
                autocomplete="off"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </mat-form-field>
          </div>
          <div class="card__col-xs-2 card__col-sm-2">
            <button class="sendBtn"
              [class.btnDisable]="!this.utileService.isNonEmpty(this.searchNumber.value) || !this.searchNumber.valid"
              style="padding-left: 15px; padding-right: 15px; margin-top: 3px;"
              [disabled]="!this.utileService.isNonEmpty(this.searchNumber.value) || !this.searchNumber.valid"
              (click)="geUserChatDetail('bySearch')">Search</button>
          </div>

        </div>

        <div class="card__row">
          <div class="card__col-xs-12 card__col-sm-12" style="margin-top: 0px;">
            <div class="card__col-lg-4" style="padding: 0px;">
              <!--userList-->
              <!-- <mat-form-field appearance="outline">
                <input matInput [formControl]="searchNumber" placeholder="Search User" (keyup)="searchMyNumber()"
                  autocomplete="off">
              </mat-form-field> -->
              <!-- <button class="refreshBtn" (click)="getUserNotify()">Refresh User List</button>
              <br> -->
              <app-recent-chat-list></app-recent-chat-list>
            </div>
            <div class="card__col-md-8" style="padding: 0px;">
              <mat-accordion *ngIf="this.userchatData">
                <!--selectedUser-->
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <b> {{selectedUser ? selectedUser.name : 'User Not available in our system'}}</b>
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Type your name and age
                      </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <div class="card__row">
                    <div class="card__col-lg-2">
                      <label><b>User Id: </b></label>
                      {{selectedUser ? selectedUser.userId : ' -'}}
                    </div>
                    <div class="card__col-lg-3">
                      <label><b>User Name: </b></label>
                      {{selectedUser ? selectedUser.name: ' -'}}
                    </div>
                    <div class="card__col-lg-4">
                      <label><b>Phone Number: </b></label>
                      {{selectedUser ? selectedUser.whatsAppNumber : ' -'}}
                    </div>
                    <div class="card__col-lg-3">
                      <label><b>Services Availed: </b></label>
                      {{serviceAvailedInfo ? serviceAvailedInfo : ' -'}}
                    </div>
                  </div>
                  <div class="card__row">
                    <div class="card__col-lg-3">
                      <label><b>Consent Status: </b></label>
                      {{selectedUser ? (selectedUser.isUserOpted ? 'Opt-in' : 'Opt-out') : ' -'}}
                    </div>
                    <div class="card__col-lg-3">
                      <label><b>Ticket Owner: </b></label>
                      {{smeInfo.USER_MOBILE !== "0014082016"? smeInfo.USER_F_NAME : 'NA'}}
                    </div>
                    <div class="card__col-lg-3">
                      <label><b>Chat Window Timer: </b></label>
                      {{selectedUser ? (timeExpired ? '00:00:00' : (countDown | async)) : ' -'}}
                      <!-- {{(Math.floor(countDown / (60 * 60))) | async}}:{{(countDown / (60) ) | async}} : {{(countDown % (60) ) | async}} -->
                      <!-- <span id="timer"></span> -->
                    </div>
                    <div class="card__col-lg-3">
                      <label><b>Conversation Status: </b></label>
                      Not applicable
                    </div>
                  </div>

                </mat-expansion-panel>

              </mat-accordion><br>

              <div class="chat-box" *ngIf="this.userchatData">
                <div class="chat-header">
                  <!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                      alt="sunil"> </div> --><i class="fa fa-user-circle-o" aria-hidden="true"> </i>
                  {{selectedUser ? selectedUser.name : selectdMobNum}}
                </div>

                <!-- <div class="card_body" #scrollMe [scrollTop]="scrollMe.scrollHeight"> -->
                <!-- #scrollMe [scrollTop]="scrollMe.scrollHeight"-->
                <!--  <div class="card__row" *ngFor="let data of userchatData">
                    <div class="card__col-lg-12 card__col-md-12 card__col-sm-12 card__col-xs-12">

                      <span class="self"
                        *ngIf="!data.isReceived && !data.mediaId && data.messageType !== 'media_template'">
                        <b style="float: right;">{{smeInfo.USER_F_NAME}}</b><br>

                        <p class="multi_lines_text"
                          [innerHTML]="data.textMessage ? (data.textMessage) : (data.templateContent?data.templateContent: '')">
                        </p><br>

                        <b style="float: right; padding-top:5px; font-size: 11px;" *ngIf="!data.isReceived">
                          {{data.dateLong | date:'medium':'+0530'}} </b>
                      </span>

                      <span class="self" *ngIf="!data.isReceived && data.mediaId && data.mimeType.includes('image')">
                        <b style="float: right;">{{smeInfo.USER_F_NAME}}</b><br><img (click)="downloadDoc(data.mediaId)"
                          alt="Not Show"
                          src="{{environmentPath}}/user/download-media-file?mediaId={{data.mediaId}}"><br>
                        <b style="float: right; padding-top:5px; font-size: 11px;"
                          *ngIf="!data.isReceived && data.mediaId && data.mimeType.includes('image')">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="self"
                        *ngIf="!data.isReceived && data.mediaId && data.mimeType.includes('pdf') && data.messageType !== 'media_template'"
                        (click)="downloadDoc(data.mediaId)">
                        <b style="float: right;">{{smeInfo.USER_F_NAME}}</b><br>
                        <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"> </i><br>
                        <b style="padding-top: 5px;">{{data.fileName}}</b><br>
                        <b style="float: right; padding-top:5px; font-size: 11px;"
                          *ngIf="!data.isReceived && data.mediaId && data.mimeType.includes('pdf') && data.messageType !== 'media_template'">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="self" *ngIf="!data.isReceived && data.messageType === 'media_template'"
                        (click)="downloadDoc(data.mediaId)">
                        <b style="float: right;">{{smeInfo.USER_F_NAME}}</b><br>
                        <strong> Click here to download Media File</strong><br>
                        <p style="padding-top: 5px;">{{data.templateContent}}</p><br>
                        <b style="float: right; padding-top:5px; font-size: 11px;"
                          *ngIf="!data.isReceived && data.messageType === 'media_template'">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="sender"
                        *ngIf="!data.isReceived && data.mediaId && (!data.mimeType.includes('pdf') && !data.mimeType.includes('image'))"
                        (click)="downloadDoc(data.mediaId)">
                        <b style="float: left;">{{selectedUser ? selectedUser.name : ''}}</b><br>
                        Click here to download file<br>
                        <b style="padding-top: 5px;">{{data.fileName}}</b><br>
                        <b style="float: left; padding-top:5px; font-size: 11px;"
                          *ngIf="!data.isReceived && data.mediaId && (!data.mimeType.includes('pdf') && !data.mimeType.includes('image'))">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                    </div>
                    <div class="card__col-lg-12 card__col-md-12 card__col-sm-12 card__col-xs-12">
                      <span class="sender"
                        *ngIf="data.isReceived && !data.mediaId  && data.messageType !== 'media_template'">
                        <b style="float: left;">{{selectedUser ? selectedUser.name : ''}}</b><br>
                        {{data.textMessage ? (data.textMessage) : (data.templateContent?data.templateContent:(data.mediaId? this.showLink(data.mediaId):''))}}<br>
                        <b style="float: left; padding-top:5px; font-size: 11px;"
                          *ngIf="data.isReceived && !data.mediaId"> {{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="sender" *ngIf="data.isReceived && data.mediaId && data.mimeType.includes('image')">
                        <b style="float: left;">{{selectedUser ? selectedUser.name : ''}}</b><br>
                        <img (click)="downloadDoc(data.mediaId)" alt="Not Show"
                          src="{{environmentPath}}/user/download-media-file?mediaId={{data.mediaId}}"><br>
                        <b style="float: left; padding-top:5px; font-size: 11px;"
                          *ngIf="data.isReceived && data.mediaId && data.mimeType.includes('image')">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="sender"
                        *ngIf="data.isReceived && data.mediaId && data.mimeType.includes('pdf') && data.messageType !== 'media_template'"
                        (click)="downloadDoc(data.mediaId)">
                        <b style="float: left;">{{selectedUser ? selectedUser.name : ' -'}}</b><br>
                        <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"> </i><br>
                        <b style="padding-top: 5px;">{{data.fileName}}</b><br>
                        <b style="float: left; padding-top:5px; font-size: 11px;"
                          *ngIf="data.isReceived && data.mediaId && data.mimeType.includes('pdf') && data.messageType !== 'media_template'">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="self" *ngIf="data.isReceived && data.messageType === 'media_template'"
                        (click)="downloadDoc(data.mediaId)">
                        <b style="float: right;">{{smeInfo.USER_F_NAME}}</b><br>
                        <strong> Click here to download Media File</strong><br>
                        <p style="padding-top: 5px;">{{data.templateContent}}</p><br>
                        <b style="float: right; padding-top:5px; font-size: 11px;"
                          *ngIf="data.isReceived && data.messageType === 'media_template'">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>

                      <span class="sender"
                        *ngIf="data.isReceived && data.mediaId && (!data.mimeType.includes('pdf') && !data.mimeType.includes('image'))"
                        (click)="downloadDoc(data.mediaId)">
                        <b style="float: left;">{{selectedUser ? selectedUser.name : ''}}</b><br>
                        Click here to download file<br>
                        <b style="padding-top: 5px;">{{data.fileName}}</b><br>
                        <b style="float: left; padding-top:5px; font-size: 11px;"
                          *ngIf="data.isReceived && data.mediaId && (!data.mimeType.includes('pdf') && !data.mimeType.includes('image'))">{{data.dateLong | date:'medium':'+0530'}}</b>
                      </span>
                    </div>

                  </div> -->
                <div class="mesgs">
                  <div class="msg_history">
                    <span *ngFor="let data of userchatData">
                      <!-- TEMPLATE SENT -->
                      <div class="outgoing_msg"
                        *ngIf="!data.isReceived && !data.mediaId && data.messageType !== 'media_template'">
                        <div class="sent_msg">
                          <p
                            [innerHTML]="data.textMessage ? (data.textMessage) : (data.templateContent?data.templateContent: '')">
                          </p>
                          <span class="time_date"> {{data.dateLong | date:'medium':'+0530'}}</span><i
                            class="fa fa-check-double"></i>
                        </div>
                      </div>
                      <!-- IMAGES SENT -->
                      <div class="outgoing_msg"
                        *ngIf="!data.isReceived && data.mediaId && data.mimeType.includes('image')">
                        <div class="sent_msg">
                          <img (click)="downloadDoc(data.mediaId)" alt="Preview Not available"
                            src="{{environmentPath}}/user/download-media-file?mediaId={{data.mediaId}}">
                          <span class="time_date"> {{data.dateLong | date:'medium':'+0530'}}</span><i
                            class="fa fa-check-double"></i>
                        </div>
                      </div>
                      <!-- PDF SENT -->
                      <div class="outgoing_msg"
                        *ngIf="!data.isReceived && data.mediaId && data.mimeType.includes('pdf') && data.messageType !== 'media_template'">
                        <div class="sent_msg">
                          <p> <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true" (click)="downloadDoc(data.mediaId)">
                            </i><br>
                            {{data.fileName}}</p>
                          <span class="time_date"> {{data.dateLong | date:'medium':'+0530'}}</span><i
                            class="fa fa-check-double"></i>
                        </div>
                      </div>
                      <!-- OTHER MEDIA SENT-->
                      <div class="outgoing_msg"
                        *ngIf="!data.isReceived && data.mediaId && (!data.mimeType.includes('pdf') && !data.mimeType.includes('image'))">
                        <div class="sent_msg">
                          <p (click)="downloadDoc(data.mediaId)"><a>Click here</a> to download Media File,
                            {{data.fileName}}
                          </p>
                          <span class="time_date"> {{data.dateLong | date:'medium':'+0530'}}</span><i
                            class="fa fa-check-double"></i>
                        </div>
                      </div>
                      <!-- OTHER MEDIA 2 SENT -->
                      <div class="outgoing_msg" *ngIf="!data.isReceived && data.messageType === 'media_template'">
                        <div class="sent_msg">
                          <p (click)="downloadDoc(data.mediaId)"><a>Click here</a> to download Media File,
                            {{data.templateContent}}</p>
                          <span class="time_date"> {{data.dateLong | date:'medium':'+0530'}}</span><i
                            class="fa fa-check-double"></i>
                        </div>
                      </div>


                      <!-- TEXT REC -->
                      <div class="incoming_msg"
                        *ngIf="data.isReceived && !data.mediaId  && data.messageType !== 'media_template'">
                        <!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                            alt="sunil"> </div> -->
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>
                              {{data.textMessage ? (data.textMessage) : (data.templateContent?data.templateContent:(data.mediaId? this.showLink(data.mediaId):''))}}
                            </p>
                            <span class="time_date"> {{data.dateLong | date:'medium':'+0530'}} <i
                                class="fa fa-check-double" style="color: red;"></i></span>
                          </div>
                        </div>
                      </div>
                      <!-- IMAGES REC -->
                      <div class="incoming_msg"
                        *ngIf="data.isReceived && data.mediaId && data.mimeType.includes('image')">
                        <!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                            alt="sunil"> </div> -->
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p><img (click)="downloadDoc(data.mediaId)" alt="Not Show"
                                src="{{environmentPath}}/user/download-media-file?mediaId={{data.mediaId}}"></p>
                            <span class="time_date"> {{data.dateLong | date:'medium':'+0530'}}</span>
                          </div>
                        </div>
                      </div>
                      <!-- PDF REC -->
                      <div class="incoming_msg"
                        *ngIf="data.isReceived && data.mediaId && data.mimeType.includes('pdf') && data.messageType !== 'media_template'">
                        <!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                            alt="sunil"> </div> -->
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p> <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"
                                (click)="downloadDoc(data.mediaId)">
                              </i> <br>
                              {{data.fileName}}</p>
                            <span class="time_date"> {{data.dateLong | date:'medium':'+0530'}}</span>
                          </div>
                        </div>
                      </div>
                      <!-- OTHER MEDIA REC-->
                      <div class="incoming_msg"
                        *ngIf="data.isReceived && data.mediaId && (!data.mimeType.includes('pdf') && !data.mimeType.includes('image'))">
                        <!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                            alt="sunil"> </div> -->
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p (click)="downloadDoc(data.mediaId)"><a>Click here</a> to download Media File,
                              {{data.fileName}}</p>
                            <span class="time_date"> {{data.dateLong | date:'medium':'+0530'}}</span>
                          </div>
                        </div>
                      </div>
                      <!-- OTHER MEDIA 2 REC-->
                      <div class="incoming_msg" *ngIf="data.isReceived && data.messageType === 'media_template'">
                        <!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                            alt="sunil"> </div> -->
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p (click)="downloadDoc(data.mediaId)"><a>Click here</a> to download
                              Media File,
                              {{data.templateContent}}</p>
                            <span class="time_date"> {{data.dateLong | date:'medium':'+0530'}}</span>
                          </div>
                        </div>
                      </div>


                    </span>
                  </div>
                  <!-- <div class="type_msg">
                      <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                            aria-hidden="true"></i></button>
                      </div>
                    </div> -->
                </div>
                <!-- </div> -->

                <div class="chat-footer msger-inputarea" *ngIf="!startConversation">
                  <button class="sendBtn"
                    (click)="startChat(selectedUser ? selectedUser.whatsAppNumber : selectdMobNum)">Start
                    Conversation</button>
                </div>

                <div class="chat-footer msger-inputarea" *ngIf="startConversation">
                  <form [formGroup]="whatsAppForm">
                    <div class="card__col-lg-3 card__col-sm-4">
                      <mat-form-field appearance="outline">
                        <mat-label>Select Template</mat-label>
                        <mat-select placeholder="Select Template" formControlName="selectTemplate" #selectTemp
                          [disabled]="(this.whatsAppForm.controls['sentMessage'].value && !this.whatsAppForm.controls['selectTemplate'].value) ? true: false"
                          (selectionChange)="showTemplateMsg($event)">
                          <mat-option *ngFor="let temp of templateInfo" [value]="temp.templateName">
                            {{temp.templateName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>


                    <div class="card__col-lg-7 card__col-sm-4">
                      <!--*ngIf="this.whatsAppForm.controls['selectTemplate'].value"-->
                      <mat-form-field appearance="outline">
                        <textarea matInput formControlName="sentMessage" cdkTextareaAutosize cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="9" [class.disableTestArea]="timeExpired" [readOnly]="timeExpired"
                          name="sentMsg" placeholder="Enter your message..."></textarea>
                        <mat-error *ngIf="this.whatsAppForm.controls['sentMessage'].hasError('fillmandate')">
                          Please fill all attributes values.
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="card__col-lg-2 card__col-sm-4">
                      <button class="sendBtn" (click)="sendMsg()">Send</button>
                    </div><br>

                    <div class="card__col-lg-3 card__col-sm-4">
                      <input type="file" hidden id="input-file-id" #file (change)="uploadMideaFile($event.target.files)"
                        accept=".pdf, .jpg, .jpeg, .png">
                      <button class="sendBtn" (click)="upload()" [ngClass]="timeExpired ? 'btnDisable' : 'sendBtn'"
                        [disabled]="((this.whatsAppForm.controls['sentMessage'].value || this.whatsAppForm.controls['selectTemplate'].value || timeExpired) ? true : false) ">
                        <!-- <i class="fa fa-cloud-upload" style="font-size: 15px;"></i> -->
                        Upload Media File
                      </button>
                    </div>

                    <div class="card__col-lg-9 card__col-sm-8" *ngIf="whatsAppForm.controls['selectTemplate'].value">
                      <label>Clear Selected template:</label>&nbsp;&nbsp;
                      <button class="closeBtn" (click)="clearTemplate()">Clear</button>
                    </div>

                    <div class="card__col-lg-9 card__col-sm-8" *ngIf="whatsAppForm.controls['mediaFile'].value">
                      <label>{{whatsAppForm.controls['mediaFile'].value.name}}</label>&nbsp;&nbsp;
                      <button class="closeBtn" (click)="clearFile()">Close</button>
                    </div>

                    <!-- <button *ngIf="this.selectedUser" mat-raised-button color="primary"
                      (click)="geUserChatDetail(selectedUser, 'not-continues')" class="refreshBtn"
                      style="float: right;">Refresh</button> -->
                  </form>
                  <!-- </div> -->
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>