<div class="content content_full">
  <div class="content__container">
    <div class="card">
      <div class="card__row" style="margin: 0px;">
        <div class="card__col-xs-12 card__col-sm-4">
          <app-input-select-object [label]="'Select User'" [type]="'text'" [value]="selected_merchant" [type]="'text'"
            [name]="'selected_merchant'" [filter_items]="available_merchant_list"
            (sendValue)="onSelectMerchant($event)">
          </app-input-select-object>
        </div>
        <div class="card__col-xs-12 card__col-sm-4">
          <app-calendar [format]="'All'" [isCompareDateShow]="false" [label]="'All'" [type]="'text'"
            [name]="'from_to_date'"
            [value]="(selected_dates.from_date | backTipsDate) +' to '+ (selected_dates.to_date | backTipsDate)"
            (sendBeginDate)="selected_dates.from_date = $event;onSeletedDateChange();"
            (sendEndDate)="selected_dates.to_date = $event;onSeletedDateChange();"></app-calendar>
        </div>
        <div class="card__col-xs-12 card__col-sm-2">
          <app-input-select-object [label]="'Select Type'" [type]="'text'" [value]="selected_invoice_type"
            [type]="'text'" [name]="'selected_invoice_type'" [filter_items]="invoice_types_list"
            (sendValue)="onSelectInvoiceType($event)">
          </app-input-select-object>
        </div>
        <div class="card__col-xs-12 card__col-sm-1">
          <a class="btn" (click)="downloadReport();" style="min-width: 10px;"><i class="fa fa-download"
              aria-hidden="true"></i></a>
        </div>
        <div class="card__col-xs-12 card__col-sm-1">
          <a class="btn" (click)="sendReport();" style="min-width: 10px;"><i class="fa fa-envelope"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>