<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div class="main clearfix" style="padding-left: 0px;">
  <div class="card" style="padding: 0 !important;">
    <mat-horizontal-stepper labelPosition="bottom" linear="true" #stepper (selectionChange)="tabChanged($event)">
      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>
      <mat-step [stepControl]="personalForm">
        <mat-tab-group [selectedIndex]="personalInfoSubTab">
          <mat-tab label="Customer Profile">
            <app-customer-profile (saveAndNext)="saveAndNext($event)"></app-customer-profile>
          </mat-tab>
          <mat-tab label="Personal Information">
            <app-personal-information (saveAndNext)="saveAndNext($event)">
            </app-personal-information>
          </mat-tab>
          <mat-tab label="Other Information">
            <app-other-information (saveAndNext)="saveAndNext($event)">
            </app-other-information>
          </mat-tab>
        </mat-tab-group>
        <ng-template matStepLabel>Personal Information</ng-template>
      </mat-step>
      <mat-step [stepControl]="incomeForm">
        <ng-template matStepLabel>Income Details</ng-template>
        <mat-tab-group [selectedIndex]="incomeSubTab">
          <mat-tab label="Salary Income">
            <app-salary *ngIf="tabIndex=== 1"></app-salary>
          </mat-tab>
          <mat-tab label="House Property">
            <app-house-property *ngIf="tabIndex=== 1"></app-house-property>
          </mat-tab>
          <mat-tab label="Business Income">
            <app-business *ngIf="tabIndex === 1"></app-business>
          </mat-tab>
          <mat-tab label="Other Sources">
            <app-other-income (saveAndNext)="saveAndNext($event)" *ngIf="tabIndex=== 1"></app-other-income>
          </mat-tab>
          <mat-tab label="Capital Gain">
            <app-capital-gain (saveAndNext)="saveAndNext($event)" *ngIf="tabIndex=== 1"></app-capital-gain>
          </mat-tab>
        </mat-tab-group>
        <!--  <div class="content" style="width: 60%;padding-right: 10px;">
          <app-document-upload (uploadDocument)="afterUploadDocs($event)"></app-document-upload>
          <br>
          <div>
            <span *ngFor="let docs of documents; let i=index">
              <div style="padding: 5px; display: block; text-decoration:underline;">
                <a *ngIf="!docs.isDeleted" href="javascript:;" (click)="getSignedUrl(docs)">{{docs.fileName}}</a>
                <button *ngIf="!docs.isDeleted" (click)="deleteFile(docs.filePath)" style="float: right;"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>

                <a *ngIf="docs.isDeleted">{{docs.fileName}}</a> &nbsp;&nbsp;
                <button *ngIf="docs.isDeleted" (click)="deletedFileInfo(docs.cloudFileId)" style="float: right;"
                  title="Deleted file information"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
              </div>

            </span>
            <div *ngIf="deletedFileData.length > 0" class="userInfo">
              <button style="float: right; margin-bottom: 3px;" (click)="closeDialog()"><i class="fa fa-times-circle"
                  aria-hidden="true"></i></button>
              <table>
                <tr>
                  <th><b>Doc Deleted By</b></th>
                  <th><b>Action</b></th>
                  <th><b>Date</b></th>
                </tr>
                <tr *ngFor="let data of deletedFileData">
                  <td>{{data.actionBy === ITR_JSON.userId ? 'User' : 'Tax Buddy'}}</td>
                  <td>{{data.action}}</td>
                  <td>{{data.date | date}}</td>
                </tr>
              </table>
            </div>
          </div>
          <app-document-viewer [docUrl]="docUrl" [viewer]="viewer"></app-document-viewer>
        </div> -->
        <!--  <div class="content" style="width: 40%;">
          <app-update-status *ngIf="tabIndex=== 1" [userId]="ITR_JSON.userId"></app-update-status>
          <hr>
          <app-salary *ngIf="tabIndex=== 1"></app-salary>
          <app-house-property *ngIf="tabIndex=== 1"></app-house-property>
          <app-business *ngIf="tabIndex === 1 && ITR_JSON.itrType === '4'"></app-business>
          <app-other-income (saveAndNext)="saveAndNext($event)" *ngIf="tabIndex=== 1"></app-other-income>
        </div> -->
      </mat-step>

      <mat-step [stepControl]="taxSavingForm">
        <ng-template matStepLabel>Investments/Deductions</ng-template>
        <div class="content" style="width: 60%;padding-right: 10px;">
          <app-document-upload (uploadDocument)="afterUploadDocs($event)"></app-document-upload>
          <br>
          <div>
            <span *ngFor="let docs of documents; let i=index">
              <div style="padding: 5px; display: block; text-decoration:underline;">
                <a *ngIf="!docs.isDeleted" href="javascript:;" (click)="getSignedUrl(docs)">{{docs.fileName}}</a>
                <button *ngIf="!docs.isDeleted" (click)="deleteFile(docs.filePath)" style="float: right;"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>

                <a *ngIf="docs.isDeleted">{{docs.fileName}}</a> &nbsp;&nbsp;
                <button *ngIf="docs.isDeleted" (click)="deletedFileInfo(docs.cloudFileId)" style="float: right;"
                  title="Deleted file information"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
              </div>

            </span>
            <div *ngIf="deletedFileData.length > 0" class="userInfo">
              <button style="float: right; margin-bottom: 3px;" (click)="closeDialog()"><i class="fa fa-times-circle"
                  aria-hidden="true"></i></button>
              <table>
                <tr>
                  <th><b>Doc Deleted By</b></th>
                  <th><b>Action</b></th>
                  <th><b>Date</b></th>
                </tr>
                <tr *ngFor="let data of deletedFileData">
                  <td>{{data.actionBy === ITR_JSON.userId ? 'User' : 'Tax Buddy'}}</td>
                  <td>{{data.action}}</td>
                  <td>{{data.date | date}}</td>
                </tr>
              </table>
            </div>
          </div>
          <app-document-viewer [docUrl]="docUrl" [viewer]="viewer"></app-document-viewer>
        </div>
        <div class="content" style="width: 40%;">
          <app-investments-deductions (saveAndNext)="saveAndNext($event)" *ngIf="tabIndex=== 2">
          </app-investments-deductions>
        </div>
      </mat-step>

      <mat-step [stepControl]="tdsTcsForm">
        <ng-template matStepLabel>Taxes Paid</ng-template>
        <div class="content" style="width: 60%;padding-right: 10px;">
          <app-document-upload (uploadDocument)="afterUploadDocs($event)"></app-document-upload>
          <br>
          <div>
            <span *ngFor="let docs of documents; let i=index">
              <div style="padding: 5px; display: block; text-decoration:underline;">
                <a *ngIf="!docs.isDeleted" href="javascript:;" (click)="getSignedUrl(docs)">{{docs.fileName}}</a>
                <button *ngIf="!docs.isDeleted" (click)="deleteFile(docs.filePath)" style="float: right;"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>

                <a *ngIf="docs.isDeleted">{{docs.fileName}}</a> &nbsp;&nbsp;
                <button *ngIf="docs.isDeleted" (click)="deletedFileInfo(docs.cloudFileId)" style="float: right;"
                  title="Deleted file information"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
              </div>

            </span>
            <div *ngIf="deletedFileData.length > 0" class="userInfo">
              <button style="float: right; margin-bottom: 3px;" (click)="closeDialog()"><i class="fa fa-times-circle"
                  aria-hidden="true"></i></button>
              <table>
                <tr>
                  <th><b>Doc Deleted By</b></th>
                  <th><b>Action</b></th>
                  <th><b>Date</b></th>
                </tr>
                <tr *ngFor="let data of deletedFileData">
                  <td>{{data.actionBy === ITR_JSON.userId ? 'User' : 'Tax Buddy'}}</td>
                  <td>{{data.action}}</td>
                  <td>{{data.date | date}}</td>
                </tr>
              </table>
            </div>
          </div>
          <app-document-viewer [docUrl]="docUrl" [viewer]="viewer"></app-document-viewer>
        </div>
        <div class="content" style="width: 40%;">
          <app-taxes-paid (saveAndNext)="saveAndNext($event)" *ngIf="tabIndex=== 3">
          </app-taxes-paid>
        </div>
      </mat-step>

      <mat-step [stepControl]="declarationForm">
        <ng-template matStepLabel>Declaration/Errors</ng-template>
        <app-declaration (saveAndNext)="saveAndNext($event)" *ngIf="tabIndex === 4"></app-declaration>
      </mat-step>

      <mat-step>
        <!-- <div class="tx1014">Analyse Tax Liability</div> -->
        <ng-template matStepLabel>Summary</ng-template>
        <app-summary *ngIf="tabIndex === 5"></app-summary>
        <!-- <app-analysis *ngIf="tabIndex === 4"></app-analysis> -->
        <hr>

      </mat-step>

      <ng-template matStepperIcon="create">
        <mat-icon>done</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>
    <!-- </div> -->
  </div>
</div>