<div style="overflow: hidden">
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"
  ></ngx-loading>
  <form [formGroup]="profIncomeForm" style="margin: 0px 20px">
    <div class="row bdrBtm" style="align-items: center">
      <div class="col-sm-6">
        <div class="titTx1">Professional Income 44ADA</div>
      </div>
      <div class="col-sm-6">
        <button
          type="button"
          class="new-add btnRt"
          (click)="addProfIncomeForm()"
        >
          + Add More
        </button>
      </div>
    </div>

    <div
      formArrayName="profIncomeFormArray"
      style="height: 100%; padding-top: 5px; box-sizing: border-box"
    >
      <div
        *ngFor="
          let income of profIncomeFormArray.controls | paginate : config;
          let i = index
        "
        [formGroupName]="fieldGlobalIndex(i)"
      >
        <div class="row specBk">
          <div class="col-sm-1">
            <mat-checkbox
              name="hasEdit[i]"
              formControlName="hasEdit"
              class="tpBtn1"
            >
            </mat-checkbox>
          </div>
          <div class="col-sm-3">
            <mat-label>Nature of Profession</mat-label>
            <mat-form-field appearance="outline">
              <mat-select
                formControlName="natureOfBusiness"
                name="natureOfBusiness[i]"
              >
                <mat-option
                  *ngFor="let nature of natureOfBusinessList"
                  [value]="nature.code"
                  matTooltip="{{ nature.label }}-{{ nature.code }}"
                  [disabled]="nature.disabled"
                >
                  {{ nature.label }}-{{ nature.code }}
                </mat-option></mat-select
              >
            </mat-form-field>
            <mat-error
              *ngIf="
                (profIncomeFormArray.controls[i].get('natureOfBusiness')
                  .touched ||
                  submitted) &&
                profIncomeFormArray.controls[i]
                  .get('natureOfBusiness')
                  .hasError('required')
              "
              >Please select</mat-error
            >
          </div>

          <div class="col-sm-2">
            <mat-label>Trade Name</mat-label>
            <mat-form-field appearance="outline">
              <input
                formControlName="tradeName"
                matInput
                name="tradeName[i]"
                class="input-field"
                required
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                (profIncomeFormArray.controls[i].get('tradeName').touched ||
                  submitted) &&
                profIncomeFormArray.controls[i]
                  .get('tradeName')
                  .hasError('required')
              "
              >Please enter the amount</mat-error
            >
          </div>
          <div class="col-sm-2">
            <mat-label>Gross Receipt</mat-label>
            <mat-form-field appearance="outline">
              <input
                formControlName="receipts"
                matInput
                name="receipts[i]"
                class="input-field"
                required
                digitsOnly
                (change)="calculatePresumptive($event, i)"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                (profIncomeFormArray.controls[i].get('receipts').touched ||
                  submitted) &&
                profIncomeFormArray.controls[i]
                  .get('receipts')
                  .hasError('required')
              "
              >Please enter the amount</mat-error
            >
          </div>
          <div class="col-sm-3">
            <mat-label>Presumptive Income Min(50%)</mat-label>
            <mat-form-field appearance="outline">
              <input
                formControlName="presumptiveIncome"
                matInput
                name="presumptiveIncome[i]"
                class="input-field"
                required
                digitsOnly
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                (profIncomeFormArray.controls[i].get('presumptiveIncome')
                  .touched ||
                  submitted) &&
                profIncomeFormArray.controls[i]
                  .get('presumptiveIncome')
                  .hasError('required')
              "
              >Please enter the amount</mat-error
            >
            <mat-error
              *ngIf="
                (profIncomeFormArray.controls[i].get('presumptiveIncome')
                  .touched ||
                  submitted) &&
                profIncomeFormArray.controls[i]
                  .get('presumptiveIncome')
                  .hasError('min')
              "
              >Amount should be greater than {{ amountFifty }}
            </mat-error>
            <mat-error
              *ngIf="
                (profIncomeFormArray.controls[i].get('presumptiveIncome')
                  .touched ||
                  submitted) &&
                profIncomeFormArray.controls[i]
                  .get('presumptiveIncome')
                  .hasError('max')
              "
              >Amount cannot be greater than {{ amountFiftyMax }}
            </mat-error>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row spsTp bdrTp" style="margin: 0px 20px">
    <div class="col-sm-3">
      <button
        type="submit"
        class="delete-btn"
        (click)="deleteArray()"
        [disabled]="!profSelected()"
      >
        <i class="fa fa-trash" aria-hidden="true">&nbsp;</i>Delete
      </button>
    </div>
    <div class="col-sm-6 txt-center">
      <table>
        <tr
          *ngFor="let item of getProfIncomeArray.controls | paginate : config"
        ></tr>
      </table>
      <pagination-controls
        (pageChange)="pageChanged($event)"
      ></pagination-controls>
    </div>
  </div>
</div>

<!-- OLD CODE -->
<!-- <div
    class="card__row"
    style="
      margin-bottom: 10px;
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 15px;
    "
  >
    <div class="row">
      <div class="col-sm-9">
        <div class="txtTitle">Professional Income 44ADA</div>
      </div>
      <div class="col-sm-3">
        <button
          class="new-add btnRt"
          (click)="addProfessionalRow('ADD', professionalData)"
        >
          <i class="fa fa-plus" aria-hidden="true"></i>
          Add More Professional Income
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button
          class="edit-donation mvRthA"
          (click)="editProfessionalRow('EDIT', professionalData)"
          [disabled]="
            this.selection.selected.length > 1 ||
            this.selection.selected.length === 0
          "
        >
          <mat-icon
            role="img"
            class="mat-icon notranslate material-icons mat-icon-no-color"
            aria-hidden="true"
            data-mat-icon-type="font"
          >
            edit_square
          </mat-icon>
          Edit
        </button>
      </div>
    </div>

    <div class="">
      <div class="card__col-xs-12 card__col-sm-12"> -->
<!-- <div style="height: 100%; padding-top: 5px; box-sizing: border-box;">
                <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham cg-table"
                    [gridOptions]="professionalGridOptions" [frameworkComponents]="frameworkComponents"
                    (rowClicked)="onProfessionalRowClicked($event)">
                </ag-grid-angular>
            </div> -->
<!-- <table
          mat-table
          [dataSource]="dataSource"
          style="width: 100%; overflow: auto"
          class="table-income"
        >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="natureOfBusiness">
            <th mat-header-cell *matHeaderCellDef>Nature Of Profession</th>
            <td mat-cell *matCellDef="let element">
              {{ getBusinessName(element) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tradeName">
            <th mat-header-cell *matHeaderCellDef>Trade Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.tradeName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="receipts">
            <th mat-header-cell *matHeaderCellDef>Gross Reciept</th>
            <td mat-cell *matCellDef="let element">{{ element.receipts }}</td>
          </ng-container>

          <ng-container matColumnDef="presumptiveIncome">
            <th mat-header-cell *matHeaderCellDef>
              Presumptive Income min (50%)
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.presumptiveIncome }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selection.toggle(row)"
          ></tr>
        </table>

        <div class="col-sm-12 spsTp bdrTp">
          <button
            mat-raised-button
            color="warn"
            (click)="removeSelectedRows()"
            style="margin-top: 1%"
          >
            Delete
          </button>
          <button (click)="onContinue()" class="tbd-btn save-btn mvRth">
            Save
          </button>
        </div> -->

<!-- <div style="text-align: center"> -->
<!-- <button class="tbd-btn-secondary" (click)="this.location.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                            &nbsp;&nbsp;Back</button> -->
<!-- </div> -->
<!-- </div>
    </div>
  </div>
</div> -->
