<div style="overflow: hidden;">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
    <div class="card__row" style="margin-bottom: 10px; margin-top :10px; 
    margin-left: 20px; margin-right: 15px;">
        <div class="">
            <div class="card__col-xs-12 card__col-sm-10">
                <b style="font-size: 14px;">Professional Income 44ADA </b>
            </div>
            <div class="card__col-xs-12 card__col-sm-2" style="text-align: right;">
                <button class="tbd-btn-small" style="text-align: right;"
                    (click)="addEditProfessionalRow('ADD', professionalData)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add More Professional Income&nbsp;&nbsp;
                </button>
            </div>
        </div>
        <div class="card__col-xs-12 card__col-sm-12">
            <!-- <div style="height: 100%; padding-top: 5px; box-sizing: border-box;">
                <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham cg-table"
                    [gridOptions]="professionalGridOptions" [frameworkComponents]="frameworkComponents"
                    (rowClicked)="onProfessionalRowClicked($event)">
                </ag-grid-angular>
            </div> -->
            <div class="container">
                <div class="card__row">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="select">
                         <th mat-header-cell *matHeaderCellDef>
                           <mat-checkbox (change)="$event ? masterToggle() : null"
                                         [checked]="selection.hasValue() && isAllSelected()"
                                         [indeterminate]="selection.hasValue() && !isAllSelected()">
                           </mat-checkbox>
                         </th>
                         <td mat-cell *matCellDef="let row">
                           <mat-checkbox (click)="$event.stopPropagation()"
                                         (change)="$event ? selection.toggle(row) : null"
                                         [checked]="selection.isSelected(row)">
                           </mat-checkbox>
                         </td>
                       </ng-container>
                     
                      
                       <ng-container matColumnDef="natureOfBusiness">
                         <th mat-header-cell *matHeaderCellDef> Nature Of Profession </th>
                         <td mat-cell *matCellDef="let element"> {{element.natureOfBusiness}} </td>
                       </ng-container>
                       
                       <ng-container matColumnDef="tradeName">
                         <th mat-header-cell *matHeaderCellDef> Trade Name </th>
                         <td mat-cell *matCellDef="let element"> {{element.tradeName}} </td>
                       </ng-container>
            
                       <ng-container matColumnDef="receipts">
                         <th mat-header-cell *matHeaderCellDef>Gross Reciept</th>
                         <td mat-cell *matCellDef="let element"> {{element.receipts}} </td>
                       </ng-container>
    
                       <ng-container matColumnDef="presumptiveIncome">
                        <th mat-header-cell *matHeaderCellDef>Presumptive Income min (50%)  </th>
                        <td mat-cell *matCellDef="let element"> {{element.presumptiveIncome}} </td>
                      </ng-container>
                       
                       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                       <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                           (click)="selection.toggle(row)">
                       </tr>
                     </table>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" (click)="removeSelectedRows()">
                         Delete
                        </button>
                     </div>
                </div>
        </div>
    </div>
</div>
<div style="text-align: center;">
    <!-- <button class="tbd-btn-secondary" (click)="this.location.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        &nbsp;&nbsp;Back</button> -->
    <button class="tbd-btn" (click)="onContinue()">&nbsp;&nbsp;Save </button>
</div>