.success-head {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    font-family: fantasy;
    padding-top: 20px;
    line-height: normal;
}

.card__row ul li {
    font-size: 14px;
    line-height: normal;
}