<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<!-- New Open Close Filter Starts -->
<div class="mrgArdTog1">
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> arrow_forward_ios </mat-icon>
          Filter - Old Invoices:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="rowClr">
        <div class="surround">
          <div class="row">
            <div class="col-sm-3">
                        <mat-label> Financial Year </mat-label>
                        <mat-form-field appearance="outline" class="customBg">
                           <mat-select matInput placeholder="Financial Year" [formControl]="assessmentYear" autocomplete="off" (selectionChange)="setDates()" required >
                            <mat-option *ngFor="let item of fyDropDown" [value]="item.value">
                              {{item.label}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
            </div>
            <div class="col-sm-3 spsTp">
                        <!-- <mat-label> From Date </mat-label> -->
                        <mat-form-field appearance="outline">
                          <mat-label>From Date</mat-label>
                          <input matInput [formControl]="startDate" [matDatepicker]="picker1" [max]="maxDate" autocomplete="off"
                            (dateChange)="setToDateValidation(startDate.value)" />
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                          <mat-error *ngIf="startDate.hasError('required')">Select From date</mat-error>
                        </mat-form-field>
              </div>
              <div class="col-sm-3 spsTp">
                        <!-- <mat-label> To Date </mat-label> -->
                        <mat-form-field appearance="outline">
                          <mat-label>To Date</mat-label>
                          <input matInput [formControl]="endDate" [matDatepicker]="picker2" [max]="maxDate" autocomplete="off" />
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                          <mat-error *ngIf="endDate.hasError('required')">Select To date</mat-error>
                          <mat-error *ngIf="endDate.hasError('min')">To date always greater than from date</mat-error>
                        </mat-form-field>
             </div>
             <div class="col-sm-3">
                        <mat-label>Select Status </mat-label>
                        <mat-form-field appearance="outline">
                          <mat-select placeholder="Select Status" [formControl]="status" required>
                            <mat-option *ngFor="let item of Status" [value]="item.value">
                              {{ item.label }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
            </div>


                      <div class="col-sm-12 spsTp bdrTp">
                        <button class="dwldBtn" [disabled]="loading" (click)="downloadInvoicesSummary()">
                          <i class="fa fa-download" aria-hidden="true"></i> Download File
                        </button>
                        <button class="srch-btn mvRth" [disabled]="loading" (click)="getInvoices()">
                          <i class="fas fa-file-invoice" aria-hidden="true"></i> Show Invoice
                        </button>
                      </div>

        </div>
</div>
</div>

    </mat-expansion-panel>
   </mat-accordion>
</div>
<!-- New Open Close Filter Ends -->


<!-- Table Below -->
<div class="tableSpc">
  <div class="row">
  <div class="col-sm-8">
    <div class="txTit">
      Old Invoices Details:
    </div>
  </div>
  <div class="col-sm-4">
  <div class="count1"> Total Invoices: <span class="txClr1">{{ totalInvoice }}</span></div>
  </div>
  </div>

  <table>
  <tr *ngFor="let item of invoiceInfo | paginate : config"></tr>
  </table>
  <ag-grid-angular class="ag-theme-balham topSps" [gridOptions]="invoiceListGridOptions" (rowClicked)="onInvoiceRowClicked($event)">
  </ag-grid-angular>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

</div>

