<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<mat-tab-group>
    <mat-tab label="Business Income">
        <app-presumptive-business-income (saveAndNext)="saveAndNext($event)"></app-presumptive-business-income>
    </mat-tab>
    <mat-tab label="Professional Income">
        <app-presumptive-professional-income
            (saveAndNext)="saveAndNext($event)"></app-presumptive-professional-income>
    </mat-tab>
</mat-tab-group> -->
<div class="spc-blw mrgArd">
  <mat-accordion class="headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> arrow_forward_ios </mat-icon>
          Business Income
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-presumptive-business-income
        #PresumptiveBusinessIncomeComponentRef
        (presBusinessSaved)="onPresBusinessSaved($event)"
      ></app-presumptive-business-income>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> arrow_forward_ios </mat-icon>
          Professional Income
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-presumptive-professional-income
        #PresumptiveProfessinalIncomeComponentRef
        (presProfessionalSaved)="onPresProfessionalSaved($event)"
      ></app-presumptive-professional-income>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="flex justify-between p-[30px] back-foot">
    <button class="lgtBtn" (click)="goBack()">
      <mat-icon class="icoAdj">keyboard_backspace</mat-icon>
      <span class="font-semibold">&nbsp;Back to Source Page</span>
    </button>
    <button class="saveBtnIn" (click)="saveAll()">
      <span class="font-semibold">Save All</span>
    </button>
  </div>
</div>
