<!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>-->

<div class="main clearfix">
  <div class="row">
    <div class="col-sm-6">
  <h4 class="bdrbl">Activities:</h4>
</div>
<!-- <div class="col-sm-6">
  <div class="float-right">
    <span class="TxBg">Documents Uploaded</span>
      <span class="numTxBg">{{commissionData?.documentsUploaded || 'NA'}}</span>
    </div>
</div> -->
</div>



  <div class="row rowClr">

    <div class="col-sm-12">
      <div class="radiuSrch">
        <div class="row">
          <div class="col-sm-3">
            <mat-label> Search By Filer </mat-label>
            <mat-form-field appearance="outline">
              <input matInput type="text" [formControl]="searchFiler" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option1 of filteredFilers | async" [value]="option1.name"
                  (click)="getFilerNameId(option1)">
                  {{ option1.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <div>
              <label for="start-date">Start Date:</label>
              <input  type="date" matInput id="date" name="start-date" class="form-control" [formControl]="startDate"
                [min]="minDate" [max]="maxStartDate" (change)="setEndDateValidate(this.startDate)">
            </div>
          </div>
          <div class="col-sm-3">
            <div>
              <label for="end-date">End Date:</label>
              <input  type="date" matInput id="date" name="end-date" class="form-control" [formControl]="endDate"
                [min]="minEndDate" [max]="maxDate">
            </div>
          </div>

          <div class="col-sm-2 text-center">
            <button class="srch-btn" [disabled]="loading" (click)="search('all')" ><i class="fa fa-search" aria-hidden="true"></i> Search </button>
          </div>
          <div class="col-sm-1 text-center" style="margin-top: 25px;">
            <button class="tbd-btn-clear" [disabled]="loading" (click)="this.resetFilters()">
              <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;
              Clear
            </button>
          </div>

      </div>
    </div>
    </div>

    <div class="row rowSp">
      <div class="col-sm-12">
        <h5 class="bdrbl1">ITR Overview:</h5>
      </div>
      <div class="col-sm-2">
        <div class="radius3">
          <span class="bluTx">{{itrOverview?.assignedUsersCount || 'NA'}}</span><br>
          <span class="TxSm">Assign Users</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="radius3">
          <span class="bluTx">{{itrOverview?.openCount || 'NA'}}</span><br>
          <span class="TxSm">Open</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="radius3">
          <span class="bluTx">{{itrOverview?.documentUploadedCount || 'NA'}}</span><br>
          <span class="TxSm">Document Uploaded</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="radius3">
          <span class="bluTx">{{itrOverview?.inProcessCount || 'NA'}}</span><br>
          <span class="TxSm">In Process</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="radius3">
          <span class="bluTx">{{itrOverview?.waitingForConfirmationCount || 'NA'}}</span><br>
          <span class="TxSm">Waiting for confirmation</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="radius3">
          <span class="bluTx">{{itrOverview?.backedOutCount || 'NA'}}</span><br>
          <span class="TxSm">Back Out</span>
        </div>
      </div>
    </div>

     <div class="col-sm-6">
      <div class="radius">
      <!-- Internal Row Starts -->
      <div class="row">
        <div class="col-sm-12">
          <div class="radius2 spTp RedBk">
          <div class="inBxL">
          <span class="numTxSm redTx"><i class="fa fa-bullhorn"></i> {{invoiceData?.unpaidInvoiceCount || 'NA'}}</span><br>
          <span class="TxSm"> Unpaid Invoices</span>
          </div>
          <div class="inBxR">
          <span class="numTxSm redTx">₹ {{invoiceData?.unpaidAmount || 'NA'}}</span><br>
          <span class="TxSm"> Unpaid Amount</span>
          </div>
          <span class="redtxsm">*Ensure payment of outstanding invoices to earn ₹ {{invoiceData?.unpaidAmount || 'NA'}} more in commission</span>
        </div>
        </div>

        <div class="col-sm-12">
          <div class="radius2">
          <div class="inBxL">
          <span class="numTxSm">{{invoiceData?.noOfInvoicesRaised || 'NA'}}</span><br>
          <span class="TxSm">No of Invoices Raised</span>
          </div>
          <div class="inBxR">
          <span class="numTxSm">₹ {{invoiceData?.revenueGenerated || 'NA'}}</span><br>
          <span class="TxSm">Revenue Generated</span>
          </div>
        </div>
        </div>

        <div class="col-sm-12 tpSp1">
          <div class="radius2 grBk">
          <div class="inBxL">
          <span class="numTxSm grTx">{{invoiceData?.paidInvoiceCount || 'NA'}}</span><br>
          <span class="TxSm">Paid Invoices</span>
          </div>
          <div class="inBxR">
          <span class="numTxSm grTx">₹ {{invoiceData?.paidAmount || 'NA'}}</span><br>
          <span class="TxSm">Paid Amount</span>
          </div>
        </div>

        </div>





      </div>
      <!-- Internal Row Ends -->
      </div>
    </div>

    <div class="col-sm-6">
      <div class="radius">
        <span class="TxHd"><i class="fa fa-user-circle-o"></i> Total Commission Earned</span>&nbsp;
        <span class="numTxBg">₹ {{(commissionData?.totalCommissionEarned | number:'1.2-2') || 'NA'}}</span>
        <div class="row">
          <div class="col-sm-6">
            <div class="radius1 grBk">
            <span class="numTxSm grTx">₹ {{(commissionData?.receivedAmount | number:'1.2-2') || 'NA'}}</span><br>
            <span class="TxSm">Received</span><br>
            <span class="grytx">Amount Approved</span>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="radius1 OrgBk">
            <span class="numTxSm OrgTx">₹ {{(commissionData?.receivableAmount | number:'1.2-2') || 'NA'}}</span><br>
            <span class="TxSm">Receivable</span><br>
            <span class="grytx">Approval in Progress</span>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6"></div>
  <div class="col-sm-6 spRtTp">
  <div class="radius">
    <span class="TxHd"><i class="fa fa-handshake-o"></i> Total ITR Filed</span>&nbsp;
    <span class="numTxBg">{{commissionData?.totalItrFiled || 'NA'}}</span>
    <!-- Inside Row -->
    <div class="row">
      <span class="TxHd">Original Returns : </span>
      <div class="col-sm-2">
        <div class="radius1">
        <span class="numTxSm">{{commissionData?.itr1 || 'NA'}}</span><br>
        <span class="TxSm">ITR1</span><br>
      </div>
      </div>
      <div class="col-sm-2">
        <div class="radius1">
        <span class="numTxSm">{{commissionData?.itr2 || 'NA'}}</span><br>
        <span class="TxSm">ITR2</span><br>
      </div>
      </div>
      <div class="col-sm-2">
        <div class="radius1">
        <span class="numTxSm">{{commissionData?.itr3 || 'NA'}}</span><br>
        <span class="TxSm">ITR3</span><br>
      </div>
      </div>
      <div class="col-sm-2">
        <div class="radius1">
        <span class="numTxSm">{{commissionData?.itr4 || 'NA'}}</span><br>
        <span class="TxSm">ITR4</span><br>
      </div>
      </div>
      <div class="col-sm-2">
        <div class="radius1">
        <span class="numTxSm">{{commissionData?.other || 'NA'}}</span><br>
        <span class="TxSm">Other</span>
      </div>
      </div>
      <div class="col-sm-2">
        <div class="radius1">
        <span class="numTxSm">{{commissionData?.itrU || 'NA'}}</span><br>
        <span class="TxSm">ITR U</span><br>
      </div>
      </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <span class="TxHd">Revised Returns : </span>
        <div class="col-sm-3">
          <div class="radius1">
          <span class="numTxSm">{{commissionData?.itr1_revised || 'NA'}}</span><br>
          <span class="TxSm">ITR1</span><br>
        </div>
        </div>
        <div class="col-sm-3">
          <div class="radius1">
          <span class="numTxSm">{{commissionData?.itr2_revised || 'NA'}}</span><br>
          <span class="TxSm">ITR2</span><br>
        </div>
        </div>
        <div class="col-sm-3">
          <div class="radius1">
          <span class="numTxSm">{{commissionData?.itr3_revised || 'NA'}}</span><br>
          <span class="TxSm">ITR3</span><br>
        </div>
        </div>
        <div class="col-sm-3">
          <div class="radius1">
          <span class="numTxSm">{{commissionData?.itr4_revised || 'NA'}}</span><br>
          <span class="TxSm">ITR4</span><br>
        </div>
        </div>
      </div>

    <!-- Inside Row Ends -->
  </div>
</div>
</div>

<!-- Tables Start -->
<div class="row">
  <div class="col-sm-6">
  <div class="radiusTab">
      <div class="tx">Document Uploaded but filing not yet started</div>
      <button class="proceed2" [disabled]="loading" (click)="goTo('myUsers')">Proceed <i class="fa fa-long-arrow-right"></i></button>
    <table class="table table-bordered">
      <thead>
        <!-- <tr>
          <th scope="col">#</th>
          <th scope="col">User Name</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Doc Upload Date</th>
          <th scope="col">Payment Status</th>
        </tr> -->
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Name</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Doc Upload Date</th>
          <th scope="col">Payment Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of docUploadedData?.content | paginate:config.docUpload; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.userName }}</td>
          <td><a [routerLink]="['/tasks/assigned-users-new']" [queryParams]="{mobileNumber: item.contactNumber}">{{ item.contactNumber }}</a></td>
          <td>{{ item.docUploadDate | date:'d/M/yy,  h:mm a':'UTC' }}</td>
          <td [ngClass]="{'text-danger': item.paymentStatus === 'Unpaid'}">{{ item.paymentStatus }}</td>
        </tr>
        <tr *ngIf="docUploadedData?.content?.length === 0">
          <td colspan="5" class="text-center">
            No Records Found
          </td>
        </tr>
        <!-- <tr>
          <th scope="row">1</th>
          <td>Revati Laghate</td>
          <td>9869550196</td>
          <td>13/03/2022</td>
          <td class="unpaid">Unpaid</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Talwinder Singh</td>
          <td>9781519460</td>
          <td>03/12/2022</td>
          <td>Paid</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Sumit Kumar</td>
          <td>9717362887</td>
          <td>13/03/2022</td>
          <td class="unpaid">Unpaid</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Prakash Chim</td>
          <td>8956917455</td>
          <td>13/03/2022</td>
          <td>Paid</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Anupama Ps</td>
          <td>8113002109</td>
          <td>03/03/2022</td>
          <td class="unpaid">Unpaid</td>
        </tr> -->
      </tbody>
    </table>
    <pagination-controls *ngIf="docUploadedData?.content?.length > 0" id="pagination1" class="pagination" (pageChange)="pageChanged($event,'docUpload')"></pagination-controls>

    <!-- <nav aria-label="..." class="float-right">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav> -->

  </div>
  </div>
  <div class="col-sm-6">
  <div class="radiusTab">
      <div class="tx">Waiting for Confirmation - As On ({{ today | date:'dd MMMM yyyy' }})</div>
      <button class="proceed2" [disabled]="loading" (click)="goTo('myItr')">Proceed <i class="fa fa-long-arrow-right"></i></button>
    <table class="table table-bordered">
      <thead>
        <!-- <tr>
          <th scope="col">#</th>
          <th scope="col">User Name</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Summary Sent Date</th>
          <th scope="col">Confirmation & Status</th>
        </tr> -->
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Name</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Summary Sent Date</th>
          <th scope="col">Confirmation & Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of summaryConfirmationData?.content | paginate:config.summaryConfirmation; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.userName }}</td>
          <td><a [routerLink]="['/tasks/filings']" [queryParams]="{mobileNumber: item.contactNumber}">{{ item.contactNumber }}</a></td>
          <td>{{ item.summarySentDate | date:'d/M/yy,  h:mm a':'UTC' }}</td>
          <td>{{ item.userConfirmationStatus }}</td>
        </tr>
        <tr *ngIf="summaryConfirmationData?.content?.length === 0">
          <td colspan="5" class="text-center">
            No Records Found
          </td>
        </tr>
        <!-- <tr>
          <th scope="row">1</th>
          <td>Revati Laghate</td>
          <td>9869550196</td>
          <td>13/03/2022</td>
          <td>CNF, Filing Pending</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Talwinder Singh</td>
          <td>9781519460</td>
          <td>03/12/2022</td>
          <td>Awaiting CNF</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Sumit Kumar</td>
          <td>9717362887</td>
          <td>13/03/2022</td>
          <td>CNF, Filing Pending</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Prakash Chim</td>
          <td>8956917455</td>
          <td>13/03/2022</td>
          <td>Awaiting CNF</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Anupama Ps</td>
          <td>8113002109</td>
          <td>03/03/2022</td>
          <td>Awaiting CNF</td>
        </tr> -->
      </tbody>
    </table>
    <pagination-controls *ngIf="summaryConfirmationData?.content?.length > 0" id="pagination2" class="pagination" (pageChange)="pageChanged($event,'summaryConfirmation')"></pagination-controls>

    <!-- <nav aria-label="..." class="float-right">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav> -->

  </div>
  </div>
  <div class="col-sm-6">
    <div class="radiusTab">
        <div class="tx">ITR Filed E- verification Pending</div>
        <button class="proceed2" [disabled]="loading" (click)="goTo('myItr1')">Proceed <i class="fa fa-long-arrow-right"></i></button>
      <table class="table table-bordered">
        <thead>
          <!-- <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">ITR Filed date</th>
           </tr> -->
           <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">ITR Filed date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of eVerificationPendingData?.content | paginate:config.eVerificationPending; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ item.userName }}</td>
            <td><a [routerLink]="['/tasks/filings']" [queryParams]="{mobileNumber: item.contactNumber}">{{ item.contactNumber }}</a></td>
            <td>{{ item.itrFiledDate | date:'d/M/yy,  h:mm a':'UTC' }}</td>
          </tr>
          <tr *ngIf="eVerificationPendingData?.content?.length === 0">
            <td colspan="4" class="text-center">
              No Records Found
            </td>
          </tr>
          <!-- <tr>
            <th scope="row">1</th>
            <td>Revati Laghate</td>
            <td>9869550196</td>
            <td>03/12/2022</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Talwinder Singh</td>
            <td>9781519460</td>
            <td>03/12/2022</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Sumit Kumar</td>
            <td>9717362887</td>
            <td>13/03/2022</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Prakash Chim</td>
            <td>8956917455</td>
            <td>13/03/2022</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Anupama Ps</td>
            <td>8113002109</td>
            <td>03/03/2022</td>
          </tr> -->
        </tbody>
      </table>
      <pagination-controls *ngIf="eVerificationPendingData?.content?.length > 0" id="pagination3" class="pagination" (pageChange)="pageChanged($event,'eVerificationPending')"></pagination-controls>

      <!-- <nav aria-label="..." class="float-right">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav> -->

    </div>
    </div>
    <div class="col-sm-6">
      <div class="radiusTab">
          <div class="tx">Scheduled Calls</div>
          <button class="proceed2" [disabled]="loading" (click)="goTo('scheduleCall')">Proceed <i class="fa fa-long-arrow-right"></i></button>
        <table class="table table-bordered">
          <thead>
            <!-- <tr>
              <th scope="col">#</th>
              <th scope="col">User Name</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Schedule Call Date</th>
              <th scope="col">Time</th>
             </tr> -->
             <tr>
              <th scope="col">#</th>
              <th scope="col">User Name</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Schedule Call Date Time</th>
              <!-- <th scope="col">Time</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of scheduleCallData?.content | paginate:config.scheduleCall; let i = index;">
              <td>{{ i+1 }}</td>
              <td>{{ item.userName }}</td>
              <td><a [routerLink]="['/tasks/schedule-call']" [queryParams]="{mobileNumber: item.userMobile}">{{ item.userMobile }}</a></td>
              <!-- <td>{{ item.userMobile }}</td> -->
              <td>{{ item.scheduleCallTime | date:'d/M/yy,  h:mm a':'UTC' }}</td>
            </tr>
            <tr *ngIf="scheduleCallData?.content?.length === 0">
              <td colspan="4" class="text-center">
                No Records Found
              </td>
            </tr>
            <!-- <tr>
              <th scope="row">1</th>
              <td>Revati Laghate</td>
              <td>9869550196</td>
              <td>03/12/2022</td>
              <td>Null</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Talwinder Singh</td>
              <td>9781519460</td>
              <td>03/12/2022</td>
              <td>Null</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Sumit Kumar</td>
              <td>9717362887</td>
              <td>13/03/2022</td>
              <td>Null</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Prakash Chim</td>
              <td>8956917455</td>
              <td>13/03/2022</td>
              <td>Null</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Anupama Ps</td>
              <td>8113002109</td>
              <td>03/03/2022</td>
              <td>Null</td>
            </tr> -->
          </tbody>
        </table>
        <pagination-controls *ngIf="scheduleCallData?.content?.length > 0" id="pagination4" class="pagination" (pageChange)="pageChanged($event,'scheduleCall')"></pagination-controls>

        <!-- <nav aria-label="..." class="float-right">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav> -->

      </div>
      </div>

</div>
<!-- Tables Ends -->




</div>
