.btn-logout {
    display: inline-block;
    margin: 8px;
    padding: 12px 15px;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    border-radius: 5px;
    transition-property: color, background-color;
    transition-duration: 0.25s;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border: solid 2px;
    background-color: red;
}

.btn-logout:hover {
    background-color: white;
    color: red;
    border: solid 2px red;
}