<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="content" style="margin-top: 30px;width: 40%">
  <div class="content__container">    
      <div class="invoice_images card card_main" style="position: relative;">
          <ngx-loading [show]="imageLoader"></ngx-loading>
          <div class="card__row">
              <div class="wrapper" style="padding-top: 0;position: relative;" *ngIf="invoiceData.s3InvoiceImageUrl && !isEditInvoiceImage">
                  <div class="container">
                      <div class="card__col-xs-12 card__col-sm-12">
                          <div class="image" >
                              <img src="{{invoiceData.s3InvoiceImageUrl}}" alt="" class="image__item" [style.opacity]="(invoiceData.s3InvoiceImageUrl) ? '1' : '0'">
                          </div>
                          <div class="edit-invoice-image">
                            <div (click)="isEditInvoiceImage=true"><i class="fa fa-edit"></i></div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /drag-wrapper -->
              <div class="card__col-xs-12 card__col-sm-12" *ngIf="!invoiceData.s3InvoiceImageUrl || isEditInvoiceImage" style="padding: 10px 10px !important;">
                <app-input-upload [upload]="upload" [input_id]="'invoiceData-s3InvoiceImageUrl'" (filesDropped)="uploadInvoiceImage($event)"></app-input-upload>
              </div>
              <div class="card__col-xs-12 card__col-sm-12" *ngIf="isEditInvoiceImage" style="text-align: center;">
                <a class="btn btn-cancel" (click)="isEditInvoiceImage=false">Cancel</a>                
              </div>
          </div>
      </div> 
  </div><!-- .content__container -->
</div><!-- .content -->

<div class="content" style="margin-top: 30px;width: 60%">
  <div class="content__container">    
      <div class="card card_main">
          <div class="card__row hidder" [class.hidder_line-on]="true" [class.hidder_expand]="showSubOpt['inv_info']">
            <div class="hidder__line clearfix">
                <div class="card__col-xs-12">
                    <div class="hidder__name card__title" style="color: #6a6a67;" (click)="showSubOpt['inv_info'] = !showSubOpt['inv_info']">Invoice information</div>
                </div>              
            </div>
            <div *ngIf="showSubOpt['inv_info']" class="hidder__content card__col-xs-12">
              <div class="card__row">     
                <div class="card__col-xs-12 card__col-sm-4">                              
                  <app-input-select-object [label]="'Invoice Type'" [is_mandatory]="'true'"  [type]="'text'" [value]="selected_invoice_type" [name]="'Invoice Type'" [filter_items]="invoice_types" (sendValue)="onSelectInvoiceType($event)">
                  </app-input-select-object>
                </div>      
                
                <div class="card__col-xs-12 card__col-sm-4">              
                  <app-calendar [format]="'from'" [label]="'Invoice Date'" [type]="'text'" [init_from_date]="invoiceData.invoiceDate" [name]="'invoiceData.invoiceDate'"
                    [value]="invoiceData.invoiceDate | backTipsDate" (sendBeginDate)="invoiceData.invoiceDate = $event"></app-calendar>
                </div>

                <div class="card__col-xs-12 card__col-sm-4">
                  <app-input [label]="'Invoice Number'" [type]="'text'" [is_mandatory]="'true'" [name]="'Invoice Number'" [placeholder]="'Invoice Number'" [value]="invoiceData.invoiceNumber" (sendValue)="invoiceData.invoiceNumber = $event"></app-input>
                </div>            
              </div>

              <div class="card__row">                 

                <div class="card__col-xs-12 card__col-sm-4">
                  <app-input [label]="'GSTIN of Customer'" [type]="'text'" [is_mandatory]="'true'" [name]="'GSTIN of Customer'" [placeholder]="'GSTIN of Customer'" [value]="invoiceData.party.partyGstin" (sendValue)="invoiceData.party.partyGstin = $event"></app-input>
                </div>

                <div class="card__col-xs-12 card__col-sm-4">
                  <app-input [label]="'Customer Name'" [type]="'text'"  [name]="'Customer Name'" [placeholder]="'Customer Name'" [value]="invoiceData.party.partyName" (sendValue)="invoiceData.party.partyName = $event"></app-input>
                </div>            

                <div class="card__col-xs-12 card__col-sm-4">
                  <app-input [label]="'Customer Contact No.'" [type]="'text'"  [name]="'Customer Contact No.'" [placeholder]="'Customer Contact No.'" [value]="invoiceData.party.partyPhone" (sendValue)="invoiceData.party.partyPhone = $event"></app-input>
                </div>            
              </div>

              <div class="card__row">                
                <div class="card__col-xs-12 card__col-sm-4">
                  <app-input [label]="'Customer Email'" [type]="'text'"  [name]="'Customer Email'" [placeholder]="'Customer Email'" [value]="invoiceData.party.partyEmail" (sendValue)="invoiceData.party.partyEmail = $event"></app-input>
                </div>               
                <div class="card__col-xs-12 card__col-sm-4">                
                  <app-input-select-object [label]="'Place of Supply'" [type]="'text'" [value]="selected_invoice_state" [name]="'place of supply'" [filter_items]="state_list" (sendValue)="onSelectGSTState($event)">
                  </app-input-select-object>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="ogp_composite-product card">
          <div class="card__content">
              <div class="card__row hidder" [class.hidder_line-on]="true" [class.hidder_expand]="showSubOpt['inv_item_detail_block']">
                <div class="hidder__line clearfix">
                    <div class="card__col-xs-6">
                        <div class="hidder__name card__title" style="color: #6a6a67;" (click)="showSubOpt['inv_item_detail_block'] = !showSubOpt['inv_item_detail_block']">Item Details</div>
                    </div>  
                    <div class="card__col-xs-6 card__col-sm-6 text-pull-right" *ngIf="showSubOpt['inv_item_detail_block']">
                        <a class="btn btn_stroke add-item-btn" (click)="addItem()">Add Item</a>
                    </div>            
                </div>
                <div *ngIf="showSubOpt['inv_item_detail_block']" class="hidder__content card__col-xs-12">
                  <div class="composite-product">
                      <div class="composite-product__container">                        
                          <div class="card__row" *ngIf="invoiceData.invoiceItems && invoiceData.invoiceItems.length > 0">
                              <div class="card__col-xs-12">
                                  <div class="report-table-container">
                                      <div class="report-table-wrapper">
                                          <table class="report-table">
                                              <thead class="report-table__head">
                                                  <tr class="report-table__row report-table__row_head">
                                                      <th class="report-table__cell report-table__cell_name">#</th>
                                                      <th class="report-table__cell report-table__cell_name">HSN/SAC</th>
                                                      <th class="report-table__cell report-table__cell_name">Taxable<br/>Value</th>
                                                      <th class="report-table__cell report-table__cell_name">Rate</th>
                                                      <th class="report-table__cell report-table__cell_name">IGST</th>
                                                      <th class="report-table__cell report-table__cell_name">CGST</th>
                                                      <th class="report-table__cell report-table__cell_name">SGST/UGST</th>
                                                      <th class="report-table__cell report-table__cell_name">Celss</th>
                                                      <th class="report-table__cell report-table__cell_name" [style.color]="'#282827'">Gross Value</th>
                                                      <th class="report-table__cell report-table__cell_name"></th>                                                    
                                                  </tr>
                                              </thead>
                                              <tbody class="report-table__body">
                                                  <ng-template ngFor let-tab [ngForOf]="invoiceData.invoiceItems"  let-i="index">
                                                      <tr *ngIf="!tab.is_deleted" class="report-table__row">
                                                          <td class="report-table__cell report-table__cell_day">{{i+1}}</td>
                                                          <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                                              <input class="table__row-input" type="text" name="'taxcode'" [(ngModel)]="tab.tax_code">
                                                          </td>                                                          
                                                          <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                                              <input class="table__row-input" type="number" name="'taxvalue'" [(ngModel)]="tab.invoiceItemsTaxableValue">
                                                          </td>
                                                          <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                                              <input class="table__row-input" type="number" name="'rate'" [(ngModel)]="tab.invoiceItemsTaxRate">
                                                          </td>
                                                          <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                                              <input class="table__row-input" type="number" name="'igst'" [(ngModel)]="tab.invoiceItemsIgst">
                                                          </td>
                                                          <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                                              <input class="table__row-input" type="number" name="'csgt'" [(ngModel)]="tab.invoiceItemsCgst">
                                                          </td>
                                                          <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                                              <input class="table__row-input" type="number" name="'sgst_ugst'" [(ngModel)]="tab.invoiceItemsSgst">
                                                          </td>
                                                          <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                                              <input class="table__row-input" type="number" name="'cess'" [(ngModel)]="tab.invoiceItemsCess">
                                                          </td>
                                                          <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                                              <input class="table__row-input" type="number" name="'invoiceItemsGross'" [(ngModel)]="tab.gross_value">
                                                          </td>
                                                          <td  class="report-table__cell report-table__cell_day">
                                                              <div class="btn-clear" (click)="deleteItem(i)"></div>
                                                          </td>
                                                      </tr>
                                                  </ng-template>
                                                  <!-- New Look -->
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                              <!-- /table-info -->
                          </div>                       
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <!-- .card__content -->
      </div>
      <!-- .ogp_composite-product -->

  </div><!-- .content__container -->
</div><!-- .content -->