.itarium-mat-error {
    font-style: italic;
    margin-top: -18px;
    text-align: right;
}

.table-header {
    background: #f5f7f7;
    border-color: #bdc3c7;
    border-width: 1px;
}

table th,
table td {
    border-left: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.54);
}

.text-style {
    background: #bdc3c7;
    font-weight: 600;
    padding: 10px;
}

.top {
    margin-top: 21px;
}

.invalid {
    border: 1px solid #f00;
}

.btn-cfl {
    text-align: right;
}

