.content-wrapper {
  background: #fff;
  padding: 30px;
  margin-top: 20px;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.select-chip .mat-mdc-chip {
  background-color: #FFFFFF;
  border: 1.94547px solid #E3E3E3;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 19.45px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  text-align: center;
  color: #7E7E8F;
}

.my-table {
  margin-top: 15px;
  margin-left: 15px;
  border: 1px solid #ccc;
  width: 80%;
}

.my-table th,
.my-table td {
  padding: 4px;
  text-align: center;
}

.my-table th {
  background-color: #eee;
  font-weight: bold;
}

table {
  margin-top: 15px;
  margin-left: 15px;
  border-collapse: collapse;
  width: 80%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.radio-group {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.center-checkbox {
  margin-top: 100px;
  margin-left: 50px;
}

.spacer {
  margin-left: 15px;
}

.bankDetails {
  border: 1px solid #8CBDF2;
  padding: 20px 20px 30px 20px;
  border-radius: 10px;
}

.add-id {
  display: flex;
  justify-content: space-between;
}

.verifyBank {
  display: flex;
  justify-content: center;
}

.verify-button:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}
.verify-button{
display: flex;
padding: 8px 24px;
align-items: flex-start;
gap: 16px;
border-radius: 4px;
border: 1.5px solid #3E82CD;
background: #3E82CD;
}

.rowClr-1{
  background: #FFF !important;
  margin-top: 20px;
  padding: 10px 30px 30px 20px;

}

.sub-title-container{
display: flex;
padding: 12px 18px;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 8px 8px 0px 0px;
background: #3E82CD;
}
.sub-title-text{
flex: 1 0 0;
color: #FFF;

font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 164.706% */

}
.new-assigned-container{
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #E2E4E5;
  }

  .new-sub-container{
    display: flex;
    padding: 24px;
    flex-direction: column;
    // align-items: flex-end;
    gap: 24px;
    align-self: stretch;
    background: #F9F9F9;
  }
  .TxHd-12{
  display: flex;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 4px 4px 0px 0px;
  background: #DDEDFF;
  }
  .header-text-1{
  color: #303030;
  
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 233.333% */
  }
  .user-data-container{
    padding: 10px;
    align-self: stretch;
    border-radius: 0px 0px 4px 4px;
    background: #FCFCFC;
  }
.role-container{
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex: 1 0 0;
  background: #F6F6F6;
}

.role-header{
align-self: stretch;
color: #242426;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */

}
.id-container{
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.new-cancel-button-1{
  display: flex;
  padding: 8px 24px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 4px;
  border: 1.5px solid #3E82CD;
  color: #3E82CD;
  
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 233.333% */
}

.save-all{
// display: flex;
padding: 15px;
align-items: flex-start;
gap: 16px;
border-radius: 4px;
border: 1.5px solid #3E82CD;
background: #3E82CD;
color: #FFF;

font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 233.333% */
}
.save-all:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

.countContainer{
  background-color: white;
}

.customToggle{
  .mdc-switch:enabled .mdc-switch__track::before {
    background: #e0e0e0 !important;
  }
  .mdc-switch:enabled .mdc-switch__track::after {
    background: #f06292 !important;
  }
  .mdc-switch .mdc-switch__handle::before {
    background: #fff !important;
  }

  .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
    background: #d81b60 !important;
  }
}

.non-clickable {
  pointer-events: none;
  cursor: not-allowed;
}
.document-container {
  display: flex;
  justify-content: space-between;
}

.document-item {
  text-align: center;
  margin-bottom: 10px;
}

.document-title {
  margin-bottom: 5px;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0
}
