.content-wrapper {
  background: #fff;
  padding: 30px;
  margin-top: 20px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.select-chip .mat-chip {
  background-color: #FFFFFF;
  border: 1.94547px solid #E3E3E3;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 19.45px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  text-align: center;
  color: #7E7E8F;
}
.my-table {
  margin-top: 15px;
  margin-left: 15px;
  border: 1px solid #ccc;
  width: 80%;
}

.my-table th, .my-table td {
  padding: 4px;
  text-align: center;
}

.my-table th {
  background-color: #eee;
  font-weight: bold;
}

table {
  margin-top: 15px;
  margin-left: 15px;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.radio-group {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
