.bankDetails {
    border: 2px solid;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
}

.add-id {
    display: flex;
    justify-content: space-between;
}

.verifyBank {
    display: flex;
    justify-content: center;
}