<ngx-loading [show]="loading"  [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div class="mrgArdSpcBlw">
  <mat-accordion class="headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> arrow_forward_ios </mat-icon>
          Gross Salary
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="employerDetailsFormGroup">
        <div class="cardRect">
          <div class="sectionTitle">Employer Details:</div>
          <div class="row">
            <div class="col-sm-4">
              <mat-label class="inputLabel">Name of the employer:*</mat-label>
              <mat-form-field appearance="outline">
                <input
                  type="text"
                  trim
                  matInput
                  placeholder="Name of the employer"
                  name="NameOfEmployer"
                  class="input-field"
                  formControlName="employerName"
                  maxlength="125"
                  required
                />
                <mat-error
                  *ngIf="
                    employerDetailsFormGroup.controls['employerName'].hasError(
                      'required'
                    )
                  "
                >
                  Enter the name of employer
                </mat-error>
                <mat-error
                  *ngIf="
                    employerDetailsFormGroup.controls['employerName'].hasError(
                      'pattern'
                    )
                  "
                >
                  Enter character only.</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-label class="inputLabel">Employer TAN:</mat-label>
              <mat-form-field appearance="outline">
                <input
                  type="text"
                  trim
                  matTooltip="Format should like this(e.g. XXXXNNNNNX) X indicate character and N indicates number."
                  matTooltipClass="tab-tooltip"
                  matTooltipPosition="above"
                  matInput
                  upperCase
                  placeholder="TAN"
                  name="TAN"
                  class="input-field"
                  formControlName="employerTAN"
                  maxlength="10"
                />
                <mat-error
                  *ngIf="
                    employerDetailsFormGroup.controls['employerTAN'].hasError(
                      'pattern'
                    )
                  "
                >
                  Enter valid TAN (e.g XXXX12345X)
                </mat-error>
              </mat-form-field>
            </div>
       
            <div class="col-sm-4">
              <mat-label class="inputLabel">Address of employer:</mat-label>
              <mat-form-field appearance="outline">
                <input
                  type="text"
                  trim
                  matInput
                  placeholder="Address of employer"
                  name="AddressOfEmployer"
                  class="input-field"
                  formControlName="address"
                  maxlength="200"
                />
                <mat-error
                  *ngIf="
                    employerDetailsFormGroup.controls['address'].hasError(
                      'required'
                    )
                  "
                >
                  Enter the address
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-4 spsTp">
              <mat-label class="inputLabel">Town/City</mat-label>
              <mat-form-field appearance="outline">
                <input
                  type="text"
                  trim
                  matInput
                  placeholder="Town/City"
                  name="TAN"
                  class="input-field"
                  formControlName="city"
                  maxlength="20"
                />
                <mat-error
                  *ngIf="
                    employerDetailsFormGroup.controls['city'].hasError(
                      'required'
                    )
                  "
                >
                  Enter the town/city
                </mat-error>
                <mat-error
                  *ngIf="
                    employerDetailsFormGroup.controls['city'].hasError(
                      'pattern'
                    )
                  "
                >
                  Enter character only.</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-sm-4 spsTp">
              <mat-label class="inputLabel">Select state:</mat-label>
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Select state"
                  name="state"
                  formControlName="state"
                >
                  <mat-option
                    *ngFor="let state of stateDropdown"
                    [value]="state.stateCode"
                  >
                    {{ state.stateName | titlecase }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    employerDetailsFormGroup.controls['state'].hasError(
                      'required'
                    )
                  "
                >
                  Select the state
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-4 spsTp">
              <mat-label class="inputLabel">Pin Code</mat-label>
              <mat-form-field appearance="outline">
                <input
                  type="text"
                  trim
                  digitsOnly
                  matInput
                  placeholder="Pin Code"
                  name="pinCode"
                  class="input-field"
                  formControlName="pinCode"
                  maxlength="6"
                  (blur)="updateDataByPincode()"
                />
                <mat-error
                  *ngIf="
                    employerDetailsFormGroup.controls['pinCode'].hasError(
                      'required'
                    )
                  "
                >
                  Enter pincode
                </mat-error>
                <mat-error
                  *ngIf="
                    employerDetailsFormGroup.controls['pinCode'].hasError(
                      'pattern'
                    )
                  "
                >
                  Enter valid pin
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <hr style="margin-bottom: 10px" />
          <div class="sectionTitle">Salary Details:</div>
           <table class="table table-bordered col-sm-12">
              <thead>
                <tr class="table-head">
                  <th>Salary Type</th>
                  <th>Gross Amount</th>
                </tr>
              </thead>
              <tbody formArrayName="salaryDetails">
                <tr
                  *ngFor="let income of getSalaryArray.controls; let i = index"
                  [formGroupName]="i"
                >
                  <td>
                    {{ income.value.label }}
                  </td>

                  <td>
                    <mat-form-field
                      class="input-field-width"
                      style="width: 90% !important"
                    >
                      <input
                        type="text"
                        trim
                        matInput
                        placeholder=""
                        name="salaryValue[i]"
                        formControlName="salaryValue"
                        (blur)="checkGrossSalary()"
                        class="input-field"
                        maxlength="125"
                      />
                    </mat-form-field>
                  </td>
                </tr>
              </tbody>
            </table>
         
        </div>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> arrow_forward_ios </mat-icon>
          Exempt Allowance
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="allowanceFormGroup">
        <div class="cardRect">
          <!-- <div class="sectionTitle">Exempt Allowance</div> -->
            <table class="table table-bordered">
            <thead style="background: #eaeaea">
              <tr class="table-head">
                <th>Allowance Type</th>
                <th>Exempt Amount</th>
              </tr>
            </thead>
            <tbody formArrayName="allowances">
              <tr
                *ngFor="let income of getAllowanceArray.controls; let i = index"
                [formGroupName]="i"
              >
                <td>
                  {{ income.value.label }}
                </td>

                <td>
                  <mat-form-field
                    class="input-field-width"
                    style="width: 90% !important"
                  >
                    <input
                      type="text"
                      trim
                      matInput
                      placeholder=""
                      name="allowValue[i]"
                      formControlName="allowValue"
                      class="input-field"
                      maxlength="125"
                    />
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>        
    </div>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> arrow_forward_ios </mat-icon>
          Deductions u/s 16
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="cardRect">
        <!-- <div class="sectionTitle">Deductions u/s 16</div> -->        
          <form [formGroup]="deductionsFormGroup">
            <div class="row">
            <div class="col-sm-6">
              <mat-label class="inputLabel">Entertainment Allowance:</mat-label>
              <mat-form-field appearance="outline">
                <input
                  digitsOnly
                  trim
                  matInput
                  placeholder="Entertainment Allowance u/s 16(ii)"
                  name="entertainmentAllow"
                  class="input-field"
                  formControlName="entertainmentAllow"
                />
                <mat-error
                  *ngIf="
                    deductionsFormGroup.controls['entertainmentAllow'].hasError(
                      'max'
                    )
                  "
                >
                  Enter valid amount
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-label class="inputLabel">Professional Tax:</mat-label>
              <mat-form-field appearance="outline">
                <input
                  digitsOnly
                  trim
                  class="input-field"
                  matInput
                  placeholder="Professional Tax u/s 16(iii)"
                  name="professionalTax"
                  formControlName="professionalTax"
                  maxlength="10"
                />
                <mat-error
                  *ngIf="
                    deductionsFormGroup.controls['professionalTax'].hasError(
                      'max'
                    )
                  "
                >
                  Enter valid amount
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          </form>
       
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="flex justify-between p-[30px] back-foot">
    <button class="lgtBtn" (click)="goBack()">
      <mat-icon class="icoAdj">keyboard_backspace</mat-icon>
      <span class="font-semibold">&nbsp;Back to Main Page</span>
    </button>

    <button class="saveBtnIn" (click)="saveEmployerDetails()">
      <span class="font-semibold">Save All</span>
    </button>
  </div>
</div>
