<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div class="page-wrapper">

  <!-- main area -->
  <main>

    <div class="frameC">
      <div class="div">
        <div class="text-wrapper">Salary Income</div>
        <div class="mingcute-down-fill"></div>
      </div>
      <div class="space">
        <div class="div-2">
          <div class="div-3">
            <div class="contents-wrapper" *ngFor="let employer of Copy_ITR_JSON.employers; let i = index;">
              <div [ngClass]="i === currentIndex ? 'contents' : 'contents-selected'">
                <div [ngClass]="i === currentIndex ? 'field-text' :'field-text-selected'" (click)="markActive(i, true)">
                  Employer {{ i + 1}}</div>
                <div class="group" (click)="deleteEmployer(i)">
                  <i class="fa fa-trash-o delbt"
                    [ngClass]="i === currentIndex ? 'field-text' :'field-text-selected'"></i>
                </div>
              </div>
            </div>
            <div class="contents-wrapper">
              <div class="field-text-wrapper">
                <div class="field-text-2" (click)="markActive(-1, true)">+ Add Another Employer</div>
              </div>
            </div>
          </div>


          <div class="div-4">
            <div class="frame-wrapper-2A">

              <div class="accordion noBorder" id="myAccordion">
                <form [formGroup]="employerDetailsFormGroup">
                  
                    <h2 class="accordion-header accoHdclr" id="headingOne">
                      <button type="button" class="accordion-button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne">Employer Details</button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                      <div class="card-body">
                        <div class="div-5">
                          <div class="div-6">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">Name of the employer </span> <span class="text-wrapper-2">*</span>
                              </div>

                              <mat-form-field appearance="outline">
                                <input type="text" trim matInput placeholder="Name of the employer"
                                  name="NameOfEmployer" class="form-control inpplac" formControlName="employerName"
                                  maxlength="125" required />
                                <mat-error
                                  *ngIf=" employerDetailsFormGroup.controls['employerName'].hasError('required')">
                                  Enter the name of employer
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="field">
                              <div class="field-label">
                                <span class="span">Employer TAN </span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="text" trim
                                  matTooltip="Format should like this(e.g. XXXXNNNNNX) X indicate character and N indicates number."
                                  matTooltipClass="tab-tooltip" matTooltipPosition="above" matInput upperCase
                                  placeholder="TAN" name="TAN" class="form-control inpplac"
                                  formControlName="employerTAN" maxlength="10" />
                                <mat-error *ngIf="employerDetailsFormGroup.controls['employerTAN'].hasError('pattern')">
                                  Enter valid TAN (e.g XXXX12345X)
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="div-6">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">Address of the Employer </span> <span class="text-wrapper-2">*</span>
                              </div>

                              <mat-form-field appearance="outline">
                                <input type="text" trim matInput placeholder="Address of employer"
                                  name="AddressOfEmployer" class="form-control inpplac" formControlName="address"
                                  maxlength="50" />
                                <mat-error *ngIf="employerDetailsFormGroup.controls['address'].hasError('required')">
                                  Enter the address
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="div-6">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">{{ pinLabel }} </span> <span class="text-wrapper-2">*</span>
                              </div>

                              <mat-form-field appearance="outline">
                                <input type="text" trim  matInput placeholder="{{ pinLabel }}" name="pinCode"
                                  class="form-control inpplac" formControlName="pinCode" maxlength="8"
                                  (blur)="updateDataByPincode()" />
                                <mat-error *ngIf="employerDetailsFormGroup.controls['pinCode'].hasError('required')">
                                  Enter pincode
                                </mat-error>
                                <mat-error *ngIf="employerDetailsFormGroup.controls['pinCode'].hasError('pattern')">
                                  Enter valid pin
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="field">
                              <div class="field-label">
                                <span class="span">City </span> <span class="text-wrapper-2">*</span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="text" trim matInput placeholder="Town/City" name="TAN"
                                  class="form-control inpplac" formControlName="city" maxlength="50" />
                                <mat-error *ngIf="employerDetailsFormGroup.controls['city'].hasError('required')">
                                  Enter the town/city
                                </mat-error>
                                <mat-error *ngIf="employerDetailsFormGroup.controls['city'].hasError('pattern')">
                                  Enter character only.
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="div-6">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">State </span> <span class="text-wrapper-2">*</span>
                              </div>
                                <mat-form-field appearance="outline">
                                  <mat-select placeholder="Select state" name="state" formControlName="state">
                                    <mat-option *ngFor="let state of stateDropdown" [value]="state.stateCode">
                                      {{ state.stateName | titlecase }}
                                    </mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="employerDetailsFormGroup.controls['state'].hasError('required')">
                                    Select the state
                                  </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="field">
                                <div class="field-label">
                                <span class="span">Country </span> <span class="text-wrapper-2">*</span>
                              </div>
                                <mat-form-field appearance="outline">
                                  <mat-select placeholder="Select country" name="country" formControlName="country" (selectionChange)="onCountryChange($event)">
                                    <mat-option *ngFor="let country of countriesDropdown" [value]="country.countryCode">
                                      {{ country.countryName | titlecase }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button type="button" class="accordion-button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo">Gross Salary
                        <input type="number" class="form-control inpClr2" [value]="totalGrossSalary" readonly></button>

                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">


                      <app-salary-bifurcation [localEmployer]="localEmployer" [index]="currentIndex"
                        (valueChanged)="onBifurcationUpdated($event)"
                        (isValid)="isFormGroupValid($event)"></app-salary-bifurcation>

                    </div>
                  </div>
                </form>

                <form [formGroup]="allowanceFormGroup">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo1">
                      <button type="button" class="accordion-button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo1">Exemptions
                        <input type="number" class="form-control inpClr2" value="{{getTotalAllowances()}}" readonly>
                      </button>
                    </h2>
                    <div id="collapseTwo1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                      <div class="card-body" formArrayName="allowances">
                        <div class="row div-8AA" *ngFor="let income of getAllowanceArray.controls; let i = index"
                          [formGroupName]="i">

                          <div class="item1 col-2">
                            <div class="field-label-3">Type of Allowance</div>
                          </div>

                          <div class="col-3">
                            <mat-form-field appearance="outline">
                              <mat-select name="allowType[i]" formControlName="allowType"
                                (selectionChange)="validateExemptIncomes($event);changeAllowancesType()">
                                <mat-option *ngFor="let exempt of allowanceDropdown; let k = index"
                                  [value]="exempt.value"
                                  [disabled]="(exempt.value!= 'ANY_OTHER')?exempt['disabled']:false"
                                  class="custom-dropdown-option">
                                  {{ exempt.label }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="item3 col-3">
                            <div class="mb-3" *ngIf="income.value.allowType !== 'COMPENSATION_ON_VRS'">

                              <mat-form-field appearance="outline">
                                <input type="text" trim digitsOnly matInput placeholder="" name="allowValue[i]"
                                  formControlName="allowValue" maxlength="125" (change)="validations()" />
                              </mat-form-field>
                              <mat-hint *ngIf="income.value.allowType === 'US_10_14II'">In New tax regime Maximum
                                eligible dedution is 34800
                              </mat-hint>
                              <mat-error
                                *ngIf="freeze && (income.value.allowType === 'COMPENSATION_ON_VRS' ||
                              income.value.allowType === 'FIRST_PROVISO' || income.value.allowType === 'SECOND_PROVISO')">
                                Only any one is allowed of the three
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf=" income.value.allowType === 'HOUSE_RENT' && getAllowanceArray.controls[i].get('allowValue').hasError('max')">
                                House rent allowance cannot be more than 50% of Basic or
                                Total HRA from 17(1)
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === 'LTA' && getAllowanceArray.controls[i].get('allowValue').hasError('max')">
                                LTA to be claimed cannot be more than the LTA that is
                                provided
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === 'GRATUITY' && getAllowanceArray.controls[i].get('allowValue').hasError('max')">
                                Gratuity to be claimed cannot be more than the gratuity
                                that is provided or salary entered in Salary 17(1) or 20
                                lakhs, whichever is lower
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === 'COMMUTED_PENSION' && getAllowanceArray.controls[i].get('allowValue').hasError('max')">
                                Commuted pension u/s 10(10A) to be claimed cannot be more
                                than the commuted pension u/s 10(10A) that is provided
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf=" income.value.allowType === 'LEAVE_ENCASHMENT' && getAllowanceArray.controls[i].get('allowValue').hasError('max')">
                                Leave Encashment to be claimed cannot be more than the
                                Leave Encashment that is provided or salary entered in
                                Salary 17(1) or 25 lakhs (for non-goverment employees),
                                whichever is lower
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === 'SECOND_PROVISO_CGOV' && getAllowanceArray.controls[i].get('allowValue').hasError('max')">
                                Second proviso under central government can be only
                                claimed by government employees and should be less than
                                salary in 17(1) or 5 lakhs, whichever is lower
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === 'FIRST_PROVISO' && firstProvisoError">
                                First proviso under central government cannot be claimed
                                by government employees
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === 'SECOND_PROVISO' && secondProvisoError">
                                Second proviso allowance cannot be claimed by government
                                employees
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === '10(6)' && remunerationError">
                                Deduction claimed cannot be more than the total Salary
                                under 17(1), 17(2) and 17(3)
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === '10(7)' && serviceOutIndError">
                                Deduction claimed cannot be more than the total Salary
                                under 17(1), 17(2) and 17(3)
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === 'US_10_14II' && (presPersonalExpError || getAllowanceArray.controls[i].get('allowValue').hasError('max'))">
                                Deduction cannot be more than the value of Salary under
                                Conveyance Allowance, Other Allowance & Others in Section
                                17(1)
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === 'US_10_14I' && (presProfExpError || getAllowanceArray.controls[i].get('allowValue').hasError('max'))">
                                Deduction cannot be more than the value of Salary under
                                Conveyance Allowance, Other Allowance & Others in Section
                                17(1)
                              </mat-error>
                              <mat-error style="width: 70%" *ngIf="income.value.allowType === 'EIC' && eicProfExpError">
                                Deduction can claimed only by state or central government
                                employees
                              </mat-error>
                            </div>

                            <div class="mb-3" *ngIf="income.value.allowType === 'COMPENSATION_ON_VRS'">
                              <div>
                                Whether Exemption u/s 10(10C) is taken in Previous
                                Assessment Year ??<br />
                                <mat-radio-group [formControl]="allowanceFormGroup.get('vrsLastYear') | formControlType"
                                  (change)="updateVrsExemptionTaken()">
                                  <mat-radio-button [value]="true">Yes</mat-radio-button>
                                  <mat-radio-button [value]="false">No</mat-radio-button>
                                </mat-radio-group><br />
                                Where any relief u/s 89 has been allowed to an assessee for
                                any assessment year<br />
                                in respect of any amount on his voluntary retirement or
                                termination of service?<br />
                                <mat-radio-group [formControl]="allowanceFormGroup.get('sec89') | formControlType"
                                  (change)="updateVrsExemptionTaken()">
                                  <mat-radio-button [value]="true">Yes</mat-radio-button>
                                  <mat-radio-button [value]="false">No</mat-radio-button> </mat-radio-group><br />
                              </div>
                              <mat-form-field appearance="outline">
                                <input type="number" trim digitsOnly matInput placeholder="" name="allowValue[i]"
                                  formControlName="allowValue" class="form-control" (change)="validations()"
                                  [disabled]="isVrsExemptionTaken" />
                              </mat-form-field>
                              <mat-error
                                *ngIf="freeze && (income.value.allowType === 'COMPENSATION_ON_VRS' ||
                            income.value.allowType === 'FIRST_PROVISO' || income.value.allowType === 'SECOND_PROVISO')">
                                Only any one of the three is allowed
                              </mat-error>
                              <mat-error style="width: 70%"
                                *ngIf="income.value.allowType === 'COMPENSATION_ON_VRS' && compensationOnVrsError">
                                Compensation on VRS cannot be more than 17(1) or 5 lakh
                                or if it is already claimed in any previous year then it
                                cannot be claimed again
                              </mat-error>

                            </div>
                          </div>

                          <div class="hp4-4 extra-pad col-3">
                            <div class="Bx4">
                              <div class="Bx4L">
                                <button type="button" (click)="deleteExemptIncome(i)"> <i
                                    class="fa fa-trash-o delbt"></i> </button>
                              </div>
                              <div class="Bx4R">
                                <button type="button" class="addAno"
                                  *ngIf="(getAllowanceArray['controls'].length - 1)===i" (click)="addExemptIncome()"> +
                                  Add Another
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="offset-3 col-5 mb-3" [style.display]="income.value.allowType === 'ANY_OTHER'? 'block':'none'">
                            <mat-form-field appearance="outline">
                              <input type="text" trim matInput placeholder="description" name="description[i]"
                                formControlName="description" maxlength="50"
                                [required]="income.value.allowType === 'ANY_OTHER' && income.value.allowValue > 0" />
                            </mat-form-field>
                            <mat-error *ngIf="income['controls']['description'].hasError('required')">
                              Please enter the description
                            </mat-error>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree">Deductions
                      <input type="number" class="form-control inpClr2" value="{{getTotalDeductions()}}" readonly>
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                    <form [formGroup]="deductionsFormGroup">
                      <div class="card-body">

                        <div class="div-8A">
                          <div class="item-left">
                            <div class="field-label-3">Standard Deduction sec 16(i)</div>
                          </div>
                          <div class="item-right">
                            <mat-form-field appearance="outline">
                              <input digitsOnly trim class="form-control inpplac1" matInput
                                placeholder="standard Deduction" name="standardDeduction"
                                formControlName="standardDeduction" readonly />
                              <mat-error *ngIf="deductionsFormGroup.controls['standardDeduction'].hasError('max')">
                                Enter valid amount
                              </mat-error>
                            </mat-form-field>
                            <mat-hint>
                              Standard deduction applies to one employer only
                            </mat-hint>


                          </div>
                        </div>

                        <div class="div-8A">
                          <div class="item-left">
                            <div class="field-label-3">Entertainment Allowance sec 16(ii)</div>
                          </div>
                          <div class="item-right">
                            <mat-form-field appearance="outline">
                              <input digitsOnly trim matInput placeholder="Entertainment Allowance u/s 16(ii)"
                                name="entertainmentAllow" class="form-control inpplac1"
                                formControlName="entertainmentAllow" />
                              <mat-error *ngIf="deductionsFormGroup.controls['entertainmentAllow'].hasError('max')">
                                Enter valid amount
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="div-8A">
                          <div class="item-left">
                            <div class="field-label-3">Professional Tax sec 16(iii)</div>
                          </div>
                          <div class="item-right">
                            <mat-form-field appearance="outline">
                              <input digitsOnly trim class="form-control inpplac1" matInput
                                placeholder="Professional Tax u/s 16(iii)" name="professionalTax"
                                formControlName="professionalTax" maxlength="10" />
                              <mat-error *ngIf="deductionsFormGroup.controls['professionalTax'].hasError('max')">
                                Enter valid amount
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                      </div>
                    </form>
                  </div>
                </div>



              </div>

            </div>


            <div class="frame-wrapper-2">
              <div class="div-8B">
                <div class="item-left1">
                  <div class="field-label-3">Net Taxable Salary from Employer {{currentIndex+1}}</div>
                </div>
                <div class="item-right1">
                  ₹ {{utilsService.currencyFormatter(getNetTaxableSalary())}}
                </div>
              </div>
            </div>



            <div class="out-box">
              <div class="box-left">
                <div class="lft-btn" (click)="goBack()">Back</div>
              </div>
              <div class="box-right">
                <button class="rght-btn" (click)="saveEmployerDetails(true)" [disabled]="bifurcationFormGroup">Save &
                  View Summary</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <app-side-summary-panel type="salary"></app-side-summary-panel>
  <app-previous-summary-panel type="salary" *ngIf="PREV_ITR_JSON"></app-previous-summary-panel>



</div>
<!-- main area ends -->
