.ag-paging-panel {
  float: right;
}

.ag-paging-row-summary-panel {
  text-align: right;
}
.btn{
  font-size: small;
  display: inline-block;
  margin-top: 30px;
}
.clrBtn {
  background: #00aeca;
  border-radius: 5px!important;
  float: right;
  color:#ffffff;
}

.count{
  color:#07070C;
  font-size: 24px;
  font-weight:600;
}

.txClr {
color:#00AECA;
font-size: 24px;
font-weight:600;
}

.error {
  border: 1px solid red;
}
