<h1 mat-dialog-title>{{data.title}}</h1>

<form [formGroup]="bankForm"  *ngIf="data.mode === 'Bank'">
    <mat-dialog-content>
        <div class="row">
            <div class=" card__col-xs-12 card__col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>IFSC code: </mat-label>
                    <input matInput type="text" placeholder="IFSC code" formControlName="ifsCode" trim upperCase
                        maxlength="11" (blur)="getBankInfoFromIfsc(bankForm.controls['ifsCode'])" required>
                    <mat-error *ngIf="bankForm.controls['ifsCode'].hasError('required')">
                        Enter valid IFSC code.</mat-error>
                    <mat-error *ngIf="bankForm.controls['ifsCode'].hasError('pattern')">
                        Enter valid IFSC code.</mat-error>
                </mat-form-field>
            </div>

            <div class=" card__col-xs-12 card__col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Bank name: </mat-label>
                    <input matInput type="text" placeholder="Enter bank name" formControlName="name" maxlength="35"
                        required>
                    <mat-error *ngIf="bankForm.controls['name'].hasError('required')">
                        Bank name is required</mat-error>
                </mat-form-field>
            </div>

            <div class=" card__col-xs-12 card__col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Account Number: </mat-label>
                    <input matInput placeholder="Account number" formControlName="accountNumber"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress=" event.charCode >= 48 && event.charCode <= 57" minlength="3" maxlength="18"
                        required>
                    <mat-error *ngIf="bankForm.controls['accountNumber'].hasError('required')">
                        Enter
                        account number.</mat-error>
                    <mat-error *ngIf="bankForm.controls['accountNumber'].hasError('minlength')">
                        Account number should be minimum 3 digit</mat-error>
                </mat-form-field>
            </div>

        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" class="mt-0" (click)="addBankInfo()" tabindex="1">{{data.submitBtn}}</button>
        <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
    </mat-dialog-actions>
</form>

<form [formGroup]="addressForm" *ngIf="data.mode === 'Address'">
    <mat-dialog-content>
        <div class="row">
            <div class=" card__col-xs-12 card__col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Address Type</mat-label>
                    <mat-select placeholder="Address Type" formControlName="addressType">
                        <mat-option *ngFor="let add of addressTypeData" [value]="add.value">
                            {{add.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class=" card__col-xs-12 card__col-sm-2">
                <mat-form-field appearance="outline">
                    <mat-label>Flat No</mat-label>
                    <input placeholder="Flat Number" maxlength="10" 
                        formControlName="flatNo" matInput>
                </mat-form-field>
            </div>

            <div class=" card__col-xs-12 card__col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input placeholder="Business Address" maxlength="50" 
                        formControlName="premisesName" matInput>
                </mat-form-field>
            </div>

            <div class="card__col-lg-4">
                <mat-form-field appearance="outline">
                    <mat-label>Area</mat-label>
                    <input placeholder="Area" maxlength="50" 
                        formControlName="area" matInput>
                </mat-form-field>
            </div>

            <div class="card__col-lg-4">
                <mat-form-field appearance="outline">
                    <mat-label>Pincode</mat-label>
                    <input placeholder="Pincode" formControlName="pinCode" maxlength="6"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress=" event.charCode >= 48 && event.charCode <= 57" type="number" matInput
                        (blur)="getCityData(addressForm.controls['pinCode'])">
                </mat-form-field>
            </div>

            <div class="card__col-lg-4">
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <input placeholder="Country" maxlength="50" 
                        formControlName="country" matInput>
                </mat-form-field>
            </div>

            <div class="card__col-lg-4">
                <mat-form-field appearance="outline">
                    <mat-label>Select State</mat-label>
                    <mat-select placeholder="Select State" formControlName="state">
                        <mat-option *ngFor="let type of state_list" [value]="type.stateCode">
                            {{type.stateName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="card__col-lg-4">
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input placeholder="City" maxlength="50" 
                        formControlName="city" matInput>
                </mat-form-field>
            </div>


        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" class="mt-0" (click)="addAddressInfo()" tabindex="1">{{data.submitBtn}}</button>
        <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
    </mat-dialog-actions>
</form>