.flex-15 {
    flex-basis: 15% !important;
}

.flex-10 {
    flex-basis: 10% !important;
}

.flex-50 {
    flex-basis: 50% !important;
}

.count-msg{
    float: right;
    font-size: 15px;
    padding: 0px 30px;
    text-decoration: underline;
}