table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;

}

th {
    font-weight: bold;
}

.new-button-1{
display: flex;
height: 48px;
padding: 8px 14px;
align-items: center;
gap: 9px;
border-radius: 4px;
border: 1.5px solid white;
background-color: #2D8EF9;
color: white;

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: -0.28px;
}

.new-button-1:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  border: 1.5px solid #2D8EF9;
  color: #2D8EF9;
  background-color: white;
}

::ng-deep app-user-chat.floating.expanded {

  .user-input input.message-input{
    width: 261px;
  }
}