.whole-padding {
    margin-left: 220px !important;
    margin-right: 25px !important;
}

.mat-accordion .mat-expansion-panel {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 3.4%;
    margin-right: 6.5%;
}


.mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 20px;
    width: 20px;
    color: #00aeca;
    margin-top: 3px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    border-radius: 6px;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #E3E3E3;
    height: 55px;
}

.headers-align .mat-expansion-panel .mat-expansion-panel-header-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #1E1E1E;
}

.mat-focus-indicator:hover {
    background-color: #f8f8fc;
}

.frameC {
    display: inline-flex;
    align-items: flex-end;
    gap: 8px;
    position: relative;
    padding: 10px 0px 0px 15px !important;
}

.darkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    background-color: #1b67ba;
    border-color: #1b67ba;
    color: #ffffff;
    border-radius: 6px;
    height: 50px;
    width: 230px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 500 !important;
}

.darkBtn:hover {
    background-color: #ffffff;
    color: #1b67ba;
    border: 1px solid #1b67ba;
}