.whole-padding {
    margin-left: 48px !important;
    margin-right: 48px !important;
    border-radius: 2px;
}

.action-buttons {
  border: none;
  cursor: pointer;
  float: right;
  background: transparent;
  padding-right: 15px;
}
