.titTx{
 font-size:18px;
 color:#2b2b2b;
 font-weight:600;
}

.titTx1{
    font-size:17px;
    color:#04A4BC;
    font-weight:600;
   }

.bdrBtm {
    border-bottom: 1px solid #04A4BC;
    padding-bottom: 5px;
}

.spcLft {
    margin-left: 95px;
}