@import "./../../../../../ux/scss/style.scss";
@import './../../../../../ux/scss/layout.scss';

.titTx {
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 600;
}

.titTx1 {
    font-size: 17px;
    color: #04A4BC;
    font-weight: 600;
}

.bdrBtm {
    border-bottom: 1px solid #04A4BC;
    padding-bottom: 5px;
}

.spcLft {
    margin-left: 95px;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 24px;
    position: relative;
    background-color: #F5F5FA !important;
}

.space {
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
    padding: 20px;
    border: none !important;
}

.frameC {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-start;
    position: relative;
}

.div-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
}

.div-6 {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame-wrapper-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.accordion__item-body {
    padding: 24px;

    p {
        margin-bottom: 0;
    }
}

.gray_container {
    background-color: #f9f9f9;
    padding: 8px 24px;
    margin: 0px 0px 12px 0px;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    align-self: stretch;
    margin-top: -1px;
    font-weight: 400;
    color: #9b9b9b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    padding: 8px 0;
    margin-left: 25px;
}

.normal_text {
    font-weight: 400;
    font-size: 14px;
    color: #242426;
    line-height: 20px;
}

.form-control {
    min-height: 44px;
    border: 1.5px solid #D3D3D3;
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;

    &:focus {
        background-color: f9f9f9;
        border-color: #3E82CD;
    }

}

.hdByr-L {
    flex: 2 !important;
}

.inner_accordion-title {
    color: #303030;
    font-weight: 500;
    height: 44px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #F0F7FF;
    padding: 12px 24px;
    gap: 32px;
}

.gray_box {
    background-color: #F3F3F3;
    padding: 24px;
    margin: 12px 0;
    width: 100%;
}

// .btn.btn__add {
//     padding-left: 30px;
// }

.btn__default {
    background-color: transparent;
    border: 1px solid #3E82CD;
    color: #3E82CD;
}

.btn {
    text-transform: capitalize;
    position: relative;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
    padding: 0;
}

.buttons {
    align-items: flex-end;
}

.form-control-wrapper {
    position: relative;
    width: 100%;
}


.page-wrapper {
    min-height: 0 !important;
}

.accordion-item {
    background-color: #FCFCFC;
    margin-bottom: 27px;
    width: 100%;
    border-radius: 4px;
}

.byDefaultAddBtn {
    position: absolute;
    top: 45px;
    right: -28px;
}

.addBtn {
    position: absolute;
    bottom: 45px;
    right: -28px;
}

.deleteBtn {
    position: absolute;
    bottom: 52px;
}

.tbd-btn-10 {
  display: inline-block;
  margin: 8px;
  padding: 12px 20px;
  text-align: center;
  font-weight: 700;
  line-height: 1.2em;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid #00A4BF;
  background-color: #f0f9fc;
  color: #004e5f;
}

.selected {
  background-color: #3d82cd !important;
  color: #ffffff !important;
  border-color: #3d82cd !important;
}
.marginReduce{
  margin-top: -12px;
  width: 100%;
}
