<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div class="page-wrapper">
  <main>
    <div class="frameC">
      <div class="div">
        <div class="text-wrapper">Speculative/Non Speculative income</div>
        <div class="mingcute-down-fill"></div>
      </div>
      <div class="space">
        <div class="wrapper">
          <div class="div-4">
            <div class="frame-wrapper-2A">
              <div class="accordion" id="myAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading3">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapse3">Nature of Business (Other than 44AD, 44ADA,44AE)</button>

                  </h2>

                  <div id="collapse3" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                    <div class="accordion__item-body">
                      <form [formGroup]="natOfBusinessDtlForm">
                        <div class="pre-box1">
                          <div class="hdByr-L">
                            &nbsp; </div>
                          <div class="hdByr-R">
                            <div class="Bx4">
                              <div class="Bx4L">
                                <button type="submit" (click)="deleteArray()" [disabled]="!specSelected()">
                                  <i class="fa fa-trash-o delbt" aria-hidden="true"></i>
                                </button>
                              </div>
                              <div class="Bx4R">
                                <button type="button" class="addAno" (click)="addNatOfBusinessForm()"> + Add Another
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row" formArrayName="natOfBusinessDtlsArray">
                          <div *ngFor="
          let income of getnatOfBusinessDtlsArray.controls
            | paginate : config;
          let i = index
        " [formGroupName]="fieldGlobalIndex(i)">
                            <div class=" gray_box">
                              <div class="div-6 ">
                                <div class="col-sm-1 spsTp">
                                  <mat-checkbox name="hasEdit[i]" formControlName="hasEdit" class="tpBtn1">
                                  </mat-checkbox>
                                </div>

                                <div class="form-field">
                                  <app-business-input-autocomplete [businessType]="'ALL'" [selectedInput]="
                  natOfBusinessDtlsArray.controls[i].get('natureOfBusiness')
                    .value" (businessSelected)="businessClicked($event, i)">
                                  </app-business-input-autocomplete>
                                </div>
                                <div class="form-field">
                                  <div><span class="normal_text">Trade Name </span> </div>
                                  <mat-form-field appearance="outline">
                                    <input formControlName="tradeName" matInput name="tradeName[i]"
                                      class="input-field" />
                                  </mat-form-field>
                                </div>
                                <div class="form-field">
                                  <div><span class="normal_text">Business Description</span></div>
                                  <mat-form-field appearance="outline">
                                    <input formControlName="businessDescription" matInput name="businessDescription[i]"
                                      class="input-field" />
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="row spsTp bdrTp" style="align-items: center">
                        <div class="col-sm-6 txt-center">
                          <table>
                            <tr *ngFor="let item of getnatOfBusinessDtlsArray.controls | paginate : config"></tr>
                          </table>
                          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading4">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapse4">Non Speculative Income</button>

                  </h2>
                  <div id="collapse4" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                    <div class="accordion__item-body">
                      <!-- <h2 class="inner_accordion-title">
                        Trading Account
                      </h2> -->
                      <form [formGroup]="nonspecIncomeForm">
                        <div class="pre-box1">

                          <div class="hdByr-L">
                            Trading Account
                          </div>

                          <div class="hdByr-R">

                            <div class="Bx4">
                              <div class="Bx4L">
                                <button type="button" (click)="deleteNonSpecArray()" [disabled]="!nonspecSelected()">
                                  <i class="fa fa-trash-o delbt" aria-hidden="true"></i>
                                </button>
                              </div>
                              <div class="Bx4R">
                                <button type="button" class="addAno" (click)="addNonSpecIncomeForm()"> + Add Another
                                </button>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="gray_container" formArrayName="nonspecIncomesArray">
                          <div *ngFor="let income of getIncomeArray.controls; let i = index"
                            [formGroupName]="fieldGlobalIndex(i)">
                            <div class="div-6 mb-20">
                              <div class="form-field">
                                <mat-checkbox color="primary" name="hasEdit[i]" formControlName="hasEdit" class="ml30">
                                </mat-checkbox>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input formControlName="brokerName" matInput [disabled]="true" name="brokerName[i]"
                                    class="col-sm-1" />
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="div-6 mb-20">
                              <div class="form-field">
                                <div><span class="normal_text">Turnover</span>
                                </div>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input formControlName="turnOver" placeholder="₹ Enter Amount" matInput
                                    [disabled]="true" name="turnOver[i]" required class="input-field"
                                    (blur)="calculateIncome(fieldGlobalIndex(i))" digitsOnly />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="div-6 mb-20">
                              <div class="form-field">
                                <div><span class="normal_text">Closing stocks finished
                                    goods</span>
                                </div>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input formControlName="finishedGoodsClosingStock" placeholder="₹ Enter Amount"
                                    matInput name="finishedGoodsClosingStock[i]" class="input-field" required
                                    type="number" trim (blur)="calculateIncome(fieldGlobalIndex(i))" />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="div-6 mb-20">
                              <div class="form-field">
                                <div><span class="normal_text">Total Credits to trading
                                    account</span>
                                </div>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input readonly formControlName="totalCredit" name="totalCredit[i]" matInput
                                    class="input-field" required type="number" trim />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="div-6 mb-20">
                              <div class="form-field">
                                <div><span class="normal_text">Opening stock of finished
                                    goods</span>
                                </div>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input formControlName="finishedGoodsOpeningStock" placeholder="₹ Enter Amount"
                                    matInput name="finishedGoodsOpeningStock[i]" class="input-field" required
                                    type="number" trim (blur)="calculateIncome(fieldGlobalIndex(i))" />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="div-6 mb-20">
                              <div class="form-field">
                                <div><span class="normal_text">Purchases</span>
                                </div>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input formControlName="purchase" placeholder="₹ Enter Amount" matInput
                                    name="purchase[i]" class="input-field" required type="number" trim
                                    (blur)="calculateIncome(fieldGlobalIndex(i))" />
                                </mat-form-field>
                              </div>
                            </div>
                            <!-- <div class="div-6 mb-20">
                              <div class="form-field">
                                <div><span class="normal_text">Gross profit from trading
                                    account</span>
                                </div>
                                <div><span class="normal_text">Note: Gross Profit cannot be more than Turnover</span>
                                </div>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input readonly formControlName="grossProfit" name="grossProfit[i]" matInput
                                    class="input-field" required type="number" trim />
                                </mat-form-field>
                              </div>
                            </div> -->

                            <div class="div-6 mb-20">
                              <div class="form-field">
                                <div><span class="normal_text">Trading expense</span>
                                </div>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input formControlName="expenditure" placeholder="₹ Enter Amount" matInput
                                    name="tradingExpense[i]" class="input-field" required type="number" trim
                                    (blur)="calculateIncome(fieldGlobalIndex(i))" />
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="div-6 mb-20 mt-3">
                              <div class="form-field">
                                <div><span class="normal_text">Gross profit from trading account</span>
                                </div>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input readonly formControlName="netIncome" name="netIncome[i]" matInput
                                    class="input-field" required type="number" trim />
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <h2 class="inner_accordion-title">
                        Profit & Loss Account
                      </h2>
                      <div class="gray_container">
                        <div class="div-6 mb-20" *ngIf="false">
                          <div class="form-field">
                            <div><span class="normal_text">Other Income</span> <span class="text-wrapper-2">*</span>
                            </div>
                          </div>
                          <div class="form-field">
                            <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                              aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                          </div>
                        </div>
                        <div class="row gray_box" *ngIf="false">
                          <div class="col-8">
                            <div class="div-6 ">
                              <div class="form-field">
                                <div><span class="normal_text">Income Type</span><span class="text-wrapper-2">*</span>
                                </div>
                                <div class="form-control-wrapper select_arrow">
                                  <select class="form-control inpplac " id="exampleFormControlSelect1">
                                    <option>Select</option>
                                    <option>2</option>
                                    <option>3</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-field">
                                <div><span class="normal_text">Amount </span><span class="text-wrapper-2">*</span></div>
                                <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                              </div>
                            </div>
                          </div>
                          <div class="col-4 align_self mt-20">
                            <div class="ml-20">
                              <i class="fa fa-trash-o delbt mr-20"></i>
                              <button class="btn btn__add btn__default">Add
                                Another</button>
                            </div>
                          </div>
                        </div>
                        <form [formGroup]="profitLossForm">
                          <div class="div-6 mb-20">
                            <div class="form-field mt-3">
                              <div><span class="normal_text">Other expenses</span>
                              </div>
                            </div>
                            <div class="form-field buttons">
                              <div class="flex">
                                <div class="ml-20">
                                  <button type="submit" (click)="deleteExpenseForm()" [disabled]="!expenseSelected()">
                                    <i class="fa fa-trash-o delbt" aria-hidden="true"></i>
                                  </button>
                                  <button class="btn btn__add btn__default" (click)="addExpenseForm(this.newExpenses)">+
                                    Add
                                    Another</button>
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="row gray_box" formArrayName="expenses">
                            <div class="col-12 mb-2" *ngFor="let expense of expenses?.controls; let i = index"
                              [formGroupName]="i">
                              <div class="div-6">
                                <div class="col-sm-1">
                                  <mat-checkbox name="hasExpense[i]" formControlName="hasExpense" class="chkSpc">
                                  </mat-checkbox>
                                </div>
                                <div class="form-field">
                                  <div><span class="normal_text">Expense Type </span>
                                  </div>
                                  <div class="form-control-wrapper select_arrow">
                                    <mat-form-field appearance="outline">
                                      <mat-select placeholder="expense Type" formControlName="expenseType"
                                        name="expenseType" (selectionChange)="changed()">
                                        <mat-option *ngFor="let type of expenseTypeList" [value]="type.key"
                                          [disabled]="type.disabled">
                                          {{ type.value }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="form-field">
                                  <div><span class="normal_text">Amount</span>
                                  </div>
                                  <mat-form-field appearance="outline">
                                    <input matInput class="input-field" placeholder="₹ Enter Amount" digitsOnly
                                      (change)="calculateNetProfit()" placeholder="Expense Amount"
                                      formControlName="expenseAmount" maxlength="14" />
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="form-field" *ngIf="expense.get('expenseType').value === 'OTHER_EXPENSES'">
                                <div><span class="normal_text">Description</span>
                                </div>
                                <mat-form-field class="input-field-width" appearance="outline">
                                  <input matInput class="input-field" placeholder="description"
                                    formControlName="description" [required]="
                                      expense.get('expenseType').value === 'OTHER_EXPENSES'
                                    " />
                                </mat-form-field>
                              </div>
                            </div>
                          </div>

                          <div class="div-6 mb-20">
                            <div class="form-field">
                              <div><span class="normal_text">Total Other Expenses</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline">
                                <input readonly type="text" matInput class="input-field" value="{{totalOtherExpenses}}"
                                  id="exampleInputEmail1" aria-describedby="emailHelp">
                              </mat-form-field>
                            </div>
                          </div>
                        </form>
                        <div class="div-6 mb-20">
                          <div class="form-field">
                            <div><span class="normal_text">Net Profit</span>
                            </div>
                          </div>
                          <div class="form-field">
                            <mat-form-field appearance="outline">
                              <input readonly type="text" matInput class="input-field" value="{{totalNetProfit}}"
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>