<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<main class="overflow-x-scroll scrollbar-hide flex flex-col justify-between p-[25px]">
  <!-- add-client-header  -->
  <div class="flex justify-between items-center">
    <div class="headline texAlSp">Steps to Add Client:</div>
  </div>

  <!-- alert-message  -->
  <div class="p-[25px]">
    <div class="alert alert-warning" role="alert">
      <i class="material-icons-outlined adIc">warning</i> Add client now to
      avoid any further errors
    </div>
  </div>

  <!-- steps-to-add-client  -->
  <form [formGroup]="addClientForm">
    <mat-stepper #stepper labelPosition="bottom">
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Verify PAN</ng-template>
        <div class="card flex RequestOtp">
          <div class="flex flex-col gap-[25px] pr-[25px] pl-[25px] pb-[0] pt-[25px]">
            <!-- aadhar-email options -->
            <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedOtpOption"
              [ngModelOptions]="{ standalone: true }">
              <mat-radio-button checked value="A">Aadhaar OTP</mat-radio-button>&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="E">E portal OTP</mat-radio-button>
            </mat-radio-group>
            <!-- pan-dob input  -->
            <div class="card__row mb-3">
              <div class="card__col-xs-12 card__col-sm-4">
                <mat-label>PAN Number</mat-label>
                <mat-form-field appearance="outline">
                  <input [style.cursor]="
                        ITR_JSON.eFillingCompleted === true ? 'not-allowed' : ''
                      " [disabled]="ITR_JSON.eFillingCompleted === true"
                    matTooltip="Format should like this(e.g. XXXXXNNNNX) X indicate character and N indicates number."
                    matTooltipClass="tab-tooltip" matTooltipPosition="above" matInput placeholder="PAN" name="panNumber"
                    formControlName="panNumber" class="input-field" maxlength="10" minlength="10"
                    (blur)="setOtpValidation()" (keyup)="setUpperCase()" required />
                  <mat-error *ngIf="
                        addClientForm.controls['panNumber'].hasError('pattern')
                      ">
                    Enter valid PAN (e.g XXXXX1234X)</mat-error>
                </mat-form-field>
              </div>
              <div class="card__col-xs-12 card__col-sm-4">
                <mat-label>Date Of Birth</mat-label>
                <mat-form-field appearance="outline">
                  <input matTooltip="Date of birth as per PAN" matTooltipClass="tab-tooltip" matTooltipPosition="above"
                    matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" class="input-field"
                    placeholder="Date of birth" name="dateOfBirth"
                    [formControl]="addClientForm.controls['dateOfBirth'] | formControlType" />
                  <mat-hint>Format: DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- verifyPan button  -->
          <div style="padding: 0 0 25px 25px">
            <button matStepperNext class="lgtBtn" style="margin: 0px" *ngIf="addClientForm.controls['panNumber'].valid"
              (click)="verifyPan()">
              <span class="font-semibold">Verify PAN </span>
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Enter OTP</ng-template>

        <div class="card flex">
          <div class="flex flex-col gap-[25px] pr-[25px] pl-[25px] pb-[0] pt-[25px]">


            <div class="card__col-xs-12 card__col-sm-4 ">
              <!--  -->
              <mat-label>Verify OTP</mat-label>
              <mat-form-field appearance="outline">
                <input matTooltip="Verify OTP" matTooltipClass="tab-tooltip" matTooltipPosition="above" matInput
                  currencyMask placeholder="Verify OTP" name="otp" formControlName="otp" class="input-field"
                  maxlength="75" />
                <mat-error *ngIf="addClientForm.controls['otp'].hasError('required')">
                  Enter OTP</mat-error>
              </mat-form-field>
            </div>
            <!-- Validate OTP  -->
            <div style="padding: 0 0 25px 10px">
              <button matStepperNext (click)="verifyOtp()" class="lgtBtn" style="margin: 0px">
                <span class="font-semibold">Validate OTP</span>
              </button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Success</ng-template>
        <div class="flex card success justify-between items-center">
          <div class="p-[50px]">
            <i class="bi bi-check-circle-fill"></i>
            <p>Client added successfully</p>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
  <hr />
  <!-- action-buttons  -->
  <div class="flex justify-between p-[30px] back-foot">
    <button (click)="skip()" class="lgtBtn">
      <span class="font-semibold">Skip to Sources of Income</span>
    </button>

    <button (click)="showPrefillView()" class="darkBtn">
      <span class="adjust">Go to Prefill Json</span>
      <i class="material-icons icoAd">arrow_right_alt </i>
    </button>
  </div>
</main>