.alert {
  background-color: #FFFBE6;
  border-radius: 5px;
  padding: 9px;
  margin-bottom: 4px;
  opacity: 0.8;
  color: #FFA61E;
  border: 2px solid #FFA61E;
  margin-top: -10px;
}

.headline {
  font-size: 17px;
  padding-left: 10px;
  font-weight: 600;
  color: #00aeca;
}

.successRes {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  width: 45%;
  margin-left: 30%;
  background-color: #f2f2f2;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 3px;
}

.skip {
  background-color: white;
  border-color: black;
  color: black;
}

.skip:hover {
  background-color: #00aeca;
  color: white;
}

.user-name {
  font-size: 17px;
  margin-left: 5px;
}

.success {
  padding: 50px;
}