table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

th {
  font-weight: bold;
}

.delete-user {
  background-color: red !important;
  color:#ffffff!important;
}

.delete-user:hover {
  background-color: rgb(179, 0, 0) !important;
  color:#ffffff;
}


.mt-5 {
  margin: 5px;
}

.more {
    font-size: 18px;
    font-weight: bold;
}

.back {
  background-color: #f7f7f7;
  height: 40px;
  width: 100%;
  padding: 7px;
}


.tbd-btn-small {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  background-color: #edffff;
  border: 1px solid #cccccc;
  margin: 15px 10px 0px 0px;
}

.tbd-btn-small:hover {
  background-color: #b7f5f5;
}

.tablejrn {
  overflow-y: scroll;
  padding: 13px;
  height: 400px;
  width: 100%!important;
}


.more-new-button{
margin: 15px 10px 0px 0px;
display: inline-block;
width: calc(33.33% - 10px);
height: 48px;
padding: 8px 24px;
align-items: center;
gap: 9px;
border-radius: 4px;
border: 1.5px solid #2D8EF9;
color: #2D8EF9;

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: -0.28px;
}
