<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div class="tablejrn">
  <div class="row back">
  <div class="col-sm-11">
  <label class="more">More options for: <span style="color: rgb(106, 123, 237);">{{ data.name }}</span></label>
  </div>
  <div class="col-sm-1">
  <button
    mat-dialog-close
    tabindex="-1"
    class="tbd-btn-close close"
    (click)="closeDialog()"
  >
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
</div>
  <span *ngIf="((data.serviceType === 'ITR' && data.itrObjectStatus !== 'ITR_FILED')
              ||  data.serviceType !== 'ITR') &&  !loggedInUserRoles?.includes('ROLE_FILER')">
    <button type="button" class="tbd-btn-small" title="Re Assignment" (click)="reAssignUser()">
      Re Assign <i class="fa fa-refresh" aria-hidden="true" data-action-type="re-assign"></i>
    </button>
  </span>

<!--  <span *ngIf="data.serviceType === 'ITR'">-->
<!--    <button type="button" class="tbd-btn-small" title="Add Client" (click)="addClient()">-->
<!--      Add Client <i class="fa fa-plus" aria-hidden="true" data-action-type="add-client"></i>-->
<!--    </button>-->
<!--  </span>-->
  <span>
    <button type="button" class="tbd-btn-small" title="Go to Invoices" (click)="goToInvoice()">
      Invoice&nbsp;&nbsp; <i class="fa fa-files-o" aria-hidden="true"></i>
    </button>
  </span>
  <span>
    <button type="button" class="tbd-btn-small" title="Go to Subscriptions" (click)="goToSubscription()">
      Subscription&nbsp;&nbsp; <i class="fa fa-list-alt" aria-hidden="true"></i>
    </button>
  </span>
 <span>
   <button type="button" class="tbd-btn-small" title="View Document cloud" (click)="goToCloud()">
     Cloud&nbsp;&nbsp; <i class="fa fa-cloud" aria-hidden="true"></i>
   </button>
 </span>
  <span>
    <button type="button" class="tbd-btn-small" title="Update user profile" (click)="goToProfile()">
      Profile&nbsp;&nbsp; <i class="fa fa-user" aria-hidden="true"></i>
    </button>
  </span>
  <span>
    <button type="button" class="tbd-btn-small" title="Re Assignment" (click)="optedServices()">
     Oth Service&nbsp;&nbsp; <i class="fa fa-server" aria-hidden="true"></i>
    </button>
  </span>
<!--  <span *ngIf="this.data.serviceType === 'ITR'">-->
<!--    <button type="button" class="mt-5 tbd-btn-small" title="Insurance" (click)="giveInsurance()">-->
<!--      Insurance&nbsp;&nbsp; <i class="fa fa-ambulance" aria-hidden="true"></i>-->
<!--    </button>-->
<!--  </span>-->
  <span>
    <button type="button" class="tbd-btn-small" title="User Journey" (click)="getUserJourney()">
      Journey&nbsp;&nbsp; <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
    </button>
  </span>
  <span>
    <!-- <button type="button" title="Delete User" [disabled]="isDisable"
   class="delete-user tbd-btn-small" [style.cursor]="isDisable ? 'no-drop': 'pointer'"
      (click)="deleteUser()">
      Delete User&nbsp;&nbsp; <i class="fa fa-trash" aria-hidden="true" data-action-type="remove"></i>
    </button> -->
    <button type="button" title="Delete User" class="delete-user tbd-btn-small"
      *ngIf="isApplicable(['ROLE_ADMIN', 'ROLE_LEADER'])" (click)="deleteUser()">
      Delete User&nbsp;&nbsp; <i class="fa fa-trash" aria-hidden="true" data-action-type="remove"></i>
    </button>
  </span>
  &nbsp;&nbsp;

<div class="card__row" *ngIf="showDetails === 'OPT_SERVICE'">
  <table style=" width: 100%;" *ngIf="optedServicesData && optedServicesData.length > 0">
    <tr>
      <!-- <th>No</th> -->
      <th>Service Type</th>
      <th>Agent Name</th>
      <th>Agent Mobile</th>
    </tr>
    <tbody>
      <tr *ngFor="let service of optedServicesData">
        <td>{{service.serviceType}}</td>
        <td>{{service.filerName}}</td>
        <td>{{service.filerMobile}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div>Note: Please select the service and opt user for another service</div>
  <div class="card__col-xs-12 card__col-sm-8">
    <mat-form-field appearance="outline" style="margin-top: 10px;">
      <mat-label>Select Service</mat-label>
      <mat-select placeholder="Select Agent Id" [(ngModel)]="selectedService">
        <mat-option *ngFor="let service of services" [value]="service" [disabled]="isDisabled(service)">
          {{service}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="card__col-xs-12 card__col-sm-4">
    <button type="button" class="tbd-btn" (click)="optService()">
      Mark as Interested
    </button>
  </div>
</div>
<div class="card__row" *ngIf="showDetails === 'JOURNEY'">
  <!-- <ag-grid-angular class="ag-theme-balham" [gridOptions]="myItrsGridOptions">
  </ag-grid-angular> -->
  <table style=" width: 100%;">
    <tr>
      <!-- <th>No</th> -->
      <th>Service Type</th>
      <th>Status Name</th>
      <th>Assessment Year</th>
      <th>Created Date</th>
    </tr>
    <tr *ngFor="let service of statusList">
      <td>{{service.serviceType}}</td>
      <td>{{service.statusName}}</td>
      <td>{{service.assessmentYear}}</td>
      <td>{{service.createdDate | date:'dd MMM yyyy'}}</td>
    </tr>
  </table>
  <br>
  <pre *ngIf="initialData">
    {{initialData | json}}
</pre>
</div>
</div>
