<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
    <div class="card">
        <h1 style="font-size: 22px;"><b><u>Add Invoice: </u></b></h1><br><br>
        <div class="card__row">
            <!-- <div class="card__col-lg-12">
                <div class="filter__col card__col-sm-4 card__col-xs-12">
                    <div class="input">
                        <label class="input__label" for="attr">Select attribute</label>
                        <select class="select__box ogp_select" (change)="clearValue()" #advanceSearchKey>\
                            <option *ngFor="let drop of searchMenus" class="un-select-list" [value]="drop.value">
                                {{drop.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="filter__col card__col-sm-4 card__col-xs-10">
                    <div class="input">
                        <label class="input__label" for="attr">Enter value</label>
                        <div class="input__select">
                            <input type="text" class="select__box ogp_select" style="background-image:none"
                                [(ngModel)]="searchVal" name="searchVal" />
                        </div>
                    </div>
                </div>
                <div class="card__col-md-3 card__col-xs-12 pull-right">
                    <a class="btn btn_stroke filter__add-link" (click)="advanceSearch(advanceSearchKey.value)"><i
                            class="fa fa-search" aria-hidden="true" style="color: #2ed13b;"></i>&nbsp;Search</a>
                </div>
            </div><br><br> -->

            <!-- <div class="card__col-lg-3" style="margin-top: 15px;">
                <table *ngIf="this.user_data.length">
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let user of this.user_data; let i=index;">
                        <td>{{user.fName + " " + user.lName}}</td>
                        <td>
                            <a href="javascript:0" (click)="getUserDetails(user.userId)"
                                title="Generate Invoice">{{user.userId}}</a>
                        </td>
                    </tr>
                </table>
            </div> -->

            <div class="card__col-lg-12" style="margin-top: 15px;" *ngIf="userInvoices">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b>Invoices</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <!-- <div class="card__row">
                            <div class="card__col-lg-4" style=" padding: 10px;padding-left:20px">
                                <button class="butn" (click)="addNewInvoice()">
                                    Generate New</button>
                            </div>
                        </div> -->


                        <table *ngIf="userInvoices && userInvoices.length > 0">
                            <tr>
                                <th>Invoice No</th>
                                <th>Invoice Date</th>
                                <th>Bill to</th>
                                <th>Email</th>
                                <th>Action</th>
                                <th>Notify</th>
                                <th>Pay Status</th>
                            </tr>
                            <tr *ngFor="let invoice of userInvoices">
                                <td>{{invoice.invoiceNo}}</td>
                                <td>{{invoice.invoiceDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{invoice.billTo}}</td>
                                <td>{{invoice.email ? invoice.email : '-'}} &nbsp;
                                    <a href="javascript:0" *ngIf="invoice.email" (click)="sendMail(invoice)"
                                        title="Send mail notification">
                                        <!--[class.disabledBtn]="invoice.modeOfPayment === 'Cash'"-->
                                        <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td><a href="javascript:0" (click)="downloadInvoice(invoice)" title="Download Invoice">
                                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                    </a>&nbsp;&nbsp;

                                    <a href="javascript:0" (click)="updateInvoice(invoice)" title="Edit Invoice"
                                        [class.disabledBtn]="invoice.modeOfPayment === 'Cash'|| invoice.paymentStatus === 'Paid'">
                                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                    </a>
                                </td>

                                <td>
                                    <a href="javascript:0" (click)="sendWhatAppNotification(invoice)"
                                        title="Send WhatsApp Reminder"
                                        [class.disabledBtn]="invoice.modeOfPayment === 'Cash' || invoice.paymentStatus === 'Paid'">
                                        <i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i>
                                    </a>

                                    &nbsp;&nbsp;
                                    <a href="javascript:0" (click)="sendMailNotification(invoice)"
                                        title="Send Mail Reminder"
                                        [class.disabledBtn]="invoice.modeOfPayment === 'Cash' || invoice.paymentStatus === 'Paid'">
                                        <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
                                    </a>
                                </td>

                                <td style="text-align: center; font-weight: bold;">
                                    <!-- {{invoice.paymentStatus}} -->
                                    <select [(ngModel)]="invoice.paymentStatus"
                                        (change)="changePayStatus($event, invoice)"
                                        [disabled]="invoice.modeOfPayment === 'Cash' || invoice.paymentStatus === 'Paid'">
                                        <option selected disabled>Select</option>
                                        <option *ngFor="let status of paymentStatus" [value]="status.value">
                                            {{status.label}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div *ngIf="userInvoices && userInvoices.length === 0"
                            style="text-align: center; padding: 15px;">
                            There is No invoice records
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>


    </div>

    <div class="card">
        <!-- || addNewUser -->
        <form [formGroup]="invoiceForm">
            <mat-card>
                <div class="card__row">
                    <label>Initial Data:</label><br><br>
                    <pre class="initiatedInfo" *ngIf="initialData">
                    {{initialData | json}}
                </pre>

                    <p style="margin: 12px; font-size: 15px; padding-left: 137px;" *ngIf="!initialData">
                        Initial data not present for selected User.
                    </p>

                </div><br>

                <div class="card__row">
                    <label>Invoice Information:</label><br><br>
                    <!-- <div class="card__col-lg-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Invoice Number</mat-label>
                                    <input matInput formControlName="invoiceNo" maxlength="15"
                                        placeholder="Invoice Number" autocomplete="off">
                                    <mat-error *ngIf="invoiceForm.controls['invoiceNo'].hasError('required')">Enter
                                        Invoice Number</mat-error>
                                    <mat-error *ngIf="invoiceForm.controls['invoiceNo'].hasError('pattern')">Enter valid
                                        Invoice Number</mat-error>
                                </mat-form-field>
                            </div> -->
                    <div class="card__col-lg-4">
                        <!-- <label><b>Invoice Date: </b></label> -->
                        <mat-form-field appearance="outline">
                            <mat-label>Invoice Date</mat-label>
                            <input matInput formControlName="invoiceDate" [matDatepicker]="picker" [max]="maxDate"
                                autocomplete="off">
                            <!--(dateChange)="setDueDate(this.invoiceForm.controls['invoiceDate'].value)"-->
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="invoiceForm.controls['invoiceNo'].hasError('required')">Select
                                Invoice date</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4">
                        <!-- <label><b>Terms: </b></label> -->
                        <mat-form-field appearance="outline">
                            <mat-label>Terms</mat-label>
                            <input matInput formControlName="terms" readonly placeholder="Terms" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4">
                        <!-- <label><b>Due Date: </b></label> -->
                        <mat-form-field appearance="outline">
                            <mat-label>Due Date</mat-label>
                            <input matInput formControlName="dueDate" [matDatepicker]="picker1" [max]="maxDate"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="invoiceForm.controls['dueDate'].hasError('required')">Select Due
                                date</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4">
                        <!-- <label><b>SAC Code: </b></label> -->
                        <mat-form-field appearance="outline">
                            <mat-label>SAC Code</mat-label>
                            <input matInput formControlName="sacCode" readonly placeholder="SAC Code"
                                autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4">
                        <!-- <label><b>CIN: </b></label> -->
                        <mat-form-field appearance="outline">
                            <mat-label>CIN</mat-label>
                            <input matInput formControlName="cin" placeholder="CIN" readonly autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4">
                        <!-- <label><b>Mode of Payment: </b></label> -->
                        <mat-form-field appearance="outline">
                            <mat-label>Mode of Payment</mat-label>
                            <!-- <input matInput formControlName="modeOfPayment" placeholder="Mode of Payment"
                                        readonly autocomplete="off"> -->
                            <mat-select formControlName="modeOfPayment" matInput placeholder="Select Mode of Payment"
                                autocomplete="off"
                                (selectionChange)="setFormControl(invoiceForm.controls['modeOfPayment'].value)"
                                required>
                                <mat-option *ngFor="let payment of paymentMode" [value]="payment.value">
                                    <!--stateCode-->
                                    {{payment.value}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="invoiceForm.controls['modeOfPayment'].hasError('required')">Select
                                Mode of Payment
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="card__col-lg-4" *ngIf="invoiceForm.controls['modeOfPayment'].value === 'Cash'">
                        <!-- <label><b>SAC Code: </b></label> -->
                        <mat-form-field appearance="outline">
                            <mat-label>Payment Collected By</mat-label>
                            <input matInput formControlName="paymentCollectedBy" placeholder="Payment Collected By"
                                autocomplete="off" maxlength="15" required>
                            <mat-error *ngIf="invoiceForm.controls['paymentCollectedBy'].hasError('required')">Enter
                                payment collected by
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4" *ngIf="invoiceForm.controls['modeOfPayment'].value === 'Cash'">
                        <mat-form-field appearance="outline">
                            <mat-label>Date of receipt</mat-label>
                            <input matInput formControlName="dateOfReceipt" [matDatepicker]="picker3" required
                                [max]="maxDate"
                                (dateChange)="setDepositInBankValidation(invoiceForm.controls['dateOfReceipt'].value)"
                                autocomplete="off">
                            <!--(dateChange)="setDueDate(this.invoiceForm.controls['invoiceDate'].value)"-->
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                            <mat-error *ngIf="invoiceForm.controls['dateOfReceipt'].hasError('required')">Select
                                Invoice date</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4" *ngIf="invoiceForm.controls['modeOfPayment'].value === 'Cash'">
                        <mat-form-field appearance="outline">
                            <mat-label>Deposite in Bank</mat-label>
                            <input matInput formControlName="dateOfDeposit" [matDatepicker]="picker4"
                                [min]="minDepositInBank" [max]="maxDate" autocomplete="off" required>
                            <!--(dateChange)="setDueDate(this.invoiceForm.controls['invoiceDate'].value)"-->
                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                            <mat-datepicker #picker4></mat-datepicker>
                            <mat-error *ngIf="invoiceForm.controls['dateOfDeposit'].hasError('required')">
                                Select
                                Invoice date</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="card__col-lg-4">
                        <!-- <label><b>SAC Code: </b></label> -->
                        <mat-form-field appearance="outline">
                            <mat-label>IFA / Lead client</mat-label>
                            <input matInput formControlName="ifaLeadClient" placeholder="IFA / Lead client"
                                autocomplete="off" maxlength="30" required>
                            <mat-error *ngIf="invoiceForm.controls['ifaLeadClient'].hasError('required')">Enter
                                IFA / Lead client info
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4" *ngIf="this.invoiceForm.controls['paymentStatus'].value === 'Paid'">
                        <mat-form-field appearance="outline">
                            <mat-label>Amount receipt with Date</mat-label>
                            <input matInput formControlName="paymentDate" [matDatepicker]="picker2" [max]="maxDate"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="invoiceForm.controls['paymentDate'].hasError('required')">Select Amount
                                receipt date</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
            <br>

            <mat-card>
                <div class="card__row">
                    <!-- <b style="font-size: 15px;">Bill To: </b> -->
                    <label>Bill to:</label><br><br>
                    <div class="card__col-lg-8">
                        <mat-form-field appearance="outline">
                            <mat-label>User name</mat-label>
                            <input matInput formControlName="billTo" maxlength="50" placeholder="User name"
                                autocomplete="off" required>
                            <mat-error *ngIf="invoiceForm.controls['billTo'].hasError('required')">Enter User
                                name</mat-error>
                            <mat-error *ngIf="invoiceForm.controls['billTo'].hasError('pattern')">Enter valid User
                                name</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card><br><br>
            <mat-card>
                <div class="card__row">
                    <label>Address Information:</label><br><br>
                    <div class="card__col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Address Line 1: </mat-label>
                            <input formControlName="addressLine1" maxlength="50" matInput placeholder="Address Line 1: "
                                autocomplete="off" required>
                            <mat-error *ngIf="invoiceForm.controls['addressLine1'].hasError('required')">Enter
                                Address line 1</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Address Line 2: </mat-label>
                            <input formControlName="addressLine2" maxlength="50" matInput placeholder="Address Line 2: "
                                autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>PIN Code</mat-label>
                            <input formControlName="pincode" maxlength="6"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57" matInput
                                placeholder="PIN Code" autocomplete="off"
                                (blur)="getCityData(this.invoiceForm.controls['pincode'])" required>
                            <mat-error *ngIf="invoiceForm.controls['pincode'].hasError('required')">Enter pin
                            </mat-error>
                            <mat-error *ngIf="invoiceForm.controls['pincode'].hasError('pattern')">Enter valid
                                pin
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="card__col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="country" matInput placeholder="Country" autocomplete="off"
                                (selectionChange)="changeCountry(invoiceForm.controls['country'].value)" required>
                                <mat-option *ngFor="let country of countryDropdown" [value]="country.countryName">
                                    <!--countryCode-->
                                    {{country.countryName | titlecase}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="invoiceForm.controls['country'].hasError('required')">Select
                                country</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="card__col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state" matInput placeholder="State" autocomplete="off"
                                (selectionChange)="showTaxRelatedState(invoiceForm.controls['state'].value)" required>
                                <mat-option *ngFor="let state of stateDropdown" [value]="state.stateName">
                                    <!--stateCode-->
                                    {{state.stateName | titlecase}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="invoiceForm.controls['state'].hasError('required')">Select state
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="card__col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>City:</mat-label>
                            <input formControlName="city" maxlength="50" matInput placeholder="city" autocomplete="off"
                                required>
                            <mat-error *ngIf="invoiceForm.controls['city'].hasError('required')">Enter city name
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="card__col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>GSTIN:</mat-label>
                            <input formControlName="gstin" maxlength="15" matInput placeholder="GSTIN"
                                autocomplete="off">
                            <mat-error *ngIf="invoiceForm.controls['gstin'].hasError('required')">Enter GSTIN
                                number</mat-error>
                            <mat-error *ngIf="invoiceForm.controls['gstin'].hasError('pattern')">Enter valid
                                GSTIN</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input formControlName="phone"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57" matInput
                                placeholder="Phone" maxlength="10" autocomplete="off" required>
                            <mat-error *ngIf="invoiceForm.controls['phone'].hasError('required')">Enter phone
                                number</mat-error>
                            <mat-error *ngIf="invoiceForm.controls['phone'].hasError('pattern')">Enter valid
                                phone number</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput placeholder="Email" autocomplete="off" required>
                            <mat-error *ngIf="invoiceForm.controls['email'].hasError('required')">Enter email
                                address</mat-error>
                            <mat-error *ngIf="invoiceForm.controls['email'].hasError('pattern')">Enter valid
                                email address</mat-error>
                        </mat-form-field>
                    </div>

                </div>
            </mat-card><br><br>

            <mat-card>
                <div class="card__row">
                    <label>Filling Estimation</label><br><br>
                    <div class="card__col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Schedule call Date & Time</mat-label>
                            <input matInput formControlName="estimateDateTime" [owlDateTimeTrigger]="dtPicker2"
                                [owlDateTime]="dtPicker2">
                            <owl-date-time #dtPicker2></owl-date-time>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Itr type</mat-label>
                            <mat-select formControlName="itrType" matInput placeholder="Itr type" autocomplete="off">
                                <mat-option *ngFor="let itr of itrTypes" [value]="itr.value">
                                    {{itr.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Comment</mat-label>
                            <textarea matInput formControlName="comment" maxlength="300"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card><br><br>

            <mat-card>
                <label>Invoice table:</label><br><br>
                <div class="card__row" style="margin-top: 0px;">
                    <ag-grid-angular class="ag-theme-balham" [gridOptions]="clientListGridOptions"
                        (rowClicked)="onInvoiceRowClicked($event)">
                    </ag-grid-angular>
                </div> <br>
                <div class="card__row">
                    <div class="card__col-lg-4">
                        <button class="butn" (click)="addNewRow()">Add Row</button>
                    </div>
                    <div class="card__col-lg-4 total">
                        <div class="card__col-lg-7">Sub Total
                            <span>(Tax Exclusive)</span>
                        </div>
                        <div style="float: right;" class="card__col-lg-5">₹
                            {{this.utilsService.currencyFormatter( getInvoiceTotal().subTotal)}}
                        </div>

                        <!--  <div *ngIf="!isMaharashtraState" style="float: right;" class="card__col-lg-5">₹
                            {{this.utilsService.currencyFormatter( getInvoiceTotal().invoiceTotal - getInvoiceTotal().invoiceIGST )}}
                        </div> -->

                        <div *ngIf="isMaharashtraState" class="card__col-lg-7">CGST (9%)</div>
                        <div *ngIf="isMaharashtraState" style="float: right;" class="card__col-lg-5">₹
                            {{this.utilsService.currencyFormatter(getInvoiceTotal().cgstTotal)}}

                        </div>

                        <div *ngIf="isMaharashtraState" class="card__col-lg-7">SGST (9%)</div>
                        <div *ngIf="isMaharashtraState" style="float: right;" class="card__col-lg-5">₹
                            {{(getInvoiceTotal().sgstTotal)}}

                        </div>

                        <div *ngIf="!isMaharashtraState" class="card__col-lg-7">IGST (18%)</div>
                        <div *ngIf="!isMaharashtraState" style="float: right;" class="card__col-lg-5">₹
                            {{this.utilsService.currencyFormatter(getInvoiceTotal().igstTotal)}}

                        </div>

                        <div class="card__col-lg-7 bold">Total</div>
                        <div style="float: right;" class="card__col-lg-5 bold">₹
                            {{this.utilsService.currencyFormatter(getInvoiceTotal().invoiceTotal)}}</div>

                        <div class="card__col-lg-7 bold">Balance Due</div>
                        <div style="float: right;" class="card__col-lg-5 bold">₹
                            {{this.utilsService.currencyFormatter(getInvoiceTotal().invoiceTotal)}}</div>
                    </div>

                </div>
            </mat-card>
            <br><br>
            <div class="btns">
                <button class="butn" (click)="saveInvoice()">
                    {{this.editInvoice ? 'Update' : 'Generate and Send'}}</button>
            </div>
            <br><br><br><br>
        </form>

    </div>
</div>
<!--</div>
    </div>
</div> -->