<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div class="main clearfix">
  <div class="content content_full">
    <div class="content__container">
      <div class="card">
        <div class="card__row">
          <table>
            <tr *ngFor="let item of smeList | paginate:config"></tr>
          </table>
          <ag-grid-angular class="ag-theme-balham" [gridOptions]="smeListGridOptions"
            (rowClicked)="onUsersRowClicked($event)">
            <!--    paginationPageSize=15 pagination=true-->
          </ag-grid-angular>

          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>