.page-bg {
  padding-top: 30px;
  padding-left: 170px;
  padding-right: 30px;
  margin: auto;
  background-color: #f2f2f2;
}

.auth-block {
  background: #fff !important;
  width: 30% !important;
}

.login_content {
  width: 60%;
}

.mat-mdc-form-field {
  display: inline !important;
  position: relative;
  text-align: left;
}



.spTp {
  margin-top: 20px;
}

.link-style {
  margin: 10px -10px 0px 0px !important;
  display: block;
}


.login_content_container {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 30px;

  position: absolute;
  width: 480px;
  height: auto;
  // left: 516px;
  top: 140px;

  /* Neutral/Neutral BG [day] */

  background: #ffffff;
  /* Neutral/Neutral Border [day] */

  border: 1px solid #e8edf2;
  border-radius: 16px;
}

.txRes {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  font-style: italic;
}

/*.main1 {
    padding-top: 200px;
    padding-left: 460px;
    padding-right: 30px;
    margin: auto;
    background-color: #f2f2f2;
    min-height: 100vh;
}*/

.main1 {
  padding-top: 70px;
  // padding-left: 25%;
  // padding-right: 25%;
  margin: auto;
  background-color: #f2f2f2;
  min-height: 130vh;
}

.login_content1 {
  display: flex;
  justify-content: center;
}

p {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

/*RESPONSIVE*/

/* @media screen and (max-width: 970px) {
    .main1 {
        padding-top: 0;
    }
} */

/*768px*/

@media screen and (max-width: 1300px) {
  .main1 {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 415px) {
  .login_content1 {
    width: 85%;
  }
}

@media screen and (max-width: 1024px) {
  .main1 {
    // padding-top: 40%;
  }
}

.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: #00aeca;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 49px;
  gap: 10px;
  width: 100%;
  height: 52px;
  background: #00aeca;
  border-radius: 8px;
  color: #ffffff !important;
  font-weight: bold !important;
  margin: 20px 0px 0px 0px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 0.75em 0 0.75em;
  /* margin-top: -0.25em; */
  margin-left: 0.3em;
  position: relative;
}

.btn-disabled {
  pointer-events: none;
  opacity: .5;
}