.userInfo {
  margin-top: 15px;
  padding: 5px;
  height: auto;
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
}
.rgtBtn{
  border: 1px solid #ccc;
  top: -70px;
  z-index: 50;
  position: relative;
  right: -30px!important;
}

.spcTp{
  margin-top:-65px;
}

.inl{
  margin-top: -21px;
  margin-left: 55px;
}

.delBut {
  cursor: pointer;
  width: 100px;
  float: left;
  border: 1px solid #ff0000;
  padding: 10px;
  color:#ff0000;
  border-radius:6px;
  margin: 12px 0px 0px 12px;
}

.conTx{
font-weight:bold;
margin-top:5px;
}

.icSp{
  margin-top:5px;
}

.desCon{
  padding:10px;
  border-radius:6px;
  border:1px solid #0bb1cc;
  margin-bottom:10px;
}


.fntWgt {
  font-weight:bold;
  margin-right:25px;
}

.mgnBtm {
  margin-bottom: 20px;  
  background-color: #f7f7fa;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: -30px;
}


.mgnTp{
  margin-top:-30px;
}

.titlBg{
  font-size:17px;
  font-weight:600;
}

.btmSpc{
  margin-bottom: 150px;
}

table {
  width: 100%;
  /* margin: 0 25px 25px 25px; */
}

.tableSps{
  margin: 0px 20px 0px 20px;
}

.table-responsive {
  overflow-x: auto;
}

.tenant-checkbox {
  margin-right: 10px;
  align-self: center;
}

.table>:not(caption)>*>* {
  background-color: white !important;
}

.f-size{
  font-size:13px;
}

.share-view{
  width: 110px;
  text-align: right;
  border-width: thin;
  border-color: darkgray;
  border-radius: 3px;
  padding-left: 5px;
}
.number-view{
  width: 75px;
  border-right-width: thin;
  border-right-color: darkgray;
}
.percent-view{
  padding-left: 5px;
  width: 28px;
  background: #f6f6f6;
}
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

/* th {
  padding: 5px;
  font-size: 12px;
}

td {
  padding: 5px;
  font-size: 12px;
} */

.checkbox {
  margin-top: 5px;
}
