.userInfo {
  margin-top: 15px;
  padding: 5px;
  height: auto;
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
}

.fntWgt {
  font-weight:bold;
}

.mgnBtm {
  margin-bottom: 20px;  
  background-color: #f7f7fa;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: -30px;
}


.mgnTp{
  margin-top:-30px;
}

.titlBg{
  font-size:17px;
  font-weight:600;
}

.btmSpc{
  margin-bottom: 150px;
}

table {
  width: 100%;
  /* margin: 0 25px 25px 25px; */
}

.tableSps{
  margin: 0px 20px 0px 20px;
}

.mat-radio-group .mat-radio-button .mat-radio-label .mat-radio-label-content {
  font-weight: 400;
  font-size: 16px!important;
  line-height: 14px;
  color: #9A9AAF;
}

.mat-radio-group .mat-radio-checked .mat-radio-label .mat-radio-label-content {
  font-weight: 600!important;
  font-size: 16px!important;
  line-height: 14px!important;
  color: #ff0000!important;
}

.table-responsive {
  overflow-x: auto;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

/* th {
  padding: 5px;
  font-size: 12px;
}

td {
  padding: 5px;
  font-size: 12px;
} */

mat-form-field,
th,
thead,
tr,
td {
  padding: 5px;
  font-size: 10px;
  /* height: 10px; */
}

.invalid {
  border: 1px solid #f00;
}

.mat-accordion > .mat-expansion-panel-spacing:first-child {
  margin-top: 15px;
}

.mat-radio-button {
  margin-left: 16px;
}

.mat-expansion-panel-content > .mat-expansion-panel-body {
  height: 100vh;
}
