.userInfo {
  margin-top: 15px;
  padding: 5px;
  height: auto;
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
}

table {
  width: 100%;
  margin: 0 25px 25px 25px;
}

.table-responsive {
  overflow-x: auto;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

/* th {
  padding: 5px;
  font-size: 12px;
}

td {
  padding: 5px;
  font-size: 12px;
} */

mat-form-field,
th,
thead,
tr,
td {
  padding: 5px;
  font-size: 10px;
  height: 10px;
}

.invalid {
  border: 1px solid #f00;
}

.mat-accordion > .mat-expansion-panel-spacing:first-child {
  margin-top: 15px;
}

.mat-radio-button {
  margin-left: 16px;
}
