<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="content content_full">

  <div class="content__container">
    <div class="card" *ngIf="is_applied_clicked && party_list && party_list.length > 0" style="padding-top: 0px;">
        <div class="card__row">
            <div class="card__col-xs-12 card__col-sm-12">
                <app-attributes-filter  [selectItems]="filters_list" (sendValue)="onChangeAttrFilter($event)"></app-attributes-filter>
            </div>
        </div>
        
        <div class="card__row" style="margin-top: 0px;">    
            <div class="tab-panel items-tab card__col-xs-12">
                <div class="tab-panel__content tab-panel__content_visible">
                    <div class="table product__table">
                        <div class="table__row  table__row_header ">
                            <div class="table__cell table__cell_checkbox">                                    
                                <div class="input" style="opacity: 0">
                                    <input type="checkbox" class="input__checkbox">
                                    <label class="input__checkbox-control" for="select_item4" ></label>
                                </div>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-20">
                                <a class="table__sort-link">#</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-30">
                                <a class="table__sort-link">Trade Name</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-30">
                                <a class="table__sort-link">GST Number</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-30">
                                <a class="table__sort-link">Email</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-30">
                                <a class="table__sort-link">Phone</a>
                            </div>                                                                                        
                            <div class="table__cell product-row__cell-unit">
                            </div>
                        </div>


                        <div *ngFor="let item of (filterData); let p=index ">
                            <div class="table__row-item product-row" [class.table__row-disabled]="false">
                                <div class="table__row product-row__main-variant">
                                    <div class="table__cell table__cell_checkbox">
                                        <div class="input">
                                            <input type="checkbox" class="input__checkbox" [checked]="prods_check[p]">
                                            <label class="input__checkbox-control" for="select_item4" (click)="onSelectRecord(item,p)"></label>
                                        </div>
                                    </div>
                                   
                                    <div class="table__cell product-row__cell-stock flex-20">                                                
                                        {{p+1}}
                                    </div>
                                   
                                    <div class="table__cell product-row__cell-stock flex-30">                                                
                                        <app-input *ngIf="prods_check[p]" [label]="''" [type]="'text'" [name]="'Party Name'" [placeholder]="'Party name'" [value]="item.upartyName" (sendValue)="item.upartyName = $event"></app-input>
                                        <div *ngIf="!prods_check[p]">
                                          {{item.partyName | capitalizeFirst}}
                                        </div>
                                    </div>

                                    <div class="table__cell product-row__cell-stock flex-30">
                                        <app-input *ngIf="prods_check[p]" [label]="''" [type]="'text'" [name]="'Party Gstin'" [placeholder]="'Party Gstin'" [value]="item.partyGstin" [disabled]="true"></app-input>
                                        <div *ngIf="!prods_check[p]" (sendValue)="item.partyGstin = $event">
                                          {{item.partyGstin}}                                            
                                        </div>
                                    </div>

                                    <div class="table__cell product-row__cell-stock flex-30">
                                        <app-input *ngIf="prods_check[p]" [label]="''" [type]="'text'" [name]="'Party email'" [placeholder]="'Email'" [value]="item.upartyEmail" (sendValue)="item.upartyEmail = $event"></app-input>
                                        <div *ngIf="!prods_check[p]">
                                          {{item.partyEmail}}                                            
                                        </div>
                                    </div>

                                    <div class="table__cell product-row__cell-stock flex-30">
                                        <app-input *ngIf="prods_check[p]" [label]="''" [type]="'text'" [name]="'Phone'" [placeholder]="'Phone'" [value]="item.upartyPhone" (sendValue)="item.upartyPhone = $event"></app-input>
                                        <div *ngIf="!prods_check[p]">
                                          {{item.partyPhone}}
                                        </div>                                        
                                    </div>                                                                 
                                    
                                    <div class="table__cell product-row__cell-stock" style="text-align:center">
                                        <i class="fa fa-floppy-o" *ngIf="prods_check[p]" style="font-size:20px;cursor:pointer;" tooltip="Save" (click)="updatePartyDetail(item,p)"></i>
                                        <i class="fa fa-floppy-o" *ngIf="!prods_check[p]" style="font-size:20px; color:lightgrey;" tooltip="Save" readonly></i>
                                    </div>                                 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card" *ngIf="is_applied_clicked && (!party_list || party_list.length == 0)">
      <div class="card__row">
          <div class="card__col-xs-12" style="font-size: 20px;text-align: center;">
            No Data Available.
          </div>
      </div>
    </div>
    
  </div><!-- .content__container -->
</div><!-- .content -->