.card {
    border: 1px solid #E1E1E1;
}

.createBtn {
    background: #00AECA;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}


.customBg {
    background: inherit;

    .mat-form-field-outline {
        background: white;
    }
}

.btn {
    font-size: small;
}

.tbd-btn-clear {
    display: inline-block;
    margin: 18px;
    padding: 12px 15px;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    text-decoration: none;
    border-radius: 5px;
    transition-property: color, background-color;
    transition-duration: 0.25s;
    cursor: pointer;
    border: none;
    background-color: #EEFFE4;
    color: #494949;
    border: 1px solid #494949;
    width: auto;
}

.btnClr {
    background: #00aeca;
    border-radius: 5px;
    color: #ffffff;
    float: right;
}