<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div>
    <mat-accordion>
        <mat-expansion-panel class="color-panel accordion-border" [expanded]="true"
            style="display: contents !important;">
            <mat-expansion-panel-header>
                <div class="card__title" style="font-size: 20px;">Other Income</div>
            </mat-expansion-panel-header>
            <div>
                <div style="height: 100%; padding-top: 10px; box-sizing: border-box;">
                    <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham"
                        [gridOptions]="otherIncomeGridOptions" (rowClicked)="onOtherIncomeRowClicked($event)">
                    </ag-grid-angular>
                </div>
            </div>
            <div style="padding-top: 20px;">
                Quartely Break-up of Dividend Income

                <div class="card__row">
                    <div class="card__col-xs-12 card__col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Upto 15 June 2022</mat-label>
                            <input type="number" trim matInput placeholder="Upto 15 June 2022" name="quarter1"
                                [formControl]="dividendIncomes.controls['quarter1']" class="input-field" maxlength="50"
                                digitsOnly>
                        </mat-form-field>
                    </div>
                    <div class="card__col-xs-12 card__col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>16 June 2022 - 15 Sep 2022</mat-label>
                            <input type="number" trim matInput placeholder="16 June 2022 - 15 Sep 2022" name="quarter2"
                                [formControl]="dividendIncomes.controls['quarter2']" class="input-field" maxlength="50"
                                digitsOnly>
                        </mat-form-field>
                    </div>
                    <div class="card__col-xs-12 card__col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>16 Sep 2022 - 15 Dec 2022</mat-label>
                            <input type="number" trim matInput placeholder="16 Sep 2022 - 15 Dec 2022" name="quarter3"
                                [formControl]="dividendIncomes.controls['quarter3']" class="input-field" maxlength="50"
                                digitsOnly>
                        </mat-form-field>
                    </div>
                    <div class="card__col-xs-12 card__col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>16 Dec 2022 - 15 March 2022</mat-label>
                            <input type="number" trim matInput placeholder="16 Dec 2022 - 15 March 2022" name="quarter4"
                                [formControl]="dividendIncomes.controls['quarter4']" class="input-field" maxlength="50"
                                digitsOnly>
                        </mat-form-field>
                    </div>
                    <div class="card__col-xs-12 card__col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>16 March 2022 - 31 March 2022</mat-label>
                            <input type="number" trim matInput placeholder="16 March 2022 - 31 March 2022"
                                name="quarter5" [formControl]="dividendIncomes.controls['quarter5']" class="input-field"
                                maxlength="50" digitsOnly>
                        </mat-form-field>
                    </div>
                    <div class="card__col-xs-12 card__col-sm-6" style="padding-top: 20px;">
                        <label style="float: right;  font-size: 20px; ">Total: {{getTotal()}}</label>
                    </div>
                </div>

            </div>

            <div style="padding-top: 20px;">
                Family pension
                <div class="card__row">
                    <div class="card__col-xs-12 card__col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Family pension</mat-label>
                            <input type="number" trim matInput placeholder="Family pension" name="quarter1"
                                [formControl]="familyPension" class="input-field" maxlength="50" digitsOnly
                                (blur)="calFamPension()">
                        </mat-form-field>
                    </div>
                    <div class="card__col-xs-12 card__col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>(-) Deduction u/s 57(iia)</mat-label>
                            <input type="number" trim matInput name="quarter2" class="input-field"
                                [(ngModel)]="famPenDeduction" digitsOnly disabled>
                        </mat-form-field>
                    </div>
                    <div class="card__col-xs-12 card__col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Total Family Pension</mat-label>
                            <input type="number" trim matInput name="quarter3" class="input-field"
                                [(ngModel)]="totalFamPenDeduction" digitsOnly disabled>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div class="pull-right">
                <button class="tbd-btn" (click)="saveOtherIncome()">Save and Continue
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>