<div class="row">
<div class="col-sm-12"
  *ngIf="viewer !== 'DOC'"
  class="modal-photo-details__photo"
  [ngStyle]="{width: zoomContainerWidth+'px', height: zoomContainerHeight+'px'}"
  @fadeIn
>
  <lib-ngx-image-zoom
    [magnification]="0.2"
    [thumbImage]="docUrl"
    [fullImage]="docUrl"
    [enableLens]="true"
    [enableScrollZoom]="true"
  ></lib-ngx-image-zoom>
</div>

<div class="col-sm-12">
<ngx-doc-viewer *ngIf="viewer === 'DOC'" [url]="docUrl" viewer="google" style="width:100%;height:93vh;">
</ngx-doc-viewer>
</div>

<div class="col-sm-12" *ngIf="docUrl ===''" style="text-align: center;
    margin-top: -80vh;
    margin-bottom: 30vh;">
    Documents not uploaded/Selected
</div>
</div>
