<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div class="card">
  <div class="card__row">
    <div class="card__col-xs-10 card__col-sm-10" style="padding:10px; font-size: 18px;">
      Weather you were director in a company at any time during the previous year?
    </div>
    <div class="card__col-xs-2 card__col-sm-2 text-right">
      <mat-radio-group name="directorInCompany" (change)="ChangeDirectorStatus()"
        [(ngModel)]="ITR_JSON.systemFlags.directorInCompany">
        <mat-radio-button [value]="true" style="margin-left:0px;" labelPosition='before'>Yes
        </mat-radio-button> &nbsp;&nbsp;&nbsp;
        <mat-radio-button [value]="false" labelPosition='before'>No</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <br>
  <div style="text-align: right;" *ngIf="ITR_JSON.systemFlags.directorInCompany">
    <button class="tbd-btn-small" (click)="addDirectorDetails('Add director details','ADD',null)">Add &nbsp;&nbsp;
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  <div style="height: 100%; padding-top: 5px; box-sizing: border-box;" *ngIf="ITR_JSON.systemFlags.directorInCompany">
    <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham" [gridOptions]="directorGridOptions"
      (rowClicked)="onDirectorRowClicked($event)">
    </ag-grid-angular>
  </div>
  <br>
  <hr>
  <br>
  <div class="card__row">
    <div class="card__col-xs-10 card__col-sm-10" style="padding:10px; font-size: 18px;">
      Have you held unlisted equity shares at any time during the previous year
    </div>
    <div class="card__col-xs-2 card__col-sm-2 text-right">
      <mat-radio-group name="isUnlistedShares" (change)="ChangeSharesStatus()"
        [(ngModel)]="ITR_JSON.systemFlags.haveUnlistedShares">
        <mat-radio-button [value]="true" style="margin-left:0px;" labelPosition='before'>Yes
        </mat-radio-button> &nbsp;&nbsp;&nbsp;
        <mat-radio-button [value]="false" labelPosition='before'>No</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <br>
  <div style="text-align: right;" *ngIf="ITR_JSON.systemFlags.haveUnlistedShares">
    <button class="tbd-btn-small" (click)="addSharesDetails('Add unlisted shares details','ADD',null)">Add &nbsp;&nbsp;
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  <div style="height: 100%; padding-top: 5px; box-sizing: border-box;" *ngIf="ITR_JSON.systemFlags.haveUnlistedShares">
    <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham" [gridOptions]="sharesGridOptions"
      (rowClicked)="onSharesRowClicked($event)">
    </ag-grid-angular>
  </div>
</div>

<div class="footer__buttons clearfix">
  <button class="tbd-btn" (click)="saveProfile('NEXT')">Save and Continue
  </button>
</div>