<div class="row">
  <div class="col-sm-5">
    <label class="input__label" for="attr">Select attribute</label>
    <mat-form-field appearance="outline" class="custom-bg-new small-inp no-height ">
      <mat-select [(ngModel)]="searchKey" (selectionChange)="changeInput(); clearValue()">
        <mat-option *ngFor="let drop of searchParameter" [value]="drop.value">
          {{ drop.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-sm-6">
    <div class="input__label">Enter Value </div>
    <input type="text" class="select__box noBg" style="background-image:none" (change)="changeInput()"
      [formControl]="searchValue" />
    <div *ngIf="searchValue?.invalid && (searchValue?.dirty || searchValue?.touched)" class="errorMessage">
      <div *ngIf="searchValue.errors?.['required']">
        Please enter the field.
      </div>
      <div
        *ngIf="searchValue.errors?.['pattern'] || searchValue.errors?.['minlength'] || searchValue.errors?.['maxlength'] ">
        Please enter the proper value.
      </div>
    </div>
  </div>
</div>
