<!-- <div style="padding-bottom: 20px;
          margin-top: -15px;
          float: right;color: brown" *ngIf="data.mode === 'EDIT'">
  <p>Note: If you change the capital gain data your investment data for that capital gain will be lost.</p>
</div> -->
<!-- <div class="card__row">
  <div class="card__col-xs-12 card__col-sm-6">
    <mat-form-field class="input-field-width">
      <mat-select placeholder="Type of Asset" name="assestType" [formControl]="assetType"
        (selectionChange)="changeAssetType()" required>
        <mat-option *ngFor="let dropdown of assestTypesDropdown" [value]="dropdown.assetCode">
          {{ dropdown.assetName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="card__col-xs-12 card__col-sm-6" style="text-align:right" *ngIf="assetType.valid">
    <div class="top">
      <span class="text-style" *ngIf="!busyGain"> Gain Amount:
        {{this.utilsService.currencyFormatter(amount)}}</span>
      <span class="text-style" *ngIf="busyGain"> Calculating gain... <i class="fal fa-spinner fa-spin"></i></span>
    </div>
  </div>
</div> -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<form [formGroup]="immovableForm">
  <b>Add details of capital gain from Land / Building / Property?</b> <span style="float: right;"> Capital Gain Type:
    {{cgArrayElement.gainType}}</span>
  <br>
  <div class="card__row">
    <div class="card__col-lg-4">
      <mat-form-field>
        <input matInput [max]="maxPurchaseDate" formControlName="purchaseDate" name="purchaseDate"
          [matDatepicker]="purchaseDate" placeholder="Date of Acquisition"
          (dateChange)="calMinImproveDate(this.immovableForm.controls['purchaseDate'].value, this.immovableForm)"
          (dateInput)="calMinImproveDate(this.immovableForm.controls['purchaseDate'].value, this.immovableForm)"
          (blur)="calMinImproveDate(this.immovableForm.controls['purchaseDate'].value, this.immovableForm)" required>
        <mat-datepicker-toggle matSuffix [for]="purchaseDate"></mat-datepicker-toggle>
        <mat-datepicker #purchaseDate></mat-datepicker>
        <mat-error
          *ngIf="immovableForm.controls['purchaseDate'].hasError('matDatepickerMax') || immovableForm.controls['purchaseDate'].hasError('matDatepickerMin')">
          Invalid Date of Purchase</mat-error>
      </mat-form-field>
    </div>
    <div class="card__col-lg-4">
      <mat-form-field>
        <input matInput [min]="minSellDate" [max]="maxSellDate" formControlName="sellDate" name="sellDate"
          [matDatepicker]="sellDate" placeholder="Date of Sale"
          (dateChange)="calMaxPurchaseDate(this.immovableForm.controls['sellDate'].value,this.immovableForm)"
          (dateInput)="calMaxPurchaseDate(this.immovableForm.controls['sellDate'].value,this.immovableForm)"
          (blur)="calMaxPurchaseDate(this.immovableForm.controls['sellDate'].value,this.immovableForm)" required>
        <mat-datepicker-toggle matSuffix [for]="sellDate"></mat-datepicker-toggle>
        <mat-datepicker #sellDate></mat-datepicker>
        <mat-error
          *ngIf="immovableForm.controls['sellDate'].hasError('matDatepickerMax') || immovableForm.controls['sellDate'].hasError('matDatepickerMin')">
          Invalid Date of Sale</mat-error>
      </mat-form-field>
    </div>
    <div class="card__col-lg-4">
      <mat-form-field class="input-field-width">
        <!-- <mat-icon matPrefix> &#8377;</mat-icon> -->
        <input matInput currencyMask type="number" [pattern]="amountRegex" formControlName="purchaseCost"
          placeholder="Cost of Acquisition" name="purchaseCost" class="input-field" maxlength="14"
          (blur)="calculateCapitalGain(this.immovableForm,''); this.calculateIndexCost()"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          required>
        <mat-error *ngIf="immovableForm.controls['purchaseCost'].hasError('pattern')">Enter
          valid amount upto 2 decimal in case of shares.</mat-error>
      </mat-form-field>
    </div>




    <!-- <div class="card__col-lg-4">
      <mat-form-field>
        <input matInput type="text" formControlName="description" placeholder="Description" name="description"
          class="input-field" maxlength="100" (blur)="isUniqueDescription(this.immovableForm)" required>
      </mat-form-field>
      <mat-error *ngIf="duplicateDescription" class="itarium-mat-error">{{ErrorMsg}}</mat-error>

    </div> -->

    <!--  <div class="card__col-lg-4">
      <mat-form-field class="input-field-width">
        <input matInput currencyMask type="number" [pattern]="amountRegex" formControlName="sellValue"
          placeholder="Value As per Agreement" name="sellValue" class="input-field" maxlength="14"
          (blur)="calFullValue('HTML', this.immovableForm)"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          required>
        <mat-error *ngIf="immovableForm.controls['sellValue'].hasError('pattern')">Enter valid
          amount.</mat-error>
        <mat-error *ngIf="immovableForm.controls['sellValue'].hasError('min')">Enter amount
          greater than 0.</mat-error>
      </mat-form-field>
    </div> -->
    <!--  <div class="card__col-lg-4">
      <mat-form-field class="input-field-width">
        <input matInput currencyMask type="number" [pattern]="amountRegex" formControlName="stampDutyValue"
          placeholder="Stamp Duty Value" name="stampDutyValue" class="input-field" maxlength="14"
          (blur)="calFullValue('HTML', this.immovableForm)"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          required>
        <mat-error *ngIf="immovableForm.controls['stampDutyValue'].hasError('pattern')">Enter
          valid amount.</mat-error>
        <mat-error *ngIf="immovableForm.controls['stampDutyValue'].hasError('pattern')">Enter
          amount greater than 0.</mat-error>
      </mat-form-field>
    </div> -->
    <div class="card__col-lg-4">
      <mat-form-field class="input-field-width">
        <input input matInput currencyMask placeholder="Full Value of Sale Consideration" name="valueInConsideration"
          formControlName="valueInConsideration" required>
        <!-- (selectionChange)="calculateCapitalGain(this.immovableForm)" -->
        <!-- <mat-option *ngFor="let dropdown of fullValuesConsideration"
                                      [value]="dropdown.value">
                                      {{ dropdown.label }}
                                  </mat-option> -->
        <!-- </mat-select> -->
      </mat-form-field>
    </div>

    <div class="card__col-lg-4">
      <mat-form-field class="input-field-width">
        <input input matInput currencyMask placeholder="Cost of acquisition with indexation"
          name="indexCostOfAcquisition" formControlName="indexCostOfAcquisition" required [disabled]="true"
          style="cursor: not-allowed;">
      </mat-form-field>
    </div>

    <div class="card__col-lg-4">
      <mat-form-field class="input-field-width">
        <!-- <mat-icon matPrefix> &#8377;</mat-icon> -->
        <input matInput currencyMask type="number" [pattern]="amountRegex" formControlName="sellExpense"
          placeholder="Transfer Expenses" name="sellExpense" class="input-field" maxlength="14"
          (blur)="calculateCapitalGain(this.immovableForm,'')"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
        <mat-error *ngIf="immovableForm.controls['sellExpense'].hasError('pattern')">Enter
          valid amount upto 2 decimal in case of shares.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <br>
  <!-- <b>Purchase Details</b> -->
  <br>
  <!--  <div class="card__row">
    <div class="card__col-lg-4" *ngIf="cgArrayElement.gainType === 'LONG'">
      <mat-form-field class="input-field-width">
        <input matInput currencyMask type="number" formControlName="indexCostOfAcquisition"
          placeholder="Indexed Cost of Acquisition" name="indexCostOfAcquisition" class="input-field" [disabled]="true"
          style="cursor: not-allowed;">
      </mat-form-field>
    </div>
  </div> -->
  <hr>
  <div class="card__row">
    <div class="card__col-lg-10 card__col-md-10 card__col-sm-10 card__col-xm-10">
      <b>Add details of cost of improvements</b><!--  Do you made any improvements against this asset? -->
    </div>
    <div class="card__col-lg-2 card__col-md-2 card__col-sm-2 card__col-xm-2 text-right">
      <mat-radio-group name="isImprovements" (change)="haveImprovements(this.immovableForm)"
        [formControl]="isImprovements">
        <mat-radio-button [value]="true" style="margin-left:0px;" labelPosition='before'>Yes
        </mat-radio-button>
        <mat-radio-button [value]="false" labelPosition='before'>No</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered" *ngIf="isImprovements.value">
      <thead style="background:#eaeaea">
        <tr class="table-head" style="border-left: 1px solid #e0e0e0;border-right: 2px solid #f2f0f0;">
          <th class="text-center">No</th>
          <th class="text-center">Year Of Improvement</th>
          <th class="text-center">Cost Of Improvement</th>
          <th class="text-center">Index Cost Of Improvement</th>
          <th class="action-th ">
            <button mat-icon-button color="warn" class="table-add-remove-button text-left"
              (click)="addMoreImprovements(this.immovableForm)">
              <i class="fal fa-plus-square" aria-hidden="true"></i> Add
            </button>
          </th>
        </tr>
      </thead>
      <tbody formArrayName="improvement">
        <tr *ngFor="let improve of getImprovementsArrayForImmovable.controls;let i=index" [formGroupName]="i">
          <td> {{i+1}}</td>
          <td class="kids-name-td table-first-td">

            <mat-form-field class="input-field-width">
              <mat-select placeholder="Year of Improvement" name="improve[i]" formControlName="dateOfImprovement"
                (selectionChange)="isImprovementValid(this.immovableForm)" required>
                <mat-option [value]="year" *ngFor="let year of improvementYears"> {{year}} </mat-option>
              </mat-select>
            </mat-form-field>

            <!--  <mat-form-field class="input-field-width">
              <input matInput [min]="minImprovementDate" [max]="maxImprovementDate" formControlName="dateOfImprovement"
                name="improve[i]" [matDatepicker]="dateOfImprovement"
                (dateChange)="isImprovementValid(this.immovableForm)"
                (dateInput)="isImprovementValid(this.immovableForm)" (blur)="isImprovementValid(this.immovableForm)"
                required>
              <mat-datepicker-toggle matSuffix [for]="dateOfImprovement">
              </mat-datepicker-toggle>
              <mat-datepicker #dateOfImprovement></mat-datepicker>
            </mat-form-field> -->
          </td>

          <td class="kids-age-td">
            <mat-form-field class="input-field-width">
              <input matInput currencyMask type="number" [pattern]="amountRegex" formControlName="costOfImprovement"
                name="improve[i]" class="input-field" maxlength="14" (blur)="isImprovementValid(this.immovableForm)"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                required>
              <mat-error
                *ngIf="immovableForm.controls['improvement'].controls[i].controls['costOfImprovement'].hasError('pattern')">
                Enter
                valid amount.</mat-error>
            </mat-form-field>
          </td>
          <td class="kids-name-td table-first-td">
            <mat-form-field class="input-field-width">
              <input matInput class="input-field" name="improve[i]" formControlName="indexCostOfImprovement"
                maxlength="14" type="number" [disabled]>
            </mat-form-field>
          </td>

          <td class="action-th " style="white-space: nowrap;padding: 0%;border:none;justify-content: center;">
            <button mat-icon-button color="warn" class="table-add-remove-button text-left"
              (click)="removeImprovement(i,this.immovableForm)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>

  <div class="card__row">
    <div class="card__col-xs-12 card__col-sm-12">

      <div>
        <b>Add Deduction details </b>
        <button class="tbd-btn-small" style="text-align: right;" (click)="addInvestment('ADD','')">Add More&nbsp;&nbsp;
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div style="height: 100%; padding-top: 5px; box-sizing: border-box;">
        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham"
          [gridOptions]="investmentGridOptions" (rowClicked)="onInvestmentsRowClicked($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>
  <br>

  <b>Buyers details <i>(At least one Buyer detail is mandatory)</i></b>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead style="background:#eaeaea">
        <tr class="table-head" style="border-left: 1px solid #e0e0e0;border-right: 2px solid #f2f0f0;">
          <th class="text-center">No</th>
          <th class="text-center">Name</th>
          <th class="text-center">PAN</th>
          <th class="text-center">Aadhar</th>
          <th class="text-center">Shares (%)</th>
          <th class="text-center">Amount</th>
          <th class="text-center">Address</th>
          <th class="text-center">PIN</th>
          <th class="text-center">State</th>
          <th class="text-center">Country</th>
          <th class="action-th ">
            <button mat-icon-button color="warn" (click)="addMoreBuyersDetails()">
              <i class="fal fa-plus-square" aria-hidden="true"></i> Add
            </button>
          </th>
        </tr>
      </thead>
      <tbody formArrayName="buyersDetails">
        <tr *ngFor="let buyer of getBuyersDetailsArrayForImmovable.controls;let i=index" [formGroupName]="i">
          <td> {{i+1}}</td>
          <td class="kids-name-td table-first-td">
            <mat-form-field class="input-field-width">
              <input matInput formControlName="name" name="buyer[i]" class="input-field" maxlength="25" required>
              <mat-error
                *ngIf="immovableForm.controls['buyersDetails'].controls[i].controls['name'].hasError('pattern')">
                Enter valid name.</mat-error>
            </mat-form-field>
          </td>

          <td class="kids-age-td">
            <mat-form-field class="input-field-width">
              <input matInput formControlName="pan" name="buyer[i]" class="input-field" maxlength="10" required trim>
              <mat-error
                *ngIf="immovableForm.controls['buyersDetails'].controls[i].controls['pan'].hasError('pattern')">
                Enter valid PAN.</mat-error>
            </mat-form-field>
          </td>
          <td class="kids-age-td">
            <mat-form-field class="input-field-width">
              <input matInput formControlName="aadhar" name="buyer[i]" class="input-field" maxlength="12" trim>
            </mat-form-field>
          </td>
          <td class="kids-name-td table-first-td">
            <mat-form-field class="input-field-width">
              <input matInput class="input-field" name="buyer[i]" type="number" formControlName="share" maxlength="3"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeypress="event.charCode >= 48 && event.charCode <= 57" required>
              <mat-error
                *ngIf="immovableForm.controls['buyersDetails'].controls[i].controls['share'].hasError('pattern') || immovableForm.controls['buyersDetails'].controls[i].controls['share'].hasError('max')
                                              || immovableForm.controls['buyersDetails'].controls[i].controls['share'].hasError('min')">
                Shares cannot exceed 100%.</mat-error>
            </mat-form-field>
          </td>
          <td class="kids-name-td table-first-td">
            <mat-form-field class="input-field-width">
              <input matInput class="input-field" name="buyer[i]" formControlName="amount" maxlength="14" type="number"
                required>
              <mat-error
                *ngIf="immovableForm.controls['buyersDetails'].controls[i].controls['amount'].hasError('pattern')">
                Enter valid amount.</mat-error>
            </mat-form-field>
          </td>
          <td class="kids-name-td table-first-td">
            <mat-form-field class="input-field-width">
              <input matInput formControlName="address" name="buyer[i]" class="input-field" maxlength="25" required
                trim>
            </mat-form-field>
          </td>
          <td class="kids-name-td table-first-td">
            <mat-form-field class="input-field-width">
              <input matInput formControlName="pin" name="buyer[i]" class="input-field" maxlength="6" required>
              <mat-error
                *ngIf="immovableForm.controls['buyersDetails'].controls[i].controls['pin'].hasError('pattern')">
                Enter valid PIN code.</mat-error>
            </mat-form-field>
          </td>
          <td class="kids-name-td table-first-td">
            <mat-form-field class="input-field-width">
              <mat-select name="improve[i]" formControlName="state" required>
                <mat-option [value]="state.stateCode" *ngFor="let state of stateDropdown"> {{state.stateName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="kids-name-td table-first-td">
            <mat-form-field class="input-field-width">
              <mat-select name="improve[i]" formControlName="country" required>
                <mat-option value="91"> India </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="action-th " style="white-space: nowrap;padding: 0%;border:none;justify-content: center;">
            <button mat-icon-button color="warn" (click)="removeBuyersDetails(i)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <!--  <div class="row dialog-button">
          <div class="sub_btn top-space">
              <button type="submit" class="btn save" (click)="saveImmovableCG(this.immovableForm)"
                  [disabled]="saveBusy">{{saveBusy ? 'Saving...': 'Save'}}</button>
              <button class="btn cancel" (click)="dialogRef.close()">Cancel</button>
          </div>
      </div> -->
  <mat-dialog-actions align="center">
    <button class="tbd-btn" (click)="saveImmovableCG(this.immovableForm)" [disabled]="saveBusy">{{saveBusy ?
      'Saving...': 'Save'}}</button>
    <button type="submit" class="tbd-btn-secondary" (click)="cancelCgForm()">Cancel</button>
  </mat-dialog-actions>
</form>