<div class="confirmation_text">
    <div class="context">Dear <span class="clrBlue">{{loginSMEInfo?.name}}</span>, you have not
        registered your affiliate id with
        back office. This will help to assign your
        referred clients to you directly . </div>
    <div class="col-offset-1 col-10 id-input">
        <mat-form-field appearance="outline">
            <input matInput type="text" [formControl]="affiliateId" maxlength="100"
                placeholder="Enter your email id registered with affiliate system">
            <mat-error class="error-msg" *ngIf="affiliateId?.invalid && (affiliateId?.dirty || affiliateId?.touched)">
                <div *ngIf="affiliateId.errors?.['required']">
                    Please enter the affiliate Id.
                </div>
                <div *ngIf="affiliateId.errors?.['email']">
                    Enter the valid affiliateId.</div>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="modal-footer clearfix">
        <div class="pull-right">
            <button mat-raised-button [disabled]="affiliateId.invalid" color="primary" class="mr-10" (click)="closeDialog(true)">Submit</button>
            <button mat-raised-button color="warn" (click)="closeDialog(false)">Cancel</button>
        </div>

    </div>
    <div><b>If you have not registered as affiliate pls click here ( link to
            <a class="clrBlue" href="https://affiliate.taxbuddy.com/" target="_blank">https://affiliate.taxbuddy.com</a>
            ) </b>
    </div>
</div>