.disableInput{
    height: 40px;
    width: 200px;
    padding: 5px;
    margin-top: 6px;
    border: 1px solid grey;
    border-radius: 5px;
  }

  label{
      font-size: 9px;
      margin-left: 9px;
  }
  