<i class="fa fa-exclamation-triangle clrIcoF"></i>
<p class="failTx">Ooops! </p>
<hr>
<p class="pTxSu1">Due to unexpected error we are unable to e-file your IT return. We will get back
  to you shortly. Apologies for the inconvenience.</p>
<hr>

<p class="pTxSu1">For any other queries related to your e-filing, write to us at <a
    href="mailto:itrhelp@taxbuddy.com">itrhelp@taxbuddy.com</a></p>

<p class="pTxSu1">Team Taxbuddy</p>

<div class="pull-right">
  <button class="btn long-btn" style="border: none;" (click)="previousRoute()">Back To User List
  </button>
</div>