<div class="page-wrapper">

  <!-- left side bar start -->
  <aside class="aside-left">
    <div class="frameL">

      <div class="contents">
        <div class="field-text">Leader Dashboard</div>
      </div>
      <div class="div">
        <div class="text-wrapper">My Tasks</div>
        <img class="mingcute-down-fill" src="assets/img/new/up.png" />
      </div>
      <div class="div-2">
        <div class="field-text-wrapper">
          <div class="field-text">My Users</div>
        </div>
        <div class="field-text-wrapper">
          <div class="field-text-2">Scheduled Calls</div>
        </div>
        <div class="div-wrapper">
          <div class="text-wrapper">ITRs</div>
        </div>
        <div class="field-text-wrapper">
          <div class="field-text">Create User</div>
        </div>
        <div class="field-text-wrapper">
          <div class="field-text">Potential Users</div>
        </div>
      </div>
      <div class="contents">
        <div class="field-text">SME Management</div>
      </div>
      <div class="contents">
        <div class="field-text">Subscription</div>
      </div>
      <div class="contents">
        <div class="field-text">Invoice</div>
      </div>
      <div class="contents">
        <div class="field-text">Payouts</div>
      </div>
      <div class="contents">
        <div class="field-text">Bulk Status Update</div>
      </div>
      <div class="contents">
        <div class="field-text">All Users</div>
      </div>
      <div class="contents">
        <div class="field-text">Review</div>
      </div>
      <div class="contents">
        <div class="field-text">BO-Partners</div>
      </div>
      <div class="contents">
        <div class="field-text">Promo Codes</div>
      </div>
      <div class="contents">
        <div class="field-text">Academic Courses</div>
      </div>
    </div>
  </aside>
  <!-- left side bar ends -->
  <!-- main area -->
  <main>
    <!-- breadcrumb area -->
    <div class="breadcrumb">
      <div class="breadcrumb-item">Prefill Data</div>
      <div class="breadcrumb-item">Sources of Income</div>
      <div class="breadcrumb-item">Other Source of income</div>
    </div>
    <!-- breadcrumb area ends -->
    <div class="frameC">
      <h1 class="heading__title"> Personal Information:</h1>
      <div class="space">
        <div class="wrapper">
          <div class="accordion-item">
            <h2 class="accordion__item-title">Customer Profile</h2>
            <div class="accordion__item-body">
              <div class="div-6">
                <div class="form-field">
                  <div><span class="span">PAN Number </span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="CFGHT8143N">
                </div>
                <div class="form-field">
                  <div><span class="span">Mobile Number </span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="+91 | 9090909090">
                </div>
                <div class="form-field">
                  <div><span class="span">Email Address </span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="john@gmail.com">
                </div>
              </div>
              <div class="div-6">
                <div class="form-field">
                  <div> <span class="span">First Name</span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="John">
                </div>
                <div class="form-field">
                  <div><span class="span">Middle Name</span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="john">
                </div>
                <div class="form-field">
                  <div><span class="span">Last Name</span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="john">
                </div>
              </div>
              <div class="div-6">
                <div class="form-field">
                  <div><span class="span">Father's Name </span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="john">
                </div>
                <div class="form-field">
                  <div><span class="span">Residensial Status </span> <span class="text-wrapper-2">*</span></div>
                  <div class="form-control-wrapper select_arrow">
                    <select class="form-control inpplac " id="exampleFormControlSelect1">
                      <option>Select</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>
                <div class="form-field">
                  <div><span class="span">Employer Catagory </span> <span class="text-wrapper-2">*</span></div>
                  <div class="form-control-wrapper select_arrow">
                    <select class="form-control inpplac " id="exampleFormControlSelect1">
                      <option>Select</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="div-6">
                <div class="form-field">
                  <div><span class="span">Return Type </span> <span class="text-wrapper-2">*</span></div>
                  <div class="form-control-wrapper select_arrow">
                    <select class="form-control inpplac " id="exampleFormControlSelect1">
                      <option>Select</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>
                <div class="form-field">
                  <div><span class="span">Adhar Number</span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInput" aria-describedby="emailHelp"
                    placeholder="xxxxxxxxxx67">
                </div>
                <div class="form-field">
                  <div><span class="span">Adhar Enrollment ID</span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInput" aria-describedby="emailHelp"
                    placeholder="xxxxxxxxxx67">
                </div>
              </div>
              <div class="div-6">
                <div class="form-field">
                  <div><span class="span">Date Of Birth</span> <span class="text-wrapper-2">*</span></div>
                  <div class="form-control-wrapper datepicker">
                    <input type="text" class="form-control inpplac" placeholder="DD/MM/YYYY" id="exampleInputEmail1"
                      aria-describedby="emailHelp">
                  </div>
                </div>
                <div class="form-field">
                  <div><span class="span">Gender</span> <span class="text-wrapper-2">*</span></div>
                  <div class="radio_group">
                    <input type="radio" class="radio_input" value="Yes">Male
                    <input type="radio" class="radio_input" value="No">Female
                    <input type="radio" class="radio_input" value="No">Other
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item ">
            <h2 class="accordion__item-title">Personal Details</h2>
            <div class="accordion__item-body divider_border">
              <h3>Address Details</h3>
              <div class="div-6">
                <div class="form-field">
                  <div>
                    <span class="span">Pincode</span>
                  </div>
                  <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="123456">
                </div>
                <div class="form-field">
                  <div><span class="span">Select Country </span></div>
                  <div class="form-control-wrapper select_arrow">
                    <select class="form-control inpplac " id="exampleFormControlSelect1">
                      <option>Select</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>

                <div class="form-field">
                  <div><span class="span">Select State </span></div>
                  <div class="form-control-wrapper select_arrow">
                    <select class="form-control inpplac " id="exampleFormControlSelect1">
                      <option>Select</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>
                <div class="form-field">
                  <div><span class="span">City</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="">
                </div>
              </div>
              <div class="div-6">
                <div class="form-field">
                  <div><span class="span">Flat/Door/Block No.</span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInput" aria-describedby="emailHelp"
                    placeholder="">
                </div>
                <div class="form-field">
                  <div><span class="span">Premises name</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInput" aria-describedby="emailHelp"
                    placeholder="">
                </div>
                <div class="form-field">
                  <div><span class="span">Area/Locality </span> <span class="text-wrapper-2">*</span></div>
                  <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="">
                </div>
              </div>

            </div>
            <div class="accordion__item-body divider_border">
              <div class="div-11 mb-20">
                <h3>Bank Details</h3>
                <div class="frame-wrapper-3">
                  <button class="btn btn__default btn__add"> Add Bank</button>
                </div>
              </div>
              <div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead style="background: #eaeaea">
                      <tr class="table-head thead-light">
                        <th class="text-center">DELETE</th>
                        <th class="text-center">IFSC CODE*</th>
                        <th class="text-center">NAME OF BANK*</th>
                        <th class="text-center">ACCOUNT NUMBER*</th>
                        <th class="text-center">REFUND ACC.*</th>
                        <th class="text-center">ACTIONS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <input type="checkbox" />
                        </td>
                        <td>
                          <input type="text" placeholder="00223456" name="incomeValue[i]" maxlength="125" />
                        </td>
                        <td>
                          <input type="text" placeholder="BOB" maxlength="125" />
                        </td>
                        <td>
                          <input type="text" placeholder="1234567" maxlength="125" />
                        </td>
                        <td>
                          <input type="checkbox" />
                        </td>
                        <td>
                          <i class="fa-solid fa-trash-can"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion__item-body divider_border">
              <h3>Filing Section</h3>
              <div class="White_box">
                <div class="row mb-10">
                  <div class="col-10 ">
                    <p><span class="span"> Are you filing return of income under Seventh proviso to section 139(1) but
                        otherwise not required to
                        furnish return of income?</span></p>
                  </div>
                  <div class="col-2">
                    <div class="radio_group">
                      <input type="radio" class="radio_input" value="Yes">Yes
                      <input type="radio" class="radio_input" value="No">No
                    </div>
                  </div>
                </div>
              </div>

              <div class="White_box">
                <div class="row mb-10">
                  <div class="col-10 ">
                    <p><span class="span"> Has incurred expenditure of an amount or aggregate of the amounts exceeding 2
                        lakh rupees for himself or
                        any other person for travel to a foreign country</span></p>
                  </div>
                  <div class="col-2">
                    <div class="radio_group">
                      <input type="radio" class="radio_input" value="Yes">Yes
                      <input type="radio" class="radio_input" value="No">No
                    </div>
                  </div>
                </div>
              </div>

              <div class="White_box">
                <div class="row mb-10">
                  <div class="col-10 ">
                    <p><span class="span"> Has incurred expenditure of an amount or aggregate of the amounts exceeding 1
                        lakh rupees towards
                        consumption of electricity</span></p>
                  </div>
                  <div class="col-2">
                    <div class="radio_group">
                      <input type="radio" class="radio_input" value="Yes">Yes
                      <input type="radio" class="radio_input" value="No">No
                    </div>
                  </div>
                </div>
              </div>

              <div class="White_box">
                <div class="row mb-10">
                  <div class="col-10 ">
                    <p><span class="span"> Fulfils such other conditions as may be prescribed under Rule 12AB</span></p>
                  </div>
                  <div class="col-2">
                    <div class="radio_group">
                      <input type="radio" class="radio_input" value="Yes">Yes
                      <input type="radio" class="radio_input" value="No">No
                    </div>
                  </div>
                </div>
              </div>

              <div class="White_box">
                <div class="row mb-10">
                  <div class="col-10 ">
                    <p><span class="span">Has deposited an amount or aggregate of the amounts exceeding one crore rupees
                        in one or more current
                        accounts maintained with a banking company or a co-operative bank</span></p>
                  </div>
                  <div class="col-2">
                    <div class="radio_group">
                      <input type="radio" class="radio_input" value="Yes">Yes
                      <input type="radio" class="radio_input" value="No">No
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="accordion__item-body ">
              <h3>Accounting Information</h3>
              <div class="White_box">
                <div class="row mb-10">
                  <div class="col-10 ">
                    <p><span class="span">Are you liable to maintain accounts as per section 44AA?</span></p>
                  </div>
                  <div class="col-2">
                    <div class="radio_group">
                      <input type="radio" class="radio_input" value="Yes">Yes
                      <input type="radio" class="radio_input" value="No">No
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item ">
            <h2 class="accordion__item-title">Other Information</h2>
            <div class="accordion__item-body">
              <div class="gray_container">
                <div class="row mb-10">
                  <div class="col-10 ">
                    <p><span class="span">Whether you were director in a company at any time during the previous
                        year?</span></p>
                  </div>
                  <div class="col-2">
                    <div class="radio_group">
                      <input type="radio" class="radio_input" value="Yes">Yes
                      <input type="radio" class="radio_input" value="No">No
                    </div>
                  </div>
                </div>
                <div class="clearfix">
                  <button class="btn btn__default btn__add pull-right"> Add New Company</button>
                </div>
                <div class="White_box">
                  <div class="row">
                    <div class="col-10">
                      <input type="checkbox">
                    </div>
                    <div class="col-2">
                      <button class="btn btn__default btn__edit">Edit</button>
                    </div>
                  </div>
                  <div class="div-6 ">
                    <div class="form-field">
                      <div><span class="span">Name of Company </span> <span class="text-wrapper-2">*</span></div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Name of Company">
                    </div>
                    <div class="form-field">
                      <div><span class="span">Type of Company </span> <span class="text-wrapper-2">*</span></div>
                      <div class="form-control-wrapper select_arrow">
                        <select class="form-control inpplac " id="exampleFormControlSelect1">
                          <option>Select</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-field">
                      <div><span class="span">Pan of Company</span> </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Pan of Company">
                    </div>
                  </div>
                  <div class="div-6 ">
                    <div class="form-field">
                      <div><span class="span">Select Shares Type</span> <span class="text-wrapper-2">*</span></div>
                      <div class="form-control-wrapper select_arrow">
                        <select class="form-control inpplac " id="exampleFormControlSelect1">
                          <option>Select</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-field">
                      <div><span class="span">Director Identification Number(DIN)</span> </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Director Identification Number">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-10">
                      <button class="btn__primary"> <i class="fa-solid fa-trash-can"></i> Delete</button>
                    </div>
                    <div class="col-2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="gray_container ">
                <div class="row mb-10">
                  <div class="col-10 ">
                    <p><span class="span"> Have you held unlisted equity shares at any time during the previous
                        year?</span></p>
                  </div>
                  <div class="col-2">
                    <div class="radio_group">
                      <input type="radio" class="radio_input" value="Yes">Yes
                      <input type="radio" class="radio_input" value="No">No
                    </div>
                  </div>
                </div>
                <div class="clearfix">
                  <button class="btn btn__default btn__add pull-right"> Add unlisted Company</button>
                </div>
                <div class="White_box">
                  <div class="row">
                    <div class="col-10">
                      <input type="checkbox">
                    </div>
                    <div class="col-2">
                      <button class="btn btn__default btn__edit"> Edit</button>
                    </div>
                  </div>
                  <div class="div-6 ">
                    <div class="form-field">
                      <div><span class="span">Name of Company </span> <span class="text-wrapper-2">*</span></div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Name of Company">
                    </div>
                    <div class="form-field">
                      <div><span class="span">Type of Company </span> <span class="text-wrapper-2">*</span></div>
                      <div class="form-control-wrapper select_arrow">
                        <select class="form-control inpplac " id="exampleFormControlSelect1">
                          <option>Select</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-field">
                      <div><span class="span">Pan of Company</span></div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Pan of Company">
                    </div>
                  </div>
                  <div class="div-6 ">
                    <div class="form-field">
                      <div><span class="span">Opening no. of Shares</span> <span class="text-wrapper-2">*</span>
                      </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="no. of Shares">
                    </div>
                    <div class="form-field">
                      <div><span class="span">Opening Cost of acquisition </span><span class="text-wrapper-2">*</span>
                      </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Cost of acquisition">
                    </div>
                    <div class="form-field">
                      <div><span class="span">No. of shares aquired</span> <span class="text-wrapper-2">*</span>
                      </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="No. of shares">
                    </div>
                  </div>
                  <div class="div-6 ">
                    <div class="form-field">
                      <div><span class="span">Date of Purches</span> <span class="text-wrapper-2">*</span>
                      </div>
                      <div class="form-control-wrapper datepicker">
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="DD/MM/YYYY">
                      </div>
                    </div>
                    <div class="form-field">
                      <div><span class="span">Face value per share</span> <span class="text-wrapper-2">*</span>
                      </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Face value per">
                    </div>
                    <div class="form-field">
                      <div><span class="span">Issue price per share </span><span class="text-wrapper-2">*</span>
                      </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Issue price per share">
                    </div>
                  </div>

                  <div class="div-6 ">
                    <div class="form-field">
                      <div><span class="span">Purches Price per share</span> <span class="text-wrapper-2">*</span>
                      </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Purches Price per share">
                    </div>
                    <div class="form-field">
                      <div><span class="span">No. of shares transferred</span></div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="No. of shares">
                    </div>
                    <div class="form-field">
                      <div><span class="span">Sale consideration</span> </div>
                      <div class="form-control-wrapper datepicker">
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="Sale consideration">
                      </div>
                    </div>
                    
                  </div>
                  <div class="div-6 ">
                    <div class="form-field">
                      <div><span class="span">Closing no. of share </span><span class="text-wrapper-2">*</span>
                      </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Aadhaar number">
                    </div>
                    <div class="form-field">
                      <div><span class="span">Closing cost of aquisition</span> <span class="text-wrapper-2">*</span>
                      </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Aadhaar number">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-10">
                      <button class="btn__primary"> <i class="fa-solid fa-trash-can"></i> Delete</button>
                    </div>
                    <div class="col-2">
                    </div>
                  </div>
                </div>
              </div>

              <div class="gray_container ">
                <div class="row mb-10">
                  <div class="col-10 ">
                    <p><span class="span"> Whether you are Partner in firm ?</span></p>
                  </div>
                  <div class="col-2">
                    <div class="radio_group">
                      <input type="radio" class="radio_input" value="Yes">Yes
                      <input type="radio" class="radio_input" value="No">No
                    </div>
                  </div>
                </div>
                <div class="clearfix">
                  <button class="btn btn__default btn__add pull-right"> Add New Firm</button>
                </div>
                <div class="White_box">
                  <div class="row">
                    <div class="col-10">
                      <input type="checkbox">
                    </div>
                    <div class="col-2">
                      <button class="btn btn__default btn__edit">Edit</button>
                    </div>
                  </div>
                  <div class="div-6 ">
                    <div class="form-field">
                      <div><span class="span">Name of Firm </span> <span class="text-wrapper-2">*</span></div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Name of Firm">
                    </div>
                    <div class="form-field">
                      <div><span class="span">PAN of Firm </span> <span class="text-wrapper-2">*</span></div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="PAN">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-10">
                      <button class="btn__primary"> <i class="fa-solid fa-trash-can"></i> Delete</button>
                    </div>
                    <div class="col-2">
                    </div>
                  </div>
                </div>
              </div>

              <div class="gray_container ">
                <div class="row mb-10">
                  <div class="col-10 ">
                    <p><span class="span">Are you governed by the Portuguese Civil Code as per section 5A ?</span></p>
                  </div>
                  <div class="col-2">
                    <div class="radio_group">
                      <input type="radio" class="radio_input" value="Yes">Yes
                      <input type="radio" class="radio_input" value="No">No
                    </div>
                  </div>
                </div>

                <div class="White_box  ">
                  <div class="div-6 mb-20">
                    <div class="form-field">
                      <div><span class="span">Name of Spouse: </span> <span class="text-wrapper-2">*</span></div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Name of Spouse">
                    </div>
                    <div class="form-field">
                      <div><span class="span">PAN of the Spouse: </span> <span class="text-wrapper-2">*</span></div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="PAN">
                    </div>
                    <div class="form-field">
                      <div><span class="span">Aadhaar number of the spouse:</span> <span class="text-wrapper-2">*</span>
                      </div>
                      <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Aadhaar number">
                    </div>
                  </div>

                  <div class="row mb-10  divider_border">
                    <div class="col-10 ">
                      <p><span class="span">Whether books of accounts of a spouse are audited u/s 92E? or Whether your
                          spouse is a partner of a
                          firm whose accounts are required to be audited u/s 92E under this Act?</span></p>
                    </div>
                    <div class="col-2">
                      <div class="radio_group">
                        <input type="radio" class="radio_input" value="Yes">Yes
                        <input type="radio" class="radio_input" value="No">No
                      </div>
                    </div>
                  </div>

                  <div class="row mb-10 divider_border">
                    <div class="col-10 ">
                      <p><span class="span">Whether books of accounts of a spouse are audited u/s 44AB? or Whether your
                          spouse is a partner of a
                          firm whose accounts are required to be audited u/s 44AB under this Act?</span></p>
                    </div>
                    <div class="col-2">
                      <div class="radio_group">
                        <input type="radio" class="radio_input" value="Yes">Yes
                        <input type="radio" class="radio_input" value="No">No
                      </div>
                    </div>
                  </div>

                  <div class="gray_box">
                    <h2>1 .House Property</h2>
                    <div class="div-6 ">
                      <div class="form-field">
                        <div><span class="span">Receipts received under the head: </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                      <div class="form-field">
                        <div><span class="span">Amount apportioned in the hands of Spouse: </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                    </div>
                    <div class="div-6 ">
                      <div class="form-field">
                        <div><span class="span">Amount of TDS deducted on income: </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                      <div class="form-field">
                        <div><span class="span">TDS apportioned in the hands of Spouse: </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                    </div>
                  </div>

                  <div class="gray_box">
                    <h2>2 .Business or profession</h2>
                    <div class="div-6 ">
                      <div class="form-field">
                        <div><span class="span">Receipts received under the head : </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                      <div class="form-field">
                        <div><span class="span">Amount apportioned in the hands of Spouse: </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                    </div>
                    <div class="div-6 ">
                      <div class="form-field">
                        <div><span class="span">Amount of TDS deducted on income: </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                      <div class="form-field">
                        <div><span class="span">TDS apportioned in the hands of Spouse: </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                    </div>
                  </div>

                  <div class="gray_box">
                    <h2>3 .Capital Gain</h2>
                    <div class="div-6 ">
                      <div class="form-field">
                        <div><span class="span">Receipts received under the head : </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                      <div class="form-field">
                        <div><span class="span">Amount apportioned in the hands of Spouse : </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                    </div>
                    <div class="div-6 ">
                      <div class="form-field">
                        <div><span class="span">Amount of TDS deducted on income : </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                      <div class="form-field">
                        <div><span class="span">TDS apportioned in the hands of Spouse: </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                    </div>
                  </div>

                  <div class="gray_box ">
                    <h2>4 . Other sources</h2>
                    <div class="div-6 ">
                      <div class="form-field">
                        <div><span class="span">Receipts received under the head : </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                      <div class="form-field">
                        <div><span class="span">Amount apportioned in the hands of Spouse : </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                    </div>
                    <div class="div-6 ">
                      <div class="form-field">
                        <div><span class="span">Amount of TDS deducted on income : </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                      <div class="form-field">
                        <div><span class="span">TDS apportioned in the hands of Spouse: </span> <span
                            class="text-wrapper-2">*</span></div>
                        <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="0">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="out-box">
            <div class="box-left">
              <button class="btn btn__white">Back</button>
            </div>
            <div class="box-right">
              <button class="btn btn__primary">Save & View Summary</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- right side summary -->
  <aside class="aside-right">
    <button class="open-button" onclick="openForm()"><img class="icoSum" src="assets/img/new/summary.png">
      <div class="txAln">Show Summary</div>
    </button>
    <div class="form-popup" id="myForm">
      <div class="frameS">
        <div class="contents-wrapper">
          <h2 onclick="closeForm()" class="sidebar_item-title">Summary</h2>
        </div>
        <div class="space">
          <div class="div">
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2 hedTx">Particulars</div>
                <div class="field-label-3 hedTx">All Employers</div>
              </div>
            </div>

          </div>
          <div class="div">
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2">17 (1)</div>
                <div class="field-label-3">₹ 40,00,000</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2">17 (2)</div>
                <div class="field-label-3">₹0</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2">17 (3)</div>
                <div class="field-label-3">₹0</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2">Gross Salary</div>
                <div class="field-label-3">₹0</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2">Exemptions u/s 10</div>
                <div class="field-label-3">₹0</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-4">Net Salary</div>
                <div class="field-label-3">₹ 50,000</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-4">Deduction u/s 16</div>
                <div class="field-label-3">₹ 50,000</div>
              </div>
            </div>
          </div>
          <div class="div">
            <img class="img" src="img/line-2.svg" />
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2 hedTx">Taxable Salary</div>
                <div class="field-label-3 hedTx">₹ 39,50,000</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!-- right side summary ends-->
</div>
<!-- main area ends -->