.itarium-mat-error {
    font-style: italic;
    margin-top: -18px;
    text-align: right;
}

.text-style {
    background: #bdc3c7;
    font-weight: 600;
    padding: 10px;
}



.top {
    margin-top: 21px;
}

.invalid {
    border: 1px solid #f00;
}

.cfl-header {
    font-size: 14px;
    margin-top: 10px;
}

.btn-cfl {
    text-align: right;
}