<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
  <div class="align-items-center row">
    <div class="col-sm-10">
      <b style="font-size: 20px">All Users</b>
    </div>
  </div>
  <div class="card">
    <!-- Search for data -->
    <div class="card__row">
      <div class="card__col-xs-12 card__col-sm-12">
        <div class="filter__col card__col-sm-4 card__col-xs-12">
          <div class="input">
            <label class="input__label" for="attr">Select attribute</label>
            <select class="select__box ogp_select" (change)="clearValue()" #advanceSearchKey>
              <!-- <option value="fName">Search By : <i class="fa fa down_arrow"></i></option> -->
              <option *ngFor="let drop of searchMenus" class="un-select-list" [value]="drop.value">
                {{drop.name}}</option>
            </select>
          </div>
        </div>
        <div class="filter__col card__col-sm-4 card__col-xs-10">
          <div class="input">
            <label class="input__label" for="attr">Enter value</label>
            <div class="input__select">
              <input type="text" class="select__box ogp_select" style="background-image:none" [(ngModel)]="searchVal"
                name="searchVal" />
            </div>
          </div>
        </div>
        <div class="card__col-md-3 card__col-xs-12 pull-right">
          <a class="btn btn_stroke filter__add-link" (click)="advanceSearch(advanceSearchKey.value)"><i
              class="fa fa-search" aria-hidden="true" style="color: #2ed13b;"></i>&nbsp;Search</a>
        </div>
      </div>
    </div>

    <div class="card__row" style="margin-top: 0px;">
      <div class="tab-panel items-tab card__col-xs-12">
        <div class="tab-panel__content tab-panel__content_visible">
          <div class="table product__table">
            <div class="table__row  table__row_header ">
              <div class="table__cell product-row__cell-unit flex-10">
                <a class="table__sort-link">User Id</a>
              </div>
              <div class="table__cell product-row__cell-unit flex-20">
                <a class="table__sort-link">Name</a>
              </div>
              <div class="table__cell product-row__cell-unit flex-10">
                <a class="table__sort-link">Mobile</a>
              </div>
              <div class="table__cell product-row__cell-unit flex-15">
                <a class="table__sort-link">Email</a>
              </div>
              <div class="table__cell product-row__cell-unit flex-10">
                <a class="table__sort-link">PAN Number</a>
              </div>
              <div class="table__cell product-row__cell-unit flex-20">
                <a class="table__sort-link">Action</a>
              </div>
              <div class="table__cell product-row__cell-unit flex-15">
                <a class="table__sort-link">ITR</a>
              </div>
            </div>


            <div *ngFor="let item of user_data; let p=index ">
              <div class="table__row-item product-row" [class.table__row-disabled]="false">
                <div class="table__row product-row__main-variant"
                  [style.background-color]="currentUserId === item.userId ? '#ebffe7':''">
                  <div class="table__cell product-row__cell-stock flex-10">
                    {{item.userId}}
                  </div>
                  <div class="table__cell product-row__cell-stock flex-20">
                    {{item.fName + " " + item.lName}}
                  </div>
                  <div class="table__cell product-row__cell-stock flex-10">
                    {{item.mobileNumber}}
                  </div>
                  <div class="table__cell product-row__cell-stock flex-15">
                    {{item.emailAddress}}
                  </div>
                  <div class="table__cell product-row__cell-stock flex-10">
                    {{item.panNumber}}
                  </div>
                  <div class="table__cell product-row__cell-stock flex-20">
                    <button type="submit" class="btn" style="border: none;" (click)="startFiling(item)">Start
                      Filing</button>
                  </div>
                  <div class="table__cell product-row__cell-stock flex-15">
                    <button type="submit" class="btn" style="border: none;" (click)="itrActions(item)">ITR
                      Action</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>