<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<h1 mat-dialog-title>{{data.title}}</h1>

<form [formGroup]="filingCalenderForm">
    <mat-dialog-content>
        <table class="table">
            <thead style="background:#eaeaea">
                <tr class="table-head">
                    <th class="text-center font_for_table_header">Sr. No</th>
                    <th class="text-center font_for_table_header">Financial Year</th>
                    <th class="text-center font_for_table_header" *ngIf="this.data.serviceType === 'GST'">Month</th>
                    <th class="text-center font_for_table_header" *ngIf="this.data.serviceType === 'GST'">Year</th>
                    <th class="text-center font_for_table_header">Return</th>
                    <th class="text-center font_for_table_header">Frequency</th>
                    <th class="text-center font_for_table_header">Due Date</th>
                    <th class="text-center font_for_table_header">Filing Date</th>
                </tr>
            </thead>
            <tbody formArrayName="filingCalendar">
                <tr *ngFor="let ten of getFilingCalendarArray.controls;let i=index" [formGroupName]="i">
                    <td class="action-th">
                        {{i+1}}
                    </td>
                    <td class="">
                        <mat-form-field appearance="outline">
                            <mat-label>Financial Year</mat-label>
                            <mat-select matInput placeholder="" name="ten[i]" formControlName="financialYear"
                                autocomplete="off">
                                <mat-option *ngFor="let year of financialYear" [value]="year.financialYear">
                                    {{year.financialYear}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td class="" *ngIf="this.data.serviceType === 'GST'">
                        <mat-form-field appearance="outline">
                            <mat-label>Month</mat-label>
                            <mat-select matInput placeholder="" name="ten[i]" formControlName="month"
                                autocomplete="off">
                                <mat-option *ngFor="let month of monthsMaster" [value]="month.value">
                                    {{ month.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td class="" *ngIf="this.data.serviceType === 'GST'">
                        <mat-form-field appearance="outline">
                            <mat-label>Year</mat-label>
                            <mat-select matInput placeholder="" name="ten[i]" formControlName="year" autocomplete="off">
                                <mat-option value="2021"> 2021 </mat-option>
                                <mat-option value="2022"> 2022 </mat-option>
                                <mat-option value="2023"> 2023 </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td class="">
                        <mat-form-field appearance="outline">
                            <mat-label>Return Type</mat-label>
                            <mat-select matInput placeholder="" name="ten[i]" formControlName="returnType"
                                autocomplete="off">
                                <mat-option *ngFor="let returnType of returnTypeMaster" [value]="returnType.value">
                                    {{ returnType.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td class="">
                        <mat-form-field appearance="outline">
                            <mat-label>Frequency</mat-label>
                            <mat-select matInput placeholder="" name="ten[i]" formControlName="frequency"
                                autocomplete="off">
                                <mat-option *ngFor="let frequency of frequencyTypesMaster" [value]="frequency.value">
                                    {{ frequency.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td class="">
                        <mat-form-field appearance="outline">
                            <mat-label>Due Date</mat-label>
                            <input matInput placeholder="" formControlName="dueDate" [matDatepicker]="picker"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td class="">
                        <mat-form-field appearance="outline">
                            <mat-label>Filing Date</mat-label>
                            <input matInput placeholder="" [max]="maxFilingDate" formControlName="filingDate"
                                [matDatepicker]="picker2" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" style="margin-top: 0px;" (click)="saveFilingCalendar()"
            tabindex="1">Save</button>
        <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
    </mat-dialog-actions>
</form>