<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
  <div class="card">
    Total Count: <b>{{config.totalItems}}</b> <span style="float: right;"></span>
    <br>
    <div class="card__row" style="margin-top: 0px;">
      <div class="tab-panel items-tab card__col-xs-12">
        <div class="card__row">
          <table>
            <tr *ngFor="let item of interestedClientInfo | paginate:config"></tr>
          </table>

          <ag-grid-angular class="ag-theme-balham" [gridOptions]="interestedClientsGridOption"
            (rowClicked)="onInterestedClientsClicked($event)">
          </ag-grid-angular>

          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>