<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div class="spc-blw">
  <div class="com_model perBx">
    <div class="container card">
      <div style="padding: 10px; font-size: 20px">
        <span class="card__title">Comparison of New v/s Old Regime</span>
        <button *ngIf="!ITR_JSON.itrSummaryJson && this.ITR_JSON.isLate==='N'" type="button" (click)="downloadComparison()" class="comp-title"
          [disabled]="isIncomeMoreThan2Cr()">
          <i class="fas fa-download"></i></button>
        <button *ngIf="!ITR_JSON.itrSummaryJson && this.ITR_JSON.isLate==='N'" type="button" (click)="shareComparison()" class="comp-title"
          [disabled]="isIncomeMoreThan2Cr()">
          <i class="fa fa-paper-plane"></i></button>
      </div>
      <div class="cardRect">
        <table aria-label="comparison" class="table table-bordered">
          <thead style="background: #eaeaea">
            <tr class="table-head">
              <th class="text-center particular-label">Particulars</th>
              <th class="text-center particular-value">Old Tax Regime (₹)</th>
              <th class="text-center particular-value">New Tax Regime (₹)</th>
              <th *ngIf="this.PREV_ITR_JSON" class="text-center particular-value">Previous Year
                ({{this.PREV_ITR_JSON?.regime}} Regime) (₹)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let particular of particularsArray; let i = index">
              <td class="particular-label">
                {{ particular.label }}
              </td>
              <td class="text-center particular-value">
                {{ particular.old }}
              </td>
              <td class="text-center particular-value">
                {{ particular.new }}
              </td>
              <td *ngIf="this.PREV_ITR_JSON" class="text-center particular-value">
                {{ particular.py }}
              </td>
            </tr>
          </tbody>
        </table>

        <hr />

        <form [formGroup]="regimeSelectionForm" (ngSubmit)="gotoSummary()">
          <div class="card__row flex flex-col" *ngIf="!this.utilsService.isNonEmpty(this.ITR_JSON.itrSummaryJson)">
            <div class="card__col-xs-12 question-label" style="margin-bottom: 10px; background: #eaeaea">
              <strong> Tax Regime Selection </strong>
              <mat-label> Select the best suited Tax Regime </mat-label>
            </div>

            <div formGroupName="optionForCurrentAY" *ngIf="
                this.ITR_JSON.itrType === '1' || this.ITR_JSON.itrType === '4' || this.ITR_JSON.itrType === '2' || this.ITR_JSON.itrType === '3'
              ">
              <div class="card__row">
                <div class="card__col-xs-9 question-label">
                  1. Do you wish to exercise the option u/s 115 BAC(6) of Opting out of New tax regime ?
                </div>
                <div class="card__col-lg-2 card__col-md-2 card__col-sm-2 card__col-xm-2 text-right">
                  <mat-radio-group name="currentYearRegime" formControlName="currentYearRegime"
                    (change)="updateCurrentAYOptions()">
                    <mat-radio-button [value]="'NEW'" style="margin-left: 0px; margin-right: 2px"
                      labelPosition="before">
                      No
                    </mat-radio-button>
                    <mat-radio-button [value]="'OLD'" labelPosition="before">
                      Yes
                    </mat-radio-button>
                  </mat-radio-group>

                  <mat-error *ngIf="
                      regimeSelectionForm.controls['optionForCurrentAY']
                        .get('currentYearRegime')
                        .hasError('required') && submitted
                    ">
                    Please select an option to continue
                  </mat-error>
                </div>
              </div>
            </div>

            <div formGroupName="everOptedNewRegime" *ngIf="false">
              <div class="card__row">
                <div class="card__col-xs-9 question-label">
                  1. Have you ever opted for New Regimes in earlier Years
                </div>
                <div class="card__col-lg-2 card__col-md-2 card__col-sm-2 card__col-xm-2 text-right">
                  <mat-radio-group name="everOptedNewRegime" formControlName="everOptedNewRegime"
                    (change)="updateRegimeLabels()" required>
                    <mat-radio-button [value]="true" style="margin-left: 0px; margin-right: 2px"
                      labelPosition="before">Yes
                    </mat-radio-button>
                    <mat-radio-button [value]="false" labelPosition="before">No</mat-radio-button>
                  </mat-radio-group>
                  <mat-error *ngIf="
                      regimeSelectionForm.controls['everOptedNewRegime']
                        .get('everOptedNewRegime')
                        .hasError('required') &&
                      (this.ITR_JSON.itrType === '3' ||
                        this.ITR_JSON.itrType === '4') &&
                      submitted
                    ">
                    Please select an option to continue
                  </mat-error>
                </div>
              </div>
              <div class="card__row" *ngIf="
                  regimeSelectionForm.controls['everOptedNewRegime'].get(
                    'everOptedNewRegime'
                  ).value === true
                ">
                <div class="card__col-xs-4">
                  <mat-label class="option-label">Select Assessment Year :</mat-label>
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Assesment Year" required name="assessmentYear"
                      formControlName="assessmentYear" (selectionChange)="updateRegimeLabels()">
                      <mat-option *ngFor="let year of assesssmentYear" [value]="year.assesssmentYear">
                        {{ year.assesssmentYear }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="
                        regimeSelectionForm.controls['everOptedNewRegime']
                          .get('assessmentYear')
                          .hasError('required') || submitted
                      ">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="card__col-xs-4">
                  <mat-label class="option-label">Acknowledgement Number</mat-label>
                  <mat-form-field appearance="outline">
                    <input matInput maxlength="15" minlength="15"
                      (blur)="setFilingDate(regimeSelectionForm.controls['everOptedNewRegime'])"
                      name="acknowledgementNumber" formControlName="acknowledgementNumber"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      placeholder="Acknowledgement Number" digitsOnly
                      onkeypress=" event.charCode >= 48 && event.charCode <= 57" autocomplete="off" />
                    <mat-error *ngIf="
                        regimeSelectionForm.controls['everOptedNewRegime']
                          .get('acknowledgementNumber')
                          .hasError('required') || submitted
                      ">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="card__col-xs-4">
                  <mat-label class="option-label">Date:</mat-label>
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Date of filling" [max]="fillingMaxDate" readonly name="date"
                      formControlName="date" [matDatepicker]="picker1" autocomplete="off" />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="
                        regimeSelectionForm.controls['everOptedNewRegime']
                          .get('date')
                          .hasError('required') || submitted
                      ">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <hr />
            </div>

            <div formGroupName="everOptedOutOfNewRegime" *ngIf="false">
              <div class="card__row">
                <div class="card__col-xs-9 question-label">
                  2. Have you ever opted out of New Regime in earlier Years
                </div>
                <div class="card__col-lg-2 card__col-md-2 card__col-sm-2 card__col-xm-2 text-right">
                  <mat-radio-group name="everOptedOutOfNewRegime" formControlName="everOptedOutOfNewRegime"
                    (change)="updateRegimeLabels()" required>
                    <mat-radio-button [value]="true" style="margin-left: 0px; margin-right: 2px"
                      labelPosition="before">Yes
                    </mat-radio-button>
                    <mat-radio-button [value]="false" labelPosition="before">No</mat-radio-button>
                  </mat-radio-group>

                  <mat-error *ngIf="
                      regimeSelectionForm.controls['everOptedOutOfNewRegime']
                        .get('everOptedOutOfNewRegime')
                        .hasError('required') && submitted
                    ">
                    Please select an option to continue
                  </mat-error>
                </div>
              </div>
              <div class="card__row" *ngIf="
                  regimeSelectionForm.controls['everOptedOutOfNewRegime'].get(
                    'everOptedOutOfNewRegime'
                  ).value === true
                ">
                <div class="card__col-xs-4">
                  <mat-label class="option-label">
                    Select Assessment Year :
                  </mat-label>
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Assesment Year" required name="assessmentYear"
                      formControlName="assessmentYear">
                      <mat-option *ngFor="let year of assesssmentYear" [value]="year.assesssmentYear">
                        {{ year.assesssmentYear }}
                      </mat-option>
                    </mat-select>

                    <mat-error *ngIf="
                        regimeSelectionForm.controls['everOptedOutOfNewRegime']
                          .get('assessmentYear')
                          .hasError('required') || submitted
                      ">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="card__col-xs-4">
                  <mat-label class="option-label">Acknowledgement Number</mat-label>
                  <mat-form-field appearance="outline">
                    <input matInput maxlength="15" minlength="15"
                      (blur)="setFilingDate(regimeSelectionForm.controls['everOptedOutOfNewRegime'])"
                      name="acknowledgementNumber" formControlName="acknowledgementNumber"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      placeholder="Acknowledgement Number" digitsOnly
                      onkeypress=" event.charCode >= 48 && event.charCode <= 57" autocomplete="off" />

                    <mat-error *ngIf="
                        regimeSelectionForm.controls['everOptedOutOfNewRegime']
                          .get('acknowledgementNumber')
                          .hasError('required') || submitted
                      ">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="card__col-xs-4">
                  <mat-label class="option-label">Date:</mat-label>
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Date of filling" [max]="fillingMaxDate" readonly name="date"
                      formControlName="date" [matDatepicker]="picker1" autocomplete="off" />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>

                    <mat-error *ngIf="
                        regimeSelectionForm.controls['everOptedOutOfNewRegime']
                          .get('date')
                          .hasError('required') || submitted
                      ">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <hr />
            </div>

            <div formGroupName="optionForCurrentAY">
              <div class="card__row"
                *ngIf="(this.ITR_JSON.itrType === '4' || this.ITR_JSON.itrType === '3') && showCurrentAYOptions">
                <div class="card__col-xs-4">
                  <mat-label class="option-label">Acknowledgement Number</mat-label>
                  <mat-form-field appearance="outline">
                    <input matInput maxlength="15" minlength="15"
                      (blur)="setFilingDate(regimeSelectionForm.controls['optionForCurrentAY'])"
                      name="acknowledgementNumber" formControlName="acknowledgementNumber"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      placeholder="Acknowledgement Number" digitsOnly
                      onkeypress=" event.charCode >= 48 && event.charCode <= 57" autocomplete="off" />

                    <mat-error *ngIf="this.ITR_JSON.itrType === '4' ||
                        showCurrentAYOptions">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="card__col-xs-4">
                  <mat-label class="option-label">Date:</mat-label>
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Date of filling" [max]="fillingMaxDate" readonly name="date"
                      formControlName="date" [matDatepicker]="picker1" autocomplete="off" (dateChange)="updateRegimeLabels()"/>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="
                        this.itrType === '3' ||
                        this.itrType === '4' ||
                        showCurrentAYOptions
                      ">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </form>

        <form [formGroup]="summaryToolReliefsForm">
          <div class="card__row flex flex-col">
            <div class="card__col-xs-12 question-label" style="margin-bottom: 10px; background: #eaeaea">
              <strong> Tax Relief </strong>
            </div>

            <!-- Section 89 -->
            <div class="flex items-center" style="margin-bottom: 10px">
              <div class="card__col-xs-9 question-label">1. Section 89</div>
              <div class="card__col-xs-3">
                <mat-label>Section 89</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput name="section89" formControlName="section89" placeholder="Relief under section89"
                    digitsOnly />
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="
                summaryToolReliefsForm.get('section89').value &&
                summaryToolReliefsForm.get('section89').value !== '0'
              " class="flex" style="margin-left: auto">
              <div class="card__col-xs-6">
                <mat-label>Acknowledgement Number1</mat-label>
                <mat-form-field appearance="outline">
                  <input class="input-field" matInput name="acknowledgement" formControlName="acknowledgement89"
                    placeholder="Acknowledgement"
                    (blur)="setFilingDate(summaryToolReliefsForm,'acknowledgement89','acknowledgementDate89')"
                    maxlength="15" minlength="15" required />
                </mat-form-field>
                <mat-error *ngIf="
                    summaryToolReliefsForm
                      .get('acknowledgement89')
                      .hasError('required')
                  ">
                  In order to claim relief, please enter the required fields
                </mat-error>
                <mat-error *ngIf="
                    summaryToolReliefsForm
                      .get('acknowledgement89')
                      .hasError('pattern')
                  ">
                  Please enter only numbers
                </mat-error>
              </div>
              <div class="card__col-xs-6">
                <mat-label>Acknowledgement Date</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput name="acknowledgementDate" formControlName="acknowledgementDate89"
                    placeholder="Acknowledgement Date" required [matDatepicker]="picker1" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="
                    summaryToolReliefsForm
                      .get('acknowledgementDate89')
                      .hasError('required')
                  ">
                  In order to claim relief, please enter the required fields
                </mat-error>
              </div>
            </div>
            <hr />

            <!-- section 90  -->
            <div class="flex items-center">
              <div class="card__col-xs-9 question-label">
                2. Section 90 / 90A
              </div>
              <div class="card__col-xs-3">
                <mat-form-field appearance="outline">
                  <input matInput name="section90" formControlName="section90" placeholder="Relief under section90"
                    digitsOnly readonly />
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="
                summaryToolReliefsForm.get('section90').value &&
                summaryToolReliefsForm.get('section90').value !== '0'
              " class="flex" style="margin-left: auto">
              <div class="card__col-xs-6">
                <mat-label>Acknowledgement Number</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput class="input-field" name="acknowledgement" formControlName="acknowledgement90"
                    placeholder="Acknowledgement"
                    (blur)="setFilingDate(summaryToolReliefsForm,'acknowledgement90','acknowledgementDate90')"
                    maxlength="15" minlength="15" required />
                </mat-form-field>
                <mat-error *ngIf="
                    summaryToolReliefsForm
                      .get('acknowledgement90')
                      .hasError('required')
                  ">
                  In order to claim relief, please enter the required fields
                </mat-error>
                <mat-error *ngIf="
                    summaryToolReliefsForm
                      .get('acknowledgement90')
                      .hasError('pattern')
                  ">
                  Please enter only numbers
                </mat-error>
              </div>
              <div class="card__col-xs-6">
                <mat-label>Acknowledgement Date</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput name="acknowledgementDate" formControlName="acknowledgementDate90"
                    placeholder="Acknowledgement Date" required [matDatepicker]="picker1" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="
                    summaryToolReliefsForm
                      .get('acknowledgementDate90')
                      .hasError('required')
                  ">
                  In order to claim relief, please enter the required fields
                </mat-error>
              </div>
            </div>
            <hr />

            <!-- section 91  -->
            <div class="flex items-center">
              <div class="card__col-xs-9 question-label">3. Section 91</div>
              <div class="card__col-xs-3">
                <mat-form-field appearance="outline">
                  <input matInput name="section91" formControlName="section91" placeholder="Relief under section91"
                    digitsOnly readonly />
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="
                summaryToolReliefsForm.get('section91').value &&
                summaryToolReliefsForm.get('section91').value !== '0'
              " class="flex" style="margin-left: auto">
              <div class="card__col-xs-6">
                <mat-label>Acknowledgement Number</mat-label>
                <mat-form-field appearance="outline">
                  <input class="input-field" matInput name="acknowledgement" formControlName="acknowledgement91"
                    placeholder="Acknowledgement"
                    (blur)="setFilingDate(summaryToolReliefsForm,'acknowledgement91','acknowledgementDate91')"
                    maxlength="15" minlength="15" required />
                </mat-form-field>
                <mat-error *ngIf="
                    summaryToolReliefsForm
                      .get('acknowledgement91')
                      .hasError('required')
                  ">
                  In order to claim relief, please enter the required fields
                </mat-error>
                <mat-error *ngIf="
                    summaryToolReliefsForm
                      .get('acknowledgement91')
                      .hasError('pattern')
                  ">
                  Please enter only numbers
                </mat-error>
              </div>
              <div class="card__col-xs-6">
                <mat-label>Acknowledgement Date</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput name="acknowledgementDate" formControlName="acknowledgementDate91"
                    placeholder="Acknowledgement Date" required [matDatepicker]="picker1" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="
                    summaryToolReliefsForm
                      .get('acknowledgementDate91')
                      .hasError('required')
                  ">
                  In order to claim relief, please enter the required fields
                </mat-error>
              </div>
            </div>
            <hr />
          </div>
        </form>
        <div class="question-label" style="margin-bottom: 10px; padding: 5px; background: #eaeaea">
          <strong> Capital gain inter/Intra headset off and quarterwise bifurcation </strong>
          <mat-label><b>Note:</b> Calculations are according to the Old regime(by default) please select regime and save
            the page.<br>
            Come back again to check calculations according to the selected regime.</mat-label>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered" aria-label="Head of income">
            <thead style="text-align: center;">
              <tr class="table-head">
                <th id="head-of-income" rowspan="2" colspan="2" class="th-positon-relative">Head of income</th>
                <th id="income-current" rowspan="2">Income of<br> current year<br> (1)</th>
                <th id="long-term-loss" colspan="2">Long term loss of
                  the <br>current year set off</th>
                <th id="short-term-loss" colspan="2">Short Term loss of
                  the <br>current year set off</th>
                <th id="set-off" rowspan="2">Current year’s <br>Income remaining <br>after set off<br>
                  (6)= 1-2-3-4-5</th>
                <th id="head-of-set" colspan="2">Current Year's <br>Inter Head Set off<br>
                  (7)</th>
                <th id="loss-of-set" colspan="2">Past year's <br>losses to be set off<br>
                  (8)</th>
                <th id="taxable" rowspan="2">Taxable Income <br>after set off<br>
                  (9)=6-7(i)-7(ii)-8(i)-8(ii)
                </th>
              </tr>
              <tr class="table-head">
                <th id="ten-percentage">
                  10%<br>
                  (2)
                </th>
                <th id="twenty-percentage">
                  20%<br>
                  (3)
                </th>
                <th id="fifteen-percentage">
                  15%<br>
                  (4)
                </th>
                <th id="rate">
                  Applicable rate<br>
                  (5)
                </th>
                <th id="house-property">
                  House proprty<br>
                  (i)
                </th>
                <th id="business">
                  Busines and<br> profession
                  (ii)
                </th>
                <th id="long-term">
                  Long Term<br>(i)
                </th>
                <th id="short-te">
                  Short Term<br>(ii)
                </th>
              </tr>
            </thead>
            <tbody class="text-bold-center">
              <tr>
                <td colspan="2">Losses to be settoff
                </td>
                <td>
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLossSetOff.ltclSetOff10Per)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLossSetOff.ltclSetOff20Per)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLossSetOff.stclSetoff15Per)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLossSetOff.stclSetoffAppRate)}}
                </td>
                <td>
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.currentYearLossesSetoff?.totalCurrentYearHpLoss)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.currentYearLossesSetoff?.totalCurrentYearBusinessLoss)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(bfla.cgPastYearLossesSetoff.totalLTCGLoss)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(bfla.cgPastYearLossesSetoff.totalSTCGLoss)}}
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td rowspan="2">Long term
                </td>
                <td>10%
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLtcg10Per.currentYearIncome)}}
                </td>
                <td>NA
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLtcg10Per.ltclSetOff20Per)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLtcg10Per.stclSetoff15Per)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLtcg10Per.stclSetoffAppRate)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLtcg10Per.currentYearCapitalGain)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.currentYearLossesSetoff?.ltcg10PerCYLA.incomeCYLA.hpLossSetoff)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.currentYearLossesSetoff?.ltcg10PerCYLA.incomeCYLA.businessLossSetoff)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(bfla.cgPastYearLossesSetoff.ltcgSetoffWithLtcg10Per)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(bfla.cgPastYearLossesSetoff.stcgSetoffWithLtcg10Per)}}
                </td>
                <td>{{utilsService.currencyFormatter(bfla.cgTaxableIncomeAfterSetoff.ltcg10Per)}}
                </td>
              </tr>
              <tr>
                <td>20%
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLtcg20Per.currentYearIncome)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLtcg20Per.ltclSetOff10Per)}}
                </td>
                <td>NA
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLtcg20Per.stclSetoff15Per)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLtcg20Per.stclSetoffAppRate)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgLtcg20Per.currentYearCapitalGain)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.currentYearLossesSetoff?.ltcg20PerCYLA.incomeCYLA.hpLossSetoff)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.currentYearLossesSetoff?.ltcg20PerCYLA.incomeCYLA.businessLossSetoff)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(bfla.cgPastYearLossesSetoff.ltcgSetoffWithLtcg20Per)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(bfla.cgPastYearLossesSetoff.stcgSetoffWithLtcg20Per)}}
                </td>
                <td>{{utilsService.currencyFormatter(bfla.cgTaxableIncomeAfterSetoff.ltcg20Per)}}
                </td>
              </tr>
              <tr>
                <td rowspan="2">Short Term
                </td>
                <td>15%
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgStcg15Per.currentYearIncome)}}
                </td>
                <td>
                  0
                </td>
                <td>
                  0
                </td>
                <td>NA
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgStcg15Per.stclSetoffAppRate)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgStcg15Per.currentYearCapitalGain)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.currentYearLossesSetoff?.stcg15PerCYLA.incomeCYLA.hpLossSetoff)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.currentYearLossesSetoff?.stcg15PerCYLA.incomeCYLA.businessLossSetoff)}}
                </td>
                <td>NA
                </td>
                <td>
                  {{utilsService.currencyFormatter(bfla.cgPastYearLossesSetoff.stcg15Per)}}
                </td>
                <td>{{utilsService.currencyFormatter(bfla.cgTaxableIncomeAfterSetoff.stcg15Per)}}
                </td>
              </tr>
              <tr>
                <td>Applicable Rate
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgStcgAppRate.currentYearIncome)}}
                </td>
                <td>
                  0
                </td>
                <td>
                  0
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgStcgAppRate.stclSetoff15Per)}}
                </td>
                <td>NA
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.summaryIncome?.cgIncomeN?.cgCurrentYearLosses.cgStcgAppRate.currentYearCapitalGain)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.currentYearLossesSetoff?.stcgAppRateCYLA.incomeCYLA.hpLossSetoff)}}
                </td>
                <td>
                  {{utilsService.currencyFormatter(assessment.currentYearLossesSetoff?.stcgAppRateCYLA.incomeCYLA.businessLossSetoff)}}
                </td>
                <td>NA
                </td>
                <td>
                  {{utilsService.currencyFormatter(bfla.cgPastYearLossesSetoff.stcgAppRate)}}
                </td>
                <td>{{utilsService.currencyFormatter(bfla.cgTaxableIncomeAfterSetoff.stcgAppRate)}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />

        <div class="question-label" style="margin-bottom: 10px; padding: 5px; background: #eaeaea">
          <strong> Quarterwise breakup of column (9) </strong>
        </div>
        <table aria-label="quarterwise breakup" class="table table-bordered">
          <thead>
            <tr class="table-head">
              <th>Sr. No</th>
              <th>Type of Capital Gain</th>
              <th>Upto 15 Jun</th>
              <th>16 Jun -15 Sep</th>
              <th>16 Sep - 15 Dec</th>
              <th>16 Dec - 15 Mar</th>
              <th>16 Mar - 31 Mar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1
              </td>
              <td> Short-term capital gain at 15%
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.stcg15PerUpto15Jun)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.stcg15Per16JunTo15Sep)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.stcg15Per16SepTo15Dec)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.stcg15Per16DecTo15Mar)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.stcg15Per16MarTo31Mar)}}
              </td>
            </tr>
            <tr>
              <td>2
              </td>
              <td>Short-term capital gain at Applicable rate
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.stcgAppRateUpto15Jun)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.stcgAppRate16JunTo15Sep)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.stcgAppRate16SepTo15Dec)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.stcgAppRate16DecTo15Mar)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.stcgAppRate16MarTo31Mar)}}
              </td>
            </tr>
            <tr>
              <td>3
              </td>
              <td>Long Term Capital gain at 10%
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.ltcg10PerUpto15Jun)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.ltcg10Per16JunTo15Sep)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.ltcg10Per16SepTo15Dec)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.ltcg10Per16DecTo15Mar)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.ltcg10Per16MarTo31Mar)}}
              </td>
            </tr>
            <tr>
              <td>4
              </td>
              <td>Long Term Capital gain at 20%
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.ltcg20PerUpto15Jun)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.ltcg20Per16JunTo15Sep)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.ltcg20Per16SepTo15Dec)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.ltcg20Per16DecTo15Mar)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.ltcg20Per16MarTo31Mar)}}
              </td>
            </tr>
            <tr>
              <td>5
              </td>
              <td>VDA 30%
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.vda30PerUpto15Jun)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.vda30Per16JunTo15Sep)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.vda30Per16SepTo15Dec)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.vda30Per16DecTo15Mar)}}
              </td>
              <td>
                {{utilsService.currencyFormatter(cgQuarterWiseBreakUp.vda30Per16MarTo31Mar)}}
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
      </div>
    </div>
  </div>
</div>

<div class="flex justify-between p-[30px] back-foot">
  <button (click)="goBack()" class="lgtBtn">Back to Sources</button>
  <app-custom-button class="darkBtn" [disabled]="loading" [actions]="[gotoSummary]">
    <span class="adjust">Save & Next</span>
    <i class="material-icons icoAd">arrow_right_alt</i>
  </app-custom-button>

</div>
