.particular-label {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;

  color: #000000;
}
.particular-value {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  color: #000000;

}

.question-label {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 200%;
  /* identical to box height, or 38px */

  letter-spacing: -0.011em;

  color: #017486;

}

.option-label {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 120% */

  letter-spacing: -0.009em;

  /* Neutral/Neutral 1100 [day] */

  color: #07070C;

}
