
.card{
// position: absolute;
// width: 1138px;
// height: 126px;
// left: 278px;
// top: 203px;

// background: #F5F9FA;
border: 1px solid #E1E1E1;
}


.customBg{
  background: inherit;
  .mat-form-field-outline{
    background: white;
  }
}

