
<div class="push-notification-card">
    <div class="header">
        <div class="header-left">
            <i class="fas fa-comment message-icon"></i>
            <span class="title">Chat Notification</span>
        </div>
        <div class="header-right">
            <i class="fas fa-ellipsis-h menu-icon"></i>
            <i class="fas fa-times close-icon"></i>
        </div>
    </div>
    <div class="body">
        <div class="profile">
            <div class="profile-img">
                <img src="assets/images/profile.webp" alt="">
            </div>
            <div class="profile-info">
                <span class="name">Rizwan SSBA Pune</span>
            </div>
        </div>

    </div>
    <div class="unread-messages-container">
        <i class='fa fa-envelope'></i>
        <span class="unread-messages">2 unread messages</span>
    </div>
    

    <div class="footer">

        <input type="text" placeholder="Type a reply...">
        <button class="send-btn">Send</button>

    </div>
</div>