 .push-notification-card {
    display: flex;
    flex-direction: column; 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 357px; 
    height: 207px; 
    background-color: #F0F0F0	;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}
.header-left .message-icon {
    margin-right: 5px; 
}


.chat-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.title {
    font-weight: bold;
}

.header-right {
    display: flex;
}

.menu-icon {
    margin-right: 10px;
    cursor: pointer;
}

.close-icon {
    cursor: pointer;
}

.body {
    margin-top: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-img img {
    width: 57px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    flex-grow: 1;
}

.unread-messages {
    color: #999;
    margin-top: 10px; 
    text-align: center; 
    display: block; 
    margin-left: 6px;
}

.message-icon {
    margin-left: auto;
    font-size: 24px;
    cursor: pointer;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.send-btn {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}


.unread-messages-container {
    display: flex;
    align-items: center; 
    padding: 2px;
    margin-top: 58px;
}

.unread-messages-container i {
    margin-left: 84px; 
    margin-top: 13px;
}
