<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div class="row">
  <div *ngIf="data.mode === 'Update Status'">
    <h5>{{data.mode}} <span *ngIf="data.mode === 'Update Status'">for User : <span
          style="color: rgb(106, 123, 237);">{{this.data.clientName}}</span></span>

      <button style="float: right; color:#3E82CD; width: 24px;
      height: 24px;" mat-dialog-close tabindex="-1"><i class="fa fa-close"></i></button>
    </h5>
  </div>
  <div *ngIf="data.mode === 'Update Caller'">
    <h5>{{data.mode}}

      <button style="float: right ;color:#3E82CD;" mat-dialog-close tabindex="-1"><i class="fa fa-close"></i></button>
    </h5>
  </div>
</div>

<hr class="hrAdj">

<mat-dialog-content>
  <form [formGroup]="changeStatus">
    <div class="row">
      <div class="col-sm-6" *ngIf="data.mode === 'Update Status'">
        <div class="row">
          <div class="col-sm-6">
            <mat-label>Selected Service Type </mat-label>
            <mat-form-field appearance="outline">
              <input matInput [value]="this.data.serviceType" readonly />
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-label>Select Status *</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select Status" formControlName="selectStatus"
                [required]="data.mode === 'Update Status'">
                <mat-option *ngFor="let status of itrStatus" [value]="status.statusId"
                  [disabled]="!status.applicableServices.includes(this.data.serviceType)">
                  {{ status.statusName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="changeStatus.controls['selectStatus'].hasError('required')">Select status.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div *ngIf="data.mode === 'Update Caller'">
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Select Caller</mat-label>
            <mat-select placeholder="Select Agent" formControlName="callerAgentUserId"
              (selectionChange)="setCallerName()" [required]="data.mode === 'Update Caller'">
              <mat-option *ngFor="let item of callers" [value]="item.callerAgentUserId">
                {{ item.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="changeStatus.controls['callerAgentUserId'].hasError('required')">Select Caller Agent.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="col-sm-3">
        <button class="update-button-new" (click)="addStatus()" tabindex="1">{{data.mode}}</button>
      </div>
      <div class="col-sm-3" *ngIf="data.userInfo.statusId === 39">
        <button class="update-button-new" (click)="undoStatus()" tabindex="1">undo status</button>
      </div>
      <span class="note1 note" style="flex-basis: content;" *ngIf="data.userInfo.statusId === 39">
        Note - Status will be changed to previous saved status
      </span>
    </div>
  </form>
</mat-dialog-content>
