<i class="fa fa-clock clrIcoD"></i>
<p class="delyTx">There seems to be a delay in receiving confirmation of ITR-V</p>
<hr>
<p class="pTxSu1">But do not worry. We have submitted your Income Tax Return (ITR) to Income Tax
  Department. You will receive an acknowledgement number for the same.</p>
<hr>

<p class="pTxSu1">For any other queries related to your e-filing, write to us at <a
    href="mailto:itrhelp@taxbuddy.com">itrhelp@taxbuddy.com</a></p>

<p class="pTxSu1">Team Taxbuddy</p>

<div class="pull-right">
  <button class="btn long-btn" style="border: none;" (click)="previousRoute()">Back To User List
  </button>
</div>