/*new css 24062019*/
.delyTx{
    font-size: 28px;
        color: #a97718;
        margin: 0px 0px 0px 50px;
    }
    .clrIcoD {
        font-size: 36px;
        color: #a97718;
        margin-top: 3px;
        float: left;
    }
    .failTx {
        font-size: 28px;
        color: #c41113;
        margin: 0px 0px 0px 50px;
    }
    .succTx {
        font-size: 28px;
        color: #155a0d;
        margin: 0px 0px 0px 50px;
    }
    .clrIcoM {
        font-size: 36px;
        color: #155a0d;
        margin-top: 3px;
        float: left;
    }
    .clrIcoF {
        font-size: 36px;
        color: #C00003;
        margin-top: 3px;
        float: left;
    }
    .rdClr {
    color:#C00003;
    }
    .pTxSu1 {
        font-size: 19px;
        margin: 22px 0px 0px 50px; 
    width:90%;
    text-align: justify;
    }
    .pTxSu1 a {
        color: #067284;
    }
    hr {
    border-color: #dedede; 
    }
    /*new css ends 24062019*/
    