.conf-btn {
    justify-content: center !important;
}

.mt {
    margin-top: 25px !important;
}

.cancel {
    background: #c32222 !important;
    color: #fff !important;
}

.accept {
    background: green !important;
    color: #fff !important;
}