<div class="main clearfix" style="min-height: 0vh; padding-top: 0px;">
    <div class="tab">
        <ul class="tab__container clearfix">
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/tasks/assigned-users">My Users</a>
            </li>
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/tasks/filings">ITR's</a>
            </li>
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/tasks/schedule-call">Schedule Call</a>
            </li>
            <!-- <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/tasks/sign-up-exceptions">Sign Up-Exceptions</a>
            </li> -->
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/tasks/exceptions">Exceptions</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>