<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
    <div class="card">
        <app-service-board-search></app-service-board-search>
        <!-- <div class="card__row">
            <form [formGroup]="searchForm">
                <div class="card__col-xs-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Agent Id</mat-label>
                        <mat-select placeholder="Select Agent Id" formControlName="selectedAgentId" required>
                            <mat-option *ngFor="let agent of agentList" [value]="agent.value">
                                {{agent.label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="searchForm['controls'].selectedAgentId.hasError('required')">Select
                            Agent Id</mat-error>
                    </mat-form-field>
                </div>
                <div class="card__col-xs-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Financial Year</mat-label>
                        <mat-select placeholder="Select Financial Year" formControlName="selectedFyYear" required>
                            <mat-option *ngFor="let year of financialYear" [value]="year.financialYear">
                                {{year.financialYear}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="searchForm['controls'].selectedFyYear.hasError('required')">Select Financial
                            Year</mat-error>
                    </mat-form-field>
                </div>
                <div class="card__col-xs-4">
                    <button mat-raised-button color="primary" (click)="showDocUplodList()">Search</button>
                </div>
            </form>
        </div> -->
        <div class="card__row" style="margin-top: 0px;">
            <div class="tab-panel items-tab card__col-xs-12">
                <div class="tab-panel__content tab-panel__content_visible">
                    <div class="table product__table">
                        <div class="table__row  table__row_header ">
                            <!--  <div class="table__cell product-row__cell-unit flex-10">
                                <a class="table__sort-link">User Id</a>
                            </div> -->
                            <div class="table__cell product-row__cell-unit flex-15">
                                <a class="table__sort-link">Client Name</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-10">
                                <a class="table__sort-link">Mobile</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-15">
                                <a class="table__sort-link">Created Date</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-15">
                                <a class="table__sort-link">Status</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-10">
                                <a class="table__sort-link">Filer Name</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-10">
                                <a class="table__sort-link">ITR Type</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-10">
                                <a class="table__sort-link">Platform</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-15">
                                <a class="table__sort-link">Action</a>
                            </div>
                        </div>


                        <div *ngFor="let item of docUploadedList ; let p=index ">
                            <div class="table__row-item product-row">
                                <div class="table__row product-row__main-variant">
                                    <div class="table__cell product-row__cell-stock flex-15">
                                        {{item.sourceAsMap['FirstName'] +' '+ item.sourceAsMap['LastName']}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-10">
                                        {{item.sourceAsMap['Phone']}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-15">
                                        {{item.sourceAsMap['CreatedDate'] | date :'dd MMM yyyy, hh:mm a'}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-15">
                                        {{utilsService.isNonEmpty(item.sourceAsMap['itrStatusLatest']) ?
                                        (item.sourceAsMap['itrStatusLatest']['Date'] | date :'dd MMM yyyy, hh:mm
                                        a'):'NA'}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-10">
                                        {{getFilerName(item.sourceAsMap['Itr'])}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-10">
                                        {{utilsService.isNonEmpty(item.sourceAsMap['Itr']) ?
                                        item.sourceAsMap['Itr']['ItrType']:'NA'}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-10">
                                        {{item.sourceAsMap['InitialData'] ?
                                        item.sourceAsMap['InitialData']['Platform']:''}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-15">
                                        <button style="border: none; cursor: pointer;background: transparent;"
                                            (click)="startFiling(item.sourceAsMap)" title="Click to start Filing"><i
                                                class="fa fa-paperclip"
                                                style="color: green; font-size: 18px;"></i></button>
                                        | <button style="border: none; cursor: pointer;background: transparent;"
                                            (click)="goToKommunicate(item.sourceAsMap)"
                                            title="Click open kommunicate chat"><i class="fa fa-comments-o"
                                                style="color: green; font-size: 18px;"></i></button>
                                        <!--  | <button style="border: none; cursor: pointer;background: transparent;"
                                            (click)="addCallLogs(item.sourceAsMap)" title="Add call logs"><i
                                                class="fa fa-phone" style="font-size: 18px;"></i></button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn" style="border: none;"
                                [style.cursor]="this.page === 0 ? 'not-allowed':'pointer'" [disabled]="this.page === 0"
                                (click)="previous()">Previous</button>
                            <button class="btn" style="border: none; cursor: pointer;" (click)="next()">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>