<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div>
    <form [formGroup]="employerDetailsFormGroup">
        <mat-accordion>
            <mat-expansion-panel class="color-panel accordion-border" [expanded]="true"
                style="display: contents !important; padding: 0px !important;">
                <mat-expansion-panel-header>
                    <div class="card__title" style="font-size: 20px;">Salary Income: {{getSalaryTaxableIncome()}}</div>
                </mat-expansion-panel-header>

                <div class="content" style="width: 60%;padding-right: 10px;">
                    <app-document-upload (onUploadDoucument)="afterUploadDocs($event)"></app-document-upload>
                    <br>
                    <div>
                        <span *ngFor="let form16 of getAllForm16s('FORM_16'); let i=index">
                            <div style="padding: 5px; display: block; text-decoration:underline;">
                                <a *ngIf="!form16.isDeleted" href="javascript:;" (click)="getForm16Url(i)">{{form16.fileName}}</a>
                                <button *ngIf="!form16.isDeleted" (click)="deleteFile(form16.fileName)" style="float: right; margin-right: 80px;"><i class="fa fa-trash" aria-hidden="true"></i></button>   

                                <a *ngIf="form16.isDeleted" >{{form16.fileName}}</a> &nbsp;&nbsp;
                                <button *ngIf="form16.isDeleted" (click)="deletedFileInfo(form16.cloudFileId)" style="float: right;" title="Deleted file information"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                            </div>
                           
                        </span>

                        <div *ngIf="deletedFileData.length > 0" class="userInfo">
                            <button style="float: right; margin-bottom: 3px;" (click)="closeDialog()"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                            <table>
                                <tr>
                                    <th><b>Doc Deleted By</b></th>
                                    <th><b>Action</b></th>
                                    <th><b>Date</b></th>
                                </tr>
                                <tr *ngFor="let data of deletedFileData">
                                    <td>{{data.actionBy === ITR_JSON.userId ? 'User' : 'Tax Buddy'}}</td>
                                    <td>{{data.action}}</td>
                                    <td>{{data.date | date}}</td>
                                </tr>
                            </table>
                        </div> 
                    </div>
                    <br>
                    <br>
                    <br>
                    <ngx-image-zoom *ngIf="form16DocDetails.docType.toLowerCase() !== 'pdf' || form16DocDetails.docType.toLowerCase() !== 'xls' || form16DocDetails.docType.toLowerCase() !== 'doc' || form16DocDetails.docType.toLowerCase() !== 'xlsx' || form16DocDetails.docType.toLowerCase() !== 'docx'" [thumbImage]="form16DocDetails.docUrl"
                        [fullImage]="form16DocDetails.docUrl" [magnification]="1" [enableScrollZoom]="true"
                        [enableLens]="true" [lensWidth]="200">
                    </ngx-image-zoom>
                    <!-- <div *ngIf="form16DocDetails.docType.toLowerCase() === 'pdf' || form16DocDetails.docType.toLowerCase() === 'Pdf'">
                        <button ion-button (click)="incrementZoom(-0.1)">
                            -
                        </button>&nbsp;
                        <button ion-button (click)="incrementZoom(0.1)">
                            +
                        </button>
                        <pdf-viewer [src]="form16DocDetails.docUrl" [zoom]="zoom" [original-size]="true"
                            [autoresize]="true" [render-text]="true" style="display: block;height: 100%">
                        </pdf-viewer>
                    </div> -->

                    <ngx-doc-viewer *ngIf="form16DocDetails.docType.toLowerCase() === 'pdf' ||  form16DocDetails.docType.toLowerCase() === 'xls' || form16DocDetails.docType.toLowerCase() !== 'Pdf' || form16DocDetails.docType.toLowerCase() === 'doc' || form16DocDetails.docType.toLowerCase() === 'xlsx' || form16DocDetails.docType.toLowerCase() === 'docx'"
                         [url]="form16DocDetails.docUrl" viewer="google"  style="width:100%;height:93vh;">
                     </ngx-doc-viewer>

                    <div *ngIf="form16DocDetails.docUrl ===''">
                        Form 16 not uploaded/Selected
                    </div>
                </div>
                <div class="content" style="width: 40%;" *ngIf="salaryView === 'TABLE'">
                    <div>
                        <button class="btn long-btn" style="border: none;" (click)=" addEmployer(null)">Add Employer
                        </button>
                    </div>
                    <div style="height: 100%; padding-top: 10px; box-sizing: border-box;">
                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham"
                            [gridOptions]="employersGridOptions" (rowClicked)="onEmployerRowClicked($event)">
                        </ag-grid-angular>
                    </div>
                </div>
                <div class="content" style="width: 40%;" *ngIf="salaryView === 'FORM'">
                    <div class="card__title" style="padding:10px; font-size: 20px;">Employer Details</div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-8">
                            <mat-form-field appearance="outline">
                                <mat-label>Name of the employer</mat-label>
                                <input type="text" trim matInput placeholder="Name of the employer"
                                    name="NameOfEmployer" class="input-field" formControlName="employerName"
                                    maxlength="125">
                            </mat-form-field>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Employer TAN</mat-label>
                                <input type="text" trim
                                    matTooltip="Format should like this(e.g. XXXXNNNNNX) X indicate character and N indicates number."
                                    matTooltipClass="tab-tooltip" matTooltipPosition="above" matInput upperCase
                                    placeholder="TAN" name="TAN" class="input-field" formControlName="employerTAN"
                                    maxlength="10">
                                <mat-error *ngIf="employerDetailsFormGroup.controls['employerTAN'].hasError('pattern')">
                                    Enter
                                    valid TAN (e.g XXXX12345X)
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- <div class="card__col-xs-12 card__col-sm-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Employer PAN</mat-label>
                                <input type="text" trim
                                    matTooltip="Format should like this(e.g. XXXXXNNNNX) X indicate character and N indicates number."
                                    matTooltipClass="tab-tooltip" matTooltipPosition="above" class="input-field"
                                    upperCase matInput placeholder="PAN" name="PAN" formControlName="employerPAN"
                                    maxlength="10">
                                <mat-error *ngIf="employerDetailsFormGroup.controls['employerPAN'].hasError('pattern')">
                                    Enter valid PAN (e.g XXXXX1234X)
                                </mat-error>
                            </mat-form-field>
                        </div> -->

                    </div>
                    <!--  <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-8">
                            <mat-form-field appearance="outline">
                                <mat-label>Address of employer</mat-label>
                                <input type="text" trim matInput placeholder="Address of employer"
                                    name="AddressOfEmployer" class="input-field" formControlName="address"
                                    maxlength="200">
                            </mat-form-field>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Employer TAN</mat-label>
                                <input type="text" trim
                                    matTooltip="Format should like this(e.g. XXXXNNNNNX) X indicate character and N indicates number."
                                    matTooltipClass="tab-tooltip" matTooltipPosition="above" matInput upperCase
                                    placeholder="TAN" name="TAN" class="input-field" formControlName="employerTAN"
                                    maxlength="10">
                                <mat-error *ngIf="employerDetailsFormGroup.controls['employerTAN'].hasError('pattern')">
                                    Enter
                                    valid TAN (e.g XXXX12345X)
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div> -->
                    <hr>
                    <div class="card__title" style="padding:10px; font-size: 20px;">Salary Details</div>
                    <div style="height: 100%; padding-top: 10px; box-sizing: border-box;">
                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham"
                            [gridOptions]="salaryGridOptions" (rowClicked)="onSalaryRowClicked($event)">
                        </ag-grid-angular>
                    </div>
                    <hr>
                    <div class="card__title" style="padding:10px; font-size: 20px;">Exempt Allowance</div>
                    <div style="height: 100%; padding-top: 10px; box-sizing: border-box;">
                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham"
                            [gridOptions]="summaryAllowGridOptions" (rowClicked)="onSummaryAllowRowClicked($event)">
                        </ag-grid-angular>
                    </div>
                    <hr>
                    <div class="card__title" style="padding:10px; font-size: 20px;">Deductions u/s 16</div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Entertainment Allowance</mat-label>
                                <input type="number" trim matInput placeholder="Entertainment Allowance u/s 16(ii)"
                                    name="entertainmentAllow" class="input-field" formControlName="entertainmentAllow">
                            </mat-form-field>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Professional Tax</mat-label>
                                <input type="number" trim class="input-field" matInput
                                    placeholder="Professional Tax u/s 16(iii)" name="professionalTax"
                                    formControlName="professionalTax" maxlength="10">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-cancel" (click)="cancelEmployer()">Cancel</a>
                        <button class="btn long-btn" style="border: none;" (click)="saveEmployerDetails()">Save
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
</div>