.status-text{
  color:blueviolet;
  font-size: 14px;
  // font-style: bold;
}

.margin{
  margin-top: 2.188rem!important
}
.mvright{
  float: right!important;
}

.label-with-space {
  margin-right: 10px !important;
}


.btnUpdate{
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 9px;
  border-radius: 4px;
  background: #2D8EF9;
  color: #FFF;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
}


.spcAbv {
  margin-top: 47px!important;
}


