.status-text{
  color:blueviolet;
  font-size: 14px;
  // font-style: bold;
}

.margin{
  margin-top: 2.188rem!important
}
.mvright{
  float: right!important;
}

.label-with-space {
  margin-right: 10px !important;
}





