

.qrCode{
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
}

.linkCode{
    text-align: center;
    padding: 95px 5px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
}
