/*---------------------------
      Table of Contents
    -------------------------
    
    01- Global Styles
    02- Helper Classes
    03- Background & Colors
    04- Typography
    05- page title 
    06- Buttons
    07- Forms
    08- Tabs
    09- Icons
    10- Breadcrumb
    11- Pagination
    12- Lists
    13- Header & Navbar 
    14- Accordions
    15- Banners
    16- Dividers
    17- Footer
    
----------------------------*/


/*--------------------------
      Global Styles
---------------------------*/
html,
body {
    overflow-x: hidden;
}

html * {
    box-sizing: border-box;
}

body {
    background-color: $color-white;
    font-family: $font-body;
    font-size: $body-font-size;
    font-weight: 400;
    color: $color-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background-color: $color-theme;
    color: $color-white;
}

::placeholder {
    color: $color-body;
    opacity: 1;
    /* Firefox */
    font-family: $font-body;
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: $color-body;
    font-family: $font-body;
}

a {
    color: $color-theme;
    @include prefix(transition, color .3s ease, webkit moz ms o);

    &:hover {
        color: darken($color-theme, 20%);
        text-decoration: none;
    }
}

section {
    position: relative;
    padding: 100px 0;
}

img {
    max-width: 100%;
}

/*-------------------------
     RESET Default Styles
 --------------------------*/

*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

*,
:active,
:focus {
    outline: none;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
}

button,
button:focus,
.btn.focus,
.btn:focus,
.form-control,
.form-control:focus {
    outline: none;
    background-color: transparent;
    @include prefix(box-shadow, none, webkit moz ms o);
}

textarea {
    resize: none
}

select {
    background-color: transparent;
    display: block;
    content: "\f077";
    font-family: fontawesome;
}

main {
    width: 80% !important;
    padding: 0 30px;
}