/*---------------------
     VARIABLES
----------------------*/

/* Color Variables */

$color-theme: #3E82CD;
$color-body: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #242426;
$color-dark: #303030;
$color-gray: #f9f9f9;
$color-gray-body:#FCFCFC;
$color-breadcrumb_gray:#F1F1F1;
$color-form-element: #F3F3F3;
$color-radio-text: #092A4F;
$color-disabled: #D3D3D3;
$bgcolor-sidebutton: #BDD5F0;
$color-sidebutton: #124A5B;


$color-odd-row: #E2E4E5;
/* Font Variables */

$font-heading: "DM Sans", sans-serif;

$font-body: "DM Sans", sans-serif;

$body-font-size: 14px;

/* Accordian configs */

$accordian-border-color: #fefefe;
$accordian-header-bg-color: #DDEDFF;
$inner-accordian-header-bg-color: #F0F7FF;

$accordian-body-bg-color: $color-white;