.schedule-header {
    font-weight: 500;
    font-size: 21.2451px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #1E1E1E;
    margin-bottom: 11px;
}

.description {
    width: 95%;
}

.movable-assets {
    width: 100%;
}

.tds-on {
    display: inline-flex;
}

.isDeduction {
    font-weight: 500;
    font-size: 22px;
    color: #FF6B00;
}

.edit-assets {
    width: 50px;
}

.mb-16 {
    margin-bottom: 16px;
}

.financial-assets {
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    letter-spacing: -0.009em;
    color: #07070C;
}