.save-btn {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  float: right;
}



.chk {
  float:left;
  margin-top: 3px;
}

.lfTx{
  float:left;
  margin-left: -35px;
  margin-top: 3px;
}
.fig{
    margin-top: 3px;
    margin-right: 25px;
    float:right;
}

.btnArw {
  float: right;
    margin-right: -116px !important;
    margin-top: 6px !important;
}


.mv-rght{
  text-align:right;
}

.subTitle {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;

  text-align: right;
  letter-spacing: -0.022em;

  color: #1E1E1E;
}

.employerTitle {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 21.2451px;
  line-height: 150%;
  /* identical to box height, or 32px */

  letter-spacing: -0.022em;

  color: #1E1E1E;
}

.mat-expansion-panel-header-title {
  display: block;
  margin-right: 0px;
}


