<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div *ngIf="data.mode !== 'leaderAssignment'">
  <div style="font-size: 18px;
      font-weight: bold;">Bulk Re-Assignment For Filer </div><button style="float: right;" mat-dialog-close
    tabindex="-1" class="tbd-btn-close close"><i class="fa fa-times" aria-hidden="true"></i></button>
  <div class="row spsTp bdrTp">
    <div class="clo-sm-12">
      <span style="font-weight: bold; font-size: 16px;">Leader Name :
        {{data.data[0].leaderName }} </span>
    </div>

    <div class="col-sm-9 spsTp">
      <app-sme-list-drop-down #smeDropDown (sendLeader)="fromLeader($event)" [disableLeader]=true
        [selectedLeader]=data.data[0] (sendPrincipleIndividual)="fromPrinciple($event)"
        (sendFiler)="fromChild($event)"></app-sme-list-drop-down>
    </div>
    <div class="col-sm-3">
      <app-custom-button class="tbd-btn save-btn spsTp2" [actions]="[reAssignmentForFiler]">
        Re-Assignment
      </app-custom-button>
    </div>
  </div>
  <span class="loader-text" *ngIf="progressMessage">{{progressMessage}}</span>
  <span class="note1 note">
    Note :“Only those users will be reassign for which filer has the capabilities, others will be ignored”
  </span>

</div>

<ng-template #errorTableTemplate>
  <div class="error-table-container">
    <div class="row">
      <h4 matDialogTitle>Error Table:</h4>
    </div>
    <table aria-label="Error Table" class="error-table">
      <tr>
        <th>User Name</th>
        <th>Mobile No.</th>
        <th>Reason</th>
      </tr>
      <tr *ngFor="let item of errorData">
        <td>{{ item.userName }}</td>
        <td>{{ item.mobileNumber }}</td>
        <td>{{ item.reason }}</td>
      </tr>
    </table>
    <div style="text-align: center; margin-top: 10px;">
      <button class="tbd-btn" mat-dialog-close (click)="closeErrorTable()">OK</button>
    </div>
  </div>
</ng-template>

<div *ngIf="data.mode === 'leaderAssignment'">
  <div style="font-size: 18px;
    font-weight: bold;">Bulk Re-Assignment For Leader </div>
  <button style="float: right;" mat-dialog-close tabindex="-1" class="tbd-btn-close close"><i class="fa fa-times"
      aria-hidden="true"></i></button>

  <div class="row spsTp bdrTp">
    <div class="clo-sm-12">
      <span style="font-weight: bold; font-size: 16px;">Previous Leader Name : {{data.data[0].leaderName}} </span>
    </div>

    <div class="col-sm-9 spsTp" *ngIf="loggedInUserRoles.includes('ROLE_ADMIN')">
      <div class="col-sm-6" *ngIf="data.data[0].serviceType !== 'ITR'">
        <app-leader-list-dropdown #leaderDropDown (sendLeader)="fromLeader($event)"
          [showOwnerList]="true"></app-leader-list-dropdown>
      </div>
      <div *ngIf="data.data[0].serviceType === 'ITR'">
        <app-sme-list-drop-down #smeDropDown (sendLeader)="fromLeader($event)" [selectedLeader]=data.data[0]
          (sendPrincipleIndividual)="fromPrinciple($event)" (sendFiler)="fromChild($event)"></app-sme-list-drop-down>
      </div>
    </div>
    <div class="col-sm-9 spsTp" *ngIf="loggedInUserRoles.includes('ROLE_LEADER')">
      <div class="col-sm-6" *ngIf="data.data[0].serviceType !== 'ITR'">
        <app-leader-list-dropdown #leaderDropDown (sendLeader)="fromLeader($event)"
          [showOwnerList]="true"></app-leader-list-dropdown>
      </div>
      <div *ngIf="data.data[0].serviceType === 'ITR'">
        <app-sme-list-drop-down #smeDropDown (sendLeader)="fromLeader($event)" [showAllToLeader]=true
          (sendPrincipleIndividual)="fromPrinciple($event)" (sendFiler)="fromChild($event)"></app-sme-list-drop-down>
      </div>
    </div>
    <div class="col-sm-3">
      <app-custom-button class="tbd-btn save-btn spsTp2" [actions]="[reAssignmentForLeader]">
        Re-Assignment
      </app-custom-button>
    </div>
  </div>


</div>