<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<label style="font-size: 18px;
font-weight: bold;">Bulk Re-Assignment For Filer </label><button style="float: right;" mat-dialog-close tabindex="-1"
    class="tbd-btn-close close"><i class="fa fa-times" aria-hidden="true"></i></button>
<div class="row spsTp bdrTp">
    <!-- <div class="col-sm-12 ">
      <span class="note1" style="margin-left: 33%;;">
        Note : Invoice created User wont be re-assigned* to different filer
      </span>
    </div> -->
    <div class="clo-sm-12">
      <span style="font-weight: bold; font-size: 16px;">Leader Name : {{data.data[0].leaderName}} </span>
    </div>

    <div class="col-sm-9 spsTp">
      <app-sme-list-drop-down #smeDropDown (sendLeader)="fromLeader($event)" [disableLeader]= true [selectedLeader] =data.data[0]
      (sendPrincipleIndividual)="fromPrinciple($event)" (sendFiler)="fromChild($event)"></app-sme-list-drop-down>
    </div>
    <div class="col-sm-3">
        <button class="tbd-btn save-btn spsTp2" (click)="reAssignmentForFiler()" [disabled]="loading">Re-Assignment</button>
    </div>
</div>
<span class="loader-text" *ngIf="progressMessage">{{progressMessage}}</span>


<ng-template #errorTableTemplate>
  <div class="error-table-container">
    <div class="row">
      <h4 matDialogTitle>Error Table:</h4>
    </div>
    <table class="error-table">
      <tr>
        <th>User Name</th>
        <th>Reason</th>
      </tr>
      <tr *ngFor="let item of errorData">
        <td>{{ item.userName }}</td>
        <td>{{ item.reason }}</td>
      </tr>
    </table>
    <div style="text-align: center; margin-top: 10px;">
      <button class="tbd-btn" (click)="closeErrorTable()">OK</button>
    </div>
  </div>
</ng-template>

