<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
    <div class="card">
        <div class="card__row">

            <table>
                <tr>
                    <th><b>Call Date</b></th>
                    <th><b>Call Type</b></th>
                    <th><b>Agent Number</b></th>
                    <th><b>Customer Number</b></th>
                </tr>
                <tr>
                    <td *ngIf="knowlarityData.length === 0" colspan="5" style="text-align: center;"><b>No data available</b>
                    </td>
                </tr>
                <tr *ngFor="let item of knowlarityData">
                    <td>{{item.Event_Date_Local | date:'dd MMM yyyy, hh:mm a'}}</td>
                    <td>{{item.business_call_type}}</td>
                    <td>{{item.agent_number}}</td>
                    <td><a href="javascript:void(0)" (click)="showCustomerInfo(item.caller)">{{item.caller}}</a></td>
                </tr>
            </table>

        </div>
    </div>
</div> -->

<div class="main clearfix" style="min-height: 0vh; padding-top: 0px;">
    <div class="tab">
      <ul class="tab__container clearfix">
        <li class="tab__item" routerLinkActive="tab__item_active">
          <a class="tab__link" routerLink="/pages/dashboard/knowlarity/all">All</a>
        </li>
        <li class="tab__item" routerLinkActive="tab__item_active">
          <a class="tab__link" routerLink="/pages/dashboard/knowlarity/sme-wise">SME Wise</a>
        </li>
        <li class="tab__item" routerLinkActive="tab__item_active">
          <a class="tab__link" routerLink="/pages/dashboard/knowlarity/call-wise">Call Wise</a>
        </li>
      </ul>
    </div>
  </div>
  
  <router-outlet></router-outlet>