<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"
></ngx-loading>
<div class="spc-blw mrgArd">
  <form [formGroup]="investmentDeductionForm">
    <div class="card__row display-flex">
      <div class="col-sm-12 cardBdr">
        <div class="row">
          <div class="col-sm-10">Investment/Deduction Details:</div>
        </div>
        <div class="row grup">
          <div class="col-lg-6 spsTp">
            <mat-label>Under section 80C</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Under section 80C"
                formControlName="ELSS"
                maxlength="8"
                autocomplete="off"
                digitsOnly
              />
            </mat-form-field>
          </div>
          <div class="col-lg-6 spsTp">
            <mat-label>Under sec. 80CCC</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Under sec. 80CCC"
                formControlName="PENSION_FUND"
                maxlength="8"
                autocomplete="off"
                digitsOnly
              />
            </mat-form-field>
          </div>
          <div class="col-lg-6 spsTp">
            <mat-label>Under sec. 80CCD (1)</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Under sec. 80CCD (1)"
                formControlName="PS_EMPLOYEE"
                maxlength="8"
                autocomplete="off"
                digitsOnly
              />
            </mat-form-field>
          </div>
          <div class="col-lg-6 spsTp">
            <mat-label>Under sec. 80CCD (2)</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Under sec. 80CCD (2)"
                maxlength="8"
                formControlName="PS_EMPLOYER"
                autocomplete="off"
                digitsOnly
              />
            </mat-form-field>
          </div>
          <div class="col-lg-6 spsTp">
            <mat-label>Under sec. 80CCD (1B)</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Under sec. 80CCD (1B)"
                maxlength="8"
                formControlName="PENSION_SCHEME"
                autocomplete="off"
                digitsOnly
              />
            </mat-form-field>
          </div>

          <div class="col-lg-6 spsTp">
            <mat-label>Under sec. 80E</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Under sec. 80E"
                maxlength="8"
                formControlName="us80e"
                autocomplete="off"
                digitsOnly
              />
            </mat-form-field>
          </div>

          <div class="col-lg-6 spsTp" *ngIf="!ITR_JSON.systemFlags?.hraAvailed">
            <mat-label>Under sec. 80GG</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Under sec. 80GG"
                maxlength="8"
                formControlName="us80gg"
                autocomplete="off"
                digitsOnly
              />
            </mat-form-field>
          </div>
        </div>

        <div style="padding-top: 20px">
          <div class="row grup">
            <div class="col-lg-12">Other Deductions:</div>
            <div class="col-lg-8">
              <mat-label>Under sec. 80GGC</mat-label>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Under sec. 80GGC"
                  maxlength="8"
                  formControlName="us80ggc"
                  autocomplete="off"
                  digitsOnly
                />
                <mat-hint></mat-hint>
              </mat-form-field>
              <mat-label class="hinTx"
                >Non-cash donations are accepted</mat-label
              >
            </div>
            <div class="col-lg-4">
              <mat-label>Under sec. 80EEB</mat-label>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Under sec. 80EEB"
                  maxlength="8"
                  formControlName="us80eeb"
                  autocomplete="off"
                  digitsOnly
                />
                <mat-error
                  *ngIf="
                    investmentDeductionForm.controls['us80eeb'].hasError('max')
                  "
                >
                  Max limit is 1,50,000</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="space-in" *ngIf="false"></div>
      <div
        *ngIf="false"
        class="card card__col-sm-12 card__col-md-12 card__col-lg-6 card__col-xl-6"
      >
        <app-upload-doc [userId]="ITR_JSON.userId"></app-upload-doc>
      </div>
    </div>
  </form>

  <div class="card__row mb-2">
    <mat-accordion class="headers-align">
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon> arrow_forward_ios </mat-icon>
            General Donations under sec 80G
          </mat-panel-title>
          <div class="card__row edit clearfix isShow">
            <button
              type="button"
              class="edit_btn"
              (click)="$event.stopPropagation(); addDonation('donation')"
            >
              <i class="fa fa-plus"></i>Add
            </button>
          </div>
        </mat-expansion-panel-header>
        <app-donations
          #donationsComponentRef
          [isAddDonation]="isAddDonation"
          (save)="saveInvestmentDeductions()"
          (donationsSaved)="onDonationsSaved($event)"
        ></app-donations>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon> arrow_forward_ios </mat-icon>
            Medical Expenses (u/s 80D)
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-medical-expenses
          #medicalExpensesComponentRef
          (medicalExpensesSaved)="onMedicalExpensesSaved($event)"
        ></app-medical-expenses>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="flex justify-between p-[30px] back-foot">
    <button class="lgtBtn" (click)="goBack()">
      <mat-icon class="icoAdj">keyboard_backspace</mat-icon>
      <span class="font-semibold">&nbsp;Back to Main Page</span>
    </button>

    <button class="saveBtnIn" (click)="saveInvestmentDeductions()">
      <span class="font-semibold">Save All</span>
    </button>
  </div>
</div>
