<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div>
    <app-update-status [userId]="ITR_JSON.userId"></app-update-status>
    <hr>
    <div class="card__row">
        <div class="card__col-lg-6">
            <div class="card__title card__col-lg-8" style="padding:10px; font-size: 20px;">Investment/ Deduction Details
            </div>
            <div class="edit clearfix notes card__col-lg-2">
                <button class="edit_btn note" (click)="openNotesDialog()"><i class="fa fa-sticky-note-o fa-1x"
                        aria-hidden="true" style="color: green;"></i>Notes </button>
            </div>
        </div>
        <div class="card__col-lg-6"></div>
    </div>
    <form [formGroup]="investmentDeductionForm">
        <div class="card__row mb-2">
            <div class="card card__col-sm-12 card__col-md-12 card__col-lg-6 card__col-xl-6">
                <div class="card__title" style="padding:10px 0; font-size: 18px;">Investment/ Deduction</div>
                <div class="edit clearfix invest-edit">
                    <button class="edit_btn invest" (click)="editForm()"><mat-icon>
                            edit_square
                        </mat-icon>Edit </button>
                </div>
                <div class="card__row">
                    <div class="card__col-lg-6" *ngIf="ITR_JSON.regime === 'OLD'">
                        <mat-label>Under section 80C</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Under section 80C" formControlName="ELSS" maxlength="8"
                                autocomplete="off" digitsOnly>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-6" *ngIf="ITR_JSON.regime === 'OLD'">
                        <mat-label>Under section 80CCC</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Under section 80CCC" formControlName="PENSION_FUND"
                                maxlength="8" autocomplete="off" digitsOnly>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-6" *ngIf="ITR_JSON.regime === 'OLD'">
                        <mat-label>Under section 80CCD (1)</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Under section 80CCD (1)" formControlName="PS_EMPLOYEE"
                                maxlength="8" autocomplete="off" digitsOnly>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-6">
                        <mat-label>Under section 80CCD (2)</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Under section 80CCD (2)" maxlength="8"
                                formControlName="PS_EMPLOYER" autocomplete="off" digitsOnly>
                        </mat-form-field>
                    </div>
                    <div class="card__col-lg-6" *ngIf="ITR_JSON.regime === 'OLD'">
                        <mat-label>Under section 80CCD (1B)</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Under section 80CCD (1B)" maxlength="8"
                                formControlName="PENSION_SCHEME" autocomplete="off" digitsOnly>
                        </mat-form-field>
                    </div>

                    <div class="card__col-lg-6" *ngIf="ITR_JSON.regime === 'OLD'">
                        <mat-label>Under section 80E</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Under section 80E" maxlength="8" formControlName="us80e"
                                autocomplete="off" digitsOnly>
                        </mat-form-field>
                    </div>

                    <div class="card__col-lg-6" *ngIf="!ITR_JSON.systemFlags?.hraAvailed && ITR_JSON.regime === 'OLD'">
                        <mat-label>Under section 80GG</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Under section 80GG" maxlength="8" formControlName="us80gg"
                                autocomplete="off" digitsOnly>
                        </mat-form-field>
                    </div>
                </div>

                <div style="padding-top: 20px;">
                    Other Deductions
                    <div class="card__row">
                        <div class="card__col-lg-6">
                            <mat-label>Under section 80GGC</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Under section 80GGC" maxlength="8"
                                    formControlName="us80ggc" autocomplete="off" digitsOnly>
                                <mat-hint>Donation is in other than cash mode</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="card__col-lg-6">
                            <mat-label>Under section 80EEB</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Under section 80EEB" maxlength="8"
                                    formControlName="us80eeb" autocomplete="off" digitsOnly>
                                <mat-error *ngIf="investmentDeductionForm.controls['us80eeb'].hasError('max')">
                                    Max limit is 1,50,000</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="save_buttons clearfix">
                            <button class="tbd-btn save-btn" [disabled]="" (click)="saveProfile('NEXT')">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card__col-sm-12 card__col-md-12 card__col-lg-6 card__col-xl-6">
            </div>
        </div>
    </form>

    <!-- <hr> -->
    <mat-accordion class="headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" (closed)="closed()" hideToggle
            class="hide-close">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>
                        arrow_forward_ios
                    </mat-icon>
                    General Donations under sec 80G
                </mat-panel-title>
                <div class="card__row edit clearfix isShow">
                    <button class="edit_btn" (click)="$event.stopPropagation();editForm()"><mat-icon>
                            edit_square
                        </mat-icon>Edit </button>
                </div>
            </mat-expansion-panel-header>
            <a href="javascript:;" class="fR action_icon" title="Add"
                (click)="addDonation('Add General Donation','ADD','','OTHER')">
                <button type="button" class="tbd-btn-small">Add <i class="fa fa-plus"></i></button>
            </a>
            <div style="height: 100%; padding-top: 5px;padding-bottom: 15px; box-sizing: border-box;">
                <ag-grid-angular class="ag-theme-balham" [gridOptions]="DonationGridOptions"
                    (rowClicked)="onDonationRowClicked($event)">
                </ag-grid-angular>
            </div>
            <!-- <app-donations></app-donations> -->
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" (closed)="closed()" hideToggle
            class="hide-close">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>
                        arrow_forward_ios
                    </mat-icon>
                    Medical Expenses (u/s 80D) </mat-panel-title>
                <div class="card__row edit clearfix isShow">
                    <button class="edit_btn" (click)="$event.stopPropagation();editForm()"><mat-icon>
                            edit_square
                        </mat-icon>Edit </button>
                </div>
            </mat-expansion-panel-header>
            <app-medical-expenses></app-medical-expenses>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="pull-right">
        <button class="tbd-btn" (click)="saveInvestmentDeductions()">Save and Continue
        </button>
    </div>
</div>