<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
    <!-- <h1 style="font-size: 24px;"><b>Subscription Detail</b></h1>
    <br><br> -->

    <div class="card">
        <div class="card__row">
            <div class="card__col-lg-12">
                <div class="filter__col card__col-sm-4 card__col-xs-10">
                    <div class="input">
                        <label class="input__label" for="attr">Enter mobile number</label>
                        <div class="input__select">
                            <input type="number" class="select__box ogp_select" style="background-image:none"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="searchVal"
                                maxlength="10" name="searchVal" />
                        </div>
                    </div>
                </div>
                <div class="card__col-md-3 card__col-xs-12">
                    <a class="btn btn_stroke filter__add-link" (click)="advanceSearch()"><i class="fa fa-search"
                            aria-hidden="true" style="color: #2ed13b;"></i>&nbsp;Search</a>
                </div>
                <div class="card__col-md-3 card__col-xs-12 pull-right" *ngIf="selectedUserName">
                    <button class="btn" (click)="addSubscriptionPlan()">Create subscription</button>
                </div>
            </div><br><br>
        </div><br><br>
        <!--   <label>Showing results for: {{this.utilsService.isNonEmpty(this.searchVal) ? this.searchVal :
            'All Users'}} </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <label>Showing results for: {{this.utilsService.isNonEmpty(this.selectedUserName) ? selectedUserName :
            'All Users'}}</label>
        <span style="float: right;"> Total Count: <b>{{totalCount}}</b></span>
        <br>
        <div class="card__row">
            <app-main-subsciption [queryParam]="queryParam" from="ALL_SUB" (sendTotalCount)="fromSubscription($event)">
            </app-main-subsciption>
            <!---->
        </div>
    </div>
</div>