<form [formGroup]="salaryFormGroup">
  <div>
    <div class="out-4box">
      <div class="area-1">
        Salary as per section 17(1)
      </div>
      <div class="area-2">
        <mat-form-field appearance="outline" class="input-field-width">
          <input type="text" digitsOnly trim matInput placeholder="" formControlName="secOneTotal"
            class="form-control inpClr1" maxlength="125" (change)="formValuesChanged()"
            (beforeinput)="confirmChange($event, 'SEC17_1')" />
        </mat-form-field>
      </div>
    </div>
    <div class="scroll">
      <div>
        <div class="greyBox">
          <div class="row">
            <div class="col-6 section-title"> Salary as per section 17(1)</div>
          </div>
          <div class="row">
            <div formArrayName="salary">
              <div *ngFor="let item of salary['controls']; let i = index" [formGroupName]="i" class="row mb-2">
                <div class="col-5">
                  <mat-form-field appearance="outline" class="small-inp no-height">
                    <mat-select name="salaryType[i]" formControlName="salaryType"
                      (selectionChange)="changeSectionOne('salary');setDescriptionValidation('salary',item, false);formValuesChanged()">
                      <mat-option *ngFor="let name of salaryNames; let k = index" [value]="name.key"
                        [disabled]="(name.key != 'OTHER') ?name['disabled'] :false">{{ name.value
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4 input-filed">
                  <mat-form-field appearance="outline" class="small-inp no-height">
                    <input digitsOnly matInput name="taxableAmount[i]" formControlName="taxableAmount"
                      (change)="setDescriptionValidation('salary',item, true);formValuesChanged()" />
                  </mat-form-field>
                </div>
                <div class="col-3 addDeleteBtn">
                  <div class="deleteBtn" *ngIf="salary['controls'].length>1">
                    <button type="button" (click)="deleteItem('salary',i,item)"> <i class="fa fa-trash-o delbt"></i>
                    </button>
                  </div>
                  <div *ngIf="(salary['controls'].length-1) ===i">
                    <button type="button" class="addBtn" (click)="addItem('SEC17_1')" [disabled]="salary.invalid"> + Add
                      Another</button>
                  </div>
                  <div class="deleteBtn" *ngIf="shouldShowCalculator(item.value.salaryType)">
                    <button type="button" (click)="calculate(salary['controls'][i].value.salaryType)"> <i
                        class="fas fa-calculator"></i></button>
                  </div>
                </div>
                <div class="col-5 mt-2 input-filed" [style.display]="item.value.salaryType==='OTHER'? 'block':'none'">
                  <mat-form-field appearance="outline" class="small-inp no-height">
                    <input matInput name="description[i]" formControlName="description"
                      (change)="setDescriptionValidation('salary',item, true);formValuesChanged()"
                      [required]="item.value.salaryType==='OTHER' && item.value.taxableAmount > 0" />
                  </mat-form-field>
                  <mat-error *ngIf="item['controls']['description'].hasError('required')">Please enter the
                    description</mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="out-4box">
      <div class="area-1">
        Perquisites as per section 17(2)
      </div>
      <div class="area-2">
        <mat-form-field appearance="outline" class="input-field-width">
          <input type="text" digitsOnly trim matInput placeholder="" formControlName="secTwoTotal"
            class="form-control inpClr1" maxlength="125" (change)="formValuesChanged()"
            (beforeinput)="confirmChange($event, 'SEC17_2')" />
        </mat-form-field>
      </div>
    </div>
    <div class="scroll">
      <div>
        <div class="greyBox">
          <div class="row">
            <div class="col-6 section-title"> Perquisites as per section 17(2)</div>
          </div>
          <div class="row">
            <div formArrayName="perquisites">
              <div *ngFor="let item of perquisites['controls']; let i = index" [formGroupName]="i" class="row mb-2">
                <div class="col-5">
                  <mat-form-field appearance="outline" class="small-inp no-height">
                    <mat-select name="perquisiteType[i]" formControlName="perquisiteType"
                      (selectionChange)="changeSectionOne('perquisites');setDescriptionValidation('perquisites',item, false);formValuesChanged()">
                      <mat-option *ngFor="let name of perquisiteNames; let k = index" [value]="name.key"
                        [disabled]="(name.key != 'OTH_BENEFITS_AMENITIES') ?name['disabled'] :false">{{ name.value
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4 input-filed">
                  <mat-form-field appearance="outline" class="small-inp no-height">
                    <input digitsOnly matInput name="taxableAmount[i]" formControlName="taxableAmount"
                      (change)="setDescriptionValidation('perquisites',item, true);formValuesChanged()" />
                  </mat-form-field>
                </div>
                <div class="col-3 addDeleteBtn">
                  <div class="deleteBtn" *ngIf="perquisites['controls'].length>1">
                    <button type="button" (click)="deleteItem('perquisites',i,item)"> <i
                        class="fa fa-trash-o delbt"></i>
                    </button>
                  </div>
                  <div *ngIf="(perquisites['controls'].length - 1)===i">
                    <button type="button" class="addBtn" (click)="addItem('SEC17_2')" [disabled]="perquisites.invalid">
                      + Add
                      Another</button>

                  </div>
                </div>
                <div class="col-5 mt-2 input-filed"
                  [style.display]="item.value.perquisiteType==='OTH_BENEFITS_AMENITIES'? 'block':'none'">
                  <mat-form-field appearance="outline" class="small-inp no-height">
                    <input matInput name="description[i]" formControlName="description"
                      (change)="setDescriptionValidation('perquisites',item, true);formValuesChanged()"
                      [required]="item.value.perquisiteType==='OTH_BENEFITS_AMENITIES' && item.value.taxableAmount > 0" />
                  </mat-form-field>
                  <mat-error *ngIf="item['controls']['description'].hasError('required')">Please enter the
                    description</mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="out-4box">
      <div class="area-1">
        Profit in lieu of salary as per section 17(3) </div>
      <div class="area-2">
        <mat-form-field appearance="outline" class="input-field-width">
          <input type="text" digitsOnly trim matInput placeholder="" formControlName="secThreeTotal"
            class="form-control inpClr1" maxlength="125" (change)="formValuesChanged()"
            (beforeinput)="confirmChange($event, 'SEC17_3')" />
        </mat-form-field>
      </div>
    </div>
    <div class="scroll">
      <div>
        <div class="greyBox">
          <div class="row">
            <div class="col-6 section-title"> Profit in lieu of salary as per section 17(3)</div>
          </div>
          <div class="row">
            <div formArrayName="profitsInLieu">
              <div *ngFor="let item of profitsInLieu['controls']; let i = index" [formGroupName]="i" class="row mb-2">
                <div class="col-5">
                  <mat-form-field appearance="outline" class="small-inp no-height">
                    <mat-select name="salaryType[i]" formControlName="salaryType"
                      (selectionChange)="changeSectionOne('profitsInLieu');setDescriptionValidation('profitsInLieu',item, false);formValuesChanged()">
                      <mat-option *ngFor="let name of profitInLieuNames; let k = index" [value]="name.key"
                        [disabled]="(name.key != 'ANY_OTHER') ?name['disabled'] :false">{{
                        name.value
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4 input-filed">
                  <mat-form-field appearance="outline" class="small-inp no-height">
                    <input digitsOnly matInput name="taxableAmount[i]" formControlName="taxableAmount"
                      (change)="setDescriptionValidation('profitsInLieu',item, true);formValuesChanged()" />
                  </mat-form-field>
                </div>
                <div class="col-3 addDeleteBtn">
                  <div class="deleteBtn" *ngIf="profitsInLieu['controls'].length>1">
                    <button type="button" (click)="deleteItem('profitsInLieu',i,item)"> <i
                        class="fa fa-trash-o delbt"></i>
                    </button>
                  </div>
                  <div *ngIf="(profitsInLieu['controls'].length - 1)===i">
                    <button type="button" class="addBtn" (click)="addItem('SEC17_3')"
                      [disabled]="profitsInLieu.invalid"> + Add
                      Another</button>
                  </div>
                </div>
                <div class="col-5 mt-2 input-filed"
                  [style.display]="item.value.salaryType==='ANY_OTHER'? 'block':'none'">
                  <mat-form-field appearance="outline" class="small-inp no-height">
                    <input matInput name="description[i]" formControlName="description"
                      (change)="setDescriptionValidation('profitsInLieu',item, true);formValuesChanged()"
                      [required]="item.value.salaryType==='ANY_OTHER' && item.value.taxableAmount > 0" />
                  </mat-form-field>
                  <mat-error *ngIf="item['controls']['description'].hasError('required')">Please enter the
                    description</mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>