<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="content" style="margin-top: 30px;width: 40%">
  <div class="content__container">
    <div class="invoice_images card card_main" style="position: relative;">
      <ngx-loading [show]="imageLoader"></ngx-loading>
      <div class="card__row">
        <div class="wrapper" style="padding-top: 0;position: relative;"
          *ngIf="invoiceData.creditDebitNoteDTO.s3InvoiceImageUrl && !isEditInvoiceImage">
          <div class="container">
            <!-- <div class="card__col-xs-12 card__col-sm-12">
                          <div class="image" >
                              <img src="{{invoiceData.creditDebitNoteDTO.s3InvoiceImageUrl}}" alt="" class="image__item" [style.opacity]="(invoiceData.creditDebitNoteDTO.s3InvoiceImageUrl) ? '1' : '0'">
                          </div>
                          <div class="edit-invoice-image">
                            <div (click)="isEditInvoiceImage=true"><i class="fa fa-edit"></i></div>
                          </div>
                      </div> -->
            <div class="card__col-xs-12 card__col-sm-12">
              <div class="verifyPopupImg" *ngIf="fileType !== 'pdf'">
                <ngx-image-zoom [thumbImage]=s3FilePath [fullImage]=s3FilePath [magnification]="1"
                  [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="200"></ngx-image-zoom>
              </div>
              <div style="max-height: 210px;">
                <pdf-viewer *ngIf="fileType === 'pdf'" [src]="s3FilePath" [render-text]="true" style="display: block">
                </pdf-viewer>
              </div>
              <div class="toggel-on-off" *ngIf="fileType === 'png' || fileType === 'jpg' || fileType === 'jpeg'"><i
                  class="fa fa-toggle-on" *ngIf="showOriginal" style="color: green;" title="Show compressed image"
                  (click)="showOriginalImage()"></i><i class="fa fa-toggle-off" *ngIf="!showOriginal"
                  title="Show original image" (click)="showOriginalImage()"></i></div>
              <div class="edit-invoice-image"><i class="fa fa-edit" (click)="isEditInvoiceImage=true"></i></div>
            </div>
          </div>
        </div>
        <!-- /drag-wrapper -->
        <div class="card__col-xs-12 card__col-sm-12"
          *ngIf="!invoiceData.creditDebitNoteDTO.s3InvoiceImageUrl || isEditInvoiceImage"
          style="padding: 10px 10px !important;">
          <app-input-upload [upload]="upload" [input_id]="'invoiceData-s3InvoiceImageUrl'"
            (filesDropped)="uploadInvoiceImage($event)"></app-input-upload>
        </div>
        <div class="card__col-xs-12 card__col-sm-12" *ngIf="isEditInvoiceImage" style="text-align: center;">
          <a class="btn btn-cancel" (click)="isEditInvoiceImage=false">Cancel</a>
        </div>
      </div>
    </div>
  </div><!-- .content__container -->
</div><!-- .content -->

<div class="content" style="margin-top: 30px;width: 60%">
  <div class="content__container">
    <div class="card card_main">
      <div class="card__row hidder" [class.hidder_line-on]="true" [class.hidder_expand]="showSubOpt['inv_info']">
        <div class="hidder__line clearfix">
          <div class="card__col-xs-12">
            <div class="hidder__name card__title" style="color: #6a6a67;"
              (click)="showSubOpt['inv_info'] = !showSubOpt['inv_info']">Invoice information</div>
          </div>
        </div>
        <div *ngIf="showSubOpt['inv_info']" class="hidder__content card__col-xs-12">
          <form [formGroup]="creditDebitNoteFormGroup" id="creditDebitNoteFormGroupId">
            <div class="card__row invoice-info-row">
              <div class="card__col-xs-12 card__col-sm-4" formGroupName="creditDebitNoteDTO">
                <!-- <app-input [label]="((invoice_main_type == 'debit-note') ? 'Debit': 'Credit')+' Note Date'"
                [type]="'date'" [is_mandatory]="'true'"
                [name]="((invoice_main_type == 'debit-note') ? 'Debit': 'Credit')+' Note Date'" [placeholder]="''"
                [value]="invoiceData.creditDebitNoteDTO.noteDate"
                (sendValue)="invoiceData.creditDebitNoteDTO.noteDate = $event"></app-input> -->
                <mat-form-field appearance="outline">
                  <mat-label>{{(invoice_main_type == 'debit-note') ? 'Debit': 'Credit'}} Note Date</mat-label>
                  <input placeholder="" formControlName="noteDate" matInput [max]="maxCreditDebitNoteDTO"
                    [matDatepicker]="noteDatepicker" required>
                  <mat-datepicker-toggle matSuffix [for]="noteDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #noteDatepicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="card__col-xs-12 card__col-sm-4" formGroupName="creditDebitNoteDTO">
                <!-- <app-input [label]="((invoice_main_type == 'debit-note') ? 'Debit': 'Credit')+' Note Number'"
                [type]="'text'" [is_mandatory]="'true'"
                [name]="((invoice_main_type == 'debit-note') ? 'Debit': 'Credit')+' Note Number'"
                [placeholder]="'SSBA/2018-19/001'" [value]="invoiceData.creditDebitNoteDTO.noteNumber"
                (sendValue)="invoiceData.creditDebitNoteDTO.noteNumber = $event"></app-input> -->
                <mat-form-field appearance="outline">
                  <mat-label>{{(invoice_main_type == 'debit-note') ? 'Debit': 'Credit'}} Note Number</mat-label>
                  <input matInput placeholder="SSBA/2018-19/001" maxlength="16" formControlName="noteNumber" required>
                </mat-form-field>
              </div>

              <div class="card__col-xs-12 card__col-sm-4" formGroupName="creditDebitNoteDTO">
                <!-- <app-input [label]="'Original Invoice Number'" [type]="'text'" [is_mandatory]="'true'"
                [name]="'Original Invoice Number'" [placeholder]="'SSBA/2018-19/001'"
                [value]="invoiceData.creditDebitNoteDTO.referenceInvoiceId" [max_length]="16"
                (sendValue)="invoiceData.creditDebitNoteDTO.referenceInvoiceId = $event"></app-input> -->
                <mat-form-field appearance="outline">
                  <mat-label>Original Invoice Number</mat-label>
                  <input matInput placeholder="SSBA/2018-19/001" formControlName="referenceInvoiceId" maxlength="16"
                    required>
                </mat-form-field>
              </div>

              <div class="card__col-xs-12 card__col-sm-4" formGroupName="creditDebitNoteDTO">
                <!-- <app-input [label]="'Original Invoice Date'" [type]="'date'" [is_mandatory]="'true'"
                [name]="'Original Invoice Date'" [placeholder]="''" [value]="invoiceData.creditDebitNoteDTO.invoiceDate"
                (sendValue)="invoiceData.creditDebitNoteDTO.invoiceDate = $event"></app-input> -->
                <mat-form-field appearance="outline">
                  <mat-label>Original Invoice Date</mat-label>
                  <input placeholder="" formControlName="invoiceDate" matInput [max]="maxCreditDebitNoteDTO"
                    [matDatepicker]="invoiceDatepicker" required>
                  <mat-datepicker-toggle matSuffix [for]="invoiceDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #invoiceDatepicker></mat-datepicker>
                </mat-form-field>

              </div>

              <div class="card__col-xs-12 card__col-sm-4" formGroupName="partyDTO">
                <!-- <app-input [label]="'GSTIN of '+(invoice_main_type == 'debit-note' ? 'Supplier' : 'Customer')"
                  [type]="'text'" [is_mandatory]="'true'" [name]="'GSTIN of Customer'" [is_capital]="true"
                  [placeholder]="'GSTIN of '+(invoice_main_type == 'debit-note' ? 'Supplier' : 'Customer')"
                  [value]="invoiceData.partyDTO.partyGstin" [max_length]="15" (sendValue)="onEnterGSTIN($event)">
                </app-input> -->
                <mat-form-field appearance="outline">
                  <mat-label>GSTIN of {{invoice_main_type == 'debit-note' ? 'Supplier' : 'Customer'}}</mat-label>
                  <input matInput
                    [placeholder]="invoice_main_type == 'debit-note' ? 'GSTIN of Supplier' : 'GSTIN of Customer'"
                    formControlName="partyGstin" upperCase maxlength="15" type="text"
                    (blur)="onGSTINKeypress(this.creditDebitNoteFormGroup.value.partyDTO.partyGstin)" required>
                  <mat-error
                    *ngIf="creditDebitNoteFormGroup['controls'].partyDTO['controls'].partyGstin.hasError('pattern')">
                    Please enter valid GSTN.</mat-error>
                </mat-form-field>

              </div>

              <div class="card__col-xs-12 card__col-sm-4" formGroupName="partyDTO">
                <!-- <app-input [label]="(invoice_main_type == 'debit-note' ? 'Supplier' : 'Customer')+' Name'"
                  [type]="'text'" [is_mandatory]="'true'" [name]="'Customer Name'"
                  [placeholder]="(invoice_main_type == 'debit-note' ? 'Supplier' : 'Customer')+' Name'"
                  [value]="invoiceData.partyDTO.partyName" (sendValue)="invoiceData.partyDTO.partyName = $event">
                </app-input> -->
                <mat-form-field appearance="outline">
                  <mat-label>{{invoice_main_type == 'debit-note' ? 'Supplier' : 'Customer'}} Name</mat-label>
                  <input matInput [placeholder]="invoice_main_type == 'debit-note' ? 'Supplier Name' : 'Customer Name'"
                    formControlName="partyName" required>
                </mat-form-field>
              </div>

              <div class="card__col-xs-12 card__col-sm-4" formGroupName="creditDebitNoteDTO">
                <!-- <app-input-select-object [label]="'Place of Supply'" [is_mandatory]="'true'" [type]="'text'"
                  [value]="selected_invoice_state" [name]="'place of supply'" [filter_items]="state_list"
                  (sendValue)="onSelectGSTState($event)">
                </app-input-select-object> -->
                <mat-form-field appearance="outline">
                  <mat-label>Place of Supply</mat-label>
                  <mat-select placeholder=""
                    (selectionChange)="onSelectGSTState(this.creditDebitNoteFormGroup.value.creditDebitNoteDTO.stateMasterStateMasterId)"
                    formControlName="stateMasterStateMasterId" required>
                    <mat-option *ngFor="let type of state_list" [value]="type.stateMasterCode">
                      {{type.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="card__col-xs-12 card__col-sm-4" formGroupName="creditDebitNoteDTO">
                <!-- <app-input-select-object [label]="'Invoice Status'" [type]="'text'" [value]="selected_invoice_status"
                  [name]="'invoice status'" [filter_items]="invoice_status_list"
                  (sendValue)="onSelectInvoiceStatus($event)">
                </app-input-select-object> -->
                <mat-form-field appearance="outline">
                  <mat-label>Invoice Status</mat-label>
                  <mat-select placeholder="Invoice Status"
                    formControlName="invoiceStatusMasterInvoiceStatusMasterId" required>
                    <mat-option *ngFor="let type of invoice_status_list" [value]="type.id">
                      {{type.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="ogp_composite-product card">
      <div class="card__content">
        <div class="card__row hidder" [class.hidder_line-on]="true"
          [class.hidder_expand]="showSubOpt['inv_item_detail_block']">
          <div class="hidder__line clearfix">
            <div class="card__col-xs-6">
              <div class="hidder__name card__title" style="color: #6a6a67;"
                (click)="showSubOpt['inv_item_detail_block'] = !showSubOpt['inv_item_detail_block']">Item Details</div>
            </div>
            <div class="card__col-xs-6 card__col-sm-6 text-pull-right" *ngIf="showSubOpt['inv_item_detail_block']">
              <a class="btn btn_stroke add-item-btn" (click)="addItem()">Add Item</a>
            </div>
          </div>
          <div *ngIf="showSubOpt['inv_item_detail_block']" class="hidder__content card__col-xs-12">
            <div class="composite-product">
              <div class="composite-product__container">
                <div class="card__row" *ngIf="invoiceData.noteItemDTO && invoiceData.noteItemDTO.length > 0">
                  <div class="card__col-xs-12">
                    <div class="report-table-container">
                      <div class="report-table-wrapper">
                        <table class="report-table">
                          <thead class="report-table__head">
                            <tr class="report-table__row report-table__row_head">
                              <th class="report-table__cell report-table__cell_name">#</th>
                              <th class="report-table__cell report-table__cell_name">Description</th>
                              <th class="report-table__cell report-table__cell_name">HSN/SAC</th>
                              <th class="report-table__cell report-table__cell_name">Taxable<br />Value <span
                                  style="color: red;">*</span></th>
                              <th class="report-table__cell report-table__cell_name">Rate <span
                                  style="color: red;">*</span></th>
                              <th class="report-table__cell report-table__cell_name" *ngIf="isIGSTEnabled">IGST</th>
                              <th class="report-table__cell report-table__cell_name" *ngIf="!isIGSTEnabled">CGST</th>
                              <th class="report-table__cell report-table__cell_name" *ngIf="!isIGSTEnabled">SGST</th>
                              <th class="report-table__cell report-table__cell_name">Cess</th>
                              <th class="report-table__cell report-table__cell_name" [style.color]="'#282827'">Gross
                                Value</th>
                              <th class="report-table__cell report-table__cell_name"></th>
                            </tr>
                          </thead>
                          <tbody class="report-table__body">
                            <ng-template ngFor let-tab [ngForOf]="invoiceData.noteItemDTO" let-i="index">
                              <tr *ngIf="tab.isMarkForDeletion != 'T'" class="report-table__row">
                                <td class="report-table__cell report-table__cell_day">{{i+1}}</td>
                                <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                  <input class="table__row-input" type="text" name="'description'" maxLength="200"
                                    [(ngModel)]="tab.itemDescription" title={{tab.itemDescription}}>
                                </td>
                                <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                  <input class="table__row-input" type="text" name="'taxcode'"
                                    [(ngModel)]="tab.itemTaxCode">
                                </td>
                                <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                  <input class="table__row-input" type="number" name="'taxvalue'"
                                    [(ngModel)]="tab.noteItemsTaxableValue"
                                    (ngModelChange)="calculateTaxFields('taxable_value',tab)"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                </td>
                                <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                  <select [(ngModel)]="tab.tempInvoiceItemsTaxRate"
                                    (ngModelChange)="calculateTaxFields('tax_rate',tab)" style="height: 27px;">
                                    <option *ngFor="let tr of taxRatesList;let i=index;" value="{{tr}}">
                                      {{tr + (["Exempt Sales","Non GST Sales"].indexOf(tr) != -1 ? "" : "%")}}
                                    </option>
                                  </select>
                                </td>
                                <td class="report-table__cell report-table__cell_day" style="position: relative;"
                                  *ngIf="isIGSTEnabled">
                                  <input class="table__row-input" type="number" name="'igst'"
                                    [(ngModel)]="tab.noteItemsIgst"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                </td>
                                <td class="report-table__cell report-table__cell_day" style="position: relative;"
                                  *ngIf="!isIGSTEnabled">
                                  <input class="table__row-input" type="number" name="'csgt'"
                                    [(ngModel)]="tab.noteItemsCgst"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                </td>
                                <td class="report-table__cell report-table__cell_day" style="position: relative;"
                                  *ngIf="!isIGSTEnabled">
                                  <input class="table__row-input" type="number" name="'sgst_ugst'"
                                    [(ngModel)]="tab.noteItemsSgst"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                </td>
                                <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                  <input class="table__row-input" type="number" name="'cess'"
                                    [(ngModel)]="tab.noteItemsCess" (ngModelChange)="calculateTaxFields('cess',tab)"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                </td>
                                <td class="report-table__cell report-table__cell_day" style="position: relative;">
                                  <input class="table__row-input" type="number" name="'invoiceItemsGross'"
                                    [(ngModel)]="tab.noteItemsGrossValue"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                </td>
                                <td class="report-table__cell report-table__cell_day">
                                  <div class="btn-clear" (click)="deleteItem(i)"></div>
                                </td>
                              </tr>
                            </ng-template>
                            <!-- New Look -->
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- /table-info -->
                </div>
              </div>
            </div>
            <div class="card__row">
              <div class="card__col-xs-9 invoice-item-summary-label">
                Gross Value
              </div>
              <div class="card__col-xs-3">
                <!-- <app-input [label]="''" [type]="'number'" [name]="'gross value'" [placeholder]="'Enter Gross Value'" [value]="invoiceData.creditDebitNoteDTO.noteGrossValue" (sendValue)="invoiceData.creditDebitNoteDTO.noteGrossValue = $event"></app-input> -->
                <input class="select__box ogp_select ng-untouched ng-pristine ng-valid" type="number"
                  name="'gross value'" [placeholder]="'Enter Gross Value'"
                  [(ngModel)]="invoiceData.creditDebitNoteDTO.noteGrossValue"
                  onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .card__content -->
    </div>

    <div class="modal-footer clearfix">
      <div class="pull-right">
        <a class="btn btn-cancel" (click)="onCancelBtnClicked()">Cancel</a>
        <button class="btn" style="cursor: pointer;" form="creditDebitNoteFormGroupId" (click)="saveGSTBillInvoice()">Save
          Invoice</button>
      </div>
    </div>
    <!-- .ogp_composite-product -->

  </div><!-- .content__container -->
</div><!-- .content -->