<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div class="clearfix">
  <div class="main-1">
    <div class="row rowClr-1">
      <div class="col-sm-12">
        <mat-accordion class="headers-align">
          <mat-expansion-panel [expanded]=!dataOnLoad>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon> arrow_forward_ios </mat-icon>
                Filter - ITR Filing:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-sm-12">
                <div class="filter-box">
                  <div class="row">
                    <div class="col-sm-12 bckClr">
                      <app-sme-list-drop-down #smeDropDown (sendLeader)="fromSme($event, true)"
                        (sendPrincipleIndividual)="fromSme($event,false, true)"
                        (sendFiler)="fromSme($event, false)"></app-sme-list-drop-down>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-3 spsTp">
                          <app-fy-drop-down (sendFy)="fromFy($event)"></app-fy-drop-down>
                        </div>
                        <div class="col-sm-3">
                          <label class="input__label" for="attr">ITR Type</label>
                          <mat-form-field appearance="outline" class="custom-bg-new  small-inp no-height">
                            <mat-select placeholder="" [formControl]="itrType">
                              <mat-option *ngFor="let itr of itrTypes" [value]="itr.value">
                                {{itr.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                          <label class="input__label" for="attr">Return Type</label>
                          <mat-form-field appearance="outline" class="custom-bg-new  small-inp no-height">
                            <mat-select placeholder="" [formControl]="returnType">
                              <mat-option *ngFor="let return of returnTypes" [value]="return.value">
                                {{return.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                          <label class="input__label" for="attr">Is-Everified</label>
                          <mat-form-field appearance="outline" class="custom-bg-new  small-inp no-height">
                            <mat-select placeholder="" [formControl]="isEverified">
                              <mat-option *ngFor="let item of isVerified" [value]="item.value">
                                {{item.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-sm-3 mt-1">
                          <label class="input__label" for="attr">Payment Status</label>
                          <mat-form-field appearance="outline" class="custom-bg-new  small-inp no-height">
                            <mat-select placeholder="" [formControl]="paymentStatus">
                              <mat-option *ngFor="let item of paymentStatusValues" [value]="item.value">
                                {{item.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-sm-9  mt-1">
                          <app-generic-user-filter [searchParameter]="searchMenus" [clearUserFilter]="clearUserFilter"
                            (onChange)="searchByObject($event)"></app-generic-user-filter>
                        </div>
                      </div>
                    </div>

                    <!-- Table Sorting inside filter starts -->
                    <div class="row">
                      <div class="col-sm-6 spcTp">
                        <app-generic-sorting [sortingParameter]="sortMenus" [clearSortFilter]="clearUserFilter"
                          (onChange)="sortByObject($event)"></app-generic-sorting>
                      </div>

                    </div>
                    <!-- Table Sorting inside filter ends -->
                    <div class="button-container">
                      <app-custom-button class="srch-btn-1" [actions]="[myItrsList.bind(this)]" [actionParams]="[[0]]">
                        <i class="fa fa-search" aria-hidden="true"></i> Search
                      </app-custom-button>
                      <button class="dwldBtn-1" [disabled]="loading" (click)="downloadReport()">
                        <i class="fa fa-download" aria-hidden="true"></i> Download File
                      </button>
                      <button class="clrLnk-1" (click)="this.resetFilters()">
                        Clear form
                      </button>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 mt-3 ">
                        <span class="new-note1 note">
                          Note : Please select required filters above and click on search to get information
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="tableSpc mt-3">

      <div>
        <div class="row">
          <div class="col-sm-9 row">
            <div class="table-info-text col-sm-4">
              ITR Filing Details:
            </div>
          </div>
          <div class="col-sm-3">
            <div class="count1"> Total Count: <span class="txClr1">{{config.totalItems}}</span></div>
          </div>
        </div>
        <div *ngFor="let item of itrDataList | paginate:config"></div>

        <ag-grid-angular class="ag-theme-balham topSps" [gridOptions]="myItrsGridOptions"
          (rowClicked)="onRowClicked($event)">

        </ag-grid-angular>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>

  </div>

</div>

<app-user-chat *ngIf="chatBuddyDetails" [username]="chatBuddyDetails.userFullName" [requestId]="chatBuddyDetails.request_id" [serviceType]="chatBuddyDetails.departmentName"
  [image]="chatBuddyDetails.image" [showCloseIcon]="true"  (closeChatClicked)="closeChat()" [isAssignedToBotVisible]="true"></app-user-chat>
