<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<!-- New Open Close Filter Starts -->
<div class="mrgArdTog">
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]=true>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> arrow_forward_ios </mat-icon>
          Filter - ITR Filing:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="rowClr">
        <div class="surround">
          <div class="row">
          <div class="col-sm-12" *ngIf="roles?.includes('ROLE_OWNER')">
           <mat-slide-toggle [formControl]="coOwnerToggle" (change)="getToggleValue()" class="btnRt2"> Co-Owner </mat-slide-toggle>
           </div>

           <div class="col-sm-12 bckClr" *ngIf="!coOwnerCheck">
            <app-sme-list-drop-down #smeDropDown (sendOwner)="fromOwner($event)" (sendFiler)="fromFiler($event)"></app-sme-list-drop-down>
          </div>
          
           <div class="col-sm-12 bckClr" *ngIf="coOwnerCheck">
            <app-co-owner-list-drop-down #coOwnerDropDown (sendCoOwner)="fromCoOwner($event)" (sendCoFiler)="fromCoFiler($event)"></app-co-owner-list-drop-down>
     </div>
    
        <div class="col-sm-2 spsTp">
          <app-fy-drop-down (sendFy)="fromFy($event)"></app-fy-drop-down>
        </div>
  <!--      <div class="filter__col card__col-sm-3 card__col-xs-12" *ngIf="agents.length>0">-->
  <!--        <app-sme-list-drop-down (sendSme)="fromSme($event)"></app-sme-list-drop-down>-->
  <!--      </div>-->
        <div class="col-sm-2 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>Select Status</mat-label>
            <mat-select
              placeholder="Select Status"
              [(ngModel)]="searchParams.selectedStatusId"
              (selectionChange)="this.filter()"
            >
              <mat-option
                *ngFor="let status of itrStatus"
                [value]="status.statusId"
              >
                {{ status.statusName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-2 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>Mobile Number: </mat-label>
            <input
              matInput
              placeholder="Enter Mobile Number"
              type="text"
              [(ngModel)]="searchParams.mobileNumber"
              maxlength="10"
              digitsOnly
            />
          </mat-form-field>
        </div>
        <div class="col-sm-4 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>Email Address: </mat-label>
            <input
              matInput
              placeholder="Enter Email Address"
              [(ngModel)]="searchParams.email"
              maxlength="50"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-2 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>PAN</mat-label>
            <input
              matInput
              placeholder="PAN Number"
              autocomplete="off"
              type="text"
              maxlength="10"
              minlength="10"
              upperCase
              [(ngModel)]="searchParams.panNumber"
            />
            <!-- (blur)="getUserInfoByPan(personalInfoForm.controls['panNumber'])"
                          <mat-error *ngIf="personalInfoForm.controls['panNumber'].hasError('required')">
                              Enter PAN number
                          </mat-error>
                          <mat-error *ngIf="personalInfoForm.controls['panNumber'].hasError('pattern')">
                              Enter valid PAN
                              (e.g XXXXX1234X)</mat-error> -->
          </mat-form-field>
        </div>
  
        <div class="col-sm-12 spsTp bdrTp">
          <button class="clrLnk mvRth" [disabled]="loading" (click)="this.resetFilters()">
            Clear form
         </button>
          <button class="srch-btn mvRth" [disabled]="loading" (click)="this.search()">
            <i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search
          </button>
     </div>
            </div>
</div>
</div>
     
    </mat-expansion-panel>
   </mat-accordion>
</div>
<!-- New Open Close Filter Ends -->

<div class="main clearfix">
      <!-- Table -->
 <div class="tableSpc">
 <div class="row">
  <div class="col-sm-8">
    <div class="txTit">
    ITR Filing Details:
    </div>
  </div>
  <div class="col-sm-4">
     <div class="count1"> Total Count: <span class="txClr1">{{config.totalItems}}</span></div>
  </div>
</div>

      <table>
        <tr *ngFor="let item of itrDataList | paginate : config"></tr>
      </table>
      <ag-grid-angular class="ag-theme-balham topSps" [gridOptions]="myItrsGridOptions" (rowClicked)="onRowClicked($event)">
      </ag-grid-angular>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>

