<div style="overflow: hidden;">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
    <div class="card__row">
        <div class="">
            <div class="card__col-xs-12 card__col-sm-10">
                <b style="font-size: 17px;">Trading A/C </b>
            </div>
        </div>
        <div class="card__col-xs-12 card__col-sm-12">
            <div style="height: 100%; padding-top: 5px; box-sizing: border-box;">
                <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham"
                    [gridOptions]="tradingGridOptions" (rowClicked)="onTradingRowClicked($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>
    <div class="card__row">
        <div class="">
            <div class="card__col-xs-12 card__col-sm-10">
                <b style="font-size: 17px;">Profit and Loss Account </b>
            </div>
        </div>
        <div class="card__col-xs-12 card__col-sm-12">
            <div style="height: 100%; padding-top: 5px; box-sizing: border-box;">
                <form [formGroup]="profitLossForm" style="margin-top: 20px">
                    <div class="card__row">
                        <mat-label class="card__col-sm-6" style="margin-top: 10px;
                        font-weight: 800;font-size: 14px;">Gross Profit</mat-label>
                        <div class="card__col-sm-3">
                            <mat-form-field class="input-field-width">
                                <input matInput class="input-field" placeholder="Amount" formControlName="grossProfit"
                                    maxlength="30" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="card__row">
                        <mat-label class="card__col-xs-12 card__col-sm-9"
                            style="font-weight: 800;font-size: 14px;">Expense</mat-label>
                        <div class="card__col-xs-12 card__col-sm-3" style="text-align: right;">
                            <button class="tbd-btn-small" style="text-align: right;margin-bottom: 5px;"
                                [disabled]="profitLossForm.invalid" (click)="addExpenseForm(this.newExpenses)">Add
                                More&nbsp;
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div formArrayName="expenses">
                        <div *ngFor="let expense of expenses?.controls; let i=index" [formGroupName]="i"
                            class="card__row">
                            <div class="card__col-xs-12 card__col-sm-3">
                                <mat-form-field class="input-field-width">
                                    <mat-select placeholder="expense Type" formControlName="expenseType"
                                        name="expenseType" (selectionChange)="changed()">
                                        <mat-option *ngFor="let type of expenseTypeList" [value]="type.value"
                                            [disabled]="type.disabled">
                                            {{type.key}}
                                        </mat-option></mat-select>
                                    <!-- <mat-error *ngIf="expense.controls[i]['expenseType'].hasError('required')">Please
                                        enter
                                        expense Type</mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="card__col-xs-12 card__col-sm-3">
                                <div *ngIf="expense.controls['expenseType'].value !='Other Expenses'"> &nbsp;</div>
                                <div *ngIf="expense.controls['expenseType'].value =='Other Expenses'">
                                    <mat-form-field class="input-field-width">
                                        <input matInput class="input-field" placeholder="description"
                                            formControlName="description" maxlength="14"
                                            [required]="expense.controls['expenseType'].value =='Other Expenses'">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="card__col-xs-12 card__col-sm-3">
                                <mat-form-field class="input-field-width">
                                    <input matInput class="input-field" digitsOnly (change)="calculateNetProfit()"
                                        placeholder="Expense Amount" formControlName="expenseAmount" maxlength="14">
                                    <!-- <mat-error *ngIf="expense.controls[i]['expenseAmount'].hasError('required')">Please
                                        enter amount</mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="card__col-xs-12 card__col-sm-3" style="text-align: right;">
                                <button class="tbd-btn-small" style="text-align: right;"
                                    (click)="deleteExpenseForm(i)">&nbsp;&nbsp;Delete
                                    &nbsp;&nbsp;
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card__row">
                        <mat-label class="card__col-xs-12 card__col-sm-6" style="margin-top: 10px;
                        font-weight: 800;font-size: 14px;">Net Profit</mat-label>
                        <div class="card__col-xs-12 card__col-sm-3">
                            <mat-form-field class="input-field-width">
                                <input matInput class="input-field" placeholder="Amount" formControlName="netProfit"
                                    maxlength="30" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div style="text-align: right;">
    <button class="tbd-btn-secondary" (click)="this.location.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        &nbsp;&nbsp;Back</button>
    <button class="tbd-btn" (click)="onContinue()">&nbsp;&nbsp;Continue </button>
</div>