<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div *ngIf="showList">
  <div>
    <mat-accordion class="headers-align mrgArd">
      <mat-expansion-panel *ngFor="let topic of topicList" hideToggle>
        <mat-expansion-panel-header (click)="gotoSection(topic)">
          <mat-panel-title>{{topic.label}}</mat-panel-title>
          <mat-icon>
          arrow_forward_ios
          </mat-icon>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="flex justify-between p-[30px] back-foot">
    <button
      class="lgtBtn"
      (click)="goBack()"><mat-icon class="icoAdj">keyboard_backspace</mat-icon>
      <span class="font-semibold">&nbsp;Back to Source Page</span>
    </button>
  </div>
</div>

<router-outlet *ngIf="!showList" (activate)="subscribeToEmitter($event)" (deactivate)="unsubscribe()"></router-outlet>
