.itarium-mat-error {
  font-style: italic;
  margin-top: -18px;
  text-align: right;
}

.addLandBtn {
  background: #E5F2F7;
  border: 1px solid #797979;
  margin-bottom: 10px;
}

.addLandBtn:hover {
  background-color: #c4e1ed;
  color: #000000 !important;
}

.inpSp {
  margin-left: -12px;
  margin-right: -38px;
}

.spBlw {
  margin-top: -25px;
  margin-bottom: 25px;
}


.spcBox {
  padding: 20px 20px 20px 40px;
}

.mvChk {
  margin-left: 0px !important;
  margin-right: 10px !important;
}

.text-style {
  background: #bdc3c7;
  font-weight: 600;
  padding: 10px;
}

.top {
  margin-top: 21px;
}

.invalid {
  border: 1px solid #f00;
}

.sectionTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: -0.022em;
  color: #1E1E1E;
  margin-bottom: 20px;
}

.subTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.019em;
  color: #1E1E1E;
}

.card {
  margin-top: 0px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #F5F5FA;
  border-radius: 10px;
}

.cardup {
  padding: 10px !important;
}

.cardYes {
  background: #FBFBFD;
  border: 1px solid #F5F5FA !important;
  border-radius: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
.mat-radio-label {
  margin-left: 8px !important;
}

.delete-btn {
  background: #FFE1E1;
  border: 1px solid #E20000;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #E20000;
  padding: 10px;
  margin-bottom: 20px;
}

.delete-btn:disabled {
  background: #F5F5F5;
  border: 1px solid #BDBDBD;
  color: #BDBDBD;
  padding: 10px;
  margin-bottom: 20px;
}

.btnGry {
  border: 1px solid #cccccc;
  padding: 10px;
  color: #cccccc;
  width: 95px;
  border-radius: 5px;
  margin-left: -15px;
}

.mvrl {
  margin-left: -100px;
  margin-top: -22px;
}

.note {
  color: #b60000;
  font-style: italic;
  font-size: 14px;
  line-height: 1.5;
}

.new-note {
  white-space: normal;
  word-wrap: break-word;
}
.btn-delete{
  display: flex;
  align-items: center;
  justify-content: center;
}
