.mat-form-field {
    width: 100%;
}

.fa fa-phone {
    transform: rotate(90deg) !important;
}

.spRt {
    margin-right: 30px;
}

.mt {
    margin-top: 0;
}

.checkbox-right {
    float: right;
    margin-bottom: 8px;
}

.checkbox-group.checkbox-right {
    text-align: right;
}

.ft-18 {
    font-size: 18px !important;
}