<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div class="mrgArdTog">
    <mat-accordion class="headers-align">
        <mat-expansion-panel [expanded]="!dataOnLoad">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon> arrow_forward_ios </mat-icon>
                    Filter - My Users:
                </mat-panel-title>
                <div class="col-sm-3"
                    *ngIf="(loggedInUserRoles?.includes('ROLE_ADMIN') || loggedInUserRoles?.includes('ROLE_LEADER') || loggedInUserRoles?.includes('ROLE_OWNER'))">
                    <button class="tbd-btn spRt" style="float:right"
                        (click)="$event.stopPropagation(); openBulkReAssignment()">Bulk Re-Assignment</button>
                </div>
            </mat-expansion-panel-header>
            <div class="rowClr">
                <div class="surround">
                    <div class="row">
                        <div class="col-sm-12 bckClr" *ngIf="!coOwnerCheck">
                            <app-sme-list-drop-down #smeDropDown (sendOwner)="fromSme($event, true)"
                                (sendFiler)="fromSme($event, false)"></app-sme-list-drop-down>
                        </div>

                        <div class="row spsTp bdrTp">
                            <div *ngIf="itrStatus" class="col-sm-3">
                                <label class="input__label" for="attr">Select Status </label>
                                <mat-form-field appearance="outline">
                                    <mat-select placeholder="" [(ngModel)]="searchParam.statusId">
                                        <mat-option *ngFor="let status of itrStatus" [value]="status.statusId">
                                            {{ status.statusName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-9">
                                <app-generic-user-filter [searchParameter]="searchMenus"
                                    [clearUserFilter]="clearUserFilter"
                                    (onChange)="searchByObject($event)"></app-generic-user-filter>
                            </div>
                        </div>
                        <div class="row spsTp bdrTp">
                            <div class="col-6">
                                <app-generic-sorting [sortingParameter]="sortMenus" [clearSortFilter]="clearUserFilter"
                                    (onChange)="sortByObject($event)"></app-generic-sorting>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <button class="clrLnk mvRth" [disabled]="loading" (click)="this.resetFilters()">
                                        Clear form
                                    </button>

                                    <button class="srch-btn mvRth" [disabled]="loading"
                                        (click)="this.search('mobile','isAgent')"><i class="fa fa-search"
                                            aria-hidden="true"></i>&nbsp;Search</button>
                                </div>
                                <div class="col-sm-12 row">
                                    <span class="note1 note">
                                        Note : Please select required filters above and click on search to get
                                        information
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>
<!-- New Open Close Filter Ends -->



<div class="main clearfix">
    <!-- Container -->
    <!-- Top card Ends -->
    <!-- Below Table Starts -->
    <div class="tableSpc">
        <div class="row">
            <div class="col-sm-9 row">
                <div class="txTit col-sm-4">
                    User Details:
                </div>
                <div class="col-sm-5">
                    <button class="tbd-btn spRt aprv mt" *ngIf="showReassignmentBtn.length && config.totalItems > 1"
                        (click)="actionWithReassignment()">
                        Action with Re-assignment </button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="count1"> Total Count: <span class="txClr1">{{config.totalItems}}</span></div>
            </div>
        </div>
        <table>
            <tr *ngFor="let item of userInfo | paginate:config"></tr>
        </table>

        <ag-grid-angular class="ag-theme-balham topSps" [gridOptions]="usersGridOptions"
            (rowClicked)="onUsersRowClicked($event)">
            <!--    paginationPageSize=15 pagination=true-->
        </ag-grid-angular>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

    </div>
</div>