<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
    <div class="card">
        <div class="card__row">

            <ag-grid-angular class="ag-theme-balham" [gridOptions]="inbondKnowlarityGridOption"
                >  
            </ag-grid-angular>

            <!-- <table>
                <tr>
                    <th>Call Date</th>
                    <th>Call Type</th>
                    <th>Agent Number</th>
                    <th>Caller Number</th>
                    <th>Knowlarity Number</th>
                </tr>
                <tr *ngFor="let item of knowlarityData">
                    <td>{{item.Event_Date_Local | date:'dd MMM yyyy, hh:mm a'}}</td>
                    <td>{{item.business_call_type}}</td>
                    <td>{{item.agent_number}}</td>
                    <td>{{item.caller}}</td>
                    <td>{{item.knowlarity_number}}</td>
                </tr>
            </table> -->

        </div>
    </div>
</div>