//rohit new css for new UI
.main-1 {
  background: #FBFBFB;
}

.rowClr-1 {
  background: #FFF !important;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #c8c8c8;
}

.filter-box {
  width: 100%;
  height: auto;
  display: inline-flex;
  padding: 20px;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  border-radius: 4px;
  border: 1px solid #8CBDF2;
}

.button-container {
  margin-top: 20px;
  display: inline-flex;
  justify-content: right;
  gap: 10px;
}

.dwldBtn-1 {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 9px;
  border-radius: 4px;
  border: 1px solid #2D8EF9;
  color: #2D8EF9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.28px
}

.clrLnk-1 {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 9px;
  border-radius: 4px;
  border: 1px solid #2D8EF9;
  color: #2D8EF9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
}

.srch-btn-1 {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 9px;
  border-radius: 4px;
  background: #2D8EF9;
  color: #FFF;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.28px;
}

.new-table-container {
  background: #FBFBFB;
  margin-right: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.txtH-1 {
  color: var(--black-100, #1C1C1C);
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 180% */
  background-color: #FBFBFB;
}

.count-chips-container {
  margin-top: 15px;
  // display: flex;
  // align-items: flex-start;
  // gap: 9px;
}

.count-radius-1 {
  // display: flex;
  // width: 171px;
  height: 93px;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  border: 1px solid #ADD4FF;
  background: #FFF;
}

.numTxSm-11 {
  color: #494949;
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-TxSm-1 {
  color: #494949;
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.table-radiusTab-1 {
  padding: 12px;
  margin-top: 15px;
  height: auto;
  background: var(--secondary-primary-white, #FFF);
}

.TxHd-12 {
  background: #EFF6FF;
  height: 47px;
  flex-shrink: 0;
  padding-left: 17px;
  padding-top: 14px;
  padding-bottom: 12px;
}

.TxHd-13 {
  font-size: 18px;
  color: #21415b;
  font-weight: 600;
  margin-right: 10px;
}

.header-text-1 {
  color: #284446;
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.total-box {
  display: flex;
  height: 36px;
  width: 52px;
  padding: 8px 10px;
  align-items: center;
  gap: 8px;
  border-radius: 4px 0px 0px 4px;
  background: #CEE5FF;
}

.total-box-text {
  color: #2D8EF9;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 200% */
}

.total-box-value {
  display: flex;
  height: 36px;
  width: 34px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 0px 4px 4px 0px;
  background: #2D8EF9;
}

.total-value {
  color: #FFF;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 200% */
}

.col-text-container {
  display: flex;
  // width: 682px;
  // align-items: flex-start;
  border: 1px solid #CFE4FF;
  height: 47px;
  flex: 1 0 0;
}

.col-txt-1 {
  align-items: center;
}

.original-text {
  margin-left: 15px;
  color: #284446;
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.new-hieght {
  display: flex;
  flex-direction: row;
  padding: 18px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  border: 1px solid #ADD4FF;
  background: #FFF;
}

.table-header-row th {
  background: #EAEAEA;
  border: 1px solid #DEDEDE;
}

.table-header-row td {
  border: 1px solid #DEDEDE;
}