.flex-70 {
    flex-basis: 70% !important;
}

.flex-15 {
    flex-basis: 15% !important;
}

.notes {
    /* max-height: 80%;
    overflow-y: scroll; */
    overflow: auto;
}

.text {
    text-align: center;
    font-size: 16px;
    padding: 40px 20px;
}

.tableFixHead {
    overflow: auto;
    height: 400px;
    margin: 20px 5px;
    font-size: 14px;
}

.tableFixHead th {
    position: sticky;
    top: 0;
}

/* Just common table stuff. */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}

.tbd-btn3 {
  display: inline-block;
  margin: 18px;
  padding: 12px 15px;
  text-align: center;
  font-weight: 600;
  line-height: 1em;
  text-decoration: none;
  border-radius: 5px;
  transition-property: color, background-color;
  transition-duration: 0.25s;
  cursor: pointer;
  border: none;
  background-color: #EEFFE4;
  color: #494949;
  border: 1px solid #494949;
  width: auto;
}
