.tbd-btn-small {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  background-color: #edffff;
  border: 1px solid #cccccc;
  margin: 15px 10px 0px 0px;
}

.tbd-btn-small:hover {
  background-color: #b7f5f5;
}
