<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="content content_full" *ngIf="!isGSTBillViewShown">

  <div class="content__container">
    <ng-template [ngIf]="is_applied_clicked">

      <div class="card" *ngIf="!selected_bill_type">
        <div class="card__row">
          <div class="report-table-wrapper">
            <table class="report-table" style="min-width: unset;">
              <thead class="report-table__head">
                <tr class="report-table__row report-table__row_head">
                  <th class="report-table__cell report-table__cell_name text-pull-left">Bill Type</th>
                  <th class="report-table__cell report-table__cell_name text-pull-right">No. Of Bills Uploaded</th>
                  <th class="report-table__cell report-table__cell_name text-pull-right">No. Of Bills Processed</th>
                  <th class="report-table__cell report-table__cell_name text-pull-right">Pending Bills for Processing
                  </th>
                </tr>
              </thead>
              <tbody class="report-table__body">
                <tr class="report-table__row">
                  <td class="report-table__cell report-table__cell_day text-pull-left"><a
                      (click)="showBillTypeInvoices('sales-invoice')"><b>Sales Bills</b></a></td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.sales.uploaded_count}}</td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.sales.processed_count}}</td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.sales.processing_count}}</td>
                </tr>
                <tr class="report-table__row">
                  <td class="report-table__cell report-table__cell_day text-pull-left"><a
                      (click)="showBillTypeInvoices('purchase-invoice')"><b>Purchase / Expense Bills</b></a></td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.purchase.uploaded_count}}</td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.purchase.processed_count}}</td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.purchase.processing_count}}</td>
                </tr>
                <tr class="report-table__row">
                  <td class="report-table__cell report-table__cell_day text-pull-left"><a
                      (click)="showBillTypeInvoices('credit-note')"><b>Credit Note Bill</b></a></td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.credit_note.uploaded_count}}</td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.credit_note.processed_count}}</td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.credit_note.processing_count}}</td>
                </tr>
                <tr class="report-table__row">
                  <td class="report-table__cell report-table__cell_day text-pull-left"><a
                      (click)="showBillTypeInvoices('debit-note')"><b>Debit Note Bill</b></a></td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.debit_note.uploaded_count}}</td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.debit_note.processed_count}}</td>
                  <td class="report-table__cell report-table__cell_day text-pull-right">
                    {{summarised_invoice.debit_note.processing_count}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="selected_bill_type">
        <div class="card__row">
          <div class="card__col-xs-6">
            <div class="back-btn-container" (click)="cancelInvoiceList()"></div>
          </div>
          <div class="card__col-xs-6" style="text-align: right;">
            <div class="add-invoice-btn-container" (click)="uploadBill(true)"></div>
          </div>
        </div>

        <div class="card__title">{{getInvoiceCardTitle()}}</div>
        <ng-template [ngIf]="selected_invoices_list && selected_invoices_list.length>0">
          <div class="card__row">
            <div class="card__col-xs-12 card__col-sm-12">
              <app-attributes-filter [selectItems]="filters_list" (sendValue)="onChangeAttrFilter($event)">
              </app-attributes-filter>
            </div>
          </div>

          <div class="card__row" *ngIf="['sales-invoice','purchase-invoice'].indexOf(selected_bill_type) != -1">
            <div class="report-table-wrapper">
              <table class="report-table" style="min-width: unset;">
                <thead class="report-table__head">
                  <tr class="report-table__row report-table__row_head">
                    <th class="report-table__cell report-table__cell_name text-pull-left">#</th>
                    <th class="report-table__cell report-table__cell_name text-pull-right">Invoice #</th>
                    <th class="report-table__cell report-table__cell_name text-pull-right">Upload Date</th>
                    <th class="report-table__cell report-table__cell_name text-pull-right">Processed Date</th>
                    <th class="report-table__cell report-table__cell_name text-pull-right">Processed By</th>
                    <th class="report-table__cell report-table__cell_name text-pull-right"></th>
                    <th class="report-table__cell report-table__cell_name text-pull-right"></th>
                  </tr>
                </thead>
                <tbody class="report-table__body" *ngFor="let tab of (filterData); let i=index; ">
                  <tr class="report-table__row">
                    <td class="report-table__cell report-table__cell_day text-pull-left">{{i+1}}</td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">{{tab.invoiceNumber}}</td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">
                      {{tab.invoiceCreatedAt | backTipsDate:'full datetime'}}</td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">
                      {{tab.invoiceUpdatedAt | backTipsDate:'full datetime'}}</td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">
                      {{getAdminName(tab.invoiceAssignedTo) | capitalizeFirst}}</td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">
                      <div class="fa-icon-wrapper" (click)="onClickEditInvoice(tab)"><i class="fa fa-edit"
                          tooltip="Edit"></i></div>
                    </td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">
                      <div class="combobox__clear" (click)="onClickDeleteInvoice(tab,i)"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card__row" *ngIf="['credit-note','debit-note'].indexOf(selected_bill_type) != -1">
            <div class="report-table-wrapper">
              <table class="report-table" style="min-width: unset;">
                <thead class="report-table__head">
                  <tr class="report-table__row report-table__row_head">
                    <th class="report-table__cell report-table__cell_name text-pull-left">#</th>
                    <th class="report-table__cell report-table__cell_name text-pull-right">Invoice #</th>
                    <th class="report-table__cell report-table__cell_name text-pull-right">Upload Date</th>
                    <th class="report-table__cell report-table__cell_name text-pull-right">Processed Date</th>
                    <th class="report-table__cell report-table__cell_name text-pull-right">Processed By</th>
                    <th class="report-table__cell report-table__cell_name text-pull-right"></th>
                    <th class="report-table__cell report-table__cell_name text-pull-right"></th>
                  </tr>
                </thead>
                <tbody class="report-table__body" *ngFor="let tab of (filterData); let i=index; ">
                  <tr class="report-table__row">
                    <td class="report-table__cell report-table__cell_day text-pull-left">{{i+1}}</td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">{{tab.noteNumber}}</td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">
                      {{tab.noteCreatedAt | backTipsDate:'full datetime'}}</td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">
                      {{tab.noteUpdatedAt | backTipsDate:'full datetime'}}</td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">
                      {{getAdminName(tab.creditDebitNoteAssignedTo) | capitalizeFirst}}</td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">
                      <div class="fa-icon-wrapper" (click)="onClickEditCreditDebitNoteInvoice(tab)"><i
                          class="fa fa-edit" tooltip="Edit"></i></div>
                    </td>
                    <td class="report-table__cell report-table__cell_day text-pull-right">
                      <div class="combobox__clear" (click)="onClickDeleteCreditDebitInvoice(tab,i)"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="!selected_invoices_list || selected_invoices_list.length==0">
          <div class="card__row">
            <div class="card__col-xs-12" style="font-size: 20px;text-align: center;">
              No Data Available.
            </div>
          </div>
        </ng-template>
      </div>

    </ng-template>
  </div><!-- .content__container -->
</div><!-- .content -->


<!-- Edit Invoice Overlay Start -->
<div class="overlay" *ngIf="isGSTBillViewShown"></div>
<div class="modal modal_show popup-bill-invoice-modal" *ngIf="isGSTBillViewShown">
  <div class="modal-wrapper modal-fullscreen modal-wrapper_show">
    <!-- <div class="modal-header clearfix">
            <div class="modal-header__title">Invoice</div>
            <div class="pull-right" data-target="close">
                <div class="modal__close" (click)="cancelProduct()"></div>
            </div>
        </div> -->
    <div class="modal-content modal-content_scrollbar">
      <div class="modal-content__container bill-invoice-popup__content">

        <app-add-update-gst-bill-invoice *ngIf="['sales-invoice','purchase-invoice'].indexOf(invoice_main_type) != -1"
          [state_list]="state_list" [invoice_types]="selected_invoice_types" [merchantData]="merchantData"
          [invoice_main_type]="invoice_main_type" [invoice_party_roles]="invoice_party_roles"
          [invoice_status_list]="invoice_status_list" [invoiceToUpdate]="invoiceToUpdate"
          [is_update_item]="is_update_invoice" (onUpdateInvoice)="onUpdateInvoice($event)"
          (onAddInvoice)="onAddInvoice($event)" (onCancelInvoice)="onCancelInvoice($event)">
        </app-add-update-gst-bill-invoice>

        <app-add-update-credit-debit-note-invoice *ngIf="['credit-note','debit-note'].indexOf(invoice_main_type) != -1"
          [state_list]="state_list" [invoice_types]="selected_invoice_types" [merchantData]="merchantData"
          [invoice_main_type]="invoice_main_type" [invoice_party_roles]="invoice_party_roles"
          [invoice_status_list]="invoice_status_list" [invoiceToUpdate]="invoiceToUpdate"
          [is_update_item]="is_update_invoice" (onUpdateInvoice)="onUpdateInvoice($event)"
          (onAddInvoice)="onAddInvoice($event)" (onCancelInvoice)="onCancelInvoice($event)">
        </app-add-update-credit-debit-note-invoice>

      </div>
    </div>
    <!-- <div class="modal-footer clearfix" *ngIf="['credit-note','debit-note'].indexOf(invoice_main_type) != -1">
      <div class="pull-right">
        <a class="btn btn-cancel" (click)="onCancelInvoiceBtnClicked()">Cancel</a>
        <a class="btn product__save" (click)="onSaveGSTBillInvoice()">Save Invoice</a>
      </div>
    </div> -->
  </div>
</div>
<!-- Edit Invoice Overlay Close -->