<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div class="main clearfix" style="padding-top: 0px;">
    <div class="card">
        <div class="card__row">
            <form [formGroup]="summaryDetailForm">
                <!-- <div class="card__col-lg-3">
                    <p class="head-label">Download Invoice:</p>
                </div> -->

                <div class="card__col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>From Date</mat-label>
                        <input matInput formControlName="fromDate" [matDatepicker]="picker1" [max]="maxDate"
                            autocomplete="off"
                            (dateChange)="setToDateValidation(summaryDetailForm.controls['fromDate'].value)">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="summaryDetailForm.controls['fromDate'].hasError('required')">Select From
                            date</mat-error>
                    </mat-form-field>
                </div>

                <div class="card__col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>To Date</mat-label>
                        <input matInput formControlName="toDate" [matDatepicker]="picker2" [max]="maxDate"
                            autocomplete="off" [min]="toDateMin">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-error *ngIf="summaryDetailForm.controls['toDate'].hasError('required')">Select To
                            date</mat-error>
                        <mat-error *ngIf="summaryDetailForm.controls['toDate'].hasError('min')">To date always greater
                            than from date</mat-error>
                    </mat-form-field>
                </div>

                <div class="card__col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Status</mat-label>
                        <mat-select placeholder="Select Status" formControlName="status">
                            <mat-option *ngFor="let item of status" [value]="item.value">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="card__col-lg-2" *ngIf="summaryDetailForm.valid">
                    <button class="btn" style="border: none; cursor: pointer;" (click)="getAllInvoiceInfo()">Show
                        Invoice</button>

                </div>

                <div class="card__col-lg-2" *ngIf="summaryDetailForm.valid">
                    <button class="btn" style="border: none; cursor: pointer;"
                        (click)="downloadInvoicesSummary()">Download File</button>
                </div>
            </form>

        </div>
        <span style="float: right;"> Total Count: <b>{{totalInvoice}}</b> | Paid: <b>{{getCount('paid')}}</b> |
            Unpaid:
            <b>{{getCount('unpaid')}}</b> | Failed: <b>{{getCount('failed')}}</b></span>
        <br>
        <div class="card__row">
            <ag-grid-angular class="ag-theme-balham" [gridOptions]="invoiceListGridOptions"
                (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="onInvoiceRowClicked($event)"
                paginationPageSize=15 pagination=true>
            </ag-grid-angular>
        </div>
    </div>
</div>