.dialog-sec {
  padding: 12px;

  .heading {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .desc {
    font-size: 14px;
    display: block;
    padding-bottom: 10px;
  }
}




.det {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
}

.attach {
  margin-top: 20px;
}

.scr-shot {
  margin: 10px 0px 10px 0px;

  a {
    text-decoration: none;
  }
}

#lb {
  margin: 5px 0px 5px 0px;
}

#or {
  margin: 5px 0px 5px 70px;
}

.textarea {
  height: 70px;
  width: 90%
}

.error-msg {
  color: #FF0000;
}

.display-none {
  display: none;
}

#sec {
  margin-top: 150px;
}

#sec1 {
  text-align: center;
}

#sec1 span {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

#sec2 p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

#btn-cl {
  // font-size: 20px;
  text-align: center;
  align-items: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #63b12d;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  
  &:hover {
    background-color: darken(#63b12d, 10%);
  }
}