.dialog-sec {
  height: 400px;
  padding: 20px;
}

span h2 {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.decr {
  margin-top: 20px;
}

.det {
  margin-top: 20px;
}

.attch {
  padding: 10px;
  margin-top: 20px;
}

.textarea {
  height: 70px;
  width: 90%
}

.error-msg {
  color: #FF0000;
}