.dialog-sec {
  height: 400px;
  padding: 20px;
}

span h2 {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.decr {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
}

.det {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
}

.attch {
  padding: 10px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
}

.scr-shot {
  margin: 10px 0px 10px 0px;

  a {
    text-decoration: none;
  }
}

#lb {
  margin: 5px 0px 5px 0px;
}

#or {
  margin: 5px 0px 5px 70px;
}

.textarea {
  height: 70px;
  width: 90%
}

.error-msg {
  color: #FF0000;
}