.flex-70 {
  flex-basis: 70% !important;
}
.flex-15 {
  flex-basis: 15% !important;
}

.notes {
  /* max-height: 80%;
    overflow-y: scroll; */
  overflow: scroll;
}

.text {
  text-align: center;
  font-size: 16px;
  padding: 2px 2px;
}

.tableFixHead {
  overflow: scroll;
  /* height: 400px;
    margin: 20px 5px; */
  font-size: 14px;
}
/* .tableFixHead th { position: sticky; top: 0; } */

/* Just common table stuff. */
table {
  border-collapse: collapse;

  width: 100%;
  height: 100px;
  /* overflow: scroll; */
}
th,
td {
  padding: 2px 2px;
  text-align: left;
  height: 18px;
}
th {
  background: #eee;
}

.notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.service-input {
  width: 100%;
}

.notes-input {
  width: 100%;
}

.add-notes {
  width: 98%;
  height: 50%;
  /* margin: 0px; */
}
.fordialnotes {
  /* max-width: 80vw;
  max-height: 80vw; */
  width: 100%;
  height: 50%;
  position: inherit;
  overflow: scroll;
}
