<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="content content_full">

  <div class="content__container">
      <div class="card" *ngIf="is_applied_clicked">
        <div class="card__row" >      
          <div class="card__col-xs-3 card__col-sm-3" style="float: right;">
            <app-input-upload [upload]="upload" [input_id]="'invoiceData-s3GSTDocumentUrl'" (filesDropped)="uploadGSTDocument($event)"></app-input-upload>
          </div>
          <!-- <div class="card__col-xs-12" style="text-align: right;">
            <div class="upload-btn-container" (click)="uploadGSTDocument()"></div>
          </div> -->
        </div>
        <div class="card__row" *ngIf="documents_list && documents_list.length > 0">
          <div class="report-table-wrapper">
              <table class="report-table" style="min-width: unset;">
                  <thead class="report-table__head">
                    <tr class="report-table__row report-table__row_head">
                      <th class="report-table__cell report-table__cell_name text-pull-left">#</th>
                      <th class="report-table__cell report-table__cell_name text-pull-left">Document Type</th>
                      <th class="report-table__cell report-table__cell_name text-pull-right">Upload Date</th>
                      <th class="report-table__cell report-table__cell_name text-pull-right">Uploaded By</th>
                      <th class="report-table__cell report-table__cell_name" ></th>                        
                    </tr>
                  </thead>
                  <tbody class="report-table__body" *ngFor="let tab of (filterData); let i=index; ">
                    <tr class="report-table__row">                        
                      <td class="report-table__cell report-table__cell_day text-pull-left">{{i+1}}</td>
                      <td class="report-table__cell report-table__cell_day text-pull-left"><b>{{tab.gstDocumentTypeMasterName | capitalizeFirst}}</b></td>
                      <td class="report-table__cell report-table__cell_day text-pull-right">{{tab.upload_date | backTipsDate}}</td>
                      <td class="report-table__cell report-table__cell_day text-pull-right">{{tab.uploaded_by | capitalizeFirst}}</td>
                      <td class="report-table__cell report-table__cell_day text-pull-right">
                          
                          <!-- <div class="fa-icon-wrapper"><i class="fa fa-cloud-upload" tooltip="Upload Document"></i></div>                           -->
                          <div class="fa-icon-wrapper" (click)="downloadDocument(tab)"><i class="fa fa-cloud-download" tooltip="Download Document"></i></div>                          
                          <!-- <div class="combobox__clear"></div>                             -->

                      </td>
                      
                    </tr>
                   
                  </tbody>
              </table>
          </div>
        </div>
        <div class="card__row" *ngIf="(!documents_list || documents_list.length == 0)">
          <div class="card__col-xs-12" style="font-size: 20px;text-align: center;">
            No Data Available.
          </div>
      </div>
    </div>
    
  </div><!-- .content__container -->
</div><!-- .content -->