<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div style="font-size: 18px; font-weight: bold">Update Filing Details
  <button mat-dialog-close tabindex="-1" style="float: right;" class="tbd-btn-close">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>

<div class="card__row mt-3">
  <div class="card__col-xs-12 card__col-sm-6">
    <mat-form-field appearance="outline">
      <mat-label>Ack Number</mat-label>
      <input matInput placeholder="Ack Number" name="ackNumber" [formControl]="ackNumber" class="input-field" required
        (blur)="setFilingDate()" maxlength="16" minlength="15" />
      <mat-error *ngIf="ackNumber.hasError('minlength')">Enter at least 15 digit valid ack number</mat-error>
      <mat-error *ngIf="ackNumber.hasError('pattern')">Please enter only numbers</mat-error>
    </mat-form-field>
  </div>
  <div class="card__col-xs-12 card__col-sm-6">
    <mat-form-field appearance="outline">
      <mat-label>E-Filing Date</mat-label>
      <input matInput [max]="maxDate" [matDatepicker]="picker" class="input-field" placeholder="E-Filing Date"
        name="dateOfBirth" [formControl]="eFillingDate" [disabled]="true" readonly required />
      <mat-hint>Format: DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div class="card__row">
  <div class="card__col-xs-12 card__col-sm-12">
    <mat-form-field appearance="outline">
      <mat-label>Reason for Manual Update</mat-label>
      <input matInput placeholder="Reason for Manual Update" name="manualUpdateReason"
        [formControl]="manualUpdateReason" class="input-field" required>
    </mat-form-field>
  </div>
</div>
<app-custom-button class="tbd-btn pull-right" [actions]="[updateManualDetails]">
  Update
</app-custom-button>

