<ngx-loading [show]="loading"></ngx-loading>

<div class="">
  <div class="frame-wrapper-2A">
    <div class="accordion" id="myAccordion">
      <div class="accordion-item" *ngIf="!loading">
        <h2 class="accordion-header" id="heading4">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" aria-expanded="false"
            data-bs-target="#collapse4">Any Other Deductions</button>

        </h2>

        <form [formGroup]="otherDeductionForm">
          <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
            <div class="accordion__item-body">
              <div class="gray_container">
                <div class="div-6 mb-20">
                  <div class="form-field">
                    <span class="normal_text">Section 8OEE - Interest on Home Loan</span>
                    <span class="text_italic">Autofiled from HP</span>
                  </div>
                  <div class="form-field">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Under sec. 80EE" maxlength="8" formControlName="us80ee"
                        autocomplete="off" digitsOnly readonly />
                    </mat-form-field>
                  </div>
                </div>
                <div class="div-6 mb-20">
                  <div class="form-field">
                    <span class="normal_text">Section 8OEEA - Interest on Home Loan</span>
                    <span class="text_italic">Autofiled from HP</span>
                  </div>
                  <div class="form-field">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Under sec. 80EEA" maxlength="8" formControlName="us80eea"
                        autocomplete="off" digitsOnly readonly />
                    </mat-form-field>
                  </div>
                </div>
                <!-- 80e -->
                <div class="div-6 mb-20">
                  <div class="form-field">
                    <div><span class="normal_text">Under sec. 80E</span>
                    </div>
                  </div>
                  <div class="form-field">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Under sec. 80E" maxlength="8" formControlName="us80e"
                        autocomplete="off" digitsOnly />
                    </mat-form-field>
                  </div>
                </div>

                <!-- 80gg -->
                <div class="div-6 mb-20" *ngIf="!ITR_JSON.systemFlags?.hraAvailed">
                  <div class="form-field">
                    <div><span class="normal_text">Under sec. 80GG</span>
                    </div>
                  </div>
                  <div class="form-field">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Under sec. 80GG" maxlength="8" formControlName="us80gg"
                        autocomplete="off" digitsOnly />
                    </mat-form-field>
                  </div>
                </div>

                <!-- 80ggc -->
                <div class="div-6 mb-20" *ngIF="false">
                  <div class="form-field">
                    <div><span class="normal_text">Under sec. 80GGC</span>
                    </div>
                  </div>
                  <div class="form-field">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Under sec. 80GGC" maxlength="8" formControlName="us80ggc"
                        autocomplete="off" digitsOnly />
                      <mat-hint></mat-hint>
                    </mat-form-field>
                    <div><span class="normal_text">Non-cash donations are accepted</span></div>
                  </div>
                </div>

                <!-- 80eeb -->
                <div class="div-6 mb-20">
                  <div class="form-field">
                    <div><span class="normal_text">Under sec. 80EEB</span></div>
                  </div>
                  <div class="form-field">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Under sec. 80EEB" maxlength="8" formControlName="us80eeb"
                        autocomplete="off" digitsOnly />
                    </mat-form-field>
                  </div>
                </div>

                <div class="div-6 mb-20" *ngIf="false">
                  <div class="form-field">
                    <span class="normal_text">Section BOE-Eduction Loan on Higher Studies</span>
                    <span class="normal_text">(Graduate or Post Graduate)</span>
                  </div>
                  <div class="form-field">
                    <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                      placeholder="₹ Enter Amount">
                  </div>
                </div>
                <div class="div-6 mb-20" *ngIf="false">
                  <div class="form-field">
                    <span class="normal_text">Section 8OGG-Deduction for House Rent </span>
                    <span class="normal_text">(Self-Employed or Salaried with no HRA) </span>

                  </div>
                  <div class="form-field">
                    <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                      placeholder="₹ Enter Amount">
                  </div>
                </div>
                <div class="div-6 mb-20" *ngIf="false">
                  <div class="form-field">
                    <span class="normal_text"> Section 8OGGC-Contribution to Political
                      Party</span>
                  </div>
                  <div class="form-field">
                    <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                      placeholder="₹ Enter Amount">
                  </div>
                </div>
                <div class="div-6 mb-20" *ngIf="false">
                  <div class="form-field">
                    <span class="normal_text">Section 8OEEB-Electric Vehical Loan </span>
                  </div>
                  <div class="form-field">
                    <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp"
                      placeholder="₹ Enter Amount">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>