<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading> -->

<div class="main clearfix" style="padding-top: 0px;min-height: 10vh;">
    <div class="card">
        <span>Selected Team Member: {{teamMember ? teamMember.label :''}}</span>
        <div class="card__row">
            <span *ngFor="let mem of filingTeamMembers; let i=index">
                <a href="javascript:;" (click)="getMembersSubscriptions(mem)">{{mem.label}}</a> &nbsp;&nbsp;
            </span>
        </div>
    </div>
</div>
<div class="main clearfix" style="padding-top: 0px;">
    <div class="card">
        <div class="card__row">
            <app-main-subsciption [queryParam]="queryParam" from="MY_SUB"></app-main-subsciption>
        </div>
    </div>
</div>