<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
    <div class="card">
        <div class="card__row">
            <label>Selected Agent: {{agentId}}</label> &nbsp;&nbsp;
            <span *ngFor="let agent of agentList; let i=index">
                <a href="javascript:;" (click)="selectAgent(agent.value)">{{agent.label}}</a> &nbsp;&nbsp;
            </span>
            <span style="float: right;">Total New User: {{count}}</span>
        </div>
        <div class="card__row" style="margin-top: 0px;">
            <div class="tab-panel items-tab card__col-xs-12">
                <div class="tab-panel__content tab-panel__content_visible">
                    <div class="table product__table">
                        <div class="table__row  table__row_header ">
                            <div class="table__cell product-row__cell-unit flex-10">
                                <a class="table__sort-link">User Id</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-30">
                                <a class="table__sort-link">Name</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-15">
                                <a class="table__sort-link">Mobile</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-15">
                                <a class="table__sort-link">Created Date</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-10">
                                <a class="table__sort-link">Platform</a>
                            </div>

                            <div class="table__cell product-row__cell-unit flex-20">
                                <a class="table__sort-link">Action</a>
                            </div>
                        </div>


                        <div *ngFor="let item of userList | paginate : {
                        itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                      }; let p=index ">
                            <div class="table__row-item product-row" [class.table__row-disabled]="false">
                                <div class="table__row product-row__main-variant">
                                    <!-- [style.background-color]="currentUserId === item.userId ? '#ebffe7':''" -->
                                    <div class="table__cell product-row__cell-stock flex-10">
                                        {{item.userId}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-30">
                                        {{item.name}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-15">
                                        {{item.mobileNumber}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-15">
                                        {{item.userCreatedDate | date :'dd MMM yyyy, hh:mm a'}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-10">
                                        {{item.platform}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-20"
                                        *ngIf="item.platform === 'WebSite' || item.platform === 'WEB'">
                                        <button type="submit" class="btn" style="border: none;"
                                            (click)="startConversation(item)">Start Conversation</button>
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-20"
                                        *ngIf="item.platform !== 'WebSite' && item.platform !== 'WEB'">
                                        <button type="submit" class="btn" style="border: none;"
                                            (click)="startPush(item)">Send Push</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                                (pageChange)="handlePageChange($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>