<div class="page-wrapper">

    <!-- left side bar start -->
        <aside class="aside-left">
          <div class="frameL">
          <div class="contents"><div class="field-text">Leader Dashboard</div></div>
          <div class="div">
            <div class="text-wrapper">My Tasks</div>
            <img class="mingcute-down-fill" src="assets/img/new/up.png" />
          </div>
          <div class="div-2">
            <div class="field-text-wrapper"><div class="field-text">My Users</div></div>
            <div class="field-text-wrapper"><div class="field-text-2">Scheduled Calls</div></div>
            <div class="div-wrapper"><div class="text-wrapper">ITRs</div></div>
            <div class="field-text-wrapper"><div class="field-text">Create User</div></div>
            <div class="field-text-wrapper"><div class="field-text">Potential Users</div></div>
          </div>
          <div class="contents"><div class="field-text">SME Management</div></div>
          <div class="contents"><div class="field-text">Subscription</div></div>
          <div class="contents"><div class="field-text">Invoice</div></div>
          <div class="contents"><div class="field-text">Payouts</div></div>
          <div class="contents"><div class="field-text">Bulk Status Update</div></div>
          <div class="contents"><div class="field-text">All Users</div></div>
          <div class="contents"><div class="field-text">Review</div></div>
          <div class="contents"><div class="field-text">BO-Partners</div></div>
          <div class="contents"><div class="field-text">Promo Codes</div></div>
          <div class="contents"><div class="field-text">Academic Courses</div></div>
        </div>
      </aside>
    <!-- left side bar ends -->
    <!-- main area -->    
        <main>
        <!-- breadcrumb area -->    
        <div class="rectangleB">
            <div class="frameB">
                <div class="large-title">Prefill Data</div>
                <div class="text-wrapper">&gt;</div>
                <div class="large-title">Sources of Income</div>
                <div class="text-wrapper">&gt;</div>
                <div class="large-title">Other Source of income</div>
              </div>
        </div>
        
        <!-- breadcrumb area ends -->        
        
        <div class="frameC">
            <div class="div">
              <div class="text-wrapper">House Property</div>
              <div class="mingcute-down-fill"></div>
            </div>
            <div class="space">
              <div class="div-2">
                <div class="div-3">
                  <div class="contents-wrapper">
                    <div class="contents">
                      <div class="field-text">House Property 1</div>
                      <div class="group"><img class="material-symbols" src="assets/img/new/del.png" /></div>
                    </div>
                  </div>
                  <div class="contents-wrapper">
                    <div class="field-text-wrapper"><div class="field-text-2">+ Add Another Property</div></div>
                  </div>
                </div>

                
                <div class="div-4">               
                    <div class="frame-wrapper-2A">
                      
                        <div class="accordion" id="myAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header accoHdclr" id="headingOne">
                                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">Let Out House Property</button>									
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                                    <div class="card-body">

                                    <div class="surBx">

                                     <div class="hp2main">
                                      <div class="hplft">Gross Rent Received/Receivable/Letable Value <span class="redAst">*</span></div>
                                      <div class="hprgt"><input type="text" placeholder="₹ Enter Amount" class="form-control"> </div>
                                     </div>                                     
                                     <div class="hp2main">
                                      <div class="hplft">Amount of Property Tax <span class="redAst">*</span></div>
                                      <div class="hprgt"><input type="text"  placeholder="₹ Enter Amount" class="form-control"> </div>
                                     </div>
                                     <div class="hp2main">
                                      <div class="hplft">Annual value <span class="redAst">*</span></div>
                                      <div class="hprgt"><input type="text" class="form-control" disabled> </div>
                                     </div>
                                     <div class="hp2main">
                                      <div class="hplft">30% Of Annual Value <span class="redAst">*</span></div>
                                      <div class="hprgt"><input type="text" class="form-control" disabled> </div>
                                     </div>
                                     <div class="hp2main">
                                      <div class="hplft">Interest paid on housing loan <span class="redAst">*</span><br><span class="spntx">(If amount is more than 2Lakh, additional deduction is available u/s 80EE/80EEA)</span></div>
                                      <div class="hprgt"><input type="text" class="form-control"> </div>
                                     </div>
                                     <div class="hp2main">
                                      <div class="hplft">Arreas/Unrealised Rent received during year is less than 30% <span class="redAst">*</span></div>
                                      <div class="hprgt"><input type="text" class="form-control"> </div>
                                     </div>
                                     <div class="hp2mainClr">
                                      <div class="hplft">Net Taxable Income from this House Property</div>
                                      <div class="hprgt"><input type="text" class="form-control formClr" placeholder="₹ 56,000"> </div>
                                     </div>

                                    </div>

                                    <div class="surBx">

                                      <div class="hp2main">
                                       <div class="hplft">Principal on housing loan <span class="redAst">*</span></div>
                                       <div class="hprgt"><input type="text" placeholder="₹ Enter Amount" class="form-control"> </div>
                                      </div>                                     
 
                                     </div>

                                     

                                     

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Property Address</button>
                                    
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                      <div class="div-5">
                                        
                                        <div class="div-6">
                                          <div class="field">
                                            <div class="field-label">
                                              <span class="span">Address of the Employer </span> <span class="text-wrapper-2">*</span>
                                            </div>
                                            <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                          </div>                    
                                        </div>
                                        <div class="div-6">
                                          <div class="field">
                                            <div class="field-label">
                                              <span class="span">PIN Code </span> <span class="text-wrapper-2">*</span>
                                            </div>
                                            <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                          </div> 
                                          <div class="field">
                                            <div class="field-label">
                                              <span class="span">City </span> <span class="text-wrapper-2">*</span>
                                            </div>
                                            <input type="text" class="form-control inpplac" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mumbai">
                                          </div>                 
                                        </div>
                                        <div class="div-6">
                                          <div class="field">
                                            <div class="field-label">
                                              <span class="span">State </span> <span class="text-wrapper-2">*</span>
                                                <select class="form-control select" id="exampleFormControlSelect1">
                                                <option>Select</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                            </div>                 
                                          </div>
                                          <div class="field">
                                            <div class="field-label">
                                            <span class="span">Country </span> <span class="text-wrapper-2">*</span>
                                            <select class="form-control select" id="exampleFormControlSelect1">
                                              <option>India</option>
                                              <option>2</option>
                                              <option>3</option>
                                              <option>4</option>
                                              <option>5</option>
                                            </select>
                                            </div>
                                          
                                          </div>
                                        </div>
                                      </div>
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseThree">Co-ownership Details</button>                     
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                      
                                      <div class="hdTxMn">
                                       <div class="hdTxL">
                                        Is the Property Jointly Owned? <span class="redAst">*</span>
                                       </div>
                                      <div class="hdTxR">
                                       <input type="radio" checked><label> Yes</label>
                                       <input type="radio"><label> No</label>
                                       </div>
                                      </div>

                                       <div class="hp4main">
                                        <div class="hp4-1">
                                          <div class="field">
                                            <div class="field-label">
                                              <span class="span">Name of co-owner </span> <span class="redAst">*</span>
                                            </div>
                                            <input type="text" class="form-control gry" placeholder="Ravi Kumar">
                                          </div>   
                                        </div>

                                        <div class="hp4-2">
                                          <div class="field">
                                            <div class="field-label">
                                              <span class="span">Co-owner’s PAN </span> <span class="redAst">*</span>
                                            </div>
                                            <input type="text" class="form-control gry" placeholder="TTG4567FV">
                                          </div>   
                                        </div>

                                        <div class="hp4-3">
                                          <div class="field">
                                            <div class="field-label">
                                              <span class="span">Their % Share </span> <span class="redAst">*</span>
                                            </div>
                                            <input type="text" class="form-control gry" placeholder="67%">
                                          </div>   
                                        </div>

                                        <div class="hp4-4">
                                           <div class="Bx4">
                                           <div class="Bx4L">
                                            <button type="button"> <i class="fa fa-trash-o delbt"></i> </button> 
                                           </div>
                                           <div class="Bx4R">
                                           <button type="button" class="addAno"> + Add Another </button> 
                                           </div>
                                          </div> 
                                        </div>


                                       </div>
           
                                      
                                    </div>
                                </div>
                            </div>                           
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseThree">Tenant Details</button>                     
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                                <div class="card-body">

                                  <div class="hp4main">

                                    <div class="hp4A">

                                      <div class="field spcBtw">
                                        <div class="field-label">
                                          <span class="span">Name of tenant</span> <span class="redAst">*</span>
                                        </div>
                                        <input type="text" class="form-control gry" placeholder="Samiksha Joshi">
                                      </div> 
                                      
                                      <div class="field">
                                        <div class="field-label">
                                          <span class="span">Tenant’s PAN</span> <span class="redAst">*</span>
                                        </div>
                                        <input type="text" class="form-control gry" placeholder="TTG4567FV">
                                      </div>  

                                    </div>

                                    

                                    <div class="hp4-4">
                                       <div class="Bx4">
                                       <div class="Bx4L">
                                        <button type="button"> <i class="fa fa-trash-o delbt"></i> </button> 
                                       </div>
                                       <div class="Bx4R">
                                       <button type="button" class="addAno"> + Add Another </button> 
                                       </div>
                                      </div> 
                                    </div>


                                   </div>


                                </div>
                            </div>
                        </div>
                          


                        </div>
                                         
                    </div>
                    
             
              

             

                  <div class="out-box"> 
                    <div class="box-left">
                    <div class="lft-btn">Back</div>
                    </div>
                    <div class="box-right">
                      <div class="rght-btn">Save & View Summary</div>
                      </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
      </main>
    
    
    
    <!-- right side summary -->
    <aside class="aside-right">
      <button class="open-button" onclick="openForm()"><img class="icoSum" src="assets/img/new/summary.png"><div class="txAln">Show Summary</div></button>
      <div class="form-popup" id="myForm">
        <div class="frameS">
          <div class="contents-wrapper">
            <div class="contents">
              <div class="field-text">Summary</div>
              <a onclick="closeForm()"><img class="clos" src="assets/img/new/close.png"/></a>          
            </div>
          </div>
          <div class="space">
            <div class="div">
              <div class="field-wrapper">
                <div class="field-2">
                  <div class="field-label-2 hedTx">Particulars</div>
                  <div class="field-label-3 hedTx">All Employers</div>
                </div>
              </div>
              
            </div>
            <div class="div">
              <div class="field-wrapper">
                <div class="field-2">
                  <div class="field-label-2">17 (1)</div>
                  <div class="field-label-3">₹ 40,00,000</div>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-2">
                  <div class="field-label-2">17 (2)</div>
                  <div class="field-label-3">₹0</div>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-2">
                  <div class="field-label-2">17 (3)</div>
                  <div class="field-label-3">₹0</div>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-2">
                  <div class="field-label-2">Gross Salary</div>
                  <div class="field-label-3">₹0</div>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-2">
                  <div class="field-label-2">Exemptions u/s 10</div>
                  <div class="field-label-3">₹0</div>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-2">
                  <div class="field-label-4">Net Salary</div>
                  <div class="field-label-3">₹ 50,000</div>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-2">
                  <div class="field-label-4">Deduction u/s 16</div>
                  <div class="field-label-3">₹ 50,000</div>
                </div>
              </div>
            </div>
            <div class="div">
              <img class="img" src="img/line-2.svg" />
              <div class="field-wrapper">
                <div class="field-2">
                  <div class="field-label-2 hedTx">Taxable Salary</div>
                  <div class="field-label-3 hedTx">₹ 39,50,000</div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
      </aside>
    <!-- right side summary ends-->
    </div>
    <!-- main area ends -->
    
    
    
    
        