<div class="page-wrapper">

  <!-- left side bar start -->
  <aside class="aside-left">
    <div class="frameL">
      <div class="contents">
        <div class="field-text">Leader Dashboard</div>
      </div>
      <div class="div">
        <div class="text-wrapper">My Tasks</div>
        <img class="mingcute-down-fill" src="assets/img/new/up.png" />
      </div>
      <div class="div-2">
        <div class="field-text-wrapper">
          <div class="field-text">My Users</div>
        </div>
        <div class="field-text-wrapper">
          <div class="field-text-2">Scheduled Calls</div>
        </div>
        <div class="div-wrapper">
          <div class="text-wrapper">ITRs</div>
        </div>
        <div class="field-text-wrapper">
          <div class="field-text">Create User</div>
        </div>
        <div class="field-text-wrapper">
          <div class="field-text">Potential Users</div>
        </div>
      </div>
      <div class="contents">
        <div class="field-text">SME Management</div>
      </div>
      <div class="contents">
        <div class="field-text">Subscription</div>
      </div>
      <div class="contents">
        <div class="field-text">Invoice</div>
      </div>
      <div class="contents">
        <div class="field-text">Payouts</div>
      </div>
      <div class="contents">
        <div class="field-text">Bulk Status Update</div>
      </div>
      <div class="contents">
        <div class="field-text">All Users</div>
      </div>
      <div class="contents">
        <div class="field-text">Review</div>
      </div>
      <div class="contents">
        <div class="field-text">BO-Partners</div>
      </div>
      <div class="contents">
        <div class="field-text">Promo Codes</div>
      </div>
      <div class="contents">
        <div class="field-text">Academic Courses</div>
      </div>
    </div>
  </aside>
  <!-- left side bar ends -->
  <!-- main area -->
  <main>
    <!-- breadcrumb area -->
    <div class="rectangleB">
      <div class="frameB">
        <div class="large-title">Prefill Data</div>
        <div class="text-wrapper">&gt;</div>
        <div class="large-title">Sources of Income</div>
        <div class="text-wrapper">&gt;</div>
        <div class="large-title">Other Source of income</div>
      </div>
    </div>

    <!-- breadcrumb area ends -->
    <div class="frameC">
      <div class="div">
        <div class="text-wrapper">House Property</div>
        <div class="mingcute-down-fill"></div>
      </div>
      <div class="space">
        <div class="div-2">
          <div class="div-3">
            <div class="contents-wrapper">
              <div class="contents">
                <div class="field-text">House Property 1</div>
                <div class="group"><img class="material-symbols" src="assets/img/new/del.png" /></div>
              </div>
            </div>
            <div class="contents-wrapper">
              <div class="field-text-wrapper">
                <div class="field-text-2">+ Add Another</div>
              </div>
            </div>
          </div>

            <div class="div-2">  
              <div class="div-4">               
              <div class="frame-wrapper-2A">

                <div class="hdTxMnTp">
                  <div class="hdTxL">
                    What is the category of ownership?<span class="redAst">*</span>
                  </div>
                 <div class="hdTxR">
                  <input type="radio" class="spcR1"><label class="spcR"> Self Occupied</label>
                  <input type="radio" class="spcR1" checked><label class="spcR">Let Out</label>
                  <input type="radio" class="spcR1"><label>Deemed Let Out</label>
                  </div>
                 </div>

                <div class="accordion" id="myAccordion">
                  <div class="accordion-item">
                      <h2 class="accordion-header accoHdclr" id="headingOne">
                          <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">Let Out House Property</button>									
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                          <div class="card-body">
                            
                            <div class="surBx1">

                              <div class="hp2main">
                               <div class="hplft">Gross Rent Received/Receivable/Letable Value * </div>
                               <div class="hprgt"><input type="text" placeholder="₹ Enter Amount" class="form-control"> </div>
                              </div>                                     
                              <div class="hp2main">
                               <div class="hplft">Amount of Property Tax *</div>
                               <div class="hprgt"><input type="text"  placeholder="₹ Enter Amount" class="form-control"> </div>
                              </div>
                              <div class="hp2main">
                               <div class="hplft">Annual value *</div>
                               <div class="hprgt"><input type="text" class="form-control" disabled> </div>
                              </div>
                              <div class="hp2main">
                               <div class="hplft">30% Of Annual Value *</div>
                               <div class="hprgt"><input type="text" class="form-control" disabled> </div>
                              </div>
                              <div class="hp2main">
                                <div class="hplft">Interest paid on housing loan * <br><span class="subTx">(If amount is more than 2Lakh, additional deduction is available u/s 80EE/80EEA)</span></div>
                                <div class="hprgt"><input type="text"  placeholder="₹ Enter Amount" class="form-control"> </div>
                               </div>
                               <div class="hp2main">
                                <div class="hplft">Arreas/Unrealised Rent received during year is less than 30% *</div>
                                <div class="hprgt"><input type="text"  placeholder="₹ Enter Amount" class="form-control"> </div>
                               </div>
                               <div class="hp2main hglt">
                                <div class="hplft">Net Taxable Income from this House Property</div>
                                <div class="hprgt"><input type="text"  placeholder="₹56,000" class="form-control hgltfrm"> </div>
                               </div>
                            </div>

                            <div class="surBx1">

                              <div class="hp2main">
                               <div class="hplft">Principal on housing loan * </div>
                               <div class="hprgt"><input type="text" placeholder="₹ Enter Amount" class="form-control"> </div>
                              </div>                                     
                            
                            </div>
                                                                
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                        <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse2">Property Address</button>
                        
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                      <div class="card-body">
                        <div class="div-5">
                          <div class="div-6">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">Address line 1 </span> <span class="text-wrapper-2">*</span>
                              </div>
                              <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="">
                            </div>
                          </div>
                        
                          <div class="div-6">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">PIN Code </span> <span class="text-wrapper-2">*</span>
                              </div>
                              <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="field">
                              <div class="field-label">
                                <span class="span">City </span> <span class="text-wrapper-2">*</span>
                              </div>
                              <input type="text" class="form-control inpplac" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Mumbai">
                            </div>
                          </div>
                          <div class="div-6">
                            <div class="field">
                              <div class="field-label">
                                <span class="span">State </span> <span class="text-wrapper-2">*</span>
                                <select class="form-control select" id="exampleFormControlSelect1">
                                  <option>Select</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                              </div>
                            </div>
                            <div class="field">
                              <div class="field-label">
                                <span class="span">Country </span> <span class="text-wrapper-2">*</span>
                                <select class="form-control select" id="exampleFormControlSelect1">
                                  <option>India</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                              </div>
  
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="heading3">
                          <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse3">Co-ownership Details</button>
                          
                      </h2>
                      <div id="collapse3" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                          <div class="card-body">

                            <div class="hdTxMnBt">
                              <div class="hdTxL">
                                Is the Property Jointly Owned?<span class="redAst">*</span>
                              </div>
                             <div class="hdTxR">
                              <input type="radio" class="spcR1"><label class="spcR"> Yes</label>
                              <input type="radio" class="spcR1" checked><label class="spcR">No</label>                              
                              </div>
                             </div>

                            <div class="hp4main1">                                  

                              <div class="hp4-2">
                                <div class="field">
                                  <div class="field-label">
                                    <span class="span">Name of co-owner </span> <span class="redAst">*</span>
                                  </div>
                                  <input type="text" class="form-control gry" placeholder="Ravi Kumar">                                         
                                </div>   
                              </div>

                              <div class="hp4-3">
                                <div class="field">
                                  <div class="field-label">
                                    <span class="span">Co-owner’s PAN </span> <span class="redAst">*</span>
                                  </div>
                                  <input type="text" class="form-control gry" placeholder="TTGxxxxxx">
                                </div>   
                              </div>

                              <div class="hp4-3">
                                <div class="field">
                                  <div class="field-label">
                                    <span class="span">Their % Share </span> <span class="redAst">*</span>
                                  </div>
                                  <input type="text" class="form-control gry" placeholder="67%">
                                </div>   
                              </div>

                              <div class="hp4-4">
                                 <div class="Bx4">
                                 <div class="Bx4L">
                                  <button type="button"> <i class="fa fa-trash-o delbt"></i> </button> 
                                 </div>
                                 <div class="Bx4R">
                                 <button type="button" class="addAno"> + Add Another </button> 
                                 </div>
                                </div> 
                              </div>


                             </div>                            

                          </div>
                      </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                        <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse4">Tenant Details</button>
                        
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                        <div class="card-body">

                          <div class="hp4main1">                                  

                            <div class="hp4-2">
                              <div class="field">
                                <div class="field-label">
                                  <span class="span">Name of Tenant </span> <span class="redAst">*</span>
                                </div>
                                <input type="text" class="form-control gry" placeholder="Samiksha Joshi">                                         
                              </div>   
                            </div>

                            <div class="hp4-3">
                              <div class="field">
                                <div class="field-label">
                                  <span class="span">Tenant’s PAN </span> <span class="redAst">*</span>
                                </div>
                                <input type="text" class="form-control gry" placeholder="TTGxxxxxx">
                              </div>   
                            </div>
                     

                            <div class="hp4-4">
                               <div class="Bx4">
                               <div class="Bx4L">
                                <button type="button"> <i class="fa fa-trash-o delbt"></i> </button> 
                               </div>
                               <div class="Bx4R">
                               <button type="button" class="addAno"> + Add Another </button> 
                               </div>
                              </div> 
                            </div>


                           </div>                            

                        </div>
                    </div>
                </div>
              </div>
              </div>
            </div>

            <div class="out-box">
              <div class="box-left">
                <div class="lft-btn">Back</div>
              </div>
              <div class="box-right">
                <div class="rght-btn">Save & View Summary</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>



  <!-- right side summary -->
  <aside class="aside-right">
    <button class="open-button" onclick="openForm()"><img class="icoSum" src="assets/img/new/summary.png">
      <div class="txAln">Show Summary</div>
    </button>
    <div class="form-popup" id="myForm">
      <div class="frameS">
        <div class="contents-wrapper">
          <div class="contents">
            <div class="field-text">Summary</div>
            <a onclick="closeForm()"><img class="clos" src="assets/img/new/close.png" /></a>
          </div>
        </div>
        <div class="space">
          <div class="div">
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2 hedTx">Particulars</div>
                <div class="field-label-3 hedTx">All Employers</div>
              </div>
            </div>

          </div>
          <div class="div">
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2">17 (1)</div>
                <div class="field-label-3">₹ 40,00,000</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2">17 (2)</div>
                <div class="field-label-3">₹0</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2">17 (3)</div>
                <div class="field-label-3">₹0</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2">Gross Salary</div>
                <div class="field-label-3">₹0</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2">Exemptions u/s 10</div>
                <div class="field-label-3">₹0</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-4">Net Salary</div>
                <div class="field-label-3">₹ 50,000</div>
              </div>
            </div>
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-4">Deduction u/s 16</div>
                <div class="field-label-3">₹ 50,000</div>
              </div>
            </div>
          </div>
          <div class="div">
            <img class="img" src="img/line-2.svg" />
            <div class="field-wrapper">
              <div class="field-2">
                <div class="field-label-2 hedTx">Taxable Salary</div>
                <div class="field-label-3 hedTx">₹ 39,50,000</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!-- right side summary ends-->
</div>
<!-- main area ends -->