.roundCheck {
  border-radius: 20px !important;
  // margin-top: 60%;
  width: 30px;
  height: 30px;
}
.txwdt {
  width: 98%;
}
.txBg {
  font-size: 20px;
}
.btn1 {
  margin-left: 2% !important;
  width: 325px !important;
  background-color: #ffffff;
}
.btn1:hover {
  color: #ffffff;
  background-color: #1b67ba;
}
.btn2 {
  margin-left: 2% !important;
  width: 140px !important;
  background-color: #ffffff;
}
.btn2:hover {
  color: #ffffff;
  background-color: #1b67ba;
}

.delete-btn {
  background: #ffe1e1;
  border: 1px solid #e20000;
  border-radius: 6px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 350;
  font-size: 12px;
  line-height: 100%;
  padding: 8px;
  text-align: center;
  color: #e20000;
}

.lgtBtnTp{
  margin-left: 10px !important;
  background-color: #ffffff;
  color: #1b67ba;
  border: 2px solid #1b67ba;
  border-radius: 6px;
  height: 50px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600 !important;
  padding: 0px 14px 0px 14px;
  font-size: 15.5px;
}
.lgtBtnTp:hover{
  background-color: #1b67ba;
  color: #ffffff;
}

.lgtBtnTp1{
  margin-left: 10px !important;
  background-color: #ffffff;
  color: #1b67ba;
  border: 2px solid #1b67ba;
  border-radius: 6px;
  height: 50px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600 !important;
  padding: 0px 14px 0px 14px;
  font-size: 15.5px;
}
.lgtBtnTp1:hover{
  background-color: #1b67ba;
  color: #ffffff;
}

.lgtBtnTp2 {
  margin-left: 10px !important;
  background-color: #dff0d8;
  color: #3c763d;
  border: 2px solid #3c763d;
  border-radius: 6px;
  height: 50px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600 !important;
  padding: 0px 14px 0px 14px;
  font-size: 15.5px;
}

.lgtBtnTp2:hover {
  background-color: #3c763d;
  color: #ffffff;
}
