<div
    class="w-screen relative overflow-x-hidden min-h-screen bg-gray-100 scrollbar-hide ecommerce-dashboard-page dark:bg-[#000]">
    <div class="mx-auto text-gray-900 font-normal grid grid-rows-[auto,1fr] scrollbar-hide" id="layout">
        <!-- header -->
        <header
            class="bg-white flex justify-end flex-wrap bg-neutral-bg p-25 gap-5 md:py-6 md:pl-[25px] md:pr-[38px] lg:flex-nowrap dark:bg-dark-neutral-bg lg:gap-0">
            <div class="flex items-center order-2 user-noti gap-[30px] xl:gap-[48px] lg:order-3 lg:mr-0">
                <!-- Notifications  -->
                <div class="dropdown dropdown-end">
                    <label class="cursor-pointer dropdown-label" tabindex="0">
                        <div class="relative w-[26px] h-[26px]">
                            <img class="w-full h-full object-cover"
                                src="../../../../assets/icon-font/icon-notification-bing.svg" alt="notification icon" />
                            <div class="w-2 h-2 bg-fuchsia rounded-full absolute right-[1px] top-[-1px]"></div>
                        </div>
                    </label>
                    <ul class="dropdown-content" tabindex="0">
                        <div
                            class="relative menu rounded-box dropdown-shadow bg-white px-6 mt-[50px] min-w-[350px] pt-[21px] pb-[11px] dark:bg-dark-neutral-bg">
                            <div
                                class="border-solid border-b-8 border-x-transparent border-x-8 border-t-0 absolute border-b-white w-[14px] top-[-7px] right-[18px] dark:border-b-dark-neutral-bg">
                            </div>
                            <div
                                class="flex items-center justify-between pb-5 border-b border-neutral mb-[22px] dark:border-b-dark-neutral-border">
                                <p class="text-sm leading-4 text-gray-1100 font-semibold dark:text-gray-dark-1100">
                                    Notifications
                                </p>
                                <a class="text-color-brands text-xs hover:opacity-75" href="#">View All</a>
                            </div>
                            <li
                                class="rounded ml-[-14px] hover:bg-gray-100 w-[calc(100%+28px)] dark:hover:bg-gray-dark-100">
                                <div class="flex items-start bg-transparent gap-[10px] p-[14px]">
                                    <img class="w-8 h-8 rounded-full" src="assets/images/avatar-layouts-4.png"
                                        alt="user avatar" />
                                    <div>
                                        <div class="flex items-center gap-[15px] mb-[7px]">
                                            <p
                                                class="leading-4 text-gray-1100 font-semibold text-[10px] dark:text-gray-dark-1100">
                                                Jenny Wilson
                                            </p>
                                            <p
                                                class="leading-4 text-gray-500 text-[10px] dark:text-gray-dark-500 line-clamp-2">
                                                commented on your latest story
                                            </p>
                                        </div>
                                        <p class="leading-4 text-gray-500 text-[10px] dark:text-gray-dark-500">
                                            1 min ago
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <div class="w-full bg-neutral h-[1px] dark:bg-dark-neutral-border"></div>
                            <li
                                class="rounded ml-[-14px] hover:bg-gray-100 w-[calc(100%+28px)] dark:hover:bg-gray-dark-100">
                                <div class="flex items-start bg-transparent gap-[10px] p-[14px]">
                                    <img class="w-8 h-8 rounded-full" src="assets/images/avatar-layouts-1.png"
                                        alt="user avatar" />
                                    <div>
                                        <div class="flex items-center gap-[15px] mb-[7px]">
                                            <p
                                                class="leading-4 text-gray-1100 font-semibold text-[10px] dark:text-gray-dark-1100">
                                                Esther Howard
                                            </p>
                                            <p
                                                class="leading-4 text-gray-500 text-[10px] dark:text-gray-dark-500 line-clamp-2">
                                                commented on your latest story
                                            </p>
                                        </div>
                                        <p class="leading-4 text-gray-500 text-[10px] dark:text-gray-dark-500">
                                            3 mins ago
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <div class="w-full bg-neutral h-[1px] dark:bg-dark-neutral-border"></div>
                            <li
                                class="rounded ml-[-14px] hover:bg-gray-100 w-[calc(100%+28px)] dark:hover:bg-gray-dark-100">
                                <div class="flex items-start bg-transparent gap-[10px] p-[14px]">
                                    <img class="w-8 h-8 rounded-full" src="assets/images/avatar-layouts-2.png"
                                        alt="user avatar" />
                                    <div>
                                        <div class="flex items-center gap-[15px] mb-[7px]">
                                            <p
                                                class="leading-4 text-gray-1100 font-semibold text-[10px] dark:text-gray-dark-1100">
                                                Steven
                                            </p>
                                            <p
                                                class="leading-4 text-gray-500 text-[10px] dark:text-gray-dark-500 line-clamp-2">
                                                add new photos in Travel Album
                                            </p>
                                        </div>
                                        <p class="leading-4 text-gray-500 text-[10px] dark:text-gray-dark-500">
                                            5 mins ago
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <div class="w-full bg-neutral h-[1px] dark:bg-dark-neutral-border"></div>
                            <li
                                class="rounded ml-[-14px] hover:bg-gray-100 w-[calc(100%+28px)] dark:hover:bg-gray-dark-100">
                                <div class="flex items-start bg-transparent gap-[10px] p-[14px]">
                                    <img class="w-8 h-8 rounded-full" src="assets/images/avatar-layouts-3.png"
                                        alt="user avatar" />
                                    <div>
                                        <div class="flex items-center gap-[15px] mb-[7px]">
                                            <p
                                                class="leading-4 text-gray-1100 font-semibold text-[10px] dark:text-gray-dark-1100">
                                                Wada Warren
                                            </p>
                                            <p
                                                class="leading-4 text-gray-500 text-[10px] dark:text-gray-dark-500 line-clamp-2">
                                                posted new job
                                            </p>
                                        </div>
                                        <p class="leading-4 text-gray-500 text-[10px] dark:text-gray-dark-500">
                                            6 mins ago
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <div class="w-full bg-neutral h-[1px] dark:bg-dark-neutral-border"></div>
                            <li
                                class="rounded ml-[-14px] hover:bg-gray-100 w-[calc(100%+28px)] dark:hover:bg-gray-dark-100">
                                <div class="flex items-start bg-transparent gap-[10px] p-[14px]">
                                    <img class="w-8 h-8 rounded-full" src="assets/images/avatar-layouts-4.png"
                                        alt="user avatar" />
                                    <div>
                                        <div class="flex items-center gap-[15px] mb-[7px]">
                                            <p
                                                class="leading-4 text-gray-1100 font-semibold text-[10px] dark:text-gray-dark-1100">
                                                Jenny Wilson
                                            </p>
                                            <p
                                                class="leading-4 text-gray-500 text-[10px] dark:text-gray-dark-500 line-clamp-2">
                                                Updated her profile and company
                                            </p>
                                        </div>
                                        <p class="leading-4 text-gray-500 text-[10px] dark:text-gray-dark-500">
                                            8 mins ago
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
                <!-- User-Profile  -->
                <div class="dropdown dropdown-end">
                    <label class="cursor-pointer dropdown-label" tabindex="0"><img
                            src="../../../../assets/img/avatar-layouts-5.png" alt="user avatar" />
                    </label>
                    <ul class="dropdown-content" tabindex="0">
                        <div
                            class="relative menu rounded-box dropdown-shadow p-[25px] pb-[10px] bg-neutral-bg mt-[25px] md:mt-[40px] min-w-[237px] dark:text-gray-dark-500 dark:border-dark-neutral-border dark:bg-dark-neutral-bg">
                            <div
                                class="border-solid border-b-8 border-x-transparent border-x-8 border-t-0 absolute w-[14px] top-[-7px] border-b-neutral-bg dark:border-b-dark-neutral-bg right-[18px]">
                            </div>
                            <li
                                class="text-gray-500 hover:text-gray-1100 hover:bg-gray-100 dark:text-gray-dark-500 dark:hover:text-gray-dark-1100 dark:hover:bg-gray-dark-100 rounded-lg group p-[15px] pl-[21px]">
                                <a class="flex items-center bg-transparent p-0 gap-[7px]" href="sign-in.html">
                                    <i class="w-4 h-4 grid place-items-center"><img
                                            class="group-hover:filter-black dark:group-hover:filter-white"
                                            src="assets/images/icons/icon-user.svg"
                                            alt="icon" /></i><span>Profile</span></a>
                            </li>
                            <li
                                class="text-gray-500 hover:text-gray-1100 hover:bg-gray-100 dark:text-gray-dark-500 dark:hover:text-gray-dark-1100 dark:hover:bg-gray-dark-100 rounded-lg group p-[15px] pl-[21px]">
                                <a class="flex items-center bg-transparent p-0 gap-[7px]" href="#">
                                    <i class="w-4 h-4 grid place-items-center"><img
                                            class="group-hover:filter-black dark:group-hover:filter-white"
                                            src="assets/images/icons/icon-favorite-chart.svg"
                                            alt="icon" /></i><span>Dashboard</span></a>
                            </li>
                            <li
                                class="text-gray-500 hover:text-gray-1100 hover:bg-gray-100 dark:text-gray-dark-500 dark:hover:text-gray-dark-1100 dark:hover:bg-gray-dark-100 rounded-lg group p-[15px] pl-[21px]">
                                <a class="flex items-center bg-transparent p-0 gap-[7px]" href="#">
                                    <i class="w-4 h-4 grid place-items-center"><img
                                            class="group-hover:filter-black dark:group-hover:filter-white"
                                            src="assets/images/icons/icon-bitcoin-card.svg"
                                            alt="icon" /></i><span>Payouts</span></a>
                            </li>
                            <li
                                class="text-gray-500 hover:text-gray-1100 hover:bg-gray-100 dark:text-gray-dark-500 dark:hover:text-gray-dark-1100 dark:hover:bg-gray-dark-100 rounded-lg group p-[15px] pl-[21px]">
                                <a class="flex items-center bg-transparent p-0 gap-[7px]" href="#">
                                    <i class="w-4 h-4 grid place-items-center"><img
                                            class="group-hover:filter-black dark:group-hover:filter-white"
                                            src="assets/images/icons/icon-trade.svg"
                                            alt="icon" /></i><span>Statement</span></a>
                            </li>
                            <li
                                class="text-gray-500 hover:text-gray-1100 hover:bg-gray-100 dark:text-gray-dark-500 dark:hover:text-gray-dark-1100 dark:hover:bg-gray-dark-100 rounded-lg group p-[15px] pl-[21px]">
                                <a class="flex items-center bg-transparent p-0 gap-[7px]" href="#">
                                    <i class="w-4 h-4 grid place-items-center"><img
                                            class="group-hover:filter-black dark:group-hover:filter-white"
                                            src="assets/images/icons/icon-sun.svg"
                                            alt="icon" /></i><span>Settings</span></a>
                            </li>
                            <div class="w-full bg-neutral h-[1px] my-[7px] dark:bg-dark-neutral-border"></div>
                            <li
                                class="text-gray-500 hover:text-gray-1100 hover:bg-gray-100 dark:text-gray-dark-500 dark:hover:text-gray-dark-1100 dark:hover:bg-gray-dark-100 rounded-lg group p-[15px] pl-[21px]">
                                <a class="flex items-center bg-transparent p-0 gap-[7px]" href="#">
                                    <i class="w-4 h-4 grid place-items-center"><img
                                            class="group-hover:filter-black dark:group-hover:filter-white"
                                            src="assets/images/icons/icon-logout.svg" alt="icon" /></i><span>Log
                                        out</span></a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </header>
        <!-- main-div  -->
        <main class="bg-white overflow-x-scroll scrollbar-hide flex flex-col justify-between px-[23px] pb-[28px]">
            <div>
                <div class="rounded-2x1 bg-white px-[25px]">
                    <!-- Prefill-Header  -->
                    <h2
                        class="capitalize text-gray-1100 font-bold text-2xl leading-[35px] dark:text-gray-dark-1100 pb-[18px]">
                        Prefill
                    </h2>

                    <!-- prefill-subheading  -->

                </div>

                <!-- prefill-content  -->
                <div
                    class="rounded-2xl bg-neutral-bg dark:border-dark-neutral-border dark:bg-dark-neutral-bg overflow-scroll scrollbar-hide p-[25px] mb-[33px]">
                    <div
                        class="flex items-center justify-between pb-4 border-neutral border-b dark:border-dark-neutral-border">
                        <p class="text-subtitle-semibold font-semibold text-gray-1100 dark:text-gray-dark-1100">
                            Please select download or import option to have your pre-filled
                            data to proceed further
                        </p>
                    </div>

                    <!-- prefill options -->
                    <div class="p-7 dark:bg-dark-neutral-bg dark:border-dark-neutral-border">
                        <!-- prefill-options  -->
                        <div class="flex flex-col gap-y-3 p-[25px] mb-[25px]">
                            <!-- download-prefill  -->
                            <div
                                class="bg-gray-100 border border-neutral-accent flex items-start justify-between flex-col gap-y-2 lg:items-center dark:bg-gray-dark-100 rounded-[10px] dark:border-dark-neutral-border pt-[27px] pl-[21px] pb-[30px] pr-[26px] lg:flex-row">
                                <div class="flex items-start flex-col lg:items-center gap-x-[14px] lg:flex-row">
                                    <div class="mb-5 w-[52px] h-[52px] lg:mb-0">
                                        <input
                                            class="checkbox checkbox-primary rounded border-2 w-[18px] h-[18px] mb-[-6px]"
                                            type="checkbox" />
                                    </div>
                                    <div class="flex flex-col gap-y-[6px]">
                                        <div
                                            class="text-base leading-5 text-gray-1100 font-semibold dark:text-gray-dark-1100 text-center lg:text-left">
                                            Download Prefill Data
                                        </div>
                                        <div class="flex gap-x-4 items-stretch flex-col lg:items-center lg:flex-row">
                                            <span class="text-xs text-color-brands">Please select this option to
                                                download the prefill
                                                data of the user</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- upload-prefill  -->
                            <div
                                class="bg-gray-100 border border-neutral-accent flex items-start justify-between flex-col gap-y-2 lg:items-center dark:bg-gray-dark-100 rounded-[10px] dark:border-dark-neutral-border pt-[27px] pl-[21px] pb-[30px] pr-[26px] lg:flex-row">
                                <div class="flex items-start flex-col lg:items-center gap-x-[14px] lg:flex-row">
                                    <div class="mb-5 w-[52px] h-[52px] lg:mb-0">
                                        <input
                                            class="checkbox checkbox-primary rounded border-2 w-[18px] h-[18px] mb-[-6px]"
                                            type="checkbox" />
                                    </div>
                                    <div class="flex flex-col gap-y-[6px]">
                                        <div
                                            class="text-base leading-5 text-gray-1100 font-semibold dark:text-gray-dark-1100 text-center lg:text-left">
                                            Upload Prefill Data
                                        </div>
                                        <div class="flex gap-x-4 items-stretch flex-col lg:items-center lg:flex-row">
                                            <span class="text-xs text-color-brands">Please select this option if you
                                                already have the
                                                prefill and want to upload and parse it.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <!-- action-buttona  -->
                        <div class="flex justify-between p-[30px]">
                            <button
                                class="btn normal-case h-fit min-h-fit transition-all duration-100 bg-white hover:bg-sky-700 hover:border-sky-700 hover:text-white py-3 px-7">
                                <span class="font-semibold text-gray-1100">Skip to Sources of Income</span>
                            </button>

                            <button
                                class="btn normal-case h-fit min-h-fit transition-all duration-300 bg-sky-600 hover:bg-sky-700 hover:border-sky-700 py-3 px-7">
                                <span class="font-semibold text-white">Proceed further</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


</div>