@import "../../../../../ux/scss/style.scss";
.header_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  padding: 8px 24px;
  flex-grow: 1;
  background-color: #e7e7e7;
  border-radius: 4px 4px 0px 0px;
}

.inl{
  flex-direction: row!important;
  margin-top: 35px;
}


.wrap-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;

  img {
    position: relative;
    width: 24px;
    height: 24px;
  }
}

.input-field-width{
  padding-left:10px!important;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 24px;
  position: relative;
}

.space {
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;
  padding: 20px;
  border: 1px solid #E2E4E5;
  border-top: 0;
}

.frameC {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: flex-start;
  position: relative;
}

.div-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.div-6 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
}

.mat-mdc-select-panel{
  margin-top: 50px!important;
}

.add-btn{
  top: 15px;
  position: relative;
  right: 142px;
}

.cdk-overlay-pane {
  margin-top: 45px!important;
}


.del {
  margin-top: 22px;
  display: block;
  border: 1px solid #ff0000;
  width: 80px;
  text-align: center;
  border-radius: 6px;
}

.frame-wrapper-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.mvrl{
  margin-left: 100px;
  margin-top: -10px;
}

.note{
  color: #b60000;
  font-style: italic;
  font-size: 14px;
  line-height:1.5;
}
