<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div class="main clearfix">
  <div class="align-items-center row">
    <div class="col-sm-10">
      <b style="font-size: 20px">Assigned Users</b>
    </div>
  </div>
  <div class="content content_full">
    <div class="content__container">
      <div class="card">

        <div class="card__row">
          <div class="filter__col card__col-xs-12">
            <!--  <mat-form-field appearance="outline">
              <mat-label>Select Agent</mat-label>
              <mat-select placeholder="Select Agent" [(ngModel)]="agentId" (selectionChange)="this.search('agent')">
                <mat-option *ngFor="let agent of agents" [value]="agent.userId">
                  {{ agent.name}} - {{agent.serviceType}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
            <app-sme-list-drop-down (sendOwner)="fromSme($event, true)" (sendFiler)="fromSme($event, false)"></app-sme-list-drop-down>
          </div>
        </div>
        <div class="card__row">
          <div class="filter__col card__col-sm-3 card__col-xs-12">
            <app-service-drop-down (sendService)="fromServiceType($event)" [(ngModel)]="searchParam.serviceType"></app-service-drop-down>
          </div>
          <div *ngIf="itrStatus" class="filter__col card__col-sm-3 card__col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Select Status</mat-label>
              <mat-select placeholder="Select Status" [(ngModel)]="searchParam.statusId"
                (selectionChange)="this.search('status')">
                <mat-option *ngFor="let status of itrStatus" [value]="status.statusId">
                  {{ status.statusName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="filter__col card__col-sm-2 card__col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Mobile Number: </mat-label>
              <input matInput placeholder="Enter Mobile Number" [(ngModel)]="searchParam.mobileNumber"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeypress=" event.charCode >= 48 && event.charCode <= 57" maxlength="10">
            </mat-form-field>
          </div>

          <div class="filter__col card__col-sm-2 card__col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Email Address: </mat-label>
              <input matInput placeholder="Enter Email Address" [(ngModel)]="searchParam.emailId" maxlength="50">
            </mat-form-field>
          </div>

          <div class="filter__col card__col-sm-2 card__col-xs-12">
            <!-- <a class="btn btn_stroke filter__add-link" (click)="this.search('mobile')"><i class="fa fa-search"
                aria-hidden="true" style="color: #2ed13b;"></i>&nbsp;Search</a> -->
            <button class="tbd-btn" (click)="this.search('mobile')"><i class="fa fa-search"
                aria-hidden="true"></i>&nbsp;Search</button>
          </div>
        </div>
        <p style="float: right;"> Total Count: <b>{{config.totalItems}}</b></p>
        <br>
        <div class="card__row">
          <table>
            <tr *ngFor="let item of userInfo | paginate:config"></tr>
          </table>

          <ag-grid-angular class="ag-theme-balham" [gridOptions]="usersGridOptions"
            (rowClicked)="onUsersRowClicked($event)">
            <!--    paginationPageSize=15 pagination=true-->
          </ag-grid-angular>

          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
