<div class="fordialnotes">
    <div class="notes-header">
        <div class="saved-notes mb-2" mat-dialog-title><b>{{ data.title }}</b></div>
        <div>
            <button mat-dialog-close (click)="updateReason(false)" class="tbd-btn-close card__col-lg-1">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <hr>
    <div class="card__row" style="width: 100%; height: 35px; margin: 0px;">
        <div class="card__col-xs-12 card__col-sm-9 card__col-md-9 card__col-lg-9">
            <mat-label>Reason: </mat-label>
            <mat-form-field class="notes-input" appearance="outline">
                <textarea matInput [formControl]="reason" cdkTextareaAutosize cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="9" name="reason" placeholder="Enter your reason..."></textarea>
                <mat-error class="error-msg" *ngIf="reason.hasError('required')">Please enter the
                    reason</mat-error>
            </mat-form-field>
        </div>
        <div class="card__col-xs-12 card__col-sm-3 card__col-md-3 card__col-lg-3">
            <button type="submit" class="new-button-1" (click)="updateReason(true)">
                Add Reason
            </button>
        </div>
    </div>

</div>