.header-content {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 12px 18px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #157999;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid;
    border-color: #a6a6a6;
    align-items: center;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 28px;
}

.button_primary{
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    gap: 24px;
    padding: 8px 24px;
    flex: 0 0 auto;
    border-radius: 4px;
    background-color: #157999;
    border: 1.5px solid;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.button_secondary{
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    gap: 24px;
    padding: 8px 24px;
    flex: 0 0 auto;
    border-radius: 4px;
    border: 1.5px solid;
    border-color: #157999;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #157999;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.header_btn_primary{
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    padding: 8px 24px;
    background-color: #157999;
    border-radius: 4px 4px 0px 0px;
    border: 1.5px solid;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "DM Sans-Medium", Helvetica;
    border-color: #157999;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.header_btn_secondary{
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    padding: 8px 24px;
    background-color: #ffffff;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid;
    border-color: #157999;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #2f2f2f;
    font-size: 12px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: 28px;
}