<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div>
    <form [formGroup]="housePropertyForm">
        <mat-accordion>
            <mat-expansion-panel class="color-panel accordion-border" [expanded]="true">
                <mat-expansion-panel-header>
                    <div class="card__title" style="font-size: 20px;">House Property Income</div>
                </mat-expansion-panel-header>

                <div class="content vertLine" style="width: 35%;">Ashish</div>

                <div class="content" style="width: 65%;">
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Select Property Type</mat-label>
                                <mat-select placeholder="Select Property Type" name="propertyType"
                                    formControlName="propertyType"
                                    (selectionChange)="changePropType(housePropertyForm.controls['propertyType'].value)"
                                    required>
                                    <mat-option *ngFor="let propertyType of propertyTypeDropdown"
                                        [value]="propertyType.value">
                                        {{ propertyType.label | titlecase}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <span formArrayName="loans">
                            <span *ngFor="let coOwn of getLoansArray.controls;let i=index" [formGroupName]="i">
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Principal amount repaid during the year</mat-label>
                                        <input matTooltip="Principal amount repaid during the year"
                                            matTooltipClass="tab-tooltip" matTooltipPosition="above"
                                            formControlName="principalAmount" matInput
                                            placeholder="Principal amount repaid during the year"
                                            name="Total principle amount" class="input-field" maxlength="14"
                                            type="number"
                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                        <mat-error
                                            *ngIf="housePropertyForm.controls.loans['controls'][i].controls['principalAmount'].hasError('pattern')">
                                            Enter
                                            positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Interest payable on borrowed capital</mat-label>
                                        <input formControlName="interestAmount" matInput
                                            placeholder="Interest amount for this year" name="Total interest amount"
                                            class="input-field" maxlength="14" type="number" (blur)="checkEligibility()"
                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                                        <mat-error
                                            *ngIf="housePropertyForm.controls.loans['controls'][i].controls['interestAmount'].hasError('pattern') ||
                                  housePropertyForm.controls.loans['controls'][i].controls['interestAmount'].hasError('min')">
                                            Enter
                                            positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </span>
                        </span>
                    </div>
                    <mat-radio-group name="isEligibleFor80EE" formControlName="isEligibleFor80EE"
                        *ngIf="housePropertyForm.controls.loans['controls'][0].controls['interestAmount'].value >= 200000">
                        <div class="customradiobtn bdr_btm">
                            <mat-radio-button value="80EE" class="right-mrgn">Interest on loan taken for residential
                                house
                                property (80EE)</mat-radio-button>
                        </div>
                        <div class="customradiobtn">
                            <mat-radio-button value="80EEA" class="right-mrgn">Deduction in respect of interest on loan
                                taken for certain house property (80EEA)</mat-radio-button>&nbsp;&nbsp;
                        </div>
                    </mat-radio-group>
                    <div class="card__row"
                        *ngIf="housePropertyForm.controls['propertyType'].value === 'LOP' || housePropertyForm.controls['propertyType'].value === 'DLOP'">
                        <div class="card__col-xs-12 card__col-sm-4">
                            <mat-form-field appearance="outline">
                                <mat-label>
                                    {{housePropertyForm.controls['propertyType'].value === 'LOP' ? 'Total amount of rent received during the year?':
                                    (housePropertyForm.controls['propertyType'].value === 'DLOP' ? 'What was the expected rent amount from said property?' :'')}}
                                </mat-label>
                                <input formControlName="grossAnnualRentReceived" matInput
                                    placeholder="{{housePropertyForm.controls['propertyType'].value === 'LOP' ? 'Total amount of rent received during the year?':
                                        (housePropertyForm.controls['propertyType'].value === 'DLOP' ? 'What was the expected rent amount from said property?' :'')}}"
                                    matTooltipClass="tab-tooltip"
                                    matTooltip="{{housePropertyForm.controls['propertyType'].value === 'LOP' ? 'Total amount of rent received during the year?':
                                        (housePropertyForm.controls['propertyType'].value === 'DLOP' ? 'What was the expected rent amount from said property?' :'')}}"
                                    name="rentAmount" class="input-field" maxlength="11" type="number"
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                                <mat-error
                                    *ngIf="housePropertyForm.controls['grossAnnualRentReceived'].hasError('pattern')">
                                    Enter
                                    positive amount without decimal.</mat-error>
                                <mat-error
                                    *ngIf="housePropertyForm.controls['grossAnnualRentReceived'].hasError('min')">Amount
                                    can not be 0.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Amount of property tax paid during the year?</mat-label>
                                <input formControlName="propertyTax" matInput currencyMask
                                    placeholder="Amount of property tax paid during the year?" name="propertyTax"
                                    class="input-field" maxlength="11" type="number"
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                <mat-error *ngIf="housePropertyForm.controls['propertyTax'].hasError('pattern')">Enter
                                    positive amount without decimal.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>


                    <div class="pull-right">
                        <!-- <a class="btn btn-cancel">Cancel</a> -->
                        <button class="btn long-btn" style="border: none;" (click)="saveHpDetails()">Save
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
</div>