<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div>
    <form [formGroup]="housePropertyForm">
        <mat-accordion>
            <mat-expansion-panel class="color-panel accordion-border" [expanded]="true"
                style="display: contents !important;">
                <mat-expansion-panel-header>
                    <div class="card__title" style="font-size: 20px;">House Property Income: {{getHpTaxableIncome()}}
                    </div>
                </mat-expansion-panel-header>

                <!--  <div class="content vertLine" style="width: 60%; padding-right: 10px;">
                    <app-document-upload (uploadDocument)="afterUploadDocs($event)"></app-document-upload>
                    <br>
                    <div>
                        <span *ngFor="let hpDocs of getAllHpDocs('LOAN_STATEMENT'); let i=index">
                            <div style="padding: 5px; display: block; text-decoration:underline;">
                                <a *ngIf="!hpDocs.isDeleted" href="javascript:;" (click)="getHpDocsUrl(i)">{{hpDocs.fileName}}</a>
                                <button *ngIf="!hpDocs.isDeleted" (click)="deleteFile(hpDocs.fileName)" style="float: right;"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                <a *ngIf="hpDocs.isDeleted" >{{hpDocs.fileName}}</a> &nbsp;&nbsp;
                                <button *ngIf="hpDocs.isDeleted" (click)="deletedFileInfo(hpDocs.cloudFileId)" style="float: right;" title="Deleted file information"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                            </div>
                           
                        </span>
                        <div *ngIf="deletedFileData.length > 0" class="userInfo">
                            <button style="float: right; margin-bottom: 3px;" (click)="closeDialog()"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                            <table>
                                <tr>
                                    <th><b>Doc Deleted By</b></th>
                                    <th><b>Action</b></th>
                                    <th><b>Date</b></th>
                                </tr>
                                <tr *ngFor="let data of deletedFileData">
                                    <td>{{data.actionBy === ITR_JSON.userId ? 'User' : 'Tax Buddy'}}</td>
                                    <td>{{data.action}}</td>
                                    <td>{{data.date | date}}</td>
                                </tr>
                            </table>
                        </div> 
                    </div>
                    <br><br><br>
                    <ngx-image-zoom *ngIf="hpDocDetails.docType.toLowerCase() !== 'pdf' || hpDocDetails.docType.toLowerCase() !== 'xls' || hpDocDetails.docType.toLowerCase() !== 'doc' || hpDocDetails.docType.toLowerCase() !== 'xlsx' || hpDocDetails.docType.toLowerCase() !== 'docx'" [thumbImage]="hpDocDetails.docUrl"
                        [fullImage]="hpDocDetails.docUrl" [magnification]="1" [enableScrollZoom]="true"
                        [enableLens]="true" [lensWidth]="200">
                    </ngx-image-zoom>

                    <ngx-doc-viewer *ngIf="hpDocDetails.docType.toLowerCase() === 'pdf' || hpDocDetails.docType.toLowerCase() === 'xls' || hpDocDetails.docType.toLowerCase() !== 'Pdf' || hpDocDetails.docType.toLowerCase() === 'doc' || hpDocDetails.docType.toLowerCase() === 'xlsx' || hpDocDetails.docType.toLowerCase() === 'docx'"
                      [url]="hpDocDetails.docUrl" viewer="google"  style="width:100%;height:93vh;">
                   </ngx-doc-viewer>

                    <div *ngIf="hpDocDetails.docUrl ===''">
                        House property documents not uploaded/Selected
                    </div>
                </div> -->

                <div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Select Property Type</mat-label>
                                <mat-select placeholder="Select Property Type" name="propertyType"
                                    formControlName="propertyType"
                                    (selectionChange)="changePropType(housePropertyForm.controls['propertyType'].value)"
                                    required>
                                    <mat-option *ngFor="let propertyType of propertyTypeDropdown"
                                        [value]="propertyType.value">
                                        {{ propertyType.label | titlecase}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <span formArrayName="loans">
                            <span *ngFor="let coOwn of getLoansArray.controls;let i=index" [formGroupName]="i">
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Principal amount repaid during the year</mat-label>
                                        <input matTooltip="Principal amount repaid during the year"
                                            matTooltipClass="tab-tooltip" matTooltipPosition="above"
                                            formControlName="principalAmount" matInput
                                            placeholder="Principal amount repaid during the year"
                                            name="Total principle amount" class="input-field" maxlength="14" digitsOnly>
                                        <mat-error
                                            *ngIf="housePropertyForm.controls['loans'].controls[i].controls['principalAmount'].hasError('pattern')">
                                            Enter
                                            positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Interest payable on borrowed capital</mat-label>
                                        <input formControlName="interestAmount" matInput
                                            placeholder="Interest amount for this year" name="Total interest amount"
                                            class="input-field" maxlength="14" (blur)="checkEligibility()" digitsOnly
                                            required>
                                        <mat-error
                                            *ngIf="housePropertyForm.controls['loans'].controls[i].controls['interestAmount'].hasError('pattern')">
                                            Enter positive number without decimal.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </span>
                        </span>
                    </div>
                    <mat-radio-group name="isEligibleFor80EE" formControlName="isEligibleFor80EE"
                        *ngIf="housePropertyForm.controls['loans'].controls[0].controls['interestAmount'].value >= 200000">
                        <div class="customradiobtn bdr_btm">
                            <mat-radio-button value="80EE" class="right-mrgn">Interest on loan taken for residential
                                house
                                property (80EE)</mat-radio-button>
                        </div>
                        <div class="customradiobtn">
                            <mat-radio-button value="80EEA" class="right-mrgn">Deduction in respect of interest on loan
                                taken for certain house property (80EEA)</mat-radio-button>&nbsp;&nbsp;
                        </div>
                    </mat-radio-group>
                    <div class="card__row"
                        *ngIf="housePropertyForm.controls['propertyType'].value === 'LOP' || housePropertyForm.controls['propertyType'].value === 'DLOP'">
                        <div class="card__col-xs-12 card__col-sm-4">
                            <mat-form-field appearance="outline">
                                <mat-label>
                                    {{housePropertyForm.controls['propertyType'].value === 'LOP' ? 'Total amount of rent
                                    received during the year?':
                                    (housePropertyForm.controls['propertyType'].value === 'DLOP' ? 'What was the
                                    expected rent amount from said property?' :'')}}
                                </mat-label>
                                <input formControlName="grossAnnualRentReceived" matInput
                                    placeholder="{{housePropertyForm.controls['propertyType'].value === 'LOP' ? 'Total amount of rent received during the year?':
                                        (housePropertyForm.controls['propertyType'].value === 'DLOP' ? 'What was the expected rent amount from said property?' :'')}}"
                                    matTooltipClass="tab-tooltip"
                                    matTooltip="{{housePropertyForm.controls['propertyType'].value === 'LOP' ? 'Total amount of rent received during the year?':
                                        (housePropertyForm.controls['propertyType'].value === 'DLOP' ? 'What was the expected rent amount from said property?' :'')}}"
                                    name="rentAmount" class="input-field" maxlength="11" digitsOnly required>
                                <mat-error
                                    *ngIf="housePropertyForm.controls['grossAnnualRentReceived'].hasError('pattern')">
                                    Enter
                                    positive amount without decimal.</mat-error>
                                <mat-error
                                    *ngIf="housePropertyForm.controls['grossAnnualRentReceived'].hasError('min')">Amount
                                    can not be 0.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Amount of property tax paid during the year?</mat-label>
                                <input formControlName="propertyTax" matInput currencyMask
                                    placeholder="Amount of property tax paid during the year?" name="propertyTax"
                                    class="input-field" maxlength="11" digitsOnly>
                                <mat-error *ngIf="housePropertyForm.controls['propertyTax'].hasError('pattern')">Enter
                                    positive amount without decimal.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>


                    <div class="pull-right">
                        <!-- <a class="btn btn-cancel">Cancel</a> -->
                        <button class="tbd-btn-secondary" (click)="deleteHpDetails()">Delete
                        </button>
                        <button class="tbd-btn" (click)="saveHpDetails()">Save
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
</div>