<form [formGroup]="scheduleVda">
  <div class="frameC">
    <h1 class="heading__title">Schedule VDA</h1>
    <div class="space">
      <span class="normal_text">Income from transfer of Virtual Digital Assets</span>
      <button class="btn btn__default btn__add btn-rt" (click)="add('addEmpty')">Add</button>

      <div class="frame-wrapper-2A">
        <div class="accordion" id="myAccordion">

          <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
              <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapse1"><span class="box-left">
                                            Crypto - Schedule VDA
                                        </span>
              </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
              <div class="accordion__item-body">

                <div style="overflow-x:auto;">
                  <table aria-label="crypto vda">
                    <thead>
                    <tr>
                      <th class=""></th>
                      <th class="">DATE OF TRANSFER (2)</th>
                      <th class="">DATE OF ACQUISITION (3)</th>
                      <th class="">HEAD UNDER WHICH INCOME
                        TO BE TAXED<br /> (BUSINESS/CAPITAL GAIN) (4)
                      </th>
                      <th class="">COST OF ACQUISITION (5)</th>
                      <th class="">CONSIDERATION RECEIVED (6)
                      </th>
                      <th class="">INCOME
                        (ENTER NIL IN CASE OF LOSS) (7)</th>
                    </tr>
                    </thead>
                    <tbody formArrayName="vdaArray">
                      <tr
                              class="tds-on"
                              *ngFor="let vda of getVdaArray.controls; let i = index"
                              [formGroupName]="i"
                      >
                        <!-- checkbox -->
                        <td>
                          <mat-checkbox
                                  color="primary"
                                  name="hasEdit[i]"
                                  formControlName="hasEdit"
                                  class="">
                          </mat-checkbox>
                        </td>

                        <!-- date of transfer -->
                        <td>
                          <mat-form-field appearance="outline">
                            <input appDateInput
                                    [max]="maxDate"
                                    matInput
                                    placeholder="DD/MM/YYYY"
                                    name="dateOfTransfer[i]"
                                    [matDatepicker]="dateofTransfer"
                                    autocomplete="off"
                                    formControlName="dateOfTransfer"
                                    required
                            />
                            <mat-datepicker-toggle
                                    matSuffix
                                    [for]="dateofTransfer"></mat-datepicker-toggle>
                            <mat-datepicker #dateofTransfer></mat-datepicker>
                          </mat-form-field>
                        </td>

                        <!-- date of acquisition-->
                        <td>
                          <mat-form-field appearance="outline">
                            <input appDateInput
                                    [max]="vda.get('dateOfTransfer').value"
                                    matInput
                                    placeholder="DD/MM/YYYY"
                                    name="dateOfAcquisition[i]"
                                    [matDatepicker]="dateofAcquisition"
                                    autocomplete="off"
                                    formControlName="dateOfAcquisition"
                                    required
                            />
                            <mat-datepicker-toggle
                                    matSuffix [for]="dateofAcquisition"></mat-datepicker-toggle>
                            <mat-datepicker #dateofAcquisition></mat-datepicker>
                          </mat-form-field>
                        </td>

                        <!-- head of income -->
                        <td>
                          <mat-form-field appearance="outline">
                            <mat-select
                                    formControlName="headOfIncome"
                                    name="headOfIncome[i]"
                                    placeholder="headOfIncome"
                                    (selectionChange)="calcInc(i)"
                                    required
                            >
                              <mat-option
                                      *ngFor="let headOfIncome of headOfIncomes"
                                      [value]="headOfIncome"
                                      matTooltip="{{ headOfIncome }}"
                              >
                                {{ headOfIncome }}
                              </mat-option></mat-select
                            >
                          </mat-form-field>
                        </td>

                        <!-- cost of acquisition -->
                        <td>
                          <mat-form-field appearance="outline">
                            <input
                                    matInput digitsOnly
                                    name="costOfAcquisition[i]"
                                    formControlName="costOfAcquisition"
                                    placeholder="costOfAcquisition"
                                    (change)="calcInc(i)"
                                    readOnly
                                    required
                            />
                          </mat-form-field>
                        </td>

                        <!-- consideration received -->
                        <td>
                          <mat-form-field appearance="outline">
                            <input
                                    matInput digitsOnly
                                    name="considerationReceived[i]"
                                    formControlName="considerationReceived"
                                    placeholder="considerationReceived"
                                    (change)="calcInc(i)"
                                    required
                            />
                          </mat-form-field>
                        </td>

                        <!-- income -->
                        <td>
                          <mat-form-field appearance="outline">
                            <input
                                    matInput digitsOnly
                                    name="income[i]"
                                    formControlName="income"
                                    placeholder="income"
                                    readonly
                                    required
                            />
                          </mat-form-field>
                        </td>
                      </tr>

                      <!-- 2nd question -->
                      <tr class="table-header">
                        <td colspan="6">
                          Total (Sum of all Positive Incomes of Business Income in Col. 7)
                        </td>
                        <td>
                          {{ businessTotal }}
                        </td>
                      </tr>
                      <!-- 3rd Question -->
                      <tr class="table-header">
                        <td colspan="6">
                          Total (Sum of all Positive Incomes of Capital Gain in Col. 7)
                        </td>
                        <td>
                          {{ capitalGainTotal }}
                        </td>
                      </tr>
                    </tbody>
                  </table>


                </div>
                <button class="btn btn__white mt-20" (click)="deleteVdaArray()"><i class="fa-solid fa-trash-can"></i>
                  Delete</button>
              </div>
            </div>
          </div>

        </div>
      </div>




      <div class="out-box">
        <div class="box-left">
          <button class="btn btn__white" (click)="goBack()">Back</button>
        </div>
        <div class="box-right">
          <button class="btn btn__primary" (click)="saveAll()">Save & View Summary</button>
        </div>
      </div>

    </div>
  </div>
</form>
