<h1 mat-dialog-title> Details For Other Assets</h1>

<mat-dialog-content>
  <form [formGroup]="assetDetailsForm">
    <div class="card__row">
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field>
          <input matInput formControlName="purchaseDate" name="purchaseDate" [matDatepicker]="purchaseDate"
            placeholder="Buy Date / Date of Acquisition" (blur)="calculateGainType()"
            (dateChange)="calculateGainType()">
          <mat-datepicker-toggle matSuffix [for]="purchaseDate"></mat-datepicker-toggle>
          <mat-datepicker #purchaseDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field>
          <input matInput formControlName="sellDate" name="sellDate" [matDatepicker]="sellDate"
            placeholder="Sale Date/Date of Transfer" (blur)="calculateGainType()" (dateChange)="calculateGainType()">
          <mat-datepicker-toggle matSuffix [for]="sellDate"></mat-datepicker-toggle>
          <mat-datepicker #sellDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput type="number" formControlName="purchaseCost" placeholder="Buy Value" name="purchaseCost"
            class="input-field" maxlength="14"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="assetDetailsForm.controls['purchaseCost'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput type="number" formControlName="sellValue" placeholder="Sell Value" name="sellValue"
            class="input-field" maxlength="14"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="assetDetailsForm.controls['sellValue'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
      <div class="card__col-xs-12 card__col-sm-6">
        <mat-form-field class="input-field-width">
          <input matInput type="number" formControlName="sellExpense" placeholder="Expenses" name="sellExpense"
            class="input-field" maxlength="14"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <mat-error *ngIf="assetDetailsForm.controls['sellExpense'].hasError('pattern')">Enter
            valid amount.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row dialog-button">
      <div class="sub_btn top-space">
        <button type="submit" class="tbd-btn" (click)="saveDetails()">Save</button>
        <button class="tbd-btn-secondary" (click)="cancel()" mat-dialog-close>Cancel</button>
      </div>
    </div>
  </form>
</mat-dialog-content>