.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.ag-pinned-left-cols-viewport .ag-cell {
  white-space: normal;
  word-break: break-word;
}

.ag-pinned-right-cols-viewport .ag-cell {
  white-space: normal;
  word-break: break-word;
}
