<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<h1 mat-dialog-title>{{data.title}}</h1>

<form *ngIf="this.data.mode === 'DELETE'">
    <mat-dialog-content>
        <div class="card__row">
            <div class="card__col-xs-12 card__col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Reason For Deletion</mat-label>
                    <input matInput [formControl]="reasonForDeletion" placeholder="Reason for deletion"
                        autocomplete="off" maxlength="150" required>
                    <mat-error *ngIf="reasonForDeletion.hasError('required')">Please enter reason for deletion
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" (click)="deleteInvoice()" tabindex="1">{{data.submitBtn}}</button>
        <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
    </mat-dialog-actions>
</form>
<form [formGroup]="invoiceEditForm" *ngIf="this.data.mode === 'UPDATE'">
    <mat-dialog-content>
        <div class="card__row">
            <div class="card__col-lg-6">
                <mat-card style="min-height: 130px; font-size: 16px;line-height: 20px;">
                    Bill To: {{invoiceEditForm.value.billTo}}<br>
                    Phone: {{invoiceEditForm.value.phone}}<br>
                    Email: {{invoiceEditForm.value.email}}<br>
                    Due Date: {{invoiceEditForm.value.dueDate | date:'mediumDate'}}<br>
                    Invoice No: {{invoiceEditForm.value.invoiceNo}}<br>
                </mat-card>
            </div>
            <div class="card__col-lg-6">
                <mat-card style="min-height: 130px; font-size: 16px;line-height: 20px;">
                    Sub Total: {{invoiceEditForm.value.subTotal}}<br>
                    <span *ngIf="invoiceEditForm.value.discountTotal">Discount Applied:
                        {{invoiceEditForm.value.discountTotal}}<br></span>
                    <span *ngIf="invoiceEditForm.value.state === 'Maharashtra'"> CGST:
                        {{invoiceEditForm.value.cgstTotal}}<br></span>
                    <span *ngIf="invoiceEditForm.value.state === 'Maharashtra'">SGST:
                        {{invoiceEditForm.value.sgstTotal}}<br></span>
                    <span *ngIf="invoiceEditForm.value.state !== 'Maharashtra'">IGST:
                        {{invoiceEditForm.value.igstTotal}}<br></span>
                    Total: {{invoiceEditForm.value.total}}<br>
                </mat-card>
            </div>
        </div>
        <br>
        <br>

        <div class="card__col-xs-4 card__col-sm-4">
            <mat-form-field appearance="outline">
                <mat-label>Payment Status</mat-label>
                <mat-select formControlName="paymentStatus" matInput placeholder="Select Payment Status"
                    autocomplete="off" (selectionChange)="changePaymentStatus()" required>
                    <mat-option value="Paid">Paid</mat-option>
                    <mat-option value="Failed">Failed</mat-option>
                    <mat-option value="Unpaid">Unpaid</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="card__col-xs-4 card__col-sm-4">
            <mat-form-field appearance="outline">
                <mat-label>Mode of Payment</mat-label>
                <mat-select formControlName="modeOfPayment" matInput placeholder="Select Mode of Payment"
                    autocomplete="off" (selectionChange)="changeModeOfPayment()"
                    [required]="invoiceEditForm.controls['paymentStatus'].value === 'Paid'">
                    <mat-option value="BANK_TRANSFER">Bank Transfer</mat-option>
                    <mat-option value="GOOGLE_PAY">Google Pay</mat-option>
                    <mat-option value="PHONE_PAY">Phone Pay</mat-option>
                    <mat-option value="PAYTM">Paytm</mat-option>
                    <mat-option value="CASH">Cash</mat-option>
                </mat-select>
                <mat-error *ngIf="invoiceEditForm.controls['modeOfPayment'].hasError('required')">Select
                    Mode of Payment
                </mat-error>
            </mat-form-field>
        </div>

        <div class="card__col-xs-4 card__col-sm-4" *ngIf="invoiceEditForm.controls['modeOfPayment'].value === 'CASH'">
            <mat-form-field appearance="outline">
                <mat-label>Payment Collected By</mat-label>
                <input matInput formControlName="paymentCollectedBy" placeholder="Payment Collected By"
                    autocomplete="off" maxlength="15"
                    [required]="invoiceEditForm.controls['modeOfPayment'].value === 'CASH'">
                <mat-error *ngIf="invoiceEditForm.controls['paymentCollectedBy'].hasError('required')">Enter
                    payment collected by
                </mat-error>
            </mat-form-field>
        </div>
        <div class="card__col-xs-4 card__col-sm-4" *ngIf="invoiceEditForm.controls['modeOfPayment'].value !== 'CASH'">
            <mat-form-field appearance="outline">
                <mat-label>Transaction Id</mat-label>
                <input matInput formControlName="transactionId" placeholder="Transaction Id" autocomplete="off"
                    maxlength="15">
                <mat-error *ngIf="invoiceEditForm.controls['transactionId'].hasError('required')">Enter
                    Transaction Id
                </mat-error>
            </mat-form-field>
        </div>
        <div class="card__col-xs-4 card__col-sm-4">
            <mat-form-field appearance="outline">
                <mat-label>Date of payment</mat-label>
                <input matInput formControlName="paymentDate" [matDatepicker]="picker3" [max]="maxDate"
                    (dateChange)="setDepositInBankValidation(invoiceEditForm.controls['paymentDate'].value)"
                    autocomplete="off" [required]="invoiceEditForm.controls['paymentStatus'].value === 'Paid'">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-error *ngIf="invoiceEditForm.controls['paymentDate'].hasError('required')">Select
                    date of payment</mat-error>
            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" (click)="updateInvoice()" tabindex="1">{{data.submitBtn}}</button>
        <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
    </mat-dialog-actions>
</form>