<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix">
    <div class="card__row" >
    	<div class="card__col-xs-4">    		    		
	        <div class="ibox">
	            <div class="ibox-title">
	                <div class="title">My Invoice Pending for Processing</div>	           
	            </div>	           
	            <div class="ibox-content">	    
	            	<span class="faicon pull-right" (click)="redirectToMyInvoicePendingProcessing()"><i class="fa fa-indent" aria-hidden="true"></i></span>	            		            	
	                <div class="ibox-body-element-wrapper" >
                        <div class="value">
                        	{{invoice_summary.userAssignedCount}}
                        </div>
					</div>					
	            </div>
	        </div>
	    </div>	    

    	<div class="card__col-xs-4">    		    		
	        <div class="ibox">
	            <div class="ibox-title">
	                <div class="title">Unassigned Uploads</div>	           
	            </div>	           
	            <div class="ibox-content">	        
	            	<span class="faicon pull-right" (click)="redirectToUnassignedUploads()"><i class="fa fa-indent" aria-hidden="true"></i></span>	            		            	
	                <div class="ibox-body-element-wrapper" >
                        <div class="value">
                        	{{invoice_summary.unassignedUploads}}
                        </div>
					</div>					
	            </div>
	        </div>
	    </div>	            	

    	<div class="card__col-xs-4">    		    		
	        <div class="ibox">
	            <div class="ibox-title">
	                <div class="title">Invoices Pending for Processing</div>	           
	            </div>	           
	            <div class="ibox-content">	    
	            	<span class="faicon pull-right" (click)="redirectToInvoicePendingProcessing()"><i class="fa fa-indent" aria-hidden="true"></i></span>	            		            	
	                <div class="ibox-body-element-wrapper" >
                        <div class="value">
                        	{{invoice_summary.assignedPendingUploads}}                    	
                        </div>
					</div>					
	            </div>
	        </div>
	    </div>	    
	    
	    <div class="card__col-xs-4">    		    		
	        <div class="ibox">
	            <div class="ibox-title">
	                <div class="title">No. of Merchants confirmed all bills</div>	           
	            </div>	           
	            <div class="ibox-content">	 
	            	<span class="faicon pull-right" (click)="redirectToMerchantConfirmedBills()"><i class="fa fa-indent" aria-hidden="true"></i></span>	            		                   
	                <div class="ibox-body-element-wrapper" >
                        <div class="value">
                        	0                        	
                        </div>
					</div>					
	            </div>
	        </div>
	    </div>	    
	      
	    <div class="card__col-xs-4">    		    		
	        <div class="ibox">
	            <div class="ibox-title">
	                <div class="title">Pending Computation Approval</div>	           
	            </div>	           
	            <div class="ibox-content">	        
	            	<span class="faicon pull-right" (click)="redirectToPendingComputationApproval()"><i class="fa fa-indent" aria-hidden="true"></i></span>	            		            	
	                <div class="ibox-body-element-wrapper" >
                        <div class="value">
                        	0                       	
                        </div>
					</div>					
	            </div>
	        </div>
	    </div>	    
	    <div class="card__col-xs-4">    		    		
	        <div class="ibox">
	            <div class="ibox-title">
	                <div class="title">GST Returns Pending after Approval</div>	           
	            </div>	           
	            <div class="ibox-content">	
	            	<span class="faicon pull-right" (click)="redirectToPendingGSTReturnsAfterApproval()"><i class="fa fa-indent" aria-hidden="true"></i></span>	            	
	                <div class="ibox-body-element-wrapper" >
                        <div class="value">
                        	0                        	
                        </div>
					</div>					
	            </div>
	        </div>
	    </div>	    
	   	   
    </div>   
</div>
