<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="main clearfix" style="padding-top: 0px;">
    <div class="card">
        <div class="card__row">
          <div *ngIf="isAdmin">
            <div class="filter__col card__col-sm-3 card__col-xs-12">
                <mat-form-field appearance="outline" style="margin-top: 10px;">
                  <mat-label>Select Agent</mat-label>
                  <mat-select placeholder="Select Agent Id" [(ngModel)]="selectedAgent">
                      <mat-option *ngFor="let agent of agentList" [value]="agent.agentId">
                          {{agent.name}}
                      </mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="agent.hasError('required')">Select agent id</mat-error> -->
              </mat-form-field>
            </div>

            <div class="filter__col card__col-sm-2 card__col-xs-12">
                <a class="btn btn_stroke filter__add-link" (click)="searchByAgent()"><i
                  class="fa fa-search" aria-hidden="true" style="color: #2ed13b;"></i>&nbsp;Search</a>
            </div>
          </div>
            

              <div class="filter__col card__col-sm-3 card__col-xs-12">
                <mat-form-field appearance="outline" style="margin-top: 10px;" >
                  <mat-label>Mobile Number: </mat-label>
                    <input matInput  placeholder="Enter Mobile Number" [(ngModel)]="searchMobNo" maxlength="35"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"  maxlength="10">
                 </mat-form-field>
              </div>

              <div class="filter__col card__col-sm-2 card__col-xs-12">
                <a  class="btn btn_stroke filter__add-link" (click)="serchByMobNo()"><i
                    class="fa fa-search" aria-hidden="true" style="color: #2ed13b;"></i>&nbsp;Search</a>
              </div>


              <div class="filter__col card__col-sm-2 card__col-xs-12">
                 <button  class="btn" (click)="showCallersAll()">Show All</button>
              </div>
        </div><br><br>

        <div class="card__row" style="margin-top: 0px;">

            <!-- <div class="tab-panel items-tab card__col-xs-12">
                <div class="tab-panel__content tab-panel__content_visible">
                    <div class="table product__table">
                        <div class="table__row  table__row_header ">
                            <div class="table__cell product-row__cell-unit flex-15">
                                <a class="table__sort-link">Client Name</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-10">
                                <a class="table__sort-link">Client Mobile</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-50">
                                <a class="table__sort-link">Last Call details</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-15">
                                <a class="table__sort-link">Call At</a>
                            </div>

                            <div class="table__cell product-row__cell-unit flex-10">
                                <a class="table__sort-link">Action</a>
                            </div>
                        </div>


                        <div *ngFor="let item of callLogs; let p=index">
                            <div class="table__row-item product-row" [class.table__row-disabled]="false">
                                <div class="table__row product-row__main-variant">
                                    <div class="table__cell product-row__cell-stock flex-15">
                                        {{item.userName}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-10">
                                        {{item.userMobile}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-50">
                                        {{item.description}}
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-15">
                                        {{item.scheduleCallTime | date :'dd MMM yyyy, hh:mm a'}}
                                    </div>

                                    <div class="table__cell product-row__cell-stock flex-10">
                                        <button style="border: none; cursor: pointer;background: transparent;"
                                            (click)="showNotes(item)" title="Click see/add notes"><i class="fa fa-book"
                                                style="font-size: 18px;"></i></button>
                                        | <button style="border: none; cursor: pointer;background: transparent;"
                                            (click)="addCallLogs(item)" title="Add call logs"><i class="fa fa-phone"
                                                style="font-size: 18px;"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> -->

            <div class="card__row" >
                <table>
                    <tr *ngFor="let item of callDetetialInfo | paginate:config"></tr>
                </table>
                
                <ag-grid-angular class="ag-theme-balham" [gridOptions]="todaysCallsGridOptions"
                (rowClicked)="onTodaysCallsClicked($event)"> 
            </ag-grid-angular>
    
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>

            
            <!-- <p style="text-align: center; font-size: 15px; margin-top: 20px" *ngIf="callLogs.length === 0"><b>No data available.</b></p> -->

        </div>
    </div>
</div>