<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"
></ngx-loading>
<div>
  <div class="align-items-center row">
    <div class="col-sm-10">
      <b style="font-size: 25px">Proforma Invoices </b>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="margin-top: 10px">
          <div class="card" style="margin-top: 10px">
            <!-- <div>
              <b style="font-size: 20px">{{ cardTitle }} View </b>
            </div> -->
            <div>
              <div class="row" *ngIf="roles?.includes('ROLE_ADMIN') || roles?.includes('ROLE_LEADER')">
                <div class="col-sm-6">
                  <mat-label> Search By Owner </mat-label>
                  <mat-form-field appearance="outline" class="customBg">
                    <input
                      type="text"
                      matInput
                      [formControl]="searchOwner"
                      [matAutocomplete]="auto"
                      (blur)="setList()"
                    />
                    <mat-autocomplete #auto>
                      <mat-option
                        *ngFor="let option of filteredOwners | async"
                        [value]="option.name"
                        (click)="getOwnerNameId(option);"
                      >
                        {{ option.name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-label> Search By Filer </mat-label>
                  <mat-form-field appearance="outline" class="customBg">
                    <input
                      type="text"
                      matInput
                      [formControl]="searchFiler"
                      [matAutocomplete]="auto1"
                    />
                    <mat-autocomplete #auto1>
                      <mat-option
                        *ngFor="let option1 of filteredFilers | async"
                        [value]="option1.name"
                        (click)="getFilerNameId(option1)"
                      >
                        {{ option1.name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div *ngIf="roles?.includes('ROLE_OWNER')">
              <div class="row">
                <div>
                  <mat-label> Search By Filer </mat-label>
                  <mat-form-field appearance="outline" class="customBg">
                    <input
                      type="text"
                      matInput
                      [formControl]="searchFiler"
                      [matAutocomplete]="auto"
                    />
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option
                        *ngFor="let option1 of filteredFilers | async"
                        [value]="option1.name"
                        (click)="getFilerNameId(option1)"
                      >
                        {{ option1.name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 20px">
              <div class="col-sm-3 topAli">
                <mat-label> Select FY </mat-label>
                <mat-form-field appearance="outline">
                  <input
                    type="text"
                    matInput
                    [formControl]="assessmentYear"
                    readonly
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
               
                <mat-form-field appearance="outline">
                  <mat-label>From Date</mat-label>
                  <input matInput [formControl]="startDate" [matDatepicker]="picker1" [min]="minDate" [max]="maxDate" autocomplete="off"
                    (dateChange)="setToDateValidation(startDate.value)" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="startDate.hasError('required')">Select From date</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                  <mat-form-field appearance="outline">
                  <mat-label>To Date</mat-label>
                  <input matInput [formControl]="endDate" [matDatepicker]="picker2" [min]="minDate" [max]="maxDate" autocomplete="off" />
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-error *ngIf="endDate.hasError('required')">Select To date</mat-error>
                  <mat-error *ngIf="endDate.hasError('min')">To date always greater than from date</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-3 topAli">
                <mat-label>Select Status </mat-label>
                <mat-form-field appearance="outline">
                  <mat-select
                    placeholder="Select Status"
                    [formControl]="status"
                  >
                    <mat-option
                      *ngFor="let item of Status"
                      [value]="item.value"
                    >
                      {{ item.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-label> Mobile Number </mat-label>
                <mat-form-field appearance="outline">
                  <input
                    [numbersOnly]="true"
                    maxlength="10"
                    matInput
                    [formControl]="mobile"
                  />
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-label> Email </mat-label>
                <mat-form-field appearance="outline">
                  <input
                    type="text"
                    matInput
                    [formControl]="email"
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-label> Invoice No. </mat-label>
                <mat-form-field appearance="outline">
                  <input
                    type="number"
                    matInput
                    [formControl]="txbdyInvoiceId"
                  />
                </mat-form-field>
              </div>
            </div>
            <hr />
            <div class="row">
              <div>
                <button
                  *ngIf="roles?.includes('ROLE_ADMIN')"
                  class="btn btnClr"                
                  (click)="downloadInvoicesSummary()"
                >
                  <i class="fa fa-download" aria-hidden="true"></i> Download
                  File
                </button>
                <button
                  class="btn btnClr"            
                  (click)="getInvoice()"
                >
                  <i class="fas fa-file-invoice" aria-hidden="true"></i> Show
                  Invoice
                </button>
                <button class="tbd-btn" (click)="this.resetFilters()">
                  <!--              <div class="fa-layers fa-1x fa-fw">-->
                  <!--                <span class="fas fa-filter" data-fa-mask="fas fa-filter" ></span>-->
                  <!--                <span class="fas fa-slash" data-fa-transform="left-0.5"></span>-->
                  <!--              </div>-->
                  <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;Clear
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row"
        style="float: right; margin-top: 20px; margin-right: 10px"
      >
        <span style="float: right">
          Total Invoice Count: <b>{{ totalInvoice }}</b>
<!--          | Unpaid:-->
<!--          <b>{{ getCount("unpaid") }}</b> | Failed:-->
<!--          <b>{{ getCount("failed") }}</b>-->
        </span>
      </div>
      <br />
      <div class="row" style="margin-top: 55px">
        <div class="col-12">
          <table>
            <tr *ngFor="let item of invoiceInfo | paginate : config"></tr>
          </table>
          <ag-grid-angular
            class="ag-theme-balham"
            [gridOptions]="invoiceListGridOptions"
            (rowClicked)="onInvoiceRowClicked($event)"
          >
          </ag-grid-angular>
          <pagination-controls
            (pageChange)="pageChanged($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
