.heading{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
table {
width: 100%;
}

.tabBdr {
    border: 1px solid #f2f2f2;
    padding: 10px;
    vertical-align: middle;
}
.tabBdrH {
    border: 1px solid #f2f2f2;
    padding: 10px;
    vertical-align: middle;
    font-size:16px;
    font-weight:600;
}
.bdrabv{
border:1px solid #f2f2f2;
margin:15px 0px 15px 0px;
}
.btnAdj{
    margin-top: 2px;
}
.blnkTbl{
    height: 70px;
}

.delBt {
    margin: 20px 0px 20px 0px;
}


