<div style="overflow: hidden;">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
    <div class="card__row" style="margin-bottom: 10px; margin-top :10px; 
    margin-left: 20px; margin-right: 15px;">
        <div class="">
            <div class="card__col-xs-12 card__col-sm-10">
                <b style="font-size: 14px;">Nature of Business (Other than 44AD, 44ADA,44AE) </b>
            </div>
            <div class="card__col-xs-12 card__col-sm-2" style="text-align: right;">
                <button class="tbd-btn-small" style="text-align: right;"
                    (click)="addEditBalanceSheetRow('ADD', balanceSheetData,'balance')">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add More Balance Sheet Income&nbsp;&nbsp;
                </button>
            </div>
        </div>
        <div class="card__col-xs-12 card__col-sm-12">
            <!-- <div style="height: 100%; padding-top: 5px; box-sizing: border-box;">
                <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham cg-table"
                    [gridOptions]="balanceSheetGridOptions" (rowClicked)="onBalanceSheetRowClicked($event)">
                </ag-grid-angular>
            </div> -->
            <div class="container">
                <div class="card__row" style="margin-left: 10px;">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="select">
                         <th mat-header-cell *matHeaderCellDef>
                           <mat-checkbox (change)="$event ? masterToggle() : null"
                                         [checked]="selection.hasValue() && isAllSelected()"
                                         [indeterminate]="selection.hasValue() && !isAllSelected()">
                           </mat-checkbox>
                         </th>
                         <td mat-cell *matCellDef="let row">
                           <mat-checkbox (click)="$event.stopPropagation()"
                                         (change)="$event ? selection.toggle(row) : null"
                                         [checked]="selection.isSelected(row)">
                           </mat-checkbox>
                         </td>
                       </ng-container>
                     
                      
                       <ng-container matColumnDef="natureOfBusiness">
                         <th mat-header-cell *matHeaderCellDef> Nature Of Profession </th>
                         <td mat-cell *matCellDef="let element"> {{element.natureOfBusiness}} </td>
                       </ng-container>
                       
                       <ng-container matColumnDef="tradeName">
                         <th mat-header-cell *matHeaderCellDef> Trade Name </th>
                         <td mat-cell *matCellDef="let element"> {{element.tradeName}} </td>
                       </ng-container>
            
                       <ng-container matColumnDef="businessDescription">
                         <th mat-header-cell *matHeaderCellDef>Business Description </th>
                         <td mat-cell *matCellDef="let element"> {{element.businessDescription}} </td>
                       </ng-container>
                   
                       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                       <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                           (click)="selection.toggle(row)">
                       </tr>
                     </table>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" (click)="removeSelectedRows()">
                         Delete
                        </button>
                     </div>
                </div>
        </div>
    </div>


    <div [class.editForm]="!sheetData?.editForm">
        <form id="commonValidForm">
            <div class="com_model col-xs-12" style="margin-left: 10px;">
                <h2 style="font-size: 14px;">Provide values as per balance sheet as on
                    31/03/{{this.ITR_JSON.assessmentYear.substring(0,4)}}. These are mandatory to be filled
                    as per income tax return.</h2>

                    <div class="card__row" >
                        <div class="card__col-xs-12 card__col-sm-6 heading"> 
                            <div class="card__row text-left" >
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <label>Liabilities</label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <label>Amount</label>
                                </div>
                            </div>
                            </div>
                        <div class="card__col-xs-12 card__col-sm-6 heading"> 
                            <div class="card__row text-left" >
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <label>Assets</label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <label>Amount</label>
                                </div>
                            </div></div>
                    </div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row"> 
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Partner’s/Member’s capital or own capital</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['membersOwnCapital'])"
                                            matInput placeholder="Partner’s/Member’s capital or own capital"
                                            name="membersOwnCapital" class="input-field" maxlength="14" (blur)="calculateTotal1()">
                                        <mat-error *ngIf="assetLiabilitiesForm.controls['membersOwnCapital'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                         </div>
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row"> 
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Fixed assets</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['fixedAssets'])" matInput
                                            placeholder="Fixed assets" name="fixedAssets" class="input-field" maxlength="14"
                                            (blur)="calculateTotal2(); showPopUp(assetLiabilitiesForm.controls['fixedAssets'].value)">
                                        <mat-error *ngIf="assetLiabilitiesForm.controls['fixedAssets'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Secured loan</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                            <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['securedLoans'])" matInput
                                            placeholder="Secured loan" name="securedLoans" class="input-field" maxlength="14"
                                            (blur)="calculateTotal1()">
                                        <mat-error *ngIf="assetLiabilitiesForm.controls['securedLoans'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div> 
                        </div>
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Inventories</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['inventories'])" matInput
                                            placeholder="Inventories" name="Inventories" class="input-field" maxlength="14"
                                            (blur)="calculateTotal2()" required>
                                        <mat-error *ngIf="assetLiabilitiesForm.controls['inventories'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Unsecured loan</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['unSecuredLoans'])"
                                            matInput placeholder="Unsecured loan" name="unSecuredLoans" class="input-field"
                                            maxlength="14" (blur)="calculateTotal1()">
                                        <mat-error *ngIf="assetLiabilitiesForm.controls['unSecuredLoans'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Sundry debtors</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['sundryDebtorsAmount'])"
                                            matInput placeholder="Sundry debtors" name="sundryDebtorsAmount" class="input-field"
                                            maxlength="14" (blur)="calculateTotal2()" required>
                                        <mat-error *ngIf="assetLiabilitiesForm.controls['sundryDebtorsAmount'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Advances</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                            <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['advances'])" matInput
                                            placeholder="Advances" name="Advances" class="input-field" maxlength="14"
                                            (blur)="calculateTotal1()">
                                            <mat-error *ngIf="assetLiabilitiesForm.controls['advances'].hasError('pattern')">Enter
                                            positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Balance with bank</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['balanceWithBank'])"
                                            matInput placeholder="Balance with bank" name="balanceWithBank" class="input-field"
                                            maxlength="14" (blur)="calculateTotal2()">
                                            <mat-error *ngIf="assetLiabilitiesForm.controls['balanceWithBank'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                        </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Sundry creditors</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['sundryCreditorsAmount'])"
                                            matInput placeholder="Sundry creditors" name="sundryCreditorsAmount" class="input-field"
                                            maxlength="14" (blur)="calculateTotal1()" required>
                                            <mat-error
                                            *ngIf="assetLiabilitiesForm.controls['sundryCreditorsAmount'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Cash in hand</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['cashInHand'])" matInput
                                            placeholder="Cash in hand" name="cashInHand" class="input-field" maxlength="14"
                                            (blur)="calculateTotal2()" required>
                                        <mat-error *ngIf="assetLiabilitiesForm.controls['cashInHand'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Other liabilities</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['otherLiabilities'])"
                                            matInput placeholder="Other liabilities" name="otherLiabilities" class="input-field"
                                            maxlength="14" (blur)="calculateTotal1()">
                                            <mat-error *ngIf="assetLiabilitiesForm.controls['otherLiabilities'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Loans and advance</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['loanAndAdvances'])"
                                            matInput placeholder="Loans and advance" name="loanAndAdvances" class="input-field"
                                            maxlength="14" (blur)="calculateTotal2()">
                                        <mat-error *ngIf="assetLiabilitiesForm.controls['loanAndAdvances'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-6"> &nbsp;</div>
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Investments</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['investment'])" matInput
                                            placeholder="Investments" name="investment" class="input-field" maxlength="14"
                                            (blur)="calculateTotal2()">
                                            <mat-error *ngIf="assetLiabilitiesForm.controls['investment'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-6"> &nbsp;</div>
                        <div class="card__col-xs-12 card__col-sm-6">
                            <div class="card__row">
                                <div class="card__col-xs-12 card__col-sm-8">
                                    <mat-label>Other assets</mat-label>
                                </div>
                                <div class="card__col-xs-12 card__col-sm-4">
                                    <mat-form-field appearance="outline">
                                        <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['otherAssets'])" matInput
                                            placeholder="Other assets" name="otherAssets" class="input-field" maxlength="14"
                                            (blur)="calculateTotal2()">
                                        <mat-error *ngIf="assetLiabilitiesForm.controls['otherAssets'].hasError('pattern')">
                                            Enter positive number without decimal.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                         </div>
                    </div>
                <div class="card__row">
                    <div class="card__col-xs-12 card__col-sm-6">
                        <h3>Total Liabilities: <span class="fa fa-inr"></span>{{utilsService.currencyFormatter(total1)}}
                        </h3>
                    </div>
                    <div class="card__col-xs-12 card__col-sm-6">
                        <h3>Total Assets: <span class="fa fa-inr"></span>
                            {{utilsService.currencyFormatter(total2)}}</h3>
                    </div>
                </div>
            </div>

            <br>

            <div class="card__row">
                <div class="card__col-xs-12 card__col-sm-6">
                    <div class="card__col-xs-6 card__col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>GST Turnover </mat-label>
                            <input matInput placeholder="GST Turnover" name="grossTurnOverAmount"
                                [formControl]="$any(assetLiabilitiesForm.controls['grossTurnOverAmount'])" class="input-field"
                                maxlength="14">
                            <mat-error *ngIf="assetLiabilitiesForm.controls['grossTurnOverAmount'].hasError('pattern')">
                                Enter positive number without decimal.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card__col-xs-6 card__col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>GSTR Number </mat-label>
                            <input matInput placeholder="GST Number" name="GSTRNumber"
                                [formControl]="$any(assetLiabilitiesForm.controls['GSTRNumber'])" class="input-field"
                                maxlength="14"
                                matTooltip="(GST pattern is NNXXXXXNNNNXZZZ N is number, X is character, Z is number or character)"
                                matTooltipClass="tab-tooltip" matTooltipPosition="above" matInput upperCase>
                            <mat-error *ngIf="assetLiabilitiesForm.controls['GSTRNumber'].hasError('pattern')">Enter
                                valid GST Number</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="card__col-xs-12 card__col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Difference </mat-label>
                        <input matInput placeholder="Difference" name="difference" readonly
                            [formControl]="$any(assetLiabilitiesForm.controls['difference'])" class="input-field"
                            maxlength="14">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>

</div>
<div style="text-align: center;">
    <!-- <button class="tbd-btn-secondary" (click)="this.location.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        &nbsp;&nbsp;Back</button> -->
    <button class="tbd-btn" (click)="onContinue()"
        [disabled]="assetLiabilitiesForm.controls['difference'].value !== 0">&nbsp;&nbsp;Save </button>
</div>