<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div class="page-wrapper">
  <main>
    <div class="frameC">
      <div class="div">
        <div class="text-wrapper"> Balance Sheet</div>
        <div class="mingcute-down-fill"></div>
      </div>
      <div class="space">
        <div class="wrapper">
          <div class="div-4">
            <div class="frame-wrapper-2A">
              <div class="accordion" id="myAccordion">

                <div class="accordion__item-body">
                  <div class="gray_container">
                    <div class="div-6">
                      <div class="form-field">
                        <div><span class="span">GSTIN Number</span>
                        </div>
                      </div>
                      <div class="form-field">
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="GST Number" name="GSTRNumber"
                            [formControl]="$any(assetLiabilitiesForm.controls['GSTRNumber'])" class="input-field"
                            matTooltip="(GST pattern is NNXXXXXNNNNXZZZ N is number, X is character, Z is number or character)"
                            matTooltipClass="tab-tooltip" matTooltipPosition="above" upperCase />
                          <mat-error *ngIf="assetLiabilitiesForm.controls['GSTRNumber'].hasError('pattern')">Enter valid
                            GST Number</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="div-6">
                      <div class="form-field">
                        <div><span class="span">GST Turnover </span>
                        </div>
                      </div>
                      <div class="form-field">
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="GST Turnover" name="grossTurnOverAmount"
                            [formControl]="$any(assetLiabilitiesForm.controls['grossTurnOverAmount'])"
                            class="input-field" maxlength="14" />
                          <mat-error *ngIf="assetLiabilitiesForm.controls['grossTurnOverAmount'].hasError('pattern')">
                            Enter positive number without decimal.</mat-error>
                        </mat-form-field>
                      </div>
                    </div>


                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading1">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapse1">Sources Of Fund</button>

                  </h2>
                  <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                    <div class="accordion__item-body">
                      <form id="commonValidForm">
                        <div class="gray_container">
                          <div class="div-6">
                            <div class="form-field">
                              <div><span class="span">Proprietor Capital </span> <span class="text-wrapper-2">*</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline">
                                <input matInput digitsOnly class="input-field"
                                  [formControl]="$any(assetLiabilitiesForm.controls['membersOwnCapital'])"
                                  id="exampleInputEmail1" placeholder="₹ Enter Amount" name="membersOwnCapital"
                                  maxlength="14" (blur)="calSourcesOfFunds();calculateTotal1()" />
                                <mat-error
                                  *ngIf="assetLiabilitiesForm.controls['membersOwnCapital'].hasError('pattern')">
                                  Enter positive number without decimal.</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="div-6">
                            <div class="form-field">
                              <div><span class="span">Reserves & Surplus </span> <span class="text-wrapper-2">*</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline">
                                <input matInput type="text" matInput
                                  [formControl]="$any(assetLiabilitiesForm.controls['reservesAndSurplus'])"
                                  class="input-field" id="exampleInputEmail1" aria-describedby="emailHelp"
                                  placeholder="₹ Enter Amount" (blur)="calSourcesOfFunds()">
                                <mat-error
                                  *ngIf="assetLiabilitiesForm.controls['reservesAndSurplus'].hasError('pattern')">
                                  Enter positive number without decimal.</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class=" div-6">
                            <div class="form-field">
                              <div><span class="span">Loan Funds </span> <span class="text-wrapper-2">*</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline">
                                <input matInput type="text" readonly class="input-field"
                                  [formControl]="$any(assetLiabilitiesForm.controls['totalLoans'])"
                                  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="₹ Enter Amount">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="div-6 gray_box">
                            <div class="form-field">
                              <div><span class="span">Secured Loan </span> <span class="text-wrapper-2">*</span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input matInput digitsOnly
                                  [formControl]="$any(assetLiabilitiesForm.controls['securedLoans'])"
                                  placeholder="₹ Enter Amount" name="securedLoans" class="input-field" maxlength="14"
                                  (blur)="calSourcesOfFunds();calculateTotal1()" (change)="calculateTotalLoans()" />
                                <mat-error *ngIf="assetLiabilitiesForm.controls['securedLoans'].hasError('pattern')">
                                  Enter positive number without decimal.</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="form-field">
                              <div><span class="span">Unsecured Loan </span> <span class="text-wrapper-2">*</span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input matInput digitsOnly
                                  [formControl]="$any(assetLiabilitiesForm.controls['unSecuredLoans'])"
                                  placeholder="₹ Enter Amount" name="unSecuredLoans" class="input-field" maxlength="14"
                                  (blur)="calSourcesOfFunds();calculateTotal1()" (change)="calculateTotalLoans()" />
                                <mat-error *ngIf="assetLiabilitiesForm.controls['unSecuredLoans'].hasError('pattern')">
                                  Enter positive number without decimal.</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="div-6">
                            <div class="form-field">
                              <div><span class="span">Advances </span> <span class="text-wrapper-2">*</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline">
                                <input matInput digitsOnly
                                  [formControl]="$any(assetLiabilitiesForm.controls['advances'])"
                                  placeholder="₹ Enter Amount" name="Advances" class="input-field" maxlength="14"
                                  (blur)="calSourcesOfFunds();calculateTotal1()" />
                                <mat-error *ngIf="assetLiabilitiesForm.controls['advances'].hasError('pattern')">Enter
                                  positive number without decimal.</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="div-6">
                            <div class="form-field">
                              <div><span class="span">Total Sources of Funds </span> <span
                                  class="text-wrapper-2">*</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline">
                                <input matInput type="text" readonly class="input-field" id="exampleInputEmail1"
                                  aria-describedby="emailHelp"
                                  [formControl]="$any(assetLiabilitiesForm.controls['totalSourcesOfFunds'])"
                                  placeholder="₹ Enter Amount">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading2">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                      data-bs-target="#collapse2">Application of Funds</button>

                  </h2>
                  <div id="collapse2" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                    <div class="accordion__item-body">

                      <div class="gray_container">
                        <app-depreciation-dialog [depreciationObj]="depreciationObj"
                          (onSave)="getFixedAssetData($event)"></app-depreciation-dialog>
                        <div class="div-6">
                          <div class="form-field">
                            <div><span class="span">Investment </span> <span class="text-wrapper-2">*</span>
                            </div>
                          </div>
                          <div class="form-field">
                            <mat-form-field appearance="outline">
                              <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['investment'])"
                                matInput placeholder="₹ Enter Amount" name="investment" class="input-field"
                                maxlength="14" (change)="totalApplicationOfFunds()" readonly />
                              <mat-error *ngIf="assetLiabilitiesForm.controls['investment'].hasError('pattern')">
                                Enter positive number without decimal.</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="div-6 gray_box">
                          <div class="form-field">
                            <div><span class="span"> Long Term Investment</span> </div>
                            <mat-form-field appearance="outline">
                              <input digitsOnly
                                [formControl]="$any(assetLiabilitiesForm.controls['longTermInvestment'])" matInput
                                placeholder="₹ Enter Amount" class="input-field" maxlength="14"
                                (change)="totalApplicationOfFunds()" />
                              <mat-error
                                *ngIf="assetLiabilitiesForm.controls['longTermInvestment'].hasError('pattern')">
                                Enter positive number without decimal.</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="form-field">
                            <div><span class="span"> Short Term Investment</span></div>
                            <mat-form-field appearance="outline">
                              <input digitsOnly
                                [formControl]="$any(assetLiabilitiesForm.controls['shortTermInvestment'])" matInput
                                placeholder="₹ Enter Amount" class="input-field" maxlength="14"
                                (change)="totalApplicationOfFunds()" />
                              <mat-error
                                *ngIf="assetLiabilitiesForm.controls['shortTermInvestment'].hasError('pattern')">
                                Enter positive number without decimal.</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="border-bottom">
                          <div class="div-6">
                            <div class="form-field">
                              <div><span class="span">Current Assets, Loans & Advances
                                </span><span class="text-wrapper-2">*</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline">
                                <input matInput type="text" class="input-field" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" (change)="calNetCurrentAssets()"
                                  [formControl]="$any(assetLiabilitiesForm.controls['totalCurrentAssetsLoansAdv'])"
                                  placeholder="₹ Enter Amount" readonly>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="gray_box">
                            <div class="div-6">
                              <div class="form-field">
                                <div><span class="span">a) Current Assets
                                  </span><span class="text-wrapper-2">*</span>
                                </div>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input type="text" class="input-field" id="exampleInputEmail1" matInput
                                    [formControl]="$any(assetLiabilitiesForm.controls['totalCurrentAssets'])"
                                    aria-describedby="emailHelp" placeholder="₹ Enter Amount" readonly>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="White_box">
                              <div class="div-6">
                                <div class="form-field">
                                  <div><span class="span">Inventories </span><span class="text-wrapper-2">*</span>
                                  </div>
                                  <mat-form-field appearance="outline">
                                    <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['inventories'])"
                                      matInput placeholder="Inventories" placeholder="₹ Enter Amount" name="Inventories"
                                      class="input-field" maxlength="14" (blur)="calculateTotal2()"
                                      (change)="calCurrentAssets()" required />
                                    <mat-error *ngIf="assetLiabilitiesForm.controls['inventories'].hasError('pattern')">
                                      Enter positive number without decimal.</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="form-field">
                                  <div><span class="span">Sundry debtors </span><span class="text-wrapper-2">*</span>
                                  </div>
                                  <mat-form-field appearance="outline">
                                    <input digitsOnly
                                      [formControl]="$any(assetLiabilitiesForm.controls['sundryDebtorsAmount'])"
                                      matInput placeholder="₹ Enter Amount" name="sundryDebtorsAmount"
                                      class="input-field" maxlength="14" (blur)="calculateTotal2()"
                                      (change)="calCurrentAssets()" required />
                                    <mat-error
                                      *ngIf="assetLiabilitiesForm.controls['sundryDebtorsAmount'].hasError('pattern')">
                                      Enter positive number without decimal.</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="form-field">
                                  <div><span class="span">Balance with bank </span></div>
                                  <mat-form-field appearance="outline">
                                    <input digitsOnly
                                      [formControl]="$any(assetLiabilitiesForm.controls['balanceWithBank'])" matInput
                                      placeholder="₹ Enter Amount" name="balanceWithBank" class="input-field"
                                      maxlength="14" (blur)="calculateTotal2()" (change)="calCurrentAssets()" />
                                    <mat-error
                                      *ngIf="assetLiabilitiesForm.controls['balanceWithBank'].hasError('pattern')">
                                      Enter positive number without decimal.</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="form-field">
                                  <div><span class="span">Cash in hand </span><span class="text-wrapper-2">*</span>
                                  </div>
                                  <mat-form-field appearance="outline">
                                    <input digitsOnly [formControl]="$any(assetLiabilitiesForm.controls['cashInHand'])"
                                      matInput placeholder="₹ Enter Amount" name="cashInHand" class="input-field"
                                      maxlength="14" (blur)="calculateTotal2()" (change)="calCurrentAssets()"
                                      required />
                                    <mat-error *ngIf="assetLiabilitiesForm.controls['cashInHand'].hasError('pattern')">
                                      Enter positive number without decimal.</mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                            <div class="div-6">
                              <div class="form-field">
                                <div><span class="span">b) Loans & Advances
                                  </span><span class="text-wrapper-2">*</span>
                                </div>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                  <input digitsOnly
                                    [formControl]="$any(assetLiabilitiesForm.controls['loanAndAdvances'])" matInput
                                    placeholder="Loans and advance" name="loanAndAdvances" class="input-field"
                                    maxlength="14" (blur)="calculateTotal2()" (change)="calTotalCurrentAssetsLoansAdv()"
                                    placeholder="₹ Enter Amount" />
                                  <mat-error
                                    *ngIf="assetLiabilitiesForm.controls['loanAndAdvances'].hasError('pattern')">
                                    Enter positive number without decimal.</mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="div-6">
                          <div class="form-field">
                            <div><span class="span"> Current Liabilities & Provisions
                              </span>
                            </div>
                          </div>
                          <div class="form-field">
                            <mat-form-field appearance="outline">
                              <input type="text" class="input-field" matInput
                                [formControl]="$any(assetLiabilitiesForm.controls['totalLiabilitiesProvision'])"
                                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="₹ Enter Amount"
                                readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="div-6 gray_box">
                          <div class="col-6">
                            <h3 class="col-12 form-field ">
                              <div><span class="span">a) Current Liabilities</span></div>
                            </h3>
                            <div class="col-10 form-field">
                              <div><span class="span">Sundry Creditors</span> <span class="text-wrapper-2">*</span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input digitsOnly
                                  [formControl]="$any(assetLiabilitiesForm.controls['sundryCreditorsAmount'])" matInput
                                  placeholder="₹ Enter Amount" name="sundryCreditorsAmount" class="input-field"
                                  maxlength="14" (blur)="calculateTotal1();calTotalLiabilitiesProvision()" required />
                                <mat-error
                                  *ngIf="assetLiabilitiesForm.controls['sundryCreditorsAmount'].hasError('pattern')">
                                  Enter positive number without decimal.</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-6">
                            <h3 class="col-12 form-field">
                              <div><span class="span">b) Provisions</span></div>
                            </h3>
                            <div class="col-10 form-field">
                              <div><span class="span">Provision for Income Tax </span> <span
                                  class="text-wrapper-2">*</span>
                              </div>
                              <mat-form-field appearance="outline">
                                <input digitsOnly
                                  [formControl]="$any(assetLiabilitiesForm.controls['otherLiabilities'])" matInput
                                  placeholder="₹ Enter Amount" name="otherLiabilities" class="input-field"
                                  maxlength="14" (blur)="calculateTotal1();calTotalLiabilitiesProvision()" />
                                <mat-error
                                  *ngIf="assetLiabilitiesForm.controls['otherLiabilities'].hasError('pattern')">
                                  Enter positive number without decimal.</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="div-6">
                          <div class="form-field">
                            <div><span class="span">Net Current Assets </span></div>
                          </div>
                          <div class="form-field">
                            <mat-form-field appearance="outline">
                              <input type="text" class="input-field" id="exampleInputEmail1" matInput
                                [formControl]="$any(assetLiabilitiesForm.controls['netCurrentAsset'])"
                                aria-describedby="emailHelp" placeholder="₹ Enter Amount" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item appFunds">
                        <h2 class="accordion-title">
                          Total Application of Funds
                          <button type="button" class="accordion-btn" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo">
                            {{totalAppOfFunds}}
                          </button>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion__item-body">
                  <div class="gray_container">
                    <div class="div-6">
                      <div class="form-field">
                        <div><span class="span">Difference </span>
                        </div>
                      </div>
                      <div class="form-field">
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="Difference" name="difference" readonly [formControl]="
                                            $any(assetLiabilitiesForm.controls['difference'])
                                          " class="input-field" maxlength="14" readonly />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="flex justify-between p-[30px] back-foot">
  <button (click)="goBack()" class="lgtBtn">
    <mat-icon class="icoAdj">keyboard_backspace</mat-icon> Back to Source Page
  </button>

  <button (click)="onContinue()" class="saveBtnIn">Save All</button>
</div>