<h3 class="personal-info">Personal Information:</h3>
<mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title class="">
                <mat-icon>
                    arrow_forward_ios
                </mat-icon>
                Customer Profile
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-customer-profile></app-customer-profile>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>
                    arrow_forward_ios
                </mat-icon>
                Personal Details </mat-panel-title>
        </mat-expansion-panel-header>
        <app-personal-information></app-personal-information>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>
                    arrow_forward_ios
                </mat-icon>
                Other Information
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-other-information></app-other-information>
    </mat-expansion-panel>

</mat-accordion>