<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div>
  <app-file-parser (newDataAvailable)="reloadData()"></app-file-parser>
</div>
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Non-Speculative Income</mat-panel-title>
      </mat-expansion-panel-header>
        <app-non-speculative-income (saveAndNext)="saveAndNext($event)"></app-non-speculative-income>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Speculative Income</mat-panel-title>
      </mat-expansion-panel-header>
      <app-speculative-income (saveAndNext)="saveAndNext($event)"></app-speculative-income>
    </mat-expansion-panel>
</mat-accordion>
