.txblw1 {
  margin-left: 10px;
  font-size: 13px;
  text-align: center;
}

.aprv1 {
  width: 100%!important;
  background-color: #ddffd9!important;
}

.radio-group {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 60px;
  display: flex;
  align-items: center;
}
