.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.plan{
  margin: 4px 10px;
  border: 1px solid #cccccc;
  padding: 15px;
  width: 30%;
  border-radius:8px;
  height: 140px;
  display: block;
}


.plan:active{
  color: #ffffff!important;
  background-color: green;
  display: block;
}

span{
  text-align: center;
  font-size: 14px;
}

/* .activePlan{
  color: white;
  background-color: green;
} */


.plan-head{
  text-align: center;
  font-size: 16px;
}

.plan-info{
  text-align: center;
  font-size: 14px;
  margin-bottom: -1.5rem;
}

.space {
  margin-bottom:10px;
  padding:10px;
}

.serviceBtn{
  border: 1px solid #b1e0ff;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  background-color: #ebf3ff;
box-shadow: 0px 1px #888888;
color: #07070c;
}

a.serviceBtn{
  text-align: center;
  /* padding: 16px; */
  text-decoration: none;
}

a.disabled,#plans.disabled{
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.3;
}

.btnHeghlight{
  color: white;
  background-color: black;
}
