<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div class="">
  <span class="title-123">Add Subscription Plan</span>
  <button mat-dialog-close tabindex="-1" (click)="close()" style="float: right; color:#3E82CD; width: 24px;
      height: 24px;" class="tbd-btn-close">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <hr>
  <form>
    <mat-dialog-content>
      <div class="container ">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 ">
            <a class="serviceBtn-1" [class.btnHeghlight]="this.selectedBtn === 'ITR' ? true : false"
              [class.disabled]="disableItrSubPlan" (click)="showSelectedServicePlans('ITR')">ITR</a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 ">
            <a class="serviceBtn-1" [class.btnHeghlight]="this.selectedBtn === 'ITRU' ? true : false"
              (click)="showSelectedServicePlans('ITRU')">ITR-U</a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 " *ngIf="isAllowed">
            <a class="serviceBtn-1" [class.btnHeghlight]="this.selectedBtn === 'NOTICE' ? true : false"
              (click)="showSelectedServicePlans('NOTICE')">NOTICE</a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 " *ngIf="isAllowed">
            <a class="serviceBtn-1" [class.btnHeghlight]="this.selectedBtn === 'GST' ? true : false"
              (click)="showSelectedServicePlans('GST')">GST</a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 " *ngIf="isAllowed">
            <a class="serviceBtn-1" [class.btnHeghlight]="this.selectedBtn === 'TPA' ? true : false"
              [class.disabled]="tpaService === 'TPA' || disableTpaSubPlan"
              (click)="showSelectedServicePlans('TPA')">TPA</a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 ">
            <a class="serviceBtn-1" [class.btnHeghlight]="this.selectedBtn === 'OTHER' ? true : false"
              (click)="showSelectedServicePlans('OTHER')">OTHER SERVICE</a>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-2 col-md-4 col-sm-6 " *ngIf="isAllowed">
            <a class="serviceBtn-1" [class.btnHeghlight]="this.selectedBtn === 'ALL' ? true : false"
              (click)="showSelectedServicePlans('ALL')">ALL</a>
          </div>
        </div>
      </div>

      <div class="mt-2" *ngIf="serviceTypeSelected">
        <div class="row" *ngIf="this.roles.includes('ROLE_FILER') || (data.filerId &&  onlyServiceITR )">
          <span *ngIf="showMessage && !(filteredPlans.length === 0)" class="show-note">Note: {{showMessage}}</span>
        </div>
        <div *ngIf="filteredPlans.length === 0">Selected service plan detail not available.</div>

        <div *ngFor="let plan of filteredPlans">
          <div class="card__col-lg-2 plan" id="plans" (click)="selectPlan(plan)" style="cursor: pointer;"
            [class.disabled]="(serviceDetails && serviceDetails.includes('Schedule call') && plan.name === 'Schedule call') || !isPlanEnabled(plan)"
            [style.background-color]="plan.planId === selectedPlanInfo?.planId ? '#cae2f7':''">
            <h1 class="plan-head"><b>₹ {{plan.totalAmount}}</b></h1><br>
            <p class="plan-info">{{plan.name}}</p><br>
            <b>
              <p class="plan-info" style="vertical-align: bottom;">{{plan.servicesType}}</p>
            </b>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions align="center">
      <button class="new-cancel-button-1" mat-dialog-close tabindex="-1">Cancel</button>
      <app-custom-button class="new-create" [disabled]="loading" [actions]="[createSubscription]">
        Create
      </app-custom-button>
    </mat-dialog-actions>
  </form>
</div>
