<form [formGroup]="bifurcationFormGroup">
  <div class="surround scroll">
    <div formArrayName="salary">
      <div
        *ngFor="let salaryControl of getSalary.controls; let i = index"
        [formGroupName]="i"
      >
        <!-- basic -->
        <div>
          <div class="container">
            <div>Basic</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Basic</mat-label>
                <input matInput formControlName="BASIC_SALARY" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- DA -->
        <div>
          <div class="container">
            <div>Dearness Allowance (DA)</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Dearness</mat-label>
                <input matInput formControlName="DA" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- CONVEYANCE -->
        <div>
          <div class="container">
            <div>Conveyance Allowance</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Conveyance</mat-label>
                <input matInput formControlName="CONVEYANCE" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- CONVEYANCE -->
        <div>
          <div class="container">
            <div>House Rent Allowance (HRA)</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>House Rent</mat-label>
                <input matInput formControlName="HOUSE_RENT" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- LTA -->
        <div>
          <div class="container">
            <div>Leave Travel Allowance (LTA)</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Leave Travel</mat-label>
                <input matInput formControlName="LTA" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- CHILDREN_EDUCATION -->
        <div>
          <div class="container">
            <div>Children Education Allowance (CEA)</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Children Education</mat-label>
                <input matInput formControlName="CHILDREN_EDUCATION" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- OTHER_ALLOWANCE -->
        <div>
          <div class="container">
            <div>Other Allowance</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Other Allowance</mat-label>
                <input matInput formControlName="OTHER_ALLOWANCE" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- CONTRI_80CCD -->
        <div>
          <div class="container">
            <div>
              The contribution made by the employer towards the pension scheme
              as referred under section 80CCD
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>CONTRI_80CCD</mat-label>
                <input matInput formControlName="CONTRI_80CCD" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- RULE_6_PART_A_4TH_SCHEDULE -->
        <div>
          <div class="container">
            <div>
              The amount deemed to be income under rule 6 of part A of the
              fourth schedule
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>RULE6_PARTA_4THSCHEDULE</mat-label>
                <input matInput formControlName="RULE_6_PART_A_4TH_SCHEDULE" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- RULE_11_4_PART_A_4TH_SCHEDULE -->
        <div>
          <div class="container">
            <div>
              The amount deemed to be income under rule 11(4) of Part-A of the
              Fourth Schedule
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>RULE11_4_PARTA_4THSCHEDULE</mat-label>
                <input
                  matInput
                  formControlName="RULE_11_4_PART_A_4TH_SCHEDULE"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- PENSION -->
        <div>
          <div class="container">
            <div>Annuity or Pension</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Pension</mat-label>
                <input matInput formControlName="PENSION" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- COMMUTED_PENSION -->
        <div>
          <div class="container">
            <div>Commuted Pension</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Commuted Pension</mat-label>
                <input matInput formControlName="COMMUTED_PENSION" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- GRATUITY -->
        <div>
          <div class="container">
            <div>Gratuity</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Gratuity</mat-label>
                <input matInput formControlName="GRATUITY" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- COMMISSION -->
        <div>
          <div class="container">
            <div>Fees/Commission</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Fees/Commission</mat-label>
                <input matInput formControlName="COMMISSION" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- ADVANCE_SALARY -->
        <div>
          <div class="container">
            <div>Advance Salary</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Advance Salary</mat-label>
                <input matInput formControlName="ADVANCE_SALARY" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- LEAVE_ENCASHMENT -->
        <div>
          <div class="container">
            <div>Leave Encashment</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Leave Encashment</mat-label>
                <input matInput formControlName="LEAVE_ENCASHMENT" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />

        <!-- OTHER -->
        <div>
          <div class="container">
            <div>Others</div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>OTHER</mat-label>
                <input matInput formControlName="OTHER" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />
      </div>

      <!-- Save button  -->
      <div class="fixed-button">
        <button class="saveButton" (click)="saveBifurcations()">
          <span class="font-semibold">&nbsp;Save</span>
        </button>
      </div>
    </div>
  </div>
</form>
