.value {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
}

.title {
  font-weight: 600;
  font-size: 13px;
}

.btn-help {
  display: inline-block;
  margin: 8px;
  padding: 12px 15px;
  text-align: center;
  font-weight: 600;
  line-height: 1em;
  border-radius: 5px;
  transition-property: color, background-color;
  transition-duration: 0.25s;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: solid 2px;
  background-color: #63b12d;
}

.btn-help:hover {
  background-color: white;
  color: #63b12d;
  border: solid 2px #63b12d;
}

.closeBtn {
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  border: solid 2px #5b0000;
  font-size:14px;
  padding:5px;
  border-radius:5px;
}

.ag-theme-balham {
  font-family: DM Sans !important;
  margin: 0px 0px 10px 0px !important;
}