<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<h1 mat-dialog-title>{{data.title}}</h1>

<mat-dialog-content *ngIf="data.leadData">
  <div class="card__row">
    <div class="card__col-lg-4 card__col-sm-12">
      <mat-label>User name</mat-label>
      <mat-label class="value">{{data.leadData.sourceUserName}}</mat-label>
    </div>
    <div class="card__col-lg-4 card__col-sm-12">
      <mat-label>Mobile</mat-label>
      <mat-label class="value">{{data.leadData.sourceMobile}}</mat-label>
    </div>
    <div class="card__col-lg-4 card__col-sm-12">
      <mat-label>Email</mat-label>
      <mat-label class="value">{{data.leadData.sourceEmail}}</mat-label>
    </div>
  </div>
  <div class="card__row">
    <div class="card__col-lg-4 card__col-sm-12">
      <mat-label>Source platform</mat-label>
      <mat-label class="value">{{data.leadData.sourcePlatform}}</mat-label>
    </div>
    <div class="card__col-lg-4 card__col-sm-12">
      <mat-label>Product</mat-label>
      <mat-label class="value">{{data.leadData.productName}}</mat-label>
    </div>
    <div class="card__col-lg-4 card__col-sm-12">
      <mat-label>Rating</mat-label>
      <mat-label class="value">{{data.leadData.sourceRating}}</mat-label>
    </div>
  </div>
  <div class="card__row">
    <div class="card__col-lg-12 card__col-sm-12">
      <mat-label>Comment</mat-label>
      <mat-label class="value">{{data.leadData.sourceComment}}</mat-label>
    </div>
  </div>
  <div class="card__row">
    <div class="card__col-lg-4 card__col-sm-12">
      <mat-label>Review date</mat-label>
      <mat-label class="value">{{data.leadData.sourceReviewDateTime}}</mat-label>
    </div>
    <div class="card__col-lg-4 card__col-sm-12">
      <mat-label>Is review negative</mat-label>
      <mat-label class="value">{{data.leadData.isReviewNegative}}</mat-label>
    </div>
    <div class="card__col-lg-4 card__col-sm-12">
      <mat-label>Sentiment</mat-label>
      <mat-label class="value">{{data.leadData.reviewSentiment}}</mat-label>
    </div>
  </div>
  <div class="card__row">
    <div class="card__col-lg-12 card__col-sm-12">
      <mat-label>SME Notes</mat-label>
      <mat-label class="value">{{data.leadData.smeNotes}}</mat-label>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
</mat-dialog-actions>