.hide {
    .mat-select-trigger {
        .mat-select-arrow-wrapper {
            display: none;
        }
    }
}

.bdrArnd {
    border: 1px solid #00AECA!important;
    padding: 20px 30px 10px 25px!important;
  }

  .mat-radio-button {
    margin-right: 15px!important;
 }

.spBlw {
 margin-bottom:150px!important;
}

.isDeduction {
    font-weight: 500;
    font-size: 22px;
    color: #FF6B00;
}

.separation {
    border-top: 1px solid gray;
}

.head-title {
    font-size: 14px;
    font-weight: 500;
    margin-left: 11px;
    color: #000000;
}

.tds-on {
    display: inline-flex;
}

.tds-title {
    padding: 10px;
    font-size: 21px;
    color: #FF6B00;
    font-weight: 500;
}

