<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"
></ngx-loading>

<div>

  <div class="div-3" *ngFor="let salary of getSalaryArray.controls;
            let i = index">
    <!--      <div>-->
    <div class="contents-wrapper">
      <div class="contents">
        <div class="field-text" (click)="markActive(i)">Entry {{i+1}}</div>
        <div class="group"><img class="material-symbols" src="assets/img/new/del.png" /></div>
      </div>
    </div>
    <!--      </div>-->
  </div>
  <div class="contents-wrapper">
    <div class="field-text-wrapper">
      <div class="field-text-2" (click)="$event.stopPropagation(); addMore();">+ Add Another</div>
    </div>
  </div>
  <form [formGroup]="salaryForm">
    <div formArrayName="salaryArray">
      <div *ngFor="let item of getSalaryArray.controls | slice:0:activeIndex+1; let i=index"
           [formGroupName]="activeIndex">
        <div class="display-flex" *ngIf="activeIndex === i">
          <!-- <mat-checkbox
            color="primary"
            name="hasEdit[i]"
            formControlName="hasEdit"
            class="chkSp"
          >
          </mat-checkbox> -->

          <div class="row">
            <div class="div-6 ">
              <div class="form-field">
                <mat-label>TAN of Employer* &nbsp;&nbsp;&nbsp;</mat-label>
                <mat-form-field appearance="outline">
                  <input
                    matTooltip="Format should like this(e.g. XXXXXNNNNX) X indicate character and N indicates number"
                    matTooltipClass="tab-tooltip"
                    matTooltipPosition="above"
                    formControlName="deductorTAN"
                    matInput
                    currencyMask
                    placeholder="XXXXXNNNNX"
                    name="deductorTAN[activeIndex]"
                    class="input-field"
                    maxlength="10"
                    minlength="10"
                    required
                    type="text"
                    trim
                    upperCase
                  />

                  <mat-error *ngIf="getSalaryArray.controls[activeIndex].get('deductorTAN').hasError('pattern')">
                    Enter valid TAN (e.g XXXXX1234X)</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="form-field">
              <mat-label>Name of Employer*</mat-label>
              <mat-form-field appearance="outline">
                <input
                  formControlName="deductorName"
                  matInput
                  placeholder="Name of Employer"
                  name="deductorName[activeIndex]"
                  class="input-field"
                  maxlength="125"
                  required
                  type="text"
                  trim
                />
                <mat-error *ngIf="getSalaryArray.controls[activeIndex].get('deductorName').hasError('pattern')">
                  Name should be character only</mat-error
                >
              </mat-form-field>
            </div>
            </div>

            <div class="div-6 ">
              <div class="form-field">
              <mat-label>Total Amount credited*</mat-label>
              <mat-form-field appearance="outline">
                <input
                  formControlName="totalAmountCredited"
                  matInput
                  placeholder="Total Amount credited"
                  name="totalAmountCredited[i]"
                  required
                  class="input-field"
                  maxlength="14"
                  digitsOnly/>
                <mat-error
                  *ngIf="getSalaryArray.controls[activeIndex].get('totalAmountCredited').hasError('pattern')">
                  Enter positive amount without decimal.</mat-error>
              </mat-form-field>
            </div>
              <div class="form-field">
              <mat-label>Total Tax Deducted*</mat-label>
              <mat-form-field appearance="outline">
                <input
                  formControlName="totalTdsDeposited"
                  matInput
                  placeholder="Total Tax Deducted"
                  name="totalTdsDeposited[activeIndex]"
                  required
                  class="input-field"
                  maxlength="14"
                  digitsOnly
                />
                <mat-error
                  *ngIf="getSalaryArray.controls[activeIndex].get('totalTdsDeposited').hasError('pattern')">
                  Enter positive amount without decimal.</mat-error>
              </mat-form-field>
            </div>
            </div>

          </div>
          <mat-paginator #paginator *ngIf="true"
                  [pageIndex]="activeIndex" [length]="getTotalCount()"
                         [pageSize]="1"></mat-paginator>

        </div>
      </div>

      <div class="out-box">
        <div class="box-left">
          <button class="btn btn__white" (click)="goBack()">Back</button>
        </div>
        <div class="box-right">
          <button class="btn btn__primary" (click)="save()">Save</button>
        </div>
      </div>

    </div>
  </form>
</div>

