.clrBlue {
    color: #04a4bc
}

.del {
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 8px;
}

.mr-10 {
    margin-right: 10px;
}

.id-input {
    margin: 10px 10px 20px 0px;
}

.error-msg {
    margin-top: 18px;
}

.context {
    font-size: 18px;
}