<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<form [formGroup]="customerProfileForm">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading1">
      <button id="accordBtn" type="button" class="accordion-button" data-bs-toggle="collapse" aria-expanded="true"
        data-bs-target="#collapse1">Customer Profile</button>

    </h2>
    <div id="collapse1" class="accordion-collapse collapse show">
      <div class="accordion__item-body">
        <div class="div-6">
          <div class="form-field">
            <div><span class="span">PAN Number </span> <span class="text-wrapper-2">*</span></div>
            <mat-form-field appearance="outline">
              <input type="text" matInput placeholder="PAN" name="panNumber" formControlName="panNumber" maxlength="10"
                minlength="10" (ngModelChange)="resetPan()"
                (blur)="getUserDataByPan(customerProfileForm.controls['panNumber'].value)" required upperCase />
              <mat-error *ngIf="customerProfileForm.controls['panNumber'].hasError('pattern')">
                Enter valid PAN (e.g XXXXX1234X)
              </mat-error>
              <mat-error *ngIf="customerProfileForm.controls['panNumber'].hasError('required')">
                Enter PAN Number.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-field" *ngIf="this.loggedInUserRoles.includes('ROLE_ADMIN') || this.loggedInUserRoles.includes('ROLE_LEADER')">
            <div><span class="span">Mobile Number </span> <span class="text-wrapper-2">*</span></div>
            <mat-form-field appearance="outline">
              <input matTooltip="Mobile number should be of 10 digit." matTooltipClass="tab-tooltip"
                matTooltipPosition="above" maxlength="10" minlength="10" matInput placeholder="Mobile" name="mobile"
                formControlName="contactNumber" class="input-field" digitsOnly required />
              <mat-error *ngIf="
            customerProfileForm.controls['contactNumber'].hasError(              'required'            ) ||
            customerProfileForm.controls['contactNumber'].hasError(              'minlength'            ) ||
            customerProfileForm.controls['contactNumber'].hasError('maxlength')          ">
                Enter 10 digit mobile number</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <div><span class="span">Email Address </span> <span class="text-wrapper-2">*</span></div>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Email address" name="email" formControlName="email" class="input-field"
                maxlength="50" required />
              <mat-error *ngIf="customerProfileForm.controls['email'].hasError('pattern')">Enter valid email</mat-error>
              <mat-error *ngIf="customerProfileForm.controls['email'].hasError('required')">Enter email</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="div-6">
          <div class="form-field">
            <div> <span class="span">First Name</span> </div>
            <mat-form-field appearance="outline">
              <input type="text" matTooltip="First name as per PAN" [pattern]="charRegex" matTooltipClass="tab-tooltip"
                matTooltipPosition="above" matInput currencyMask placeholder="First name" name="FirstName"
                formControlName="firstName" class="input-field" maxlength="25"/>
              <mat-error *ngIf="customerProfileForm.controls['firstName'].hasError('pattern')">
                Enter character only</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <div><span class="span">Middle Name</span></div>
            <mat-form-field appearance="outline">
              <input type="text" matTooltip="Middle name as per PAN" [pattern]="charRegex" matTooltipClass="tab-tooltip"
                matTooltipPosition="above" matInput currencyMask placeholder="Middle name" name="MiddleName"
                formControlName="middleName" class="input-field" maxlength="75" />
              <mat-error *ngIf="customerProfileForm.controls['middleName'].hasError('pattern')">
                Enter character only</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <div><span class="span">Last Name</span> <span class="text-wrapper-2">*</span></div>
            <mat-form-field appearance="outline">
              <input type="text" matTooltip="Last name as per PAN" [pattern]="charRegex" matTooltipClass="tab-tooltip"
                matTooltipPosition="above" matInput currencyMask placeholder="Last name" name="LastName"
                formControlName="lastName" class="input-field" maxlength="75" required />
              <mat-error *ngIf="customerProfileForm.controls['lastName'].hasError('pattern')">
                Enter character only</mat-error>
              <mat-error *ngIf="customerProfileForm.controls['lastName'].hasError('required')">
                Enter last name.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="div-6">
          <div class="form-field">
            <div><span class="span">Father's Name </span> <span class="text-wrapper-2">*</span></div>
            <mat-form-field appearance="outline">
              <input type="text" matInput placeholder="Father's name" name="mobile" [formControl]="
            customerProfileForm.controls['fatherName'] | formControlType
          " [pattern]="charRegex" class="input-field" maxlength="125" required />
              <mat-error *ngIf="customerProfileForm.controls['fatherName'].hasError('pattern')">
                Enter character only</mat-error>
              <mat-error *ngIf="
            customerProfileForm.controls['fatherName'].hasError('required')
          ">
                Enter father name</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <div><span class="span">Residential Status </span> <span class="text-wrapper-2">*</span></div>
            <div
              [ngClass]="customerProfileForm.controls['residentialStatus'].value === 'RESIDENT' ? 'form-control-wrapper' : 'new-form-field'">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Residential status" name="residentialStatus" (selectionChange)="onSelectResidential(
              customerProfileForm.controls['residentialStatus'].value)"
                  [formControl]="customerProfileForm.controls['residentialStatus'] | formControlType" required>
                  <mat-option *ngFor="let res of residentialStatus" [value]="res.value">
                    {{ res.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button *ngIf="customerProfileForm.controls['residentialStatus'].value === 'NON_RESIDENT' ||
            customerProfileForm.controls['residentialStatus'].value === 'NON_ORDINARY'"
                (click)="onSelectResidential(customerProfileForm.controls['residentialStatus'].value)"
                class="resident-btn">
                <i class="fa-solid fa-globe"></i>
              </button>
            </div>
          </div>
          <div class="form-field">
            <div><span class="span">Employer Category </span> <span class="text-wrapper-2">*</span></div>
            <div class="form-control-wrapper">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Employer Category" name="employerCategory" formControlName="employerCategory"
                  required>
                  <mat-option *ngFor="let emp of employersDropdown" [value]="emp.value">
                    {{ emp.label }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="
            customerProfileForm.controls['employerCategory'].hasError('required')
          ">
                  Enter employer category</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="div-6">
          <div class="form-field">
            <div><span class="span">Return Type </span> <span class="text-wrapper-2">*</span></div>
            <div class="form-control-wrapper">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Return Type" name="isRevised" formControlName="isRevised"
                  (selectionChange)="changeReviseForm()" required>
                  <mat-option *ngFor="let type of returnTypes" [value]="type.value">
                    {{ type.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-field" *ngIf="customerProfileForm.controls['isRevised'].value === 'Y'">
            <div><span class="span">Acknowledgement number</span></div>
            <mat-form-field appearance="outline">
              <input matTooltip="Acknowledgement number maximum of 15 digit" matTooltipClass="tab-tooltip"
                matTooltipPosition="above" matInput placeholder="Acknowledgement of Original ITR" name="orgITRAckNum"
                digitsOnly class="input-field" maxlength="15" minlength="15" formControlName="orgITRAckNum"
                (blur)="setFilingDate()" />
              <mat-error *ngIf="customerProfileForm.controls['orgITRAckNum'].hasError('required')">
                Enter Acknowledgement number
              </mat-error>
              <mat-error *ngIf="customerProfileForm.controls['orgITRAckNum'].hasError('minlength')">
                Enter 15 digit Acknowledgement number
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-field" *ngIf="customerProfileForm.controls['isRevised'].value === 'Y'">
            <div><span class="span">Date of filing</span></div>
            <mat-form-field appearance="outline">
              <input [max]="maxDateRevise" matInput [matDatepicker]="revisedPicker"
                placeholder="Date of filing original return" name="orgITRDate" readonly formControlName="orgITRDate" />
              <mat-datepicker-toggle matSuffix [for]="revisedPicker"></mat-datepicker-toggle>
              <mat-datepicker #revisedPicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-field" *ngIf="customerProfileForm.controls['isRevised'].value === 'N'">
            <div><span class="span">Aadhar Number</span> <span class="text-wrapper-2">*</span></div>
            <mat-form-field appearance="outline">
              <input matTooltip="Aadhar Number should be linked with your PAN Number and 12 digit."
                matTooltipClass="tab-tooltip" matTooltipPosition="above" matInput currencyMask placeholder="Aadhaar"
                name="aadharNumber" formControlName="aadharNumber" class="input-field" maxlength="12" digitsOnly
                (change)="shallDisableOther('aadhaarEnrolmentId', 'aadharNumber')" />
              <mat-error *ngIf="
            customerProfileForm.controls['aadharNumber'].hasError('required')
          ">
                Enter aadhar number</mat-error>
              <mat-error *ngIf="
            customerProfileForm.controls['aadharNumber'].hasError('maxlength')
          ">
                Enter 12 digit aadhar number</mat-error>
              <mat-error *ngIf="
            customerProfileForm.controls['aadharNumber'].hasError('minlength')
          ">
                Enter 12 digit aadhar number</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field" *ngIf="customerProfileForm.controls['isRevised'].value === 'N'">
            <div><span class="span">Aadhar Enrollment ID</span> <span class="text-wrapper-2">*</span></div>
            <mat-form-field appearance="outline">
              <input matTooltip="Aadhar Enrollment ID should be 14 digit." matTooltipClass="tab-tooltip"
                matTooltipPosition="above" matInput currencyMask placeholder="Aadhaar" name="aadhaarEnrolmentId"
                formControlName="aadhaarEnrolmentId" class="input-field" maxlength="14" digitsOnly
                (change)="shallDisableOther('aadharNumber', 'aadhaarEnrolmentId')" />
              <mat-error *ngIf="
            customerProfileForm.controls['aadhaarEnrolmentId'].hasError(
              'required'
            )
          ">
                Enter Aadhar Enrollment ID</mat-error>
              <mat-error *ngIf="
            customerProfileForm.controls['aadhaarEnrolmentId'].hasError(
              'maxlength'
            )
          ">
                Enter 14 digit Aadhar Enrollment ID</mat-error>
              <mat-error *ngIf="
            customerProfileForm.controls['aadhaarEnrolmentId'].hasError(
              'minlength'
            )
          ">
                Enter 14 digit Aadhar Enrollment ID</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="div-6">

          <div class="form-field" *ngIf="customerProfileForm.controls['isRevised'].value === 'Y'">
            <div><span class="span">Aadhar Number</span> <span class="text-wrapper-2">*</span></div>
            <mat-form-field appearance="outline">
              <input matTooltip="Aadhar Number should be linked with your PAN Number and 12 digit."
                matTooltipClass="tab-tooltip" matTooltipPosition="above" matInput currencyMask placeholder="Aadhaar"
                name="aadharNumber" formControlName="aadharNumber" class="input-field" maxlength="12" digitsOnly
                (change)="shallDisableOther('aadhaarEnrolmentId', 'aadharNumber')" />
              <mat-error *ngIf="
            customerProfileForm.controls['aadharNumber'].hasError('required')
          ">
                Enter aadhar number</mat-error>
              <mat-error *ngIf="
            customerProfileForm.controls['aadharNumber'].hasError('maxlength')
          ">
                Enter 12 digit aadhar number</mat-error>
              <mat-error *ngIf="
            customerProfileForm.controls['aadharNumber'].hasError('minlength')
          ">
                Enter 12 digit aadhar number</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field" *ngIf="customerProfileForm.controls['isRevised'].value === 'Y'">
            <div><span class="span">Aadhar Enrollment ID</span> <span class="text-wrapper-2">*</span></div>
            <mat-form-field appearance="outline">
              <input matTooltip="Aadhar Enrollment ID should be 14 digit." matTooltipClass="tab-tooltip"
                matTooltipPosition="above" matInput currencyMask placeholder="Aadhaar" name="aadhaarEnrolmentId"
                formControlName="aadhaarEnrolmentId" class="input-field" maxlength="14" digitsOnly
                (change)="shallDisableOther('aadharNumber', 'aadhaarEnrolmentId')" />
              <mat-error *ngIf="
            customerProfileForm.controls['aadhaarEnrolmentId'].hasError(
              'required'
            )
          ">
                Enter Aadhar Enrollment ID</mat-error>
              <mat-error *ngIf="
            customerProfileForm.controls['aadhaarEnrolmentId'].hasError(
              'maxlength'
            )
          ">
                Enter 14 digit Aadhar Enrollment ID</mat-error>
              <mat-error *ngIf="
            customerProfileForm.controls['aadhaarEnrolmentId'].hasError(
              'minlength'
            )
          ">
                Enter 14 digit Aadhar Enrollment ID</mat-error>
            </mat-form-field>
          </div>

          <div class="form-field">
            <div><span class="span">Date Of Birth</span> <span class="text-wrapper-2">*</span></div>
            <mat-form-field appearance="outline">
              <input appDateInput matTooltip="Date of birth as per PAN" matTooltipClass="tab-tooltip" matTooltipPosition="above"
                matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" class="input-field"
                placeholder="Date of birth" name="dateOfBirth" [formControl]="
            customerProfileForm.controls['dateOfBirth'] | formControlType
          " required />
              <mat-hint>Format: DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="
            customerProfileForm.controls['dateOfBirth'].hasError('required')
          ">
                Select date of birth</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <div><span class="span">Gender</span> <span class="text-wrapper-2">*</span></div>
            <mat-radio-group formControlName="gender" style="display: flex">
              <mat-radio-button style="margin-left: 0px; margin-right: 15px" labelPosition="after"
                *ngFor="let gender of genderMaster" [value]="gender.value" required>
                {{ gender.label }}
              </mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="customerProfileForm.controls['gender'].hasError('required')">
              Please select gender
            </mat-error>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
