@import "../../../ux/scss/style.scss";
.header_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  padding: 8px 24px;
  flex-grow: 1;
  background-color: #e7e7e7;
  border-radius: 4px 4px 0px 0px;
}

.wrap-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;

  img {
    position: relative;
    width: 24px;
    height: 24px;
  }
}

.wrapper {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 24px;
  position: relative;
}

.form-control {
  min-height:0px!important;
  background-color:#fafafa!important;
}

.space {
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;
  padding: 20px;
  border: 1px solid #E2E4E5;
  border-top: 0;
}

.frameC {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: flex-start;
  position: relative;
}

.div-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.div-6 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame-wrapper-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.extra-pad{
  padding: 24px;
}

.align-right{
  text-align: end;
}

.delete-align{
  margin-top: 32px;
}

.tbd-btn-small {
  border-radius: 5px;
  background-color: #edffff;
  border: 1px solid #cccccc;
  margin: 15px 10px 10px 0px;
}

.tbd-btn-small:hover {
  background-color: #b7f5f5;
}
.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
}


.hp4main2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 14px;
}
