<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"
></ngx-loading>

<div>

  <div class="frameC extra-pad">
    <div class="div">
      <div class="text-wrapper">Exempt Income</div>
      <div class="mingcute-down-fill"></div>
    </div>
    <div class="space">
      <div class="div-2">



        <div class="div-4">
          <div class="frame-wrapper-2A">

            <form [formGroup]="exemptIncomeFormGroup">
              <div class="accordion" id="myAccordion" formArrayName="exemptIncomes">
                <div class="accordion-item">
                  <h2 class="accordion-header accoHdclr" id="headingOne">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">Agriculture Income</button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#myAccordion"
                       [formGroupName]="0">
                    <div class="card-body extra-pad" [formGroup]="agriIncFormGroup">

                        <div class="hp2main">
                          <div class="hplft">Gross Agricultural Receipts </div>
                          <div class="form-field">
                            <mat-form-field appearance="outline">
                              <input
                                      type="number"
                                      matInput
                                      placeholder=""
                                      name="grossAgriculturalReceipts[0]"
                                      formControlName="grossAgriculturalReceipts"
                                      maxlength="125"
                                      (change)="setNetAgriIncome(0)"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="hp2main">
                          <div class="hplft">Expenditure incurred on agriculture</div>
                          <div class="form-field">
                            <mat-form-field appearance="outline">
                              <input
                                      type="number"
                                      trim
                                      matInput
                                      placeholder=""
                                      name="expenditureIncurredOnAgriculture[0]"
                                      formControlName="expenditureIncurredOnAgriculture"
                                      maxlength="125"
                                      (change)="setNetAgriIncome(0)"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="hp2main">
                          <div class="hplft">Unabsorbed agricultural loss of the previous eight assessment years</div>
                          <div class="form-field">
                            <mat-form-field appearance="outline">
                              <input
                                      type="number"
                                      trim
                                      matInput
                                      placeholder=""
                                      name="unabsorbedAgriculturalLoss[0]"
                                      formControlName="unabsorbedAgriculturalLoss"
                                      maxlength="125"
                                      (change)="setNetAgriIncome(0)"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="hp2main">
                          <div class="hplft">The agricultural income portion relating to rules 7, 7A, 7B(1), 7B(1A) & 8</div>
                          <div class="form-field">
                            <mat-form-field appearance="outline">
                              <input
                                      type="number"
                                      trim
                                      matInput
                                      placeholder=""
                                      name="agriIncomePortionRule7[0]"
                                      formControlName="agriIncomePortionRule7"
                                      maxlength="125"
                                      (change)="setNetAgriIncome(0)"
                                      readonly
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="hp2main">
                          <div class="hplft">Net Agricultural income</div>
                          <div class="form-field">
                            <mat-form-field appearance="outline">
                              <input
                                      type="number"
                                      trim
                                      matInput
                                      placeholder=""
                                      name="netAgriculturalIncome[0]"
                                      formControlName="netAgriculturalIncome"
                                      maxlength="125"
                                      readonly
                              />
                            </mat-form-field>
                          </div>
                        </div>


                      <div class="txHdg mt-1" *ngIf="isAgriIncomeExceedMaxLimit()">
                        <b>Since the Net Agriculture income amount entered is more than INR 5 Lakh, enter the following details-</b>
                      </div>
                      <div formArrayName="agriInc" *ngIf="isAgriIncomeExceedMaxLimit()">
                        <button class="tbd-btn-small" (click)="addAgriLandDtls()">&nbsp;&nbsp;Add More&nbsp;&nbsp;
                            </button>
                        <div class="gry-box-spc"
                           *ngFor="let agriIncArray of getAgriIncomeArray.controls;let j = index"
                           [formGroupName]="j">
                        <!-- row1 -->
                          <div class="buyr-box">
                            <div>
                              <input
                                      class="checkbox checkbox-secondary rounded border-2 w-[18px] h-[18px] mb-[-6px]"
                                      type="checkbox"
                                      (click)="$event.stopPropagation()"
                                      [checked]="selectedIndexes.includes(j)"
                                      (click)="toggleSelectedIndex(j)"/>
                            </div>
                            <div class="field">
                              <div class="field-label">
                                <span class="span">Name of District</span>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                <input
                                        matInput
                                        placeholder="Name of District"
                                        name="nameOfDistrict[j]"
                                        formControlName="nameOfDistrict"/>
                              </mat-form-field>
                              </div>
                            </div>

                            <div class="field">
                              <div class="field-label">
                                <span class="span">Pincode</span>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                <input
                                        matInput
                                        placeholder="Pincode"
                                        name="pinCode[j]"
                                        formControlName="pinCode"/>
                              </mat-form-field>
                              </div>
                            </div>

                            <div class="field">
                              <div class="field-label">
                                <span class="span">Measurement</span>
                              </div>
                              <div class="form-field">
                                <mat-form-field appearance="outline">
                                <input
                                        matInput
                                        placeholder="land In Acre"
                                        name="landInAcre[j]"
                                        formControlName="landInAcre"/>
                              </mat-form-field>
                              </div>
                            </div>

                          </div>
                          <!-- row2 -->
                          <div class="buyr-box">

                            <div class="field">
                              <div class="field-label">
                                <span class="span">Ownership status</span>
                              </div>
                              <mat-form-field appearance="outline">
                                <mat-select formControlName="owner"
                                      placeholder="Ownership status"
                                      required>
                                  <mat-option>Select</mat-option>
                                  <mat-option [value]="'O'">Owner</mat-option>
                                  <mat-option [value]="'H'">Held on lease</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>

                            <div class="field">
                              <div class="field-label">
                                <span class="span">Water Source</span>
                              </div>
                              <mat-form-field appearance="outline">
                                <mat-select formControlName="typeOfLand" placeholder="Type Of Land">
                                  <mat-option>Select</mat-option>
                                  <mat-option [value]="'IRG'">Irrigated</mat-option>
                                  <mat-option [value]="'RF'">Rain-fed</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>

                          </div>
                          <div (click)="delete()">
                              <button class=" delete-btn"><i aria-hidden="true" class="fa fa-trash">&nbsp;</i>Delete</button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                      Other Exempt Amount
                      <input type="number" class="form-control inpClr2" value="{{getTotalExemptIncome()}}" disabled>
                    </button>

                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                    <div class="card-body extra-pad" *ngFor="let income of getExemptIncomeArray.controls;let i = index"
                         [formGroupName]="i">

                        <div class="hp4-4 extra-pad align-right">
                          <div class="Bx4">
                            <div class="Bx4R">
                              <button type="button" class="addAno" (click)="addExemptIncome()"> + Add Another </button>
                            </div>
                          </div>
                        </div>
                      <div class="hp4main1">

                        <div class="col-8 extra-pad">
                          <div class="field">
                            <div class="field-label">
                              <span class="span">Income Category </span>
                            </div>
                            <mat-form-field appearance="outline">
                              <mat-select name="incomeType[i]"
                                          formControlName="incomeType"
                              (selectionChange)="validateExemptIncomes($event)">
                                <mat-option *ngFor="let exempt of exemptIncomesDropdown; let k = index"
                                matTooltip="{{exempt.label}}"
                                        [value]="exempt.value">{{ exempt.label }}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-3 extra-pad">
                          <div class="field">
                            <div class="field-label">
                              <span class="span">Amount </span>
                            </div>

                            <mat-form-field appearance="outline">
                              <input
                                      type="number"
                                      matInput
                                      placeholder=""
                                      name="incomeValue[i]"
                                      formControlName="incomeValue"
                                      maxlength="125"
                              />
                            </mat-form-field>

                          </div>
                        </div>

                        <div class="col-1 extra-pad">
                          <div class="Bx4">
                            <div class="Bx4L delete-align">
                              <button type="button" (click)="deleteExemptIncome(i)"> <i class="fa fa-trash-o delbt"></i> </button>
                            </div>
                          </div>
                        </div>


                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </form>

            <div class="out-box">
              <div class="box-left">
                <div class="btn btn__white" (click)="goBack()">Back</div>
              </div>
              <div class="box-right">
                <div class="btn btn__primary" (click)="saveAll()">Save & View Summary</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>




