<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div class="main clearfix" style="padding-left: 0; margin-left: 0;">
    <div class="card">
      <div  style="float: right;">
        <button class="btn" style="float: right;" (click)="closeComponent()">Close</button>
      </div>
        <app-document-upload (uploadDocument)="afterUploadDocs($event)" [userId]="userId"></app-document-upload>
        <div class="card__title" style="padding: 20px;">Document Cloud
          <span *ngIf="isFile" style="float: right;">
            <button *ngIf="isDownloadAllowed" (click)="downloadAll(folders)">
              <i class="fa fa-download" aria-hidden="true"
                 style="font-size: 18px; padding: inherit; cursor: pointer;"></i>Download All
            </button>
          </span>
        </div>

        <!-- <div style="padding-left: 30px;"><span *ngFor="let docs of commonDocuments; let i=index">
                <a href="javascript:;" (click)="getCommonDocsUrl(i)">{{docs.fileName}}</a> &nbsp;&nbsp;
            </span> &nbsp;
        </div> -->
        <!-- <div class="card__row">
          <div class="card__col-xs-4 card__col-lg-4 tpSpc">
            <div class="container">
              <div >
                <button class="btn" (click)="getCloudFilePath(folder)">ITR</button>
              </div>
              <button class="btn">TPA</button>
              <button class="btn">NOTICE</button>
              <button class="btn">GST</button>
            </div>
          </div>
        </div> -->
        <div class="card__row">
            <ul class="breadcrumb breadTx" style="overflow: hidden;">
                <li *ngFor="let breadcrumb of breadcrumbsPart; let i=index" class="breadcrumb-item"
                    style="display:inline-block">
                    <a href="javascript:;" (click)="getCloudFilePath(breadcrumb, 'fromBreadcrum')">
                        {{breadcrumb}}
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                </li>
            </ul>
        </div>
        <div class="card__row">
            <div class="card__col-xs-3 card__col-lg-3 tpSpc">
                <span *ngIf="!isFile">
                    <div class="inlinBx" *ngFor="let folder of folders; let k=index;">
                        <span style="padding-left: 15px;"> <button  class="btn"
                                aria-label="Example icon button with a heart icon" title="Click to select media file"
                                (click)="getCloudFilePath(folder)">{{folder}}

                            </button></span><br>
                        <!-- <button mat-button>{{folder}}</button> -->


                        <!--   <a (click)="getCloudFilePath(folder)"><i class="fa fa-folder" style="font-size: 40px;"
                                aria-hidden="true"></i><br>
                            {{folder}}
                        </a> -->

                    </div>
                </span>
                <div class="listVw" *ngIf="isFile">
                    <span *ngFor="let folder of folders; let k=index;">
                        <div class="card__row">
                            <div class="card__col-xs-9">
                              <ul class="bullet-list">
                                <li>
                                  <h5>{{folder.documentTag}}</h5>
                                  <a style="line-height: 16px;
                                  overflow-wrap: break-word;" href="javascript:void(0)"
                                      (click)="getCommonDocsUrl(folder);preventDownload($event)">{{folder.fileName}}
                                  </a>
                                  <br><span class="dateTime">{{folder.uploadedDate | date:'short'}}</span>
                                </li>
                              </ul>
                            </div>
                            <div class="card__col-xs-3" style="display: flex; align-items: center;">
                              <i class="fa fa-info-circle" aria-hidden="true" *ngIf="isFile && folder.isDeleted"
                                style="font-size: 18px; cursor: pointer;"></i>
                              <i class="fa fa-trash" aria-hidden="true" *ngIf="isFile && !folder.isDeleted"
                                (click)="deleteFile(folder.fileName)"
                                style="font-size: 18px; cursor: pointer; margin-right: 10px;"></i>
                              <button *ngIf="!folder.isDeleted && (folder.fileName.split('.').pop() === 'xls' || folder.fileName.split('.').pop() === 'xlsx')"
                                (click)="editFile(folder)" style="margin-right: 10px;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                              <button *ngIf="!folder.isDeleted && !isDocTypeSupported(folder)"
                                (click)="gotoDrive(folder)" style="margin-right: 10px;"><i class="fa fa-external-link" aria-hidden="true"></i></button>
                              <button *ngIf="isDownloadAllowed" (click)="downloadFile(folder)">
                                <i class="fa fa-download" aria-hidden="true"
                                  style="font-size: 18px; padding: inherit; cursor: pointer;"></i>
                              </button>
                            </div>

                        </div>

                        <!-- <a class="txtLf" *ngIf="isFile" href="javascript:void(0)" (click)="getCommonDocsUrl(folder)">
                                    {{folder.fileName}}</a> -->
                        <!-- <p class="txtRt" *ngIf="isFile && folder.isDeleted">Deleted By {{folder.deletedBy === "USER"
                            ?
                            'You'
                            : 'Tax Buddy'}} on {{folder.date | date}}</p> -->
                    </span>



                    <!-- <button class="dwLdBtn" *ngIf="isFile && !folder.isDeleted"
                        (click)="downloadFile(folder.fileName)"><i class="fal fa-arrow-alt-to-bottom"></i>
                        Download</button> -->
                </div>
            </div>
            <div class="card__col-xs-9 card__col-lg-9 tpSpc">
                <h2 class="msg" *ngIf="breadcrumbsPart.length === 0"><b>No document available</b></h2>
                <lib-ngx-image-zoom *ngIf="viewer !== 'DOC'" [thumbImage]="docUrl" [fullImage]="docUrl" [magnification]="1"
                    [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="200"
                    [lensHeight]="200" [scrollStepSize]="0.1">
                </lib-ngx-image-zoom>

                <div *ngIf="viewer === 'DOC'">
                  <ngx-doc-viewer *ngIf="docType !== 'pdf'" [url]="docUrl" viewer="google" style="width:100%;height:93vh;">
                  </ngx-doc-viewer>
<!--                  <pdf-viewer *ngIf="docType === 'pdf'" src="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf" [zoom]="zoom" [original-size]="true" [autoresize]="true"-->
<!--                              [render-text]="true" style="display: block;height: 100%">-->
<!--                  </pdf-viewer>-->
                  <pdf-viewer *ngIf="docType === 'pdf'"
                  [src]="docUrl"
                  [rotation]="0"
                  [original-size]="false"
                  [show-all]="true"
                  [fit-to-page]="false"
                  [zoom]="1"
                  [zoom-scale]="'page-width'"
                  [stick-to-page]="false"
                  [render-text]="true"
                  [external-link-target]="'blank'"
                  [autoresize]="true"
                  [show-borders]="false"
                  style="width: 100%; height: 93vh;"
                  ></pdf-viewer>
<!--                  <ngx-extended-pdf-viewer *ngIf="docType === 'pdf'" [src]="docUrl" useBrowserLocale="true" height="80vh" [enableDragAndDrop]="true"-->
<!--                                           [showUnverifiedSignatures]="true"></ngx-extended-pdf-viewer>-->
                </div>

            </div>
        </div>




        <!-- <ngx-image-zoom *ngIf="docDetails.docType !== 'pdf'" [thumbImage]="docDetails.docUrl"
            [fullImage]="docDetails.docUrl" [magnification]="1" [enableScrollZoom]="true" [enableLens]="true"
            [lensWidth]="200">
        </ngx-image-zoom>
        <div *ngIf="docDetails.docType === 'pdf'" style="padding-left: 30px;">
            <button ion-button (click)="incrementZoom(-0.1)">
                -
            </button>&nbsp;
            <button ion-button (click)="incrementZoom(0.1)">
                +
            </button>
            <pdf-viewer [src]="docDetails.docUrl" [zoom]="zoom" [original-size]="true" [autoresize]="true"
                [render-text]="true" style="display: block;height: 100%">
            </pdf-viewer>
        </div>
        <div *ngIf="breadcrumbsPart.length > 0 && docDetails.docUrl ===''" style="text-align: center;padding: 20px;">
            Documents not uploaded/Selected
        </div> -->
    </div>
</div>
