.upload-data {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  margin: 6px 0;

  label {
    color:#07070C;
  }

  .upload {
    border: 1px solid #00AECA;
    color: #00AECA;
    border-radius: 4px;
    padding: 5px;
    font-size: 13px;
  }

  .filename {
    overflow-wrap: break-word;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-right: 24px;
    font-size: 10px;
  }
}
