.upload-data {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  margin: 6px 0;

  label {
    color: #07070c;
  }

  .left-label {
    // Upload Capital Gain/F&O statement here:
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    word-wrap: break-word
  }

  .upload {
    border: 1px solid #00aeca;
    color: #00aeca;
    border-radius: 4px;
    padding: 5px;
    font-size: 13px;
  }

  .download {
    color: #087586;
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
  }

  .filename {
    overflow-wrap: break-word;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-right: 0px;
    margin-top: 10px;
    font-size: 12px;
  }
}
.txTtl {
  font-size: 20px;
  font-weight: 600;
}
.card {
  padding: 20px !important;
  border: 1px solid #00aeca !important;
  border-radius: 8px !important;
  background-color: #ffffff !important;
  margin: 15px 0px 20px 0px !important;
}

.m-0 {
  margin: -18px;
}

.temsteps {
  display: flex;
  gap: 25px;
}

.temsteps a {
  color: blue;
  text-decoration: underline;
  white-space: nowrap;
}
