.search-icon {
  width: 24px;
  height: 24px;
  color: #298FFF;
  font-size: 20px;
}

.mat-mdc-form-field {
    background: #DDEDFF !important;
    background-color: #DDEDFF !important;
    height: 38px;
}