<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<div class="main clearfix">
  <div class="align-items-center row">
    <div class="col-sm-4">
      <b style="font-size: 20px">Filter - Create New User:</b>
    </div>
    <div class="col-sm-2" *ngIf="roles?.includes('ROLE_OWNER')">
      <p>
        <mat-slide-toggle [formControl]="coOwnerToggle" (change)="getToggleValue()"> Co-Owner </mat-slide-toggle>
      </p>
    </div>
  </div>
  <div class="rowClr">
    <div class="surround">


    <form [formGroup]="signUpForm">
      <div class="row">

        <!-- searchh area starts -->
        <div class="col-sm-12 bckClr" *ngIf="!coOwnerCheck">
          <app-sme-list-drop-down (sendOwner)="fromSme($event, true)" (sendFiler)="fromSme($event, false)" listType="ALL"
             [disabled]="assignedToMe">
          </app-sme-list-drop-down>
        </div>
        <div class="col-sm-12 bckClr" *ngIf="coOwnerCheck">
         <app-co-owner-list-drop-down  (sendCoOwner)="fromSme1($event, true)"
           (sendCoFiler)="fromSme1($event, false)"></app-co-owner-list-drop-down>
         </div>       
        <!-- search area ends -->

        <div class="col-sm-3 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>PAN Number</mat-label>
            <input placeholder="PAN" formControlName="panNumber" autocomplete="off"
              (blur)="getUserInfoByPan(signUpForm.controls['panNumber'])" type="text" maxlength="10" minlength="10"
              upperCase matInput>
          </mat-form-field>
        </div>

        <div class="col-sm-3 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input placeholder="First Name" type="text" formControlName="firstName" capitalizeFirst matInput required>
          </mat-form-field>
        </div>
        <div class="col-sm-3 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input placeholder="Middle Name" type="text" formControlName="middleName" capitalizeFirst matInput>
          </mat-form-field>
        </div>
        <div class="col-sm-3 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input placeholder="Last Name" type="text" formControlName="lastName" capitalizeFirst matInput required>
          </mat-form-field>
        </div>
        <div class="col-sm-3 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>Select country</mat-label>
            <input type="text" placeholder="Select country" matInput formControlName="countryCode"
              [matAutocomplete]="auto" required>
              <mat-autocomplete  #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (click)="getCountry(option)">
                {{ option.name| titlecase }}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline">
            <mat-label>Select country code</mat-label>
            <mat-select placeholder="Select country" formControlName="countryCode" required>
              <mat-option *ngFor="let country of countryDropdown" [value]="country.countryCode">
                {{ country.countryCode}} ({{ country.countryName | titlecase}})
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
        <div class="col-sm-3 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput  [numbersOnly]="true" placeholder="Enter mobile number" formControlName="mobile" name="mobile"
              pattern="[0-9]{10,20}"  required maxlength="20" />
            <mat-error class="error-msg" *ngIf="signUpForm.controls['mobile'].hasError('required')">Mobile number
              is required</mat-error>
            <mat-error class="error-msg" *ngIf="signUpForm.controls['mobile'].hasError('pattern')">Please enter a
              valid mobile no.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-3 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput type="email" placeholder="Enter email address" formControlName="email" name="mobile"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" maxLength="50" required />
            <mat-error class="error-msg" *ngIf="signUpForm.controls['email'].hasError('required')">Email address is
              required</mat-error>
            <mat-error class="error-msg" *ngIf="signUpForm.controls['email'].hasError('pattern')">Please enter a valid
              email address.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-3 spsTp">
          <mat-form-field appearance="outline">
            <mat-label>Select Service Type</mat-label>
            <mat-select placeholder="Select Service Type" formControlName="serviceType" required
              (selectionChange)="changeServiceType()">
              <mat-option *ngFor="let service of services" [value]="service">
                {{service}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="signUpForm.controls['serviceType'].hasError('required')">Select
              Service type </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12" *ngIf="(roles?.includes('ROLE_OWNER') || roles?.includes('ROLE_FILER')) && !coOwnerCheck " >
          <mat-checkbox  class="example-margin bldFnt mvRth assign" [(ngModel)]="assignedToMe"
            [ngModelOptions]="{standalone: true}" [disabled]="disableAssignedToMe" (change)="isAssignedToMe()">Assigned
            to me!</mat-checkbox>
        </div>



        <div class="col-sm-12 spsTp bdrTp">
          <button class="rt-btn" (click)="userSignUp()" [disabled]="disableUserSignUp"> User Sign-up </button>
        </div>

      </div>
     </form>


    </div>
    </div>
