<form [formGroup]="cflForm">
    <div class="frameC">
        <h1 class="heading__title">Losses To Be Carried Forward (Schedule CFL)
        </h1>
        <div class="space">
                    <div class="frame-wrapper-2A">
                        <div class="accordion" id="myAccordion">

                            <div class="table-responsive">
                                <table class="table table-bordered mb-20" aria-label="carried forword losses">
                                    <thead>
                                    <tr class="table-head">
                                        <th id="action" class="text-center" rowspan="2">ACTION</th>
                                        <th id="ay" class="text-center" rowspan="2">ASSESSMENT YEAR</th>
                                        <th id="dateOffiling" class="text-center" rowspan="2">DATE OF FILING</th>
                                        <th id="hpLosses" class="text-center" rowspan="2">HOUSE PROPERTY LOSS</th>
                                        <th id="income" class="text-center" colspan="2">Business & Speculative income</th>
                                        <th id="capitalGainLosses" class="text-center" colspan="2"> Capital Gain Loss</th>
                                    </tr>
                                    <tr class="table-head">
                                        <th id="bfbl" class="text-center">BROUGHT FORWARD
                                            BUSINESS LOSS
                                        </th>
                                        <th id="lfsb" class="text-center">LOSS FROM
                                            SPECULATIVE BUSINESS
                                        </th>
                                        <th id="stcl" class="text-center">SHORT TERM
                                            CAPITAL LOSS
                                        </th>
                                        <th id="ltcl" class="text-center">LONG TERM
                                            CAPITAL LOSS
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody formArrayName="cflArray">
                                    <tr *ngFor="let cfl of getCflArray.controls;let i=index" [formGroupName]="i">
                                        <td>
                                            <mat-checkbox color="primary" name="hasEdit[i]" formControlName="hasEdit">
                                            </mat-checkbox>
                                        </td>
                                        <td class="txCen">
                                            {{cfl.get('assessmentPastYear').value}}
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input appDateInput matInput placeholder="DD/MM/YYYY"
                                                       name="dateofFilling[i]" [max]="today"
                                                       [matDatepicker]="dateofFilling" autocomplete="off"
                                                       formControlName="dateofFilling">
                                                <mat-datepicker-toggle matSuffix
                                                                       [for]="dateofFilling"></mat-datepicker-toggle>
                                                <mat-datepicker #dateofFilling></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input-field" name="housePropertyLoss[i]"
                                                       maxlength="14" digitsOnly
                                                       (change)="calculateTotalLosses()"
                                                       formControlName="housePropertyLoss">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input-field" name="broughtForwordBusinessLoss[i]"
                                                       maxlength="14" digitsOnly
                                                       formControlName="broughtForwordBusinessLoss"
                                                       (change)="calculateTotalLosses()">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline" class="colrOut">
                                                <input matInput class="input-field" name="speculativeBusinessLoss[i]"
                                                       maxlength="14" digitsOnly
                                                       formControlName="speculativeBusinessLoss"
                                                       (change)="calculateTotalLosses()">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input-field" name="STCGLoss[i]" maxlength="14"
                                                       formControlName="STCGLoss" digitsOnly
                                                       (change)="calculateTotalLosses()">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input-field" name="LTCGLoss[i]" maxlength="14"
                                                       formControlName="LTCGLoss" digitsOnly
                                                       (change)="calculateTotalLosses()">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <hr>
                                    <tbody>
                                    <tr>
                                        <td colspan="3" class="total-losses">
                                            Total of earlier year losses
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input-field" readonly name="totalHPLoss"
                                                       formControlName="totalHPLoss"
                                                       maxlength="14">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input-field" name="totalBFBusinessLoss"
                                                       formControlName="totalBFBusinessLoss" readonly maxlength="14">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input-field" readonly name="totalSIBusinessLoss"
                                                       formControlName="totalSIBusinessLoss" maxlength="14">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input-field" readonly name="totalSTCGLoss"
                                                       formControlName="totalSTCGLoss" maxlength="14">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input-field" readonly name="totalLTCGLoss"
                                                       formControlName="totalLTCGLoss" maxlength="14">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                        <div class="col-sm-12 spsTp bdrTp">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="delete-btn delete-icon" (click)="deleteCflArray()">
                                        <i class="fa fa-trash-o delbt"></i> Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>



                <div class="out-box">
                    <div class="box-left">
                        <div class="btn__white" (click)="goBack()">Back</div>
                    </div>
                    <div class="box-right">
                        <div class="btn__primary" (click)="save()">Save & View Summary</div>
                    </div>
                </div>

        </div>
    </div>
</form>
