.table-responsive {
  overflow-x: auto;
}

.table th:first-child {
  position: relative!important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;

}

.mat-form-field {
  max-width: 145px!important;
}

th {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  // border: 1px solid #ddd;
}

td {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  // border: 1px solid #ddd;

  mat-form-field {
    width: 130px;
  }
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.table-header {
  background: #f5f7f7;
  border-color: #bdc3c7;
  border-width: 1px;
}

.total-losses {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #07070C;
}

.edit-donation {
  background: #E5F2F6;
  border: 0.5px solid #D9D9D9;
  border-radius: 3px;
  display: flex;
  padding: 5px 4px;

  .mat-icon {
    height: 15px;
    width: 19px;
  }

  .material-icons {
    font-size: 14px;
  }
}

.head-title {
  font-size: 14px;
  font-weight: 500;
  margin-left: 30px;
  color: #000000;
}