<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"
></ngx-loading>

<div>
  <!-- other-assets  -->
  <mat-accordion class="headers-align">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      (closed)="closed()"
      hideToggle
      class="hide-close"
    >
      <mat-expansion-panel-header class="flex justify-between items-center">
        <mat-panel-title>
          <mat-icon> arrow_forward_ios </mat-icon>
          Other Assets
        </mat-panel-title>
        <div class="edit clearfix isShow">
          <button
            class="flex items-center btn gap-[15px]"
            style="flex-direction: row"
            (click)="
              $event.stopPropagation();
              addOtherAssets('otherAssets', 'improvements')
            "
          >
            <mat-icon [inline]="true"> edit_square </mat-icon>
            <span>Add Other Assets</span>
          </button>
        </div>
      </mat-expansion-panel-header>
      <div class="card flex gap-[25px]">
        <div>
          <div>
            <app-other-assets-dialog
              [isAddOtherAssets]="isAddOtherAssets"
            ></app-other-assets-dialog>
            <br />
            <app-other-improvement-dialog
              [isAddOtherAssetsImprovement]="isAddOtherAssetsImprovement"
            ></app-other-improvement-dialog>
          </div>
          <div>
            <div class="flex justify-between items-center">
              <div>
                <button class="btn">DELETE</button>
              </div>
              <div>
                <mat-paginator
                  [length]="200"
                  [pageSizeOptions]="[10, 50, 100]"
                  aria-label="Select page"
                >
                </mat-paginator>
              </div>
              <div>
                <button class="btn" (click)="saveCg()">SAVE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <br />

  <!-- deductions  -->
  <div class="card">
    <div style="padding: 25px">
      <div class="card__title">Add Deduction under section 54F</div>
      <div>
        (Applicable for any capital assets other than residential House
        Property)
      </div>
    </div>
    <div class="card__row flex" style="flex-direction: row">
      <div style="padding-right: 35px">
        <mat-checkbox></mat-checkbox>
      </div>

      <div>
        <div class="card__row">
          <form [formGroup]="">
            <div class="card__row">
              <!-- type-of-deduction  -->
              <div class="card__col-xs-12 card__col-sm-4">
                <mat-label>Type of Deduction</mat-label>
                <mat-form-field class="input-field-width" appearance="outline">
                  <input
                    matInput
                    digitsOnly
                    formControlName="typeOfDeduction"
                    placeholder="Type of Deduction"
                    name="typeOfDeduction"
                    class="input-field"
                    maxlength="14"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  />
                  <!-- <mat-error
                    *ngIf="
                      assetDetailsForm.controls['purchaseCost'].hasError(
                        'pattern'
                      )
                    "
                    >Enter valid amount.</mat-error
                  > -->
                </mat-form-field>
              </div>
              <!-- buy-date  -->
              <div class="card__col-xs-12 card__col-sm-3">
                <mat-label> Buy Date / Date of Acquisition </mat-label>
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    formControlName="purchaseDate"
                    name="purchaseDate"
                    [matDatepicker]="purchaseDate"
                    placeholder="Buy Date / Date of Acquisition"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="purchaseDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #purchaseDate></mat-datepicker>
                </mat-form-field>
              </div>
              <!-- cost-of-new-asset  -->
              <div class="card__col-xs-12 card__col-sm-4">
                <mat-label>Cost of New Asset</mat-label>
                <mat-form-field class="input-field-width" appearance="outline">
                  <input
                    matInput
                    digitsOnly
                    formControlName="costOfNewAsset"
                    placeholder="Cost Of New Asset"
                    name="costOfNewAsset"
                    class="input-field"
                    maxlength="14"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  />
                  <!-- <mat-error
                    *ngIf="
                      assetDetailsForm.controls['sellValue'].hasError('pattern')
                    "
                    >Enter valid amount.</mat-error
                  > -->
                </mat-form-field>
              </div>
              <!-- CGAS Deposit  -->
              <div class="card__col-xs-12 card__col-sm-4">
                <mat-label>Amount deposited in CGAS before due date</mat-label>
                <mat-form-field class="input-field-width" appearance="outline">
                  <input
                    matInput
                    digitsOnly
                    formControlName="CGASAmount"
                    placeholder="Amount deposited in CGAS before due date"
                    name="CGASAmount"
                    class="input-field"
                    maxlength="14"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  />
                  <!-- <mat-error
                    *ngIf="
                      assetDetailsForm.controls['sellExpense'].hasError('pattern')
                    "
                    >Enter valid amount.</mat-error
                  > -->
                </mat-form-field>
              </div>
              <!-- deduction claimed  -->
              <div class="card__col-xs-12 card__col-sm-4">
                <mat-label>Amount of Deduction Claimed</mat-label>
                <mat-form-field class="input-field-width" appearance="outline">
                  <input
                    matInput
                    digitsOnly
                    formControlName="deductionClaimed"
                    placeholder="Amount of Deduction Claimed"
                    name="deductionClaimed"
                    class="input-field"
                    maxlength="14"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  />
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="flex justify-between items-center">
          <div>
            <button class="btn">DELETE</button>
          </div>
          <div>
            <mat-paginator
              [length]="200"
              [pageSizeOptions]="[10, 50, 100]"
              aria-label="Select page"
            >
            </mat-paginator>
          </div>
          <div>
            <button class="btn">SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <hr />

  <!-- page-navigation-buttons  -->
  <div class="flex justify-between items-center">
    <div>
      <button class="btn" (click)="goBack()">
        Back to Capital Gain Topics
      </button>
    </div>

    <div>
      <button class="btn">Save All</button>
    </div>
  </div>
</div>

<!-- <div style="padding-top: 20px">
  <div class="card__title" style="padding: 10px; font-size: 20px">
    Other Assets
    <span style="float: right">
      <button
        class="tbd-btn-small"
        (click)="addMore('ADD', 'GOLD', goldCg.assetDetails.length)"
      >
        Add More&nbsp;&nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </span>
  </div>

  <div style="height: 100%; padding-top: 10px; box-sizing: border-box">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-balham"
      [gridOptions]="otherAssetsGridOptions"
      (rowClicked)="onOtherAssetsRowClicked($event)"
    >
    </ag-grid-angular>
  </div>
</div>

<div style="padding-top: 20px">
  <div class="card__title" style="padding: 10px; font-size: 20px">
    Add Details of cost of Improvement?
    <span style="float: right">
      <button class="tbd-btn-small" (click)="addImprovement('ADD')">
        Add More&nbsp;&nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </span>
  </div>

  <div style="height: 100%; padding-top: 10px; box-sizing: border-box">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-balham"
      [gridOptions]="improvementGridOptions"
      (rowClicked)="onImprovementRowClicked($event)"
    >
    </ag-grid-angular>
  </div>
</div>

<div style="padding-top: 20px">
  <div class="card__title" style="padding: 10px; font-size: 20px">
    Add deduction under section 54F
    <i
      class="fa fa-info-circle"
      aria-hidden="true"
      title="Applicable for any capital assets other than residential HP"
    ></i>
    <span style="float: right">
      <button
        class="tbd-btn-small"
        [disabled]="!canAddDeductions"
        (click)="addDeduction('ADD')"
      >
        Add More&nbsp;&nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </span>
  </div>

  <div style="height: 100%; padding-top: 10px; box-sizing: border-box">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-balham"
      [gridOptions]="deductionGridOptions"
      (rowClicked)="onDeductionRowClicked($event)"
    >
    </ag-grid-angular>
  </div>
</div>

<div class="pull-right">
  <button class="tbd-btn" (click)="saveCg()">Save</button>
</div> -->
