<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"
></ngx-loading>

<div class="mrgArd">
  <!-- other-assets  -->
  <mat-accordion class="headers-align">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      (closed)="closed()"
      hideToggle
      class="hide-close"
    >
      <mat-expansion-panel-header class="flex justify-between items-center">
        <mat-panel-title>
          <mat-icon> arrow_forward_ios </mat-icon>
          Other Assets
        </mat-panel-title>
        <div class="edit clearfix isShow">
          <button
            class="new-add mvRth"
            (click)="$event.stopPropagation(); addOtherAssets('otherAssets')"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span> Add Other Assets</span>
          </button>
        </div>
      </mat-expansion-panel-header>
      <div class="flex gap-[25px]" style="padding-top: 25px">
        <div>
          <div>
            <app-other-asset-improvement
              style="padding-top: 25px"
              [isAddOtherAssetsImprovement]="isAddOtherAssetsImprovement"
            ></app-other-asset-improvement>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <br />

  <!-- deductions  -->
  <div class="card bdrArnd">
    <!-- header  -->
    <div class="flex items-center justify-between">
      <div>
        <div class="isDeduction">Add Deduction under section 54F</div>
        <div>
          (Applicable for any capital assets other than residential House
          Property)
        </div>
      </div>
    </div>

    <!-- form  -->
    <form [formGroup]="deductionForm">
      <div formArrayName="deductions">
        <div
          *ngFor="
            let deduction of getDeductions?.controls | paginate : config;
            let i = index
          "
          [formGroupName]="fieldGlobalIndex(i)"
        >
          <div class="row cardClr2">
            <!-- CHECKBOX  -->
            <div class="col-sm-1">
              <mat-checkbox color="primary"></mat-checkbox>
            </div>

            <!-- inputs  -->

            <!-- type-of-deduction  -->
            <div class="col-sm-3">
              <mat-label>Type of Deduction</mat-label>
              <mat-form-field class="input-field-width" appearance="outline">
                <input
                  matInput
                  digitsOnly
                  formControlName="typeOfDeduction"
                  placeholder="Type of Deduction"
                  name="typeOfDeduction"
                  class="input-field"
                  maxlength="14"
                  readonly
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                />
                <!-- <mat-error
                  *ngIf="
                    assetDetailsForm.controls['purchaseCost'].hasError(
                      'pattern'
                    )
                  "
                  >Enter valid amount.</mat-error
                > -->
              </mat-form-field>
            </div>
            <!-- buy-date  -->
            <div class="col-sm-4">
              <mat-label> Buy Date / Date of Acquisition </mat-label>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  formControlName="purchaseDate"
                  name="purchaseDate"
                  [matDatepicker]="purchaseDate"
                  placeholder="Buy Date / Date of Acquisition"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="purchaseDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #purchaseDate></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- cost-of-new-asset  -->
            <div class="col-sm-4">
              <mat-label>Cost of New Asset</mat-label>
              <mat-form-field class="input-field-width" appearance="outline">
                <input
                  matInput
                  digitsOnly
                  formControlName="costOfNewAsset"
                  placeholder="Cost Of New Asset"
                  name="costOfNewAsset"
                  class="input-field"
                  maxlength="14"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                />
                <!-- <mat-error
                  *ngIf="
                    assetDetailsForm.controls['sellValue'].hasError('pattern')
                  "
                  >Enter valid amount.</mat-error
                > -->
              </mat-form-field>
            </div>
            <!-- CGAS Deposit  -->
            <div class="col-sm-4 spsTp">
              <mat-label>Amount deposited in CGAS before due date</mat-label>
              <mat-form-field class="input-field-width" appearance="outline">
                <input
                  matInput
                  digitsOnly
                  formControlName="CGASAmount"
                  placeholder="Amount deposited in CGAS before due date"
                  name="CGASAmount"
                  class="input-field"
                  maxlength="14"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                />
                <!-- <mat-error
                  *ngIf="
                    assetDetailsForm.controls['sellExpense'].hasError('pattern')
                  "
                  >Enter valid amount.</mat-error
                > -->
              </mat-form-field>
            </div>
            <!-- deduction claimed  -->
            <div class="col-sm-4 spsTp">
              <mat-label>Amount of Deduction Claimed</mat-label>
              <mat-form-field class="input-field-width" appearance="outline">
                <input
                  matInput
                  digitsOnly
                  formControlName="deductionClaimed"
                  placeholder="Amount of Deduction Claimed"
                  name="deductionClaimed"
                  class="input-field"
                  maxlength="14"
                  readonly
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  (click)="calculateDeduction(i)"
                />
              </mat-form-field>
            </div>

            <div class="col-sm-4 spsTp">
              <button
                type="button"
                class="edit-donation"
                (click)="editDeduction(i)"
              >
                <mat-icon> edit_square </mat-icon>Edit
              </button>
            </div>
          </div>
          <!-- Row Ends -->
        </div>

        <!-- edit Other Assets deduction -->
      </div>
    </form>

    <!-- footer  -->
    <div class="row spsTp bdrTp">
      <div class="col-sm-9">
        <button
          type="submit"
          class="delete-btn"
          (click)="deleteDeduction(index)"
        >
          <i class="fa fa-trash" aria-hidden="true">&nbsp;</i>Delete
        </button>
      </div>
      <!-- <div class="card__col-sm-6 txt-center">
          <table>
            <tr
              *ngFor="
                let item of getDeductions?.controls | paginate : config
              "
            ></tr>
          </table>
          <pagination-controls
            (pageChange)="pageChanged($event)"
          ></pagination-controls>
        </div> -->
      <div class="col-sm-3">
        <button class="tbd-btn save-btn mvRth" (click)="saveCg()">Save</button>
      </div>
    </div>
  </div>

  <!-- page-navigation-buttons  -->
  <div class="flex justify-between p-[30px] back-foot">
    <button class="lgtBtn" (click)="goBack()">
      Back to Capital Gain Topics
    </button>

    <button class="saveBtnIn">Save All</button>
  </div>
</div>

<!-- <div style="padding-top: 20px">
  <div class="card__title" style="padding: 10px; font-size: 20px">
    Other Assets
    <span style="float: right">
      <button
        class="tbd-btn-small"
        (click)="addMore('ADD', 'GOLD', goldCg.assetDetails.length)"
      >
        Add More&nbsp;&nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </span>
  </div>

  <div style="height: 100%; padding-top: 10px; box-sizing: border-box">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-balham"
      [gridOptions]="otherAssetsGridOptions"
      (rowClicked)="onOtherAssetsRowClicked($event)"
    >
    </ag-grid-angular>
  </div>
</div>

<div style="padding-top: 20px">
  <div class="card__title" style="padding: 10px; font-size: 20px">
    Add Details of cost of Improvement?
    <span style="float: right">
      <button class="tbd-btn-small" (click)="addImprovement('ADD')">
        Add More&nbsp;&nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </span>
  </div>

  <div style="height: 100%; padding-top: 10px; box-sizing: border-box">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-balham"
      [gridOptions]="improvementGridOptions"
      (rowClicked)="onImprovementRowClicked($event)"
    >
    </ag-grid-angular>
  </div>
</div>

<div style="padding-top: 20px">
  <div class="card__title" style="padding: 10px; font-size: 20px">
    Add deduction under section 54F
    <i
      class="fa fa-info-circle"
      aria-hidden="true"
      title="Applicable for any capital assets other than residential HP"
    ></i>
    <span style="float: right">
      <button
        class="tbd-btn-small"
        [disabled]="!canAddDeductions"
        (click)="addDeduction('ADD')"
      >
        Add More&nbsp;&nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </span>
  </div>

  <div style="height: 100%; padding-top: 10px; box-sizing: border-box">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-balham"
      [gridOptions]="deductionGridOptions"
      (rowClicked)="onDeductionRowClicked($event)"
    >
    </ag-grid-angular>
  </div>
</div>

<div class="pull-right">
  <button class="tbd-btn" (click)="saveCg()">Save</button>
</div> -->
