<div>
  <div class="col pad-zero">
    <div class="no_bdr">
      <div class="form-group">
        <h2>FORGOT YOUR PASSWORD?</h2>
      </div>
    </div>
    <div style="margin-bottom: 16px">
      Please enter your mobile number. We'll send you a reset code to change your
      password.
    </div>
  </div>
  <form #form="ngForm" [formGroup]="forgotPasswordForm" novalidate>
    <mat-form-field appearance="outline">
      <mat-label>Mobile</mat-label>
      <input autofocus="autofocus" matInput placeholder="Mobile number" autocomplete="off" formControlName="username"
        name="username" pattern="[0-9]{10}" required maxLength="50">
      <mat-icon matSuffix *ngIf="forgotPasswordForm.controls['username'].valid" style="color: green;">
        check_circle_outline
      </mat-icon>
      <mat-icon matSuffix
        *ngIf="!forgotPasswordForm.controls['username'].valid && forgotPasswordForm.controls['username'].touched"
        style="color: red;">
        error_outline
      </mat-icon>
      <mat-error class="error-msg" *ngIf="forgotPasswordForm.controls['username'].hasError('pattern') ">Please enter a
        valid mobile no.</mat-error>
    </mat-form-field>
    <div class="row" *ngIf="isError">
      <div class='mat-error '>
        <div class='text-center'>
          {{errorMessage}}
        </div>
      </div>
    </div>

    <div>
      <div class="card__col-xs-12 card__col-sm-12" style="text-align: right;">
        <a class="green-link green-link-toggle" (click)="changeMode('SIGN_IN')" title="Found your password?">Found your
          password?</a>
      </div>
    </div>

    <div class="form-group clearfix">
      <!-- <button type="submit" class="btn whiteTxt uppercase loginbt" (click)="forgotPassword()"
        [style.cursor]="busy ?'not-allowed':'pointer'" [disabled]="busy">{{busy ? 'Sending
                  OTP...':'SEND'}}</button> -->
      <button type="submit" class="btn"
        style="margin-left: auto; margin-right: auto; display: block; min-width:40%;border:none;outline:none;"
        (click)="forgotPassword()">{{busy ? 'Sending OTP...':'SEND OTP'}}</button>
    </div>
  </form>
</div>