.info{
    font-size: 15px;
}

.table-responsive{
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;

  }

  th{
    text-align: left;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ddd;
  }
  td {
    text-align: left;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }

  tr:nth-child(even){
    background-color: #f2f2f2
  }


.rowClr-1{
  background: #FFF !important;
  margin-top: 20px;
  padding: 10px 30px 30px 20px;

}

.sub-title-container{
display: flex;
padding: 12px 18px;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 8px 8px 0px 0px;
background: #3E82CD;
}
.sub-title-text{
flex: 1 0 0;
color: #FFF;

font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 164.706% */

}

.new-assigned-container{
display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
align-self: stretch;
border-radius: 0px 0px 8px 8px;
border: 1px solid #E2E4E5;
}

.new-sub-container{
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
  background: #F9F9F9;
}
.TxHd-12{
display: flex;
padding: 8px 24px;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
border-radius: 4px 4px 0px 0px;
background: #DDEDFF;
}
.header-text-1{
color: #303030;

font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 233.333% */
}

.user-data-container{
padding: 10px;
align-self: stretch;
border-radius: 0px 0px 4px 4px;
background: #FCFCFC;
}
.new-cancel-button-1{
  display: flex;
  padding: 8px 24px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 4px;
  border: 1.5px solid #3E82CD;
  color: #3E82CD;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 233.333% */
}

.save-all{
padding: 13px 24px;
align-items: flex-start;
gap: 16px;
border-radius: 4px;
border: 1.5px solid #3E82CD;
background: #3E82CD;
color: #FFF;

font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 233.333% */
}
.save-all:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

.add-address-button {
display: flex;
padding: 8px 24px;
align-items: flex-start;
justify-content: center;
float: right;
color:  #3E82CD;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 28px;
border-radius: 4px;
border: 1.5px solid #3E82CD;
margin-bottom: 10px;
}
