.edit-donation {
    background: #E5F2F6;
    border: 0.5px solid #D9D9D9;
    border-radius: 3px;
    display: flex;
    padding: 5px 4px;
    border: 1px solid #838383;
    margin-top: 10px;
    margin-right: -43px;
    float: right;
    width: 60px;
}

.ml30 {
    margin-top: 15px;
    margin-left: -30px;
}

.fotSp {
    margin-top: 25px;
}

.btnGry {
    border: 1px solid #cccccc;
    padding: 10px;
    color: #cccccc;
    width: 95px;
    border-radius: 5px;
    margin-left: -15px;
}

.gryBk{
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

.gryBk1{
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    margin-top:20px;
}

.txBg{
 font-size:18px;
 font-weight:600;
}

.spsTp {
    margin: 25px 0px 15px 0px;
}

.card {
    margin-bottom: 15px;
    padding: 10px 30px 10px 30px;
    border: 1px solid #ebebeb!important;
    display: block;
}