<div class="spc-blw mrgArd">
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"
  ></ngx-loading>

  <!-- ag-grid table -->
  <div>
    <div>
      <span class="subTitle">Taxes Paid Details:</span>
      <button type="button" class="new-add btnRt" (click)="addTaxesPaid(false)">
        + Add more
      </button>
    </div>
    <div>

    </div>
    <ag-grid-angular
      style="width: 100%; height: 150%"
      class="ag-theme-balham spsTp"
      [gridOptions]="allTdsDetails"
      [groupDisplayType]="groupDisplayType"
      [animateRows]="true"
      (rowClicked)="onTdsDetailRowClicked($event)"
    ></ag-grid-angular>
    <button
      class="delete-btn delete-icon"
      (click)="$event.stopPropagation(); deleteAsset()"
      [disabled]="!isAssetSelected()"
    >
      <i class="fa fa-trash" aria-hidden="true"></i> Delete
    </button>
  </div>

  <!-- navigation buttons -->
  <div class="flex justify-between p-[30px] back-foot">
    <button class="lgtBtn">
      <mat-icon class="icoAdj">keyboard_backspace</mat-icon>
      <span class="font-semibold" (click)="goBack()"
        >&nbsp;Back to Source Page</span
      >
    </button>

    <button class="saveBtnIn">
      <span class="font-semibold" (click)="saveAll()">Save All</span>
    </button>
  </div>
</div>
