.merchant-name,
.gstin-num {
	font-size: 18px;
	font-weight: bold;
}

.last-updated-on {
	font-size: 16px;
}

.credit-table-title {
	height: 50px;
    vertical-align: middle;
    text-align: center;
    background: #d8d8d8;
    font-weight: bold;
}