<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

<div class="content content_full">

    <div class="content__container">
        <div class="card" *ngIf="is_applied_clicked" style="padding-top: 0px;">
            <div class="card__row" style="    margin: 30px 0px 30px 0px;">
                <div class="card__col-xs-12 card__col-sm-4">
                    <div class="merchant-name">
                        {{currentMerchantData ? (currentMerchantData.fName + " " + currentMerchantData.lName) : ""}}
                    </div>
                </div>
                <div class="card__col-xs-12 card__col-sm-4 text-pull-center">
                    <div class="gstin-num">
                        GSTN : {{currentMerchantData ? (currentMerchantData.gstDetails.gstinNumber || "") : ""}}
                    </div>
                </div>
                <div class="card__col-xs-12 card__col-sm-4 text-pull-right">
                    <div class="last-updated-on">
                        Last Updated ON :
                        {{gst3bComputation.updatedAt ? (gst3bComputation.updatedAt | backTipsDate:'full datetime') : ""}}
                    </div>
                </div>
            </div>
            <div class="card__row" style="margin-top: 0px;">
                <div style="color: red" *ngIf="gst3bComputation.computationStatusId != 1">
                    *note:
                    {{ gst3bComputation.computationStatusId == 2 ? 'Copy approved by user' :  'Copy sent for approval'}}
                </div>
                <div class="report-table-wrapper">
                    <table class="report-table" style="min-width: unset;">
                        <thead class="report-table__head">
                            <tr class="report-table__row report-table__row_head">
                                <th class="report-table__cell report-table__cell_name text-pull-left"
                                    style="width: 180px;"></th>
                                <th class="report-table__cell report-table__cell_name text-pull-right">GST Collected on
                                    Sales</th>
                                <th class="report-table__cell report-table__cell_name text-pull-right">GST Paid on
                                    Purchases</th>
                                <th class="report-table__cell report-table__cell_name text-pull-right">Net GST Payable
                                </th>
                                <th class="report-table__cell report-table__cell_name"></th>
                            </tr>
                        </thead>
                        <tbody class="report-table__body">
                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">IGST</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.salesIgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'creditigst'" [placeholder]="''"
                                        [value]="gst3bComputation.creditIgst"
                                        (sendValue)="gst3bComputation.creditIgst = $event;calculateComputationTotal('credit','IGST');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.liabilityIgst}}

                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right"></td>
                            </tr>

                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">CGST</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.salesCgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'creditcgst'" [placeholder]="''"
                                        [value]="gst3bComputation.creditCgst"
                                        (sendValue)="gst3bComputation.creditCgst = $event;calculateComputationTotal('credit','CGST');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.liabilityCgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right"></td>
                            </tr>

                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">SGST/UTGST</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.salesSgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'creditsgst'" [placeholder]="''"
                                        [value]="gst3bComputation.creditSgst"
                                        (sendValue)="gst3bComputation.creditSgst = $event;calculateComputationTotal('credit','SGST');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.liabilitySgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right"></td>
                            </tr>

                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">CESS</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.salesCess}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'creditcess'" [placeholder]="''"
                                        [value]="gst3bComputation.creditCess"
                                        (sendValue)="gst3bComputation.creditCess = $event;calculateComputationTotal('credit','CESS');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.liabilityCess}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right"></td>
                            </tr>

                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">Total</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.salesTotal}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.creditTotal}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.liabilityTotal}}
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right">A</td>
                            </tr>

                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left"
                                    style="background-color: rgba(128, 128, 128, 0.31);"></td>
                                <td class="report-table__cell report-table__cell_name text-pull-right">
                                    Other Liability
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right">
                                    Credit Available
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right">
                                    Balance Liability
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right"></td>
                            </tr>

                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">Late Fees</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'latefees'" [placeholder]="''"
                                        [value]="gst3bComputation.lateFee"
                                        (sendValue)="gst3bComputation.lateFee = $event;calculateComputationTotal('sales','liability');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.creditLateFee}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.lateFee+ gst3bComputation.opBalCreditLateFee}}
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right">B</td>
                            </tr>

                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">Interest</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'interest'" [placeholder]="''"
                                        [value]="gst3bComputation.interest"
                                        (sendValue)="gst3bComputation.interest = $event;calculateComputationTotal('sales','interest');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">

                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">

                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right">C</td>
                            </tr>

                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">Total Liability
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.computationTotal}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.creditTotal}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.liabilityTotal}}
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right">A+B+C</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="gst3bComputation.computationStatusId == 1">
                            <tr class="report-table__row">
                                <td colspan="5"
                                    class="report-table__cell report-table__cell_name text-pull-center credit-table-title">
                                    Working Notes : Total Available Credit
                                </td>
                            </tr>
                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left"></td>
                                <td class="report-table__cell report-table__cell_name text-pull-right">
                                    Op. Bal. of Credit
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right">
                                    GST paid on purchases during the month
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right">
                                    Total GST Paid on Purchases
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right"></td>
                            </tr>
                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">IGST</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'opbcreditigst'"
                                        [placeholder]="''" [value]="gst3bComputation.opBalCreditIgst"
                                        (sendValue)="gst3bComputation.opBalCreditIgst = $event;calculateCreditTotal('op_bal','IGST');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.purchaseIgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.creditIgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right"></td>
                            </tr>
                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">CGST</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'opbcreditCgst'"
                                        [placeholder]="''" [value]="gst3bComputation.opBalCreditCgst"
                                        (sendValue)="gst3bComputation.opBalCreditCgst = $event;calculateCreditTotal('op_bal','CGST');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.purchaseCgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.creditCgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right"></td>
                            </tr>
                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">SGST/UTGST</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'opbcreditSgst'"
                                        [placeholder]="''" [value]="gst3bComputation.opBalCreditSgst"
                                        (sendValue)="gst3bComputation.opBalCreditSgst = $event;calculateCreditTotal('op_bal','SGST');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.purchaseSgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.creditSgst}}
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right"></td>
                            </tr>
                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">Cess</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'opbcreditCess'"
                                        [placeholder]="''" [value]="gst3bComputation.opBalCreditCess"
                                        (sendValue)="gst3bComputation.opBalCreditCess = $event;calculateCreditTotal('op_bal','CESS');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.purchaseCess}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.creditCess}}
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right"></td>
                            </tr>
                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">Late Fees</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <app-input [label]="''" [type]="'number'" [name]="'opbcreditlatefees'"
                                        [placeholder]="''" [value]="gst3bComputation.opBalCreditLateFee"
                                        (sendValue)="gst3bComputation.opBalCreditLateFee = $event;calculateCreditTotal('op_bal','OP_LATE_FEE');"
                                        [is_only_positive_number_allowed]="true"
                                        [disabled]="gst3bComputation.computationStatusId != 1 ? true: false">
                                    </app-input>
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    <!--  <app-input [label]="''" [type]="'number'" [name]="'opbpurchaselatefees'" [placeholder]="''" [value]="gst3bComputation.purchaseLateFee" (sendValue)="gst3bComputation.purchaseLateFee = $event;calculateCreditTotal('purchase','');" [is_only_positive_number_allowed]="true" [disabled]="gst3bComputation.computationStatusId != 1 ? true: false"></app-input> -->
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.creditLateFee}}
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right"></td>
                            </tr>
                            <tr class="report-table__row">
                                <td class="report-table__cell report-table__cell_name text-pull-left">Total</td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.opBalCreditTotal}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.purchaseTotal}}
                                </td>
                                <td class="report-table__cell report-table__cell_day text-pull-right">
                                    {{gst3bComputation.creditTotal}}
                                </td>
                                <td class="report-table__cell report-table__cell_name text-pull-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer__buttons clearfix" style="margin-top: 40px;"
                *ngIf="gst3bComputation.computationStatusId == 1">
                <a class="btn long-btn" (click)="saveGST3BData('save');">Save</a>
                <a class="btn long-btn" (click)="saveGST3BData('save & send');">Save & Send</a>
            </div>
        </div>
    </div><!-- .content__container -->
</div><!-- .content -->