@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
// @import "~ag-grid/src/styles/ag-grid";
.ag-theme-balham .ag-root {
  min-height: 82px !important;
}
.ag-root-wrapper-body.ag-layout-normal {
  flex: 1 1 auto;
  height: 100%;
  /* min-height: 0; */
}
.ag-header-cell-label .ag-header-cell-text {
  white-space: normal !important;
}
/* .ag-overlay-wrapper {
  vertical-align: bottom !important;
} */
.ag-theme-balham .ag-header-cell-label {
  justify-content: center;
}
.ag-overlay-wrapper {
  align-items: flex-end;
  padding-bottom: 15px;
}
/* input type number style */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.432);
  transition-timing-function: ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transition-timing-function: linear;
  transform: translate(0, -25%);
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}
.modal-content {
  width: 512px;
  margin: auto;
  margin-top: 35% !important;
}
.modal-open {
  overflow: inherit !important;
} */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-form-field {
  width: 100% !important;
}
.mat-error {
  display: block;
  font-size: 11px;
  text-align: right;
  font-style: italic;
  padding-right: 5px;
}

// New Ag-grid css part
.cell-span {
  background-color: #ffffff;
  vertical-align: middle;
  border: #d9dcde solid 1px !important;
}
.ag-theme-balham .invalid-row {
  border: 1px solid sandybrown !important;
}
.ag-theme-balham .ag-root {
  min-height: 62px !important;
}
.ag-overlay-wrapper {
  vertical-align: bottom !important;
}
