.floating-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 472px;
    top: 110px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #333;
    z-index: 9999;
    border: 1px;
}

.header {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget-title {
    flex-grow: 1;
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.options {
    overflow-x: auto;
    white-space: nowrap;
}

.options::-webkit-scrollbar {
    display: none;
}

.icon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 15px;
}

.glyphicon-remove {
    margin-right: 0;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.option-box {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.option-box:hover {
    background-color: #3498db;
}

.search-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 3px;
    margin-right: 3px;
}

.search-icon {
    font-size: 18px;
    margin-right: 10px;
    color: #888;
}

.input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #f2f2f2;
}

input[type="text"] {
    outline: none;
    border: none;
    background-color: #f2f2f2;
    margin-left: 5px;
}

.user-list {
    max-height: 330px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.user-list::-webkit-scrollbar {
    display: none;
}

.user-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.user-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-name {
    font-weight: bold;
}

.chat-snippet {
    color: #888;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-time {
    position: absolute;
    top: 5px;
    right: 1px;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

 


.notification-badge {
    position: absolute;
    top: 50%;
    right: 5px;
    background-color: rgb(57, 57, 235);
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}

.selected-dept {
    background-color: #3498db;
}
 
