<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"
></ngx-loading>

<form [formGroup]="OtherAsssetImprovementForm" style="padding: 0 40px">
  <!-- otherAssets details  -->
  <div formArrayName="otherAssets">
    <div
      *ngFor="
        let otherAsset of getOtherAssets?.controls | paginate : config;
        let i = index
      "
      [formGroupName]="fieldGlobalIndex(i)"
    >
      <div>
        <div>
          <div class="card flex" style="flex-direction: row">
            <div class="flex flex-col">
              <!-- otherAssets  -->
              <div formArrayName="otherAssetsArray">
                <div class="flex">
                  <div>
                    <mat-checkbox
                      color="primary"
                      name="hasEdit[i]"
                      formControlName="hasEdit"
                    >
                    </mat-checkbox>
                  </div>

                  <div>
                    <!-- buy-date  -->
                    <div class="card__col-xs-12 card__col-sm-3">
                      <mat-label> Buy Date / Date of Acquisition </mat-label>
                      <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="purchaseDate"
                          name="purchaseDate"
                          [matDatepicker]="purchaseDate"
                          placeholder="Buy Date / Date of Acquisition"
                          (blur)="calculateGainType(i)"
                          (dateChange)="calculateGainType(i)"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="purchaseDate"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #purchaseDate></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <!-- sale-date  -->
                    <div class="card__col-xs-12 card__col-sm-3">
                      <mat-label>Sale Date/Date of Transfer</mat-label>
                      <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="sellDate"
                          name="sellDate"
                          [matDatepicker]="sellDate"
                          placeholder="Sale Date/Date of Transfer"
                          (blur)="calculateGainType(i)"
                          (dateChange)="calculateGainType(i)"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="sellDate"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #sellDate></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <!-- buy-value  -->
                    <div class="card__col-xs-12 card__col-sm-3">
                      <mat-label> Buy Value</mat-label>
                      <mat-form-field
                        class="input-field-width"
                        appearance="outline"
                      >
                        <input
                          matInput
                          digitsOnly
                          formControlName="purchaseCost"
                          placeholder="Buy Value"
                          name="purchaseCost[i]"
                          class="input-field"
                          maxlength="14"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        />

                        <!-- <mat-error
                              *ngIf="
                                getOtherAssetsArray.controls['purchaseCost'].hasError(
                                  'pattern'
                                )
                              "
                              >Enter valid amount.</mat-error
                            > -->
                      </mat-form-field>
                    </div>
                    <!-- sale-value  -->
                    <div class="card__col-xs-12 card__col-sm-3">
                      <mat-label>Sale Value</mat-label>
                      <mat-form-field
                        class="input-field-width"
                        appearance="outline"
                      >
                        <input
                          matInput
                          digitsOnly
                          formControlName="sellValue"
                          placeholder="Sell Value"
                          name="sellValue"
                          class="input-field"
                          maxlength="14"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        />

                        <!-- <mat-error
                                *ngIf="
                                  assetDetailsForm.controls['otherAssetsArrays'].controls[
                                    'sellValue'
                                  ].hasError('pattern')
                                "
                                >Enter valid amount.</mat-error
                              > -->
                      </mat-form-field>
                    </div>
                    <!-- expenses  -->
                    <div class="card__col-xs-12 card__col-sm-3">
                      <mat-label>Expenses</mat-label>
                      <mat-form-field
                        class="input-field-width"
                        appearance="outline"
                      >
                        <input
                          matInput
                          digitsOnly
                          formControlName="sellExpense"
                          placeholder="Expenses"
                          name="sellExpense"
                          class="input-field"
                          maxlength="14"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          (click)="saveDetails()"
                        />
                        <!-- <mat-error
                                *ngIf="
                                  assetDetailsForm.controls['sellExpense'].hasError('pattern')
                                "
                                >Enter valid amount.</mat-error
                              > -->
                      </mat-form-field>
                    </div>
                    <!-- type-of-gain  -->
                    <div class="card__col-xs-12 card__col-sm-3">
                      <mat-label>Type of Gain </mat-label>
                      <mat-form-field
                        class="input-field-width"
                        appearance="outline"
                      >
                        <input
                          matInput
                          digitsOnly
                          formControlName="gainType"
                          placeholder="Type of Gain"
                          name="gainType"
                          class="input-field"
                          maxlength="14"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          [disabled]
                        />
                      </mat-form-field>
                    </div>
                    <!-- gain-amount  -->
                    <div class="card__col-xs-12 card__col-sm-3">
                      <mat-label>Gain Amount</mat-label>
                      <mat-form-field
                        class="input-field-width"
                        appearance="outline"
                      >
                        <input
                          matInput
                          digitsOnly
                          formControlName="capitalGain"
                          placeholder="capitalGain"
                          name="capitalGain"
                          class="input-field"
                          maxlength="14"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          [disabled]
                          (click)="calculateCg()"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <!-- cost-of-improvement  -->
              <div formArrayName="improvementsArray">
                <div class="flex flex-col">
                  <div style="padding: 0px 25px">
                    <!-- cost-of-improvement yes/no  -->
                    <div class="card__row flex flex-col gap-[25px]">
                      <div
                        class="card__row card__row"
                        style="padding: 0px 15px"
                      >
                        <div class="flex gap-[25px] flex-col">
                          <!-- co-owner yes-no selection  -->
                          <div
                            class="card__col-xs-11 flex justify-between items-center"
                          >
                            <mat-label
                              ><strong>Is the property jointly owned? *</strong>
                            </mat-label>
                            <mat-radio-group [formControl]="isImprovement">
                              <mat-radio-button
                                [value]="true"
                                style="margin-left: 0px"
                                labelPosition="before"
                                >Yes </mat-radio-button
                              >&nbsp;&nbsp;&nbsp;
                              <mat-radio-button
                                [value]="false"
                                labelPosition="before"
                                >No</mat-radio-button
                              >
                            </mat-radio-group>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="isImprovement.value">
                      <div class="card__row">
                        <div class="card__col-xs-12 card__col-sm-4">
                          <mat-label>Year Of Improvement</mat-label>
                          <mat-form-field
                            class="input-field-width"
                            appearance="outline"
                          >
                            <mat-select
                              placeholder="Year of Improvement"
                              name="financialYearOfImprovement"
                              formControlName="financialYearOfImprovement"
                              (selectionChange)="calculateIndexCost(i)"
                              (click)="calculateIndexCost(i)"
                              (blur)="calculateIndexCost(i)"
                              required
                            >
                              <mat-option
                                [value]="year"
                                *ngFor="let year of improvementYears"
                              >
                                {{ year }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-4">
                          <mat-label>Cost of Improvement</mat-label>
                          <mat-form-field
                            class="input-field-width"
                            appearance="outline"
                          >
                            <input
                              matInput
                              digitsOnly
                              formControlName="costOfImprovement"
                              placeholder="Cost Of Improvement"
                              name="costOfImprovement"
                              class="input-field"
                              maxlength="14"
                              (blur)="calculateIndexCost(i)"
                              (click)="calculateIndexCost(i)"
                              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            />
                          </mat-form-field>
                        </div>
                        <div class="card__col-xs-12 card__col-sm-4">
                          <mat-label
                            >Cost of Improvement with Indexation</mat-label
                          >
                          <mat-form-field
                            class="input-field-width"
                            appearance="outline"
                          >
                            <input
                              matInput
                              digitsOnly
                              formControlName="indexCostOfImprovement"
                              placeholder="Cost Of Improvement with Indexation"
                              name="indexCostOfImprovement"
                              class="input-field"
                              maxlength="14"
                              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                              [disabled]
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- edit Other Assets  -->
            <div class="edit-head">
              <button
                type="button"
                class="edit-donation"
                (click)="editOtherAsset(i)"
              >
                <mat-icon> edit_square </mat-icon>Edit
              </button>
            </div>
          </div>
        </div>

        <br />
        <br />
        <br />
      </div>
    </div>
    <div class="flex items-center" style="padding-bottom: 10px">
      <div class="card__col-xs-12">
        <div class="card__col-sm-3">
          <button
            type="submit"
            class="tbd-btn-secondary"
            (click)="deleteOtherAsset(index)"
          >
            <i class="fa fa-trash" aria-hidden="true">&nbsp;</i>Delete
          </button>
        </div>
        <div class="card__col-sm-6 txt-center">
          <table>
            <tr
              *ngFor="let item of getOtherAssets.controls | paginate : config"
            ></tr>
          </table>
          <pagination-controls
            (pageChange)="pageChanged($event)"
          ></pagination-controls>
        </div>
        <div class="card__col-sm-3" style="text-align: right">
          <button class="tbd-btn save-btn" (click)="saveCg()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
