<!-- <div class="sortBy">Sort By : </div>
<div class="row">
    <div class="col-sm-5">
        <label class="input__label" for="attr">Select attribute </label>
        <select class="select__box ogp_select" [(ngModel)]="sortName" (change)="changeInput(true)">
            <option *ngFor="let drop of sortingParameter" class="un-select-list" [value]="drop.value">
                {{drop.name}}</option>
        </select>
    </div>

    <div class="col-sm-4">
        <label class="input__label" for="attr">Sorting Order </label>
        <select class="select__box ogp_select" [(ngModel)]="sortOrder" (change)="changeInput(true)">
            <option *ngFor="let level of sortLevel" class="un-select-list" [value]="level.value">
                {{level.name}}</option>
        </select>
    </div>
</div> -->


<div>
  <div class="sortBy">Sort By : </div>
  <div class="">
    <div class="sorting-Container">
      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="custom-bg-new">
          <mat-label>Select attribute</mat-label>
          <mat-select [(ngModel)]="sortName" (change)="changeInput(true)">
            <mat-option *ngFor="let drop of sortingParameter" [value]="drop.value">
              {{drop.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-4" style="margin-left: -10px;">
        <mat-form-field appearance="outline" class="custom-bg-new" >
          <mat-label>Sorting Order</mat-label>
          <mat-select [(ngModel)]="sortOrder" (selectionChange)="changeInput(true)">
            <mat-option *ngFor="let level of sortLevel" [value]="level.value">
              {{ level.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
