@use '@angular/material' as mat;
@import '@angular/cdk/overlay-prebuilt.css';

@import "./variable.scss";

@include mat.core();

body {
    font-family: 'DM Sans', sans-serif;
}

$fontConfig: (
    display-4: mat-typography-level(112px, 112px, 300, "DM Sans"),
    display-3: mat-typography-level(56px, 56px, 400, "DM Sans", 0.0089em),
    display-2: mat-typography-level(45px, 48px, 400, "DM Sans", 0),
    display-1: mat-typography-level(34px, 40px, 400, "DM Sans", 0.0074em),
    headline: mat-typography-level(24px, 32px, 400, "DM Sans", 0),
    title: mat-typography-level(20px, 32px, 500, "DM Sans", 0.0075em),
    subheading-2: mat-typography-level(16px, 28px, 400, "DM Sans", 0.0094em),
    subheading-1: mat-typography-level(15px, 24px, 500, "DM Sans", 0.0067em),
    body-2: mat-typography-level(14px, 24px, 500, "DM Sans", 0.0179em),
    body-1: mat-typography-level(14px, 20px, 400, "DM Sans", 0.0179em),
    button: mat-typography-level(14px, 14px, 500, "DM Sans", 0.0893em),
    caption: mat-typography-level(12px, 20px, 400, "DM Sans", 0.0333em),
    input: mat-typography-level(inherit, 1.125, 400, "DM Sans", 1.5px),
);

$darkText: #000;
$darkPrimaryText: rgba($darkText, 0.87);
$darkAccentText: rgba($darkPrimaryText, 0.54);
$darkDisabledText: rgba($darkPrimaryText, 0.38);
$darkDividers: rgba($darkPrimaryText, 0.12);
$darkFocused: rgba($darkPrimaryText, 0.12);

$matLightThemeForeground: (
    base: $black,
    divider: $darkDividers,
    dividers: $darkDividers,
    disabled: $darkDisabledText,
    disabled-button: rgba($darkText, 0.26),
    disabled-text: $darkDisabledText,
    elevation: $black,
    secondary-text: $darkAccentText,
    hint-text: $darkDisabledText,
    accent-text: $darkAccentText,
    icon: $darkAccentText,
    icons: $darkAccentText,
    text: $darkPrimaryText,
    slider-min: $darkPrimaryText,
    slider-off: rgba($darkText, 0.26),
    slider-off-active: $darkDisabledText,
);


$lightText: $white;
$lightPrimaryText: $lightText;
$lightAccentText: rgba($lightPrimaryText, 0.7);
$lightDisabledText: rgba($lightPrimaryText, 0.5);
$lightDividers: rgba($lightPrimaryText, 0.12);
$lightFocused: rgba($lightPrimaryText, 0.12);

$matDarkThemeForeground: (
    base: $lightText,
    divider: $lightDividers,
    dividers: $lightDividers,
    disabled: $lightDisabledText,
    disabledButton: rgba($lightText, 0.3),
    disabledText: $lightDisabledText,
    elevation: $black,
    hintText: $lightDisabledText,
    secondary-text: $lightAccentText,
    accentText: $lightAccentText,
    icon: $lightText,
    icons: $lightText,
    text: $lightText,
    slider-min: $lightText,
    sliderff: rgba($lightText, 0.3),
    slider-off-active: rgba($lightText, 0.3),
);

$lightBackground: $lightBackground;
$lightBgDarker5: darken($lightBackground, 5%);
$lightBgDarker10: darken($lightBackground, 10%);
$lightBgDarker20: darken($lightBackground, 20%);
$lightBgDarker30: darken($lightBackground, 30%);
$lightBgLighter5: lighten($lightBackground, 5%);
$darkBgTooltip: lighten($darkBackground, 20%);
$darkBgAlpha4: rgba($darkBackground, 0.04);
$darkBgAlpha12: rgba($darkBackground, 0.12);

$matLightThemeBackground: (
    background: $lightBackground,
    status-bar: $lightBgDarker20,
    app-bar: $lightBgDarker5,
    hover: $darkBgAlpha4,
    card: $lightBgLighter5,
    dialog: $lightBgLighter5,
    tooltip: $darkBgTooltip,
    disabled-button: $darkBgAlpha12,
    raised-button: $lightBgLighter5,
    focused-button: $darkFocused,
    selected-button: $lightBgDarker20,
    selected-disabled-button: $lightBgDarker30,
    disabled-button-toggle: $lightBgDarker10,
    unselected-chip: $lightBgDarker10,
    disabled-list-option: $lightBgDarker10,
);

$darkBackground: $darkBackground;
$darkBgLighter5: lighten($darkBackground, 5%);
$darkBgLighter10: lighten($darkBackground, 10%);
$darkBgLighter20: lighten($darkBackground, 20%);
$darkBgLighter30: lighten($darkBackground, 30%);
$lightBgAlpha4: rgba($lightBackground, 0.04);
$lightBgAlpha12: rgba($lightBackground, 0.12);

$matDarkThemeBackground: (
    background: $darkBackground,
    status-bar: $darkBgLighter20,
    app-bar: $darkBgLighter5,
    hover: $lightBgAlpha4,
    card: $darkBgLighter5,
    dialog: $darkBgLighter5,
    tooltip: $darkBgLighter20,
    disabled-button: $lightBgAlpha12,
    raised-button: $darkBgLighter5,
    focused-button: $lightFocused,
    selected-button: $darkBgLighter20,
    selected-disabled-button: $darkBgLighter30,
    disabled-button-toggle: $darkBgLighter10,
    unselected-chip: $darkBgLighter20,
    disabled-list-option: $darkBgLighter10,
);


@include mat-core($fontConfig);


$matPrimary: (
    main: $primaryColor,
    lighter: $lighter,
    darker: $darker,
    200: $primaryColor,
    contrast: (main: $lightPrimaryText,
        lighter: $darkPrimaryText,
        darker: $lightPrimaryText,
    ),
);

$themePrimary: mat-palette($matPrimary, main, lighter, darker);

$matAccent: (
    main: #118CB2,
    lighter: #b3ebf2,
    darker: #00a5c3,
    200: #118CB2,
    contrast: (main: $darkPrimaryText,
        lighter: $darkPrimaryText,
        darker: $lightPrimaryText,
    ),
);
$themeAccent: mat-palette($matAccent, main, lighter, darker);

$matWarn: (
    main: $matWarnMain,
    lighter: $matWarnLighter,
    darker: $matWarnMain,
    200: $matWarnMain,
    contrast: (main: $lightPrimaryText,
        lighter: $darkPrimaryText,
        darker: $lightPrimaryText,
    ),
);
$themeWarn: mat-palette($matWarn, main, lighter, darker);

$theme: mat-light-theme($themePrimary, $themeAccent, $themeWarn);
$altTheme: mat-dark-theme($themePrimary, $themeAccent, $themeWarn);

@include angular-material-theme($theme);

@include mat.all-component-themes($theme);

.theme-alternate {
    @include angular-material-theme($altTheme);
}


.txt-center {
    text-align: center;
}

.display-flex {
    display: flex !important;
}

.ml30 {
    margin-left: 30px;
}

.headers-align {
    .mat-expansion-panel {
        color: #00aeca;
        margin-bottom: 28px;

        .mat-expanded {

            .mat-expansion-panel-header-title {
                font-weight: 500;
                font-size: 21.2451px;
                line-height: 150%;
                letter-spacing: -0.022em;
                color: #FF6B00;

                .mat-icon {
                    color: #00AECA;
                    transform: rotate(90deg);
                    margin-right: 14px;
                }
            }
        }

        .mat-expansion-panel-header-title {
            font-weight: 500;
            font-size: 21.2451px;
            line-height: 150%;
            letter-spacing: -0.022em;
            color: #1E1E1E;

            .mat-icon {
                color: #00AECA;
                margin-right: 0px;
            }
        }
    }
}

.mat-expanded {
    .isShow {
        display: block;
    }
}

.isShow {
    display: none;
}

.edit {
    text-align: right;
    margin-top: 20px;
    padding: 14px 0 19px;
    border-top-style: solid;

    .edit_btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 20.5882px;
        gap: 6.86px;
        width: 69.83px;
        height: 32.21px;
        margin-right: 10px;
        background: #E5F2F7;
        border: 1px solid #797979;
        border-radius: 6.86273px;
    }

    .edit_btn:hover {
        background: #c2e8f7;
    }
}




mat-label {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -0.009em;
    color: #9a9a9a;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 2px;
}

mat-form-field .mat-mdc-form-field {
    &-underline {
        position: static;
    }

    &-subscript-wrapper {
        position: absolute;
        overflow: visible;
    }
}

.mat-mdc-form-field {
    width: 90%;
    background: #FFFFFF;
    border-radius: 6.62375px;


    .mat-mdc-text-field-wrapper {
        .mat-mdc-form-field-flex {
            .mdc-notched-outline {
                .mdc-notched-outline__notch {
                    border-right: none;
                    border-left: none;
                }
            }

            .mat-mdc-form-field-infix {
                padding: 0.6em 0 !important;

                .mat-mdc-input-element {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                    color: #00A4BF;
                }

                .mat-mdc-input-element:disabled {
                    color: #07070C;
                }

                .mat-mdc-select {

                    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                    .mat-mdc-select-trigger {

                        /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                        /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                        /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                        .mat-mdc-select-value {

                            /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                            /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                            .mat-mdc-select-value-text {

                                /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                                .mat-mdc-select-min-line {
                                    font-weight: 400;
                                    font-size: 12.6259px;
                                    line-height: 14px;
                                    color: #00A4BF;
                                }

                            }
                        }
                    }
                }

                /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                .mat-mdc-select-disabled {

                    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
                    .mat-mdc-select-min-line {
                        color: #07070C !important;
                    }
                }
            }
        }
    }

    &.small-inp {
        .mat-mdc-form-field-flex {
            .mat-mdc-form-field-infix {
                padding: 0.4em 0 !important;
            }
        }
    }


    &.no-height {
        .mat-mdc-text-field-wrapper {
            .mat-mdc-form-field-flex {
                .mdc-notched-outline {
                    .mdc-notched-outline__notch {
                        .mdc-floating-label--float-above {
                            transform: translateY(-22.75px) scale(0.75);
                        }
                    }
                }
            }
        }

        .mat-mdc-form-field-subscript-wrapper {
            height: 0px;
        }
    }
}

.mat-mdc-radio-group {
    .mat-mdc-radio-button {

        /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
        .mat-radio-label {

            /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
            .mat-radio-label-content {
                font-weight: 400;
                font-size: 12.6259px;
                line-height: 14px;
                color: #9A9AAF;
            }
        }
    }

    /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
    .mat-radio-checked {

        /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
        .mat-radio-label {

            /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
            .mat-radio-label-content {
                font-weight: 400;
                font-size: 12.6259px;
                line-height: 14px;
                color: #07070C;
            }
        }
    }
}

.card__row {
    margin: 0 -10px 0;
}

.hide-close {
    mat-expansion-panel-header {
        pointer-events: none;

        mat-panel-title {
            mat-icon {
                pointer-events: visiblefill !important;
            }
        }

        .edit {
            button {
                pointer-events: visiblefill !important;
            }
        }
    }
}

.save-btn {
    background: #EEFFE4;
    border: 1px solid #9C9C9C;
    border-radius: 6.86273px;
    color: #000;
}

.note {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #1E1E1E;
}

.card-header {
    background: rgba(217, 217, 217, 0.15);
    border: 2px solid #E4E4E4;
    border-radius: 5px;
    box-sizing: border-box;
    width: 75vw;
    left: 26.1px;
}


.mat-mdc-dialog-title {
    font-weight: 600 !important;
    font-size: 25px !important;
    line-height: 18px !important;
    align-items: center;
    text-align: center;
    color: #07070C;
}

.add-notes {
    width: 90%;
    text-align: right;
}

.saved-notes {
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: #000000;
}

.edit-head {
    width: 132px;

    .edit-donation {
        background: #E5F2F6;
        border: 0.5px solid #D9D9D9;
        border-radius: 3px;
        display: flex;
        padding: 5px 4px;

        .mat-icon {
            height: 15px;
            width: 19px;
        }

        .material-icons {
            font-size: 14px;
        }
    }
}

.head-title {
    font-size: 14px;
    font-weight: 500;
    margin-left: 30px;
    color: #000000;
}

.mat-mdc-form-field-icon-prefix>.mat-icon,
.mat-mdc-form-field-icon-suffix>.mat-icon {
    padding: 0px !important;
}

.cdk-overlay-pane {
    background: #FFF;
}

.notification {
    width: 30% !important;
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
}


.mat-calendar-controls .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 40px;
    width: var(--mdc-icon-button-state-layer-size);
    height: var(--mdc-icon-button-state-layer-size);
    padding: 8px
}

.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    left: 0
}

.mat-calendar-table-header th {
    text-align: center;
    padding: 0 0 8px 0;
    color: var(--mat-datepicker-calendar-header-text-color);
    font-size: var(--mat-datepicker-calendar-header-text-size);
    font-weight: var(--mat-datepicker-calendar-header-text-weight);
}

.mat-calendar-content {
    display: block;
    background-color: var(--mat-datepicker-calendar-container-background-color);
    color: var(--mat-datepicker-calendar-container-text-color);
    box-shadow: var(--mat-datepicker-calendar-container-elevation-shadow);
    border-radius: var(--mat-datepicker-calendar-container-shape);
}

.mat-calendar-body-cell {
    &:focus {
        .mat-calendar-body-cell-content {
            &::before {
                content: none !important;
            }
        }
    }

    &.mat-calendar-body-disabled {
        cursor: default;

        .mat-calendar-body-cell-content {
            color: #aca3a3 !important;
        }

    }

    .mat-calendar-body-cell-content {
        border: none !important;

        &.mat-calendar-body-selected {
            background-color: #00A4BF;
            color: #FFF;

            &.mat-calendar-body-today {
                box-shadow: inset 0 0 0 1px #00A4BF;
            }
        }
    }

    &.mat-calendar-body-active {
        .mat-calendar-body-cell-content {
            border: 1px solid #eee !important;
        }
    }
}

.mdc-checkbox {
    height: 28px !important;
}

.mdc-checkbox--disabled {
    color: #00000061 !important;
}

.mat-mdc-form-field-error {
    color: red !important;
}

.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: red !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected {
    background-color: #1b67ba !important;
    color: #fff !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #118cb2 !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: #118cb2 !important;

}

.mat-mdc-dialog-surface {
    padding: 10px 16px;
}