  $colorSuccess: #008000;
  $colorDanger: #F00;
  $headerBackground: #252E3C;
  $headerColor: #C2C4C8;
  $white: #FFF;
  $bodyBackground: #E0E1E2;
  $headColor: #212736;
  $primaryColor: #1A73E8;
  $primaryDarkColor: #104181;
  $primaryActionColor:  #6200ee;
  $primaryLightColor: #6898d6; 
  $linkColor: #1A73E8;
  $black: #000;
  $loginHeadColor: #202124;
  $footerButtonColor: #757575;
  $borderColor: #DADCE0;
  $backgroundProductColor: #06111f;
  $productBorderColor: #D3D3D3;
  $rightDrawerLabelColor: #373737;
  $taxColor: #424242;
  $rightDrawerValueColor: #9E9E9E;
  $profitBackgroundColor: #D2E7FB;
  $rightDrawerBorderColor: #D3D3D3;
  $deleteCartColor: #E26868;
  $cancelColor: #F44336;
  $deleteColor:#f13636;
  $wapperborder: #C2CDDA;
  $taxColor: #878787;
  $rightDrawerValueColor: #9E9E9E;
  $profitBackgroundColor: #D2E7FB;
  $rightDrawerBorderColor: #D3D3D3;
  $deleteCartColor: #E26868;
  $cancelColor: #F44336;
  $lightBlack: #8B8989;
  $lightBlue: #CCE5FF;
  $cancelColor: #F44336;
  $lightBackground: #FAFAFA;
  $darkBackground: #2C2C2C;
  $lighter: #BAD5F8;
  $darker: #0F56DE;
  $matWarnMain: #F00;
  $matWarnLighter: #FFB3B3;
  $orange: #FFA500;
  $readyToDispatch:#D6944E;
  $outForDelivery:#436788;
  $lightSky: #e7e9eb;
  $primaryColorHeader: #0d4286;
