<div class="main clearfix" style="min-height: 0vh; padding-top: 0px;">
    <div class="tab">
        <ul class="tab__container clearfix">
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/new-user">New User</a>
            </li>
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/engagement">Engagement</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>