<div class="main clearfix" style="min-height: 0vh; padding-top: 0px;">
    <div class="tab">
        <ul class="tab__container clearfix">
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/quick-search">Quick Search</a>
            </li>
            <!--  <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/open-status">Open Status</a>
            </li> -->

            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/calling">Calling Board</a>
            </li>
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/status-wise">Status wise Clients</a>
            </li>
            <!--  <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/engagement">Engagement</a>
            </li> -->
            <li class="tab__item" routerLinkActive="tab__item_active">
                <a class="tab__link" routerLink="/pages/dashboard/knowlarity">Knowlarity</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>