<div class="padding10">
  <i class="fa fa-check-circle clrIcoM"></i>
  <p class="succTx">Congratulations! Your IT return has been e-filled successfully.</p>
  <hr>
  <p class="pTxSu1">Thanks for choosing TaxBuddy. This email is to confirm that we have successfully submitted your
    income
    tax return (ITR).</p>

  <p class="pTxSu1"><strong>Please find below your e-filling details:</strong></p>
  <ul class="pTxSu1">
    <li>Name: {{userName}}</li>
    <li *ngIf="this.loggedInUserRoles.includes('ROLE_ADMIN') || this.loggedInUserRoles.includes('ROLE_LEADER')">Phone
      No.: {{ITR_JSON.contactNumber}}</li>
    <li>Assessment Year: {{ITR_JSON.assessmentYear}}</li>
    <li>Financial Year: {{ITR_JSON.financialYear}}</li>
    <li>ITR Form Type: {{ITR_JSON.itrType}}</li>
    <li>Return Type: {{ITR_JSON.isRevised === 'Y' ? 'Revised' : 'Original' }}</li>
    <li>PAN: {{ITR_JSON.panNumber}}</li>
    <li>Acknowledgement No: {{data.acknowledgementNo}}</li>
  </ul>

  <p class="pTxSu1">You will receive an email confirmation on &nbsp;<a
      [href]="emailString"><strong>{{ITR_JSON.email}}</strong></a> along with ITR-V (acknowledgement).</p>

  <p class="pTxSu1"><strong>NOTE:</strong> You must verify your IT return to complete your e-filing process. It is not
    treated as valid until it is verified by the taxpayer.</p>

  <hr>
  <div class="pull-right">
    <button class="btn long-btn" style="border: none;" (click)="closeDialog()">Close
    </button>
  </div>
</div>