<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div class="main clearfix">
    <div class="card">            
        <!-- Search for data -->
        <div class="card__row">
            <div class="card__col-xs-12 card__col-sm-12">
                <app-attributes-filter  [selectItems]="filters_list" (sendValue)="onChangeAttrFilter($event)"></app-attributes-filter>
            </div>
        </div>

        <div class="card__row" *ngIf="record_select_for_update">
            <div class="card__col-xs-12 card__col-sm-4">        
                <app-input-select-object [label]="'Assigned To'" [value]="group_selected_assign_to" [type]="'text'" [name]="'group_selected_assign_to'" [filter_items]="admin_list" (sendValue)="($event) ? group_selected_assign_to = $event : ''">
                </app-input-select-object>              
            </div>
            <div class="card__col-xs-12 card__col-sm-4">        
                <a class="btn save-btn" (click)="saveGroupSelectedData()">Save</a>                
            </div>
        </div>                                    
                                    
        <div class="card__row" style="margin-top: 0px;">    
            <div class="tab-panel items-tab card__col-xs-12">
                <div class="tab-panel__content tab-panel__content_visible">
                    <div class="table product__table">
                        <div class="table__row  table__row_header ">
                            <div class="table__cell table__cell_checkbox">                                    
                                <div class="input" style="opacity: 0">
                                    <input type="checkbox" class="input__checkbox">
                                    <label class="input__checkbox-control" for="select_item4" ></label>
                                </div>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-20">
                                <a class="table__sort-link">Name</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-15">
                                <a class="table__sort-link">Mobile Number</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-20">
                                <a class="table__sort-link">Document Type</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-20">
                                <a class="table__sort-link">Upload Date</a>
                            </div>                                                            
                            <!-- <div class="table__cell product-row__cell-unit flex-30">
                                <a class="table__sort-link">Previous Return filed Status</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-30">
                                <a class="table__sort-link">GST Filing Status</a>
                            </div> -->
                            <div class="table__cell product-row__cell-unit flex-30">
                                <a class="table__sort-link">Status of Invoice</a>
                            </div>
                            <div class="table__cell product-row__cell-unit flex-30">
                                <a class="table__sort-link">Owner</a>
                            </div>                            
                            <div class="table__cell product-row__cell-unit">
                            </div>
                        </div>


                        <div *ngFor="let item of (filterData); let p=index ">
                            <div class="table__row-item product-row" [class.table__row-disabled]="false">
                                <div class="table__row product-row__main-variant">
                                    <div class="table__cell table__cell_checkbox">
                                        <div class="input">
                                            <input type="checkbox" class="input__checkbox" [checked]="prods_check[p]">
                                            <label class="input__checkbox-control" for="select_item4" (click)="onSelectRecord(p)"></label>
                                        </div>
                                    </div>
                                   
                                    <div class="table__cell product-row__cell-stock flex-20">                                                
                                        <a class="a-phone-link" (click)="showMerchantDetail(item)">{{item.merchantName}}</a>                                    
                                    </div>

                                    <div class="table__cell product-row__cell-stock flex-15">
                                        {{item.merchantMobileNumber}}                                            
                                    </div>

                                    <div class="table__cell product-row__cell-stock flex-20">
                                        {{item.invoiceDocumentType}}                                            
                                    </div>

                                    <div class="table__cell product-row__cell-stock flex-20">
                                        {{item.invoiceCreatedAt | backTipsDate:'full datetime'}}                                            
                                    </div>                              

                                    <!-- <div class="table__cell product-row__cell-stock flex-30">
                                        <app-input-select *ngIf="prods_check[p]" [label]="''" [value]="item.previous_return_field_status" [type]="'text'" [name]="'previous_return_field_status'" [filter_items]="['FILED','NOT FILED']" (sendValue)="item.previous_return_field_status = $event">
                                        </app-input-select>
                                        <div *ngIf="!prods_check[p]">
                                            {{item.previous_return_field_status}}
                                        </div>                                            
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-30">
                                        <app-input-select *ngIf="prods_check[p]" [label]="''" [value]="item.gst_filing_status" [type]="'text'" [name]="'gst_filing_status'" [filter_items]="['FILED','NOT FILED']" (sendValue)="item.gst_filing_status = $event">
                                        </app-input-select>
                                        <div *ngIf="!prods_check[p]">
                                            {{item.gst_filing_status}}
                                        </div>                                            
                                    </div> -->
                                    <div class="table__cell product-row__cell-stock flex-30">                                      
                                        <app-input-select-object *ngIf="prods_check[p]" [label]="''"  [type]="'text'" [value]="item.selected_invoice_status" [name]="'invoice status'" [filter_items]="invoice_status_list" (sendValue)="onSelectInvoiceStatus($event,item)">
                                        </app-input-select-object>
                                        <div *ngIf="!prods_check[p]">
                                            {{item.invoiceStatus}}
                                        </div>                                            
                                    </div>
                                    <div class="table__cell product-row__cell-stock flex-30">                                        
                                        <app-input-select-object  *ngIf="prods_check[p]" [label]="''" [value]="item.processed_by" [type]="'text'" [name]="'processed_by'" [filter_items]="admin_list" (sendValue)="($event) ? item.processed_by = $event : ''">
                                        </app-input-select-object>              
                                        <div *ngIf="!prods_check[p]">
                                            {{item.processed_by ? item.processed_by : "N/A"}}
                                        </div>                                            
                                    </div>   
                                    <div class="table__cell product-row__cell-stock" style="text-align:center">
                                        <i class="fa fa-floppy-o" *ngIf="prods_check[p]" style="font-size:20px;cursor:pointer;" tooltip="Save" (click)="updateListItem(item)"></i>
                                        <i class="fa fa-floppy-o" *ngIf="!prods_check[p]" style="font-size:20px; color:lightgrey;" tooltip="Save" readonly></i>
                                    </div>                                 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>