<div class="content content_full">
  <div class="content__container">
    <div class="card">
      <div class="card__row" style="margin-top: 0px;">
        <div style="padding-bottom: 10px;">
          <a style="color: blue;font-weight: bold;"
            href="https://s3.ap-south-1.amazonaws.com/assets.taxbuddy.com/IFA+User+Manual+ppt.pdf" target="_blank">User
            Manual</a>
        </div>
        <ag-grid-angular class="ag-theme-balham" [gridOptions]="clientListGridOptions"
          (rowClicked)="onRowClicked($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>