/* Style the page wrapper */
.page-wrapper {
  display: flex;
  height: 100%;
}

/* Style the header */
header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Style the main content section */
main {
  margin:0px 10px 0px 10px;
  width:100%;
}

/* Style the left aside */
.aside-left {
  border-right:  1px solid #ededed;
  background: #36c;
  flex: 1 0 10%;
  padding: 1rem;
  width:20%;
}

/* Style the right aside */
.aside-right {
  border-right:  1px solid #ededed;
  background: #ffffff;
  flex: 1 0 0%;
  padding: 1rem;
}

.inpplac{
  font-weight: 400;
  color: #b8b8c4;
  font-size: 14px;
}
.open-button {
  border-radius: 4px;
  background: #BDD5F0;
  color: white;
  padding: 5px 0px 5px 0px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 85px;
  right: -65px;
  width: 170px;
  height: 40px;
  text-orientation: sideways-right;
  color: #124A5B;
  font-weight: 700;
  transform: rotate(-90deg);
}
.form-popup {
  display: none;
  position: relative;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}





// left side bar css
.frameL {
    flex-direction: column;
    gap: 18px;
    padding: 15px;
    background-color: #1b67b9;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    border-radius: 4px;
    width:auto;
  }
  
  .frameL .contents {
    gap: 16px;
    padding: 8px 12px;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    border-radius: 4px;
  }
  
  .frameL .field-text {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .frameL .div {
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 4px;
  }
  
  .frameL .text-wrapper {
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .frameL .mingcute-down-fill {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .frameL .div-2 {
    display: flex;
    flex-direction: column;
    width: 173px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frameL .field-text-wrapper {
    align-items: flex-start;
    gap: 16px;
    padding: 8px 36px;
    background-color: #ffffff12;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 4px;
  }
  
  .frameL .field-text-2 {
    margin-right: -3px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .frameL .div-wrapper {
    align-items: flex-start;
    gap: 16px;
    padding: 8px 36px;
    background-color: #ffffff4f;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 4px;
  }  
// left side bar css ends

// breadcrumb css
  .rectangleB {
    position: relative;
    width: 100%;
    height: 58px;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    border-radius: 4px;
    margin:10px 10px 10px 0px;
  }
  .frameB {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    padding: 10px 0px 0px 15px;
  }
  
  .frameB .large-title {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #0b3d4d;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 36px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .frameB .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #242630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
// breadcrumb css ends

// center css
.bundle{
 margin:20px;
 width: 100%;
}
.frameC {
    display: flex;
    flex-direction: column;
    width:auto;
    align-items: flex-start;
    position: relative;
  }
  
  .frameC .div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 12px 18px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #3d82cd;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid;
    border-color: #a6a6a6;
  }
  
  .frameC .text-wrapper {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frameC .mingcute-down-fill {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .frameC .space {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid;
    border-color: #a6a6a6;
  }
  
  .frameC .div-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frameC .div-3 {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frameC .contents-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frameC .contents {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    padding: 8px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: #3d82cd;
    border-radius: 4px 4px 0px 0px;
    border: 1.5px solid;
  }
  
  .frameC .field-text {
    position: relative;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .frameC .group {
    position: relative;
    width: 28px;
    height: 28px;
    background-color: #ffffff57;
    border-radius: 14px;
  }
  
  .frameC .material-symbols {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 6px;
  }
  
  .frameC .field-text-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    padding: 8px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid;
    border-color: #3d82cd;
  }
  
  .frameC .field-text-2 {
    width: fit-content;
    margin-top: -1px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #3d82cd;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frameC .div-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    padding: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #f8f8f8;
  }
  
  .frameC .div-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frameC .contents-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #e7e7e7;
    border-radius: 4px 4px 0px 0px;
  }
  
  .frameC .field-text-3 {
    width: fit-content;
    margin-top: -1.5px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #2f2f2f;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frameC .div-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
  }
  
  .frameC .div-6 {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frameC .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frameC .field-label {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frameC .span {
    color: #242426;
  }
  
  .frameC .text-wrapper-2 {
    color: #eb5757;
  }
  
  .frameC .contents-3 {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 8px 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 4px;
    border: 0.5px solid;
    border-color: #d3d3d3;
  }
  
  .frameC .field-text-4 {
    flex: 1;
    margin-top: -0.5px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #242426;
    font-size: 14px;
    position: relative;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frameC .contents-4 {
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 4px;
    border: 0.5px solid;
    border-color: #d3d3d3;
  }
  
  .frameC .field-text-5 {
    flex: 1;
    margin-top: -0.5px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #b8b8c4;
    font-size: 14px;
    position: relative;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frameC .contents-5 {
    display: flex;
    height: 68px;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #e7e7e7;
    border-radius: 4px 4px 0px 0px;
  }
  
  .frameC .field-text-6 {
    width: fit-content;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #2f2f2f;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frameC .div-7 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frameC .contents-6 {
    display: flex;
    width: 218px;
    align-items: center;
    gap: 16px;
    padding: 8px 12px;
    position: relative;
    background-color: #f5f5f56b;
    border-radius: 4px;
  }
  
  .frameC .field-text-7 {
    flex: 1;
    margin-top: -0.5px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #39393e;
    font-size: 14px;
    position: relative;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frameC .div-8 {
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    padding: 24px;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    position: relative;
    align-self: stretch;
  }
  
  .frameC .div-9 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frameC .field-label-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frameC .p {
    width: 315px;
    margin-top: -1px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #242426;
    position: relative;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frameC .div-10 {
    display: flex;
    width: 479px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .frameC .contents-7 {
    display: flex;
    width: 218px;
    align-items: center;
    gap: 16px;
    padding: 8px 12px;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
  
  .frameC .field-label-2 {
    width: fit-content;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #242426;
    white-space: nowrap;
    position: relative;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frameC .contents-8 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    padding: 8px 12px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
    border: 1.5px solid;
    border-color: #157999;
  }
  
  .frameC .field-text-8 {
    width: fit-content;
    margin-top: -1.5px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #157999;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frameC .line {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    object-fit: cover;
  }
  
  .frameC .frame-wrapper {
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
    align-self: stretch;
  }
  
  .frameC .contents-wrapper-2 {
    align-items: center;
    gap: 8px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
    align-self: stretch;
  }
  
  .frameC .contents-9 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #e7e7e7;
    border-radius: 4px 4px 0px 0px;
  }
  
  .frameC .space-2 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
  }
  
  .frameC .field-2 {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frameC .field-label-3 {
    flex: 1;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #242426;
    position: relative;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frameC .contents-10 {
    display: flex;
    width: 222px;
    align-items: flex-start;
    gap: 16px;
    padding: 8px 12px;
    position: relative;
    align-self: stretch;
    border-radius: 4px;
    border: 0.5px solid;
    border-color: #d3d3d3;
  }
  
  .frameC .img {
    position: relative;
    width: 337px;
  }
  
  .frameC .contents-wrapper-3 {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frameC .space-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
  }
  
  .frameC .field-3 {
    display: flex;
    width: 822px;
    align-items: center;
    gap: 8px;
    position: relative;
    margin-right: -22px;
  }
  
  .frameC .contents-11 {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 8px 12px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 4px;
    border: 0.5px solid;
    border-color: #d3d3d3;
  }
  
  .frameC .frame-wrapper-2 {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frameC .contents-wrapper-4 {
    display: flex;
    height: 55px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frameC .contents-12 {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-color: #ddedff;
    border-radius: 4px;
  }
  
  .frameC .field-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
  }
  
  .frameC .field-4 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frameC .field-label-4 {
    width: fit-content;
    margin-top: -1px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #09293b;
    white-space: nowrap;
    position: relative;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frameC .div-11 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frameC .frame-wrapper-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frameC .contents-13 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    padding: 8px 24px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
    border: 1.5px solid;
    border-color: #3d82cd;
  }
  
  .frameC .field-text-9 {
    width: fit-content;
    margin-top: -1.5px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #3d82cd;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frameC .frame-wrapper-4 {
    display: flex;
    width: 175px;
    align-items: flex-start;
    justify-content: space-around;
    gap: 12px;
    position: relative;
  }
  
  .frameC .contents-14 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    padding: 8px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: #3d82cd;
    border-radius: 4px;
    border: 1.5px solid;
  }
  
// center css ends



.frame1 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 12px 18px;
    position: relative;
    background-color: #3d82cd;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid;
    border-color: #a6a6a6;
  }
  
  .frame1 .text-wrapper {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frame1 .mingcute-down-fill {
    position: relative;
    width: 24px;
    height: 24px;
  }













  
      .space {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        padding: 32px;
        position: relative;
        background-color: #ffffff;
        border-radius: 0px 0px 8px 8px;
        border: 1px solid;
        border-color: #a6a6a6;
      }
      
      .space .frame {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .space .div {
        display: inline-flex;
        align-items: flex-start;
        position: relative;
        flex: 0 0 auto;
      }
      
      .space .contents-wrapper {
        display: inline-flex;
        align-items: flex-start;
        gap: 8px;
        position: relative;
        flex: 0 0 auto;
      }
      
      .space .contents {
        display: inline-flex;
        align-items: flex-start;
        gap: 16px;
        padding: 8px 24px;
        position: relative;
        flex: 0 0 auto;
        background-color: #3d82cd;
        border-radius: 4px 4px 0px 0px;
        border: 1.5px solid;
      }
      
      .space .field-text {
        position: relative;
        width: fit-content;
        margin-top: -1.5px;
        font-family: "DM Sans-Medium", Helvetica;
        font-weight: 500;
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 28px;
        white-space: nowrap;
      }
      
      .space .group {
        position: relative;
        width: 28px;
        height: 28px;
        background-color: #ffffff57;
        border-radius: 14px;
      }
      
      .space .material-symbols {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 6px;
        left: 6px;
      }
      
      .space .field-text-wrapper {
        display: inline-flex;
        align-items: flex-start;
        gap: 16px;
        padding: 8px 24px;
        position: relative;
        flex: 0 0 auto;
        background-color: #ffffff;
        border-radius: 4px 4px 0px 0px;
        border: 1px solid;
        border-color: #3d82cd;
      }
      
      .space .text-wrapper {
        width: fit-content;
        margin-top: -1px;
        font-family: "DM Sans-Medium", Helvetica;
        font-weight: 500;
        color: #3d82cd;
        font-size: 12px;
        white-space: nowrap;
        position: relative;
        letter-spacing: 0;
        line-height: 28px;
      }
      
      .space .frame-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 32px;
        padding: 24px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
        background-color: #f8f8f8;
      }
      
      .space .div-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        gap: 8px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .space .contents-2 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 8px 24px;
        position: relative;
        flex: 1;
        flex-grow: 1;
        background-color: #e7e7e7;
        border-radius: 4px 4px 0px 0px;
      }
      
      .space .field-text-2 {
        width: fit-content;
        margin-top: -1.5px;
        font-family: "DM Sans-Medium", Helvetica;
        font-weight: 500;
        color: #2f2f2f;
        font-size: 12px;
        white-space: nowrap;
        position: relative;
        letter-spacing: 0;
        line-height: 28px;
      }
      
      .space .mingcute-down-fill {
        position: relative;
        width: 24px;
        height: 24px;
      }
      
      .space .frame-3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        padding: 24px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
        background-color: #ffffff;
        border-radius: 0px 0px 4px 4px;
      }
      
      .space .frame-4 {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .space .field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        position: relative;
        flex: 1;
        flex-grow: 1;
      }
      
      .space .field-label {
        position: relative;
        align-self: stretch;
        margin-top: -1px;
        font-family: "DM Sans-Regular", Helvetica;
        font-weight: 400;
        color: transparent;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .space .span {
        color: #242426;
      }
      
      .space .text-wrapper-2 {
        color: #eb5757;
      }
      
      .space .contents-3 {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        padding: 8px 12px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
        border-radius: 4px;
        border: 0.5px solid;
        border-color: #d3d3d3;
      }
      
      .space .field-text-3 {
        flex: 1;
        margin-top: -0.5px;
        font-family: "DM Sans-Regular", Helvetica;
        font-weight: 400;
        color: #242426;
        font-size: 14px;
        position: relative;
        letter-spacing: 0;
        line-height: 28px;
      }
      
      .space .contents-4 {
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
        border-radius: 4px;
        border: 0.5px solid;
        border-color: #d3d3d3;
      }
      
      .space .field-text-4 {
        flex: 1;
        margin-top: -0.5px;
        font-family: "DM Sans-Regular", Helvetica;
        font-weight: 400;
        color: #b8b8c4;
        font-size: 14px;
        position: relative;
        letter-spacing: 0;
        line-height: 28px;
      }
      
      .space .contents-5 {
        display: flex;
        height: 68px;
        align-items: center;
        justify-content: space-between;
        padding: 12px 24px;
        position: relative;
        align-self: stretch;
        width: 100%;
        background-color: #e7e7e7;
        border-radius: 4px 4px 0px 0px;
      }
      
      .space .field-text-5 {
        width: fit-content;
        font-family: "DM Sans-Medium", Helvetica;
        font-weight: 500;
        color: #2f2f2f;
        font-size: 12px;
        white-space: nowrap;
        position: relative;
        letter-spacing: 0;
        line-height: 28px;
      }
      
      .space .frame-5 {
        display: inline-flex;
        align-items: center;
        gap: 24px;
        position: relative;
        flex: 0 0 auto;
      }
      
      .space .contents-6 {
        display: flex;
        width: 218px;
        align-items: center;
        gap: 16px;
        padding: 8px 12px;
        position: relative;
        background-color: #f5f5f56b;
        border-radius: 4px;
      }
      
      .space .field-text-6 {
        flex: 1;
        margin-top: -0.5px;
        font-family: "DM Sans-Regular", Helvetica;
        font-weight: 400;
        color: #39393e;
        font-size: 14px;
        position: relative;
        letter-spacing: 0;
        line-height: 28px;
      }
      
      .space .frame-6 {
        flex-direction: column;
        align-items: flex-end;
        gap: 32px;
        padding: 24px;
        width: 100%;
        flex: 0 0 auto;
        background-color: #ffffff;
        border-radius: 0px 0px 4px 4px;
        display: flex;
        position: relative;
        align-self: stretch;
      }
      
      .space .frame-7 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .space .field-label-wrapper {
        display: inline-flex;
        align-items: center;
        gap: 32px;
        position: relative;
        flex: 0 0 auto;
      }
      
      .space .p {
        width: 315px;
        margin-top: -1px;
        font-family: "DM Sans-Bold", Helvetica;
        font-weight: 700;
        color: #242426;
        position: relative;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .space .frame-8 {
        display: flex;
        width: 479px;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }
      
      .space .contents-7 {
        display: flex;
        width: 218px;
        align-items: center;
        gap: 16px;
        padding: 8px 12px;
        position: relative;
        background-color: #f5f5f5;
        border-radius: 4px;
      }
      
      .space .field-label-2 {
        width: fit-content;
        font-family: "DM Sans-Bold", Helvetica;
        font-weight: 700;
        color: #242426;
        white-space: nowrap;
        position: relative;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .space .contents-8 {
        display: inline-flex;
        align-items: flex-start;
        gap: 16px;
        padding: 8px 12px;
        position: relative;
        flex: 0 0 auto;
        border-radius: 4px;
        border: 1.5px solid;
        border-color: #157999;
      }
      
      .space .field-text-7 {
        width: fit-content;
        margin-top: -1.5px;
        font-family: "DM Sans-Medium", Helvetica;
        font-weight: 500;
        color: #157999;
        font-size: 12px;
        white-space: nowrap;
        position: relative;
        letter-spacing: 0;
        line-height: 28px;
      }
      
      .space .line {
        position: relative;
        align-self: stretch;
        width: 100%;
        height: 1px;
        object-fit: cover;
      }
      
      .space .frame-wrapper {
        align-items: flex-start;
        gap: 8px;
        width: 100%;
        flex: 0 0 auto;
        display: flex;
        position: relative;
        align-self: stretch;
      }
      
      .space .frame-9 {
        align-items: center;
        gap: 8px;
        flex: 1;
        flex-grow: 1;
        display: flex;
        position: relative;
        align-self: stretch;
      }
      
      .space .contents-9 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 24px;
        position: relative;
        flex: 1;
        flex-grow: 1;
        background-color: #e7e7e7;
        border-radius: 4px 4px 0px 0px;
      }
      
      .space .frame-wrapper-2 {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
        background-color: #ffffff;
        border-radius: 0px 0px 8px 8px;
      }
      
      .space .field-2 {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        flex: 1;
        flex-grow: 1;
      }
      
      .space .field-label-3 {
        flex: 1;
        font-family: "DM Sans-Regular", Helvetica;
        font-weight: 400;
        color: #242426;
        position: relative;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .space .contents-10 {
        display: flex;
        width: 222px;
        align-items: flex-start;
        gap: 16px;
        padding: 8px 12px;
        position: relative;
        align-self: stretch;
        border-radius: 4px;
        border: 0.5px solid;
        border-color: #d3d3d3;
      }
      
      .space .img {
        position: relative;
        width: 337px;
      }
      
      .space .frame-10 {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .space .div-2 {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 5px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
        background-color: #ffffff;
        border-radius: 0px 0px 8px 8px;
      }
      
      .space .field-3 {
        display: flex;
        width: 822px;
        align-items: center;
        gap: 8px;
        position: relative;
        margin-right: -22px;
      }
      
      .space .contents-11 {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        padding: 8px 12px;
        position: relative;
        flex: 1;
        flex-grow: 1;
        border-radius: 4px;
        border: 0.5px solid;
        border-color: #d3d3d3;
      }
      
      .space .frame-11 {
        display: flex;
        align-items: flex-start;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .space .frame-12 {
        display: flex;
        height: 55px;
        align-items: flex-start;
        gap: 8px;
        position: relative;
        flex: 1;
        flex-grow: 1;
      }
      
      .space .contents-12 {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 8px 24px;
        position: relative;
        flex: 1;
        align-self: stretch;
        flex-grow: 1;
        background-color: #ddedff;
        border-radius: 4px;
      }
      
      .space .field-wrapper {
        display: flex;
        align-items: center;
        gap: 32px;
        position: relative;
        flex: 1;
        align-self: stretch;
        flex-grow: 1;
      }
      
      .space .field-4 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex: 1;
        flex-grow: 1;
      }
      
      .space .field-label-4 {
        width: fit-content;
        margin-top: -1px;
        font-family: "DM Sans-Regular", Helvetica;
        font-weight: 400;
        color: #09293b;
        white-space: nowrap;
        position: relative;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .space .frame-13 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .space .frame-14 {
        display: inline-flex;
        align-items: flex-start;
        gap: 12px;
        position: relative;
        flex: 0 0 auto;
      }
      
      .space .contents-13 {
        display: inline-flex;
        align-items: flex-start;
        gap: 16px;
        padding: 8px 24px;
        position: relative;
        flex: 0 0 auto;
        border-radius: 4px;
        border: 1.5px solid;
        border-color: #3d82cd;
      }
      
      .space .field-text-8 {
        width: fit-content;
        margin-top: -1.5px;
        font-family: "DM Sans-Medium", Helvetica;
        font-weight: 500;
        color: #3d82cd;
        font-size: 12px;
        white-space: nowrap;
        position: relative;
        letter-spacing: 0;
        line-height: 28px;
      }
      
      .space .frame-15 {
        display: flex;
        width: 175px;
        align-items: flex-start;
        justify-content: space-around;
        gap: 12px;
        position: relative;
      }
      
      .space .contents-14 {
        display: inline-flex;
        align-items: flex-start;
        gap: 16px;
        padding: 8px 24px;
        position: relative;
        flex: 0 0 auto;
        background-color: #3d82cd;
        border-radius: 4px;
        border: 1.5px solid;
      }


    //   right summary
    .frameS {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        display: flex;
        position: relative;
      }
      
      .frameS .contents-wrapper {
        justify-content: space-around;
        gap: 8px;
        display: flex;
        align-items: flex-start;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .frameS .contents {
        align-items: center;
        gap: 16px;
        padding: 8px 8px 8px 24px;
        flex: 1;
        flex-grow: 1;
        background-color: #bdd5f0;
        border-radius: 4px 4px 0px 0px;
        display: flex;
        position: relative;
      }
      
      .frameS .field-text {
        position: relative;
        width: 293px;
        margin-top: -1.5px;
        font-family: "DM Sans-Medium", Helvetica;
        font-weight: 500;
        color: #2f2f2f;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 28px;
      }
      
      .frameS .ic-round-close {
        position: relative;
        width: 24px;
        height: 24px;
      }
      
      .frameS .space {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        padding: 24px 32px 32px;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
        background-color: #ffffff;
        border-radius: 0px 0px 8px 8px;
        border: 1px solid;
        border-color: #bdd5f0;
        display: flex;
        position: relative;
      }
      
      .frameS .div {
        flex-direction: column;
        gap: 16px;
        display: flex;
        align-items: flex-start;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .frameS .field-wrapper {
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
        display: flex;
        position: relative;
      }
      
      .frameS .field {
        align-items: center;
        gap: 8px;
        flex: 1;
        flex-grow: 1;
        display: flex;
        position: relative;
      }
      
      .frameS .field-label {
        position: relative;
        flex: 1;
        margin-top: -1px;
        font-family: "DM Sans-Bold", Helvetica;
        font-weight: 700;
        color: #242426;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .frameS .text-wrapper {
        width: 141px;
        font-family: "DM Sans-Bold", Helvetica;
        font-weight: 700;
        font-size: 14px;
        position: relative;
        margin-top: -1px;
        color: #242426;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .frameS .line {
        position: relative;
        align-self: stretch;
        width: 100%;
        height: 1px;
        object-fit: cover;
      }
      
      .frameS .field-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        flex: 1;
        flex-grow: 1;
      }
      
      .frameS .field-label-2 {
        flex: 1;
        font-family: "DM Sans-Medium", Helvetica;
        font-weight: 500;
        font-size: 12px;
        position: relative;
        margin-top: -1px;
        color: #242426;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .frameS .field-label-3 {
        width: 145px;
        font-family: "DM Sans-Medium", Helvetica;
        font-weight: 500;
        font-size: 12px;
        position: relative;
        margin-top: -1px;
        color: #242426;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .frameS .field-label-4 {
        width: 132px;
        font-family: "DM Sans-Medium", Helvetica;
        font-weight: 500;
        font-size: 12px;
        position: relative;
        margin-top: -1px;
        color: #242426;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .frameS .img {
        margin-top: -1px;
        position: relative;
        align-self: stretch;
        width: 100%;
        height: 1px;
        object-fit: cover;
      }
      
      .hedTx{
        font-family: "DM Sans-Bold", Helvetica !important;
        font-weight: 700 !important;
        color: #242426 !important;
        font-size: 14px !important;
        letter-spacing: 0 !important;
        line-height: 20px !important;
      }
    //  right summary ends