<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading> -->
<div class="main clearfix">
  <div class="card">
    <div class="card__row">
      <div class="card__col-lg-3">
        <app-sme-list-drop-down (sendSme)="fromSme($event)"></app-sme-list-drop-down>
      </div>
      <div class="card__col-lg-3">
        <mat-form-field appearance="outline">
          <mat-label>From Date</mat-label>
          <input matInput [formControl]="fromDate" [matDatepicker]="picker1" [max]="maxDate" autocomplete="off"
            (dateChange)="setToDateValidation(fromDate.value)">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <!--    <mat-error *ngIf="summaryDetailForm.controls['fromDate'].hasError('required')">Select From
            date</mat-error> -->
        </mat-form-field>
      </div>

      <div class="card__col-lg-3">
        <mat-form-field appearance="outline">
          <mat-label>To Date</mat-label>
          <input matInput [formControl]="toDate" [matDatepicker]="picker2" [max]="maxDate" autocomplete="off"
            [min]="toDateMin">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <!--   <mat-error *ngIf="summaryDetailForm.controls['toDate'].hasError('required')">Select To
            date</mat-error>
          <mat-error *ngIf="summaryDetailForm.controls['toDate'].hasError('min')">To date always greater
            than from date</mat-error> -->
        </mat-form-field>
      </div>

      <div class="card__col-lg-3">
        <button class="tbd-btn" (click)=" getAllDashboardReports();">Generate</button>
      </div>
    </div>
    
    <div class="report-head">
      <label> Filing / Invoice Report</label>
    </div>
    <div class="card__row">
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box bg-info" routerLink="/tasks/assigned-users" *ngIf="!loading">
          <div class="inner">
            <h3> {{filingDashboard?.totalAssignedMyUsers| currencyPipe}} </h3>
            <p>Assigned Users</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Signed-up Users</span>
            <span class="badge badge-light badgesClass">{{filingDashboard?.totalUsers|
              currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #28a745" routerLink="/tasks/filings" *ngIf="!loading">
          <div class="inner">
            <h3>
              {{filingDashboard?.agentsTotalFiling| currencyPipe}}
            </h3>
            <p>Your Filings</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Taxbuddy Filings</span>
            <span class="badge badge-light badgesClass">{{filingDashboard?.totalFilings| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box bg-warning" routerLink="/pages/subscription/invoices" *ngIf="!loading">
          <div class="inner">
            <h3>
              {{filingDashboard?.agentsPaidAmount| currencyPipe}}
            </h3>
            <p>Your Paid Amount</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Paid Amount</span>
            <span class="badge badge-light badgesClass">{{filingDashboard?.totalPaidAmount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #dc3545" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{filingDashboard?.agentsUnpaidAmount| currencyPipe}}
            </h3>
            <p>Your Unpaid Amount</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Unpaid Amount</span>
            <span class="badge badge-light badgesClass">{{filingDashboard?.totalUnpaidAmount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #22374e" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{filingDashboard?.agentsTotalInvoiceAmount | currencyPipe}}
            </h3>
            <p>Revenue Generated by You</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Revenue Generated</span>
            <span class="badge badge-light badgesClass">{{filingDashboard?.totalInvoiceAmount |
              currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #ee7f1a" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{filingDashboard?.agentsTotalInvoices| currencyPipe}}
            </h3>
            <p>Your Total Invoices</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Taxbuddy Invoices</span>
            <span class="badge badge-light badgesClass">{{filingDashboard?.totalInvoices| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style="background-color: #b0cb1f !important;" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{filingDashboard?.agentsPaidCount| currencyPipe}}
            </h3>
            <p>Your Paid Invoices</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Paid Invoices</span>
            <span class="badge badge-light badgesClass">{{filingDashboard?.totalPaidCount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #dc3545" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{filingDashboard?.agentsUnpaidCount| currencyPipe}}
            </h3>
            <p>Your Unpaid Invoices</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Unpaid Invoices</span>
            <span class="badge badge-light badgesClass">{{filingDashboard?.totalUnpaidCount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
    </div>

    <div class="report-head">
      <label> TPA Report</label>
    </div>
    <div class="card__row">
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box bg-info" routerLink="/tasks/assigned-users" *ngIf="!loading">
          <div class="inner">
            <h3> {{tpaDashboard?.totalAssignedMyUsers| currencyPipe}} </h3>
            <p>Assigned Users</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Signed-up Users</span>
            <span class="badge badge-light badgesClass">{{tpaDashboard?.totalUsers|
              currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #22374e" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{tpaDashboard?.agentsTotalInvoiceAmount | currencyPipe}}
            </h3>
            <p>Revenue Generated by You</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Revenue Generated</span>
            <span class="badge badge-light badgesClass">{{tpaDashboard?.totalInvoiceAmount |
              currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box bg-warning" routerLink="/pages/subscription/invoices" *ngIf="!loading">
          <div class="inner">
            <h3>
              {{tpaDashboard?.agentsPaidAmount| currencyPipe}}
            </h3>
            <p>Your Paid Amount</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Paid Amount</span>
            <span class="badge badge-light badgesClass">{{tpaDashboard?.totalPaidAmount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #dc3545" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{tpaDashboard?.agentsUnpaidAmount| currencyPipe}}
            </h3>
            <p>Your Unpaid Amount</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Unpaid Amount</span>
            <span class="badge badge-light badgesClass">{{tpaDashboard?.totalUnpaidAmount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #28a745" routerLink="/tasks/filings" *ngIf="!loading">
          <div class="inner">
            <h3>
              {{tpaDashboard?.agentsTotalFiling| currencyPipe}}
            </h3>
            <p>Your TPA Cases</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total TPA Cases</span>
            <span class="badge badge-light badgesClass">{{tpaDashboard?.totalFilings| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #ee7f1a" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{tpaDashboard?.agentsTotalInvoices| currencyPipe}}
            </h3>
            <p>Your TPA Invoices</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total TPA Invoices</span>
            <span class="badge badge-light badgesClass">{{tpaDashboard?.totalInvoices| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style="background-color: #b0cb1f !important;" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{tpaDashboard?.agentsPaidCount| currencyPipe}}
            </h3>
            <p>Your Paid Invoices</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Paid Invoices</span>
            <span class="badge badge-light badgesClass">{{tpaDashboard?.totalPaidCount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #dc3545" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{tpaDashboard?.agentsUnpaidCount| currencyPipe}}
            </h3>
            <p>Your Unpaid Invoices</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Unpaid Invoices</span>
            <span class="badge badge-light badgesClass">{{tpaDashboard?.totalUnpaidCount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
    </div>

    <div class="report-head">
      <label> Notice Report</label>
    </div>
    <div class="card__row">
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box bg-info" routerLink="/tasks/assigned-users" *ngIf="!loading">
          <div class="inner">
            <h3> {{noticeDashboard?.totalAssignedMyUsers| currencyPipe}} </h3>
            <p>Assigned Users</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Signed-up Users</span>
            <span class="badge badge-light badgesClass">{{noticeDashboard?.totalUsers|
              currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #22374e" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{noticeDashboard?.agentsTotalInvoiceAmount | currencyPipe}}
            </h3>
            <p>Revenue Generated by You</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Revenue Generated</span>
            <span class="badge badge-light badgesClass">{{noticeDashboard?.totalInvoiceAmount |
              currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box bg-warning" routerLink="/pages/subscription/invoices" *ngIf="!loading">
          <div class="inner">
            <h3>
              {{noticeDashboard?.agentsPaidAmount| currencyPipe}}
            </h3>
            <p>Your Paid Amount</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Paid Amount</span>
            <span class="badge badge-light badgesClass">{{noticeDashboard?.totalPaidAmount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #dc3545" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{noticeDashboard?.agentsUnpaidAmount| currencyPipe}}
            </h3>
            <p>Your Unpaid Amount</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Unpaid Amount</span>
            <span class="badge badge-light badgesClass">{{noticeDashboard?.totalUnpaidAmount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #28a745" routerLink="/tasks/filings" *ngIf="!loading">
          <div class="inner">
            <h3>
              {{noticeDashboard?.agentsTotalFiling| currencyPipe}}
            </h3>
            <p>Your Notice Cases</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Notice Cases</span>
            <span class="badge badge-light badgesClass">{{noticeDashboard?.totalFilings| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #ee7f1a" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{noticeDashboard?.agentsTotalInvoices| currencyPipe}}
            </h3>
            <p>Your Notice Invoices</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Notice Invoices</span>
            <span class="badge badge-light badgesClass">{{noticeDashboard?.totalInvoices| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style="background-color: #b0cb1f !important;" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{noticeDashboard?.agentsPaidCount| currencyPipe}}
            </h3>
            <p>Your Paid Invoices</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Paid Invoices</span>
            <span class="badge badge-light badgesClass">{{noticeDashboard?.totalPaidCount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #dc3545" routerLink="/pages/subscription/invoices"
          *ngIf="!loading">
          <div class="inner">
            <h3>
              {{noticeDashboard?.agentsUnpaidCount| currencyPipe}}
            </h3>
            <p>Your Unpaid Invoices</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Unpaid Invoices</span>
            <span class="badge badge-light badgesClass">{{noticeDashboard?.totalUnpaidCount| currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="loading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
    </div>

    <div class="report-head">
      <label> Knowlarity Report</label>
    </div>
    <div class="card__row">
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box bg-info" *ngIf="!knowlarityLoading">
          <div class="inner">
            <h3> {{knowlarityReport?.totalAnsweredCallsCount| currencyPipe}} </h3>
            <p>Total Answered Calls</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
          </p>
        </div>
        <div class="small-box" *ngIf="knowlarityLoading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #28a745" *ngIf="!knowlarityLoading">
          <div class="inner">
            <h3>
              {{knowlarityReport?.totalInboundAnsweredCallsCount| currencyPipe}}
            </h3>
            <p>Inbound Answered</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Inbound Calls</span>
            <span class="badge badge-light badgesClass">{{knowlarityReport?.totalInboundCallsCount|
              currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="knowlarityLoading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box bg-warning" *ngIf="!knowlarityLoading">
          <div class="inner">
            <h3>
              {{knowlarityReport?.totalOutboundAnsweredCallsCount| currencyPipe}}
            </h3>
            <p>Outbound Answered</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
            <span>Total Outbound Calls</span>
            <span class="badge badge-light badgesClass">{{knowlarityReport?.totalOutboundCallsCount|
              currencyPipe}}</span>
          </p>
        </div>
        <div class="small-box" *ngIf="knowlarityLoading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
      <div class="card__col-xs-12 card__col-sm-3">
        <div class="small-box" style=" background-color: #dc3545" *ngIf="!knowlarityLoading">
          <div class="inner">
            <h3>
              {{knowlarityReport?.totalMissedCallsCount| currencyPipe}}
            </h3>
            <p>Missed Calls</p>
          </div>
          <!-- <div class="icon">
            <i class="fa fa-user"></i>
          </div> -->
          <p class="small-box-footer">
          </p>
        </div>
        <div class="small-box" *ngIf="knowlarityLoading">
          <shimmer height="70px" borderRadius="2px"></shimmer>
        </div>
      </div>
    </div>

    <div class="report-head">
      <label>Status Wise Report</label>
    </div>
    <app-statuswise-report [selectedAgent]="selectedAgent"></app-statuswise-report>
  </div>


</div>