<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div>
  <div class="align-items-center row">
    <div class="col-sm-10">
      <b style="font-size: 20px">Personal Details </b>
    </div>

  </div>
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <mat-label> Mobile No </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Mobile No" [formControl]="mobileNumber" class="input-field"
              maxlength="10" minlength="6" trim [numbersOnly]="true" readonly />
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Individual/Principal/Firm Name </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Name" [formControl]="name" class="input-field" readonly />

          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Email ID </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="email id" [formControl]="smeOriginalEmail" class="input-field"
              readonly />

          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-label> Pin Code </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="pin" [formControl]="pin" class="input-field" maxlength="10"
              minlength="6" trim digitsOnly readonly />

          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> city </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="city" [formControl]="city" class="input-field" readonly />

          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> state </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="state" [formControl]="state" class="input-field" readonly />

          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <mat-label> Qualification </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Qualification" name="" [formControl]="qualification"
              class="input-field" readonly />

          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Referred by whom from taxbuddy? </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Referred person" [formControl]="referredBy" class="input-field"
              readonly />

          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-label> Calling Number </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Calling Number" [numbersOnly]="true" [formControl]="callingNumber"
              class="input-field" readonly />
          </mat-form-field>
        </div>
      </div>
    </div>
    <hr>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <mat-label> PAN (Individual/Firm) TDS deducted against
            this PAN</mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Pan" (keyup)="setUpperCase()" placeholder="XXXXX1234X"
              minLength="10" maxLength="10" [formControl]="pan" class="input-field" maxlength="10" trim readonly />
          </mat-form-field>
        </div>

        <div class="col-sm-2">
          <mat-label class="mb-3"> GSTN </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput (blur)="trimValue(smeFormGroup.controls['gstin']);checkGstin()"
              (change)="changeToUpper(smeFormGroup.controls['gstin'])" placeholder="GSTN" [formControl]="gstin"
              class="input-field" trim [disabled]="smeFormGroup.controls['gstin'].value" readonly />
            <mat-error  *ngIf="smeFormGroup.controls['gstin'].invalid">
              Enter valid GSTIN</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-7 bankDetails" [formGroup]="bankDetailsFormGroup">
          <div class="row">
            <div class="col-sm-5">
              <mat-label> Account Number* </mat-label>
              <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Account No" formControlName="accountNumber" class="input-field"
                  trim [numbersOnly]="true" maxlength="20" minlength="3"
                  (blur)="trimValue(bankDetailsFormGroup.controls['accountNumber'])" (change)="updateBankDetailsForm()"
                  readonly />
              </mat-form-field>
            </div>

            <div class=" col-sm-4">
              <mat-label> IFSC Code* </mat-label>
              <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="IFSC code"
                  (blur)="trimValue(bankDetailsFormGroup.controls['ifsCode'])"
                  (keyup)="changeToUpper(bankDetailsFormGroup.controls['ifsCode'])" formControlName="ifsCode"
                  class="input-field" maxLength="11" trim (change)="updateBankDetailsForm()" readonly />
              </mat-form-field>
            </div>

            <div class="col-sm-3">
              <mat-label> Type of Account* </mat-label>
              <mat-form-field appearance="outline">
                <mat-select placeholder="Account Type" name="accountType" formControlName="accountType"
                  [disabled]="true" (selectionChange)="updateBankDetailsForm()">
                  <mat-option *ngFor="let account of accountTypeDropdown" [value]="account.value">
                    {{ account.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row mt-3 verifyBank">
              <button class="col-2 tbd-btn" mat-raised-button color="primary" disabled
                (click)="verifyBankDetails()">verify
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-2">
        <div class="card" style="margin-top: 10px;">
          <b style="font-size: 18px">Language: </b>
          <div class="row">
            <section class="example-section">
              <div *ngFor="let lang of langList" class="lang-checkbox">
                <p>
                  <mat-checkbox [formControl]="getLanguageControl(lang)" [disabled]="true"
                    (change)="onLanguageCheckboxChange(lang)">
                    <span class="spacer">{{ lang }}</span></mat-checkbox>
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="margin-top: 10px;">
          <b style="font-size: 18px">ITR's Type can Handle: </b>
          <div class="row">
            <section class="example-section">
              <div *ngFor="let itrType of irtTypeCapability" class="irt-type-checkbox">
                <p>
                  <mat-checkbox [formControl]="getItrTypeControl(itrType)" [disabled]="true"
                    (change)="onItrTypeCheckboxChange(itrType)"><span class="spacer">{{ itrType
                      }}</span></mat-checkbox>
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="margin-top: 10px;">
          <b style="font-size: 18px">Inactivity Time Duration:</b>
          <div class="row">
            <section class="example-section">
              <div *ngFor="let duration of inactivityTimeDuration" class="duration-checkbox">
                <p>
                  <mat-checkbox [formControl]="getDurationControl(duration.key)" [disabled]="true"
                    (change)="onDurationCheckboxChange($event,duration.key)">
                    <span class="spacer">{{ duration.key }}</span>
                  </mat-checkbox>
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="margin-top: 10px;">
          <b style="font-size: 18px">Cases Limit for ITR Filers (Work Load):</b>
          <div class="row">
            <section class="example-section">
              <div *ngFor="let limit of caseLimit" class="case-limit-checkbox">
                <p>
                  <mat-checkbox [formControl]="getCaseLimitControl(limit.key)" [disabled]="true"
                    (change)="onCaseLimitCheckboxChange($event,limit.key)">
                    <span class="spacer">{{ limit.key }}</span>
                  </mat-checkbox>
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="container" style="margin-top: 20px;">
      <div class="row">
        <div class="col-sm-3">
          <mat-label> Official Email ID</mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Official Email ID" [formControl]="smeOfficialEmail"
              class="input-field" readonly />
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-label> Kommunicate ID </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Kommunicate ID" [formControl]="email" class="input-field"
              readonly />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div style="text-align: center;  margin-top: 40px;">
      <button class="tbd-btn" (click)="cancelUpdate()">Go Back </button>

    </div>
  </div>
</div>
