.content-wrapper {
  background: #fff;
  padding: 30px;
  margin-top: 20px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.cardesign{
  margin-top: 10px;
  background-color: #fafafa;
  border: 1px solid #cccccc!important;
}

.bordr {
  margin-top: 50px;
  border-color: #7d7d7d;
}

.cen {
  text-align:center;
}

.cancel {
  font-weight: 400;
    border-width: 1px;
    border-style: solid;
    padding: 9px 15px;
    text-transform: capitalize;
    width: auto;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 10px;
}

.cancel:hover {
  font-weight: 400;
  border-width: 1px;
  border:1px solid #cccccc;
  background-color: #fafafa;
}