<div style="overflow: hidden;">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
    <div class="card__row">
        <div class="">
            <div class="card__col-xs-12 card__col-sm-10">
                <b style="font-size: 14px;">Speculative Activity </b><br><br>
            </div>
        </div>
        <div class="card__col-xs-12 card__col-sm-12">
            <div style="height: 100%; padding-top: 5px; box-sizing: border-box;">
                <ag-grid-angular style="width:90%; height: 100%;" class="ag-theme-balham cg-table"
                    [gridOptions]="professionalGridOptions" (gridSizeChanged)="onGridSizeChanged($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>
<div style="text-align: right;">
    <button class="tbd-btn-secondary" (click)="this.location.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        &nbsp;&nbsp;Back</button>
    <button class="tbd-btn" (click)="onContinue()">&nbsp;&nbsp;Continue </button>
</div>