<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div class="page-wrapper">
  <main>
    <div class="frameC">
      <div class="space p-0">
        <div class="wrapper p-0">
          <div class="div-4">
            <div class="frame-wrapper-2A">
              <div class="accordion" id="myAccordion">
                <div>
                  <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading4">
                      <button id="accordBtn" type="button" class="accordion-button" data-bs-toggle="collapse"
                        data-bs-target="#collapse14">Add / Edit Speculative Income Details</button>
                    </h2>
                    <div id="collapse14" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                      <div class="accordion__item-body">
                        <form [formGroup]="selectedFormGroup">
                          <div class="div-6 mb-20">
                            <div class="form-field">
                              <div><span class="normal_text">Broker Name</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline" class="small-inp no-height">
                                <input formControlName="brokerName" matInput [disabled]="true" name="brokerName[i]"
                                  readonly />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="div-6 mb-20">
                            <div class="form-field">
                              <div><span class="normal_text">Turnover from Speculative activity</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline" class="small-inp no-height">
                                <input formControlName="turnOver" placeholder="₹ Enter Amount" matInput name="turnOver"
                                  digitsOnly class="input-field" trim (change)="calculateNetIncome()" />
                              </mat-form-field>
                              <mat-error
                                *ngIf="selectedFormGroup.controls['expenditure'].value>0 && selectedFormGroup.controls['turnOver'].hasError('required')">
                                Please enter the amount
                              </mat-error>
                            </div>
                          </div>
                          <div class="div-6 mb-20">
                            <div class="form-field">
                              <div><span class="normal_text">Gross Profit</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline" class="small-inp no-height">
                                <input formControlName="grossProfit" placeholder="₹ Enter Amount" matInput
                                  name="grossProfit" class="input-field" type="number" trim digitsOnly
                                  (change)="calculateNetIncome()" />
                              </mat-form-field>
                              <mat-error
                                *ngIf="(selectedFormGroup.controls['expenditure'].value>0 && selectedFormGroup.controls['grossProfit'].hasError('required'))">
                                Please enter the amount
                              </mat-error>
                              <mat-error *ngIf="selectedFormGroup.controls['grossProfit'].hasError('max')">
                                Gross Profit should not be greater than turnover.
                              </mat-error>
                            </div>
                          </div>
                          <div class="div-6 mb-20">
                            <div class="form-field">
                              <div><span class="normal_text">Expenditure</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline" class="small-inp no-height">
                                <input formControlName="expenditure" digitsOnly placeholder="₹ Enter Amount" matInput
                                  name="expenditure" class="input-field" required trim digitsOnly
                                  (change)="calculateNetIncome()" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="div-6 mb-20">
                            <div class="form-field">
                              <div><span class="normal_text">Net Income from Speculative activity</span>
                              </div>
                              <div><span class="normal_text">Gross Profit - Expenditure</span>
                              </div>
                            </div>
                            <div class="form-field">
                              <mat-form-field appearance="outline" class="small-inp no-height">
                                <input formControlName="netIncome" matInput readonly name="netIncome[i]" required
                                  class="input-field" maxlength="14" digitsOnly />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="out-box">
                            <div class="box-left">
                              <button (click)="clearForm()" class="btn btn__white">Cancel</button>
                            </div>
                            <div class="box-right">
                              <button (click)="saveManualEntry()" class="btn btn__primary" [disabled]="!selectedFormGroup.valid">Save
                                Details
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item mt-3">
                    <h2 class="accordion-header" id="heading3">
                      <button class="accordion-button" data-bs-target="#collapse13" data-bs-toggle="collapse"
                        type="button">
                        Speculative Income</button>
                    </h2>
                    <div class="accordion-collapse collapse show" id="collapse13">
                      <div class="accordion__item-body">
                        <div class="table-responsive" style="overflow-x: scroll;">
                          <div>
                            <div class="col-sm-12">
                              <ag-grid-angular (rowClicked)="editForm($event)" [gridOptions]="gridOptions"
                                class="newAG ag-theme-balham topSps">
                              </ag-grid-angular>
                            </div>
                            <div class="row col-sm-12" id="speculative_id">
                              <div class="col-sm-6">
                                <button (click)="deleteArray()" [disabled]="!specSelected()" class="delete-btn"
                                  type="submit">
                                  <i aria-hidden="true" class="fa fa-trash">&nbsp;</i>Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
