<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
<div style="padding-top: 0px;">
    <div class="card">
      <div class="card-head">
        <label>Pause Reminders</label>
      </div>
      <div class="card__row" >
        <!-- <div class="card__col-xs-12 card__col-sm-12"> -->
            <div class="filter__col card__col-sm-4 card__col-xs-10">

              <div class="input">
                <label class="input__label" for="attr">Enter Invoice Number</label>
                <div class="input__select">
                  <input maxlength="100" class="select__box ogp_select" style="background-image:none" [(ngModel)]="invoiceNo"
                  type="text" pattern="^SSBA\/2021|2022\/([1-9]?[0-9]*)"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  onkeypress=" event.charCode >= 48 && event.charCode <= 57" />
                </div>
              </div>
            </div>
            <div class="filter__col card__col-sm-2 card__col-xs-10">
              <a class="btn btn_stroke filter__add-link" (click)="invoiceSearch(invoiceNo)"><i
                  class="fa fa-search" aria-hidden="true" style="color: #2ed13b;"></i>&nbsp;Search</a>
            </div>

            <div class="filter__col card__col-sm-4 card__col-xs-12">
            </div>
          <!-- </div> -->
        </div>

        <div class="card__row" style="margin-top: 0px;">
          <br><br>
          <div class="card__row" style="margin-top: 0px;">
            <div class="card__row">
              <ag-grid-angular class="ag-theme-balham" [gridOptions]="invoiceGridOptions"
                  (rowClicked)="onInvoiceRowClicked($event)" paginationPageSize=15 pagination=true>
              </ag-grid-angular>
            </div>
            <br><br>
          </div>
        </div>

        <div class="card-head">
          <label>Existing Paused Reminders</label>
        </div>
        <div class="card__row" style="margin-top: 0px;">
          <br><br>
          <div class="card__row" style="margin-top: 0px;">
            <div class="card__row">
              <ag-grid-angular class="ag-theme-balham" [gridOptions]="existingInvoicesGridOptions"
                  (rowClicked)="onExistingInvoiceRowClicked($event)" paginationPageSize=15 pagination=true>
              </ag-grid-angular>
            </div>
            <br><br>
          </div>
        </div>
     </div>
  </div>
