.main {
  margin-right: 20px !important;
  margin-left: 0px !important;
}

.rowClr {
  background-color: #e4e4ff;
  padding: 0px 20px 10px 20px;
  border-top: 1px solid #c8c8c8;
  box-shadow: 2px 4px #e4e4ff;
}

.radius {
  border-radius: 8px;
  background-color: #ffffff;
  // background-color:#ebebff;
  padding: 10px;
  margin-top: 15px;
  border: 2px solid #2199e8;
}

.radius1 {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid #eaeaea;
  height: auto;
  box-shadow: 1px 2px #e4e4ff;
}

.radius2 {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 15px;
  margin-top: 0px;
  border: 1px solid #eaeaea;
  height: 100px;
  margin-bottom: 0px;
  display: block;
  box-shadow: 1px 2px #e4e4ff;
}

.grTx {
  color: #63b12d !important;
}

.grTx1 {
  color: #63b12d !important;
  font-weight: 600;
}

.grBk {
  background-color: #f5ffeb;
}

.redTx {
  color: #ff0000 !important;
  font-size: 24px !important;
}

.redTx1 {
  color: #ff0000 !important;
  // font-size:12px !important;
}

.OrgTx {
  color: #ff7f00 !important;
}

.OrgBk {
  background-color: #fffcf1;
}

.RedBk {
  background-color: #fff9f2;
}

// input {
//   border: 1px solid #cccccc !important;
//   padding: 5px !important;
// }

.mvup {
  margin-top: -128px;
}

.spTp {
  margin-bottom: 15px;
  height: 140px;
  margin-top: 5px;
}

.TxBg {
  font-size: 20px;
  color: #000000;
  font-weight: normal;
}

.numTxBg {
  font-size: 22px;
  color: #04a4bc;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 10px;
}

.numTxBg1 {
  font-size: 22px;
  color: #04a4bc;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 10px;
}

.TxSm {
  font-size: 16px;
  color: #000000;
  font-weight: normal;
}

.numTxSm {
  font-size: 18px;
  color: #04a4bc;
  font-weight: bold;
}

.grytx {
  color: #b1b1b1;
  font-size: 14px;
  font-style: italic;
}

.redtxsm {
  color: #e10000;
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
  float: left;
}

.inBxL {
  width: 50%;
  float: left;
  border-right: 1px solid #ededed;
  height: 80px;
}

.inBxR {
  width: 50%;
  float: right;
  padding-left: 20px;
  height: 80px;
}

table {
  min-width: auto;
  font-size: 13px;
  background-color: #ffffff;
}

th {
  color: #21415b;
  font-size: 13px;
}


.active>.page-link,
.page-link.active {
  z-index: 3;
  color: #ffffff;
  background-color: #b4b4b4;
  border-color: #b4b4b4;
}

.pagination {
  --bs-pagination-padding-x: 8px;
  --bs-pagination-padding-y: 3px;
  font-size: 13px !important;
}

.page-link {
  color: #21415b;
  font-size: 13px !important;
}

.radiusTab {
  border-radius: 8px;
  background-color: #fafaff;
  padding: 20px 20px 20px 20px;
  margin-top: 15px;
  height: 360px;
  border: 1px solid #e4e4ff;
}

.radiusTab1 {
  border-radius: 8px;
  background-color: #fafaff;
  padding: 10px 10px 20px 10px;
  margin-top: 15px;
  height: auto;
  border: 1px solid #e4e4ff;
}

.txtH {
  padding-top: 17px;
  font-size: 17px;
  font-weight: 600;
}

.unpaid {
  color: #fa0202;
  font-weight: bold;
}

.tx {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
  width: 80%;
  float: left;
}

.proceed {
  width: 20%;
  float: right;
  background-color: #04a4bc !important;
  color: #ffffff !important;
  border-radius: 5px;
  padding: 3px;
  margin-top: -5px;
  box-shadow: 2px 4px #e4e4ff;
  font-size: 15px;
}

.proceed:hover {
  background-color: #006c7d !important;
}

.proceed1 {
  width: 30%;
  background-color: #04a4bc !important;
  color: #ffffff !important;
  border-radius: 5px;
  padding: 6px;
  box-shadow: 2px 4px #e4e4ff;
  font-size: 15px;
  margin-left: -75px;
}

.proceed1-custom {
  background-color: #04a4bc !important;
  color: #ffffff !important;
  border-radius: 5px;
  padding: 6px;
  box-shadow: 2px 4px #e4e4ff;
  font-size: 19px;
  margin-top: 20px;
}

.proceed1:hover {
  background-color: #006c7d !important;
}

.tpMain {
  margin: 10px 0 30px 20px;
}


.bdrbl {
  border-bottom: 1px solid #dadada;
  padding-bottom: 15px;
}

.active-status {
  color: green;
}

.inactive-status {
  color: red;
}

.form-control {
  flex-direction: row;
}

.table-container {
  white-space: nowrap;
  max-height: 100vh !important;
  position: relative;
}

.table-container table {
  min-width: 100%;
  min-height: 100%;
}

.dwldBtn11 {
  border-radius: 5px;
  color: #00aeca;
  float: right;
  text-transform: capitalize;
  /* margin-left: 30px; */
  /* margin-right: 30px; */
  margin-top: 15px;
}




//rohit new css for new UI date - 06-12-2023
.main-1 {
  background: #FBFBFB;
}

.rowClr-1 {
  background: #FFF !important;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #c8c8c8;
}

.filter-box {
  width: 100%;
  height: auto;
  display: inline-flex;
  padding: 20px;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  border-radius: 4px;
  border: 1px solid #8CBDF2;
}

.button-container {
  // margin-top: 20px;
  display: inline-flex;
  justify-content: right;
  gap: 10px;
  // border-top: 1px solid #cacaca;
  // padding-top: 20px;
}

.dwldBtn-1 {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 9px;
  border-radius: 4px;
  border: 1px solid #2D8EF9;
  color: #2D8EF9;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.28px
}

.clrLnk-1 {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 9px;
  border-radius: 4px;
  border: 1px solid #2D8EF9;
  color: #2D8EF9;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.28px;
}

.srch-btn-1 {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 9px;
  border-radius: 4px;
  background: #2D8EF9;
  color: #FFF;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.28px;
}

.new-table-container {
  background: #FBFBFB;
  margin-right: 50px;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.txtH-1 {
  color: var(--black-100, #1C1C1C);
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 180% */
  background-color: #FBFBFB;
}

.count-chips-container {
  margin-top: 15px;
  // display: flex;
  align-items: flex-start;
  gap: 9px;
}

.count-radius-1 {
  display: flex;
  padding: 20px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 20px;
  border: 2px solid #ADD4FF;
  background: #FFF;
}

.count-inBxR-1 {
  display: flex;
  align-items: center;
  gap: 18px;
}

.numTxSm-11 {
  color: #2B3674;

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
  letter-spacing: -0.48px;
}

.text-TxSm-1 {
  color: #7683AC;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.32px;
}

.table-radiusTab-1 {
  padding: 15px 15px 25px 15px;
  margin-top: -20px;
  height: 80%;
  border-radius: 20px;
  border: 1px solid #DEDEDE;
  background: var(--secondary-primary-white, #FFF);
  margin-bottom: 20px;
  margin-left: -35px;
  margin-right: -30px;
  overflow-y: auto;
}

th.sticky-column,
td.sticky-column {
  position: sticky;
  left: 0;
  top: 0;
}


td.sticky-column:nth-child(1) {
  left: 0;
  z-index: 2;
  top: 0;
}


td.sticky-column:nth-child(2) {
  left: 55px;
  z-index: 1;
  top: 0;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #FFF;
}

th.sticky-column:nth-child(1) {
  left: 0px;
  z-index: 5;
  top: 0;
}

th.sticky-column:nth-child(2) {
  left: 55px;
  z-index: 5;
  top: 0;
}

.checkbox-group {
  display: flex;
  gap: 30px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.checkbox-right {
  float: right;
  margin-bottom: 8px;
}